<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE ASSESMENT FORMULA.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 19/02/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->flashMessenger()->clearMessages();
?>
<div id="content-wrapper" class="clearfix">
    <form action="admin-self-complex-setting?sid=<?= $sid; ?>" method="post"/>
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Manage Self Assessment - <?= $assessment['ass_name']; ?></div>
            <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
                <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                    <div class="successMsg">
                        <span class="ui_icon success"></span>
                        <?= $msg["success"]; ?>
                    </div>
                <?php endif; ?>
                <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                    <div class="errorMsg">
                        <span class="ui_icon error"></span>
                        <?= $msg["error"]; ?>
                    </div>
                <?php endif; ?>
            <?php } ?>
            <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
                <ul class="pre_login_menu">
                    <li class="active"><a href="admin-self-complex-setting?sid=<?= $sid; ?>">Complex Variable</a><span class="border"></span></li>
                    <?php if ($respCount > 0) { ?>
                        <li><a href="admin-self-responce-setting?sid=<?= $sid; ?>">Question Response</a><span class="border"></span></li>
                    <?php } ?>
                </ul>
            </div>

        </div>

        <?php
        if (!empty($FinalFormulaArr)) {
            $i = 1;
            foreach ($FinalFormulaArr as $key => $finalFormulaArr) {
                ?>

                <div class="scoreGrid">

                    <div class="sgTitle">
                        <p><?= $finalFormulaArr['name']; ?>
                            <input type="hidden" value="<?= $key; ?>" name="display_formula[<?= $i; ?>]"/>
                            <?php
                            $cols = array();
                            if (!empty($finalFormulaArr['data']['display_id'])) {
                                $cols = explode(',', $finalFormulaArr['data']['columns']);
                                ?>
                                <input type="hidden" value="<?= $finalFormulaArr['data']['display_id']; ?>" name="display_id[<?= $i; ?>]"/>
                            <?php } ?>
                        </p>
                    </div>
                    <div class="sgContent formWrapperContainer clearfix">
                        <?php
                        if (!empty($finalFormulaArr['cols'])) {
                            foreach ($finalFormulaArr['cols'] as $Cols) {
                                ?>
                                <div class="sgcCol">
                                    <div class="checkbox_col">
                                        <label for="<?= $finalFormulaArr['name'] . $Cols['health_id']; ?>"><?= $Cols['col_name']; ?></label>
                                        <div class="checkbox <?php if (in_array($Cols['health_id'], $cols)) { ?>checked<?php } ?>">
                                            <input  type="checkbox" <?php if (in_array($Cols['health_id'], $cols)) { ?>checked="checked"<?php } ?> value="<?= $Cols['health_id']; ?>" id="<?= $finalFormulaArr['name'] . $Cols['health_id']; ?>" name="column[<?= $i; ?>][]">
                                        </div>
                                    </div>
                                </div>
                                <?php
                            }
                        }
                        ?>
                    </div>
                </div>
                <?php
                $i++;
            }
        }
        ?>


        <div class="boxBtn bb_btn_list clearfix">
            <ul>
                <li>
                    <input type="submit" name="submit" value="Save" class="bb_btn"/>
                </li>
                <li>
                    <input type="submit" name="submit" value="Save & Publish" class="bb_btn"/>

                </li>
            </ul>
        </div>
    </div>
</form>
</div>