<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE ASSESSMENT FUNCTION.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
 * CREATOR: 31/12/2014.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

if (isset($postData['ass_recurring']) && $postData['ass_recurring'] == "on")
    $rec_check = "checked";
else
    $rec_check = "";
if (isset($postData['ass_update']) && $postData['ass_update'] == "on")
    $upd_check = "checked";
else
    $upd_check = "";
$this->flashMessenger()->clearMessages();
?>

<script>


    $(document).ready(function () {
        $('.assesmentList').jscroll({
            loadingHtml: '<div align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
            nextSelector: 'a.jscroll-next:last',
            contentSelector: '.assesmentList'
        });

        $('.AddAssess').click(function () {
            $('#ass_name').attr('custom', '');
            $('#ass_form_edit').find('label.error').remove();


            $('#AddAssessmentPop').find("input[type=text], textarea,select,input[type=checkbox]").val("").parent().removeClass('checked');
            $('#AddAssessmentPop').find('span.select').remove();
            $('#AddAssessmentPop').find('select.select').each(function () {
                if ($(this).next('span.select').length == '0') {
                    var title = $(this).attr('title');
                    if ($('option:selected', this).val() != '')
                        title = $('option:selected', this).text();
                    $(this)
                            .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                            .after('<span class="select">' + title + '</span>')
                            .change(function () {

                                val = $('option:selected', this).text();
                                $(this).next().text(val);
                            });
                }
            });
        })

        $(document).on('click', '.EditAssess', function () {

            var assesment_id = $(this).attr('custom');
            var actUrl = "<?= $this->basePath(); ?>/admin/selfs/assessmentData?sid=" + assesment_id;
            $('#ass_form_edit').find('label.error').remove();
            $.ajax({
                type: 'get',
                url: actUrl,
                success: function (result) {
                    gppOpen('AddAssessmentPop');
                    Data = $.parseJSON(result);
                    $('#ass_name').val(Data.ass_name);
                    $('#ass_name').attr('custom', Data.ass_id);
                    $('#ass_id').val(Data.ass_id);
                    $('#assessment_desc').val(Data.assessment_desc);
                    $('#copyright_text').val(Data.copyright_text);

                    $('#assessment_que_desc').val(Data.assessment_que_desc);
                    if (Data.ass_recurring == 1) {
                        $('#ass_recurring').attr('checked', 'checked');
                        $('#ass_recurring').parent().addClass('checked');
                    }
                    if (Data.ass_update == 1) {
                        $('#ass_update').attr('checked', 'checked');
                        $('#ass_update').parent().addClass('checked');
                    }
                    $('#AddAssessmentPop span.select').remove();
                    $('#ass_target').val(Data.ass_targets);
                    $('#AddAssessmentPop').find('select.select').each(function () {
                        if ($(this).next('span.select').length == '0') {
                            var title = $(this).attr('title');
                            if ($('option:selected', this).val() != '')
                                title = $('option:selected', this).text();
                            $(this)
                                    .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                                    .after('<span class="select">' + title + '</span>')
                                    .change(function () {

                                        val = $('option:selected', this).text();
                                        $(this).next().text(val);
                                    });
                        }
                    });


                    $('#ass_cat_value').val(Data.ass_category);
                    $('#ass_cat').val(Data.cat_name);



                }
            });

        })
    });
</script>

<style>
    #EditAssessmentPop .gppbxContainer{
        width:460px;
        margin-left:-230px;
        min-height:200px;
    }
    #EditAssessmentPop .formWrapperContainer{
        padding:30px;
    }
    #EditAssessmentPop .formWrapperContainer .input_button{
        min-width:200px;
        display:table;
        margin:0 auto;
    }
</style>


<div id="AddAssessmentPop" class="grobalPopup popuBxWrap">
    <div class="gppBox">
        <div class="gppbxContainer" style="margin-top: -127px;">
            <div class="gppTitle">
                Manage Assessment<div onclick="gppClose('AddAssessmentPop');" class="gppClose">X</div>
            </div>
            <div class="formWrapperContainer">
                <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
                    <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                        <div class="successMsg">
                            <span class="ui_icon success"></span>
                            <?= $msg["success"]; ?>
                        </div>
                    <?php endif; ?>
                    <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                        <div class="errorMsg">
                            <span class="ui_icon error"></span>
                            <?= $msg["error"]; ?>
                        </div>
                        <script>
                            gppOpen('AddAssessmentPop');
                        </script>
                    <?php endif; ?>
                <?php } ?>
                <?php
                $form->prepare();
                $form->setAttribute('id', 'ass_form_edit');
                echo $this->form()->openTag($form);
                ?>
                <div class="row">
                    <div class="input">
                        <span class="ui-fldValid ass_name"></span>
                        <?= $this->formElement($form->get('ass_name')); ?>
                        <input type="hidden" name="ass_id" value="" id="ass_id"/>
                    </div>
                    <?= $this->formElementErrors($form->get('ass_name')); ?>
                    <ul id="append-ass_list"></ul>
                </div>

                <div class="row">
                    <div class="input">

                        <?= $this->formElement($form->get('assessment_desc')); ?>
                    </div>
                    <?= $this->formElementErrors($form->get('assessment_desc')); ?>

                </div>

                <div class="row">
                    <div class="input">

                        <?= $this->formElement($form->get('assessment_que_desc')); ?>
                    </div>
                    <?= $this->formElementErrors($form->get('assessment_que_desc')); ?>

                </div>


                <div class="row">
                    <div class="input">

                        <?= $this->formElement($form->get('copyright_text')); ?>
                    </div>
                    <?= $this->formElementErrors($form->get('copyright_text')); ?>

                </div>



                <div class="row">
                    <div class="input">

                        <?= $this->formElement($form->get('assessment_image')); ?>
                    </div>
                    <?= $this->formElementErrors($form->get('assessment_image')); ?>

                </div>

                <div class="row clearfix">
                    <div class="checkbox_col">
                        <span class="checkbox <?= $rec_check; ?>">
                            <input type="checkbox" id="ass_recurring" name="ass_recurring" <?= $rec_check; ?>>
                        </span>
                        <label for="recurring">Recurring</label>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="checkbox_col">
                        <span class="checkbox <?= $upd_check; ?>">
                            <input type="checkbox" id="ass_update" name="ass_update" <?= $upd_check; ?>>
                        </span>
                        <label for="update">Update</label>
                    </div>
                </div>

                <script>
                    $(function () {
//                        if ($('#ass_target').val() == '1' || $('#ass_target').val() == '3') {
//                            $('#addMoreCat').slideDown('fast');
//                        } else {
//                            $('#addMoreCat').slideUp('fast');
//                        }
//                        $('#ass_target').change(function (e) {
//                            if ($(this).val() == '1' || $(this).val() == '3') {
//                                $('#addMoreCat').slideDown('fast');
//                            } else {
//                                $('#addMoreCat').slideUp('fast');
//                            }
//                        });
                    });
                </script>

                <div class="row">
                    <div class="select">
                        <?= $this->formElement($form->get('ass_target')); ?>
                    </div>
                    <?= $this->formElementErrors($form->get('ass_target')); ?>
                </div>

                <div class="row" id="addMoreCat">
                    <div class="input">
                        <span class="ui-fldValid ass_cat loader"></span>
                        <input type="hidden" name="ass_cat_value" id="ass_cat_value" value="" />
                        <?= $this->formElement($form->get('ass_cat')); ?>
                    </div>
                    <?= $this->formElementErrors($form->get('ass_cat')); ?>
                    <ul id="append-cat_list" class="ui-ddr"></ul>
                </div>
                <div class="row last">
                    <div class="input_button">
                        <?= $this->formElement($form->get('c_submit')); ?>

                    </div>
                </div>

                </form>
            </div>
        </div>
    </div>
    <div class="gppOverlay"></div>
</div>

<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Manage Self Assessment</div>
        </div>
        <div class="btn_box clearfix">
            <ul class="clearfix">
                <li><a href="javascript:void(0);" class="AddAssess" onclick="gppOpen('AddAssessmentPop');">+ Self Assessment</a></li>
            </ul>
        </div>

        <script>
            $(document).ready(function () {
                $(document).on('mouseover', '.assesmentList ul li', function () {
                    $(this).find('.dlt_qOption').attr('style', 'display:block !important;');
                })

                $(document).on('mouseout', '.assesmentList ul li', function () {
                    $(this).find('.dlt_qOption').attr('style', 'display:none !important;');
                })

            })
        </script>
        <style>
            a.dlt_qOption:hover {
                background-image: url("../../img/dlt_icon_hover.png") !important;
            }
            .dlt_qOption {
                cursor: pointer;
                background-image: url("../../img/dlt_icon_normal.png")!important;
                padding: 0px !important;
                display: none !important;
                position: absolute;
                left: 4px;
                text-indent: -9999px;
                top: 4px;
                z-index: 99;
                float: left;
            }


        </style>

        <div class="assesmentList">
            <?php if (count($assessment) > 0) { ?>
                <ul class="clearfix">
                    <?php
                    foreach ($assessment AS $assessmentArr) {
                        if ($assessmentArr['is_publish']) {
                            $url = $this->url('Defalt Details') . "?sid=" . base64_encode($assessmentArr['ass_id']);
                        } else {
                            $url = $this->url('Defalt AssQuestion') . "?sid=" . base64_encode($assessmentArr['ass_id']);
                        }
                        ?>
                        <li>
                            <?php if ($assessmentArr['is_publish'] == 0) { ?>
                                <div class="saEdit EditAssess" custom="<?= base64_encode($assessmentArr['ass_id']); ?>">Edit</div>
                                <a class="dlt_qOption" href="/admin-self-del?sid=<?= base64_encode($assessmentArr['ass_id']); ?>">
                                    Delete
                                </a>

                            <?php } ?>
                            <a href="<?= $url; ?>">
                                <div class="al_name"><?= $assessmentArr['ass_name']; ?></div>
                                <div class="al_status">Status - <span class="active"><?php
                                        if ($assessmentArr['is_publish'])
                                            echo '<span class="active">Publish';
                                        else
                                            echo '<span class="inactive">Draft';
                                        ?></span></div>
                            </a>
                        </li>
                    <?php } ?>

                </ul>
                <li><a class="jscroll-next" href="admin-self?page=<?= base64_encode($page); ?>"></a></li>
            <?php } else { ?>

                <?php if ($page == 1) { ?>
                    <div class="sc_msg">Self Assessment not found.</div>
                    <li><a class="jscroll-next" href="admin-self?page=<?= base64_encode($page); ?>"></a></li>
                    <?php } ?>

            <?php } ?>
        </div>
    </div>
</div>
<script type="text/javascript">
    var priveous = "";
    var pri_cats = "";
    function suggestNameOfAssessment(event) {
        var ass_name = $(event).val().trim();
        var assId = $(event).attr('custom');
        if (
                ass_name.length > 2 &&
                ass_name != priveous
                ) {
            priveous = ass_name;
            $('.ui-fldValid.ass_name').show().addClass('loader');
            var ajaxUrl = "<?= $this->basePath(); ?>/admin/selfs/createself";
            $.get(
                    ajaxUrl,
                    {
                        ass_name: ass_name,
                        ass_id: assId,
                    },
                    function (data) {
                        //$("#append-ass_list").html(data);

                        $('.ui-fldValid.ass_name').removeClass('loader');
                        if (data.trim() == '') {
                            //$('.ui-fldValid.ass_name').addClass('tick').removeClass('wrong');
                        } else {
                            //$('.ui-fldValid.ass_name').addClass('wrong').removeClass('tick');

                        }
                    }
            );
        } else {
            // $('.ui-fldValid.ass_name').hide().removeClass('tick').removeClass('wrong');
        }
    }

    function suggestNameOfCategorys(event) {
        var ass_cat = $(event).val().trim();
        if (
                ass_cat.length > 2 &&
                ass_cat != pri_cats
                ) {
            pri_cats = ass_cat;
            $('.ui-fldValid.ass_cat').show();
            var ajaxUrl = "<?= $this->basePath(); ?>/admin/selfs/createself";
            $.get(
                    ajaxUrl,
                    {
                        ass_cat: ass_cat,
                    },
                    function (data) {
                        $("#append-cat_list").html(data);
                        $('.ui-fldValid.ass_cat').hide();
                    }
            );
        } else {
            $('.ui-fldValid.ass_cat').hide();
            $("#append-cat_list").html('');
        }
    }



    $(function () {



        $("#ass_form_edit").validate({
            rules: {
                ass_name: {
                    required: true,
                    remote: {
                        url: "<?= $this->basePath(); ?>/admin/selfs/checkTitle",
                        type: "post",
                        data: {
                            ass_name: function () {
                                return $("#ass_name").val().trim();
                            },
                            ass_id: function () {
                                return $("#ass_name").attr('custom');
                            }
                        }
                    }
                },
                ass_id: {
                    required: true
                },
                copyright_text: {
                    required: true,
                    minlength: 2,
                    maxlength: 120
                },
                assessment_desc: {
                    required: true,
                    minlength: 5,
                    maxlength: 400
                },
                assessment_que_desc: {
                    required: true,
                    minlength: 5,
                    maxlength: 400
                },
                ass_cat: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                },
                ass_target: {
                    required: true
                },
                assessment_image: {
                    accept: 'jpg|jpeg|png|gif'
                }
            },
            messages: {
                ass_name: {
                    required: "Value is required and can't be empty.",
                    remote: "Assessment name already exists."
                },
                ass_cat: {
                    required: "Value is required and can't be empty."
                },
                assessment_desc: {
                    required: "Value is required and can't be empty."
                },
                copyright_text: {
                    required: "Value is required and can't be empty."
                },
                assessment_que_desc: {
                    required: "Value is required and can't be empty."
                },
                ass_target: {
                    required: "Value is required and can't be empty."
                },
                assessment_image: {
                    accept: 'Select extension(jpg|jpeg|png|gif)'
                }

            },
            submitHandler: function (form) {
                form.submit();
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });
    });
</script>