<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE THRESHOLD MATRIX  BODY MEASURMENT FUNCTION.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
 * CREATOR: 31/12/2014.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->flashMessenger()->clearMessages();
?>
<script type="text/javascript">

    $(function () {

        $("input[type='text']").keypress(function () {
            $(this).valid()
        });
        $("input[type='text']").focus(function () {
            $(this).valid()
        });
        $("#ass_form").validate({
            rules: {
                ass_name: {
                    required: true,
                    remote: {
                        url: "<?= $this->basePath(); ?>/admin/selfs/checkSelfAss",
                        type: "post",
                        complete: function () {
                            if ($(this).find('.error').length >= 2) {
                                $('#Submit').hide();
                            } else {
                                $('#Submit').show();
                            }
                        }
                    }
                }
            },
            messages: {
                ass_name: {
                    required: 'Please Enter Assessment Name',
                    remote: 'Assessment Name already exists'
                }
            },
            submitHandler: function (form) {
                form.submit();
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });

        $('.NoBtn,.YesBtn').click(function () {
            if ($(this).val() == 'Yes') {
                $('.AssName').show();
            } else {
                $('.AssName').hide();
                window.location.href = "<?= $this->url('Defalt Details') . "?sid=" . base64_encode($assessment['ass_id']) . "&type=amend" ?>";
            }
        })
    });
</script>



<div id="amendPopup" class="grobalPopup popuBxWrap amendPopup">
    <div class="gppBox">

        <div class="gppbxContainer">
            <div class="gppTitle">
                Amend<div onclick="gppClose('amendPopup');" class="gppClose">X</div>
            </div>
            <div class="formWrapperContainer">

                <div class="amd_title">Are you want save assessment result data.</div>

                <div class="double clearfix ynCol">
                    <div class="row">
                        <input type="button" value="No" class="btn submit_button cancel_button NoBtn">
                    </div>
                    <div class="row last">
                        <input type="button" value="Yes" class="btn submit_button YesBtn">
                    </div>
                </div>
                <form method="post" action="admin-self-details?sid=<?= base64_encode($assessment['ass_id']); ?>" id="ass_form">
                    <div class="amd_new AssName" style="display:none;">
                        <div class="row " >
                            <div class="input">

                                <input type="text" id="AssName" name="ass_name" placeholder="Assessment Name"/>

                            </div>
                            <input type="hidden" name="ass_id" value="<?= $assessment['ass_id']; ?>" id="AssessmentId"/>

                            <ul id="append-ass_list"></ul>
                        </div>
                        <div class="mdsl-btn clearfix" id="Submit" style="display: none;">
                            <input style="background:#FF8400;border: 0 none;color: #FFFFFF;" type="submit" name="submit" value="Submit" class="btn" />
                        </div>
                    </div>
                </form>
            </div>


        </div>
        </form>
    </div>
    <div class="gppOverlay"></div>
</div>

<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Manage Self Assessment - <?= $assessment['ass_name']; ?></div>
        </div>

        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?= $msg["success"]; ?>
                </div>
            <?php endif; ?>
        <?php } ?>

        <div class="sad_analyze clearfix">
            <a href="<?= $this->url('Defalt Analyze') . "?sid=" . base64_encode($assessment['ass_id']); ?>" class="analyze_btn">Analyze</a>
        </div>

        <div class="sadetailLisr">
            <ul class="clearfix">
                <?php foreach ($question AS $index => $questionArr) { ?>
                    <?php $optionsArr = $this->options($quesOj, $questionArr['ques_id']); ?>
                    <li class="sadl_row">
                        <div class="sadl_number">Q: <?= $index + 1; ?>.</div>
                        <h4><?= $questionArr['ques_question']; ?></h4>
                        <div class="sadl_option">
                            <ul class="clearfix">
                                <?php
                                $char = 64;
                                foreach ($optionsArr AS $key => $options) {
                                    $char++;
                                    ?>
                                    <li>
                                        <div class="txt">
                                            <?= chr($char); ?>). <?= $options['opt_option'] . " (" . $options['opt_value'] . ")"; ?>
                                        </div>
                                    </li>
                                <?php } ?>
                            </ul>
                        </div>
                    </li>
                <?php } ?>
            </ul>
        </div>

        <div class="boxBtn bb_btn_list clearfix">
            <ul>
                <li><a href="<?= $this->url('Defalt Assesments'); ?>" class="bb_btn back">Back</a></li>
                <li><a href="<?= $this->url('Defalt Details') . "?sid=" . base64_encode($assessment['ass_id']) . "&status=" . base64_encode($assessment['is_publish']); ?>" class="bb_btn">Disable</a></li>
                <li><a href="javascript:void(0);" class="bb_btn" onclick="gppOpen('amendPopup');">Amend</a></li>
            </ul>
        </div>
    </div>
</div>
