<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 10/12/2014.
 * UPDATED: 11/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('Researcher');
$userName = $this->_sessionObj->userDetails['UserName'];
$UserId = $this->_sessionObj->userDetails['UserID'];

?>

<!--Container start here-->
<div id="ui-content-wrapper">
    <div class="PreLoginPageContainer">
        <div class="formContainer formWrapperContainer formContainer_basic">
            
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>

            <form name="signup_profile" id="signup_profile" action="" method="post">
                <h2 class="page_heading page_heading_basic">Please fill the fields below (Fields marked *  are mandatory)</h2>

				
					 <div class="double clearfix">
                        <div class="row">
                            <div class="input">
                                <input type="text" placeholder="Institute name *" id = "institute" name="institute" autocomplete="off" class="nospecial_char">
                            </div>
                        </div>
                        <div class="row last">
                            <div class="input">
                                <input type="text" placeholder="Department name *" id = "depratment" name="depratment" autocomplete="off" class="nospecial_char">
                            </div>
                        </div>
                    </div>
                    <div class="double clearfix">
                        <div class="row">
                            <div class="input">
                                <input type="text" class="number_validate" placeholder="Department Phone" id = "dept_phone" name="dept_phone" maxlength=12 autocomplete="off">
                            </div>
                        </div>
                        <div class="row last">
                            <div class="input">
                                <input type="text" class="number_validate" placeholder="Work Phone *" id = "work_phone" name="work_phone" maxlength=12 autocomplete="off">
                            </div>
                        </div>
                    </div>
					<div class="row">
                            <div class="input">
                                <input type="text" placeholder="Department head name" id = "dept_head_name" name="dept_head_name" autocomplete="off" class="nospecial_char">
                            </div>
                    </div>
		
               
                <div class="row">
                    <div class="input_button basicPage_button0">
                        <input type="submit" value="Next" class="submit_button" />
                    </div>
                </div>
            </form>
        </div>        
    </div>   
    <script>
        $(document).ready(function(e) {
            $(".err").hide("fast");
            $("#signup_profile").validate({
                rules: {
                    institute: {
                         required: true
                    },
                    depratment: {
                         required: true
                    },
                    dept_phone: {
                         minlength: 7,
                         maxlength: 10,
                         number: true
                    },
                    work_phone:{
                         required: true,
                         number: true,
                        minlength: 7,
                        maxlength: 10
                    }
//                    dept_head_name: {
//                         required: true
//                    }
                 },
                messages: {
                     institute: {
                        required: "Please enter institute name."
                    },
                    depratment: {
                        required: "Please enter department name."
                    },
                    dept_phone: {
                     //  required: "Please enter department phone.",
                         minlength: "Please enter valid mobile number.",
                         maxlength: "Please enter valid mobile number.",
                         number: "Please enter valid mobile number."
                    },
                    work_phone:{
                         minlength: "Please enter valid work phone.",
                         maxlength: "Please enter valid work phone.",
                         number: "Please enter valid work phone.",
                        required: "Please enter work phone."
                    }
//                    dept_head_name: {
//                        required: "Please enter department head name."
//                    }
                                   
                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.parents("div.row"));
                    //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
                }
            });
        });
        
    </script>
</div>
<!--Container end here--> 