 <?php
 use Zend\Session\Container;
 $this->_sessionObj = new Container('Researcher');
 $UserEmail = $this->_sessionObj->userDetails['Email'];
 /**********
 @ : Created Rabban Ahmad
 @ : Updated:: 10/04/15 
 ***********/
 ?>
 
 <?php
if (isset($_SERVER['HTTP_X_REQUESTED_WITH']) && $_SERVER['HTTP_X_REQUESTED_WITH'] === 'XMLHttpRequest') {
    echo $this->partial('caregiver/templates/individual_suggested_list/suggested_list');
    exit();
}
?>
 <script>
 $(document).ready(function(){
  $('.userList').jscroll({
		loadingHtml: '<div align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
		nextSelector: 'a.jscroll-next:last',
		contentSelector: '.userList'
	});
 });
 </script>
 <?php
	$display = 'none';
	$active='';
	if($postval){
		$display = 'block';
		$active='active';
	}
?>
 <div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed pghFixedIndv">
      <div class="pgh_title" style="position:relative;">| Manage Individual Users <div class="Advanced_SearchButton <?=$active?>"></div></div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/cg-dashboard" class="item">Connected Individual</a>
                <a href="<?php echo $this->basePath(); ?>/cg-pending-request" class="item">Requests</a>
                <a href="<?php echo $this->basePath(); ?>/cg-individual-list" class="item selected">Suggested</a>
             </div>
        </div>
    </div>
       
        <div class="boxWrap advancedPeopleSearch clearfix" style="margin-top: 15px;display:<?=$display?>">
            <!-- Advanced Search box start here-->
            <div class="searchFormAdv clearfix">
			<form name="searchUserform" method="get" id="searchUserform" action="">
                <div class="bw_box">
                    <div class="hww clearfix">
                        <div class="hww_select clearfix">
                            <div class="hww_sbox">
                                <div class="input">
                                    <input type="text" name="user_name" value="<?=($postval?$postval:'')?>" placeholder="Search By..." />
                                </div>
                             </div>                             
                        </div>
                    </div>
                </div>
                <span class="boxBtn"><input type="submit" name="" value="Go" class="bb_btn" id="submitButton" style="min-width:inherit"></span>
			</form>
            </div>
            <!-- Advanced Search box start here-->
        </div>
       <?php 
			echo $this->partial('caregiver/templates/individual_suggested_list/suggested_list');
		?>
		
    </div>
 <div id="InviteUsers" class="grobalPopup popuBxWrap">
          <div class="gppBox">
            <div class="gppbxContainer">
              <div class="gppTitle">Invite Users
                <div onclick="gppClose('InviteUsers');" class="gppClose">X</div>
              </div>
              <div class="formWrapperContainer CareInviteUsers">
              		<h3 class="heading03_label">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</h3>
                <form action="" name="InviteUsersForm" method="post" id="InviteUsersForm">
                    <div class="row">
                        <div class="input">
                            <textarea name="yourtxt" placeholder="Add your message here"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input emailfiledsWrap">
                            <input type="text" placeholder="Add Email" name="email" id="AddEmail" class="AddEmailTextFields">
                        </div>
                        <a href="javascript:void(0);" class="addEmailButton">Add</a>
						<div id="email_err"></div>
                    </div>
					
                    <div class="addedEmailIds">
                    	<ul class="e_ids clearfix" id="ulemail">
                        	
                        </ul>
                    </div>
					<div id="succMsg"></div>
                    <div class="row last">
                        <div class="input_button">
                            <input type="submit" value="Send" class="submit_button" />
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
        <div class="gppOverlay"></div>
    </div>

<script>
function sendInvitation(userid,email){
	if(confirm('Are you sure,you want to send invitation to this individual ?')){
		$(".global_loader").show();
		$.ajax({
            type: 'post',
            url: "/caregiver/caregiverajax/sendinvite",
            data:{userid:userid,email:email}
            }).done(function (res) {
				$(".global_loader").hide('fast');
				$("#"+userid).hide();
				//location.reload(); 
            });
		}else{
		return false;
	}
};

$(function(){
	$('.Advanced_SearchButton').click(function(){
		$(this).toggleClass('active');
		if($(this).hasClass('active')){
			$(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideDown('fast');
		}
		else{
			$(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideUp('fast');
		}
	});
});
</script>
<!--Container end here--> 
</div>