<script type="text/javascript" src="<?= $this->serverUrl() ?>/js/jstz.js"></script>
<script type="text/javascript" src="<?= $this->serverUrl() ?>/js/moment.js"></script>
<script type="text/javascript" src="<?= $this->serverUrl() ?>/js/moment-timezone-with-data-2010-2020.min.js"></script>
<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 10/12/2014.
 * UPDATED: 10/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$zones = DateTimeZone::listIdentifiers();
$CusConPlug = $this->CusConPlug;
//$time_zone = $CusConPlug->getTimezone();
?>

<!--Container start here-->
<div id="ui-content-wrapper">
    <!---Start forgot password popup --->

    <div id="ForgotPassword" class="grobalPopup popuBxWrap">
        <div class="gppBox">
            <div class="gppbxContainer" style="margin-top: -250px;">
                <div class="gppTitle">Forgot Password
                    <div onclick="gppClose('ForgotPassword');" class="gppClose">X</div>
                </div>

                <div class="formWrapperContainer">
                    <form  name= "forgotPass" id = "forgotPass" action="" method="post">

                        <div class="row">
                            <div id="succ" style="padding-bottom:10px;"></div>
                            <div class="input">
                                <input type="text" placeholder="Enter your email to recover password" name="email_id" id ="email_id">
                            </div>
                            <div id="err" ></div>
                        </div>

                        <div class="row last">
                            <div class="input_button">
                                <input type="submit" value="Send" class="submit_button" />
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        <div class="gppOverlay"></div>
    </div>
    <!--- end forgot password popup--->

    <!--Signup page start Here-->
    <div class="PreLoginPageContainer">
        <div class="formContainer formWrapperContainer loginPage-individual">
            <!--<form name="login_form" id="login_form" action="/cg-login" method="post">-->
            <?php
            $form->prepare();
            $form->setAttribute('id', 'login_form');
            echo $this->form()->openTag($form);
            ?>
            <div class="row">
                <?php if ($this->error) { ?>
                    <div class="errorMsg">
                        <span class="ui_icon error"></span><?php echo $this->error; ?></div>
                <?php } ?>
                <div class="input">
                    <!--<input type="text" placeholder="Email Address" name="email" id="email">-->
                    <?= $this->formElement($form->get('email')); ?>

                </div>
                <span id="valid_email"></span>
            </div>


            <div class="row">
                <div class="input">
                    <!--<input type="password" placeholder="Password" name="password" id="password">-->
                    <?= $this->formElement($form->get('password')); ?>
                </div>
                <span id="valid_password"></span>
            </div>
            <div class="row" id="time_zone_div" style="display: none">                           
                <label class="label">Select Time zone</label>
                <div class="select">                            
                    <select name="time_zone" id="time_zone" style="width: 100%">                                  
                        <?php
                       // $time_zone_name = (empty($time_zone) ? "America/Los_Angeles" : $time_zone );
                        foreach ($zones as $zvalue) {
                            ?>
                            <option value="<?= $zvalue ?>" <?php echo (($zvalue == "America/Los_Angeles") ? "selected" : "" ) ?>><?= $zvalue ?></option>
                        <?php } ?>

                    </select>
                </div>                          
            </div>


            <a href="javascript:void(0);" class="forgetPass" onclick="gppOpen('ForgotPassword');">Forgot Password?</a>
            <a href="/individual" style="float:right;" class="forgetPass" >New User ?</a>

            <div class="row">
                <div class="input_button">
                    <!--<input type="submit" value="Submit" class="submit_button" id="Submit" name="Submit"  />-->
                    <?= $this->formElement($form->get('Submit')); ?>
                </div>
            </div>
            </form>
        </div> 
        <script>
              function get_time_zone_offset() {
                if (!sessionStorage.getItem('timezone')) {
                    var tz = jstz.determine() || 'UTC';
                    sessionStorage.setItem('timezone', tz.name());
                }
                var currTz = sessionStorage.getItem('timezone');
                // $("#time_zone").val(currTz);
                $('#time_zone').val(currTz).attr("selected", "selected");
                if (currTz == '') {
                    $("#time_zone_div").show();
                } else {
                    $("#time_zone_div").hide();
                }

            }
            $(document).ready(function () {
                //$('.errorMsg').delay('600').('fast');
                $('.errorMsg').fadeIn('slow').delay(4000).fadeOut('slow');
                $("#login_form").validate({
                    rules: {
                        email: {
                            required: true,
                            email: true
                        },
                        password: {
                            required: true,
                            minlength: 8,
                            maxlength: 30
                        }

                    },
                    messages: {
                        email: {
                            required: "Please enter email.",
                            format: "Please enter valid email.",
                        },
                        password: {
                            required: "Please enter password.",
                            minlength: "Password must be of minimum eight characters."
                        }
                    },
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parents("div.row"));
                        //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
                    }
                });

                $("#forgotPass").validate({
                    rules: {
                        email_id: {
                            required: true,
                            email: true
                        }
                    },
                    messages: {
                        email_id: {
                            required: "Please enter email.",
                            format: "Please enter valid email.",
                        }
                    },
                    submitHandler: function (form) {
                        var Email = $("#email_id").val();
                        $(".global_loader").show();
                        $.ajax({
                            type: "POST",
                            url: "/researcher/researcherajax/forgotpassword",
                            data: {Email: Email}
                        }).done(function (resp) {
                            if (resp == 1) {
                                $(".global_loader").hide('fast');
                                $('#succ').html("<font color='green'>Temporary password has been sent on your email address.Please change password after login.</font>");
                                setTimeout(function () {

                                    window.location.href = "/researcher-login";
                                }, 2500);
                            } else {
                                $(".global_loader").hide('fast');
                                $('#err').html("<font color='red'>Email id does not exist.</font>");
                                $('#err').fadeIn('fast').delay(1000).fadeOut('slow');
                                return false;
                            }
                        });
                        //gppOpen('gpp_terms_condition');   
                    },
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parents("div.row"));
                    }
                });

                $(function () {
                    setTimeout(function () {
                        $("#server_error").fadeOut(1500);
                    }, 2000)
                })
            });
        </script>	
        <style>
            .loginPage-individual{
                width:400px;
            }
            @media screen and (max-width:480px){
                .loginPage-individual{
                    width:auto;
                }
            }
        </style>	
    </div>
    <!--Signup page end Here-->
</div>
<!--Container end here--> 

