 <?php
 use Zend\Session\Container;
 $this->_sessionObj = new Container('Researcher');
 $UserEmail = $this->_sessionObj->userDetails['Email'];
 
 ?><div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed pghFixedIndv">
      <div class="pgh_title" style="position:relative;">| Manage Individual Users </div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/cg-dashboard" class="item">Connected Individual</a>
                <a href="<?php echo $this->basePath(); ?>/cg-pending-request" class="item selected">Requests</a>
                <a href="<?php echo $this->basePath(); ?>/cg-individual-list" class="item">Suggested</a>
                <!--<a href="javascript:void(0);" class="item"  onclick="gppOpen('InviteUsers');">Invite User</a>-->
            </div>
        </div>
    </div>
       
        <div class="boxWrap advancedPeopleSearch clearfix" style="margin-top: 15px;">
            <!-- Advanced Search box start here-->
            <div class="searchFormAdv clearfix">
                <div class="bw_box">
                    <div class="hww clearfix">
                        <div class="hww_select clearfix">
                            <div class="hww_sbox">
                                <div class="input">
                                    <input type="text" placeholder="Search By..." />
                                </div>
                             </div>                             
                        </div>
                    </div>
                </div>
                <span class="boxBtn"><input type="submit" name="" value="Go" class="bb_btn" style="min-width:inherit"></span>
            </div>
            <!-- Advanced Search box start here-->
        </div>
        <div class="userList">
		<?php if (!count($usersArr)) { ?><div class="errorMsg">
		<span class="ui_icon error"></span>No Users found. </div> <?php }else {  foreach($usersArr as $res) { ?>
          <div class="ul_row clearfix" onclick="gppOpen('userSrchData');">
                <div class="col wd50">
				<?php
				if($res['Image']){
					$image = $this->serverUrl()."/upload_image/".$res['UserID']."/".$res['Image']; 
				}else{
					$image = $this->serverUrl()."/img/profile_image_avtar.png"; 
				}
				?>
                    <div class="ul_photo"><img src="<?=$image?>" alt=""/></div>
                    <h4><?=$res['FirstName']." ".$res['LastName']?></h4>
                    <h5><?=$res['state_name'].",".$res['country_name']?></h5>
                </div>
               <div class="col wd50 measureCol">
                    <ul class="mesurement actionButton">
                        <li>
                            <p>Resend</p>
                            <div class="button resend" onclick="resendInvitation('<?=$res['Email']?>','<?=$res['hash']?>');"><a href="javascript:void(0);">Resend</a></div>
                        </li>
                        <li>
                            <p>Delete</p>
                            <div class="button delete" id="<?=$res['Email']?>"><a href="javascript:void(0);">Delete</a></div>
                        </li>
                    </ul>
                    
                </div>
          </div>
		<?php } } ?>
         
        </div>
    </div>
</div>
<div id="InviteUsers" class="grobalPopup popuBxWrap">
          <div class="gppBox">
            <div class="gppbxContainer">
              <div class="gppTitle">Invite Users
                <div onclick="gppClose('InviteUsers');" class="gppClose">X</div>
              </div>
              <div class="formWrapperContainer CareInviteUsers">
              		<h3 class="heading03_label">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</h3>
                <form action="" name="InviteUsersForm" method="post" id="InviteUsersForm">
                    <div class="row">
                        <div class="input">
                            <textarea name="yourtxt" placeholder="Add your message here"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input emailfiledsWrap">
                            <input type="text" placeholder="Add Email" name="email" id="AddEmail" class="AddEmailTextFields">
                        </div>
                        <a href="javascript:void(0);" class="addEmailButton">Add</a>
						<div id="email_err"></div>
                    </div>
					
                    <div class="addedEmailIds">
                    	<ul class="e_ids clearfix" id="ulemail">
                        	
                        </ul>
                    </div>
					<div id="succMsg"></div>
                    <div class="row last">
                        <div class="input_button">
                            <input type="submit" value="Send" class="submit_button" />
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
        <div class="gppOverlay"></div>
    </div>
<script>
function resendInvitation(email,hash){
	if(confirm("Do you want to resend caregiver invitation?")) {
		$(".global_loader").show();
		$.ajax({
			type: "POST",
			url: "/caregiver/caregiverajax/resendinvite",
			data: { Email: email,hash:hash} 
		}).done(function(resp){
				$(".global_loader").hide('fast');
		});
	}else{
		return false;
	}
};	
$(function () {
        $('form').on('submit', function (e) {
		var EmailIdsArr = new Array();
		$('input[name="emailArr[]"]').each(function(){
			EmailIdsArr.push($(this).val());
		});
		if(EmailIdsArr.length >0){
		$(".global_loader").show();
          e.preventDefault();
          $.ajax({
            type: 'post',
            url: "/caregiver/caregiverajax/senduserinvite",
            data: $('#InviteUsersForm').serialize(),
            success: function (res) {
				$('#succMsg').html('<font color="green">Invitation sent successfully.</font>');
              	$(".global_loader").hide('fast');
            }
          });
		}else{
		$('#email_err').html('<font color="red">Please add email ids first.</font>');
		return false;
		}
        });

      });
function ValidateEmail(email) {
	var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
	return expr.test(email);
}
function DataArrenge(){
	$('.e_ids li').each(function(index, element) {
        var indexValue = index+1;
		$(this).attr({'id':'emailID'+indexValue});
		$(this).find('a').attr({'onClick':'delateAddedEmail("emailID'+indexValue+'")'});
    });
}
function delateAddedEmail(id){
	$('#'+id).remove();
}
$('#AddEmail').keyup(function(){
		$('#email_err').html('');
});
$(function(){
	$('.addEmailButton').click(function(){
		DataArrenge();
		fieldsVal = $('.AddEmailTextFields').val();
		var currEmail = $('#AddEmail').val();
		var EmailIdsArr = new Array();
		$('input[name="emailArr[]"]').each(function(){
			EmailIdsArr.push($(this).val());
		});
		if($.inArray(currEmail,EmailIdsArr)!=-1){
			$('#email_err').html('<font color="red">Email ID already added.</font>');
			return false;
		}
		AddedEmailID = $('.CareInviteUsers .e_ids li span').text();		
		if($.trim(fieldsVal).length == 0 || fieldsVal==''){
			$('#email_err').html('<font color="red">Please enter valid email.</font>');
			return false;
		}else if(!ValidateEmail($(".AddEmailTextFields").val())) {
            $('#email_err').html('<font color="red">Please enter valid email ID.</font>');
			return false;
        }		
		else if(fieldsVal==AddedEmailID){
			$('#email_err').html('<font color="red">Email ID already added.</font>');
			return false;
		}else if(currEmail=='<?php echo $UserEmail;?>'){
			$('#email_err').html('<font color="red">You can not sent invitation to yourself.</font>');
			return false;
		}
		else{
			$.ajax({
				type: "POST",
				url: "/caregiver/caregiverajax/addemailstoarray",
				data: {email: currEmail}
			}).done(function (res){
				$("#ulemail").append(res);
				DataArrenge();
				$('#AddEmail').val('');
			});
			
			
			
		}
	});

	$('.Advanced_SearchButton').click(function(){
		$(this).toggleClass('active');
		if($(this).hasClass('active')){
			$(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideDown('fast');
		}
		else{
			$(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideUp('fast');
		}
	});
});
</script>
<!--Container end here--> 