<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 10/12/2014.
 * UPDATED: 11/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('Researcher');
$userName = $this->_sessionObj->userDetails['UserName'];
$UserId = $this->_sessionObj->userDetails['UserID'];
$DomainID = $userDetails['DomainID'];
//echo "<pre>";print_r($this->education);die;
?>

<!--Container start here-->
<div id="ui-content-wrapper">
    <div class="menuWrapper">
        <ul class="pre_login_menu">
            <li><a href="#">Basic</a><span class="border"></span></li>
            <li><a href="#">Contact</a><span class="border"></span></li>
            <li class="active"><a href="#">Profile</a><span class="border"></span></li>
        </ul>
    </div>
    <div class="PreLoginPageContainer">
        <div class="formContainer formWrapperContainer formContainer_basic">
            <form name="signup_profile" id="signup_profile" action="" method="post" enctype="multipart/form-data">
                <h2 class="page_heading page_heading_basic">Please fill the fields below (All fields marked *  are mandatory)</h2>
                <div class="row clearfix">
                    <div class="upload_profile_image" onClick="javascript:document.getElementById('UploadProfilePic').click();">
                        <img src="<?php echo $this->serverUrl(); ?>/img/profile_image_avtar.png" alt="Profile image" class="uploadProfilePic_img" />
                        <input type="file" name="profile_pic" id="UploadProfilePic" onChange="readURL(this);" />
                    </div>

                </div>
                <div class="err" style="color:red;display:none;align:center;">Please upload valid image.</div>
                <div class="double clearfix">
                    <div class="row">
                        <div class="select">
                            <select title="Highest Education " class="select" name="education">
                                <option value="">Highest Education </option>
                                <?php foreach ($this->education as $edu) : ?>
                                    <option value="<?php echo $edu['education_id']; ?>"><?php echo $edu['highest_degree_name']; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <!--                    <div class="row last">
                                            <div class="select">
                                                <select title="Ethnicity *" class="select" name="ethnicity">
                                                    <option value="">Ethnicity *</option>
                    <?php foreach ($this->ethnicity as $ethni) : ?>
                                                                    <option value="<?php echo $ethni['ethnicity_id']; ?>"><?php echo $ethni['ethnicity_name']; ?></option>
                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                        </div>-->
                    <div class="row last">
                        <div class="select">
                            <select title="Language" class="select" name="language">
                                <option value="">Language</option>
                                <?php foreach ($this->language as $langu) : ?>
                                    <option value="<?php echo $langu['laguage_id']; ?>"><?php echo $langu['language']; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                </div>
                <?php if ($this->isResearcher == 1) { ?>

                    <div class="double clearfix">
                        <div class="row">
                            <div class="input">
                                <input type="text" placeholder="Institute name " id = "institute" name="institute" class="nospecial_char" autocomplete="off">
                            </div>
                        </div>
                        <div class="row last">
                            <div class="input">
                                <input type="text" placeholder="Department name " id = "depratment" name="depratment" autocomplete="off" class="nospecial_char">
                            </div>
                        </div>
                    </div>
                    <div class="double clearfix">
                        <div class="row">
                            <div class="input">
                                <input type="text" class="number_validate" placeholder="Department Phone" id = "dept_phone" name="dept_phone" maxlength=12 autocomplete="off">
                            </div>
                        </div>
                        <div class="row last">
                            <div class="input">
                                <input type="text" class="number_validate" placeholder="Work Phone " id = "work_phone" name="work_phone" maxlength=12 autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input">
                            <input type="text" placeholder="Department head name" id = "dept_head_name" name="dept_head_name"autocomplete="off" class="nospecial_char">
                        </div>
                    </div>
                <?php } ?>
                <?php if ($this->isCaregiver == 1) { ?>
                    <div class="row">
                        <div class="input">
                            <input type="text" placeholder="Name of practice " id = "practice" name="practice" autocomplete="off" class="nospecial_char">
                        </div>
                    </div>
                <?php } ?>
                <div class="row">
                    <div class="input">
                        <input type="text" class="number_validate" placeholder="Income in dollar" id ="income" name="income" maxlength="15" autocomplete="off">
                    </div>
                    <span id="err_income"></span>
                </div>

                <!--<div class="double clearfix">
                    <div class="row">
                        <div class="select">
                            <select title="Blood Type" class="select" name="blood">
                                <option value="">Blood Type</option>
                <?php foreach ($this->bloodtype as $blood) : ?>
                                                    <option value="<?php echo $blood['blood_id']; ?>"><?php echo $blood['blood_type']; ?></option>
                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row last">
                        <div class="select">
                            <select title="Language" class="select" name="language">
                                <option value="">Language</option>
                <?php foreach ($this->language as $langu) : ?>
                                                    <option value="<?php echo $langu['laguage_id']; ?>"><?php echo $langu['language']; ?></option>
                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                </div>-->
                <div class="row last clearfix">
                    <div class="doblabel doblabel2">Marital Status *</div>
                    <div class="checkbox_col radioLable">
                        <div class="checkbox_col radioButtonWrap" style="width: 100%;">
                            <span class="radio bdr_rds_circle selected"><input type="radio" id="male" name="marital_status" value="m"></span>
                            <label for="male">Married</label>
                        </div>
                    </div>
                    <div class="checkbox_col radioLable">
                        <div class="checkbox_col radioButtonWrap" style="width: 100%;">
                            <span class="radio bdr_rds_circle"><input type="radio" id="female" name="marital_status" value="um"></span>
                            <label for="female">Unmarried</label>
                        </div>
                    </div>
                </div>
               
                <div class="double clearfix">
                    <div class="row">
                        <input type="submit" value="Save & Next" name='next' class="submit_button" />
                    </div>
                    <div class="row last">
                        <input type="button" id='skiptoDsh' value="Skip to Dashboard" class="submit_button cancel_button" />
                    </div>
                </div>
            </form>
        </div>        
    </div>   
    <script>
        $(document).ready(function(e) {
            $(".err").hide("fast");
            $("#signup_profile").validate({
                rules: {
//                    education: {
//                        required: true
//                    },
//                    ethnicity: {
//                        required: true
//                    }, dept_phone: {
//                        minlength: 7,
//                        maxlength: 10,
//                        number: true
//                    },
//                    work_phone: {
//                        number: true,
//                        minlength: 7,
//                        maxlength: 10,
//                        required: <?php
                if ($this->isResearcher == 1) {
                    echo "true";
                } else {
                    echo "false";
                }
                ?>//
//                    },
//                    depratment: {
//                        required: <?php
                if ($this->isResearcher == 1) {
                    echo "true";
                } else {
                    echo "false";
                }
                ?>//
//                    },
//                    institute: {
//                        required: <?php
                if ($this->isResearcher == 1) {
                    echo "true";
                } else {
                    echo "false";
                }
                ?>//
//                    }
//                    ,
//                    practice: {
//                        required: <?php
                if ($this->isCaregiver == 1) {
                    echo "true";
                } else {
                    echo "false";
                }
                ?>//
//                    }
                },
                messages: {
                    education: {
                        required: "Please select highest education."
                    },
                    ethnicity: {
                        required: "Please select ethnicity."
                    }, dept_phone: {
                        //  required: "Please enter department phone.",
                        minlength: "Please enter valid department phone.",
                        maxlength: "Please enter valid department phone.",
                        number: "Please enter valid department phone."
                    },
                    work_phone: {
                        number: "Please enter valid work phone.",
                        minlength: "Work phone should be greater then or equal to 7",
                        maxlength: "Work phone should be less then or equal to 10",
                        required: "Please enter work phone."
                    }
                    ,
                    depratment: {
                        required: "Please enter depratment."
                    }
                    ,
                    practice: {
                        required: "Please enter practice."
                    }
                    ,
                    institute: {
                        required: "Please enter institute."
                    }
                },
                submitHandler: function(form) {
                    var incomeVal = $('#income').val();
                    if (incomeVal !== '') {
                        if (incomeVal.charAt(0) == 0) {
                            $('#err_income').html("<font color='red'>Enter valid income.</font>");
                            $('#err_income').fadeIn('fast').delay(1000).fadeOut('slow');
                            return false;
                        }
                    }
                    document.getElementById("signup_profile").submit();
                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.parents("div.row"));
                    //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
                }
            });
        });
        /* $("#UploadProfilePic").change(function(){
         var val = $('#UploadProfilePic').val();
         var ext = $('#UploadProfilePic').val().split('.').pop().toLowerCase();
         var mim = document.getElementById('UploadProfilePic').files[0].type;
         if($.inArray(mim, ['image/gif','image/png','image/jpg','image/jpeg']) == -1) {
         $(".err").css("display", "block");
         setTimeout(function(){
         location.reload();
         }, 2000);
         
         }else{
         $(".err").css("display", "none");
         }
         }); */
        $('#skiptoDsh').click(function() {
            $.ajax({
                type: "POST",
                url: "/researcher/researcherajax/udpateprofilestage",
            }).done(function() {
                var redirection = '<?php
                if ($DomainID == 1) {
                   echo "/researcher-archival";
                } else {
                  echo  "/researcher-panelmember";
                }
                ?>';
                window.location.href = redirection;
            });
        });
    </script>
</div>
<!--Container end here--> 
