<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
 * @UPDATE: Hemant Chuphal
 * CREATOR: 12/11/2014.
 * UPDATED: 10/05/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Manage Users</div>
        </div>
        <form method="POST" action="<?= $this->basePath(); ?>/admin-users" id="search_user">
            <div class="srchUser">
                <div class="su_title"><span class="icon"></span>Search Users :</div>
                <div class="su_wrap">
                    <div class="su_input clearfix">
                        <div class="su_col">
                            <div class="input">
                                <?= $this->formElement($form->get('first_name')); ?>
                            </div>
                            <label class="error"><?= $this->formElementErrors($form->get('first_name')); ?></label>
                        </div>
                        <div class="su_col">
                            <div class="input">
                                <?= $this->formElement($form->get('last_name')); ?>
                            </div>
                            <label class="error"><?= $this->formElementErrors($form->get('first_name')); ?></label>
                        </div>
                        <div class="su_col">
                            <div class="input">
                                <?= $this->formElement($form->get('username')); ?>
                            </div>
                            <label class="error"><?= $this->formElementErrors($form->get('username')); ?></label>
                        </div>
                        <div class="su_col">
                            <div class="input select">
                                <?= $this->formElement($form->get('gender')); ?>
                            </div>
                            <label class="error"><?= $this->formElementErrors($form->get('gender')); ?></label>
                        </div>
                        <div class="su_col">
                            <div class="input">
                                <?= $this->formElement($form->get('email')); ?>
                            </div>
                            <label class="error"><?= $this->formElementErrors($form->get('email')); ?></label>
                        </div>
                        <div class="su_col">
                            <div class="input select">
                                <?= $this->formElement($form->get('city')); ?>
                            </div>
                            <label class="error"><?= $this->formElementErrors($form->get('city')); ?></label>
                        </div>
                        <div class="su_col">
                            <div class="input select">
                                <select class="select" name="state" id="state">
                                    <option selected value="0">State</option>
                                    <?php foreach ($state AS $stateArr) { ?>
                                        <option value="<?= $stateArr['state_id']; ?>"><?= $stateArr['state_name']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                            <?php /* ?>
                              <div class="input select">
                              <?= $this->formElement($form->get('state'));?>
                              </div>
                              <label class="error"><?= $this->formElementErrors($form->get('state'));?></label>
                              <?php */ ?>
                        </div>
                        <div class="su_col">
                            <div class="input select" name="country" >
                                <select class="select" id="country">
                                    <option selected value="0">Country</option>
                                    <?php foreach ($country AS $countryArr) { ?>
                                        <option value="<?= $countryArr['country_id']; ?>"><?= $countryArr['country_name']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                            <?php /* z ?>
                              <div class="input select">
                              <?= $this->formElement($form->get('country'));?>
                              </div>
                              <label class="error"><?= $this->formElementErrors($form->get('country'));?></label>
                              <?php */ ?>
                        </div>
                    </div>
                    <div class="su_btn clearfix">
                        <input type="button" name="" value="Search" class="su_srch" onClick="GetUserList('srch', <?= $session['id'] ?>, 0);"/>
                        <input type="button" name="" value="Reset All" class="su_reset" onClick="javascript:location.reload(true)"/>
                        <!--
                        <?= $this->formElement($form->get('us_submit')); ?>
                        <?= $this->formElement($form->get('us_button')); ?>
                        -->
                    </div>
                </div>
            </div>
        </form>
        <div class="userList" id="append-users">


        </div>
    </div>
</div>
<script>
    var offset = 0;
    var oldOfset = 0;
    var limit = 100;
    var user_id = <?= $session['id']; ?>;
    var totalCount = <?= count($members); ?>;
    var ajaxUrl = "<?= $this->basePath(); ?>/admin/user/users";
    function GetUserList(type, user_id, noffset) {
        if (user_id != "") {
            var first_name = $("#first_name").val();
            var last_name = $("#last_name").val();
            var username = $("#username").val();
            var gender = $("#gender").val();
            var email = $("#email").val();
            var city = $("#city").val();
            var state = $("#state").val();
            var country = $("#country").val();
            $.get(
                    ajaxUrl,
                    {
                        FirstName: first_name,
                        LastName: last_name,
                        UserName: username,
                        Gender: gender,
                        Email: email,
                        City: city,
                        State: state,
                        Country: country,
                        offset: noffset,
                        limit: limit
                    },
            function(data) {
                if (type == "srch") {
                    $("#append-users").html(data);

                } else {
                    if (oldOfset == offset) {
                        $("#append-users").append('');
                    } else {
                        $("#append-users").append(data);
                    }

                }
            });

            if (totalCount == 0) {
                offset = offset;
            } else {
                offset = offset + limit;
                oldOfset == offset + limit;
            }
        }
    }
    GetUserList('srch', user_id, offset);
    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
            GetUserList('apnd', user_id, offset);
        }
    });



</script>


<script>
    $(document).ready(function() {
        $(document).on('click', '.StatusPricing', function() {
            var id = $(this).attr('id');
            var domain_id = $(this).attr('domain_id');
            var status = $(this).attr('status');
            var actUrl = '<?= $this->basePath(); ?>/admin/user/changeStatus';
            var Data = {'id': id, 'verified_by_admin': status, domain_id: domain_id};
            if (confirm('Do you really want to change user status?')) {
                showLoder('#Processing');
                $.ajax({
                    type: 'post',
                    url: actUrl,
                    data: Data,
                    success: function(msg) {
                        var result = $.parseJSON(msg);
                        if (result[0] == 'true') {
                            $('#' + result[1]).removeClass('disable-btn');
                            $('#' + result[1]).removeClass('enable-btn');
                            var className = (result[2] == 1) ? 'disable-btn' : 'enable-btn';
                            if (className == 'enable-btn') {
                                $('#' + result[1]).html('Disabled');
                            } else {
                                $('#' + result[1]).html('Enabled');
                            }
                            $('#' + result[1]).addClass(className);
                            $('#' + result[1]).attr('status', result[2]);
                        }
                        hideLoder('#Processing');
                    }
                })
            }
            return false;
        });

    })
</script>