<?php if (count($members)) : ?>
    <?php foreach ($members AS $user) { ?>
        <?php
        if ($user['Gender'] == "f")
            $gender = "Female";
        else
            $gender = "Male";
        ?>
        <div class="ul_row clearfix">

            <div class="ul_photo">
                <?php if (!empty($user['Image'])) { ?>
                    <img src="<?= $this->Resize($this->serverUrl() . "/upload_image/" . $user['UserID'] . "/", $user['Image'], '100', '80'); ?>" alt=""/>

                <?php } ?>
            </div>
            <h4><?= $user['FirstName'] . "&nbsp;" . $user['MiddleName'] . "&nbsp;" . $user['LastName']; ?></h4>
            <h5><?= $user['UserName']; ?><span style="float: right;"><?= $user['Email'] ?></span></h5>
            <h6><?= $gender; ?><span style="float: right;"><?php
                    $date = date_create(date("Y-m-d", $user['CreationDate'] / 1000));
                    echo "Joined: " . date_format($date, 'd M, Y');
                    ?></span></h6>
            <ul class="clearfix ampcb_btn" style="float: left;">
                <li class="dataGridPass dataGrid" style="list-style: none;">
                    <?php
                    $ActiveUser = json_decode($user['Active_Users_By_Admin'], true);
                    if (count($ActiveUser)) {
                        if (array_key_exists($Domain_Id, $ActiveUser)) {
                            ?>
                            <a class="StatusPricing action-button disable-btn" id="<?= $user['UserID']; ?>" domain_id="<?= $Domain_Id ?>" status="1">Enabled</a>
                        <?php } else { ?>
                            <a class="StatusPricing action-button enable-btn" id="<?= $user['UserID']; ?>" domain_id="<?= $Domain_Id ?>" status="0">Disabled</a>
                        <?php } ?>
                    <?php } else { ?>
                        <a class="StatusPricing action-button enable-btn" id="<?= $user['UserID']; ?>" domain_id="<?= $Domain_Id ?>" status="0">Disabled</a>
        <?php } ?>

                </li>

            </ul>

        </div>
    <?php } ?>

<?php endif; ?>