<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE APPOINTMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 10/02/2015.
 * UPDATED: 10/02/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
//$providerName =  $this->appoinmentData[0]['provider_name'];
?>
            <div class="gppBox">
                <div class="gppbxContainer" style="min-height:inherit">
                  <div class="gppTitle">Appointment Details
                    <div onclick="gppClose('viewAppointmentDetails');" class="gppClose">X</div>
                  </div>
                  <div class="formWrapperContainer viewDetails">
                        <div id="responsedel"></div>
                        <div class="row clearfix">
                            <?php 
                            
                                $dateResView = $CusConPlug->convetLocalTime($this->appoinmentData[0]['appointment_date'] . " " . $this->appoinmentData[0]['appointment_time']);
                                        $showDateView = $dateResView[0];
                                        $showtimeView = $dateResView[1];
                            ?>
                            <h3>Appointment  <?php echo ((!empty($this->appoinmentData[0]['provider_name']) &&  $this->appoinmentData[0]['provider_name'] !='')? "with ".  $this->appoinmentData[0]['provider_name'] : "")  ?> on <?php echo date("d M, Y", strtotime($showDateView) ) ?> at  <?php echo date("g:i A", strtotime($showtimeView)) ?> </h3>
                            <p><?php echo  $this->appoinmentData[0]['description'] ?> </p>
                        </div>
                        <div class="row clearfix">
                            <h3 class="col30">Purpose</h3>
                            <p class="col70"><?php echo  $this->appoinmentData[0]['purpose'] ?></p>
                        </div>
                      <?php if(!empty($this->appoinmentData[0]['provider_name'])){ ?>
                        <div class="row clearfix">
                            <h3 class="col30">Treatment Provided</h3>
                            <p class="col70"><?php echo $this->appoinmentData[0]['provider_name'] ?></p>
                        </div>
                      <?php } ?>
                          <?php if(!empty($this->appoinmentData[0]['specialty'])){ ?> 
                        <div class="row clearfix">
                            <h3 class="col30">Specialty</h3>
                            <p class="col70"><?php echo $this->appoinmentData[0]['specialty'] ?></p>
                        </div>
                          <?php } ?>
                          <?php if(!empty($this->appoinmentData[0]['contact_type_name'])){ ?>
                        <div class="row clearfix">
                            <h3 class="col30">Type</h3>
                            <p class="col70"><?php echo $this->appoinmentData[0]['contact_type_name']; ?></p>
                        </div>
                         <?php } ?>
                        <?php if(!empty($this->appoinmentData[0]['appointment_status_name'])){ ?>
                        <div class="row clearfix">
                            <h3 class="col30">Status</h3>
                            <p class="col70"><?php echo $this->appoinmentData[0]['appointment_status_name'] ?></p>
                        </div>
                           <?php } ?>
                    </div>
                    <div class="formWrapperContainer" style="width:96%; margin:15px auto 0">
                       <div class="double clearfix">
                            <div class="row">
                                <input type="button" class="submit_button" value="Edit" onclick="window.location='<?php echo $this->serverUrl(); ?>/individual-edit-appointment/<?php echo  $this->CusConPlug->encryptdata($this->appoinmentData[0]['appointment_id']) ?>'"/>
                            </div>
                            <div class="row last" style="padding:0;">
                                <input type="button" class="submit_button cancel_button"  onclick="deletappointment('<?php echo $this->appoinmentData[0]['appointment_id']; ?>', '<?php echo  $this->appoinmentData[0]['purpose']; ?>', '<?php echo  $this->appoinmentData[0]['appointment_date']; ?>');" value="Delete" />
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <div class="gppOverlay"></div>
            