<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE APPOINTMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 10/02/2015.
 * UPDATED: 10/02/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
//echo $this->appoinmentData[0]['appointment_date'];exit;
?>

<div id="content-wrapper" class="clearfix">
    <!-- Add Contact popup start here-->
    <div id="addEmergencyContact" class="grobalPopup popuBxWrap relative">

        <div class="gppBox">
            <div class="gppbxContainer" style="margin-top: -244px;">
                <div class="gppTitle">Fill The Details
                    <div onclick="gppClose('addEmergencyContact');" class="gppClose">X</div>
                </div>
                <div id="serverresponse"></div>
                <div class="formWrapperContainer" style="padding:20px">
                    <form method="post" action="" id="addEmc" name="addEmc" novalidate="novalidate">
                        <div class="row">
                            <label>Name</label>
                            <div class="input">
                                <input type="text" name="contact_name" id="contact_name" class="nospecial_char" placeholder="Name *">
                            </div>
                        </div>
                        <div class="row">
                            <label>Contact</label>
                            <div class="input">
                                <input type="text" name="contact" id="contact" class="onlynumber" placeholder="Contact Number *" maxlength="10">
                            </div>
                        </div>
                        <div class="row">
                            <label>Contact Type</label>
                            <div class="select common">
                                <select class="select" name="contact_type" title="Select Contact Type *" id="contact_type">
                                    <option value="">Select Contact Type *</option>
                                    <?php foreach ($this->contactType as $cvalue) { ?>
                                        <option value="<?php echo $cvalue['appointment_type_id']; ?>"><?php echo $cvalue['appointment_type']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label>Notes</label>
                            <div class="input">
                                <textarea name="notes" id="notes" placeholder="Notes"> </textarea>

                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <input type="button" class="submit_button cancel_button" onclick="gppClose('addEmergencyContact');" value="Cancel">
                            </div>
                            <div class="row last">
                                <input type="submit" class="submit_button" value="Add" name="submitcontact">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="gppOverlay"></div>

    </div>
    <!--Add Records popup end here-->

    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Appointments</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li><a href="/individual-appointment">View Appointments</a><span class="border"></span></li>
                <li class="active"><a href="/individual-appointment">Create Appointment</a><span class="border"></span></li>
            </ul>
        </div>
    </div>
    <div class="pageWrapper">
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <form method="post" action="" name="addappointmentForm" id="addappointmentForm">
            <div class="boxWrap clearfix">
                <div class="formWrapper50">
                    <!-- Set Date and time box start here-->
                    <?php
                    $dateResEdit = $CusConPlug->convetLocalTime($this->appoinmentData[0]['appointment_date'] . " " . $this->appoinmentData[0]['appointment_time']);
                    $showDateEdit = $dateResEdit[0];
                    $showtimeEdit = $dateResEdit[1];
                    ?>
                    <div class="hww clearfix" style="padding:0 10px;">
                        <div class="hww_sbox">
                            <label>Date:</label>
                            <div class="input datefield common">
                                <input type="text" readonly class="datepicker" name="appointment_date" value="<?php echo date("d-m-Y", strtotime($showDateEdit)); ?>" id="appointment_date" />
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Time:</label>
                            <div class="input timefield common">
                                <input type="text" readonly class="timepickerField" name="appointment_time" id="appointment_time" value="<?php echo date('g:i a', strtotime($showtimeEdit)); ?>" />
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Type:</label>
                            <div class="select common">
                                <select class="select" name="type" title="Select Contact Type" id="type" onchange="Getproviderlist(this.value);">
                                    <option value="">Select Contact Type </option>
                                    <?php foreach ($this->contactType as $cvalue) { ?>
                                        <option value="<?php echo $cvalue['appointment_type_id']; ?>" <?php echo (($this->appoinmentData[0]['type'] == $cvalue['appointment_type_id']) ? 'selected' : '') ?>><?php echo $cvalue['appointment_type']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Treatment Provider: (<a href="javascript:void(0)" onClick="gppOpen('addEmergencyContact');" >Add Provider</a>)</label>
                            <div class="select common" id='ajaxstate'>
                                <select class="select" name="provider" title="Select Provider" id="provider">
                                    <option value="">Select Provider</option>                                               
                                    <?php foreach ($this->providerData as $pvalue) { ?>
                                        <option value="<?php echo $pvalue['contacts_id']; ?>" <?php echo (($this->appoinmentData[0]['provider'] == $pvalue['contacts_id']) ? 'selected' : '') ?>><?php echo $pvalue['name']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>

                        <div class="hww_sbox">
                            <label>Select Purpose</label>
                            <div class="select common">
                                <input type="hidden" name="appointment_id"  value="<?php echo $this->appoinmentData[0]['appointment_id']; ?>" />
                                <select class="select" name="purpose" title="Select Purpose" id="purpose">

                                    <option value="">Select Provider</option>                                               
                                    <?php foreach ($purposeData as $pvalue) { ?>
                                        <option value="<?php echo $pvalue['purpose_type_id']; ?>" <?php echo (($this->appoinmentData[0]['purpose'] == $pvalue['purpose_type_id']) ? 'selected' : '') ?>><?php echo $pvalue['purpose_type']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>

                        <div class="hww_sbox">
                            <label>Specialty:</label>
                            <div class="input common">
                                <input type="text" name="specialty"  value="<?php echo $this->appoinmentData[0]['specialty']; ?>" />
                            </div>
                        </div>

                        <div class="hww_sbox">
                            <label>Status:</label>
                            <div class="select common">
                                <select class="select" name="status" title="Select status *" id="status">
                                    <option value="">Select status</option>
                                    <?php foreach ($this->statusType as $svalue) { ?>
                                        <option value="<?php echo $svalue['status_id']; ?>" <?php echo (($this->appoinmentData[0]['status'] == $svalue['status_id']) ? 'selected' : '') ?>><?php echo $svalue['status']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Description:</label>
                            <div class="input common">
                                <textarea name="description" rows="" cols="" style="border:0; width:100%"> <?php echo $this->appoinmentData[0]['description']; ?></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Set Date and time box end here-->
                    <div class="boxBtn clearfix" style="  margin-left: 20px;margin-right: 20px;">
                        <input type="submit" class="bb_btn" value="UPDATE APPOINTMENT" name="submit_appointment">
                    </div>
                </div>
            </div>
        </form>
        <script>
            $(document).ready(function(e) {
                DatePicker();
                function DatePicker() {
                    $(".datepicker").datepicker({
                        dateFormat: 'dd M yy',
                        minDate: 0
                                //defaultDate: new Date()
                    });
                    $('.timepickerField').timepicker({
                        hourGrid: 4,
                        minuteGrid: 10,
                        timeFormat: 'hh:mm tt'
                    });
                    $(".datepicker").datepicker();
                    $(".timepickerField").timepicker();
                }

                $("#addEmc").validate({
                    rules: {
                        contact_name: {
                            required: true,
                            maxlength: 30,
                        },
                        contact: {
                            required: true,
                            minlength: 10,
                            maxlength: 10,
                        },
                        contact_type: {
                            required: true,
                            maxlength: 30
                        },
                    },
                    messages: {
                        contact_name: {
                            required: "Please enter contact name.",
                            maxlength: "Name not  more then 30 characters."
                        },
                        contact: {
                            required: "Please enter  contact.",
                            minlength: "please enter valid contact.",
                            maxlength: "please enter valid contact."
                        },
                        contact_type: {
                            required: "Please enter contact type.",
                            maxlenght: "Contact type not more then 30 character."
                        },
                    },
                    submitHandler: function(form) {
                        var sdata = $("#addEmc").serialize()
                        $.ajax({
                            type: "POST",
                            url: "/individual/ajax/addecontact",
                            data: sdata,
                            success: function(res) {
                                var obj = jQuery.parseJSON(res);
                                var error = obj.error;
                                var msg = obj.msg;
                                if (error == '1') {
                                    $('#serverresponse').html('');
                                    $('#serverresponse').html('<div class="errorMsg"><span class="ui_icon error"></span>' + msg + '</div>');
                                } else {
                                    providerlist();
                                    $("#addEmc").find("input[type=text], textarea").val("");
                                    $('#serverresponse').html('');
                                    $('#serverresponse').html('<div class="successMsg"><span class="ui_icon success"></span>' + msg + '</div>');

                                    setTimeout(function() {
                                        gppClose('addEmergencyContact');
                                        // location.reload();                                  
                                    }, 2000);
                                }
                            }
                        });

                    },
                    errorPlacement: function(error, element) {
                        error.appendTo(element.parents("div.row"));

                    }
                });

                $("#addappointmentForm").validate({
                    rules: {
                        appointment_date: {
                            required: true
                        },
                        appointment_time: {
                            required: true
                        },
                        purpose: {
                            required: true,
                            maxlength: 50
                        },
                        status: {
                            required: true
                        }
                    },
                    messages: {
                        appointment_date: {
                            required: "Please select appointment date."
                        },
                        appointment_time: {
                            required: "Please select appointment date."
                        },
                        purpose: {
                            required: "Please enter purpose .",
                            maxlenght: "Not more then 50 character."
                        },
                        status: {
                            required: "Please select status."
                        }
                    },
                    errorPlacement: function(error, element) {
                        error.appendTo(element.parents("div.hww_sbox"));

                    }
                });
            });
            function providerlist() {
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/providerlist",
                    success: function(res) {
                        $("#provider").html(res);
                    }
                });

            }
            
            function Getproviderlist(contactId) {

                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/getproviderlist",
                    data: {contactId: contactId},
                    success: function(res) {
                        $("#ajaxstate").html(res);
                        custom_selectboxNew();
                    }
                });

            }

        </script>


    </div>
</div>
<!--Container end here--> 