<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE APPOINTMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 10/02/2015.
 * UPDATED: 10/02/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>

<div id="content-wrapper" class="clearfix">
    <!-- View Appointment Details popup start here-->
    <div id="viewAppointmentDetails" class="grobalPopup popuBxWrap"></div>
    <!-- View Appointment Details popup end here--> 

    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Appointments</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li class="active"><a href="/individual-appointment">View Appointments</a><span class="border"></span></li>
                <li><a href="individual-add-appointment">Create Appointment</a><span class="border"></span></li>
            </ul>
        </div>
    </div>
    <div class="pageWrapper">
        <div class="doubleGraphRow clearfix">
            <div class="graphRow clearfix">
                <div class="graphBox" style="margin-bottom:20px; min-height:440px">
                    <div class="graph calendarWrapper appointmentCalendar"></div>
                </div>
            </div>
            <div class="graphRow last clearfix">

                <div class="graphBox" style="padding:0; min-height:450px">
                    <ul class="ind_appointmentList" id="ind_appointmentListShow">
                        <li class="appointmentDate" id="appointmentDateShow"><?php echo date("d M, Y"); ?></li>
                        <?php
                        if (count($this->appoinmentData) > 0) {
                            foreach ($this->appoinmentData as $avalue) {
                                ?>
                                <li class="appointmentCell" id="del_appoint_<?php echo $avalue['appointment_id'] ?>" onclick="gppOpenView('viewAppointmentDetails', '<?php echo $avalue['appointment_id'] ?>');">
                                    <span class="time"><?php
                                        $dateRes = $plugin->convetLocalTime($avalue['appointment_date'] . " " . $avalue['appointment_time']);
                                        $showDate = $dateRes[0];
                                        $showtime = $dateRes[1];
                                        echo date('g:i A', strtotime($showtime))
                                        ?></span>
                                    <p><?php echo $avalue['purpose_type']; ?></p>
                                </li> 
                                <?php
                            }
                        } else {
                            ?>  
                            <li class="appointmentCell"> <p> Sorry no appointments found.</p></li>
<?php } ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <style>

    </style>
    <script>
        $(document).ready(function(e) {

            DatePicker();
            function DatePicker() {
                var events = [<?php echo $this->calenderData ?>];
                $(".calendarWrapper").datepicker({
                    dateFormat: 'dd M yy',
                    beforeShowDay: function(date) {
                        var result = [true, '', null];
                        var matching = $.grep(events, function(event) {
                            return event.Date.valueOf() === date.valueOf();
                        });

                        if (matching.length) {
                            result = [true, 'highlight', null];
                        }
                        return result;
                    },
                    onSelect: function(dateText, inst) { // on select date show appointment 
                        var currentdate = $.datepicker.formatDate('dd M, yy', new Date(dateText));
                        $('#appointmentDateShow').html(currentdate);
                        $(".global_loader").show();
                        $.ajax({
                            type: "POST",
                            url: '/individual/ajax/listappointment',
                            data: {appointment_date: dateText},
                            success: function(res) {
                                $(".global_loader").hide();
                                $('#ind_appointmentListShow').html(res);
                            }
                        });
                    }
                });

            }




        });
        function gppOpenView(e, id) {
            $('.global_loader').show();
            $('#' + e).html('');
            $('.popuBxWrap').fadeOut('fast');
            $('body').addClass('fixedBody');
            $('#' + e).fadeIn('fast');
            $.ajax({
                type: "POST",
                url: "/individual/appointment/view",
                data: {appointment_id: id}
            }).done(function(res) {
                $('.global_loader').hide();
                $('#' + e).html(res);
                $('#' + e).find('.gppbxContainer').css({'marginTop': '-' + ($('#' + e).find('.gppbxContainer').height() / 2) + 'px'}, 100, 'linear');
            });

        }

        function deletappointment(appointmentid, response, dateAppointment) {

            var confirmMsg = "Are you sure,you want to delete " + response + " from contact?";
            if (confirm(confirmMsg))
            {

                $(".global_loader").show();
                this.click;
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/deleteappointment",
                    data: {appointment_id: appointmentid},
                }).done(function(res) {
                    $("#responsedel").show();
                    $(".global_loader").hide('fast');
                    var obj = jQuery.parseJSON(res);
                    var error = obj.error;
                    var msg = obj.msg;
                    if (error == '0' && msg != '') {
                        $("#responsedel").html('<div class="successMsg"><span class="ui_icon success"></span>' + msg + '</div>');
                        $.ajax({
                            type: "POST",
                            url: '/individual/ajax/listappointment',
                            data: {appointment_date: dateAppointment},
                            success: function(res) {
                                $(".global_loader").hide();
                                $('#ind_appointmentListShow').html(res);
                            }
                        });
                        setTimeout(function() {
                            $(".global_loader").show();
                            gppClose('viewAppointmentDetails');
                            window.location.reload();
                        }, 1000);


                    } else {
                        $('#responsedel').html('<div class="errorMsg"><span class="ui_icon error"></span>' + msg + '</div>');
                    }
                    setTimeout(function() {
                        $("#responsedel").hide();
                    }, 1000);

                });

            } else {
                return false;
            }
        }
        function clickme() {
            //alert("suman");
        }
    </script>
</div>
<!--Container end here--> 
