<?php
/* * ***********************
 * PHTML: USE TO MANAGE ACTIVITY STAGE.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 21/01/2015.
 * UPDATED: 21/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
<link href="<?php echo $this->serverUrl() ?>/css/ui/colorpicker.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="<?php echo $this->serverUrl() ?>/js/jscolor.js"></script>

<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Activity Stage</div>

    </div>
    <div class="pageWrapper">
            <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <form method="post" action="" name="activitystage_form">
            <div class="boxWrap clearfix">
                <div class="formContainer formWrapperContainer" style="width: auto;">
                    <!-- Set Date and time box start here-->

                    <div class="tripple clearfix">                            
                        <div class="row">
                            <label>Stage</label>
                            <div class="select" style="width: auto;">
                                <select class="select" name="activity_name" id="activity_name">
                                    <option value="sleep">sleep (Min)</option>
                                    <option value="weight">weight (Gram)</option>
                                    <option value="waist">waist (cm)</option>
                                    <option value="height">height (cm)</option>
                                    <option value="bmi">BMI (kg/m2)</option>
                                    <option value="steps">Steps (Number)</option>
                                    <option value="distance">Distance (Meter)</option>
                                    <option value="time"> Time (Min)</option>
                                    <option value="calories">Calories (Cal)</option>
                                    <option value="LDL">LDL (mg/dL)</option>
                                    <option value="HDL">HDL (mg/dL)</option>
                                    <option value="triglycerides">Triglycerides (mg/dL)</option>
                                    <option value="systolic">Systolic (mm hg)</option>
                                    <option value="diastolic">Diastolic (mm Hg)</option>
                                    <option value="pulse">Pulse (bpm)</option>
                                    <option value="glucose">Glucose (mg/dL)</option>
                                    <option value="temperature">Temperature (F)</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label>Stage</label>

                            <div class="input">
                                <input type="text" placeholder="Stage Name" name="stage_name" id="stage_name" >
                            </div>
                        </div>
                        <div class="row last">
                            <label>Min</label>
                            <div class="input">
                                <input type="text" placeholder="Min Value" name="stage_min_val" id="stage_min_val" />
                            </div>
                              <p class="help"> if min value is last then use 1000000000  for max value.</p>
                        </div>
                    </div>
                    <div class="double clearfix">    
                        <div class="row">
                            <label>Max</label>
                            <div class="input">
                                <input type="text" placeholder="Max Value" name="stage_max_val" id="stage_max_val" />
                            </div>
                            <p class="help"> if max value is last limit use 1000000000 value.</p>
                        </div>
                        <div class="row last">
                            <label>Color</label>
                            <div class="input">
                                <input type="text" placeholder="Color" name="stage_color" class="color" />
                            </div>
                        </div>
                    </div>

                    <!-- Set Date and time box end here-->
                    <div class="boxBtn clearfix" style="margin-right: 20px;">
                        <input type="submit" class="bb_btn" value="Add " name="submit_activitysatge" id="submit_activitysatge">
                    </div>
                </div>
            </div>
        </form>
        <div class="table table_box_shadow cb_Grid">
            <div class="row clearfix head">
                <div class="col wd10"><span class="txt">S.no</span></div>
                <div class="col wd20"><span class="txt">Activity</span></div>
                <div class="col wd10"><span class="txt">Stage</span></div>
                <div class="col wd15"><span class="txt">Min</span></div>
                <div class="col wd15"><span class="txt">Max</span></div>
                <div class="col wd15"><span class="txt">Color</span></div>
                 <div class="col wd10"><span class="txt">Action</span></div>
            </div>
            <div class="row clearfix">
                 <?php if(count($this->activitystagedata)> 0){ 
                     $i=1;
                  foreach ($this->activitystagedata as $acsvalue) {
                    ?>
                <div class="col wd10"><span class="txt"><?php echo $i; ?></span></div>
                <div class="col wd20"><span class="txt"><?php echo $acsvalue['activity_name']; ?></span></div>
                <div class="col wd10"><span class="txt"><?php echo $acsvalue['stage_name']; ?></span></div>
                <div class="col wd15"><span class="txt"><?php echo $acsvalue['stage_min_val']; ?></span></div>
                <div class="col wd15"><span class="txt"><?php echo $acsvalue['stage_max_val']; ?></span></div>
                <div class="col wd15"><span class="txt"><label style="padding: 5px;background: <?php echo $acsvalue['stage_color']; ?>" ><?php echo $acsvalue['stage_color']; ?></label></span></div> 
                <div class="col wd10">
                	<span class="txt">
                        <ul class="action">
                        	<li class="delete"><a href="#" onclick="deleteCondition('<?php echo $acsvalue['activity_stage_id']; ?>')">Delete</a></li>
                        </ul>
                     </span>
                 </div>
               <?php $i++; } }else{ ?>
                 <div class="col wd100"><span class="txt">Sorry no record found</span></div>
                <?php } ?>
            </div>

        </div>
        <style>
            .boxWrap span.select{
                width: auto;
            }

        </style>

        <script>
            $(document).ready(function (e) {
                $('.cb_Grid .row').each(function () {
                    equalHeight($(this).find('span.txt'));
                });
                $('#stage_color').ColorPicker({
                    color: '#0000ff',
                    onShow: function (colpkr) {
                        $(colpkr).fadeIn(500);
                        return false;
                    },
                    onHide: function (colpkr) {
                        $(colpkr).fadeOut(500);
                        return false;
                    },
                    onChange: function (hsb, hex, rgb) {
                        $('#stage_color').val('#' + hex);
                    }
                });
            });
            
             function deleteCondition(STAGEID){
				if(STAGEID){
						if(confirm("Do you want to delete this condition?")) {
							this.click;
							$.ajax({
								type: "POST",
								url: "/individual/ajax/deleteactivitystage",
								data: { activity_stage_id: STAGEID}
								}).done(function (){
									window.location.href = "/individual-add-activity-stage";
								});
						}
					   else
					   {
						  return false;
					   } 
				}
			}

        </script>
    </div>
</div>
<!--Container end here--> 