<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE How I feel  FOR Individual.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 08/01/2015.
 * UPDATED: 08/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));

?>

<script src="<?php echo $this->serverUrl(); ?>/js/highcharts.js"></script>
<script src="<?php echo $this->serverUrl(); ?>/js/highcharts-more.js"></script>
<script src="<?php echo $this->serverUrl(); ?>/js/no-data-to-display.js"></script>
<script type="text/javascript">
    $(function () {
<?php if (empty($this->yaxisData_general) && empty($this->yaxisData_physical) && empty($this->yaxisData_mental)) { ?>
            Highcharts.setOptions({lang: {noData: "My Health Graph Data Not Available"}});
<?php } ?>
        $('#mood_graph').highcharts({
            chart: {
                type: 'bubble',
                zoomType: false
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'My Health',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 310,
                floating: true,
                x: -25,
                symbolRadius: 0,
                symbolWidth: 15,
                symbolHeight: 15,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }
            },
            plotOptions: {
                bubble: {
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '',
                        maxSize: 2

                    },
                    minSize: 20,
                    maxSize: 60,
                },
            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>],
                min: 0,
            },
            
            yAxis: [{
                    min: 0.01,
                    max: 4,
                    title: {text: 'My Health'},
                    labels: {
                        align: 'left',
                        x: 0,
                        y: -2
                    },
                    categories: ['Poor', 'Fair', 'Good', 'Very Good', 'Excellent']
                }
            ],
            tooltip: {
                crosshairs: true
            },
            series: [{
                    name: 'Overall',
                    color: 'orange',
                    data: [<?php echo $this->yaxisData_general; ?>]
                }, {
                    name: 'Physical',
                    color: 'gray',
                    data: [<?php echo $this->yaxisData_physical; ?>]
                }, {
                    name: 'Mental',
                    color: 'red',
                    data: [<?php echo $this->yaxisData_mental; ?>]
                }]
        });
    });
</script>

<div id="content-wrapper" class="clearfix">
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| My Health</div>
        <?php echo $this->partial('filter/filter_form'); ?> <!-- append filter page-->
    </div>
    <div class="pageWrapper">
        <div class="graphRow">
            <div class="graphBox">
                <div class="graph">
                    <div id="mood_graph"></div>
                </div>
            </div>
        </div>
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="table table_box_shadow cb_Grid">
            <form name="howIfeelForm" id="howIfeelForm" method="post">
                <div class="row clearfix graph_header">
                    <span class="graph_title">How are you feeling ? |</span>
                    <span class="date"><?php echo date('j M, Y') ?></span>
                </div>
                <div class="row clearfix">
                    <div class="col wd15"><span class="txt">&nbsp;</span></div>
                    <div class="col wd15"><span class="txt">Excellent</span></div>
                    <div class="col wd15"><span class="txt">Very Good</span></div>
                    <div class="col wd15"><span class="txt">Good</span></div>
                    <div class="col wd15"><span class="txt">Fair</span></div>
                    <div class="col wd15"><span class="txt">Poor</span></div>
                </div>
                <div class="row radioButtonWrap clearfix">
                    <div class="col wd15"><span class="txt">Overall</span></div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle <?php echo (($this->general_today_val == 3.9) ? 'selected' : '') ?>">
                                <input type="radio" name="general_mood_value" value="3.9" <?php echo (($this->general_today_val == 3.9) ? 'checked' : '') ?>  />
                            </span>
                        </span>
                    </div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle  <?php echo (($this->general_today_val == 3) ? 'selected' : '') ?>">
                                <input type="radio" name="general_mood_value" value="3.0" <?php echo (($this->general_today_val == 3) ? 'checked' : '') ?> />
                            </span>
                        </span>
                    </div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle <?php echo (($this->general_today_val == 2) ? 'selected' : '') ?>">
                                <input type="radio" name="general_mood_value" value="2.0"  <?php echo (($this->general_today_val == 2) ? 'chacked' : '') ?>  />
                            </span>
                        </span>
                    </div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle  <?php echo (($this->general_today_val == 1) ? 'selected' : '') ?> ">
                                <input type="radio" name="general_mood_value" value="1.0"  <?php echo (($this->general_today_val == 1) ? 'chacked' : '') ?> />
                            </span>
                        </span>
                    </div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle <?php echo (($this->general_today_val == 0.01) ? 'selected' : '') ?>">
                                <input type="radio" name="general_mood_value" value="0.01"  <?php echo (($this->general_today_val == 0.01) ? 'checked' : '') ?>  />
                            </span>
                        </span>
                    </div>
                </div>
                <div class="row radioButtonWrap clearfix">
                    <div class="col wd15"><span class="txt">Physical</span></div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle  <?php echo (($this->physical_today_val == 3.9) ? 'selected' : '') ?>">
                                <input type="radio" name="physical_mood_value" value="3.9"  <?php echo (($this->physical_today_val == 3.9) ? 'checked' : '') ?> />
                            </span>
                        </span>
                    </div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle <?php echo (($this->physical_today_val == 3) ? 'selected' : '') ?> ">
                                <input type="radio" name="physical_mood_value" value="3.0" <?php echo (($this->physical_today_val == 3) ? 'checked' : '') ?>   />
                            </span>
                        </span>
                    </div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle <?php echo (($this->physical_today_val == 2) ? 'selected' : '') ?>">
                                <input type="radio" name="physical_mood_value" value="2.0" <?php echo (($this->physical_today_val == 2) ? 'checked' : '') ?>    />
                            </span>
                        </span>
                    </div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle  <?php echo (($this->physical_today_val == 1) ? 'selected' : '') ?>">
                                <input type="radio" name="physical_mood_value" value="1.0" <?php echo (($this->physical_today_val == 1) ? 'checked' : '') ?>  />
                            </span>
                        </span>
                    </div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle  <?php echo (($this->physical_today_val == 0.01) ? 'selected' : '') ?> ">
                                <input type="radio" name="physical_mood_value" value="0.01"  <?php echo (($this->physical_today_val == 0.01) ? 'checked' : '') ?>  />
                            </span>
                        </span>
                    </div>
                </div>
                <div class="row radioButtonWrap clearfix">
                    <div class="col wd15"><span class="txt">Mental</span></div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle <?php echo (($this->mental_today_val == 3.9) ? 'selected' : '') ?>">
                                <input type="radio" name="mental_mood_value" value="3.9" <?php echo (($this->mental_today_val == 3.9) ? 'checked' : '') ?>   />
                            </span>
                        </span>
                    </div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle <?php echo (($this->mental_today_val == 3) ? 'selected' : '') ?>">
                                <input type="radio" name="mental_mood_value" value="3.0"   <?php echo (($this->mental_today_val == 3) ? 'checked' : '') ?>  />
                            </span>
                        </span>
                    </div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle <?php echo (($this->mental_today_val == 2) ? 'selected' : '') ?>">
                                <input type="radio" name="mental_mood_value" value="2.0"  <?php echo (($this->mental_today_val == 2) ? 'checked' : '') ?>  />
                            </span>
                        </span>
                    </div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle  <?php echo (($this->mental_today_val == 1) ? 'selected' : '') ?>">
                                <input type="radio" name="mental_mood_value" value="1.0"  <?php echo (($this->mental_today_val == 1) ? 'checked' : '') ?> />
                            </span>
                        </span>
                    </div>
                    <div class="col wd15">
                        <span class="txt">
                            <span class="radio bdr_rds_circle  <?php echo (($this->mental_today_val == 0.01) ? 'selected' : '') ?>">
                                <input type="radio" name="mental_mood_value" value="0.01" <?php echo (($this->mental_today_val == 0.01) ? 'checked' : '') ?> />
                            </span>
                        </span>
                    </div>
                </div>
                <div style="margin-left:20px" class="boxBtn clearfix">
                    <input type="submit" name="submit_mood" value="Submit" class="bb_btn">
                    <!--                   
                    <?php if ($this->isavalabledata == 1) { ?>
                                                                        <p class="success">You heave already save today mood.</p>
                    <?php } else { ?>
                                                                        <input type="submit" name="submit_mood" value="Submit" class="bb_btn">
                    <?php } ?>
                    -->
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function (e) {
        $('.cb_Grid .row').each(function () {
            equalHeight($(this).find('span.txt'));
        });

        $("#howIfeelForm").validate({
            rules: {
                general_mood_value: "required",
                physical_mood_value: "required",
                mental_mood_value: "required",
            },
            messages: {
                general_mood_value: {
                    required: "Please check general mood."
                },
                physical_mood_value: {
                    required: "Please check physical mood."
                },
                mental_mood_value: {
                    required: "Please check mental mood."
                }

            },
            submitHandler: function (form) {
                document.getElementById("howIfeelForm").submit();
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
                //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
            }
        });
    });


</script>
<!--Container end here--> 