<?php
/* * ***********************
 * PHTML: DISPLAY LIST OF STUDIES.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 23/4/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php $this->flashMessenger()->clearMessages(); ?>
<?php
if (isset($_SERVER['HTTP_X_REQUESTED_WITH']) && $_SERVER['HTTP_X_REQUESTED_WITH'] === 'XMLHttpRequest') {

    echo $this->partial('admin/elements/price/index');
    exit();
}
?>
<script>
    $(document).ready(function () {
        $('#PagingDiv').jscroll({
            loadingHtml: '<div  align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
            nextSelector: 'a.jscroll-next:last',
            contentSelector: '#PagingDiv'
        });
    });
</script>
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper addQuestion">
        <div class="pghFixed">
            <div class="pgh_title">| Pricing Matrix</div>
            <div style="border-bottom:1px solid rgb(89, 125, 219);" class="menuWrapper pghFixedsubMenuWrapper clearfix">
                <ul class="pre_login_menu">
                    <li><a href="<?= $this->serverUrl(); ?>/admin-matrix-caregiver">Caregiver</a><span class="border"></span></li>
                    <li class="active"><a href="<?= $this->serverUrl(); ?>/admin-matrix-researcher">Researcher</a><span class="border"></span></li>
                </ul>
            </div>
        </div>


        <div class="pmFby clearfix">
            <h2>Invoices</h2>

        </div>


        <div class="dataGrid wbr">
            <div class="dgRow dgHead clearfix">
                <div class="dgCol dgw20"><div class="dgcTxt">Invoices #</div></div>
                <div class="dgCol dgw20"><div class="dgcTxt">Amount Billing	</div></div>
                <div class="dgCol dgw20"><div class="dgcTxt">Billing Date	</div></div>
                <div class="dgCol dgw20"><div class="dgcTxt">Term</div></div>
                <div class="dgCol dgw20"><div class="dgcTxt">Invoice Status</div></div>
            </div>
            <div id="PagingDiv">
                <?= $this->partial('admin/elements/price/researcher');?>
            </div>

        </div>


    </div>
</div>
<!--Container end here--> 