<?php
/* * ***********************
 * PHTML: DISPLAY LIST OF STUDIES.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 23/4/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php $this->flashMessenger()->clearMessages(); ?>
<style>
    label.error {
        color: #cd0a0a !important; 
        width: auto !important;
        font-size: 12px !important;
    }
    ul li a {
        text-indent: 1px !important; 
        width: auto !important; 
        height: auto !important; 
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function () {
        $('.StatusPricing').click(function () {
            var id = $(this).attr('id');
            var status = $(this).attr('status');
            var actUrl = '<?= $this->basePath(); ?>/admin/price/changeStatus';
            var Data = {'id': id, 'status': status};
            if (confirm('Do you really want to change pricing matrix status?')) {
                showLoder('#Processing');
                $.ajax({
                    type: 'post',
                    url: actUrl,
                    data: Data,
                    success: function (msg) {
                        var result = $.parseJSON(msg);
                        if (result[0] == 'true') {
                            $('#' + result[1]).removeClass('disable-btn');
                            $('#' + result[1]).removeClass('enable-btn');
                            var className = (result[2] == 1) ? 'disable-btn' : 'enable-btn';
                            if (className == 'enable-btn') {
                                $('#' + result[1]).html('Enable');
                            } else {
                                $('#' + result[1]).html('Disable');
                            }
                            $('#' + result[1]).addClass(className);
                            $('#' + result[1]).attr('status', result[2]);
                        }
                        hideLoder('#Processing');
                    }
                })
            }
            return false;
        });
        $.validator.addMethod("price", function (value, element) {
            return this.optional(element) || /^(?:(?:0{1,4}\.1\d?)|(?:\d{0,3}[0-9](?:\.[0-9]\d?)?))$/i.test(value);
        }, "number in money format (xxxx.xx) is required.");
        $('#AddPriceForm').validate({
            rules: {
                price: {
                    required: true,
                    price: true
                },
                user: {
                    required: true,
                    digits: true
                },
                variable: {
                    required: true,
                    digits: true
                }
            },
            errorPlacement: function (error, element) {
                $(element).parent().parent().append(error);
            }
        });
    })
</script>
<div id="content-wrapper" class="clearfix">
    <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
        <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
            <div class="errorMsg">
                <span class="ui_icon error"></span>
                <?= $msg["error"]; ?>
            </div>
        <?php endif; ?>
        <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
            <div class="successMsg">
                <span class="ui_icon success"></span>
                <?= $msg["success"]; ?>
            </div>
        <?php endif; ?>
    <?php } ?>
    <div class="pageWrapper addQuestion">
        <div class="pghFixed">
            <div class="pgh_title">| Pricing Matrix</div>
            <div style="border-bottom:1px solid rgb(89, 125, 219);" class="menuWrapper pghFixedsubMenuWrapper clearfix">
                <ul class="pre_login_menu">
                    <li><a href="<?= $this->serverUrl(); ?>/admin-matrix-caregiver">Caregiver</a><span class="border"></span></li>
                    <li class="active"><a href="<?= $this->serverUrl(); ?>/admin-matrix-researcher">Researcher</a><span class="border"></span></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="formWrapperContainer frmFldData ">
            <a href="admin-matrix-researcher-invoice" class="btn_bxAb">Invoices</a>
            <?php
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="row clearfix">
                <label>Number of Users :</label>
                <div class="input fld">
                    <?= $this->formElement($form->get('user')); ?>
                    <?= $this->formElement($form->get('id')); ?>
                    <?= $this->formElement($form->get('type')->setValue(2)); ?>
                </div>
                <?= $this->formElementErrors($form->get('user'), array('class' => "error")); ?>
            </div>
<!--            <div class="row clearfix">
                <label>Number of Variables:</label>
                <div class="input fld">
                    <?= $this->formElement($form->get('variable')); ?>
                </div>
                <?= $this->formElementErrors($form->get('variable'), array('class' => "error")); ?>
            </div>-->
            <div class="row clearfix">
                <label>Cost of Subscription:</label>
                <div class="input fld">
                    <?= $this->formElement($form->get('price')); ?>
                </div>
                <?= $this->formElementErrors($form->get('price'), array('class' => "error")); ?>
            </div>
            <div class="input_button clearfix row clearfix" >
                <label>&nbsp;</label>
                <?= $this->formSubmit($form->get("submit")); ?>
            </div>
            <?php echo $this->form()->closeTag(); ?>	
            <?php if (!empty($PriceMarix)) { ?>
                <div class="apmCareBx" style="width: 100%;">
                    <?php
                    foreach ($PriceMarix as $Data) {
                        ?>
                        <div class="ampcbRow">
                            <?= $Data['user']; ?> users <!--and <?= $Data['variable']; ?> variables--> Subsriptions cost is <strong>$<?= $Data['price']; ?></strong>
                            <ul class="clearfix ampcb_btn">
                                <li class="dataGridPass dataGrid">
                                    <a status="<?= $Data['status']; ?>" id="<?= $Data['id']; ?>" class="StatusPricing action-button <?= ($Data['status'] != 1) ? 'enable' : 'disable'; ?>-btn"><?= ($Data['status'] != 1) ? 'Enable' : 'Disable'; ?></a>
                                </li>
                                <li class="dataGridPass dataGrid">
                                    <a class="action-button edit-btn" href="<?= $this->serverUrl(); ?>/admin-matrix-researcher?sid=<?= base64_encode($Data['id']); ?>">Edit</a>
                                </li>
                            </ul>
                        </div>
                    <?php }
                    ?>
                </div>
                <?php
            }
            ?>
        </div>
    </div>
</div>
