<?php
if (!empty($Assessment)) {?>
<ul class="assesment_category" id="PagingUl">
<?php 
    foreach ($Assessment as $assessment) {
        ?>
        <li class="boxWrap assesment_list clearfix" custom="<?= $assessment['ass_id'];?>" onclick="gppOpen('userInformation');">
            <div class="assessment_img">
                <?php if (!empty($assessment['assessment_image'])) { ?>
                    <img src="<?php echo $this->serverUrl();?>/Assessment/<?= $assessment['assessment_image']; ?>" alt="" style="width:160px; height: 120px;" />
                <?php } else { ?>
                    <img src="<?php echo $this->serverUrl();?>/img/assesment_category_placeholder.jpg" alt="" />
                <?php } ?>

            </div>
            <div class="assesmentText">
                <h2><?= $assessment['ass_name']; ?></h2>
                <p><?= $assessment['assessment_desc']; ?></p>
                <p style="margin-top: 5px; color: #9e9e9e;">Published -<?= date('d M.Y H:i:s', $assessment['publish_date']); ?></p>
            </div>
        </li>
    <?php } ?>
    <li><a class="jscroll-next" href="<?php echo $this->serverUrl();?>/nonmember?cat_id=<?= base64_encode($cat_id); ?>&page=<?= base64_encode($page); ?>"></a></li>
</ul>
<?php } else { ?>
   <li class="boxWrap assesment_list clearfix">
        <div class="assessment_img" style="width:98%">
            No more assessment found
        </div>
    </li>
   <li><a class="jscroll-next" href="<?php echo $this->serverUrl();?>/nonmember?cat_id=<?= base64_encode($cat_id); ?>&page=<?= base64_encode($page); ?>"></a></li>

    <?php } ?>

