<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: SHIVENDRA SUMAN
 * CREATOR: 28/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
<!-- Container start here -->
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed pghFixedIndv">
            <div class="pgh_title clearfix">| Archival Data</div>
        </div>

        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>

        <div class="doubleGraphRow clearfix" style="background: #ffffff;">
            <div class="graphRow">
                <div class="graphBox">
                    <div class="graph_header">
                        <span class="graph_title">Please fill the fields below:</span>
                    </div>
                    <div class="graph">
                        <div class="formWrapperContainer addarchivalDateForm">
                            <form name="arichival_form" id="arichival_form" method="post">
                                <div class="row clearfix">
                                    <label class="form_label">Assessment</label>
                                    <div class="select fld">
                                        <select title="Select Assessment" class="select" name="assessment" id="assessment">
                                            <option value="" >Select Assessment </option>
                                            <?php
                                            if (count($this->assesmentList) > 0) {
                                                foreach ($this->assesmentList as $assvalue) {
                                                    ?>
                                                    <option value="<?= $assvalue['ass_id'] ?>"><?= $assvalue['ass_name'] ?></option>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>

                                <div class="double clearfix">
                                    <label class="form_label">Date *</label>
                                    <div class="fld clearfix">
                                        <div class="row">
                                            <div class="input datefield">
                                                <input type="text" placeholder="From" id="from_date" name="from_date" readonly class="datepicker" />
                                            </div>
                                        </div>
                                        <div class="row last">
                                            <div class="input datefield">
                                                <input type="text" placeholder="To" id="to_date" name="to_date" readonly class="datepicker" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <label class="form_label">Gender</label>
                                    <div class="select fld">
                                        <select title="Select Gender" class="select" name="gender" id="gender">
                                            <option value="">Select Gender</option>
                                            <option value="m">Male</option>
                                            <option value="f">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="double clearfix">
                                    <label class="form_label">Age</label>
                                    <div class="fld clearfix">
                                        <div class="row">
                                            <div class="select">
                                                <select title="From" class="select" name="from_age" id="from_age">
                                                    <option value="">From</option>
                                                    <?php for ($i = 1; $i <= 150; $i++) {
                                                        ?>
                                                        <option value="<?php echo $i ?>" ><?php echo $i ?></option>
                                                        <?php $i = $i + 9;
                                                    }
                                                    ?>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row last">
                                            <div class="select">
                                                <select title="To" class="select" name="to_age" id="to_age">
                                                    <option value="">From</option>
                                                    <?php for ($j = 10; $j <= 150; $j++) {
                                                        ?>
                                                        <option value="<?php echo $j ?>" ><?php echo $j ?></option>
                                                        <?php $j = $j + 9;
                                                    }
                                                    ?>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <label class="form_label">No. Of Individuals *</label>
                                    <div class="input fld">
                                        <input type="number" min="1" maxlength="5" class="number_only" id="no_of_individuals" name="no_of_individuals" placeholder="No. Of Individuals *" />
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <label class="form_label">Education</label>
                                    <div class="select fld">
                                        <select title="Select Education" class="select" name="education" id="education">
                                            <option value="">select education</option>
                                            <?php
                                            if (count($this->education) > 0) {
                                                foreach ($this->education as $eduvalue) {
                                                    ?>
                                                    <option value="<?= $eduvalue['education_id'] ?>"><?= $eduvalue['highest_degree_name'] ?></option>
                                                <?php
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <label class="form_label">Race / Ethnicity</label>
                                    <div class="select fld">
                                        <select title="Select Ethnicity" class="select" name="ethnicity" id="ethnicity">
                                            <option value="">select ethnicity</option>
                                            <?php
                                            if (count($this->ethnicity) > 0) {
                                                foreach ($this->ethnicity as $ethvalue) {
                                                    ?>
                                                    <option value="<?= $ethvalue['ethnicity_id'] ?>"><?= $ethvalue['ethnicity_name'] ?></option>
    <?php
    }
}
?>
                                        </select>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <label class="form_label">Country</label>
                                    <div class="select fld">
                                        <select title="Select Your Country " class="select" name="country" id="country" onchange="return getState(this.value)">
                                            <option value="">Select Your Country</option>
                                            <?php
                                            $countryArr = $this->country;
                                            foreach ($countryArr as $val):
                                                ?>
                                                <option value="<?php echo $val['country_id']; ?>" ><?php echo $val['country_name']; ?></option>
<?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <label class="form_label">State</label>
                                    <div class="select fld" id="ajaxstate">
                                        <select title="Select Your State" class="select" name="state" id="state" onchange="return getCounty(this.value)">
                                            <?php if (count($this->states) > 0) { ?>
                                                <option value="">Select State</option>
                                                <?php foreach ($this->states as $vals) { ?>
                                                    <option value="<?php echo $vals['state_id']; ?>" <?php echo (isset($this->contactDetails[0]['state_id']) ? (($this->contactDetails[0]['state_id'] == $vals['state_id']) ? 'selected' : '') : ''); ?>><?php echo $vals['state_name']; ?></option>
    <?php } ?>
<?php } else { ?>
                                                <option value="">No State</option>
<?php } ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <label class="form_label">County</label>
                                    <div id="ajaxcounty">
                                        <div class="select fld">
                                            <select title="Select Your County" class="select" name="county" id="county">
                                                <?php if (count($this->county) > 0) { ?>
                                                    <option value="">Select County</option>
                                                    <?php foreach ($this->county as $valc) { ?>
                                                        <option value="<?php echo $valc['county_id']; ?>"><?php echo $valc['county_name']; ?></option>
    <?php } ?>
<?php } else { ?>
                                                    <option value="">No County</option>
<?php } ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--                                   <div class="row clearfix">
                                                                    <label class="form_label">Source</label>
                                                                    <div class="select fld">
                                                                        <select title="Select Source" class="select" name="source" id="source">
                                                                            <option value="">select Source</option>
                                <?php
                                if (count($this->validic_source) > 0) {
                                    foreach ($this->validic_source as $valivalue) {
                                        ?>
                                                                                            <option value="<?= $valivalue['source'] ?>"><?= $valivalue['source_name'] ?></option>
    <?php
    }
}
?>
                                                                        </select>
                                                                    </div>
                                                                </div>-->
                                <!--                                <div class="row clearfix">
                                                                    <input type="submit" value="Submit" name="submit" class="submit_button" style="width:220px; margin:auto" />
                                                                </div>-->
                                <!--                            </form>-->
                        </div>
                    </div>
                </div>
            </div>
            
              <?php
                $SetArray = array(
                    'Height',
                    'Weight',
                    'PhysicalData',
                    'Cholesterol',
                    'Pressure',
                    'Glucose',
                    'SleepRecord',
                    'Temperature'
                );               
                ?>
            <div class="graphRow last">
                <div class="graphBox" style="min-height:482px;">
                    <div class="graph_header">
                        <span class="graph_title">Select Source </span>
                    </div>
                    <div class="graph">
                        <div class="formWrapperContainer">
                            <div class="row clearfix">
                                <ul class="archivalDataList archivalDataListNew">
                                    <li class="clearfix">
                                        <div class="checkboxRWrapper row"><input type="checkbox" id="height_meas" name="height_meas" class="Element" /><label for="height_meas">Height</label></div> 
                                        <div class="row">
                                            <div class="select" id="source_height_div" style="display: none">
                                                <select title="Select Source" class="select ElementInput" name="source_height" id="source_height"  >
                                                    <option value="">select Source</option>
                                                    <?php
                                                    if (count($this->validic_source) > 0) {
                                                        foreach ($this->validic_source as $valivalue) {
                                                            ?>
                                                            <option value="<?= $valivalue['source'] ?>"><?= $valivalue['source_name'] ?></option>
    <?php
    }
}
?>
                                                    <option value="manual">Manual</option>
                                                </select>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="checkboxRWrapper row"><input type="checkbox" id="weight_meas" name="weight_meas" class="Element" /><label for="weight_meas">Weight</label></div> 
                                        <div class="row">
                                            <div class="select" id="source_weight_div" style="display: none">
                                                <select title="Select Source" class="select ElementInput" name="source_weight" id="source_weight" >
                                                    <option value="">select Source</option>
                                                    <?php
                                                    if (count($this->validic_source) > 0) {
                                                        foreach ($this->validic_source as $valivalue) {
                                                            ?>
                                                            <option value="<?= $valivalue['source'] ?>"><?= $valivalue['source_name'] ?></option>
    <?php
    }
}
?>
                                                    <option value="manual">Manual</option>
                                                </select>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="checkboxRWrapper row"><input type="checkbox" id="steps_meas" name="steps_meas" class="Element" /><label for="steps_meas">Steps</label></div> 
                                        <div class="row">
                                            <div class="select" id="source_steps_div" style="display: none">
                                                <select title="Select Source" class="select ElementInput" name="source_steps" id="source_steps" >
                                                    <option value="">select Source</option>
                                                    <?php
                                                    if (count($this->validic_source) > 0) {
                                                        foreach ($this->validic_source as $valivalue) {
                                                            ?>
                                                            <option value="<?= $valivalue['source'] ?>"><?= $valivalue['source_name'] ?></option>
    <?php
    }
}
?>
                                                    <option value="manual">Manual</option>
                                                </select>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="checkboxRWrapper row"><input type="checkbox" id="sleep_meas" name="sleep_meas" class="Element" /><label for="sleep_meas">Sleep</label></div> 
                                        <div class="row">
                                            <div class="select" id="source_sleep_div" style="display: none">
                                                <select title="Select Source" class="select ElementInput" name="source_sleep" id="source_sleep">
                                                    <option value="">select Source</option>
                                                    <?php
                                                    if (count($this->validic_source) > 0) {
                                                        foreach ($this->validic_source as $valivalue) {
                                                            ?>
                                                            <option value="<?= $valivalue['source'] ?>"><?= $valivalue['source_name'] ?></option>
    <?php
    }
}
?>
                                                    <option value="manual">Manual</option>
                                                </select>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="checkboxRWrapper row"><input type="checkbox" id="cholesterol_meas" name="cholesterol_meas" class="Element" /><label for="cholesterol_meas">Cholesterol</label></div> 
                                        <div class="row">
                                            <div class="select" id="source_cholesterol_div" style="display: none">
                                                <select title="Select Source" class="select ElementInput" name="source_cholesterol" id="source_cholesterol">
                                                    <option value="">select Source</option>
                                                    <?php
                                                    if (count($this->validic_source) > 0) {
                                                        foreach ($this->validic_source as $valivalue) {
                                                            ?>
                                                            <option value="<?= $valivalue['source'] ?>"><?= $valivalue['source_name'] ?></option>
    <?php
    }
}
?>
                                                    <option value="manual">Manual</option>
                                                </select>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="checkboxRWrapper row"><input type="checkbox" id="bloodpressure_meas" name="bloodpressure_meas" class="Element" /><label for="bloodpressure_meas">Blood Pressure</label></div> 
                                        <div class="row">
                                            <div class="select" id="source_bloodpressure_div" style="display: none">
                                                <select title="Select Source" class="select ElementInput" name="source_bloodpressure" id="source_bloodpressure" >
                                                    <option value="">select Source</option>
                                                    <?php
                                                    if (count($this->validic_source) > 0) {
                                                        foreach ($this->validic_source as $valivalue) {
                                                            ?>
                                                            <option value="<?= $valivalue['source'] ?>"><?= $valivalue['source_name'] ?></option>
    <?php
    }
}
?>
                                                    <option value="manual">Manual</option>
                                                </select>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="checkboxRWrapper row"><input type="checkbox" id="fastingglucose_meas" name="fastingglucose_meas" class="Element" /><label for="fastingglucose_meas">Fasting Glucose</label></div> 
                                        <div class="row">
                                            <div class="select" id="source_fastingglucose_div" style="display: none">
                                                <select title="Select Source" class="select ElementInput" name="source_fastingglucose" id="source_fastingglucose">
                                                    <option value="">select Source</option>
                                                    <?php
                                                    if (count($this->validic_source) > 0) {
                                                        foreach ($this->validic_source as $valivalue) {
                                                            ?>
                                                            <option value="<?= $valivalue['source'] ?>"><?= $valivalue['source_name'] ?></option>
    <?php
    }
}
?>
                                                    <option value="manual">Manual</option>
                                                </select>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="checkboxRWrapper row"><input type="checkbox" id="temperature_meas" name="temperature_meas" class="Element"/><label for="temperature_meas">Temperature</label></div> 
                                        <div class="row">
                                            <div class="select" id="source_temperature_div" style="display: none">
                                                <select title="Select Source" class="select ElementInput" name="source_temperature" id="source_temperature" >
                                                    <option value="">select Source</option>
                                                    <?php
                                                    if (count($this->validic_source) > 0) {
                                                        foreach ($this->validic_source as $valivalue) {
                                                            ?>
                                                            <option value="<?= $valivalue['source'] ?>"><?= $valivalue['source_name'] ?></option>
    <?php
    }
}
?>
                                                    <option value="manual">Manual</option>
                                                </select>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="row clearfix">
                                <input type="submit" value="Submit" class="submit_button" style="width:220px; margin:auto" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </form>

        </div>
    </div>
</div>

<script>
    $(document).ready(function (e) {
        DatePicker();
        function DatePicker() {
            $("#from_date").datepicker({
                dateFormat: 'dd-mm-yy',
                maxDate: 0,
                onClose: function (selectedDate) {
                    $("#to_date").datepicker("option", "minDate", selectedDate);
                }
            });
            $("#to_date").datepicker({
                dateFormat: 'dd-mm-yy',
                maxDate: 0,
                onClose: function (selectedDate) {
                    $("#from_date").datepicker("option", "maxDate", selectedDate);
                }
            });
            $(".datepicker").datepicker("setDate", new Date());
        }

        $(".number_only").bind("keydown", function (event) {

            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                    // Allow: Ctrl+A

                            (event.keyCode == 65 && event.ctrlKey === true) ||
                            // Allow: home, end, left, right

                                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                        // let it happen, don't do anything

                        return;

                    } else {

                        // Ensure that it is a number and stop the keypress

                        if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {

                            event.preventDefault();

                        }

                    }

                });



        $("#arichival_form").validate({
            rules: {
                //assessment: {required: true},
                no_of_individuals: {required: true},
                from_date: {required: true},
                to_date: {required: true}
            },
            messages: {
//                assessment: {
//                    required: "Please select assessment."
//                },
                no_of_individuals: {
                    required: "Please enter number of indivuduals."
                },
                from_date: {
                    required: "Please select start date."
                },
                to_date: {
                    required: "Please select end date."
                },
         

            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
                //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
            }
        });

        $('#from_age').on('change', function () {
            var ageFrom = $(this).val();
            $('#to_age option').each(function () {
                if ((parseInt(ageFrom) >= parseInt($(this).val())) || $(this).val() == '') {
                    $(this).attr('disabled', 'disabled');
                    $(this).css('background', '#cccccc');
                } else {
                    $(this).prop('disabled', false);
                    $(this).parent().val($(this).val());
                    $(this).parent().parent().find('span.select').remove();
                    $(this).parent().parent().find('select.select').each(function () {
                        if ($(this).next('span.select').length == '0') {
                            var title = $(this).attr('title');
                            if ($('option:selected', this).val() != '')
                                title = $('option:selected', this).text();
                            $(this)
                                    .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                                    .after('<span class="select">' + title + '</span>')
                                    .change(function () {
                                        val = $('option:selected', this).text();
                                        $(this).next().text(val);
                                    });
                        }
                    });
                    return false;
                }
            });

        });

    });
    function getState(countryId) {
        $.ajax({
            type: "POST",
            url: "/researcher/researcherajax/getstatesdata",
            data: {countryId: countryId}
        }).done(function (msg) {
            $('#ajaxstate').html(msg);
            custom_selectboxNew();
        });
    }

    function getCounty(stateId) {
        $.ajax({
            type: "POST",
            url: "/researcher/researcherajax/getcounty",
            data: {stateId: stateId}
        }).done(function (msg) {
            $('#ajaxcounty').html(msg);
            custom_selectboxcounty();
        });
    }



</script>