<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: SHIVENDRA SUMAN
 * CREATOR: 28/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed pghFixedIndv">
            <div class="pgh_title clearfix">| Archival Data</div>
        </div>

        <div class="boxWrap" style="padding:0">
            <!-- Invoice table start here -->
            <?php if (count($this->archData) > 0) { ?>
                <div class="table cb_Grid">
                    <div class="row clearfix head">
                        <div class="col wd30"><span class="txt">Requested Date</span></div>
                        <div class="col wd30"><span class="txt">Status</span></div>
                        <div class="col wd30"><span class="txt">Download</span></div>                   
                    </div>
                    <?php foreach ($this->archData as $value) { ?>
                        <div class="row clearfix">
                            <div class="col wd30"><span class="txt"><?php echo date("j M, Y", ($value['creation_date'] / 1000)); //date("d M Y", $value['creation_date']);     ?></span></div>
                            <div class="col wd30"><span class="txt wd30"><?php echo ($value['status'] == 0 ? "Pending" : "Completed") ?></span></div>
                            <?php
                            if ($value['status'] == 0) {
                                $download = "Pending";
                            } else {
                               $dir =$_SERVER['REQUEST_SCHEME']."://".$_SERVER['HTTP_HOST'] . '/ArchivalData/' . $value['id'] . "/" . $value['id'] . '.zip';
                                $download = "<a href='".$dir."' target='_blank'>Click To Download</a>";
                            }
                            ?>
                            <div class="col wd30"><span class="txt"><?php echo $download; ?></span></div>
                        </div>
                    <?php } ?>
                </div>
            <?php } else { ?>
                <div class="errorMsg" style="display: block !important;">
                    <span class="ui_icon error"></span>No. record found. 
                </div>
            <?php } ?>
            <!-- Invoice table en here -->
        </div>

    </div>
</div>