<?php if (count($description) > 0) { ?>
    <?php foreach ($description AS $descriptionArr) { ?>
        <h2>
            <?= $descriptionArr['common_name']; ?> (ICD Code Range: <?= $descriptionArr['code_minrange'] ."&nbsp;-&nbsp;". $descriptionArr['code_maxrange']; ?>)
        </h2>
        <div class="textCondition">
            <div><strong>Medical Name:</strong> <?= $descriptionArr['media_name']; ?></div>
            <div><strong>Common Name:</strong> <?= $descriptionArr['common_name']; ?></div>
            <div class="dynamicData">
                <strong>Description:</strong> <?= $descriptionArr['description']; ?>
            </div>
        </div>
        <div class="scr_subCondition">
            <ul class="clearfix">
                <?php foreach($description AS $subdescriptionArr) {?>
                    <li>
                        <a href="javascript:void(0)" onclick="getConditiondescription(<?= $subdescriptionArr['sub_id'];?>, '<?= $subdescriptionArr['sub_common_name'];?>');">
                            <?= $subdescriptionArr['sub_common_name'];?>
                        </a>
                    </li>

                <?php } ?>
            </ul>
        </div>
        <?php break; ?>
    <?php } ?>
<?php } ?>


<script>
$(function(){
	$('.dynamicData').each(function(index, element) {
        $(this).find('a').attr({'target':'_blank'});
    });
})
</script>