<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE ASSESMENT FORMULA.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 19/02/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->flashMessenger()->clearMessages();
?>
<script>


    function addMore(master, clone) {
        $(document).on("click", ".AddMore", function () {
            var Obj = $(this).parent().parent().find('#' + clone).clone();
            Obj.attr('id', '');
            Obj.attr('class', 'clone');
            Obj.find('span.select').remove();
            Obj.find('.OldClearBoth').remove();

            Obj.find('select.select').each(function () {
                if ($(this).next('span.select').length == '0') {
                    var title = $(this).attr('title');
                    if ($('option:selected', this).val() != '')
                        title = $('option:selected', this).text();
                    $(this)
                            .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                            .after('<span class="select">' + title + '</span>')
                            .change(function () {

                                val = $('option:selected', this).text();
                                $(this).next().text(val);
                            });
                }
            });
            var remove = '<div class="addMoreQOption Remove"><div class="dlt_qOption" style="left:0">X</div>Remove Operator Set</div><div style="clear: both;"></div>';
            Obj.append(remove);
            $('#' + master).append(Obj);
        })

        $(document).on("click", ".Remove", function () {
            $(this).parent().remove();
        });
    }
    var FormulaComplex = new Array();
    var FormulaResponse = new Array();
    function getFormulaCount() {
        FormulaComplex = new Array();
        FormulaResponse = new Array();
        $('.FormulaComplex').each(function () {
            FormulaComplex.push($(this).val());
        })
        $('.FormulaResponse').each(function () {
            FormulaResponse.push($(this).val());
        })
    }



    $(document).ready(function () {

        addMore('MasterDiv', 'cloneDiv');

        var previouscomp;
        var previouscomptext;
        $(document).on('click', '.FormulaComplex', function () {
            previouscomp = this.value;
            previouscomptext = this.options[this.selectedIndex].innerHTML;
        });
        $(document).on('change', '.FormulaComplex', function () {
            if ($.inArray($(this).val(), FormulaComplex) !== -1) {
                alert('Already selected in other condition.');
                $(this).val(previouscomp);
                alert(previouscomp);
                alert(previouscomptext);
                $(this).parent().find('span.select').html(previouscomptext);

            }
            getFormulaCount();

        });


        var previousresp;
        var previousresptext;
        $(document).on('click', '.FormulaResponse', function () {
            previousresp = this.value;
            previousresptext = this.options[this.selectedIndex].innerHTML;
        });
        $(document).on('change', '.FormulaResponse', function () {
            if ($.inArray($(this).val(), FormulaComplex) !== -1) {
                alert('Already selected in other condition.');
                $(this).val(previouscomp);
                $(this).parent().find('span.select').html(previousresptext);

            }
            getFormulaCount();

        });


        var i = $('.fsCondition').length;
        var iComp = $('.comp').length;
        var formulaField = new Array();

        $('#FormulaForm').submit(function () {
            var type = $('input[name=formula]:checked', '#FormulaForm').val();

            var Obj = $('.' + type).clone();
            Obj.removeClass(type);

            if (type == "complex") {
                $('.FormulaComplex').each(function () {
                    Obj.find('.FormulaComplex option[value="' + $(this).val() + '"]').remove();
                })

                if (Obj.find('.FormulaComplex option').length == 0) {
                    alert("All formula for complex variable already set.");
                    gppClose('formulaChoose');
                    return false;
                }
            } else if (type == "queResp") {

                $('.FormulaResponse').each(function () {
                    Obj.find('.FormulaResponse option[value="' + $(this).val() + '"]').remove();
                })

                if (Obj.find('.FormulaResponse option').length == 0) {
                    alert("All formula for question response already set.");
                    gppClose('formulaChoose');
                    return false;
                }
            }
            iComp++;

            Obj.find('.formula_id').remove();
            Obj.find('span.select').remove();
            Obj.find('.RemoveConditionMain').remove();

            Obj.find('.clone').remove();
            Obj.find('#MasterDiv1').attr('id', 'MasterDiv' + iComp);
            Obj.find('#cloneDiv1').attr('id', 'cloneDiv' + iComp);
            Obj.find('select.select').each(function () {
                if ($(this).next('span.select').length == '0') {
                    var title = $(this).attr('title');
                    if ($('option:selected', this).val() != '')
                        title = $('option:selected', this).text();
                    $(this)
                            .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                            .after('<span class="select">' + title + '</span>')
                            .change(function () {

                                val = $('option:selected', this).text();
                                $(this).next().text(val);
                            });
                }
            });
            var remove = '<div class="addMoreQOption RemoveCondition"><div class="dlt_qOption" style="left:0">X</div></div>';

            addMore('MasterDiv' + iComp, 'cloneDiv' + iComp);
            i++;


            if (type == 'complex') {
                Obj.find('select').each(function () {
                    $(this).attr('name', $(this).attr('name').replace(new RegExp("[0-9]", "g"), i));
                });
                Obj.find('.complexhidden').attr('name', Obj.find('.complexhidden').attr('name').replace(new RegExp("[0-9]", "g"), i));

            }
            if (type == "queResp") {
                Obj.find('select').each(function () {
                    $(this).attr('name', $(this).attr('name').replace(new RegExp("[0-9]", "g"), i));
                });
                Obj.find('.responseHidden').attr('name', Obj.find('.responseHidden').attr('name').replace(new RegExp("[0-9]", "g"), i));

            }


            Obj.append(remove);
            $('.formulaSetup').append(Obj);
            getFormulaCount();

            $('.fsCondition').each(function (index) {
                $(this).find('.fscTitle').html('Condition ' + (parseInt(index) + 1));
            });

            gppClose('formulaChoose');
        })


        $(document).on("click", ".RemoveCondition", function () {
            getFormulaCount();
            $(this).parent().remove();
            i--;
        })



    })

</script>


<div class="grobalPopup popuBxWrap" id="formulaChoose">
    <div class="gppBox">
        <div class="gppbxContainer">
            <div class="gppTitle">
                Formula Setup<div class="gppClose" onclick="gppClose('formulaChoose');">X</div>
            </div>
            <div class="formWrapperContainer">
                <form method="post" action="javascript:void(0);" id="FormulaForm">
                    <div class="row clearfix">
                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap">
                                <span class="radio bdr_rds_circle selected"><input type="radio" checked="checked" name="formula" value="complex" id="formula2"></span>
                                <label for="formula2">Formula for complex variable</label>
                            </div>
                        </div>

                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap">
                                <span class="radio bdr_rds_circle "><input type="radio" name="formula" value="queResp" id="formula1"></span>
                                <label for="formula1">Formula for question response </label>
                            </div>
                        </div>

                    </div>
                    <div class="row last">
                        <div class="input_button">
                            <input type="submit" value="Done" id="c_submit" class="submit_button" name="c_submit">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="gppOverlay"></div>
</div>



<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Manage Self Assessment - <?= $assessment['ass_name']; ?></div>
        </div>
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?= $msg["success"]; ?>
                </div>
            <?php endif; ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?= $msg["error"]; ?>
                </div>
            <?php endif; ?>
            
        <?php } ?>
        <?php if (empty($assessmentVar)): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    Need at least one mandatory question to create formula.
                </div>
            <?php endif; ?>

        <div class="pageTitle">Upload a Reference Table</div>

        <div class="pageTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse diam nibh, scelerisque quis ante pulvinar, condimentum fringilla purus. Nulla at blandit eros. Phasellus interdum ultrices ipsum in fringilla. Sed non sem in nunc pharetra malesuada. Morbi purus enim, laoreet at urna at, fringilla dignissim erat. Nam lorem ex, commodo quis lectus posuere, semper auctor dolor. Morbi justo lectus, molestie maximus imperdiet id, luctus id justo. </div>

        <div class="browsDocList">

            <style>
                .addMoreQOption.RemoveCondition{position:absolute; top:10px; right:-5px;}
                .addMoreQOption.RemoveCondition .dlt_qOption{ background-image:url(../../img/dlt_icon_hover.png); }
                .addMoreQOption.RemoveCondition .dlt_qOption:hover{ background-image: url(../../img/dlt_icon_normal.png);}
                .addMoreQOption.RemoveConditionMain{position:absolute; top:10px; right:-5px;}
                .addMoreQOption.RemoveConditionMain .dlt_qOption{ background-image:url(../../img/dlt_icon_hover.png); }
                .addMoreQOption.RemoveConditionMain .dlt_qOption:hover{ background-image: url(../../img/dlt_icon_normal.png);}

                /*.formWrapperContainer.statusset .checkbox_col.radioLable{ float: none; width: auto;}
                .formWrapperContainer.statusset .checkbox_col .radio{ margin-top: -16px;}*/
            </style>
            <!--                <div class="formWrapperContainer statusset">
                                <div class="row clearfix">
                                    <div class="checkbox_col radioLable">
                                        <div class="checkbox_col radioButtonWrap">
                                            <span class="radio bdr_rds_circle selected"><input type="radio" checked="checked" id="formula11" value="queResp" name="formula"></span>
                                            <label for="formula11">Physical</label>
                                        </div>
                                    </div>
                                    <div class="checkbox_col radioLable">
                                        <div class="checkbox_col radioButtonWrap">
                                            <span class="radio bdr_rds_circle "><input type="radio" id="formula22" value="complex" name="formula"></span>
                                            <label for="formula22">Mental</label>
                                        </div>
                                    </div>
                                </div>
                            </div>-->



            <?php
            if (!empty($healthMetrixUpload)) {
                foreach ($healthMetrixUpload as $file) {
                    ?>
                    <div class="bdl_row clearfix">
                        <div class="bdlFile"><span class="index">1.</span><?php echo $file['name']; ?>.xls
                            <?php if (!$assessment['is_publish']) { ?>
                                <a href="admin-self-assesmentformula?sid=<?= $sid; ?>&file=<?= base64_encode($file['name']); ?>&type=remove"  onclick="return confirm('Are you sure you want to delete file?')">
                                    <div class="bdl_delete">
                                        X
                                    </div>
                                </a>
                            <?php } ?>
                        </div>
                    </div>
                    <?php
                }
            }
            ?>


        </div>
        <form method="post" enctype="multipart/form-data" id="UploadForm" action="admin-self-assesmentformula?sid=<?= $sid; ?>">
            <div class="browsDoc">
                <div class="bd_btn"  onChange="javascript:document.getElementById('UploadForm').submit();" onClick="javascript:document.getElementById('browsDoc').click();">Browse<input type="file" name="metrix_file" value="" id="browsDoc" /></div>
            </div>
        </form>

        <form method="post" id="FormulaFormMain" action="admin-self-assesmentformula?sid=<?= $sid; ?>">
            <div class="formulaSetup">
                <div class="fsTitle clearfix">
                    <h4>
                        Set up a Formula
                        <div class="infoBtn">Info</div>
                    </h4>
                    <div class="setFormulaBtn" onClick="gppOpen('formulaChoose');"><span class="icon"></span>Setup Another Formula</div>
                </div>
                <?php
                $complex = true;
                $queResp = true;
                $i = 1;
                $compCount = 1;
                $respCount = 1;
                if (!empty($formulaDataArr)) {
                    foreach ($formulaDataArr as $FormulaData) {
                        if ($FormulaData['formula_type'] == 'complex') {
                            $complex = false;
                            ?>

                            <div class="fsCondition formWrapperContainer <?php
                            if ($compCount == 1) {
                                echo 'complex';
                            }
                            ?> comp">
                                <div class="fscTitle">Condition <?php
                                    echo $i;
                                    ?></div>

                                <div class="addMoreQOption RemoveConditionMain">
                                    <a href="admin-self-assesmentformula?sid=<?= $sid; ?>&formula_id=<?= base64_encode($FormulaData['formula_id']); ?>">
                                        <div class="dlt_qOption" style="left:0">X</div>
                                    </a>    
                                </div>
                                <div class="row fsRow clearfix">
                                    <div class="fsr_cols setFsc">
                                        <div class="select">
                                            <select class="select FormulaComplex " name="col_name[<?= $i; ?>]">
                                                <option value="0">Please select</option>
                                                <?php
                                                if (!empty($healthMetrixArr)) {
                                                    foreach ($healthMetrixArr as $healthMetrix) {
                                                        ?>
                                                        <option <?php echo ($FormulaData['formula_health'] == $healthMetrix['health_id']) ? 'selected="selected"' : ''; ?> value="<?php echo $healthMetrix['health_id']; ?>"><?php echo $healthMetrix['type']; ?> - <?php echo $healthMetrix['col_name']; ?></option>
                                                        <?php
                                                    }
                                                }
                                                ?>

                                            </select>
                                            <input type="hidden" name="formula_type[<?= $i; ?>]" value="complex" class="complexhidden"/>
                                            <?php if (!empty($FormulaData['formula_id'])) { ?>
                                                <input type="hidden"  class="formula_id"  name="formula_id[<?= $i; ?>]" value="<?php echo $FormulaData['formula_id']; ?>"/>
                                            <?php } ?>
                                        </div>
                                    </div>


                                    <div class="fsr_fRow clearfix" <?php
                                    $count = 1;
                                    if ($count == 1) {
                                        ?>id="MasterDiv<?php echo $compCount; ?>"<?php } ?>>
                                         <?php
                                         $FormulaVar = explode(' ', $FormulaData['formula']);
                                         if (!empty($FormulaVar)) {
                                             foreach ($FormulaVar as $ForData) {
                                                 if ($count == 1) {
                                                     ?>
                                                    <div class="fsr_cols">
                                                        <div class="select">
                                                            <select class="select " name="var_oper[<?= $i; ?>][]">
                                                                <?php
                                                                if (!empty($assessmentVar)) {
                                                                    foreach ($assessmentVar as $VarData) {
                                                                        ?>  
                                                                        <option <?php echo ($ForData == $VarData['ques_variable']) ? 'selected="selected"' : ''; ?> value="<?php echo $VarData['ques_variable']; ?>"><?php echo $VarData['var_name']; ?></option>
                                                                        <?php
                                                                    }
                                                                }
                                                                ?>

                                                            </select>

                                                        </div>
                                                    </div>
                                                <?php } else { ?>
                                                    <!-- Clone Div Start -->
                                                    <?php if ($count % 2 == 0) { ?>
                                                        <div  <?php if ($count == 2) { ?>id="cloneDiv<?php echo $compCount; ?>"<?php } ?>>


                                                            <div class="fsr_cols fsrAction">
                                                                <div class="select">
                                                                    <select class="select " name="var_oper[<?= $i; ?>][]">
                                                                        <option <?php echo ($ForData == '+') ? 'selected="selected"' : ''; ?> value="+">+</option>
                                                                        <option <?php echo ($ForData == '-') ? 'selected="selected"' : ''; ?> value="-">-</option>
                                                                        <option <?php echo ($ForData == '/') ? 'selected="selected"' : ''; ?> value="/">/</option>
                                                                        <option <?php echo ($ForData == '*') ? 'selected="selected"' : ''; ?> value="*">*</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        <?php } ?>
                                                        <?php if ($count % 2 == 1) { ?>  
                                                            <div class="fsr_cols">
                                                                <div class="select">
                                                                    <select class="select " name="var_oper[<?= $i; ?>][]">
                                                                        <?php
                                                                        if (!empty($assessmentVar)) {
                                                                            foreach ($assessmentVar as $VarData) {
                                                                                ?>  
                                                                                <option <?php echo ($ForData == $VarData['ques_variable']) ? 'selected="selected"' : ''; ?> value="<?php echo $VarData['ques_variable']; ?>"><?php echo $VarData['var_name']; ?></option>
                                                                                <?php
                                                                            }
                                                                        }
                                                                        ?>
                                                                    </select>

                                                                </div>
                                                            </div>
                                                            <?php if ($count == 3) { ?><div style="clear: both;" class="OldClearBoth"></div><?php } ?>
                                                            <?php if ($count > 3) { ?>
                                                                <div class="addMoreQOption Remove"><div class="dlt_qOption" style="left:0">X</div>Remove Operator Set</div><div style="clear: both;"></div>
                                                            <?php } ?>
                                                        </div> 


                                                        <?php
                                                    }
                                                }
                                                ?>
                                                <?php
                                                $count++;
                                            }
                                        }
                                        ?>
                                        <div style="clear: both;"></div>
                                        <!-- Clone Div End -->
                                    </div>
                                    <div class="adnoset clearfix">
                                        <div class="addMoreQOption AddMore"><span class="icon"></span>Add New Operator Set</div>

                                    </div>
                                </div>


                            </div>
                            <script>
                                $(document).ready(function () {
                                    addMore('MasterDiv<?php echo $compCount; ?>', 'cloneDiv<?php echo $compCount; ?>');
                                })
                            </script>
                            <?php
                            $i++;
                            $compCount++;
                        } else if ($FormulaData['formula_type'] == 'response') {
                            $queResp = false;
                            ?>
                            <div class="fsCondition formWrapperContainer <?php
                            if ($respCount == 1) {
                                $respCount++;
                                echo "queResp";
                            }
                            ?>">
                                <div class="fscTitle">Condition <?php echo $i;
                            ?></div>

                                <div class="addMoreQOption RemoveConditionMain">
                                    <a href="admin-self-assesmentformula?sid=<?= $sid; ?>&formula_id=<?= base64_encode($FormulaData['formula_id']); ?>">
                                        <div class="dlt_qOption" style="left:0">X</div>
                                    </a>    
                                </div>


                                <div class="row fsRow clearfix">
                                    <div class="fsr_cols setFsc">
                                        <div class="select">
                                            <select class="select FormulaResponse " name="col_name[<?= $i; ?>]">
                                                <option value="0">Please select</option>
                                                <?php
                                                if (!empty($healthMetrixArr)) {
                                                    foreach ($healthMetrixArr as $healthMetrix) {
                                                        ?>
                                                        <option <?php echo ($FormulaData['formula_health'] == $healthMetrix['health_id']) ? 'selected="selected"' : ''; ?> value="<?php echo $healthMetrix['health_id']; ?>"><?php echo $healthMetrix['type']; ?> - <?php echo $healthMetrix['col_name']; ?></option>
                                                        <?php
                                                    }
                                                }
                                                ?>

                                            </select>
                                            <input type="hidden" name="formula_type[<?= $i; ?>]" value="response" class="responseHidden"/>
                                            <?php if (!empty($FormulaData['formula_id'])) { ?>
                                                <input type="hidden" name="formula_id[<?= $i; ?>]" class="formula_id" value="<?php echo $FormulaData['formula_id']; ?>"/>
                                            <?php } ?>
                                        </div>
                                    </div>
                                    <div class="fsr_fRow clearfix">
                                        <div class="fsr_cols">
                                            <div class="select">
                                                <div class="fsr_cols">
                                                    <div class="select">
                                                        <select class="select " name="que_resp[<?= $i; ?>]">
                                                            <?php
                                                            if (!empty($assessmentVar)) {
                                                                foreach ($assessmentVar as $VarData) {
                                                                    ?>  
                                                                    <option <?php echo ($FormulaData['response_question'] == $VarData['ques_id']) ? 'selected="selected"' : ''; ?> value="<?php echo $VarData['ques_id']; ?>"><?php echo $VarData['ques_question']; ?></option>
                                                                    <?php
                                                                }
                                                            }
                                                            ?>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <?php
                            $i++;
                        }
                    }
                }
                ?>
                <?php if ($complex) { ?>
                    <div class="fsCondition formWrapperContainer complex" >
                        <div class="fscTitle">Condition 1</div>

                        <div class="row fsRow clearfix">
                            <div class="fsr_cols setFsc">
                                <div class="select">
                                    <select class="select FormulaComplex " name="col_name[<?= $i; ?>]">
                                        <option value="0">Please select</option>
                                        <?php
                                        if (!empty($healthMetrixArr)) {
                                            foreach ($healthMetrixArr as $healthMetrix) {
                                                ?>
                                                <option value="<?php echo $healthMetrix['health_id']; ?>"><?php echo $healthMetrix['type']; ?> - <?php echo $healthMetrix['col_name']; ?></option>
                                                <?php
                                            }
                                        } else {
                                            ?>
                                            <option value="">No Record</option>
                                        <?php }
                                        ?>

                                    </select>
                                    <input type="hidden" name="formula_type[<?= $i; ?>]" value="complex" class="complexhidden"/>
                                </div>
                            </div>


                            <div class="fsr_fRow clearfix" id="MasterDiv">
                                <div class="fsr_cols">
                                    <div class="select">
                                        <select class="select " name="var_oper[<?= $i; ?>][]">
                                            <?php
                                            if (!empty($assessmentVar)) {
                                                foreach ($assessmentVar as $VarData) {
                                                    ?>  
                                                    <option value="<?php echo $VarData['ques_variable']; ?>"><?php echo $VarData['var_name']; ?></option>
                                                    <?php
                                                }
                                            } else {
                                                ?>
                                                <option value="">No Record</option>
                                            <?php }
                                            ?>

                                        </select>

                                    </div>
                                </div>
                                <!-- Clone Div Start -->
                                <div id="cloneDiv">

                                    <div class="fsr_cols fsrAction">
                                        <div class="select">
                                            <select class="select " name="var_oper[<?= $i; ?>][]">
                                                <option value="+">+</option>
                                                <option value="-">-</option>
                                                <option value="/">/</option>
                                                <option value="*">*</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="fsr_cols">
                                        <div class="select">
                                            <select class="select " name="var_oper[<?= $i; ?>][]">

                                                <?php
                                                if (!empty($assessmentVar)) {
                                                    foreach ($assessmentVar as $VarData) {
                                                        ?>  
                                                        <option value="<?php echo $VarData['ques_variable']; ?>"><?php echo $VarData['var_name']; ?></option>
                                                        <?php
                                                    }
                                                } else {
                                                    ?>
                                                    <option value="">No Record</option>
                                                <?php }
                                                ?>
                                            </select>

                                        </div>
                                    </div>

                                </div> 
                                <div style="clear: both;"></div>
                                <!-- Clone Div End -->
                            </div>
                            <div class="adnoset clearfix">
                                <div class="addMoreQOption AddMore"><span class="icon"></span>Add New Operator Set</div>

                            </div>
                        </div>


                    </div>
                    <?php
                    $i++;
                }
                ?>

                <?php if ($queResp) { ?>
                    <div class="fsCondition formWrapperContainer queResp">
                        <div class="fscTitle">Condition 2</div>

                        <div class="row fsRow clearfix">
                            <div class="fsr_cols setFsc">
                                <div class="select">
                                    <select class="select FormulaResponse " name="col_name[<?= $i; ?>]">
                                        <option value="0">Please select</option>
                                        <?php
                                        if (!empty($healthMetrixArr)) {
                                            foreach ($healthMetrixArr as $healthMetrix) {
                                                ?>
                                                <option value="<?php echo $healthMetrix['health_id']; ?>"><?php echo $healthMetrix['type']; ?> - <?php echo $healthMetrix['col_name']; ?></option>
                                                <?php
                                            }
                                        } else {
                                            ?>
                                            <option value="">No Record</option>

                                        <?php }
                                        ?>

                                    </select>
                                    <input type="hidden" name="formula_type[<?= $i; ?>]" value="response" class="responseHidden"/>
                                </div>
                            </div>
                            <div class="fsr_fRow clearfix">
                                <div class="fsr_cols">
                                    <div class="select">
                                        <div class="fsr_cols">
                                            <div class="select">
                                                <select class="select" name="que_resp[<?= $i; ?>]">
                                                    <?php
                                                    if (!empty($assessmentVar)) {
                                                        foreach ($assessmentVar as $VarData) {
                                                            ?>  
                                                            <option value="<?php echo $VarData['ques_id']; ?>"><?php echo $VarData['ques_question']; ?></option>
                                                            <?php
                                                        }
                                                    } else {
                                                        ?>
                                                        <option value="">No Record</option>
                                                    <?php }
                                                    ?>

                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <?php
                    $i++;
                }
                ?>
            </div>



            <div class="boxBtn bb_btn_list clearfix">
                <ul>
                    <li><a href="admin-self-question?sid=<?= $sid; ?>" class="bb_btn back">Back</a></li>
                    <!--<li><a href="admin-self-assesmentformula?sid=<?= $sid; ?>&publish=1" class="bb_btn">Skip & Publish</a></li>-->
                </ul>
                <ul style="float:right;">
                    <?php if (!empty($assessmentVar)) { ?>
                        <li><input type="submit" value="Save" class="bb_btn"/></li>
                    <?php } ?>
                    <?php if (!empty($formulaDataArr) && !empty($assessmentVar)) { ?>
                        <li><a style="height: 20px;" href="admin-self-complex-setting?sid=<?= $sid; ?>" class="bb_btn">Next ></a></li>
                        <?php } ?>

                </ul>
            </div>
        </form>
    </div>
</div>
<!--Container end here--> 
