<?php
    /*************************
        * PHTML: USE TO MANAGE THE THRESHOLD MATRIX  BODY MEASURMENT FUNCTION.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 31/12/2014.
        * UPDATED: --/--/----.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper addQuestion">
        <div class="pghFixed">
            <div class="pgh_title">| Manage Self Assessment</div>
        </div>
    
        <div class="aq_setOpt formWrapperContainer clearfix">
            <div class="row ass_name">
                <div class="input">
                    <input type="text" name="username" placeholder="Assessment Name">
                </div>
            </div>
            <div class="row clearfix">
                <div class="checkbox_col"> <span class="checkbox">
                    <input type="checkbox" id="recurring">
                    </span>
                    <label for="recurring">Recurring:</label>
                </div>
            </div>
            <div class="row clearfix">
                <div class="checkbox_col"> <span class="checkbox">
                    <input type="checkbox" id="update">
                    </span>
                    <label for="update">Update:</label>
                </div>
            </div>
            <div class="row">
                <div class="select">
                    <select class="select" title="Category">
                        <option value="">Category 1</option>
                        <option value="">Category 2</option>
                        <option onclick="gppOpen('selectCategory');">Non-Members</option>
                    </select>
                </div>
            </div>
        </div>
        <script>
            function quesListing(){
                $('.quesListing li.ql_row').each(function(index, element) {
                    $(this).find('.qlrc_number').html('Q:'+(parseInt(index)+1));
                    $(this).attr({'id':'qlr_'+(parseInt(index)+1)});
                    $(this).find('.qlr_move_up').attr({'onClick':'qlrUp("'+(parseInt(index))+'")'});
                    $(this).find('.qlr_move_down').attr({'onClick':'qlrDown("'+(parseInt(index)+2)+'")'});
                });
            }
            function qlrDown(id){
                $('#qlr_'+(parseInt(id)-1)).insertAfter('#qlr_'+(parseInt(id)));
                quesListing();
            }
            function qlrUp(id){
                $('#qlr_'+(parseInt(id)+1)).insertBefore('#qlr_'+(parseInt(id)));
                quesListing();
            }
          
            $(function(){
                QOptionAdd();
                quesListing();
                $('.addQuestion .sc_rightpanel').css({'height':$('.addQuestion .sc_leftpanel').height()-30});
            });
            function QOptionAdd(){
                var qo_option = '<div class="row"><div class="input"><input type="text" placeholder="Option Name" name=""></div></div>';
                var qo_value = '<div class="row value"><div class="input"><input type="text" placeholder="Value" name=""></div></div>';
                var qo_delete = '<div class="dlt_qOption">Delete</div>';
                $('#QOptionAdd').append('<div class="double clearfix">'+qo_option+''+qo_value+''+qo_delete+'</div>');
                if($('#QOptionAdd .double').length==1){
                    $('#QOptionAdd .double .dlt_qOption').hide();
                }
                else{
                    $('#QOptionAdd .double .dlt_qOption').show();
                }
                $('#QOptionAdd .double').each(function(index, element){
                    $(this).attr({'id':'qoRow_'+index});
                    $(this).find('.dlt_qOption').attr({'onclick':'dltQOptionBtn("qoRow_'+index+'");'});
                }); 
            }
            function dltQOptionBtn(id){
                $('#'+id).remove();
                if($('#QOptionAdd .double').length >=4){
                    $('.addMoreQOption').hide();
                }else{
                    $('.addMoreQOption').show();
                }
                if($('#QOptionAdd .double').length==1){
                    $('#QOptionAdd .double .dlt_qOption').hide();
                }
                else{
                    $('#QOptionAdd .double .dlt_qOption').show();
                }
                $('.addQuestion .sc_rightpanel').animate({'height':$('.addQuestion .sc_leftpanel').height()-30},200);
            }
            function addQOptionBtn(){
                QOptionAdd();
                if($('#QOptionAdd .double').length >=4){
                    $('.addMoreQOption').hide();
                }else{
                    $('.addMoreQOption').show();
                }
                $('.addQuestion .sc_rightpanel').animate({'height':$('.addQuestion .sc_leftpanel').height()-30},200);
            }
        </script>
        <div class="aqPanel clearfix">
            <div class="sc_leftpanel">
                <div class="setQuestion">
                    <div class="sq_title">Set Questions:</div>
                    <div class="formWrapperContainer">
                        <form action="" method="post">
                            <div class="row">
                                <div class="input">
                                    <input type="text" placeholder="Varibale" name="username">
                                </div>
                            </div>
                            <div class="row">
                                <div class="select">
                                    <select class="select" title="Variable Type">
                                        <option value="">Variable Type</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input">
                                    <textarea placeholder="Ask Questions"></textarea>
                                </div>
                            </div>
                            <div id="QOptionAdd"></div>
                            <div class="clearfix">
                                <div class="addMoreQOption" onClick="addQOptionBtn();"><span class="icon"></span>Add More</div>
                            </div>
                            <div class="aq_settings">
                                <h5>Settings:</h5>
                                <div class="clearfix">
                                    <div class="checkbox_col"> 
                                        <span class="checkbox">
                                            <input type="checkbox" id="mendatory">
                                        </span>
                                        <label for="mendatory">Mendatory</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row last">
                                <div class="input_button">
                                    <input type="submit" value="Submit Question" class="submitQ">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="sc_rightpanel">
                <div class="quesListing">
                    <ul class="clearfix">
                        <li class="ql_row">
                            <div class="qlr_content">
                                <div class="qlrc_number"></div>
                                <div class="qlrc_text">
                                    1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend nisi orci.
                                </div>
                            </div>
                            <div class="qlr_move">
                                <div class="qlr_move_up" title="Move Up">Up</div>
                                <div class="qlr_move_down" title="Move Down">Down</div>
                            </div>
                            <div class="ql_menu">
                                <div class="qpm_btn"></div>
                                <div class="qlm_option"> <span class="arrow"></span>
                                    <ul class="clearfix">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="ql_row">
                            <div class="qlr_content">
                                <div class="qlrc_number"></div>
                                <div class="qlrc_text">
                                    2Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend nisi orci.
                                </div>
                            </div>
                            <div class="qlr_move">
                                <div class="qlr_move_up" title="Move Up">Up</div>
                                    <div class="qlr_move_down" title="Move Down">Down</div>
                            </div>
                            <div class="ql_menu">
                                <div class="qpm_btn"></div>
                                <div class="qlm_option"> <span class="arrow"></span>
                                    <ul class="clearfix">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="ql_row">
                            <div class="qlr_content">
                                <div class="qlrc_number"></div>
                                <div class="qlrc_text">
                                    3Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend nisi orci.
                                </div>
                            </div>
                            <div class="qlr_move">
                                <div class="qlr_move_up" title="Move Up">Up</div>
                                    <div class="qlr_move_down" title="Move Down">Down</div>
                            </div>
                            <div class="ql_menu">
                                <div class="qpm_btn"></div>
                                <div class="qlm_option"> <span class="arrow"></span>
                                    <ul class="clearfix">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="ql_row">
                            <div class="qlr_content">
                                <div class="qlrc_number"></div>
                                <div class="qlrc_text">
                                    4Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend nisi orci.
                                </div>
                            </div>
                            <div class="qlr_move">
                                <div class="qlr_move_up" title="Move Up">Up</div>
                                    <div class="qlr_move_down" title="Move Down">Down</div>
                            </div>
                            <div class="ql_menu">
                                <div class="qpm_btn"></div>
                                <div class="qlm_option"> <span class="arrow"></span>
                                    <ul class="clearfix">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="ql_row">
                            <div class="qlr_content">
                                <div class="qlrc_number"></div>
                                <div class="qlrc_text">
                                    5Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend nisi orci.
                                </div>
                            </div>
                            <div class="qlr_move">
                                <div class="qlr_move_up" title="Move Up">Up</div>
                                    <div class="qlr_move_down" title="Move Down">Down</div>
                            </div>
                            <div class="ql_menu">
                                <div class="qpm_btn"></div>
                                <div class="qlm_option"> <span class="arrow"></span>
                                    <ul class="clearfix">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="ql_row">
                            <div class="qlr_content">
                                <div class="qlrc_number"></div>
                                <div class="qlrc_text">
                                    6Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend nisi orci.
                                </div>
                            </div>
                            <div class="qlr_move">
                                <div class="qlr_move_up" title="Move Up">Up</div>
                                    <div class="qlr_move_down" title="Move Down">Down</div>
                            </div>
                            <div class="ql_menu">
                                <div class="qpm_btn"></div>
                                <div class="qlm_option"> <span class="arrow"></span>
                                    <ul class="clearfix">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="ql_row">
                            <div class="qlr_content">
                                <div class="qlrc_number"></div>
                                <div class="qlrc_text">
                                    7Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend nisi orci.
                                </div>
                            </div>
                            <div class="qlr_move">
                                <div class="qlr_move_up" title="Move Up">Up</div>
                                    <div class="qlr_move_down" title="Move Down">Down</div>
                            </div>
                            <div class="ql_menu">
                                <div class="qpm_btn"></div>
                                <div class="qlm_option"> <span class="arrow"></span>
                                    <ul class="clearfix">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="ql_row">
                            <div class="qlr_content">
                                <div class="qlrc_number"></div>
                                <div class="qlrc_text">
                                    8Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend nisi orci.
                                </div>
                            </div>
                            <div class="qlr_move">
                                <div class="qlr_move_up" title="Move Up">Up</div>
                                    <div class="qlr_move_down" title="Move Down">Down</div>
                            </div>
                            <div class="ql_menu">
                                <div class="qpm_btn"></div>
                                <div class="qlm_option"> <span class="arrow"></span>
                                    <ul class="clearfix">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="ql_row">
                            <div class="qlr_content">
                                <div class="qlrc_number"></div>
                                <div class="qlrc_text">
                                    9Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend nisi orci.
                                </div>
                            </div>
                            <div class="qlr_move">
                                <div class="qlr_move_up" title="Move Up">Up</div>
                                <div class="qlr_move_down" title="Move Down">Down</div>
                            </div>
                            <div class="ql_menu">
                                <div class="qpm_btn"></div>
                                <div class="qlm_option"> <span class="arrow"></span>
                                    <ul class="clearfix">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="boxBtn clearfix">
            <input type="submit" class="bb_btn" value="Next >" name="">
        </div>
    </div>
</div>
