<?php
    /*************************
        * PHTML: USE TO APPEND THE SELF ASSESSMENT NAME.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 03/01/2015.
        * UPDATED: --/--/----.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>
<?php if ($type == "ass") { ?>
    <?php if (count($name) > 0) { ?>
        <?php foreach ($name AS $nameArr) { ?>
            <li id="<?= $nameArr['ass_id']; ?>">
                <?= $nameArr['ass_name']; ?>
            </li>
        <?php } ?>
    <?php } ?>
<?php } ?>

<?php if ($type == "cat") { ?>
    <?php if (count($name) > 0) { ?>
        <?php foreach ($name AS $nameArr) { ?>
            <li id="<?= $nameArr['cat_id']; ?>">
                <?= $nameArr['cat_name']; ?>
            </li>
        <?php } ?>
    <?php } ?>
    <script>
        $(function(){
        	$('#append-cat_list li').click(function(){
                var append_cat_list_html = $(this).html().trim();
        		var append_cat_list_id = $(this).attr('id');
        		$('#ass_cat').val(append_cat_list_html);
        		$('#ass_cat_value').val(append_cat_list_id);
        		$('#append-cat_list').html('');
            });
        });
    </script>
<?php } ?>