<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE ASSESMENT FORMULA.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 19/02/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->flashMessenger()->clearMessages();
?>


<div id="content-wrapper" class="clearfix">
    
    <form action="admin-self-responce-setting?sid=<?= $sid; ?>" method="post"/>
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Manage Self Assessment - <?= $assessment['ass_name']; ?></div>

            <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
                <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                    <div class="successMsg">
                        <span class="ui_icon success"></span>
                        <?= $msg["success"]; ?>
                    </div>
                <?php endif; ?>
                <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                    <div class="errorMsg">
                        <span class="ui_icon error"></span>
                        <?= $msg["error"]; ?>
                    </div>
                <?php endif; ?>
            <?php } ?>

            <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
                <ul class="pre_login_menu">
                    <li><a href="admin-self-complex-setting?sid=<?= $sid; ?>">Complex Variable</a><span class="border"></span></li>
                    <?php if ($compCount > 0) { ?>
                    <li class="active"><a href="admin-self-responce-setting?sid=<?= $sid; ?>">Question Response </a><span class="border"></span></li>
                    <?php }?>
                </ul>
            </div>

        </div>


        <div class="pageTitle">Set Response</div>

        <div class="formWrapperContainer">

            <div class="setResponseList">

                <?php
                if (!empty($FinalFormulaArr)) {
                    $i = 1;
                    foreach ($FinalFormulaArr as $key => $finalFormulaArr) {
                        ?>
                        <div class="row srl_row clearfix">
                            <div class="qlrc_text">Q <?= $i; ?>: <?= $finalFormulaArr['question']; ?>
                                <input type="hidden" value="<?= $key; ?>" name="display_formula[<?= $i; ?>]"/>
                                <?php if (!empty($finalFormulaArr['data']['display_id'])) { ?>
                                    <input type="hidden" value="<?= $finalFormulaArr['data']['display_id']; ?>" name="display_id[<?= $i; ?>]"/>
                                <?php } ?>
                            </div>
                            
                            <div class="srl_cols">
                                <div class="select">
                                    <select class="select" name="columns[<?= $i; ?>]">
                                        <?php
                                        if (!empty($finalFormulaArr['cols'])) {
                                            foreach ($finalFormulaArr['cols'] as $Cols) {
                                                ?>
                                        <option <?php if($Cols['health_id']==$finalFormulaArr['data']['columns']){?>selected="selected"<?php }?> value="<?= $Cols['health_id'];?>"><?= $Cols['col_name'];?></option>
                                            <?php }
                                        } ?>
                                    </select>
                                </div>
                            </div>
                            <div class="srl_cols">
                                <div class="input">
                                    <input type="text" value="<?= !empty($finalFormulaArr['data']['feedback'])?$finalFormulaArr['data']['feedback']:'';?>" name="feedback[<?= $i; ?>]" placeholder="Enter text for feedback">
                                </div>
                            </div>
                        </div>
                        <?php
                        $i++;
                    }
                }
                ?>


            </div>

        </div>



        <div class="boxBtn bb_btn_list clearfix">
             <ul>
                <li>
                    <input type="submit" name="submit" value="Save" class="bb_btn"/>
                 </li>
                <li>
                    <input type="submit" name="submit" value="Save & Publish" class="bb_btn"/>
                    
                </li>
            </ul>
        </div>
    </div>
    </form>
</div>


