<?php
    /*************************
        * PHTML: USE TO MANAGE THE THRESHOLD MATRIX  BODY MEASURMENT FUNCTION.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 31/12/2014.
        * UPDATED: --/--/----.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
    $this->flashMessenger()->clearMessages();
?>

<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Manage Self Assessment - <?= $assessment['ass_name']; ?></div>
            
            <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li  class="active"><a href="admin-self-analyze?sid=<?= base64_encode($sid);?>">Member Response</a><span class="border"></span></li>
                <li><a href="admin-self-analyze-nonmember?sid=<?= base64_encode($sid);?>">Non Member Response</a><span class="border"></span></li>
                
            </ul>
        </div>
            
        </div>
        
        
        <!-- <div class="analyzeViewBy clearfix">
            <div class="formWrapperContainer clearfix">
                <div class="row label">View</div>
                <div class="row">
                    <div class="select">
                        <select title="Category" class="select">
                            <option>From</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="select">
                        <select title="Category" class="select">
                            <option>To</option>
                        </select>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="sadetailLisr analize">
            <ul class="clearfix">
                <?php foreach ($question AS $index=>$questionArr) { ?>
                        <li class="sadl_row">
                            <div class="sadl_number">Q: <?= $index+1; ?>.</div>
                            <h4><?= $questionArr['ques_question']; ?></h4>
                            <div class="sadl_option">
                                <ul class="clearfix">
                                    <?php 
                                    $char = 64;
                                    $optionsArr = $this->options($quesOj, $questionArr['ques_id']);
                                    $percentageArr = $this->Percentage($analyze, $optionsArr, $questionArr['ques_id']);
                                    foreach ($percentageArr AS $key=>$options) { 
                                        $char++;
                                        $background = "e34e74";
                                        $percentage = ($options['total_count']==0)?0:round(($options['option_count'] * 100) / $options['total_count'], 2);
                                    
                                        if ($percentage >= 25 && $percentage <= 50)
                                            $background = "ff8517";
                                        elseif ($percentage >= 50 && $percentage <= 75)
                                            $background = "03c0e2";
                                        elseif ($percentage >= 75 && $percentage <= 100)
                                            $background = "79b926";
                                    ?>
                                        <li>
                                            <div class="txt">
                                                <?= chr($char); ?>). <?= $options['opt_option']; ?>
                                            </div>
                                            <div class="sadl_oG">
                                                <div class="graph" style="width:<?= $percentage; ?>%; background:#<?= $background; ?>;">
                                                    <div class="digit"><?= $percentage; ?>%</div>
                                                </div>
                                            </div>
                                        </li>
                                    <?php } ?>
                                </ul>
                            </div>
                        </li>

                <?php } ?>
            </ul>
        </div>
        <div class="boxBtn bb_btn_list clearfix">
            <ul>
                <li>
                    <a href="<?= $this->url('Defalt Details') ."?sid=". base64_encode($assessment['ass_id']);?>" class="bb_btn back">Back</a>
                </li>
                <li>
                    <a href="#" class="bb_btn">Export</a>
                </li>
            </ul>
        </div>
    </div>
</div>