<?php if (!empty($question)) { $index=($page==1)?($page-1)*4:(($page-1)*4)+1;?>
    <ul class="clearfix" id="PagingUL">
        <?php foreach ($question AS $questionArr) { ?>
            <li class="sadl_row">
                <div class="sadl_number">Q: <?= $index + 1; $index++;?>.</div>
                <h4><?= $questionArr['ques_question']; ?></h4>
                <div class="sadl_option">
                    <ul class="clearfix">
                        <?php
                        $char = 64;
                        $optionsArr = $this->options($quesOj, $questionArr['ques_id']);
                        $percentageArr = $this->Percentage($analyze, $optionsArr, $questionArr['ques_id'],$bucket_id);
                        foreach ($percentageArr AS $key => $options) {
                            $char++;
                            $background = "e34e74";
                            $percentage = ($options['total_count'] == 0) ? 0 : round(($options['option_count'] * 100) / $options['total_count'], 2);

                            if ($percentage >= 25 && $percentage <= 50)
                                $background = "ff8517";
                            elseif ($percentage >= 50 && $percentage <= 75)
                                $background = "03c0e2";
                            elseif ($percentage >= 75 && $percentage <= 100)
                                $background = "79b926";
                            ?>
                            <li>
                                <div class="txt">
                                    <?= chr($char); ?>) <?= $options['opt_option']; ?>
                                </div>
                                <div class="sadl_oG">
                                    <div class="graph" style="width:<?= $percentage; ?>%; background:#<?= $background; ?>;">
                                        <div class="digit"><?= $percentage; ?>%</div>
                                    </div>
                                </div>
                            </li>
                        <?php } ?>
                    </ul>
                </div>
            </li>
            <li style="list-style: none;">
                <a class="jscroll-next" href="<?= $_SERVER['REQUEST_URI'] ?>&page=<?= base64_encode($page); ?>"></a>
            </li>
        <?php } ?>
    </ul>
<?php } else { ?>
    <li style="list-style: none;">
        <a class="jscroll-next" href="<?= $_SERVER['REQUEST_URI'] ?>&page=<?= base64_encode($page); ?>"></a>
    </li>
<?php }
?>
