<?php
/* * ***********************
 * PHTML: DISPLAY LIST Subscription.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 14/05/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php $this->flashMessenger()->clearMessages(); ?>


<div id="content-wrapper" class="clearfix"> 
   <div class="pageWrapper">
   		<div class="pghFixed">
        	<div class="pgh_title">| Subscription</div>
        </div>
        
        <div class="admDashbrd">
        	<ul class="clearfix">
            	<li class="clearfix">Total number of Panel Members <span class="digit"><?= $Individuals;?></span></li>
                <li class="clearfix">Total number of Studies & Survey conducted <span class="digit"><?= $Study;?></span></li>
                <li class="clearfix">Total number of questions per month <span class="digit"><?= $StudyQueCount;?></span></li>
                <li class="clearfix">Panel member available to be recruited <span class="digit"><?= $PassDomain['panel_member']-$Individuals;?></span></li>
                <li class="clearfix">Studies available to be conducted <span class="digit"><?= $PassDomain['study_survey']-$Study;?></span></li>
                <li class="clearfix">Number of survey questions available <span class="digit"><?= $PassDomain['survey_que_per_mon']-$StudyQueCount;?></span></li>
            </ul>
        </div>
               
                
               
        
   </div>
</div>