<?php
    /*************************
        * PHTML: USE TO MANAGE THE THRESHOLD MATRIX  BODY MEASURMENT FUNCTION.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 15/12/2014.
        * UPDATED: --/--/----.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>

<!-- CONDITION DETAILS PUPUP START HERE. -->
<div class="grobalPopup popuBxWrap" id="conditionDetail">
    <div class="gppBox">
        <div class="gppbxContainer" id="append-condition_detail">

        </div>
    </div>
    <div class="gppOverlay"></div>
</div>
<!-- MAIN PAGE START HERE. -->
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <?= $this->partial('Condition/top_navigation'); ?>
        
        <div class="sc_leftpanel">
            <div class="scl_srch">
                <form name="candiSearch" action="" method="post">
                    <input type="text" name="candi_search" id="candi_search" value="<?php if (isset($postData['candi_search'])) echo $postData['candi_search']; ?>" placeholder="Search Conditions"/>
                    <label for="search">Search</label>
                </form>
            </div>
            <div class="scl_menu">
                <ul class="clearfix">
                    <?php if (count($conditions) > 0) { ?>
                        <?php foreach ($conditions AS $conditionArr) { ?>
                            <li id="scl_<?= $conditionArr['id']; ?>">
                                <a href="javascript: void(0);" onclick="getConditionDetails(<?= $conditionArr['id']; ?>);"><?= $conditionArr['common_name']; ?></a>
                            </li>
                        <?php } ?>
                    <?php } ?>
                </ul>
            </div>
        </div>
        <div class="sc_rightpanel">
            <div class="sc_msg">Select conditions to view description here.</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function getConditionDetails(id) {
        if (id != "") {
            var ajaxUrl  = "<?= $this->basePath(); ?>/admin/condition/conditiondescription";
            $.get(
                ajaxUrl,
                {
                    id: id,
                },
                function(data){
					$('.scl_menu ul li').removeClass('active');
					$('#scl_'+id).addClass('active');
                    $(".sc_rightpanel").html(data);
                }
            );
        }
    }
    function getConditiondescription(id, condition) {
        if (id != "" && condition != "") {
            var ajaxUrl  = "<?= $this->basePath(); ?>/admin/condition/subconditiondescription";
            $.get(
                ajaxUrl,
                {
                    id: id,
                    type: condition,
                },
                function(data){
                    $("#append-condition_detail").html(data);
					gppOpen('conditionDetail');
                }
            );
        }
    }
    $( document ).ready(function() {
        $( "#candi_search" ).click(function() {
            $( "#candiSearch" ).submit();
        });
    });
</script>