<?php if (count($description) > 0) { ?>
    <?php foreach ($description AS $descriptionArr) { ?>
        <div class="gppTitle"><?= $descriptionArr['sub_common_name']; ?> 
            <div class="gppClose" onclick="gppClose('conditionDetail');">X</div>
        </div>
        <div class="textCondition">
            <div><strong>Medical Name:</strong> <?= $descriptionArr['sub_media_name']; ?></div>
            <div><strong>Common Name:</strong> <?= $descriptionArr['sub_common_name']; ?></div>
            <div class="dynamicData">
                <strong>Description:</strong> 
                <?= $descriptionArr['sub_description']; ?>
            </div>
            <div class="btn_ok"><a href="javascript:void(0);" onclick="gppClose('conditionDetail');">OK</a></div>
        </div>
    <?php } ?>
<?php } else { ?>
    <div class="gppTitle"><?= $symptom; ?>
        <div class="gppClose" onclick="gppClose('conditionDetail');">X</div>
    </div>
    <div class="textCondition">
        Detail Not founds.
        <div class="btn_ok"><a href="javascript:void(0);" onclick="gppClose('conditionDetail');">OK</a></div>
    </div>
<?php } ?>

<script>
$(function(){
	$('.dynamicData').each(function(index, element) {
        $(this).find('a').attr({'target':'_blank'});
    });
})
</script>