<?php
    /*************************
        * PHTML: USE TO MANAGE THE THRESHOLD MATRIX  BODY MEASURMENT FUNCTION.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 15/12/2014.
        * UPDATED: --/--/----.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/

    $basename = basename($_SERVER["REQUEST_URI"]);
    $menuName = explode("-", $basename);
    if (isset($menuName[1]))
        $active = $menuName[1];
    else
        $active = "";
?>
<div class="pghFixed">
    <div class="pgh_title">| Manage Conditions</div>
    <div class="pgh_mWrap">
        <div class="pgh_menu"> 
            <a href="<?= $this->url('Defalt Conditions'); ?>" class="item<?php if (in_array($active, array("conditions"))) echo " selected";?>">Conditions</a>
            <a href="<?= $this->url('Defalt Symptoms'); ?>" class="item<?php if (in_array($active, array("symptoms"))) echo " selected";?>">Symptoms</a>
            <a href="<?= $this->url('Defalt Treatments'); ?>" class="item<?php if (in_array($active, array("treatments"))) echo " selected";?>">Treatments</a>
        </div>
    </div>
</div>