<?php
    /*************************
        * PHTML: USE TO MANAGE THE THRESHOLD MATRIX  BODY MEASURMENT FUNCTION.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 15/12/2014.
        * UPDATED: --/--/----.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>
<!-- ADD SYMPTOMS PUPUP START HERE. -->
<div id="addSymptoms" class="grobalPopup popuBxWrap relative">
    <div class="gppBox">
        <div class="gppbxContainer">
            <div class="gppTitle">Add Treatments
                <div onclick="gppClose('addSymptoms');" class="gppClose">X</div>
            </div>
            <div class="formWrapperContainer">
                <span id="AddSymptomsMsg"></span>



                <form action="" method="post">
                    <div class="row">
                        <div class="input">
                            <input type="text" placeholder="Medical Name" name="media_name" id="media_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input">
                            <input type="text" placeholder="Common Name" name="common_name" id="common_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input">
                            <textarea placeholder="Description" name="description" id="description"></textarea>
                        </div>
                    </div>
          
                    <div class="row last">
                        <div class="input_button">
                            <input type="button" value="Send" class="submit_button" id="add-treatments" name="add-treatments">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="gppOverlay"></div>
</div>
<!-- SYMPTOMS DETAILS PUPUP START HERE. -->
<div class="grobalPopup popuBxWrap" id="conditionDetail">
    <div class="gppBox">
        <div class="gppbxContainer" id="append-treatments_detail">

        </div>
    </div>
    <div class="gppOverlay"></div>
</div>
<!-- DELETE SYMPTOMS PUPUP START HERE. -->
<div id="deleteBMI" class="grobalPopup popuBxWrap">
      <div class="gppBox">
        <div class="gppbxContainer alertConfirmMessage">
          <div class="gppTitle">Delete !
            <div onclick="gppClose('deleteBMI');" class="gppClose">X</div>
          </div>
           <div class="gppTxt clearfix">
                <h2 class="confirm_msg">Do you want to delete this records?</h2>
            </div>
            <div class="formContainer formWrapperContainer gppbuttonWrapper">
                <div class="double clearfix">
                    <div class="row">
                        <input type="submit" class="submit_button" value="Yes" name="delete-record" id="delete-record">
                    </div>
                    <div class="row last">
                        <input type="button" onclick="gppClose('deleteBMI');" class="submit_button cancel_button" value="No">
                    </div>
                </div>
            </div>
      </div>
    </div>
    <div class="gppOverlay"></div>
</div>
<!-- OTHER SYMPTOMS PUPUP START HERE. -->
<div class="grobalPopup popuBxWrap" id="otherSymptoms">
    <div class="gppBox">
        <div class="gppbxContainer">
            <div class="gppTitle">Other Treatments
                <div class="gppClose" onclick="gppClose('otherSymptoms');">X</div>
            </div>
            <div class="othSymptomsList">
                <ul>
                    <?php if (count($otherTreatments) > 0) { ?>
                        <?php foreach ($otherTreatments AS $otherTreatmentsArr) { ?>
                            <li><a href="javascript: void(0);"><?= $otherTreatmentsArr['othr_common_name']; ?></a></li>
                        <?php } ?>
                    <?php } else { ?>
                        <li><a href="javascript: void(0);">Others treatments not found.</a></li>
                    <?php } ?>
                </ul>
            </div>
        </div>
    </div>
    <div class="gppOverlay"></div>
</div>
<!-- MAIN PAGE START HERE. -->
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <?= $this->partial('Condition/top_navigation'); ?>
        
        <div class="sc_leftpanel">
            <div class="scl_srch">
                <form name="symptSearch" action="" method="post">
                    <input type="text" name="sympt_search" id="sympt_search" value="<?php if (isset($postData['sympt_search'])) echo $postData['sympt_search']; ?>" placeholder="Search Treatments"/>
                    <label for="search">Search</label>
                </form>
            </div>
            <div class="scl_menu">
                <ul class="clearfix">
                    <?php if (count($treatments) > 0) { ?>
                        <?php foreach ($treatments AS $treatmentsArr) { ?>
                            <li id="scl_<?= $treatmentsArr['id']; ?>">
                                <a href="javascript: void(0);" onclick="geTreatmentsDetails(<?= $treatmentsArr['id']; ?>);"><?= $treatmentsArr['common_name']; ?></a>
                            </li>
                        <?php } ?>
                    <?php } ?>
                </ul>
            </div>
            <div class="addSymptoms">
                <ul>
                    <li><a href="javascript:void(0);" class="others" onclick="gppOpen('otherSymptoms');">Others</a></li>
                    <li><a href="javascript:void(0);" onclick="gppOpen('addSymptoms'); manageTreatments('mn', '');">+ &nbsp;Add Treatments</a></li>
                </ul>
            </div>
        </div>
        <div class="sc_rightpanel">
            <div class="sc_msg">Select treatments to view description here.</div>
        </div>
    </div>
</div>
<!-- MAIN PAGE END HERE. -->
<script type="text/javascript">
    function addewTreatments (type, id) {
        var media_name = $("#media_name").val().trim();
        var common_name = $("#common_name").val().trim();
        var description = $("#description").val().trim();
		
		if(media_name == ""){
			alert('Please enter Medical Name.');
			$("#media_name").focus();
			return false;
		}
		if(common_name == ""){
			alert('Please enter Common Name.');
			$("#common_name").focus();
			return false;
		}
		if(description == ""){
			alert('Please enter Description.');
			$("#description").focus();
			return false;
		}
		
		
        if (media_name != "" && common_name != "" && description != "") {
            var ajaxUrl  = "<?= $this->basePath(); ?>/admin/condition/addtreatments";
            $.post(
                ajaxUrl,
                {
                    id: id,
                    type: type,
                    media: media_name,
                    common: common_name,
                    description: description,
                },
                function(data){
                    if (type == "mn") {
                        if (data == 1) {
                            var msg = "<div class='successMsg'><span class='ui_icon success'></span>Treatments added successfully!</div>";
                            $('#AddSymptomsMsg').html(msg);
                            setTimeout(function(){
                                window.location.reload();
                            },2000);
                        } else {

                        }
                    }
                    if(type == "sb") {
                        if (data == 1) {
                            geTreatmentsDetails(id);
                            var msg = "<div class='successMsg'><span class='ui_icon success'></span>Sub treatments added successfully!</div>";
                            $('#AddSymptomsMsg').html(msg);
                            setTimeout(function(){
                                gppClose('addSymptoms');
                            },2000);
                        } else {

                        }
                    }
                }
            );
        }
    }
    function geTreatmentsDetails(id) {
        if (id != "") {
            var ajaxUrl  = "<?= $this->basePath(); ?>/admin/condition/treatmentdescription";
            $.get(
                ajaxUrl,
                {
                    id: id,
                },
                function(data){
					$('.scl_menu ul li').removeClass('active');
					$('#scl_'+id).addClass('active');
                    $(".sc_rightpanel").html(data);
                }
            );
        }
    }
    function geTreatmentsDescription(id, symptom) {
        if (id != "" && symptom != "") {
            var ajaxUrl  = "<?= $this->basePath(); ?>/admin/condition/subtreatmentdescription";
            $.get(
                ajaxUrl,
                {
                    id: id,
                    type: symptom,
                },
                function(data){
                    $("#append-treatments_detail").html(data);
					gppOpen('conditionDetail');
                }
            );
        }
    }
    function deleteTreatments(id, type, sympt) {
        if (id != "" && type != "") {
            var ajaxUrl  = "<?= $this->basePath(); ?>/admin/condition/treatmentdelete";
            $.post(
                ajaxUrl,
                {
                    id: id,
                    type: type,
                },
                function(data){
                    if (type == "mn") {
                        $('#actiionMsg').html(data);
                        $('#globalMsg').fadeIn('fast');
                        setTimeout(function(){
                           window.location.reload();
                        },1000);
                    }
                    if(type == "sb") {
                        geTreatmentsDetails(sympt);
                    }
                }
            );
        }
    }
    function getMainRecordId(id) {
        $("#delete-record").attr("onclick", "deleteTreatments("+id+", 'mn', '');gppClose('deleteBMI')");
    }
    function getSubRecordId(sub_id, id) {
        $("#delete-record").attr("onclick", "deleteTreatments("+sub_id+", 'sb', "+id+");gppClose('deleteBMI')");
    }
    function manageTreatments (type, id) {
        $("#media_name,#common_name,#description").val('');
        $("#add-treatments").attr("onclick", "addewTreatments('"+type+"', '"+id+"');");
    }
    $( document ).ready(function() {
        $( "#sympt_search" ).click(function() {
            $( "#symptSearch" ).submit();
        });
    });
</script>
