<?php if (count($description) > 0) { ?>
    <?php foreach ($description AS $descriptionArr) { ?>
        <div class="SymptomsDlt" onclick="gppOpen('deleteBMI'); getMainRecordId(<?= $descriptionArr['id']?>);">Delete</div>
        <h2>
            <?= $descriptionArr['common_name']; ?> 
        </h2>
        <div class="textCondition">
            <div><strong>Medical Name:</strong> <?= $descriptionArr['media_name']; ?></div>
            <div><strong>Common Name:</strong> <?= $descriptionArr['common_name']; ?></div>
            <div class="dynamicData">
                <strong>Description:</strong> 
                <?= $descriptionArr['description']; ?>
            </div>
        </div>
        <div class="scr_symptomslisting">
            <?php if ($descriptionArr['sub_id']) { ?>
                <ul class="clearfix">
                    <?php foreach($description AS $subdescriptionArr) {?>
                        <li>
                            <span onclick="geTreatmentsDescription(<?= $subdescriptionArr['sub_id'];?>, '<?= $subdescriptionArr['sub_common_name'];?>');">
                                <?= $subdescriptionArr['sub_common_name'];?> 
                            </span>
                            <a href="javascript:void(0)" class="scrs_dlt" onclick="gppOpen('deleteBMI'); getSubRecordId(<?= $subdescriptionArr['sub_id']?>, <?= $descriptionArr['id']?>);">Delete</a>
                        </li>
                    <?php } ?>
                </ul>
            <?php } ?>
        </div>
        <div class="addSymptoms">
            <a href="javascript:void(0);" onclick="gppOpen('addSymptoms'); manageTreatments('sb', <?= $descriptionArr['id']?>);">+ &nbsp;Add Sub Treatments</a>
        </div>
        <?php break; ?>
    <?php } ?>
<?php } ?>

<script>
$(function(){
	$('.dynamicData').each(function(index, element) {
        $(this).find('a').attr({'target':'_blank'});
    });
	
	if($('.sc_leftpanel .addSymptoms').length!=''){
		$('.scl_menu').css({'maxHeight':($('.sc_rightpanel').outerHeight() - $('.scl_srch').outerHeight() - $('.sc_leftpanel .addSymptoms').outerHeight()) +'px'});
	}else{
		$('.scl_menu').css({'maxHeight':($('.sc_rightpanel').outerHeight() - $('.scl_srch').outerHeight()) +'px'});
	}
	$(window).resize(function(e) {
    if($('.sc_leftpanel .addSymptoms').length!=''){
		$('.scl_menu').css({'maxHeight':($('.sc_rightpanel').outerHeight() - $('.scl_srch').outerHeight() - $('.sc_leftpanel .addSymptoms').outerHeight()) +'px'});
	}else{
		$('.scl_menu').css({'maxHeight':($('.sc_rightpanel').outerHeight() - $('.scl_srch').outerHeight()) +'px'});
	}
    });
	
})
</script>