<?php
    /*************************
        * PHTML: USE TO MANAGE THE FOOTER FOR WEB DEVELOPMENT.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: HEMANT CHUPHAL.
        * CREATOR: 16/04/2015.
        * UPDATED: .
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>
<!--Footer start here-->
<div class="footer innerFooter clearfix" id="footer">
    <div class="copyrights">Copyrights 2014. All Rights Reserved with Healthmetrix</div>
    <div class="footer_nav"><a href="#">Terms &amp; Condition</a></div>
</div>
<!--Footer end here-->