/* 
    Document   : style
    Created on : 13 Oct, 2014, 3:41:58 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

div.pagination {
	padding: 3px;
	/*margin: 3px;*/
        margin: 0 auto;
    padding: 10px;
    width: 650px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	
	text-decoration: none; /* no underline */
	color: #000099;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;

	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #000099;
		
		font-weight: bold;
		background-color: #000099;
		color: #FFF;
	}
	div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #DDD;
	}
	.Main-Head{width: 650px; margin: 0 auto;}
            .main-Table{width: 650px;border-collapse: collapse;  border: 1px solid black;margin: 0 auto;background: cornsilk;}

            .main-Table tr td {width: 100px;  border: 1px solid black;}
            .main-Table tr td:first-child{border: 1px solid black; font-weight: 900;}
            .main-Table tr th{background: bisque;
                              color: blue;
                              padding: 10px;
                              font-weight: 900;
                              text-decoration: underline;
            }

            .main-Table tr td a{border: 1px saddlebrown;
                                /* padding: 1px; */
                                padding-left: 10px;
                                padding-right: 10px;
                                background: rgb(0, 75, 145);
                                font-weight: 900;
                                /* border: 1px saddlebrown solid; */
                                color: #fff;
            }