<?php
/* * ***********************
 * PHTML: DISPLAY STUDY POPUP BOX.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 10/03/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<script>
    $(document).ready(function () {
        $('select.select').each(function () {
            if ($(this).next('span.select').length == '0') {
                var title = $(this).attr('title');
                if ($('option:selected', this).val() != '')
                    title = $('option:selected', this).text();
                $(this)
                        .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                        .after('<span class="select">' + title + '</span>')
                        .change(function () {

                            val = $('option:selected', this).text();
                            $(this).next().text(val);
                        });
            }
        });
    });
</script>
<!-- CLONE DIV -->
<?php if (!empty($Data)) { ?>
    <div class="fsr_cols">
        <div class="select">
            <select class="select">
                <?php foreach ($Data as $data) { ?>
                    <option value="<?= $data['id']; ?>"><?= $data['name']; ?></option>
                <?php } ?>
            </select>

        </div>
    </div>
<?php } ?>
<!-- CLONE DIV -->