<?php
/* * ***********************
 * PHTML: DISPLAY LIST OF STUDIES.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 3/3/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php $this->flashMessenger()->clearMessages(); ?>
<?= $this->headScript()->prependFile($this->basePath() . '/js/jquery.knob.js'); ?>

<script>
    $(function () {

        $('.dial').each(function () {
            var elm = $(this);
            var color = elm.attr("data-fgColor");
            var perc = elm.attr("value");

            elm.knob({
                'value': 0,
                'min': 0,
                'max': 100,
                "skin": "tron",
                "readOnly": true,
                "thickness": .14,
                'dynamicDraw': true,
                "displayInput": false
            });

            $({value: 0}).animate({value: perc}, {
                duration: 1000,
                easing: 'swing',
                progress: function () {
                    elm.val(Math.ceil(this.value)).trigger('change')
                }
            });

            //circular progress bar color
            $(this).append(function () {
                elm.parent().parent().find('.circular-bar-content').css('color', color);
                //elm.parent().parent().find('.circular-bar-content label').text(perc+'%');
            });
        });

        $('.studiesList').jscroll({
            loadingHtml: '<div  align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
            nextSelector: 'a.jscroll-next:last',
            contentSelector: '.studiesList'
        });


    });

    $(document).ajaxComplete(function () {
        $(".jscroll-added").last().find('.dial').each(function () {
            var elm = $(this);
            var color = elm.attr("data-fgColor");
            var perc = elm.attr("value");

            elm.knob({
                'value': 0,
                'min': 0,
                'max': 100,
                "skin": "tron",
                "readOnly": true,
                "thickness": .14,
                'dynamicDraw': true,
                "displayInput": false
            });

            $({value: 0}).animate({value: perc}, {
                duration: 1000,
                easing: 'swing',
                progress: function () {
                    elm.val(Math.ceil(this.value)).trigger('change')
                }
            });

            //circular progress bar color
            $(this).append(function () {
                elm.parent().parent().find('.circular-bar-content').css('color', color);
                //elm.parent().parent().find('.circular-bar-content label').text(perc+'%');
            });
        });
    });
</script>

<?php if (isset($_SERVER['HTTP_X_REQUESTED_WITH']) && $_SERVER['HTTP_X_REQUESTED_WITH'] === 'XMLHttpRequest') {
    ?>
    <?php if (count($Studies) > 0) { ?>
        <style>
            .jscroll-added{
                margin-top: 30px;
            }

        </style>


        <div class="studiesList" style="margin-top: 20px;">
            <?php
            foreach ($Studies AS $Studie) {
                ?>
                <div class="sl_row clearfix">

                    <h4>
                        <?php if (strtotime($Studie['start_date']) > strtotime(date('Y-m-d'))) { ?> 
                            <?php if ($Studie['publish_status'] == 0) { ?> 
                                <a href="<?= $this->url('Defalt CreateStudies') . "?sid=" . base64_encode($Studie['study_id']); ?>">
                                    <?= $Studie['study_title']." (".$Studie['researcher_name'].")"; ?>
                                </a>
                            <?php } else { ?>
                                <a href="admin-studies-eligible-users?sid=<?= base64_encode($Studie['study_id']); ?>">
                                    <?= $Studie['study_title']." (".$Studie['researcher_name'].")"; ?>
                                </a>
                            <?php } ?>
                        <?php } else { ?>
                            <a href="/admin-studies-scrresult?sid=<?= base64_encode($Studie['study_id']); ?>">
                                <?= $Studie['study_title']." (".$Studie['researcher_name'].")"; ?>
                            </a>
                        <?php } ?>
                        <?php if ($Studie['publish_status'] == 0) { ?> 
                            <a href="/admin-studies-del?sid=<?= base64_encode($Studie['study_id']); ?>" style="margin-left: 50px;right: auto;top: 26%;" class="dlt_qOption">
                                Delete
                            </a>
                        <?php } ?>
                    </h4>
                    <h5 class="sl_date"><span class="icon">
                        </span><?= date('d M, Y', strtotime($Studie['start_date'])); ?> to <?= date('d M, Y', strtotime($Studie['end_date'])); ?></h5>
                    <div class="circle_box">
                        <?php
                        $dirActive = $_SERVER['DOCUMENT_ROOT'] . "/StudyDump/Active/";
                        $downloadActive = $_SERVER['REQUEST_SCHEME'] . "://" . $_SERVER['HTTP_HOST'] . "/StudyDump/Active/";
                        $filename = $dirActive . $Studie['study_id'] . '/' . $Studie['study_title'] . '-Code-Book.xlsx';
                        $downloadfilename = $downloadActive . $Studie['study_id'] . '/' . $Studie['study_title'] . '-Code-Book.xlsx';
                        if (file_exists($filename)) {
                            ?>
                            <a href="<?= $downloadfilename; ?>" target="_blank" >   
                                <div class="circular-bar">
                                    <input type="text" class="dial" data-fgColor="#004c00" data-width="60" data-height="60" value="100" />
                                    <div class="circular-bar-content">
                                        <label><img src="img/dwn-btn.png"/> </label>
                                        <div class="cb-t">Study Questions Set</div>
                                    </div>
                                </div> 
                            </a>
                        <?php } ?>


                        <div class="circular-bar">

                            <?php
                             $type = ($Studie['screening'] == 0) ? "0" : "1";
                            $data = $this->GetStudy($Studie['study_id'], $StdObj, $type);

                            $persent = ($data['total'] / $Studie['panel_members']) * 100;
                            ?>
                            <input type="text" class="dial" data-fgColor="#03c0e2" data-width="60" data-height="60" value="<?= $persent; ?>" />
                            <div class="circular-bar-content">
                                <label><?= ($data['total'] > 0) ? $data['total'] : 0; ?> </label>
                                <div class="cb-t">Invitation Sent</div>
                            </div>
                        </div> 
                        <div class="circular-bar">
                            <?php $persentPart = ($data['Participated'] / $Studie['panel_members']) * 100; ?>

                            <input type="text" class="dial" data-fgColor="#79b926" data-width="60" data-height="60" value="<?= $persentPart; ?>" />
                            <div class="circular-bar-content">
                                <label><?= $data['Participated']; ?></label>
                                <div class="cb-t">Participated</div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
            <li><a class="jscroll-next" href="admin-studies?page=<?= base64_encode($page); ?>"></a></li>
        </div>
    <?php } ?>
<?php } else { ?>

    <div id="content-wrapper" class="clearfix">
        <div class="pageWrapper">
            <div class="pghFixed">
                <div class="pgh_title">| Studies</div>
                <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
                    <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                        <div class="successMsg">
                            <span class="ui_icon success"></span>
                            <?= $msg["success"]; ?>
                        </div>
                    <?php endif; ?>
                    <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                        <div class="errorMsg">
                            <span class="ui_icon error"></span>
                            <?= $msg["error"]; ?>
                        </div>

                    <?php endif; ?>
                <?php } ?>
                <div class="pgh_mT clearfix">
                    <h3>Studies List</h3>
                    <a href="<?= $this->url('Defalt CreateStudies'); ?>" class="create-new">Create New</a>
                </div>

            </div>
            <?php if (count($Studies) > 0) { ?>
                <div class="studiesList">
                    <!--loop -->
                    <?php foreach ($Studies AS $Studie) {
                        ?>
                        <div class="sl_row clearfix">

                            <h4>
                                <?php if (strtotime($Studie['start_date']) > strtotime(date('Y-m-d'))) { ?> 
                                    <?php if ($Studie['publish_status'] == 0) { ?> 
                                        <a href="<?= $this->url('Defalt CreateStudies') . "?sid=" . base64_encode($Studie['study_id']); ?>">
                                            <?= $Studie['study_title']." (".$Studie['researcher_name'].")"; ?>
                                        </a>
                                    <?php } else { ?>
                                        <a href="admin-studies-eligible-users?sid=<?= base64_encode($Studie['study_id']); ?>">
                                            <?= $Studie['study_title']." (".$Studie['researcher_name'].")"; ?>
                                        </a>
                                    <?php } ?>
                                <?php } else { ?>
                                    <a href="/admin-studies-scrresult?sid=<?= base64_encode($Studie['study_id']); ?>">
                                        <?= $Studie['study_title']." (".$Studie['researcher_name'].")"; ?>
                                    </a>
                                <?php } ?>
                                <?php if ($Studie['publish_status'] == 0) { ?> 
                                    <a href="/admin-studies-del?sid=<?= base64_encode($Studie['study_id']); ?>" style="margin-left: 50px;right: auto;top: 26%;" class="dlt_qOption">
                                        Delete
                                    </a>
                                <?php } ?>
                            </h4>
                            <h5 class="sl_date"><span class="icon">
                                </span><?= date('d M, Y', strtotime($Studie['start_date'])); ?> to <?= date('d M, Y', strtotime($Studie['end_date'])); ?></h5>



                            <div class="circle_box">

                                <?php
                                $dirActive = $_SERVER['DOCUMENT_ROOT'] . "/StudyDump/Active/";
                                $downloadActive = $_SERVER['REQUEST_SCHEME'] . "://" . $_SERVER['HTTP_HOST'] . "/StudyDump/Active/";
                                $filename = $dirActive . $Studie['study_id'] . '/' . $Studie['study_title'] . '-Code-Book.xlsx';
                                $downloadfilename = $downloadActive . $Studie['study_id'] . '/' . $Studie['study_title'] . '-Code-Book.xlsx';
                                if (file_exists($filename)) {
                                    ?>
                                    <a href="<?= $downloadfilename; ?>" target="_blank" >   
                                        <div class="circular-bar">
                                            <input type="text" class="dial" data-fgColor="#004c00" data-width="60" data-height="60" value="100" />
                                            <div class="circular-bar-content">
                                                <label><img src="img/dwn-btn.png"/> </label>
                                                <div class="cb-t">Study Questions Set</div>
                                            </div>
                                        </div> 
                                    </a>
                                <?php } ?>

                                <div class="circular-bar">
                                    <?php
                                    $type = ($Studie['screening'] == 0) ? 1 : 0;
                                    $data = $this->GetStudy($Studie['study_id'], $StdObj, $type);
                                   
                                    $persent = ($data['total'] / $Studie['panel_members']) * 100;
                                    ?>
                                    <input type="text" class="dial" data-fgColor="#03c0e2" data-width="60" data-height="60" value="<?= $persent; ?>" />
                                    <div class="circular-bar-content">
                                        <label><?= ($data['total'] > 0) ? $data['total'] : 0; ?> </label>
                                        <div class="cb-t">Invitation Sent</div>
                                    </div>
                                </div> 
                                <div class="circular-bar">
                                    <?php $persentPart = ($data['Participated'] / $Studie['panel_members']) * 100; ?>

                                    <input type="text" class="dial" data-fgColor="#79b926" data-width="60" data-height="60" value="<?= $persentPart; ?>" />
                                    <div class="circular-bar-content">
                                        <label><?= $data['Participated']; ?></label>
                                        <div class="cb-t">Participated</div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    <?php } ?>
                    <li><a class="jscroll-next" href="admin-studies?page=<?= base64_encode($page); ?>"></a></li>
                    <!--loop -->
                </div>
            <?php } ?>
        </div>
    </div>
<?php }
?>
