<div class="">
    <?php
    if (!empty($User)) {
        $i = 0;
        foreach ($User as $user) {
            ?>
            <form action="<?= $this->basePath(); ?>/admin/studies/saveInvitation" class="SendInvitation"/>
            <div class="main<?= $i; ?> allMain" <?php if ($i > 0) { ?>style="display: none;"<?php } ?>>
                <?php $Invitation = !empty($userInvitation[$i][0]['num']) ? $userInvitation[$i][0]['num'] : 0; ?>

                <div class="slLshow" style="width:120px;">
                    <div class="sllsBx" style="width:370px;">
                        <div class="sllsRow clearfix">
                            <div class="sllsLabel" style="width:194px;">Eligible Users For Study</div>
                            <div class="sllsCol monthDiv" style="text-align: left;width:100px;"><?= ($user['this_month'] - $Invitation < 0) ? 0 : $user['this_month'] - $Invitation; ?></div>
                            <input type="hidden" class="month" value="<?= $user['this_month'] - $Invitation; ?>" name="study_id"/>
                            <input type="hidden" value="<?= $sid; ?>" name="study_id"/>
                            <input type="hidden" value="<?= $i; ?>" name="bucket"/>
                            <input type="hidden" value="<?= ($Study[0]['screening']) ? 0 : 1; ?>" name="type"/>

                        </div>
                    </div>
                </div>

                <div class="slLshow"  style="width:240px;">
                    <div class="sllsBx" style="width:370px;">
                        <div class="sllsRow clearfix">
                            <div class="sllsLabel" style="width:194px;">Eligible Users For Study In Next Month</div>
                            <div class="sllsCol" style="text-align:left;width:100px;"><?= $user['all'] - $user['this_month']; ?></div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <?php
        $i++;
    }
}
?>
</div>