
<?php
if (!empty($Pass)) {
    echo '<div id="PagingUl">';
    foreach ($Pass as $data) {
        ?>
        <div class="dgRow clearfix">
            <a href="">
                <div class="dgCol dgw20">
                    <div class="dgcTxt">
                        <a href="admin-passDomain-detail?sid=<?= base64_encode($data['id']); ?>" class="detailSubDomain" onclick="gppOpen('passDetailsPopup');">
                            <?= $data['subdomain']; ?>
                        </a>
                    </div>
                </div>
                <div class="dgCol dgw15"><div class="dgcTxt"><?= date('d M, Y', strtotime($data['creation_date'])); ?></div></div>
                <div class="dgCol dgw25"><div class="dgcTxt"><?= $data['admin_user_name']; ?> </div></div>
                <div class="dgCol dgw20"><div class="dgcTxt"><?= $data['contact_number']; ?></div></div>
            </a>
            <div class="dgCol dgw20">
                <div class="dgcTxt">
                    <a href="javascript:void(0);" status="<?= $data['status']; ?>" id="<?= $data['id']; ?>" class="Status action-button <?= ($data['status'] != 1) ? 'enable' : 'disable'; ?>-btn"><?= ($data['status'] != 1) ? 'Enable' : 'Disable'; ?></a>
                    <a href="<?= $this->url('Defalt PassDomainAdd') . "?sid=" . base64_encode($data['id']); ?>" class="action-button edit-btn">Edit</a>
                </div>
            </div>
        </div>
    <?php } ?>
    <li style="list-style: none;">
        <a class="jscroll-next" href="admin-passDomain?page=<?= base64_encode($page); ?>"></a>
    </li>
    </div>
<?php } else { ?>
    <li style="list-style: none;">
        <a class="jscroll-next" href="admin-passDomain?page=<?= base64_encode($page); ?>"></a>
    </li>
    <?php
}?>
