<?php
/* * ***********************
 * PHTML: DISPLAY LIST Subscription.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 14/05/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php $this->flashMessenger()->clearMessages(); ?>



<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Source Allocation Setting</div>

        </div>


        <form method="POST" action="">
            <div class="boxWrap bwbx">

                <?php
                if (!empty($SetArrays)) {
                    $i = 0;
                    foreach ($SetArrays as $SetArray) {
                        if ($i == 0) {
                            ?>
                            <div class="boxwRow clearfix">
                            <?php } ?>

                            <div class="bw_colthird">

                                <div class="bw_box">
                                    <div class="bw_title"><?= $SetArray; ?></div>
                                    <select name="source[<?= $SetArray; ?>][]" class="multiple" multiple="multiple">
                                        <?php foreach ($Sources as $key => $index) { ?>
                                        <option 
                                            <?php
                                            if (!empty($SourcesSelected[$key])) {
                                                if (strpos($SourcesSelected[$key],$SetArray) !== false) {
                                                    echo 'selected="selected"';
                                                }
                                            }
                                            ?>
                                                value="<?= $key; ?>"><?= $index; ?></option>
                                            <?php } ?>
                                    </select>

                                    <div style="color: #FF8400;">
                                        <b>NOTE : Press CTRL for multiple Selection</b>
                                    </div>
                                </div>
                            </div>

                            <?php
                            $i++;
                            if ($i == 3) {
                                $i = 0;
                                ?> 
                            </div>
                        <?php } ?>
                        <?php
                    }
                }
                ?>
            </div>

            <div class="boxBtn clearfix">
                <input type="submit" name="" value="Save" class="bb_btn">
            </div>
        </form>




    </div>
</div>