html, body, table, td
{
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 10pt;
    border-collapse: collapse;
}

html, body
{
    text-align: center;
}

body
{
    background-color: #E7E7E7;
}

form
{
    display: inline;
}

table.main
{
    padding: 0px;
    margin: 0 auto;
    width: 760px;
}

div.centered
{
    text-align: center;
    margin: auto;
}

td.header
{
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    color: white;
    height: 200px;
    background: url(images/header.jpg);
}

td.footer
{
    text-align: center;
    font-size: 8pt;
    color: #808080;
    height: 63px;
    background: url(images/footer.jpg);
}

div.footer
{
    text-align: center;
    font-size: 8pt;
    color: #808080;
    margin: auto;
}

td.body
{
    padding-top: 31px;
    text-align: center;
    background: url(images/body.jpg);
}

td.label
{
    text-align: right;
}