<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE TOP-MENU FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: SHIVENDRA SUMAN.
 * CREATOR: 27/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('Researcher');
$UserArr = $this->_sessionObj->userDetails;
$userId = $this->_sessionObj->userDetails['UserID'];
$DomainID = $this->_sessionObj->userDetails['DomainID'];
if ($UserArr['Image']) {
    $image = $this->serverUrl() . "/upload_image/" . $UserArr['UserID'] . "/" . $UserArr['Image'];
} else {
    $image = $this->serverUrl() . "/img/health_matrix_logo_prelogin.png";
}
//$basename = basename($_SERVER["REQUEST_URI"]);
$explodurl = explode("/", $_SERVER["REQUEST_URI"]);
$basename = $explodurl[1];
$basename2 = explode("?", $basename);
$basename = $basename2[0];
$menuName = explode("-", $_SERVER["REQUEST_URI"]);
if (isset($menuName[1]))
    $active = $menuName[1];
else
    $active = "";
//echo $basename."name_url";die;
?>

<script>

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ')
                c = c.substring(1);
            if (c.indexOf(name) == 0)
                return c.substring(name.length, c.length);
        }
        return "";
    }

    $(document).ready(function() {
        var menu = getCookie("menublock");
        var Obj = '';
        var status = false;
        if (menu == '0') {
            $('.left_menu_section ul li').each(function() {

                if ($(this).hasClass('active')) {
                    Obj = $(this);
                    status = true;
                }

            })
            $('.bodyMeser').click();
            if (status) {
                Obj.addClass('active');
            }
            $('.bodyMeser').attr('custom', '0');
        }

        $('.bodyMeser').click(function() {
            var status = $(this).attr('custom');
            if (status == '1') {
                document.cookie = "menublock=0";
                $(this).attr('custom', '0');
            } else {
                document.cookie = "menublock=1";
                $(this).attr('custom', '1');
            }
        });
    })
</script>

<!-- Left menu Section start here -->
<div class="left_menu_section left_menu_researcher">


    <a href="javascript:void(0);" class="left_panel_menu_button"></a>
    <div class="overlay"></div>
    <!-- Loggedin User information for mobile HTML start -->
    <div class="userInfo">
        <div class="profile_pic bdr_rds_circle">
            <img src="<?php echo $image; ?>" alt=""/>
        </div>
        <div class="loggedIn_user"><?php echo $UserArr['FirstName'] . " " . $UserArr['LastName']; ?></div>
        <div class="uiddr_menu">
            <ul class="clearfix">
                <li class="logout"><a href="/researcher/index/logout">Sign out</a></li>
                <li><a href="/researcher-basic-info">My Profile</a></li>
                <!--                <li><a href="/individual-privacy-settings">Settings</a></li>-->
                <li><a href="javascript:void(0);" onclick="gppOpen('changePass');">Change Password</a></li>
            </ul>
        </div>
    </div>
    <!-- Loggedin User information for mobile end start -->
    <!-- Loggedin User information for mobile end start -->

    <?php
    if ($basename == 'researcher-questionnaire' || 'researcher-group-questionnaire') {
        $questionnniare = 'active';
        $questionnniare_dis = 'block';
    } else {
        $questionnniare = "";
        $questionnniare_dis = "";
    }

    $Quen = array('researcher-questionnaire', 'researcher-questionnaire-question');
    $QuenArr = array('researcher-group-questionnaire', 'researcher-questionnaire', 'researcher-questionnaire-question');
    $QuenArr_group = array('researcher-group-questionnaire');


    if ($basename == 'researcher-archival') {
        $archival_create = 'active';
    } else {
        $archival_create = "";
    }
    ?>
    <?php
    if ($basename == 'researcher-archival-list') {
        $archival_list = 'active';
    } else {
        $archival_list = "";
    }

    if ($DomainID == 1) {
        ?>
        <ul class="menuWrap">
            <li class="ui-tab <?php echo (($basename == 'researcher-archival' || $basename == 'researcher-archival-list') ? 'active' : '' ); ?>"><a href="javascript:void(0);" class="anchor"> <span class="icon threshold"></span>Archival Data <span class="arrow"></span></a>
                <ul class="submenu" style="display: block" custom='1'>       
                    <li class="<?php echo $archival_create; ?>"><a href="/researcher-archival">Request Archival</a></li>
                    <li class="<?php echo $archival_list; ?>"><a href="/researcher-archival-list">List Archival</a></li>
                </ul>
            </li>

            <li class="ui-tab<?php if (in_array($active, array('questionnaire', 'group'))) echo " active"; ?>">
                <a href="#" class="anchor">
                    <span class="icon documents"></span>Questionnaire
                </a>
                <ul class="submenu" style="display:<?php if (in_array($active, array('questionnaire', 'group'))) echo " block"; ?>">
                    <li class="<?php if (in_array($active, array('questionnaire'))) echo " active"; ?>">
                        <a href="/researcher-questionnaire">Single Answer </a></li>
                    <li class="<?php if (in_array($active, array('group'))) echo " active"; ?>">
                        <a href="/researcher-group-questionnaire">Group Answer </a></li>
                </ul>
            </li>

            <li class="ui-tab <?php echo (($basename == 'researcher-studies-create' || $basename == 'researcher-studies') ? 'active' : '' ); ?>"><a href="javascript:void(0);" class="anchor"> <span class="icon conditions"></span>Request Study <span class="arrow"></span></a>
                <?php
                if ($basename == 'researcher-studies-create') {
                    $activeresearcher_create = 'active';
                } else {
                    $activeresearcher_create = "";
                }
                ?>
                <?php
                $activeresearcher = '';
                if ($basename == 'researcher-studies') {
                    $activeresearcher = 'active';
                } else {
                    $activeresearcher_create = "";
                }

                $resinviteArr = array("researcher-subsplans", "researcher-crrstatus", "researcher-billing");
                $studiesArr = array("researcher-studies", "researcher-studies-create");
                ?>
                <ul class="submenu" style="display:<?php
                if (in_array($basename, $studiesArr)) {
                    echo "block";
                }
                ?>" custom='1'>
                    <li class="<?php
                    if ($basename == 'researcher-studies-create') {
                        echo "active";
                    }
                    ?>"><a href="/researcher-studies-create">New Study</a></li>
                    <li class="<?php
                    if ($basename == 'researcher-studies') {
                        echo "active";
                    }
                    ?>"><a href="/researcher-studies">List Studies</a></li>
                </ul>
            </li>
            <li class="ui-tab<?php
            if (in_array($basename, $resinviteArr)) {
                echo " active";
            }
            ?>"><a href="javascript:void(0);" class="anchor"> <span class="icon conditions"></span>Subscription Status <span class="arrow"></span></a>
                <ul class="submenu" style="display: <?php
                if (in_array($basename, $resinviteArr)) {
                    echo " block";
                } else {
                    echo "none";
                }
                ?>">
                    <li class="<?php
                    if ($basename == 'researcher-subsplans') {
                        echo " active";
                    }
                    ?>"><a href="/researcher-subsplans">Plans</a></li>
                    <li class="<?php
                    if ($basename == 'researcher-billing') {
                        echo " active";
                    }
                    ?>"><a href="/researcher-billing">Invoices</a></li>
                    <li class="<?php
                    if ($basename == 'researcher-crrstatus') {
                        echo " active";
                    }
                    ?>"><a href="/researcher-crrstatus">Current Subscription</a></li>
                </ul>
            </li>
        </ul>  <?php
    } else {

        $panelMem = array('researcher-panelmember', 'researcher-beaconlist', 'researcher-trackmove', 'researcher-followongps');
        ?>
        <ul class="menuWrap">
            <li class="ui-tab <?php
            if (in_array($basename, $panelMem)) {
                echo "active";
            }
            ?>"><a href="/researcher-panelmember" class="anchor">Panel Member Dashboard</a></li>
<!--            <li class="ui-tab <?php echo (($basename == 'researcher-questionnaire' || $basename == 'researcher-questionnaire-question') ? 'active' : '' ); ?>">
                <a href="<?= $this->url('researcher_Questionnaire'); ?>" class="anchor">
                    <span class="icon documents"></span>Questionnaire
                </a>
            </li>-->
            
            <li class="ui-tab<?php if (in_array($active, array('questionnaire', 'group'))) echo " active"; ?>">
                <a href="#" class="anchor">
                    <span class="icon documents"></span>Questionnaire
                </a>
                <ul class="submenu" style="display:<?php if (in_array($active, array('questionnaire', 'group'))) echo " block"; ?>">
                    <li class="<?php if (in_array($active, array('questionnaire'))) echo " active"; ?>">
                        <a href="/researcher-questionnaire">Single Answer </a></li>
                    <li class="<?php if (in_array($active, array('group'))) echo " active"; ?>">
                        <a href="/researcher-group-questionnaire">Group Answer </a></li>
                </ul>
            </li>
           <!-- <li class="ui-tab <?php echo (($basename == 'pass-researcher-studies-create' || $basename == 'pass-researcher-studies' || $basename == 'pass-studies-invitation-set' || $basename == 'pass-studies-scrresult') ? 'active' : '' ); ?>"><a href="javascript:void(0);" class="anchor"> <span class="icon conditions"></span>Study<span class="arrow"></span></a>

            <?php
            $stud = array("pass-researcher-studies", "pass-studies-create", "pass-studies-invitation-set", "pass-studies-scrresult");
            $block = '';
            $activ_st = '';
            if (in_array($basename, $stud)) {
                $block = 'block';
                $activ_st = "active";
            }
            ?>
                    <ul class="submenu <?= $activ_st ?>" style="display: <?= $block ?>" custom='1'>
                        <li class="<?php
            if ($basename == 'pass-studies-create') {
                echo 'active';
            }
            ?>">
                            <a href="/pass-studies-create">New Study</a>
                        </li>
                        <li class="<?php
            if ($basename == 'pass-researcher-studies') {
                echo 'active';
            }
            ?>">
                            <a href="/pass-researcher-studies">List Studies</a>
                        </li>
                    </ul>

            </li>-->

            <li class="ui-tab <?php echo (($basename == 'researcher-studies-create' || $basename == 'researcher-studies') ? 'active' : '' ); ?>"><a href="javascript:void(0);" class="anchor"> <span class="icon conditions"></span>Request Study <span class="arrow"></span></a>
                <?php
                if ($basename == 'researcher-studies-create') {
                    $activeresearcher_create = 'active';
                } else {
                    $activeresearcher_create = "";
                }
                ?>
                <?php
                $activeresearcher = '';
                if ($basename == 'researcher-studies') {
                    $activeresearcher = 'active';
                } else {
                    $activeresearcher_create = "";
                }

                $resinviteArr = array("researcher-subsplans", "researcher-crrstatus", "researcher-billing");
                $studiesArr = array("researcher-studies", "researcher-studies-create");
                ?>
                <ul class="submenu" style="display:<?php
            if (in_array($basename, $studiesArr)) {
                echo "block";
            }
                ?>" custom='1'>
                    <li class="<?php
                if ($basename == 'researcher-studies-create') {
                    echo "active";
                }
                ?>"><a href="/researcher-studies-create">New Study</a></li>
                    <li class="<?php
                if ($basename == 'researcher-studies') {
                    echo "active";
                }
                ?>"><a href="/researcher-studies">List Studies</a></li>
                </ul>
            </li>
            <li class="ui-tab <?php
        if ($basename == 'researcher-subscription') {
            echo "active";
        }
        ?>"><a href="/researcher-subscription" class="anchor">Subscription Status</a></li>

        </ul>  
<?php } ?>

</div>

<!-- Left menu Section end here -->
