<?php
    /*************************
        * PHTML: USE TO MANAGE THE LAYOUT FOR WEB DEVELOPMENT.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 12/11/2014.
        * UPDATED: --/--/----.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>
<?php echo $this->doctype(); ?>
<html lang="en">
    <!-- HEADER INCLUDE HERE-->
    <?php echo $this->partial('service/header'); ?>
    <body>
        <!-- TOP-MENU NAVIGATION INCLUDE HERE-->
        <?php echo $this->partial('service/top-menu'); ?>
        <div class="container">
            <!-- MAIN BODY INCLUDE HERE-->
            <?php echo $this->content; ?>
            <!-- HEADER INCLUDE HERE-->
            <?php echo $this->partial('service/footer'); ?>
        </div> <!-- /container -->
        <?php echo $this->inlineScript(); ?>
    </body>
</html>