<?php
    /*************************
        * PHTML: USE TO APPEND THE SELF ASSESSMENT NAME.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 07/01/2015.
        * UPDATED: --/--/----.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>

<?php if (count($name) > 0) { ?>
	<ul>
	    <?php foreach ($name AS $nameArr) { ?>
	        <li id="<?= $nameArr['var_id']; ?>" onClick="getVariablesQuestion('<?= base64_encode($nameArr['var_id']); ?>');" data-id="<?= base64_encode($nameArr['var_id']); ?>">
	            <?= $nameArr['var_name']; ?>
	        </li>
		<?php } ?>
	</ul>
	<script>
	$(function(){
		$('#append-var_list li').click(function(){
			var append_var_list_html = $(this).html().trim();
			var append_var_list_id = $(this).attr('id');
			$('#ques_variable').val(append_var_list_html);
			$('#ques_var_value').val(append_var_list_id);
			$('#append-var_list').html('');
		});
	});
	</script>
	<script>
	$(function(){
		var $listItems = $('#append-var_list li');
		$('#ques_variable').keydown(function(e)
		{
			var key = e.keyCode,
				$selected = $listItems.filter('.selected'),
				$current;
			if( key == 13 )
			{
				//$('#questionForm').submit(function (){
					var $listItemsHref = $('#append-var_list li.selected').attr('data-id');
					getVariablesQuestion($listItemsHref);
					return false;
				//});
			}
			if ( key != 40 && key != 38 ) return;
			$listItems.removeClass('selected');
			if ( key == 40 ) // Down key
			{
				if ( ! $selected.length || $selected.is(':last-child') ) {
					$current = $listItems.eq(0);
				}
				else {
					$current = $selected.next();
				}
			}
			else if ( key == 38 ) // Up key
			{
				if ( ! $selected.length || $selected.is(':first-child') ) {
					$current = $listItems.last();
				}
				else {
					$current = $selected.prev();
				}
			}
			$current.addClass('selected');
		});
	});
	</script>
<?php } ?>