<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE STUDIES LIST.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: SHIVENDRA SUMAN
 * CREATOR: 18/05/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
$this->flashMessenger()->clearMessages();
?>
<script>
    $(function () {

        $('.dial').each(function () {
            var elm = $(this);
            var color = elm.attr("data-fgColor");
            var perc = elm.attr("value");

            elm.knob({
                'value': 0,
                'min': 0,
                'max': 100,
                "skin": "tron",
                "readOnly": true,
                "thickness": .14,
                'dynamicDraw': true,
                "displayInput": false
            });

            $({value: 0}).animate({value: perc}, {
                duration: 1000,
                easing: 'swing',
                progress: function () {
                    elm.val(Math.ceil(this.value)).trigger('change')
                }
            });

            //circular progress bar color
            $(this).append(function () {
                elm.parent().parent().find('.circular-bar-content').css('color', color);
                //elm.parent().parent().find('.circular-bar-content label').text(perc+'%');
            });
        });

        $('.studiesList').jscroll({
            loadingHtml: '<div  align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
            nextSelector: 'a.jscroll-next:last',
            contentSelector: '.studiesList'
        });


    });

    $(document).ajaxComplete(function () {
        $(".jscroll-added").last().find('.dial').each(function () {
            var elm = $(this);
            var color = elm.attr("data-fgColor");
            var perc = elm.attr("value");

            elm.knob({
                'value': 0,
                'min': 0,
                'max': 100,
                "skin": "tron",
                "readOnly": true,
                "thickness": .14,
                'dynamicDraw': true,
                "displayInput": false
            });

            $({value: 0}).animate({value: perc}, {
                duration: 1000,
                easing: 'swing',
                progress: function () {
                    elm.val(Math.ceil(this.value)).trigger('change')
                }
            });

            //circular progress bar color
            $(this).append(function () {
                elm.parent().parent().find('.circular-bar-content').css('color', color);
                //elm.parent().parent().find('.circular-bar-content label').text(perc+'%');
            });
        });
    });
</script>
<!-- Container start here -->
<div id="content-wrapper" class="clearfix">
<div class="pageWrapper">
 <div class="pghFixed pghFixedIndv">
  <div class="pgh_title clearfix">| Study</div>
    <div class="pgh_mT clearfix">
     <h3>Studies List</h3>
     <a class="create-new" href="/pass-studies-create">Create New</a>
    </div>
  <div class="pgh_mWrap">
   <div class="pgh_menu pgh_menu_top">
             <a href="/pass-studies-create" class="item">New Study</a>
              <a href="/pass-researcher-studies" class="item selected">List Studies</a>
   </div>
  </div>
 </div>
<?php if (isset($_SERVER['HTTP_X_REQUESTED_WITH']) && $_SERVER['HTTP_X_REQUESTED_WITH'] === 'XMLHttpRequest') {
    ?>
    <?php if (count($Studies) > 0) { ?>
        <style>
            .jscroll-added{
                margin-top: 30px;
            }

        </style>


        <div class="studiesList" style="margin-top: 20px;">
            <?php
            foreach ($Studies AS $Studie) {
                ?>
                <div class="sl_row clearfix">
                    <h4>
                        <?php if (strtotime($Studie['end_date']) > strtotime(date('Y-m-d'))) { ?> 
                            <?php if ($Studie['publish_status'] == 0) { ?> 
                                 <a href="/pass-studies-create?sid=<?=base64_encode($Studie['study_id']); ?>">
                                    <?= $Studie['study_title']; ?>
                                </a>
                            <?php } else { ?>
                                <a href="#">
                                    <?= $Studie['study_title']; ?>
                                </a>
                            <?php } ?>
                        <?php } else { ?>
                            <a href="/pass-studies-mainresult?sid=<?= base64_encode($Studie['study_id']); ?>">
                                <?= $Studie['study_title']; ?>
                            </a>
                        <?php } ?>
                    </h4>
                    <h5 class="sl_date"><span class="icon">
                        </span><?= date('j F Y', strtotime($Studie['start_date'])); ?> to <?= date('j F Y', strtotime($Studie['end_date'])); ?></h5>
                    <div class="circle_box">
                         <div class="circular-bar">                                    
                                    <input type="text" class="dial" data-fgColor="#03c0e2" data-width="60" data-height="60" value="100" />
                                    <div class="circular-bar-content">
                                        <label><?= ($Studie['is_accepted_byadmin'] == 0) ? "Pending" : "Accepted"; ?> </label>
                                        <div class="cb-t"><?= ($Studie['is_accepted_byadmin'] == 0) ? "Pending" : "Accepted"; ?> </div>
                                    </div>
                                </div> 
                        <div class="circular-bar">
                             <?php
                            $data = $this->GetStudy($Studie['study_id'], $StdObj);
//                            echo '<pre>';
//                            print_r($data);exit;
//                            
                            $persent = ($data['total'] / $Studie['panel_members']) * 100;
                            ?>
                            <?php //$persent = ($Studie['total'] / $Studie['panel_members']) * 100; ?>
                            <input type="text" class="dial" data-fgColor="#03c0e2" data-width="60" data-height="60" value="<?= $persent; ?>" />
                            <div class="circular-bar-content">
                                <label><?= ($data['total'] > 0) ? $data['total'] : 0; ?> </label>
                                <div class="cb-t">Invitation Sent</div>
                            </div>
                        </div>  
                        <div class="circular-bar">
                            <input type="text" class="dial" data-fgColor="#79b926" data-width="60" data-height="60" value="0" />
                            <div class="circular-bar-content">
                                <label><?= $data['Participated']; ?></label>
                                <div class="cb-t">Participated</div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
            <li><a class="jscroll-next" href="pass-researcher-studies?page=<?= base64_encode($page); ?>"></a></li>
        </div>
    <?php }else{ ?>
          <div class="errorMsg">
		<span class="ui_icon error"></span>No. record found. </div>
    <?php } ?>
<?php } else { ?>

        <div class="pageWrapper">
            <?php if (count($Studies) > 0) { ?>
                <div class="studiesList">
                    <!--loop -->
                    <?php foreach ($Studies AS $Studie) {
                        ?>
                        <div class="sl_row clearfix">
                            <h4>
                                <?php if (strtotime($Studie['end_date']) > strtotime(date('Y-m-d'))) { ?> 
                                    <?php if ($Studie['publish_status'] == 0) { ?> 
                                        <a href="/pass-studies-create?sid=<?= base64_encode($Studie['study_id']); ?>">
                                            <?= $Studie['study_title']; ?>
                                        </a>
                                    <?php } else { ?>
                                        <a href="#">
                                            <?= $Studie['study_title']; ?>
                                        </a>
                                    <?php } ?>
                                <?php } else { ?>
                                    <a href="/pass-studies-mainresult?sid=<?= base64_encode($Studie['study_id']); ?>">
                                        <?= $Studie['study_title']; ?>
                                    </a>
                                <?php } ?>
                            </h4>
                            <h5 class="sl_date"><span class="icon">
                                </span><?= date('j F Y', strtotime($Studie['start_date'])); ?> to <?= date('j F Y', strtotime($Studie['end_date'])); ?></h5>
                            <div class="circle_box">
                                  <div class="circular-bar">                                    
                                    <input type="text" class="dial" data-fgColor="#004c00" data-width="60" data-height="60" value="100" />
                                    <div class="circular-bar-content">
                                        <label><img src="img/dwn-btn.png"></label>
                                        <div class="cb-t">Download</div>
<!--                                        <label><?= ($Studie['is_accepted_byadmin'] == 0) ? "Pending" : "Accepted"; ?> </label>
                                        <div class="cb-t"><?= ($Studie['is_accepted_byadmin'] == 0) ? "Pending" : "Accepted"; ?> </div>-->
                                    </div>
                                </div> 
                                <div class="circular-bar">
                                    <?php
                            $data = $this->GetStudy($Studie['study_id'], $StdObj);
//                            echo '<pre>';
//                            print_r($data);exit;
                            
                            $persent = ($data['total'] / $Studie['panel_members']) * 100;
                            ?>
                                    <?php //$persent = ($Studie['total'] / $Studie['panel_members']) * 100; ?>
                                    <input type="text" class="dial" data-fgColor="#03c0e2" data-width="60" data-height="60" value="<?= $persent; ?>" />
                                    <div class="circular-bar-content">
                                     <label><?= ($data['total'] > 0) ? $data['total'] : 0; ?> </label>
                                        <div class="cb-t">Invitation Sent</div>
                                    </div>
                                </div> 
                                <div class="circular-bar">
                                    <input type="text" class="dial" data-fgColor="#79b926" data-width="60" data-height="60" value="0" />
                                    <div class="circular-bar-content">
                                        <label><?= $data['Participated']; ?></label>
                                        <div class="cb-t">Participated</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                    <li><a class="jscroll-next" href="pass-researcher-studies?page=<?= base64_encode($page); ?>"></a></li>
                    <!--loop -->
                </div>
            <?php }else{ ?>
  <div class="errorMsg" >
		<span class="ui_icon error"></span>No. record found. </div>
            <?php } ?>
        </div>
    
    <?php
}?>
</div>
</div>
<!--Container end here--> 
