<?php
/* * ***********************
 * PHTML: Study Passive Var.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Hemant huphal.
 * CREATOR: 16/4/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>

<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Studies</div>

            <div class="pgh_mT clearfix">
                <h3><a href="pass-researcher-studies">Studies List</a>  &gt;  <a href="pass-studies-create?sid=<?= base64_encode($sid); ?>">Edit Study</a> &gt;  <a href="pass-studies-ques?sid=<?= base64_encode($sid); ?>">Study Question</a>  &gt;  <span>Passive Set</span></h3>
            </div>

        </div>

        <div class="aq_setOpt formWrapperContainer clearfix">
            <h4>Passive Studies</h4>

        </div>

        <div class="fsCondition formWrapperContainer">

            <div class="row fsRow clearfix" >
                <div id="MasterDiv">
                    <div class="setVarFld clearfix">
                        <div class="fsr_cols" style="width: 100%;margin-top: 10px;">
                            <div class="select" style="width:400px;">
                                <select class="select" style="width:400px;">
                                    <option>Set Variable</option>
                                    <option>Variable 1</option>
                                </select>
                            </div>

                        </div>
                        <div class="dlt_qOption remove" style="display:none;position: relative; left: 407px;top:20px;" >Delete</div>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="addMoreQOption"><span class="icon"></span>Create New Variable</div>
                </div>
            </div>


        </div>
        <script>
            $(document).ready(function(){
                $('.addMoreQOption').click(function(){
                    var Obj=$('.setVarFld:first').clone();
                    Obj.attr('id','');
                    $('#MasterDiv').append(Obj);
                    var len=$('.setVarFld').length;
                    if(len>1){
                       $('.remove').show(); 
                    }
                })
                
                $(document).on("click",".remove",function(){
                    $(this).parent().remove();
                    var len=$('.setVarFld').length;
                    if(len==1){
                       $('.remove').hide(); 
                    }
                })
            })
        </script>

        <div class="boxBtn bb_btn_list clearfix">
            <ul style="float:right;">
                <li><a class="bb_btn" href="#">Save & Proceed</a></li>
            </ul>
        </div>


    </div>
</div>