<?php
/* * ***********************
 * PHTML: Study Question Main.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Hemant huphal.
 * CREATOR: 10/3/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

if (isset($postData['ques_mendatory']) && ($postData['ques_mendatory'] == "on" || $postData['ques_mendatory'] == 1))
    $men_check = "checked";
else
    $men_check = "";
if (isset($study['study_id']) && isset($postData['studies_id']) && $study['study_id'] != $postData['studies_id'])
    $ques_id = $postData['ques_id'];
else
    $ques_id = "";
$varId = '';
if ($postData['type'] == 'edit') {
    $ques_id = $postData['ques_id'];
    $varId = $postData['ques_variable'];
}

if (empty($postData)) {
    ?>
    <script>
        $(document).ready(function () {
            $('#questionForm input').val('');
            $('#questionForm textarea').val('');
        })
    </script>

    <?php
}
//echo $ques_id;die;
$this->flashMessenger()->clearMessages();
?>
<script>
    $(document).ready(function () {


        $('.switch-input').click(function (e) {
            var status = $(this).val();
            var qid = $(this).attr('custom');
            var actUrl = "<?= $this->basePath(); ?>/researcher/passstudies/mendatoryStatus?qid=" + qid + "&status=" + status;
            if (confirm("Do you really want to change question mandatory property!")) {
                showLoder('#Processing');
                $.ajax({
                    type: 'get',
                    url: actUrl,
                    success: function (result) {
                        hideLoder('#Processing');
                        if (result == 'true') {
                            return true;
                        } else {
                            return false;
                        }
                    }
                });
            } else {
                hideLoder('#Processing');
                return false;
            }

        });
    });
</script>

<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper addQuestion">
        <div class="pghFixed">
            <div class="pgh_title">| Studies</div>
            <div class="pgh_mT clearfix">
                <h3><a href="pass-studies">Studies List</a>  &gt;  <a href="pass-studies-create?sid=<?= base64_encode($sid); ?>">Edit Study</a>  &gt;  <span>Set Questions</span></h3>
            </div>
            <div class="menuWrapper pghFixedsubMenuWrapper clearfix" style="border-bottom:1px solid rgb(89, 125, 219);">
                <ul class="pre_login_menu">
                    <li ><a href="pass-studies-ques?sid=<?= base64_encode($sid); ?>">Main Questions</a><span class="border"></span></li>
                    <li class="active"><a href="pass-studies-screening-ques?sid=<?= base64_encode($sid); ?>">Screening Questions</a><span class="border"></span></li>
                </ul>
            </div>

        </div>

        <!--<div class="aq_setOpt formWrapperContainer assqTitle clearfix">

              <div class="row clearfix">
              <div class="checkbox_col"> <span class="checkbox">
                        <input type="checkbox" id="recurring">
                    </span>
                    <label for="recurring">Enable Screening Questions:</label>
                </div>
            </div>
            <h4>Active Questions</h4>

        </div>-->


        <script>
            function quesListing() {
                $('.quesListing li.ql_row').each(function (index, element) {
                    $(this).find('.qlrc_number').html('Q:' + (parseInt(index) + 1));
                    $(this).attr({'id': 'qlr_' + (parseInt(index) + 1)});
                    $(this).find('.qlr_move_up').attr({'onClick': 'moveQuestionOnUp("' + (parseInt(index)) + '","' + $(this).find('.qlr_move_up').attr('custom') + '");'});
                    $(this).find('.qlr_move_down').attr({'onClick': 'moveQuestionOnDown("' + (parseInt(index) + 2) + '","' + $(this).find('.qlr_move_down').attr('custom') + '");'});
                });
            }
            function qlrDown(id) {
                $('#qlr_' + (parseInt(id) - 1)).insertAfter('#qlr_' + (parseInt(id)));
                quesListing();
            }
            function qlrUp(id) {
                $('#qlr_' + (parseInt(id) + 1)).insertBefore('#qlr_' + (parseInt(id)));
                quesListing();
            }

            $(function () {
<?php if (isset($postData['ques_option']) && count($postData['ques_option']) > 0) { ?>
    <?php foreach ($postData['ques_option'] AS $key => $val) { ?>
                        QOptionAdd("<?= $val; ?>", "<?= $postData['ques_value'][$key]; ?>", "<?= isset($postData['ques_option_id'][$key]) ? $postData['ques_option_id'][$key] : ''; ?>");
    <?php } ?>
<?php } else { ?>
                    QOptionAdd('', '', '');
<?php } ?>
                quesListing();
                $('.addQuestion .sc_rightpanel').css({'height': $('.addQuestion .sc_leftpanel').height() - 30});
            });
            var otpCount = 0;
            function QOptionAdd(opt, val, optId) {
                var qo_option = '<div class="row"><div class="input"><input tabindex="3" type="text" placeholder="Option Name" class="required first" title="Required" name="ques_option[' + otpCount + ']" value="' + opt + '" <?php if (!empty($postData["ques_id"]) && $postData["type"] != 'edit') echo "readonly"; ?>></div></div>';
                var qo_value = '<div class="row value"><div class="input"><input tabindex="3" type="text" placeholder="Value" class="required" title="Required" name="ques_value[' + otpCount + ']" value="' + val + '" <?php if (!empty($postData["ques_id"]) && $postData["type"] != 'edit') echo "readonly"; ?>></div></div>';

                var qo_optId = '<input type="hidden" name="ques_option_id[]" id="ques_option_id[]" value="' + optId + '">';
                otpCount++;

                var qo_delete = '<div class="dlt_qOption">Delete</div>';
                $('#QOptionAdd').append('<div class="double clearfix">' + qo_optId + '' + qo_option + '' + qo_value + '' + qo_delete + '</div>');
<?php if (empty($postData['ques_id'])) { ?>
                    if ($('#QOptionAdd .double').length == 1) {
                        $('#QOptionAdd .double .dlt_qOption').hide();
                    }
                    else {
                        $('#QOptionAdd .double .dlt_qOption').show();
                    }
<?php } else { ?>
                    $('#QOptionAdd .double .dlt_qOption').hide();

    <?php if ($postData['type'] == 'edit') { ?>

                        $('#QOptionAdd .double .dlt_qOption').show();

    <?php } ?>
<?php } ?>
                $('#QOptionAdd .double').each(function (index, element) {
                    $(this).attr({'id': 'qoRow_' + index});
                    $(this).find('.dlt_qOption').attr({'onclick': 'dltQOptionBtn("qoRow_' + index + '");'});
                });
            }
            function dltQOptionBtn(id) {
                $('#' + id).remove();
                if ($('#QOptionAdd .double').length >= 10) {
                    $('.addMoreQOption').hide();
                } else {
                    $('.addMoreQOption').show();
                }
                if ($('#QOptionAdd .double').length == 1) {
                    $('#QOptionAdd .double .dlt_qOption').hide();
                }
                else {
                    $('#QOptionAdd .double .dlt_qOption').show();
                }
                $('.addQuestion .sc_rightpanel').animate({'height': $('.addQuestion .sc_leftpanel').height() - 30}, 200);
            }
            function addQOptionBtn() {
                QOptionAdd('', '', '');
                if ($('#QOptionAdd .double').length >= 10) {
                    $('.addMoreQOption').hide();
                } else {
                    $('.addMoreQOption').show();
                }
                $('#QOptionAdd .double:last').find('input.first').focus();
                $('.addQuestion .sc_rightpanel').animate({'height': $('.addQuestion .sc_leftpanel').height() - 30}, 200);
            }


        </script>
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?= $msg["error"]; ?>
                </div>
            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?= $msg["success"]; ?>
                </div>
            <?php endif; ?>
        <?php } ?>
        <div class="aqPanel clearfix">
            <div class="sc_leftpanel">

                <?php if (!empty($Questionnaire)) { ?>
                    <div class="setQuestion">
                        <form action="pass-studies-questionnaire?sid=<?= base64_encode($sid); ?>&study_que_type=2" method="post" name="questionForm" id="questionnaireForm">

                            <div class="sq_title">Add Questionnaire:</div>
                            <div class="formWrapperContainer">
                                <div class="row">
                                    <div class="select">
                                        <select class="select required" title="Select Questionnaire" name="questionnaire_id" id="ques_var_type">
                                            <option value="">Select Questionnaire</option>
                                            <?php foreach ($Questionnaire as $data) { ?>
                                                <option value="<?= $data['id'] ?>"><?= $data['name'] ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row last" style="margin-bottom: 20px;margin-top: 5px;">
                                    <div class="input_button" style="padding-top:0px;">
                                        <input type="submit" value="Add Questionnaire" class="submitQ" name="ques_submit" id="ques_submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                <?php } ?>
                
                  <?php if (!empty($Group_Questionnaire)) { ?>
                    <div class="setQuestion">
                        <form action="researcher-studies-ques?sid=<?= base64_encode($sid); ?>&study_que_type=1" method="post" name="questionForm" id="questionnaireForm">
                            <input type="hidden" name="is_group_questionnaire" value="1">
                            <div class="sq_title">Group Answer Questionnaire:</div>
                            <div class="formWrapperContainer">
                                <div class="row">
                                    <div class="select">
                                        <select class="select required" title="Select Questionnaire" name="questionnaire_id" id="ques_var_type">
                                            <option value="">Select Questionnaire</option>
                                            <?php foreach ($Group_Questionnaire as $data) { ?>
                                                <option value="<?= $data['id'] . "." . $data['name'] ?>"><?= $data['name'] ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row last" style="margin-bottom: 20px;margin-top: 5px;">
                                    <div class="input_button" style="padding-top:0px;">
                                        <input type="submit" value="Add Questionnaire" class="submitQ" name="ques_submit" id="ques_submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                <?php } ?>


                <div class="setQuestion">
                    <div class="sq_title"><?php if ($postData["type"] == 'edit') { ?>Edit<?php } else { ?>Set<?php } ?> Questions:</div>
                    <div style="text-align:right;padding-bottom:10px;"><a href="/researcher-studies-screening-ques?sid=<?= base64_encode($sid); ?>">Reset Variable</a></div>
                    <div class="formWrapperContainer">
                        <form action="pass-studies-screening-ques?sid=<?= base64_encode($sid); ?>" method="post" name="questionForm" id="questionForm">
                            <div class="row">
                                <div class="input">
                                    <span class="ui-fldValid ass_cat loader"></span>

                                    <input type="hidden" name="study_que_type" value="2" />

                                    <input type="hidden" name="ques_var_value" id="ques_var_value" value="<?php echo $ques_id; ?>" />
                                    <?php if (!empty($varId)) { ?>
                                        <input type="hidden" name="ques_var_id" id="ques_var_id" value="<?php echo $varId; ?>" />
                                    <?php } ?>
                                    <input tabindex="1" type="text" placeholder="Variable" name="ques_variable" id="ques_variable" autocomplete="off" onKeyUp="checkVariables(this);" onFocus="$('#append-var_list').fadeIn('fast')" onBlur="$('#append-var_list').fadeOut('fast')" value="<?php
                                    if (!empty($postData['var_name'])) {
                                        echo $postData['var_name'];
                                    } else if (!empty($postData['ques_variable'])) {
                                        echo $postData['ques_variable'];
                                    }
                                    ?>">
                                </div>

                                <div id="append-var_list" class="ui-ddr"></div>

                            </div>
                            <div class="row">
                                <div class="select">
                                    <select class="select" title="Variable Type" name="ques_var_type" id="ques_var_type">
                                        <!-- <option value="">Variable Type</option> -->
                                        <option value="1">Integer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input">
                                    <textarea tabindex="2" placeholder="Ask Questions" name="ques_question" id="ques_question" <?php if (!empty($postData['ques_id']) && $postData["type"] != 'edit') echo "readonly"; ?>><?php
                                        if (!empty($postData['ques_question'])) {
                                            echo $postData['ques_question'];
                                        } else {
                                            echo '';
                                        }
                                        ?></textarea>
                                </div>
                            </div>
                            <div id="QOptionAdd"></div>
                            <div class="clearfix">
                                <?php if (empty($postData['ques_id']) || $postData["type"] == 'edit') { ?>
                                    <a tabindex="4" class="addMoreQOption" onkeydown="addQOptionBtn();" onClick="addQOptionBtn();"><span class="icon"></span>Add More</a>
                                <?php } ?>
                            </div>
                            <div class="aq_settings">
                                <h5>Settings:</h5>
                                <div class="clearfix">
                                    <div class="checkbox_col"> 

                                        <span class="checkbox <?php if (!empty($postData['ques_id']) && $postData["type"] != 'edit') echo "checkbxNo"; ?> <?= $men_check; ?>">
                                            <input tabindex="5"  type="checkbox" id="ques_mendatory" name="ques_mendatory" <?= $men_check; ?>>
                                        </span>
                                        <label for="ques_mendatory">Mandatory</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row last">
                                <div class="input_button">
                                    <?php
                                    if (isset($study['stydy_id_id']) && isset($postData['study_id']) && $postData["type"] != 'edit') {
                                        if ($assessment['study_id'] == $postData['study_id']) {
                                            ?>
                                            <input type="button" value="Reset" class="submitQ" name="ques_reset" id="ques_reset" onclick="resetForm();">
                                        <?php } else { ?>
                                            <input type="submit" value="Submit Question" class="submitQ" name="ques_submit" id="ques_submit">
                                            <?php
                                        }
                                    } else {
                                        ?>
                                        <input type="submit" value="Submit Question" class="submitQ" name="ques_submit" id="ques_submit">
                                    <?php }
                                    ?>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="sc_rightpanel">
                <div class="quesListing">
                    <?php if (count($question) > 0) { ?>
                        <ul class="clearfix">
                            <?php foreach ($question AS $questionArr) { ?>
                                <li class="ql_row">
                                    <div class="qlr_content">
                                        <div class="qlrc_number"></div>
                                        <div class="qlrc_text">
                                            <?= $questionArr['ques_question']; ?>
                                        </div>
                                    </div>
                                    <div class="qlr_move">
                                        <div class="qlr_move_up" custom="<?= $this->basePath(); ?>/researcher/passstudies/quesorder?ques_id=<?php echo $questionArr['ques_id']; ?>&studies_id=<?php echo $questionArr['studies_id']; ?>&type=UP" title="Move Up" onClick="moveQuestionOnUp();">Up</div>
                                        <div class="qlr_move_down" custom="<?= $this->basePath(); ?>/researcher/passstudies/quesorder?ques_id=<?php echo $questionArr['ques_id']; ?>&studies_id=<?php echo $questionArr['studies_id']; ?>&type=DOWN" title="Move Down" onClick="moveQuestionOnDown();">Down</div>
                                    </div>
                                    <div class="ql_menu">
                                        <div class="qpm_btn"></div>
                                        <div class="qlm_option"> <span class="arrow"></span>
                                            <ul class="clearfix">
                                                <?php if ($varStatus[$questionArr['ques_variable']] > 1) { ?>
                                                    <li><a href="pass-studies-screening-ques?sid=<?= base64_encode($sid); ?>&type=delete&varId=<?= base64_encode($questionArr['ques_variable']); ?>&questionId=<?= base64_encode($questionArr['ques_id']); ?>" onclick="return confirm('Are you sure you want to delete?')">Delete</a></li>
                                                <?php } else { ?>
                                                    <li><a href="pass-studies-screening-ques?sid=<?= base64_encode($sid); ?>&type=edit&questionId=<?= base64_encode($questionArr['ques_id']); ?>" >Edit</a></li>
                                                    <li><a href="pass-studies-screening-ques?sid=<?= base64_encode($sid); ?>&type=delete&varId=<?= base64_encode($questionArr['ques_variable']); ?>&questionId=<?= base64_encode($questionArr['ques_id']); ?>" onclick="return confirm('Are you sure you want to delete?')">Delete</a></li>

                                                <?php } ?>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="switch">
                                        <input type="radio" id="On<?= $questionArr['ques_id']; ?>" <?php if ($questionArr['ques_mendatory'] == 1) { ?>checked="checked"<?php } ?> custom="<?= base64_encode($questionArr['ques_id']); ?>" value="1" name="view[<?= $questionArr['ques_id']; ?>]" class="switch-input">
                                        <label for="On<?= $questionArr['ques_id']; ?>" title="Click To Make Mandatory" class="switch-label switch-label-off">On</label>
                                        <input type="radio" id="Off<?= $questionArr['ques_id']; ?>" <?php if ($questionArr['ques_mendatory'] == 0) { ?>checked="checked"<?php } ?> custom="<?= base64_encode($questionArr['ques_id']); ?>" value="0" name="view[<?= $questionArr['ques_id']; ?>]" class="switch-input">
                                        <label class="switch-label switch-label-on" title="Click To Make Non Mandatory" for="Off<?= $questionArr['ques_id']; ?>">Off</label>
                                        <span class="switch-selection"></span>
                                    </div>
                                </li>
                            <?php } ?>
                        </ul>
                    <?php } else { ?>
                        <div class="sc_msg">Question not found in this Assessment.</div>
                    <?php } ?>
                </div>
            </div>
        </div>

        <div style="padding-top:30px;" class="boxBtn bb_btn_list clearfix">
            <ul style="float:right;">
                <li><a href = "/pass-studies-ques?sid=<?= base64_encode($sid); ?>" class = "bb_btn">Back</a></li>

                <?php if (count($question) > 0 && $maincount > 0) { ?>
                    <li><a href="/pass-studies-codebook?sid=<?= base64_encode($sid); ?>" target="_blank" class="bb_btn">Preview Codebook</a></li>

                    <li><a href="/pass-studies-mainque-filter?sid=<?= base64_encode($sid); ?>" class="bb_btn">Next></a></li>
    <!--                    <li><a href="/pass-studies-varrable-set?sid=<?= base64_encode($sid); ?>" class="bb_btn">Next></a></li>-->
                <?php } ?>
            </ul>
        </div>


    </div>
</div>
<!--Container end here--> 
<script type="text/javascript">
    var priveous = "";
    var id = <?= $study['study_id']; ?>;
    function checkVariables(event) {
        var q_var = $(event).val();
        if (q_var.length > 2 /* && q_var != priveous*/) {
            priveous = q_var;
            $('.ui-fldValid.ass_cat').show();
            var ajaxUrl = "<?= $this->basePath(); ?>/researcher/passstudies/checkvariables";
            $.get(
                    ajaxUrl,
                    {
                        id: id,
                        q_var: q_var,
                    },
                    function (data) {
                        $("#append-var_list").html(data);
                        $('.ui-fldValid.ass_cat').hide();
                    }
            );
        }

        if ($('#ques_variable').val().length <= 2) {
            $("#append-var_list").html('');
        }

    }

    function getVariablesQuestion(ques_id, var_name) {
        if (ques_id) {
            var url = "<?= $this->basePath(); ?>/pass-studies-screening-ques";
            var sid = "?sid=<?= base64_encode($study['study_id']); ?>";
            var vri = "&var=" + ques_id;
            var vriName = "&varName=" + var_name;
            var finalUrl = url + sid + vri + vriName;
            window.location.href = finalUrl;
        }
    }

    function moveQuestionOnUp(pos, url) {
        // alert("UP");
        var actUrl = url + "&pos=" + pos;
        showLoder('#Processing');
        $.ajax({
            type: 'get',
            url: actUrl,
            success: function (result) {
                Data = $.parseJSON(result);
                if (Data.status) {
                    qlrUp(pos);
                }
                hideLoder('#Processing');
            }
        });
        return false;
    }

    function moveQuestionOnDown(pos, url) {
        // alert("DOWN");
        var actUrl = url + "&pos=" + pos;
        showLoder('#Processing');
        $.ajax({
            type: 'get',
            url: actUrl,
            success: function (result) {
                Data = $.parseJSON(result);
                if (Data.status) {
                    qlrDown(pos);
                }
                hideLoder('#Processing');
            }
        });
        return false;
    }
    function resetForm() {
        window.location.href = "<?= $this->basePath(); ?>/pass-studies-screening-ques?sid=<?= base64_encode($study['study_id']); ?>";
            }
            $(document).ready(function () {

                $('#questionnaireForm').validate({
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parent("div"));
                    }
                });

                $('#questionForm').validate({
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parent("div").find(".errorDiv"));
                    }
                });
            })
</script>
<style>
    label.error {
        color: #cd0a0a;
        float: left;
        font-weight: bold;
    }
    .input input.error {
        background: #cd0a0a;
    }
</style>