body {
    font: 13px/18px 'RobotoRegular', arial;
    -moz-font-smoothing: none;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    background-color:#fff;
}
html {
    overflow:hidden;
    overflow-y: scroll;
}
html {
    font-size: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, br, blockquote, th, td, header, footer, section, hgroup, span {
    margin: 0;
    padding: 0;
}
a {
    color: #356592
}

input[type='submit'],input[type='button']{
    -webkit-appearance:none;
}


@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light/roboto-light.eot');
    src: url('../fonts/Roboto-Light/roboto-light.eot') format('embedded-opentype'), url('../fonts/Roboto-Light/roboto-light.woff') format('woff'), url('../fonts/Roboto-Light/roboto-light.ttf') format('truetype'), url('../fonts/Roboto-Light/roboto-light.svg#RobotoLight') format('svg');
}
@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin/roboto-thin.eot');
    src: url('../fonts/Roboto-Thin/roboto-thin.eot') format('embedded-opentype'), url('../fonts/Roboto-Thin/roboto-thin.woff') format('woff'), url('../fonts/Roboto-Thin/roboto-thin.ttf') format('truetype'), url('../fonts/Roboto-Thin/roboto-thin.svg#RobotoThin') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular/roboto-regular.eot');
    src: url('../fonts/Roboto-Regular/roboto-regular.eot') format('embedded-opentype'), url('../fonts/Roboto-Regular/roboto-regular.woff') format('woff'), url('../fonts/Roboto-Regular/roboto-regular.ttf') format('truetype'), url('../fonts/Roboto-Regular/roboto-regular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium/roboto-medium.eot');
    src: url('../fonts/Roboto-Medium/roboto-medium.eot') format('embedded-opentype'), url('../fonts/Roboto-Medium/roboto-medium.woff') format('woff'), url('../fonts/Roboto-Medium/roboto-medium.ttf') format('truetype'), url('../fonts/Roboto-Medium/roboto-medium.svg#RobotoMedium') format('svg');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold/roboto-bold.eot');
    src: url('../fonts/Roboto-Bold/roboto-bold.eot') format('embedded-opentype'), url('../fonts/Roboto-Bold/roboto-bold.woff') format('woff'), url('../fonts/Roboto-Bold/roboto-bold.ttf') format('truetype'), url('../fonts/Roboto-Bold/roboto-bold.svg#RobotoBold') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/RobotoCondensed-Regular/robotocondensed-regular.eot');
    src: url('../fonts/RobotoCondensed-Regular/robotocondensed-regular.eot') format('embedded-opentype'), url('../fonts/RobotoCondensed-Regular/robotocondensed-regular.woff') format('woff'), url('../fonts/RobotoCondensed-Regular/robotocondensed-regular.ttf') format('truetype'), url('../fonts/RobotoCondensed-Regular/robotocondensed-regular.svg#RobotoCondensedRegular') format('svg');
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}
a:focus, *:focus {
    noFocusLine: expression(this.onFocus=this.blur());
}
a {
    outline: none;
    text-decoration: none;
}
/*for FireFox*/
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner
{   
    border : 0px;
} 
/*for IE8 */
input[type="submit"]:focus, input[type="button"]:focus
{     
    outline : none; 
}
input[type="text"], input[type="email"], input[type="password"], textarea, select, input[type="file"] {
    padding: 8px 6px;
    font-family: 'RobotoRegular';
    font-size: 13px;
    outline: none;
    color: #828282
}
textarea {
    font-family: 'RobotoRegular';
    font-size: 13px;
    color: #828282
}
textarea {
    resize: vertical
}
a {
    outline: none;
    overflow: hidden;
}
a img {
    border: 0
}
.clr {
    clear: both
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
::-webkit-input-placeholder {  
    color:#adadad;
    opacity:1;
}
::-moz-placeholder {  
    color:#adadad;
    opacity:1;
} /* firefox 19+ */
:-ms-input-placeholder { 
    color:#adadad;
    opacity:1;
} /* ie */
input:-moz-placeholder {  
    color:#adadad;
    opacity:1;
}
label.error{
    color:#cd0a0a;
}

ul.error{
    margin:0px;
    padding:0px;
    list-style:none;
}
ul.error li{ color:#cd0a0a;}

label.error ul{
    margin:0px;
    padding:0px;
    list-style:none;
}


