<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE TOP-MENU FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: ANKIT SHUKLA.
 * CREATOR: 12/11/2014.
 * UPDATED: 07/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('frontend');
$UserArr = $this->_sessionObj->userDetails;
$userId = $this->_sessionObj->userDetails['UserID'];
$PanelMember = $this->_sessionObj->userDetails['PanelMember'];
if ($UserArr['Image']) {
    $image = $this->serverUrl() . "/upload_image/" . $UserArr['UserID'] . "/" . $UserArr['Image'];
} else {
    $image = $this->serverUrl() . "/img/health_matrix_logo_prelogin.png";
}
//$basename = basename($_SERVER["REQUEST_URI"]);
$explodurl = explode("/", $_SERVER["REQUEST_URI"]);
$basename = $explodurl[1];

$basenames = basename($_SERVER["REQUEST_URI"]);
$menuName = explode("-", $basenames);
if (isset($menuName[1]))
    $actives = $menuName[1];
else
    $actives = "";
$Studytrial = array("virtualtrials", "onsitetrials");
$DomainID = $this->_sessionObj->userDetails['DomainID'];
$alertMessage = "You have selected a service that is available only to Premium Members (it’s FREE!). You can change your status from a Basic Member to a Premium Member in Settings.";
?>

<script>

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ')
                c = c.substring(1);
            if (c.indexOf(name) == 0)
                return c.substring(name.length, c.length);
        }
        return "";
    }

    $(document).ready(function() {
        var menu = getCookie("pos");
        var Obj = '';
        var i = 0;

        $('ul.menuWrap li.ui-tab a.Asub').each(function() {
            //alert($(this).html());
            $(this).attr('id', i);
            i++;
        })
        menu = menu.split(':');
        if (menu[0]) {
            $('.submenu').hide();
            if (menu[1] == '1') {
                $('#' + menu).parent().find('.submenu').css('display', 'block');
            }
        }

        $('.Asub').click(function() {
            var status = $(this).attr('custom');
            if (status == '1') {

                var pos = $(this).attr('id');
                document.cookie = "pos=" + pos + ':0';
                $(this).attr('custom', '0');

            } else {
                var pos = $(this).attr('id');
                document.cookie = "pos=" + pos + ':1';
                $(this).attr('custom', '1');
            }
        });
    })
</script>

<!-- Left menu Section start here -->
<div class="left_menu_section">
    <a href="javascript:void(0);" class="left_panel_menu_button"></a>
    <div class="overlay"></div>
    <!-- Loggedin User information for mobile HTML start -->
    <div class="userInfo">
        <div class="profile_pic bdr_rds_circle">
            <img src="<?php echo $image; ?>" alt=""/>
        </div>
        <div class="loggedIn_user"><?php echo $UserArr['FirstName'] . " " . $UserArr['LastName']; ?></div>
        <div class="uiddr_menu">
            <ul class="clearfix">
                <li class="logout"><a href="/individual/index/logout">Sign out</a></li>
                <li><a href="/individual-basic">My Profile</a></li>
                <li><a href="/individual-privacy-settings">Settings</a></li>
                <li><a href="javascript:void(0);" onclick="gppOpen('changePass');">Change Password</a></li>
            </ul>
        </div>
    </div>
    <!-- Loggedin User information for mobile end start -->
    <ul class="menuWrap">
        <li class="ui-tab  <?php echo (($basename == 'individual-dashboard') ? 'active' : '' ); ?>">
            <a href="<?php echo $this->basePath(); ?>/individual-dashboard" class="anchor" >
                <span class="icon"></span>Dashboard
            </a>
        </li>
        <?php
        if ($basename == 'individual-caregiver-settings' || $basename == 'individual-caregiver-request') {
            $active_caregiver = 'active';
        } else {
            $active_caregiver = '';
        }
        ?>
        <?php
        $active_body_maesurment = '';
        //$active_body_maesurment_tab = '';
        $active_body_maesurment_tab = "style='display: block;'";
        $conver = strrchr($basename, '?');
        if ($conver) {
            $basename = substr($basename, 0, strpos($basename, '?'));
        }
        if ($basename == 'individual-bodyweight' ||
                $basename == 'individual-steps' || $basename == 'individual-physicalactivity' ||
                $basename == 'individual-cholesterol' || $basename == 'individual-pressure' ||
                $basename == 'individual-managedata' || $basename == 'individual-add-steps-communicate' ||
                $basename == 'individual-add-physicalactivity' ||
                $basename == 'individual-device' ||
                $basename == 'individual-add-cholesterol' ||
                $basename == 'individual-add-bloodpressure' ||
                $basename == 'individual-add-fastingglucose' ||
                $basename == 'individual-add-temperature' ||
                $basename == 'individual-add-sleep' ||
                $basename == 'individual-sleep' ||
                $basename == 'individual-temperature' ||
                $basename == 'individual-fastingglucose'
        ) {
            $active_body_maesurment = 'active';
            $active_body_maesurment_tab = "style='display: block;'";
        }
        $active_managedata = '';

        if ($basename == 'individual-managedata' ||
                $basename == 'individual-add-steps-communicate' ||
                $basename == 'individual-add-physicalactivity' ||
                $basename == 'individual-add-cholesterol' ||
                $basename == 'individual-add-bloodpressure' ||
                $basename == 'individual-add-fastingglucose' ||
                $basename == 'individual-add-temperature' ||
                $basename == 'individual-add-sleep' ||
                $basename == 'individual-device') {
            $active_managedata = 'active';
        }
        $active_weight_management = '';
        if ($basename == 'individual-weight-management') {
            $active_weight_management = 'active';
        }
        $active_history = '';
        $active_history_tab = "";
        if ($basename == 'individual-editothertreat' || $basename == 'individual-add-history' || $basename == 'individual-editothersymp' ||
                $basename == 'individual-symp' ||
                $basename == 'individual-addsymp' ||
                $basename == 'individual-addtreat' ||
                $basename == 'individual-treat' ||
                $basename == 'individual-edittreat' ||
                $basename == 'individual-editsymp' ||
                $basename == 'individual-edit-history' ||
                $basename == 'individual-history' ||
                $basename == 'individual-condition-description' ||
                $basename == 'individual-symtoms-description' ||
                $basename == 'individual-treatment-description' ||
                $basename == 'individual-imunization' ||
                $basename == 'individual-imunization' ||
                $basename == 'individual-add-imunization' ||
                $basename == 'individual-checkup' ||
                $basename == 'individual-add-checkup'
        ) {
            $active_history_tab = "style='display: block;'";
            $active_history = 'active';
        }
        $active_location = '';
        if ($basename == 'individual-geofence' || $basename == 'individual-request-geofence' || $basename == 'individual-becons' || $basename == 'individual-location' || $basename == 'individual-location-outdoor') {
            $active_location = "active";
        }
        $active_people = '';
        $active_people_tab = '';
        if ($basename == 'individual-people' || $basename == 'individual-people-suggested' || $basename == 'individual-people-requests') {
            $active_people = "active";
            $active_people_tab = "style='display: block;'";
        }
        ?>
        <?php
        if ($basename == 'individual-social-fb' || $basename == 'individual-social-twitter') {
            $activesoci = 'active';
            $active_social_tab = "style='display: block;'";
        } else {
            $activesoci = "";
            $active_social_tab = "";
        }
        ?>

        <?php
        if ($basename == 'individual-document' || $basename == 'individual-insurance' || $basename == 'individual-emergency-contact' || $basename == 'individual-add-insurance' || $basename == 'individual-edit-insurance') {
            $activedosc = 'active';
            $activedosc_tab = "style='display: block;'";
        } else {
            $activedosc = "";
            $activedosc_tab = "";
        }
        ?>
        <?php
        if ($basename == 'individual-assessment' || $basename == 'individual-assessment-list' ||
                $basename == 'individual-assessment-update' ||
                $basename == 'individual-assessment-recurring' ||
                $basename == 'individual-assessment-score' ||
                $basename == 'individual-onsitetrials' ||
                $basename == 'individual-assessment-score-question' ||
                $basename == 'individual-study' || $basename == 'individual-stdscr-atmpt' || $basename == 'individual-reward') {
            $selftab = 'active';
        } else {
            $selftab = '';
        }
        ?>
        <?php
        if ($basename == 'individual-researchers-settings' || $basename == 'individual-researchers-request') {
            $active_researcher = 'active';
        } else {
            $active_researcher = '';
        }
        ?>
        <li class="ui-tab <?php echo $active_body_maesurment; ?>">
            <a href="#" class="anchor Asub">
                <span class="arrow"></span>
                <span class="icon body_measure"></span>Body Measurements
            </a>
            <ul class="submenu" <?php echo $active_body_maesurment_tab; ?>>
                <li class="<?php echo (($basename == 'individual-bodyweight') ? 'active' : ''); ?>"><a href="<?php echo $this->basePath(); ?>/individual-bodyweight">Body Weight </a></li>
                <li class="<?php echo (($basename == 'individual-steps') ? 'active' : ''); ?>" ><a href="<?php echo $this->basePath(); ?>/individual-steps">Steps</a></li>
                <li class="<?php echo (($basename == 'individual-physicalactivity') ? 'active' : ''); ?>" ><a href="<?php echo $this->basePath(); ?>/individual-physicalactivity">Physical Activity</a></li>
                <li class="<?php echo (($basename == 'individual-cholesterol') ? 'active' : ''); ?>" ><a href="<?php echo $this->basePath(); ?>/individual-cholesterol">Cholesterol</a></li>
                <li class="<?php echo (($basename == 'individual-pressure') ? 'active' : ''); ?>" ><a href="<?php echo $this->basePath(); ?>/individual-pressure">Pressure</a></li>
                <li class="<?php echo (($basename == 'individual-fastingglucose') ? 'active' : ''); ?>" ><a href="<?php echo $this->basePath(); ?>/individual-fastingglucose">Glucose</a></li>
                <li class="<?php echo (($basename == 'individual-sleep') ? 'active' : ''); ?>" ><a href="<?php echo $this->basePath(); ?>/individual-sleep">Sleep</a></li>
                <li class="<?php echo (($basename == 'individual-temperature') ? 'active' : ''); ?>" ><a href="<?php echo $this->basePath(); ?>/individual-temperature">Temperature</a></li>
                <li class="<?php echo $active_managedata; ?>" ><a href="<?php echo $this->basePath(); ?>/individual-managedata">Manage Data</a></li>
            </ul>
        </li>
<!--        <li class="ui-tab <?php echo $active_weight_management; ?>">
            <a href="<?php echo $this->basePath(); ?>/individual-weight-management" class="">
                <span class="icon weight_management"></span>Weight Management
            </a>
        </li>-->
        <li class="ui-tab <?php
        echo $active_history;
        echo $activedosc; echo $activesoci;
        ?>">
            <a href="#" class="anchor Asub">
                <span class="arrow"></span>
                <span class="icon history"></span>My Records
            </a>
            <ul class="submenu" <?php echo $active_history_tab; ?>>
                <li class="<?php echo $active_history; ?>"><a href="<?php echo $this->basePath(); ?>/individual-history" class=""><span class="icon history"></span>History</a></li>
                <li class="<?php echo $activedosc; ?>">
                    <a href="<?php echo $this->basePath(); ?>/individual-document">
                        <span class="icon documents"></span>Documents
                    </a>
                </li>
                <li class="<?php echo $activesoci; ?>">
                    <a href="<?php echo $this->basePath(); ?>/individual-social-fb">
                        <span class="icon social"></span>Social
                    </a>
                </li>

            </ul>
        </li>

        <li class="ui-tab <?php echo $selftab; ?>">
            <a href="#" class="anchor Asub">
                <span class="arrow"></span>
                <span class="icon people"></span>My Research
            </a>
            <ul class="submenu" <?php echo $selftab; ?>>
                <li class="ui-tab <?php echo (($basename == 'individual-study' || $basename == 'individual-stdscr-atmpt') ? 'active' : ''); ?>">
                    <a <?php if($PanelMember==0) { ?> onclick="alert('<?php echo $alertMessage;?>'); return false;" <?php } ?> href="<?php echo $this->basePath(); ?>/individual-study">
                        <span class="icon surveys"></span>Invited Studies
                    </a>
                </li>
                <li <?php if($PanelMember==0) { ?> onclick="alert('<?php echo $alertMessage;?>'); return false;" <?php } ?> class="ui-tab<?php if (in_array($actives, $Studytrial)) echo " active"; ?>"> 
                    <a href="<?= $this->url('indiv_onsitetrials'); ?>"> 
                        <span class="icon study_trials">
                        </span>Other Studies &amp; Trials
                    </a> 
                </li>
                <li class="ui-tab <?php
                echo (($basename == 'individual-assessment' || $basename == 'individual-assessment-list' ||
                $basename == 'individual-assessment-update' ||
                $basename == 'individual-assessment-recurring' ||
                $basename == 'individual-assessment-score' ||
                $basename == 'individual-assessment-score-question') ? 'active' : '');
                ?>">
                    <a <?php if($PanelMember==0) { ?> onclick="alert('<?php echo $alertMessage;?>'); return false;" <?php } ?> href="<?php echo $this->basePath(); ?>/individual-assessment" >
                        <span class="icon self_assesment"></span>Self Assessment
                    </a>
                </li>
                <li class="ui-tab <?php echo (($basename == 'individual-reward') ? 'active' : ''); ?>">
                    <a href="<?php echo $this->basePath(); ?>/individual-reward" >
                        <span class="icon rewards"></span>Rewards
                    </a>
                </li>
            </ul>
        </li>

        <li class="ui-tab <?php echo $active_caregiver; ?> <?php echo $active_people; ?>">
            <a href="#" class="anchor Asub">
                <span class="arrow"></span>
                <span class="icon people"></span>My Connections
            </a>
            <ul class="submenu <?php echo $active_people_tab; ?>">
                <li <?php if($PanelMember==0) { ?> onclick="alert('<?php echo $alertMessage;?>'); return false;" <?php } ?> class="<?php echo $active_people; ?>">
                    <a href="<?php echo $this->basePath(); ?>/individual-people">
                        <span class="icon people"></span>People
                    </a>
                </li>
                <li <?php if($PanelMember==0) { ?> onclick="alert('<?php echo $alertMessage;?>'); return false;" <?php } ?> class="<?php echo $active_caregiver; ?>">
                    <a href="<?php echo $this->basePath(); ?>/individual-caregiver-settings">
                        <span class="icon people"></span>Caregivers
                    </a>
                </li>
                <?php if ($DomainID != 1) {
                    ?>
                    <li class="<?php echo $active_researcher; ?>">
                        <a href="<?php echo $this->basePath(); ?>/individual-researchers-settings">
                            <span class="icon people"></span>Researchers
                        </a>
                    </li>
            <?php } ?>  

            </ul>
        </li>
        <li class="ui-tab <?php echo $active_location; ?>">
            <a href="<?php echo $this->basePath(); ?>/individual-geofence" class="anchor">
                <span class="icon location"></span>Location
            </a>
        </li>

        <li class="ui-tab <?php echo (($basename == 'individual-knwbase' || $basename == 'individual-blog' || $basename == 'individual-blog-details') ? 'active' : ''); ?>">
            <a href="#" class="anchor Asub">
                <span class="arrow"></span>
                <span class="icon people"></span>My Infospace
            </a>
            <ul class="submenu ">
                <li class="<?php echo (($basename == 'individual-knwbase') ? 'active' : ''); ?>">
                    <a href="<?php echo $this->basePath(); ?>/individual-knwbase">
                        <span class="icon study_trials"></span>Knowledge Base
                    </a>
                </li>
                <li class="<?php echo (($basename == 'individual-blog' || $basename == 'individual-blog-details') ? 'active' : ''); ?>">
                    <a href="<?php echo $this->basePath(); ?>/individual-blog">
                        <span class="icon blogs"></span>Blogs
                    </a>
                </li>
            </ul>
        </li>
        <li class="ui-tab <?php echo (($basename == 'individual-appointment' || $basename == 'individual-add-appointment' || $basename == 'individual-edit-appointment') ? 'active' : ''); ?>">
            <a href="<?php echo $this->basePath(); ?>/individual-appointment" class="anchor">
                <span class="icon appointment"></span>Appointment
            </a>
        </li>
        <li class="ui-tab <?php echo (($basename == 'individual-how-i-feel') ? 'active' : ''); ?>">
            <a href="<?php echo $this->basePath(); ?>/individual-how-i-feel" class="anchor">
                <span class="icon howFeel"></span>My Health
            </a>
        </li>
        <li class="ui-tab <?php echo (($basename == 'individual-associatdomains') ? 'active' : ''); ?>">
            <a href="<?php echo $this->basePath(); ?>/individual-associatdomains" class="anchor">
                <span class="icon pass"></span>My Domains
            </a>
        </li>

    </ul>    
</div>
<script type="text/javascript">
//    $(document).ajaxStart(function() {
//        $.ajax({
//            type: "POST",
//            url: "/individual/ajax/notLogin",
//            success: function(res) {
//                if (res != '') {
//                    window.location.href = res;
//                }
//            }
//        });
//    });

</script>
<!-- Left menu Section end here -->
<style>
    .menuWrap .submenu{
        background-color: #f9f9f9;
    }
</style>