<?php
    /*************************
        * PHTML: USE TO MANAGE THE THRESHOLD MATRIX BLOOD PRESSURE FUNCTION.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 19/12/2014.
        * UPDATED: --/--/----.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>

<style>
.sys_validate_error,.diastolic_validate_error,.pulse_validate_error{
    font-size:13px;
    color:#cd0a0a;
    }
</style>
<div id="deleteBMI" class="grobalPopup popuBxWrap">
      <div class="gppBox">
        <div class="gppbxContainer alertConfirmMessage">
          <div class="gppTitle">Delete !
            <div onclick="gppClose('deleteBMI');" class="gppClose">X</div>
          </div>
           <div class="gppTxt clearfix">
                <h2 class="confirm_msg">Do you want to delete this record?</h2>
            </div>
            <div class="formContainer formWrapperContainer gppbuttonWrapper">
                <div class="double clearfix">
                    <div class="row">
                        <input type="submit" class="submit_button" value="Yes" name="delete-record" id="delete-record">
                    </div>
                    <div class="row last">
                        <input type="button" onclick="gppClose('deleteBMI');" class="submit_button cancel_button" value="No">
                    </div>
                </div>
            </div>
      </div>
    </div>
    <div class="gppOverlay"></div>
</div>
<div id="content-wrapper" class="clearfix"> 
   <div class="pageWrapper">
        <?= $this->partial('matrix/top_navigation'); ?>
        
        <div class="boxWrap">
            <div class="bw_title">Systolic</div>
            
            <span class="sys_validate_error clearfix"></span>
            <div class="bw_bmi_add bw_steps clearfix">
                
                <div class="select">
                    <select class="select" title="Gender" name="sys_gender" id="sys_gender">
                        <option value="">Gender</option>
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                </div>
                
                <div class="select">
                    <select class="select" title="Age from" name="sys_age_from" id="sys_age_from">
                        <option value="">Age from</option>
                        <?php for($i=1; $i<101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>
                
                <div class="select">
                    <select class="select" title="Age to" name="sys_age_to" id="sys_age_to">
                        <option value="">Age to</option>
                        <?php for($i=1; $i<101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>
                
                <div class="bmi_sbox clearfix">
                    <label>Min:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="min_systolic" maxlength="5" name="min_systolic" placeholder="mmHg">
                    </div>
                </div>
                <div class="bmi_sbox clearfix" style="margin-right:15px;">
                    <label>Max:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="max_systolic" maxlength="5" name="max_systolic" placeholder="mmHg">
                    </div>
                </div>
                
                <div class="btn"><input type="button" name="" value="+ ADD" class="orange_btn" onclick="systolicValidate();"/></div>
            </div>
            <div class="bw_list">
                <ul id="append-systolic">
                    
                </ul>
            </div>
        </div>
    
    
        <div class="boxWrap">
            <div class="bw_title">Diastolic</div>
            <span class="diastolic_validate_error clearfix"></span>
            <div class="bw_bmi_add bw_steps clearfix">
                
                <div class="select">
                    <select class="select" title="Gender" name="dia_gender" id="dia_gender">
                        <option value="">Gender</option>
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                </div>
                
                <div class="select">
                    <select class="select" title="Age from" name="dia_age_from" id="dia_age_from">
                        <option value="">Age from</option>
                        <?php for($i=1; $i<101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>
                
                <div class="select">
                    <select class="select" title="Age to" name="dia_age_to" id="dia_age_to">
                        <option value="">Age to</option>
                        <?php for($i=1; $i<101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>
                
                <div class="bmi_sbox clearfix">
                    <label>Min:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="min_diastolic" maxlength="5" name="min_diastolic" placeholder="mmHg">
                    </div>
                </div>
                <div class="bmi_sbox clearfix" style="margin-right:15px;">
                    <label>Max:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="max_diastolic" maxlength="5" name="max_diastolic" placeholder="mmHg">
                    </div>
                </div>
                
                <div class="btn"><input type="button" name="" value="+ ADD" class="orange_btn" onclick="diastolicValidate();"/></div>
                
            </div>
            <div class="bw_list">
                <ul id="append-diastolic">
                    
                </ul>
            </div>
        </div>  
    
    
    
        <div class="boxWrap">
            <div class="bw_title">Pulse</div>
            <span class="pulse_validate_error clearfix"></span>
            <div class="bw_bmi_add bw_steps clearfix">
                
                <div class="select">
                    <select class="select" title="Gender" name="pulse_gender" id="pulse_gender">
                        <option value="">Gender</option>
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                </div>
                
                <div class="select">
                    <select class="select" title="Age from" name="pulse_age_from" id="pulse_age_from">
                        <option value="">Age from</option>
                        <?php for($i=1; $i<101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>
                
                <div class="select">
                    <select class="select" title="Age to" name="pulse_age_to" id="pulse_age_to">
                        <option value="">Age to</option>
                        <?php for($i=1; $i<101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>
                
                <div class="bmi_sbox clearfix">
                    <label>Min:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="min_pulse" maxlength="5" name="min_pulse" placeholder="mmHg">
                    </div>
                </div>
                <div class="bmi_sbox clearfix" style="margin-right:15px;">
                    <label>Max:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="max_pulse" maxlength="5" name="max_pulse" placeholder="mmHg">
                    </div>
                </div>
                
                <div class="btn"><input type="button" name="" value="+ ADD" class="orange_btn" onclick="pulseValidate();"/></div>
                
            </div>
            <div class="bw_list">
                <ul id="append-pulse">

                </ul>
            </div>
        </div>
   </div>
</div>
<script>
    function addTmsystolicRange() {
        var gender = $("#sys_gender").val();
        var age_from = $("#sys_age_from").val();
        var age_to = $("#sys_age_to").val();
        var min_systolic = $("#min_systolic").val();
        var max_systolic = $("#max_systolic").val();
        var ajaxUrl  = "<?= $this->basePath(); ?>/admin/matrix/systolicmanage";
        $.post(
            ajaxUrl,
            {
                gender: gender,
                age_from: age_from,
                age_to: age_to,
                min_systolic: min_systolic,
                max_systolic: max_systolic
            },
            function(data){
                if(data==''){
                    alert('Age range overlapping, please select proper ages.');
                }else{
                    $("#append-systolic").html(data);
                }
            }
        );
    }
	
	function systolicValidate(){
		if($('#sys_gender').val()==''){
			$('.sys_validate_error').html('All fields are required.');
			$('#sys_gender').focus();
			return false;
		}
		else if($('#sys_age_from').val()==''){
			$('.sys_validate_error').html('All fields are required.');
			$('#sys_age_from').focus();
			return false;
		}
		else if($('#sys_age_to').val()==''){
			$('.sys_validate_error').html('All fields are required.');
			$('#sys_age_to').focus();
			return false;
		}
		else if(parseInt($('#sys_age_to').val()) <= parseInt($('#sys_age_from').val())){
			$('.sys_validate_error').html('Age From value must be less than Age To');
			$('#sys_age_to').focus();
			return false;
			
		}
		else if($('#min_systolic').val()==''){
			$('.sys_validate_error').html('All fields are required.');
			$('#min_systolic').focus();
			return false;
		}
		else if($('#max_systolic').val()==''){
			$('.sys_validate_error').html('All fields are required.');
			$('#max_systolic').focus();
			return false;
		}
		else if(parseInt($('#max_systolic').val()) <= parseInt($('#min_systolic').val())){
			$('.sys_validate_error').html('Min systolic value must be less than Max systolic');
			$('#max_systolic').focus();
			return false;
			
		}else{
			$('.sys_validate_error').html('');
			addTmsystolicRange();
		}
	}
	
	

    function addTmdiastolicRange() {
        var gender = $("#dia_gender").val();
        var age_from = $("#dia_age_from").val();
        var age_to = $("#dia_age_to").val();
        var min_diastolic = $("#min_diastolic").val();
        var max_diastolic = $("#max_diastolic").val();
        var ajaxUrl  = "<?= $this->basePath(); ?>/admin/matrix/diastolicmanage";
        $.post(
            ajaxUrl,
            {
                gender: gender,
                age_from: age_from,
                age_to: age_to,
                min_diastolic: min_diastolic,
                max_diastolic: max_diastolic
            },
            function(data){
                if(data==''){
                    alert('Age range overlapping, please select proper ages.');
                }else{
                    $("#append-diastolic").html(data);
                }
            }
        );
    }
	function diastolicValidate(){
		if($('#dia_gender').val()==''){
			$('.diastolic_validate_error').html('All fields are required.');
			$('#dia_gender').focus();
			return false;
		}
		else if($('#dia_age_from').val()==''){
			$('.diastolic_validate_error').html('All fields are required.');
			$('#dia_age_from').focus();
			return false;
		}
		else if($('#dia_age_to').val()==''){
			$('.diastolic_validate_error').html('All fields are required.');
			$('#dia_age_to').focus();
			return false;
		}
		else if(parseInt($('#dia_age_to').val()) <= parseInt($('#dia_age_from').val())){
			$('.diastolic_validate_error').html('Age From value must be less than Age To');
			$('#dia_age_to').focus();
			return false;
			
		}
		else if($('#min_diastolic').val()==''){
			$('.diastolic_validate_error').html('All fields are required.');
			$('#min_diastolic').focus();
			return false;
		}
		else if($('#max_diastolic').val()==''){
			$('.diastolic_validate_error').html('All fields are required.');
			$('#max_diastolic').focus();
			return false;
		}
		else if(parseInt($('#max_diastolic').val()) <= parseInt($('#min_diastolic').val())){
			$('.diastolic_validate_error').html('Min diastolic value must be less than Max diastolic');
			$('#max_diastolic').focus();
			return false;
			
		}else{
			$('.diastolic_validate_error').html('');
			addTmdiastolicRange();
		}
	}
	
	
	
	

    function addTmpulseRange() {
        var gender = $("#pulse_gender").val();
        var age_from = $("#pulse_age_from").val();
        var age_to = $("#pulse_age_to").val();
        var min_pulse = $("#min_pulse").val();
        var max_pulse = $("#max_pulse").val();
        var ajaxUrl  = "<?= $this->basePath(); ?>/admin/matrix/pulsemanage";
        $.post(
            ajaxUrl,
            {
                gender: gender,
                age_from: age_from,
                age_to: age_to,
                min_pulse: min_pulse,
                max_pulse: max_pulse
            },
            function(data){
                if(data==''){
                    alert('Age range overlapping, please select proper ages.');
                }else{
                    $("#append-pulse").html(data);
                }
            }
        );
    }
	function pulseValidate(){
		if($('#pulse_gender').val()==''){
			$('.pulse_validate_error').html('All fields are required.');
			$('#pulse_gender').focus();
			return false;
		}
		else if($('#pulse_age_from').val()==''){
			$('.pulse_validate_error').html('All fields are required.');
			$('#pulse_age_from').focus();
			return false;
		}
		else if($('#pulse_age_to').val()==''){
			$('.pulse_validate_error').html('All fields are required.');
			$('#pulse_age_to').focus();
			return false;
		}
		else if(parseInt($('#pulse_age_to').val()) <= parseInt($('#pulse_age_from').val())){
			$('.pulse_validate_error').html('Age From value must be less than Age To');
			$('#pulse_age_to').focus();
			return false;
			
		}
		else if($('#min_pulse').val()==''){
			$('.pulse_validate_error').html('All fields are required.');
			$('#min_pulse').focus();
			return false;
		}
		else if($('#max_pulse').val()==''){
			$('.pulse_validate_error').html('All fields are required.');
			$('#max_pulse').focus();
			return false;
		}
		else if(parseInt($('#max_pulse').val()) <= parseInt($('#min_pulse').val())){
			$('.pulse_validate_error').html('Min pulse value must be less than Max pulse');
			$('#max_pulse').focus();
			return false;
			
		}else{
			$('.pulse_validate_error').html('');
			addTmpulseRange();
		}
	}
    
    function getDeleteId(type, id) {
        $("#delete-record").attr("onclick", "deleteTmbldpressureRange('"+type+"', "+id+");gppClose('deleteBMI')");
    }

    function deleteTmbldpressureRange (type, dlt_id) {
        if (dlt_id) {
            if (type == "systo") {
                $("#sys_gender").val("");
                $("#sys_gender").next('span.select').html("Gender");
            }
            if (type == "pulse") {
                $("#pulse_gender").val("");
                $("#pulse_gender").next('span.select').html("Gender");
            }
            if (type == "diasto") {
                $("#dia_gender").val("");
                $("#dia_gender").next('span.select').html("Gender");
            }
            var ajaxUrl  = "<?= $this->basePath(); ?>/admin/matrix/managerecords";
            $.post(
                ajaxUrl,
                {
                    id: dlt_id,
                    type: type
                },
                function(data){
                    if (data) {
                        if (type == "pulse")
                            addTmpulseRange();
                        if (type == "systo")
                            addTmsystolicRange();
                        if (type == "diasto")
                            addTmdiastolicRange();
                    } else {
                        alert(data);
                    }
                }
            );
        }
    }

    addTmpulseRange();
    addTmsystolicRange();
    addTmdiastolicRange();

	$(function(){
	$("#min_systolic,#max_systolic,#min_diastolic,#max_diastolic,#min_pulse,#max_pulse").bind("keydown", function (event) {
		if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
				 // Allow: Ctrl+A
				(event.keyCode == 65 && event.ctrlKey === true) || 
	
			// Allow: home, end, left, right
				(event.keyCode >= 35 && event.keyCode <= 39)) {
				  // let it happen, don't do anything
				  return;
			} else {
				// Ensure that it is a number and stop the keypress
				if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
					event.preventDefault();
				}
			}
	});
	});
</script>