<?php if (count($calorie) > 0) { ?>
    <?php foreach ($calorie AS $calorieArr) { ?>
        <?php
            if ($calorieArr['gender'] == "f")
                $gender = "Female";
            else
                $gender = "Male";
        ?>
		<li class="clearfix">
            <div class="bwl_type">
                <strong><?= $gender; ?>  |</strong>  
                <strong>Age:</strong> <?= $calorieArr['age_from']." - ".$calorieArr['age_to']; ?>
            </div>
            <div class="bwl_min">
                <strong>Min:</strong> <?= $calorieArr['min_calorie']; ?> Cal
            </div>
            <div class="bwl_max">
                <strong>Max:</strong> <?= $calorieArr['max_calorie']; ?> Cal
            </div>
            <div class="bwl_delete" onclick="gppOpen('deleteBMI');getDeleteId('calorie', <?= $calorieArr['id']?>);">
                <span class="icon">X</span>
            </div>
        </li>
    <?php } ?>
<?php } else { ?>
<li>No Record Found.</li>
<?php } ?>