<?php
    /*************************
        * PHTML: USE TO MANAGE THE THRESHOLD MATRIX FASTING GLUCOSE FUNCTION.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 19/12/2014.
        * UPDATED: 21/12/2014.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>
<style>

#glucoseForm .row label.error {
    color:#cd0a0a;
    font-size: 13px;
    padding:0 10px 10px 10px;
}
</style>
<?php $this->flashMessenger()->clearMessages(); ?>
<div id="content-wrapper" class="clearfix"> 
   <div class="pageWrapper">
        <?= $this->partial('matrix/top_navigation'); ?>
        
        <?php foreach($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?= $msg["error"]; ?>
                </div>
            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?= $msg["success"]; ?>
                </div>
            <?php endif; ?>
        <?php } ?>

        <form method="post" action="" name="glucoseForm" id="glucoseForm">      
            <div class="boxWrap clearfix">
                <div class="bw_box">
                    <div class="bw_title">Fasting Glucose</div>
                    
                    <div class="hww row clearfix">
                        <label>Minimum:</label>
                        <div class="select" style="width:200px;">
                        <select class="select" title="mmol/L" name="min_glucose" id="min_glucose">
                            <option value="">mmol/L</option>
                            <?php for($i=1; $i<11; $i++) { ?>
                                <option value="<?= $i; ?>" <?php if ($viewData['min_glucose'] == $i) echo "selected";?>><?= $i." mmol/L"; ?></option>
                            <?php } ?>
                        </select>
                        </div>
                    </div>
                    <div class="hww row clearfix">
                        <label>Maximum:</label>
                        <div class="select" style="width:200px;">
                        <select class="select" title="mmol/L" name="max_glucose" id="max_glucose">
                            <option value="">mmol/L</option>
                            <?php for($i=1; $i<11; $i++) { ?>
                                <option value="<?= $i; ?>" <?php if ($viewData['max_glucose'] == $i) echo "selected";?>><?= $i." mmol/L"; ?></option>
                            <?php } ?>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxBtn clearfix">
                <input type="submit" name="" value="Save" class="bb_btn">
            </div>
        </form>
   </div>
</div>



<script>
$(function(){
	$("#glucoseForm").validate({
		rules: {
			min_glucose: {
				required: true
			},
			max_glucose: {
				required: true,
			}
		},
		messages: {
			min_glucose: {
				required: "This field is required.",
			},
			max_glucose: {
				required: "This field is required.",
			}
		},
		submitHandler:function(form){
			if(parseInt($('#min_glucose').val()) >= parseInt($('#max_glucose').val())){
				alert('Min Temperature must be less than max Temperature.');
                $('#min_glucose').focus();
				return false;
			}
			form.submit();
		},
		errorPlacement: function(error, element){
		error.appendTo(element.parents("div.row"));
	  }
	});
});
</script>