<?php
    /*************************
        * PHTML: USE TO MANAGE THE THRESHOLD MATRIX TOP NAVIGATION FUNCTION.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 15/12/2014.
        * UPDATED: --/--/----.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/

    $basename = basename($_SERVER["REQUEST_URI"]);
    $menuName = explode("-", $basename);
    if (isset($menuName[1]))
        $active = $menuName[1];
    else
        $active = "";

?>
<div class="pghFixed">
    <div class="pgh_title">| Manage Threshold Matrix</div>
    <div class="pgh_mWrap">
        <div class="pgh_menu">
            <a href="<?= $this->url('Defalt Measurement Body'); ?>" class="item<?php if (in_array($active, array("bodymeasurement"))) echo " selected";?>">Body Weight</a>
            <a href="<?= $this->url('Defalt Steps'); ?>" class="item<?php if (in_array($active, array("steps&comm"))) echo " selected";?>">Steps &amp; Comm.</a>
            <a href="<?= $this->url('Defalt Physical Activity'); ?>" class="item<?php if (in_array($active, array("physical+activity"))) echo " selected";?>">Physical Activity</a>
            <a href="<?= $this->url('Defalt Cholestrol'); ?>" class="item<?php if (in_array($active, array("cholestrol"))) echo " selected";?>">Cholestrol</a>
            <a href="<?= $this->url('Defalt BldPressure'); ?>" class="item<?php if (in_array($active, array("blood+pressure"))) echo " selected";?>">Blood Pressure</a>
            <a href="<?= $this->url('Defalt FastGlucose'); ?>" class="item<?php if (in_array($active, array("fasting+glucose"))) echo " selected";?>">Fasting Glucose</a>
            <a href="<?= $this->url('Defalt Temperature'); ?>" class="item<?php if (in_array($active, array("temperature"))) echo " selected";?>">Temperature</a>
            <a href="<?= $this->url('Defalt Sleep'); ?>" class="item<?php if (in_array($active, array("sleep"))) echo " selected";?>">Sleep</a>
        </div>
    </div>
</div>