<?php
/* * ***********************
 * PHTML: USE TO LIST THE SELF ASSESSMENT PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 26/02/2015.
 * UPDATED: 00/00/0000.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
?>


<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Associated Domains</div>
    </div>
    <div class="pageWrapper">

        <div class="table table_box_shadow cb_Grid geofence_grid peopleTable">
            <?php if (count($this->domains) > 0) { ?>
                <?php
                foreach ($this->domains as $avalue) {
                    $HostInArray = explode('.', $_SERVER['HTTP_HOST']);
                    $replaceCont = $HostInArray[0];
                    $host = $_SERVER['HTTP_HOST'];
                    $Domain = str_replace($replaceCont, $avalue['subdomain'], $host);
                    $DomainName = $_SERVER['REQUEST_SCHEME'] . "://" . $Domain;
                    ?>
                    <div class="row clearfix">
                <?php
            if ($avalue['subdomain'] == 'individual') {
                $domName = $avalue['subdomain'];
            } else {
                $domName = $avalue['company_name'];
            }
           // echo $domName . " (" . $avalue['subdomain'] . ")";
                    ?></a></p>                           
                        
                                                  
                        <style>
                            .txt clearfix user_img {
                                border-radius: 75%;
                                float: left;                              
                                margin: 0 10px;                          
                                width: 60px;
                            }
                        </style>
                        <div class="col wd70">
                            <span class="txt clearfix" style="cursor:pointer;">
                                <a STYLE="text-decoration:none" href="<?= $DomainName ?>" target="blank"> 
                                    <div class="user_img associated_domains" style="width:44%;">
                                        <?php
                                        if (!empty($avalue['logo'])) {
                                            $imgurl = $this->serverUrl() . "/img/" . "/" . $avalue['logo'];
                                        } else {
                                            $imgurl = "/img/profile_image_avtar.png";
                                        }
                                        ?>                          
                                        <img src="<?= $imgurl; ?>" alt="Profile image" width="200" class="uploadProfilePic_img" />

                                    </div>
                                    <h3><?= $avalue['subdomain'] ?></h3>
                                    <p><?php echo $domName; ?></p></p> 
                            </span>
                        </div>                     
                    </div>
                    <?php
                }
            } else {
                ?>
                <div class="row clearfix">
                    <div class="col wd70">
                        <span class="txt">
                            <p class="heading">No Data Found.</p>    
                        </span>
                    </div>
                </div>
            <?php } ?>
        </div>    
    </div>
    <div class="pagination pagination-centered clearfix">
        <!------pagination start ------->
        <div class="stripSecond">
            <?php
            // add at the end of the file after the table
            if (count($this->assessmentData)) {
                echo $this->paginationControl($this->assessmentData, 'Jumping', array('paginator/paginators', 'AssesmentIS'), array('route' => 'indiv_assesment', 'routeParams' => $this->routeParams));
            } else {
                ?>
                <div id="news19" class="advertiserRow">
                    <div class="advertiserListRow bdr_rds2 no_record_found clearfix">

                    </div>
                </div>
                <?php
            }
            ?>
        </div>
        <!------pagination end ------->
    </div>
    <style>
        .cb_Grid .row .col .txt{
            text-align:left;
            padding:8px 15px;
            border-left:0;
        }
        .cb_Grid .row .col.wd70{
            width:auto;
            margin-right:200px;
            float:none !important
        }
        .cb_Grid .row .col .txt .heading{
            font-size:16px;
            padding-bottom:4px;
            color:#000000
        }
        .cb_Grid .row .global_actionButton{
            font-size:11px;
            margin: 0 5px 0 0;
            padding:2px;
            min-width: 55px;
        }
        .cb_Grid .row .actionButton{
            position: absolute;
            right: 0;
            top:50%;
            margin-top: -10px;
        }
        .cb_Grid .row .col .txt .date{
            color:#858585;
            font-family:robotolight;
        }
        .cb_Grid .row .col .txt .status{
            color:#597ddb;
            font-weight:bold;
        }    
        .cb_Grid .row .col .txt .pending{
            color:#f05543;
        }
        @media screen and (max-width:640px){
            .cb_Grid .row .actionButton{
                position: relative;
                right: inherit;
                left:0;
                margin: 0 0 10px 15px;
            }
            .global_actionButton{
                margin-bottom: 10px;
                float: left;
            }
            .cb_Grid .row .col.wd70{
                margin-right: 0;
            }
        }
    </style>
    <script>
        $(function() {
            $('.cb_Grid .row').each(function() {
                equalHeight($(this).find('span.txt'));
            });
        });
    </script>
</div>
<!--Container end here--> 
