<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 10/12/2014.
 * UPDATED: 11/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('frontend');
$userName = $this->_sessionObj->userDetails['UserName'];
$UserId = $this->_sessionObj->userDetails['UserID'];
?>

<!--Container start here-->
<div id="ui-content-wrapper">
    <div class="menuWrapper">
        <ul class="pre_login_menu">
            <li><a href="#">Basic</a><span class="border"></span></li>
            <li class="active"><a href="#">Contact</a><span class="border"></span></li>
            <li><a href="#">Profile</a><span class="border"></span></li>
        </ul>
    </div>
    <div class="PreLoginPageContainer">
        <div class="formContainer formWrapperContainer formContainer_basic">
            <form name="signup_contact" id="signup_contact" action="" method="post">
                <h2 class="page_heading page_heading_basic">Please fill the fields below (All fields marked *  are mandatory)</h2>
                <div class="row">
                    <div class="input">
                        <input type="text" placeholder="Enter Your Street Address 1 *" name="address1" id="address1"  autocomplete="off" class="nospecial_char" />
                    </div>
                </div>
                <div class="row">
                    <div class="input">
                        <input type="text" placeholder="Enter Your Street Address 2" name="address2" id="address2" autocomplete="off"  class="nospecial_char"/>
                    </div>
                </div>
                <div class="double clearfix">
                    <div class="row">
                        <div class="select">
                            <select title="Select Your Country *" class="select" name="country" onchange="getState(this.value);
                                    getEthnicity(this.value)">
                                <option value="">Select Your Country</option>
                                <?php
                                $countryArr = $this->country;
                                foreach ($countryArr as $val):
                                    ?>
                                    <option value="<?php echo $val['country_id']; ?>"><?php echo $val['country_name']; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>

                    <div class="row last" >
                        <div class="select" id="ajaxstate">
                            <select title="Select Your State *" class="select" name="state" >
                                <option value="">Select Your State</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="double clearfix">
                    <div class="row" id="ajaxcounty">
                        <div class="select">
                            <select title="Select Your County *" class="select" name="county">
                                <option value="">Select Your county</option>
                            </select>
                        </div>
                    </div>
                    <div class="row last" id="ajaxethnicity">
                        <div class="select">
                            <select title="Select Your Ethnicity *" class="select" name="ethnicity" >
                                <option value="">Select Your Ethnicity</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="double clearfix">
                    <div class="row">
                        <div class="select">
                            <select title="Select Your Origin" class="select" name="origin_id">
                                <option value="">Select Your Origin</option>
                                <?php
                                $countryArr = $this->country;
                                foreach ($countryArr as $val):
                                    ?>
                                    <option value="<?php echo $val['country_id']; ?>"><?php echo $val['country_name']; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row last">
                        <div class="input">
                            <input type="text" placeholder="City *" name="city" id="city" class="nospecial_char" autocomplete="off"/>
                        </div>
                    </div>

                </div>
                <div class="double clearfix">
                    <div class="row">
                        <div class="input">
                            <input type="text"  class="number_validate" placeholder="Phone Number *" name="phone_number" id="phone_number" maxlength="10" autocomplete="off" />
                        </div>
                    </div>

                    <div class="row last">
                        <div class="input">
                            <input type="text" class="" placeholder="Postal Code *" name="postal_code" id="postal_code" autocomplete="off" maxlength="6" />
                        </div>
                    </div>
                </div>
                <!--                <div class="row">
                                    <div class="input_button basicPage_button70">
                                        <input type="submit" value="Next" class="submit_button" />
                                    </div>
                                </div>-->
                <div class="double clearfix">
                    <div class="row">
                        <input type="submit" value="Save & Next" name='next' class="submit_button" />
                    </div>
                    <div class="row last">
                        <input type="hidden" name="profile_stage" value="2" >
                        <input type="button" id='skiptoDsh' value="Skip to Dashboard" class="submit_button cancel_button" />
                    </div>
                </div>
            </form>

        </div>        
    </div>  
    <script>
        $(document).ready(function(e) {
            $("#signup_contact").validate({
                rules: {
                    address1: {
                        required: true
                    },
                    phone_number: {
                        required: true,
                        number: true,
                        minlength: 7,
                        maxlength: 10
                    },
                    postal_code: {
                        required: true,
                        //number: true,
                        minlength: 5,
                        maxlength: 6

                    },
                    county: {
                        required: true
                    },
                    city: {
                        required: true
                    },
                    state: {
                        required: true
                    },
                    country: {
                        required: true
                    }

                },
                messages: {
                    address1: {
                        required: "Please enter street address 1."
                    },
                    phone_number: {
                        required: "Please enter phone number.",
                        minlength: "Please enter valid contact number."
                    },
                    postal_code: {
                        required: "Please enter postal.",
                        minlength: "Please enter minimum 5 digit."
                    },
                    county: {
                        required: "Please select county.",
                    },
                    city: {
                        required: "Please enter city.",
                    },
                    state: {
                        required: "Please select state.",
                    },
                    country: {
                        required: "Please select country.",
                    }
                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.parents("div.row"));
                    //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
                }
            });
        });

        function getState(countryId) {
            $.ajax({
                type: "POST",
                url: "/individual/ajax/getstatesdata",
                data: {countryId: countryId}
            }).done(function(msg) {
                $('#ajaxstate').html(msg);
                custom_selectboxNew();
            });
        }
        function getEthnicity(countryId) {
            $.ajax({
                type: "POST",
                url: "/individual/ajax/getethnicity",
                data: {countryId: countryId}
            }).done(function(msg) {
                $('#ajaxethnicity').html(msg);
                custom_selectboxEthnicity();
            });
        }

        function getCounty(stateId) {
            $.ajax({
                type: "POST",
                url: "/individual/ajax/getcounty",
                data: {stateId: stateId}
            }).done(function(msg) {
                $('#ajaxcounty').html(msg);
                custom_selectboxcounty();
            });
        }

        $('#skiptoDsh').click(function() {
            var data = $('#signup_contact').serialize();
            $.ajax({
                type: "POST",
                url: "/individual/ajax/udpateprofilestage",
                 data: data
            }).done(function(res) {
                //alert(res);
                window.location.href = "/individual-dashboard";
            });
        });
    </script>
</div>
<!--Container end here--> 

