<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$followerOBJ = $this->FollowerUserObj;
?>

<div id="content-wrapper" class="clearfix">

    <div class="pghFixed pghFixedIndv">
        <?php
        $display = 'block';
        $active = '';
       
        ?>
        <div class="pgh_title" style="position:relative">| Health Finder <div class="Advanced_SearchButton <?= $active ?>"></div></div>
<!--        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-people" class="item">Connected</a>
                <a href="<?php echo $this->basePath(); ?>/individual-people-requests" class="item">Requests</a>
                <a href="<?php echo $this->basePath(); ?>/individual-people-suggested" class="item selected">Suggested</a>
            </div>
        </div>-->
    </div>
    <div class="pageWrapper">
        <div class="boxWrap advancedPeopleSearch clearfix" style="display:<?= $display ?>">
            <!-- Advanced Search box start here-->
           <!-- Advanced Search box start here-->
           <form  action="" method="post" name="advanced_search_form" id='advanced_search_form' >
    <div class="searchFormAdv clearfix">
        <div class="bw_colthird">
            <div class="bw_box">
                <div class="hww clearfix">
                    <div class="hww_select clearfix">
                        <div class="hww_sbox">
                            <div class="radioWrapper">Search Content:</div>
                            <div class="input">
                                <input type="text" name="srch_string" id="user_name" value="<?php
                                if (isset($postval['srch_string'])) {
                                    echo $postval['srch_string'];
                                }
                                ?>"/>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
       
        <span class="boxBtn"><input type="submit" name="submit" value="Go" class="bb_btn" style="min-width:inherit"></span>
        
    </div>
               <div id='required'></div>
</form>
<!-- Advanced Search box start here-->
<script type="text/javascript">
    $('.bb_btn').click(function() {
        var user_name = $('#user_name').val();
        var selected_conditions = $('#selected_conditions').val();
        var location = $('#location').val();
        var ageFrom = $('#ageFrom').val();
        var ageTo = $('#ageTo').val();
        if (user_name.length == 0 && selected_conditions == '' && location == '' && (ageFrom == '' || ageTo == '')) {
            $('#required').html('<font color="red">Please select search element.</font>');
            return false;
        }
    });
    $(document).ready(function() {
        $("#selected_conditions").change(function() {
            $(".global_loader").show();
            var conditionID = $("#selected_conditions").val();
            if (conditionID) {
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/getsubconditionslist",
                    data: {conditionID: conditionID}
                }).done(function(res) {
                    $(".global_loader").hide('fast');
                    $("#subcondtionDiv").html(res);
                    custom_selectboxNew();
                });
            } else {
                $(".global_loader").hide('fast');
                alert('Please select condition first.');
            }
        });
        $('#ageFrom').on('change', function() {
            var ageFrom = $(this).val();
            $('#ageTo option').each(function() {
                if ((parseInt(ageFrom) >= parseInt($(this).val())) || $(this).val() == '') {
                    $(this).attr('disabled', 'disabled');
                } else {
                    $(this).prop('disabled', false);
                    $(this).parent().val($(this).val());
                    $(this).parent().parent().find('span.select').remove();
                    $(this).parent().parent().find('select.select').each(function() {
                        if ($(this).next('span.select').length == '0') {
                            var title = $(this).attr('title');
                            if ($('option:selected', this).val() != '')
                                title = $('option:selected', this).text();
                            $(this)
                                    .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                                    .after('<span class="select">' + title + '</span>')
                                    .change(function() {
                                        val = $('option:selected', this).text();
                                        $(this).next().text(val);
                                    });
                        }
                    });
                    return false;
                }
            });

        });
    });
</script>

            <!-- Advanced Search box start here-->
            <div id="msg_div" style="padding-bottom:5px;"></div>
        </div>
        <div id="AlrdysntReq" style="margin-bottom:5px;"></div>
        <div class="table table_box_shadow cb_Grid geofence_grid peopleTable">
<!--<iframe src="http://healthfinder.gov/search/?q=cancer" width="100%" height="50%">
    <p>Your browser does not support iframes.</p>
</iframe>-->
            <?php  if ($res['Total']==0) { ?><div class="errorMsg">
                    <span class="ui_icon error"></span>No Data found </div> <?php
            } else { 
                foreach ($res['Topics'] as $key => $value) {
                    ?>

                    <div class="row clearfix">
                        <div class="col wd100">
                         <?php foreach($value['Sections'] as $sec) { 
                             
                             echo $sec['Content'];
                         } ?>
                        </div>
                    </div>            
                    <?php
                }
           }
            ?>          
        </div>    
    </div>
    <style>
        .cb_Grid .row .col .txt, .cb_Grid .row .col .txt1,.cb_Grid{
            text-align:left;
            border:0;
            display:table;
            width:100%;
        }
    </style>
    <script>
        $(function() {
            $('.Advanced_SearchButton').click(function() {
                $('#advanced_search_form').find('input:text, input:password, select, textarea').val('');
                //  $('#advanced_search_form').find('input:radio, input:checkbox').prop('checked', false);

                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideDown('fast');
                    $('html,body').animate({scrollTop: 0});
                }
                else {
                    $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideUp('fast');
                }
            });
            $('.cb_Grid .row').each(function() {
                equalHeight($(this).find('span.txt'));
            });
        });
        function respondfollowRequest(followID, hash, response) {
            var confirmMsg = "Are you sure,you want to " + response + " this request?";
            if (confirm(confirmMsg))
            {
                $(".global_loader").show();
                this.click;
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/followeraccept",
                    data: {hash: hash, response: response, followerID: followID}
                }).done(function(res) {
                    $(".global_loader").hide('fast');
                    $('#msg_div').html("<font color='green'>Request " + response + " successfully.</font>");
                    setTimeout(function() {
                        location.reload();
                    }, 2500)

                });
            }
            else
            {
                return false;
            }
        }
        function sendFollowerRequest(id, email, firstname) {
            if (confirm("Are you sure,you want to follow this user?"))
            {
                $(".global_loader").show();
                this.click;
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/sendfollowRequest",
                    data: {followerID: id, followerEmail: email, FirstName: firstname}
                }).done(function(res) {
                    if (res == 1) {
                        $(".global_loader").hide('fast');
                        location.reload();
                    } else {
                        $(".global_loader").hide('fast');
                        $('#AlrdysntReq').html('<font color="red">Follow request already accepted.</font>');
                        $('#AlrdysntReq').fadeIn('fast').delay(4000).fadeOut('slow');
                        $(window).scrollTop(0);
                        setTimeout(function () {
                            location.reload();
                        }, 2500);
                    }

                });
            }
            else
            {
                return false;
            }
        }
    </script>
</div>
<!--Container end here--> 
<script>
    $(document).ready(function(e) {
        $('.cb_Grid .row').each(function() {
            equalHeight($(this).find('span.txt'));
        });
    });
</script>
<!--Container end here--> 
