<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 08/12/2014.
 * UPDATED: 10/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>

<!--Container start here-->
<div id="ui-content-wrapper">
    <!--Terms Condition Modal Popup start Here-->
    <div class="grobalPopup popuBxWrap" id="gpp_terms_condition">
        <form name="tc_form" id="tc_form" action="" method="post">
            <div class="gppBox">
                <div class="gppbxContainer">
                    <div class="gppTitle">Terms &amp; Conditions
                        <div class="gppClose" onClick="gppClose('gpp_terms_condition');">X</div>
                    </div>
                    <div class="gppTxt terms_condionWrap clearfix">
                        <div class="PreLoginPageContainer" style="width:auto; padding:10px 30px;">
                            <!--Terms and Condition Content start here-->
                            <p class="paragraph">In this Health Metrix Privacy Policy any defined terms will have the same meanings given to them in the Health Metrix terms and conditions of use.</p>
                            <p class="paragraph">It is Health Metrix's policy to respect the privacy of its Members. Health Metrix will never edit, share or disclose any personal information about you without your prior consent. In the course of your membership of Health Metrix, Health Metrix may acquire personal data and information about you which you have provided in the course of registering with a Health Metrix Panel or participating in Health Metrix Activities. This information may include, your name, home address, email address, telephone number and other generic information provided in relation to your participation in specific Health Metrix Panels or Health Metrix Activities. This information will be treated in accordance with the Data Protection Act 1998 and also in accordance with the Market Research Society Code of Conduct.</p>
                            <h3 class="sub_heading">In this regard, Health Metrix undertakes only to use the data you supply to us according to the following conditions:</h3>
                            <p class="paragraph">We will not rent or sell any data which may personally identify you to any third party.
                                You will never receive communications from any third party as a result of using the Health Metrix site, participating in Health Metrix research activities or becoming a Health Metrix panel member, unless you specifically opt to do so.
                                Your data may be disclosed to clients for research purposes. Such data will only be supplied in anonymised, non-attributable form such that no party external to Health Metrix could use the data to personally identify you, or to contact you by any means.
                                Your anonymised data may be disclosed to business associates, marketers or advertisers for the promotion of Health Metrix services. By way of example, we may disclose to an advertiser the percentage age groups of our Members. Such data will be supplied in anonymised, non-attributable form such that no third party could use the data to personally identify you, or to contact you by any means.</p>

                            <p class="paragraph">Research results may also be released into the public domain. This is typically in aggregate form (e.g. 20% of respondents said blue was their favourite colour) and will not result in the disclosure of any personal identifying information.
                                We will clearly state why we are collecting personal information and how it will be used. At your request we will allow you to inspect and edit any personal data relating to you.</p>

                            <h3 class="sub_heading">Health Metrix undertakes to store your personal data securely. The accessing and processing of personal data by Health Metrix personnel will be restricted to business requirements including, but not necessarily limited to:</h3>
                            <p class="paragraph">Research data analysis</p>
                            <p class="paragraph">Panel communications (please see below)</p>
                            <p class="paragraph">Fulfilment of prizes and payments</p>
                            <p class="paragraph">Technical processing</p>
                            <p class="paragraph">Addressing of queries, technical problems or complaints</p>
                            <p class="paragraph">You are responsible for maintaining the confidentiality of your login information (your username and password). You are fully responsible and agree to indemnify Health Metrix against, all activities (including for the avoidance of doubt, the activities of persons other than yourself) that occur under your login or account. You must ensure the full exit from your Panel-based access at the end of each session (this is particularly important for those using a shared computer).
                                We cannot ensure that private communication and other identifiable personal data will never be disclosed in ways not described in this section. By way of example (without limiting the foregoing) we may be forced to disclose the data to a government agency lawfully requesting the same or to any court acting in pursuance of its powers. We reserve the right to and you hereby agree to allow us to disclose any information about you to law enforcement, government officials or to any court or court officials as we in our sole discretion believe necessary or appropriate.
                                Nothing in this Agreement relating to the confidentiality of information shall prevent or hinder Health Metrix from complying with its legal obligations as to disclosure or otherwise under the Data Protection Act 1988.</p>


                            <h3 class="sub_heading">By becoming a Health Metrix Member you agree to allow Health Metrix to communicate with you in relation to your membership of the Health Metrix Panel(s) and opportunities to participate in Health Metrix Activities. These include but are not necessarily limited to communications relating to:</h3>
                            <p class="paragraph">Health Metrix polls</p>
                            <p class="paragraph">Other forms of Health Metrix research</p>
                            <p class="paragraph">Health Metrix research results</p>
                            <p class="paragraph">Health Metrix newsletters</p>
                            <p class="paragraph">Changes which may affect your participation in Health Metrix activities</p>
                            <p class="paragraph">Panel care communications (e.g. account queries and / or complaints)</p>
                            <p class="paragraph">Payment or prize fulfilment</p>
                            <p class="paragraph">Besides payment or prize fulfilment, communications will typically take place via email. Health Metrix will always use this communication method responsibly.</p>
                            <p class="paragraph">Like many other commercial websites we may use cookies. A cookie is a text file in the browser directory of your computer's hard drive. Any website other than the one that set up the cookie cannot read the cookie. Cookies will enable our website to recognise personally identifiable information you have voluntarily given us and we may use it to present you with custom web pages.
                                The Website contains links to other sites and vice versa. This privacy policy applies solely to information protected by Health Metrix on this Website.</p>
                            <p class="paragraph">We may update this privacy policy from time to time.</p>
                            <h3 class="sub_heading">For our YYG panel members the following additional clauses apply:</h3>
                            <p class="paragraph">Health Metrix is hosting and managing the YYG online panel on behalf of Yahoo under the terms of a service agreement. Health Metrix owns and controls the personal information that you voluntarily provide to us either during the registration process or by participating in YYG activities. Under the UK Data Protection Act 1998 Health Metrix is considered as the sole Data Controller and shall undertake its responsibilities as defined by the Act. Health Metrix may share data with Yahoo but data will only be shared in an aggregated, anonymised and non-attributable form.</p>
                            <p class="paragraph">All personal data supplied by you will be securely held at Health Metrix’s data centre in the United Kingdom.
                                Not withstanding these clauses 15 & 16, all other clauses set out in this privacy policy remain in force.</p>
                            <!--Terms and Condition Content end here-->
                        </div>
                    </div>
                    <!--Check Terms and Condition Form start here-->
                    <div class="formContainer formWrapperContainer checkTermsConditionForm gppbuttonWrapper">

                        <div class="row clearfix" style="margin-bottom:10px;">
                            <div class="checkbox_col" style="width:100%; min-height: 25px;">
                                <span class="checkbox"><input type="checkbox" id="t_c" name="t_c" /></span>
                                <label for="t_c">I agree to Terms &amp; Conditions</label>
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <input type="submit" value="Submit" class="submit_button" />
                            </div>
                            <div class="row last">
                                <input type="button" value="Cancel" class="submit_button cancel_button" id="tm_cancle" onClick="gppClose('gpp_terms_condition');" />
                            </div>
                        </div>

                    </div>
                    <!--Check Terms and Condition Form end here-->
                </div>
            </div>
            <div class="gppOverlay"></div>
        </form>
    </div>

    <!--Terms Condition Modal Popup end Here-->

    <!--Age confirm Modal Popup start Here-->
    <div class="grobalPopup popuBxWrap" id="age_confirm"  style="display:none">
        <form name="age_confirmation" id="age_confirmation" action="" method="post">
            <div class="gppBox">
                <div class="gppbxContainer alertConfirmMessage" style="min-height:240px;">
                    <div class="gppTitle">Alert !
                        <div class="gppClose" onClick="gppClose('age_confirm');">X</div>
                    </div>
                    <div class="gppTxt clearfix">


                        <h3 style="padding-top:50px;"></h3>
                        <div class="formContainer formWrapperContainer checkTermsConditionForm">
                            <div class="row clearfix" style="margin-bottom:10px;">
                                <div class="checkbox_col" style="width:80%; margin:0 auto; float:none;	 min-height: 25px;">
                                    <span class="checkbox"><input type="checkbox" id="age_con" name="age_con" /></span>
                                    <label for="age_con">I confirm I have parental consent.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formContainer formWrapperContainer checkTermsConditionForm gppbuttonWrapper">

                        <div class="double clearfix">
                            <div class="row">
                                <input type="submit" value="Ok" class="submit_button" />
                            </div>
                            <div class="row last">
                                <input type="button" value="Cancel" id="cancel_popup" class="submit_button cancel_button" onClick="gppClose('age_confirm');" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="gppOverlay"></div>
        </form>
    </div>
    <!--Age confirm Modal Popup end Here-->

    <!--Signup page start Here-->
    <div class="PreLoginPageContainer">
        <?php if (!$invalidHash) { ?>
            <div class="formContainer formWrapperContainer">
                <form name="signup_form" id="signup_form" action="" method="post">
                    <h2 class="page_heading">Let's Get Started !</h2>
                    <div style="color:red;padding-bottom: 10px;"><?php
                        if (isset($this->errorArr['UserLimit'])) {
                            echo $this->errorArr['UserLimit'];
                        }
                        ?></div>
                    <div class="row">
                        <div class="input">
                            <?php if ($invite_id) { ?>
                                <input type="hidden" name="invite_id" value="<?= $invite_id ?>">
                                <input type="hidden" name="encrypt_email" value="<?= $registrationId ?>">
                            <?php } ?>
                            <input type="text" placeholder="Email Address *" name="email"  value="<?php
                            if (isset($this->postValue['email'])) {
                                echo $this->postValue['email'];
                            }
                            ?>" id="email">

                        </div>
                        <div style="color:red;"><?php
                            if (isset($this->errorArr['EmailError'])) {
                                echo $this->errorArr['EmailError'];
                            }
                            ?></div>
                        <span id="valid_email"></span>
                    </div>
                      <div class="double clearfix">
                     <div class="row">
                        <div class="input">
                            <input type="text" placeholder="User Name *" name="user_name" id="user_name" class="nospecial_char" value="<?php
                            if ($this->postValue['user_name']) {
                                echo $this->postValue['user_name'];
                            }
                            ?>">
                        </div>
                        <div style="color:red;"><?php
                            if (isset($this->errorArr['UserNameError'])) {
                                echo $this->errorArr['UserNameError'];
                            }
                            ?></div>
                        <span id="valid_user_name"></span>
                    </div>
                     <div class="row last">
                        <div class="input">
                            <input type="hidden" name="age_conConfirm" id="age_conConfirm" value="" />
                            <input type="text" placeholder="Age *" name="age" maxlength="3" class="individual_userage number_validate" value="<?php
                            if ($this->postValue['age']) {
                                echo $this->postValue['age'];
                            }
                            ?>" id="age">
                        </div>
                        <div style="color:red;"><?php
                            if (isset($this->errorArr['AgeError'])) {
                                echo $this->errorArr['AgeError'];
                            }
                            ?></div>
                        <span id="valid_age"></span>

                    </div>
                    </div>
                    <div class="double clearfix">
                    <div class="row">
                        <div class="input">
                            <input type="text" placeholder="First Name *" name="fname" id="fname" class="nospecial_char" value="<?php
                            if ($this->postValue['fname']) {
                                echo $this->postValue['fname'];
                            }
                            ?>">
                        </div>
                        <div style="color:red;"><?php
                            if (isset($this->errorArr['FNameError'])) {
                                echo $this->errorArr['FNameError'];
                            }
                            ?></div>
                        <span id="valid_user_name"></span>
                    </div>
                    <div class="row last">
                        <div class="input">
                            <input type="text" placeholder="Last Name" name="lname" id="lname" class="nospecial_char" value="<?php
                            if ($this->postValue['lname']) {
                                echo $this->postValue['lname'];
                            }
                            ?>">
                        </div>
                        <!--                        <div style="color:red;"><?php
                        if (isset($this->errorArr['UserNameError'])) {
                            echo $this->errorArr['UserNameError'];
                        }
                        ?></div>-->
                        <span id="valid_user_name"></span>
                    </div>
                    </div>

                    <div class="double clearfix">
                        <div class="row">
                            <div class="input">
                                <input type="password" placeholder="Password *" name="password" value="<?php
                                if ($this->postValue['password']) {
                                    echo $this->postValue['password'];
                                }
                                ?>" id="password">
                            </div>
                            <div style="color:red;"><?php
                                if (isset($this->errorArr['PasswordError'])) {
                                    echo $this->errorArr['PasswordError'];
                                }
                                ?></div>
                            <span id="valid_password"></span>
                        </div>
                        <div class="row last">
                            <div class="input">
                                <input type="password" placeholder="Confirm Password *" name="confirm_password"  value="<?php
                                if ($this->postValue['confirm_password']) {
                                    echo $this->postValue['confirm_password'];
                                }
                                ?>" id="confirm_password">
                            </div>
                            <div style="color:red;"><?php
                                if (isset($this->errorArr['CPasswordError'])) {
                                    echo $this->errorArr['CPasswordError'];
                                }
                                ?></div>
                            <span id="valid_confirm_password"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="select">
                            <select title="Select Preferable Devices" class="select" name="preferably_device">
                               <option value="">Select Preferably Devices</option>
                               <option value="Apple Health Kit/Google Fit"<?php if($this->postValue['preferably_device']==1) {echo "selected";} ?>>Apple Health Kit/Google Fit</option>
                               <option value="Brand of Health & Fitness Wearable (FitBit, Jawbone, Garmin, iHealth, Withings, etc.)"<?php if($this->postValue['preferably_device']==2) {echo "selected";} ?>>Brand of Health & Fitness Wearable (FitBit, Jawbone, Garmin, iHealth, Withings, etc.)
</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="checkbox_col">
                            <span class="checkbox individual_checkbox checked"><input type="checkbox" checked="checked" value="1" id="individual_check"  name="usertype[]" /></span>
                            <label for="individual_check">Individual</label>
                        </div>
                        <?php if ($pass_id == 1) { ?>
                            <div class="checkbox_col">
                                <span class="checkbox"><input type="checkbox" id="caregiver" value="2" name="usertype[]" /></span>
                                <label for="caregiver">Caregiver</label>
                            </div>
                        <?php } if ($pass_id == 1 || $registrationId) { ?>
                            <div class="checkbox_col">
                                <span class="checkbox<?php
                                if ($registrationId) {
                                    echo " individual_checkbox checked";
                                }
                                ?>"><input type="checkbox" id="researcher" <?php
                                      if ($registrationId) {
                                          echo "checked";
                                      }
                                      ?> value="3" name="usertype[]" /></span>
                                <label for="researcher">Researcher</label>
                                <?php if ($registrationId) { ?>
                                    <input type="hidden" name="registrationId" value="<?= $registrationId ?>" >
                                <?php } ?>
                            </div>
                        <?php } ?>
                        <span id="valid_account"></span> 
                    </div>
                    <!--                    <div class="row clearfix">
                                            <div class="checkbox_col">
                                                <span class="checkbox individual_checkbox checked"><input type="checkbox" checked="checked" value="1" id="individual_check"  name="usertype[]" /></span>
                                                <label for="individual_check">Apple Health Kit/Google Fit</label>
                                            </div>
                    <?php if ($pass_id == 1) { ?>
                                                            <div class="checkbox_col">
                                                                <span class="checkbox"><input type="checkbox" id="caregiver" value="2" name="usertype[]" /></span>
                                                                <label for="caregiver">Brand of Health & Fitness Wearable</label>
                                                            </div>
                    <?php } ?>
                    
                                            <span id="valid_account"></span> 
                                        </div>-->
                    <div class="row">
                        <div class="input_button">
                            <input type="submit" value="Submit" class="submit_button" id="Submit" />
                        </div>
                    </div>
                    <div class="row newuser" style="text-align:center; font-size:16px; color:#3b3b3b">Already member! <a href="/">Login</a> now</div>
                </form>
            </div> <?php } else { ?>
            <div class="row newuser" style="text-align:center; font-size:26px; color:#3b3b3b;padding-top: 80px;">This link has been expired! Please go to <a href="/">Login</a></div>
        <?php } ?>
    </div>
    <!--Signup page end Here-->

    <div id="EmailAlreadyRegistered" class="grobalPopup popuBxWrap">
        <div class="gppBox">
            <div class="gppbxContainer" style="width: 400px; min-height: 260px; margin-left: -200px;">
                <div class="gppTitle">Already Registered ! 
                    <div onclick="gppClose('EmailAlreadyRegistered');" class="gppClose">X</div>
                </div>
                <div class="formWrapperContainer" style="padding:40px 20px 20px; text-align: center; font-size: 18px; line-height: normal">
                    <form  name= "joinYesForm" id = "joinYesForm" action="" method="post">
                        <input type="hidden" name="AlreadyRegistered" value="" id="AlreadyRegistered">
                        <div class="row">

                            <p>You are already part of the Healthmetrix system.Would you like to login ?</p>
                            <div id="err" ></div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div class="input_button">
                                    <a href='/individual/login'> <input type="button" value="Yes" id="yesbtn" class="submit_button" /></a>
                                </div>
                            </div>
                            <div class="row last">
                                <div class="input_button">
                                    <input type="button" onclick="gppClose('EmailAlreadyRegistered');" value="No" class="submit_button cancel_button" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="gppOverlay"></div>
    </div>
    <!-----End code to join main domain-------->
    <script>
        $('#email').blur(function() {
            var email = $('#email').val();
            var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
            var validEmail = pattern.test(email);
            if (validEmail == true) {
                $.ajax({
                    method: "POST",
                    url: "/individual/ajax/emailregistered",
                    data: {email: email}
                }).done(function(res) {
                    if (res) {
                        $('#AlreadyRegistered').val(1);
                        gppOpen('EmailAlreadyRegistered');

                    } else {
                        $('#AlreadyRegistered').val('');
                    }
                });
            } else {
                $(this).addClass('required');
                //   $(this).val('');
            }
        });
        $(document).ready(function() {
            $('#age_confirm .checkbox').click(function() {
                if ($(this).hasClass('checked')) {
                    $('#age_conConfirm').val('1');
                }
                else {
                    $('#age_conConfirm').val('');
                }
            });
            $('.individual_checkbox').click(function() {
                $('.individual_checkbox').addClass('checked');
                $('.individual_checkbox').find('input').prop('checked', 'checked');
                $(this).find('input').off('click');
                return false;
            });


            jQuery.validator.addMethod("validEmail", function(value, element) {
                return this.optional(element) || /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value);
            }, "Please enter valid email.");

            $("#signup_form").validate({
                rules: {
                    user_name: {
                        required: true
                    },
                     fname: {
                        required: true
                    },
                    'usertype[]': "required",
                    email: {
                        required: true,
                        email: true,
                        validEmail: true
                    },
                    password: {
                        required: true,
                        minlength: 8,
                        maxlength: 30,
                    },
                    confirm_password: {
                        required: true,
                        minlength: 8,
                        maxlength: 30,
                        equalTo: "#password"
                    },
                    age: {
                        required: true,
                        number: true
                    }

                },
                messages: {
                    email: {
                        required: "Please enter email.",
                        email: "Please enter valid email.",
                        validEmail: "Please enter valid email."
                    },
                     fname: {
                        required: "Please enter first name.",
                        
                    },
                    age: {
                        required: "Please enter age.",
                        format: "Please enter number only."
                    },
                    password: {
                        required: "Please enter password.",
                        minlength: "Password must be of minimum eight characters."
                    },
                    confirm_password: {
                        required: "Please enter confirm password.",
                        minlength: "Password must be of minimum eight characters."
                    },
                    user_name: {
                        required: "Please enter user name."

                    },
                    'usertype[]': "Please select user type.",
                },
                submitHandler: function(form) {
                    var age_conConfirm = $('#age_conConfirm').val();
                    var age = $('#age').val();
                    if (age_conConfirm == '' && age < 15) {
                        gppOpen('age_confirm');
                        return false;
                    }
                    var AlreadyRegisterd = $('#AlreadyRegistered').val();
                    if (AlreadyRegisterd) {
                        gppOpen('EmailAlreadyRegistered');
                        return false;
                    }
                    gppOpen('gpp_terms_condition');
                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.parents("div.row"));
                }
            });
        });
        $("#cancel_popup").click(function() {
            $('#age_conConfirm').val('');
            $('#age_confirmation .checkbox_col .checkbox #age_con').prop('checked', '');
            $('#age_confirmation .checkbox_col .checkbox').removeClass('checked');
        });
        $(document).ready(function() {
            $("#tm_cancle").click(function() {
                var validator = $("#tc_form").validate();
                validator.resetForm();
            });
            $("#tc_form").validate({
                rules: {
                    t_c: "required"
                },
                messages: {
                    t_c: {
                        required: "Please check terms & conditions."
                    }
                },
                submitHandler: function(form) {
                    document.getElementById("signup_form").submit();
                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.parents("div.row"));
                }
            });
        });
        $(document).ready(function() {

            $("#age_confirmation").validate({
                rules: {
                    age_con: "required"
                },
                messages: {
                    age_con: {
                        required: "Please check on parental consent."
                    }
                },
                submitHandler: function(form) {
                    gppClose('age_confirm');
                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.parents("div.row"));
                    //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
                }
            });


            //reset();

        });

    </script>
</div>
<style>
    .formContainer .checkbox_col .checkbox{   
        top:50%;
        margin-top: -17px;
    }
</style>
<!--Container end here--> 

