<script type="text/javascript" src="<?= $this->serverUrl() ?>/js/jstz.js"></script>
<script type="text/javascript" src="<?= $this->serverUrl() ?>/js/moment.js"></script>
<script type="text/javascript" src="<?= $this->serverUrl() ?>/js/moment-timezone-with-data-2010-2020.min.js"></script>
<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 10/12/2014.
 * UPDATED: 10/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$zones = DateTimeZone::listIdentifiers();
$CusConPlug = $this->CusConPlug;
//$time_zone = $CusConPlug->getTimezone();
?>

<!--Container start here-->
<div id="ui-content-wrapper" >
    <!---Start forgot password popup --->

    <div id="ForgotPassword" class="grobalPopup popuBxWrap">
        <div class="gppBox">
            <div class="gppbxContainer" style="margin-top: -250px;">
                <div class="gppTitle">Forgot Password
                    <div onclick="gppClose('ForgotPassword');" id= "forgotpassCan" class="gppClose">X</div>
                </div>

                <div class="formWrapperContainer">
                    <form  name= "forgotPass" id = "forgotPass" action="" method="post">

                        <div class="row">
                            <div id="succ" style="padding-bottom:10px;"></div>
                            <div class="input">
                                <input type="text" placeholder="Enter your email to recover password" name="email_id" id ="email_id">
                            </div>
                            <div id="err" ></div>
                        </div>                         
                        <div class="row last">
                            <div class="input_button">
                                <input type="submit" value="Send" class="submit_button" />
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        <div class="gppOverlay"></div>
    </div>
    <!--- end forgot password popup--->
    <!------------Start join Main domain popup--------->
    <div id="JoinMainDomain" class="grobalPopup popuBxWrap">
        <div class="gppBox">
            <div class="gppbxContainer" style="width: 400px; min-height: 260px; margin-left: -200px;">
                <div class="gppTitle">To join 
                    <div onclick="gppClose('JoinMainDomain');" class="gppClose">X</div>
                </div>
                <div class="formWrapperContainer" style="padding:40px 20px 20px; text-align: center; font-size: 18px; line-height: normal">
                    <form  name= "joinYesForm" id = "joinYesForm" action="" method="post">
                        <input type="hidden" name="joinYes" value="" id="joinYes">
                        <input type="hidden" name="email" value="" id="email">
                        <input type="hidden" name="password" value="" id="password">
                        <input type="hidden"  name="PtimeZone" id="PtimeZone">
                        <div class="row">

                            <p>Currently you are not a part of <?= $siteURL ?>,Would you like join ?</p>
                            <div id="err" ></div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div class="input_button">
                                    <input type="button" value="Yes" id="yesbtn" class="submit_button" />
                                </div>
                            </div>
                            <div class="row last">
                                <div class="input_button">
                                    <input type="button" onclick="gppClose('JoinMainDomain');" value="No" class="submit_button cancel_button" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="gppOverlay"></div>
    </div>
    <!-----End code to join main domain-------->

    <!--Signup page start Here-->
    <div class="PreLoginPageContainer">
        <div class="formContainer formWrapperContainer loginPage-individual">
            <form name="login_form" id="login_form" action="/individual/login" method="post">
                <input type="hidden" name="type" value="<?php echo base64_encode($this->type); ?>">
                <input type="hidden" name="assessment_id" value="<?php echo base64_encode($this->assessment_id); ?>">
                <input type="hidden" name="study_id" value="<?php echo base64_encode($this->study_id); ?>">
                <input type="hidden" name="study_type" value="<?php echo base64_encode($this->study_type); ?>">
                <input type="hidden" name="study_trial" value="<?php echo base64_encode($this->study_trial); ?>">
                <div class="row">
                    <?php
                    if ($this->error) {
                        if ($error != 1) {
                            ?>
                            <div class="errorMsg">
                                <span class="ui_icon error"></span><?php echo $error; ?></div>
                        <?php } else { ?>
                            <input type="hidden" name="" value="<?= $email ?>" id="Postemail">
                            <input type="hidden" name="" value="<?= $password ?>" id="Postpassword">
                            <input type="hidden" name="" value="<?= $Ptime_zone ?>" id="PostTime_zone">
                            <script>
                                gppOpen('JoinMainDomain');
                            </script>
                            <?php
                        }
                    }
                    ?>
                    <div class="input">
                        <input type="text" placeholder="Email Address" name="email" id="formemail">

                    </div>
                    <span id="valid_email"></span>
                </div>


                <div class="row">
                    <div class="input">
                        <input type="password" placeholder="Password" name="password" id="formpassword">

                    </div>
                    <span id="valid_password"></span>
                </div>
                <div class="row" id="time_zone_div" style="display: none">                           
                    <label class="label">Select Time zone</label>
                    <div class="select">                            
                        <select name="time_zone" id="time_zone" style="width: 100%">                                  
                            <?php
                            foreach ($zones as $zvalue) {
                                ?>
                                <option value="<?= $zvalue ?>" <?php echo (($zvalue == "America/Los_Angeles") ? "selected" : "" ) ?>><?= $zvalue ?></option>
                            <?php } ?>
                        </select>
                    </div>                          
                </div>


                <a href="javascript:void(0);" class="forgetPass" onclick="gppOpen('ForgotPassword');">Forgot Password?</a>
                <a href="/individual" style="float:right;" class="forgetPass" >New User ?</a>

                <div class="row">
                    <div class="input_button">
                        <input type="submit" value="Submit" class="submit_button" id="Submit"  />
                    </div>
                </div>
            </form>
        </div> 
        <script>
            function get_time_zone_offset() {
                if (!sessionStorage.getItem('timezone')) {
                    var tz = jstz.determine() || 'UTC';
                    sessionStorage.setItem('timezone', tz.name());
                }
                var currTz = sessionStorage.getItem('timezone');
                // $("#time_zone").val(currTz);
                $('#time_zone').val(currTz).attr("selected", "selected");
                if (currTz == '') {
                    $("#time_zone_div").show();
                } else {
                    $("#time_zone_div").hide();
                }

            }
            $("#forgotpassCan").click(function () {
                var validator = $('#forgotPass').validate();
                validator.resetForm();
                $("input[type=text], textarea").val("");
            });
            $('#yesbtn').click(function () {
                $('#joinYes').val(1);
                $('#email').val($('#Postemail').val());
                $('#password').val($('#Postpassword').val());
                $('#PtimeZone').val($('#PostTime_zone').val());
                document.joinYesForm.submit();
            });
            $(document).ready(function () {
                //$('.errorMsg').delay('600').('fast');
                get_time_zone_offset();
                $('.errorMsg').fadeIn('slow').delay(4000).fadeOut('slow');
                $("#login_form").validate({
                    rules: {
                        email: {
                            required: true,
                            email: true
                        },
                        password: {
                            required: true,
                            minlength: 8,
                            maxlength: 30
                        }

                    },
                    messages: {
                        email: {
                            required: "Please enter email.",
                            format: "Please enter valid email.",
                        },
                        password: {
                            required: "Please enter password.",
                            minlength: "Password must be of minimum eight characters."
                        }
                    },
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parents("div.row"));
                        //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
                    }


                });

                $("#forgotPass").validate({
                    rules: {
                        email_id: {
                            required: true,
                            email: true
                        }
                    },
                    messages: {
                        email_id: {
                            required: "Please enter email.",
                            format: "Please enter valid email.",
                        }
                    },
                    submitHandler: function (form) {
                        var Email = $("#email_id").val();
                        $(".global_loader").show();
                        $.ajax({
                            type: "POST",
                            url: "/individual/ajax/forgotpassword",
                            data: {Email: Email}
                        }).done(function (resp) {
                            if (resp == 1) {
                                $(".global_loader").hide('fast');
                                $('#succ').html("<font color='green'>Temporary password has been sent on entered email id.Please change password after login.</font>");
                                setTimeout(function () {

                                    window.location.href = "/individual/index/login";
                                }, 2500);
                            } else {
                                $(".global_loader").hide('fast');
                                $('#err').html("<font color='red'>Email id does not exist.</font>");
                                $('#err').fadeIn('fast').delay(1000).fadeOut('slow');
                                return false;
                            }
                        });
                        //gppOpen('gpp_terms_condition');   
                    },
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parents("div.row"));
                    }
                });

                $(function () {
                    setTimeout(function () {
                        $("#server_error").fadeOut(1500);
                    }, 2000)
                })
            });
        </script>	
        <style>
            .loginPage-individual{
                width:400px;
            }
            @media screen and (max-width:480px){
                .loginPage-individual{
                    width:auto;
                }
            }
        </style>	
    </div>
    <!--Signup page end Here-->
</div>
<!--Container end here--> 

