<?php
    /*************************
        * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: Rabban Ahmad
        * CREATOR: 10/12/2014.
        * UPDATED: 10/12/2014.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>

<!--Container start here-->
<div id="ui-content-wrapper">

    
    <!--Signup page start Here-->
 	<div class="PreLoginPageContainer">
		<div class="formContainer formWrapperContainer">
                    <form name="login_form" id="login_form" action="/individual/login" method="post">
 
                <div class="row"><?php if($this->error) : ?>
				<div align="center"><p style="color:red;padding-bottom:10px;"><?php echo $this->error;?></p></div><?php endif; ?>
                    <div class="input">
                        <input type="text" placeholder="Email Address" name="email" id="email">
                       
                    </div>
                     <span id="valid_email"></span>
                </div>
             

                    <div class="row">
                        <div class="input">
                            <input type="password" placeholder="Password" name="password" id="password">
                        </div>
                         <span id="valid_password"></span>
                    </div>
                 
                
             
                <div class="row">
                    <div class="input_button">
                        <input type="submit" value="Submit" class="submit_button" id="Submit"  />
                    </div>
                </div>
            </form>
        </div> 
 <script>
	$(document).ready(function() {
	$("#login_form").validate({
		rules: {
			email: {
				required: true,
				email: true
			},
			password: {
				required: true,
				minlength: 8
			}
			
		},
		messages: {
			email: {
				required: "Please enter email.",
				format: "Please enter valid email.",
			},
			
			password: {
				required: "Please enter password.",
				minlength: "Password must be of minimum eight characters."
			}
		},
		errorPlacement: function(error, element) {
		error.appendTo(element.parents("div.row"));
		//error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
	  }
	});
	});
	</script>		
    </div>
    <!--Signup page end Here-->
</div>
 <!--Container end here--> 

