<table cellpadding=\"0\" cellspacing=\"0\">
<tr>
	<td colspan=\"2\" align=\"left\">Dear $NAME$,</td>
</tr>
<tr><td colspan=\"2\">&nbsp;</td></tr>
<tr><td colspan=\"2\">$AGENT_NAME$ has registered to use Buying Buddy under your Agency . Please accept this request by clicking 'Verify'.</td></tr>
<tr><td colspan=\"2\">You can access this function by logging into your Principal Agency account at <a href="http://www.buyingbuddy.com.au">http://www.buyingbuddy.com.au</a></td></tr>
<tr><td colspan=\"2\"></td></tr>
<tr><td colspan=\"2\" align=\"left\">Regards,</td></tr>
<tr><td colspan=\"2\"></td></tr>
<tr><td colspan=\"2\" align=\"left\">The Healthmatrix Team</td></tr>
</table>
