<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 10/12/2014.
 * UPDATED: 11/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('frontend');
$userName = $this->_sessionObj->userDetails['UserName'];
$UserId = $this->_sessionObj->userDetails['UserID'];
//echo "<pre>";print_r($this->education);die;
?>

<!--Container start here-->
<div id="ui-content-wrapper">
    <div class="menuWrapper">
        <ul class="pre_login_menu">
            <li><a href="#">Basic</a><span class="border"></span></li>
            <li><a href="#">Contact</a><span class="border"></span></li>
            <li class="active"><a href="#">Profile</a><span class="border"></span></li>
        </ul>
    </div>
    <div class="PreLoginPageContainer">
        <div class="formContainer formWrapperContainer formContainer_basic">
            <form name="signup_profile" id="signup_profile" action="" method="post" enctype="multipart/form-data">
                <h2 class="page_heading page_heading_basic">Please fill the fields below (All fields marked *  are mandatory)</h2>
                <div class="row clearfix">
                    <div class="upload_profile_image" onClick="javascript:document.getElementById('UploadProfilePic').click();">
                        <img src="<?php echo $this->serverUrl(); ?>/img/profile_image_avtar.png" alt="Profile image" class="uploadProfilePic_img" />
                        <input type="file" name="profile_pic" id="UploadProfilePic" onChange="readURL(this);" />
                    </div>
                    <div id="file_error"></div>
                </div>
                <div class="err" style="color:red;display:none;align:center;">Please upload valid image.</div>
                <div class="double clearfix">
                    <div class="row">
                        <div class="select">
                            <select title="Highest Education " class="select" name="education">
                                <option value="">Highest Education </option>
                                <?php foreach ($this->education as $edu) : ?>
                                    <option value="<?php echo $edu['education_id']; ?>"><?php echo $edu['highest_degree_name']; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row last">
                        <div class="select">
                            <select title="Language" class="select" name="language">
                                <option value="">Language</option>
                                <?php foreach ($this->language as $langu) : ?>
                                    <option value="<?php echo $langu['laguage_id']; ?>"><?php echo $langu['language']; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                </div>
                <?php if ($this->isResearcher == 1) { ?>

                    <div class="double clearfix">
                        <div class="row">
                            <div class="input">
                                <input type="text" placeholder="Institute name " id = "institute" name="institute" autocomplete="off" class="nospecial_char">
                            </div>
                        </div>
                        <div class="row last">
                            <div class="input">
                                <input type="text" placeholder="Department name " id = "depratment" name="depratment" autocomplete="off" class="nospecial_char">
                            </div>
                        </div>
                    </div>
                    <div class="double clearfix">
                        <div class="row">
                            <div class="input">
                                <input type="text" class="number_validate" placeholder="Department Phone" id = "dept_phone" name="dept_phone" maxlength=12 autocomplete="off">
                            </div>
                        </div>
                        <div class="row last">
                            <div class="input">
                                <input type="text" class="number_validate" placeholder="Work Phone " id = "work_phone" name="work_phone" maxlength=12 autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input">
                            <input type="text" placeholder="Department head name" id = "dept_head_name" name="dept_head_name"autocomplete="off" class="nospecial_char">
                        </div>
                    </div>
                <?php } ?>
                <?php if ($this->isCaregiver == 1) { ?>
                    <div class="row">
                        <div class="input">
                            <input type="text" placeholder="Name of practice " id = "practice" name="practice" autocomplete="off" class="nospecial_char">
                        </div>
                    </div>
                <?php } ?>

                <div class="double clearfix">
                    <div class="row">
                        <div class="select">
                            <select title="Blood Type" class="select" name="blood_type" id="blood_type">
                                <option value="">Blood Type</option>
                                <?php foreach ($this->bloodtype as $langu) : ?>
                                    <option value="<?php echo $langu['blood_id']; ?>" <?php echo (isset($this->profileDetails[0]['blood_group']) ? (($this->profileDetails[0]['blood_group'] == $langu['blood_id']) ? 'selected' : '') : '') ?> ><?php echo $langu['blood_type']; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row last">
                        <select title="Income" class="select" name="income">
                            <option value="">Your Income</option>
                            <?php foreach ($this->IncomeArr as $langu) : ?>
                                <option value="<?php echo $langu['range']; ?>" <?php echo (isset($this->profileDetails[0]['income']) ? (($this->profileDetails[0]['income'] == $langu['range']) ? 'selected' : '') : '') ?> ><?php echo $langu['range']; ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                             
                <div class="row last clearfix">
                    <div class="doblabel doblabel2">Marital Status *</div>
                    <div class="checkbox_col radioLable">
                        <div class="checkbox_col radioButtonWrap">
                            <span class="radio bdr_rds_circle selected"><input type="radio" id="male" name="marital_status" value="m"></span>
                            <label for="male">Married</label>
                        </div>
                    </div>
                    <div class="checkbox_col radioLable">
                        <div class="checkbox_col radioButtonWrap">
                            <span class="radio bdr_rds_circle"><input type="radio" id="female" name="marital_status" value="um"></span>
                            <label for="female">Unmarried</label>
                        </div>
                    </div>
                </div>

                <div class="double clearfix">
                    <div class="row">
                        <input type="submit" value="Save" name='next' class="submit_button" />
                    </div>
                    <div class="row last">
                        <input type="hidden" name="profile_stage" value="3" >
                        <input type="button" value="Skip to Dashboard" id='skiptoDsh' class="submit_button cancel_button" />
                    </div>
                </div>
            </form>
        </div>        
    </div>   
    <script>
        $(document).ready(function(e) {
            $(".err").hide("fast");
            $("#signup_profile").validate({
                rules: {
//                    education: {
//                        required: true
//                    },
//                    work_phone: {
//                        required: <?php
                            if ($this->isResearcher == 1) {
                                echo "true";
                            } else {
                                echo "false";
                            }
                            ?>//
//                    },
//                    depratment: {
//                        required: <?php
                            if ($this->isResearcher == 1) {
                                echo "true";
                            } else {
                                echo "false";
                            }
                            ?>//
//                    },
//                    institute: {
//                        required: <?php
                            if ($this->isResearcher == 1) {
                                echo "true";
                            } else {
                                echo "false";
                            }
                            ?>//
//                    }
//                    ,
//                    practice: {
//                        required: <?php
                            if ($this->isCaregiver == 1) {
                                echo "true";
                            } else {
                                echo "false";
                            }
                            ?>//
//                    }
                },
                messages: {
                    education: {
                        required: "Please select highest education."
                    },
                    ethnicity: {
                        required: "Please select ethnicity."
                    },
                    work_phone: {
                        required: "Please enter work phone."
                    }
                    ,
                    depratment: {
                        required: "Please enter depratment."
                    }
                    ,
                    practice: {
                        required: "Please enter practice."
                    }
                    ,
                    institute: {
                        required: "Please enter institute."
                    }
                },
                submitHandler: function(form) {
                    var incomeVal = $('#income').val();
                    if (incomeVal !== '') {
                        if (incomeVal.charAt(0) == 0) {
                            $('#err').html("<font color='red'>Enter valid income.</font>");
                            $('#err').fadeIn('fast').delay(1000).fadeOut('slow');
                            return false;
                        }
                    }
                    document.getElementById("signup_profile").submit();
                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.parents("div.row"));
                    //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
                }
            });
        });
        $('#skiptoDsh').click(function() {
            var data = $('#signup_profile').serialize();
            $.ajax({
                type: "POST",
                url: "/individual/ajax/udpateprofilestage",
                data: data
            }).done(function(res) {
                window.location.href = "/individual-dashboard";
            });
        });
        /* $("#UploadProfilePic").change(function(){
         var val = $('#UploadProfilePic').val();
         var ext = $('#UploadProfilePic').val().split('.').pop().toLowerCase();
         var mim = document.getElementById('UploadProfilePic').files[0].type;
         if($.inArray(mim, ['image/gif','image/png','image/jpg','image/jpeg']) == -1) {
         $(".err").css("display", "block");
         setTimeout(function(){
         location.reload();
         }, 2000);
         
         }else{
         $(".err").css("display", "none");
         }
         }); */
    </script>
</div>
<!--Container end here--> 

