<?php
    /*************************
        * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: Rabban Ahmad
        * CREATOR: 10/12/2014.
        * UPDATED: 10/12/2014.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>

<!--Container start here-->
<div id="ui-content-wrapper">
 <div class="PreLoginPageContainer">
		<div class="formContainer formWrapperContainer">
        	<form name="cofirm_verification_form" action="" method="post">
			<?php if($response=="1") { ?>
			 <h2 class="page_heading" style="padding:80px 0 60px">Link has been expired.</h2>
			<?php }elseif($response=="2"){  ?>
			<h2 class="page_heading" style="padding:80px 0 60px">Request has been accept successfully.</h2>
			<?php 
			 } else { ?>
			 <h2 class="page_heading" style="padding:80px 0 60px">Request has been reject successfully.</h2>
			<?php } ?>
               
                <div class="double clearfix">
                <div>
                    <a href="/individual/login"><input type="button" value="Continue" class="submit_button" /></a>
                </div>
               
            </div>
           </form>
        </div>        
    </div>
</div>
 <!--Container end here--> 

