<?php
    /*************************
        * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: Rabban Ahmad
        * CREATOR: 10/12/2014.
        * UPDATED: 10/12/2014.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>

<!--Container start here-->
<div id="ui-content-wrapper">

<!---Start forgot password popup --->

<div id="ForgotPassword" class="grobalPopup popuBxWrap">
      <div class="gppBox">
        <div class="gppbxContainer" style="margin-top: -250px;">
          <div class="gppTitle">Resend mail
            <div onclick="gppClose('ForgotPassword');" class="gppClose">X</div>
          </div>
          
          <div class="formWrapperContainer">
        	<form  name= "resend_mail" id = "resend_mail" action="" method="post">
            
                <div class="row">
				<div id="succ" style="padding-bottom:10px;"></div>
                    <div class="input">
                        <input type="text" placeholder="Enter your email to resend activation mail." name="email_id" id ="email_id">
                    </div>
					<div id="err" ></div>
                </div>
                
                <div class="row last">
                    <div class="input_button">
                        <input type="submit" value="Send" class="submit_button" />
                    </div>
                </div>
            </form>
        </div>
          
          
      </div>
    </div>
      <div class="gppOverlay"></div>
    </div>
<!--- end forgot password popup--->
 <div class="PreLoginPageContainer">
		<div class="formContainer formWrapperContainer">
        	<form name="cofirm_verification_form" action="" method="post">
                <h2 class="page_heading" style="padding:80px 0 60px">Your Account Needs Verification. Verification link has been sent to your email.</h2>
                <div class="double clearfix">
                <div class="row">
                    <a href="/individual/login"><input type="button" value="Continue" class="submit_button" /></a>
                </div>
                <div class="row last">
                    <input type="button" value="Resend Email" class="submit_button cancel_button" onclick="gppOpen('ForgotPassword');" />
					
                </div>
            </div>
           </form>
        </div>        
    </div>
</div>
<script>
$(document).ready(function(){
    
            jQuery.validator.addMethod("validEmail", function(value, element) {
        return this.optional(element) || /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value);
    }, "Please enter valid email.");
	$("#resend_mail").validate({
		rules: {
			email_id: {
				required: true,
				email: true,
                                validEmail: true
			}
		},
		messages: {
			email_id: {
				required: "Please enter email.",
				email: "Please enter valid email.",
                                validEmail: "Please enter valid email."
			}
		},
		 submitHandler: function(form){
		 var Email = $("#email_id").val();
		 $(".global_loader").show();
	
		 $.ajax({
				type: "POST",
				url: "/individual/ajax/resendmail",
				data: { Email: Email} 
				}).done(function( resp ) {
				if(resp==1){
						$(".global_loader").hide('fast');
						$('#succ').html("<font color='red'>Activation mail has been send.</font>");
						setTimeout(function() {
								
								window.location.href = "/individual/index/verification"; 
						}, 2500);
					}else{
                                           //  $(".global_loader").hide();
                                             $(".global_loader").hide('fast');
						$('#err').html("<font color='red'>Email id does not exist.</font>");
						$('#err').fadeIn('fast').delay(1000).fadeOut('slow');
						return false;
					}
				});
		 //gppOpen('gpp_terms_condition');   
		 },
		errorPlacement: function(error, element) {
		error.appendTo(element.parents("div.row"));
		}
	});
});
</script>
 <!--Container end here--> 

