<style>
    label.error {
        color: #CD0A0A !important;
        padding-left: 5px !important;
        font-size: 12px !important;
    }
</style>
<?php
$FormData = json_decode($json, true);
$FormData = isset($FormData[$selPos][$varSetDataArray[$selPos]]) ? $FormData[$selPos][$varSetDataArray[$selPos]] : NULL;
?>

<script>
    $.validator.addMethod("greaterThan", function(value, element, param) {
        var $min = $(param);
        if (value != '' || $('#AgeFrom').val() != '') {
            if (this.settings.onfocusout) {
                $min.off(".validate-greaterThan").on("blur.validate-greaterThan", function() {
                    $(element).valid();
                });
            }

            return parseInt(value) > parseInt($min.val());
        } else {
            return true;
        }
    }, "must greater than min age");

    $(document).ready(function() {

        $("#AddDemographicForm").validate({
            rules: {
                age_to: {
                    greaterThan: '.AgeFrom'
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });

        $('#AddDemographicForm').submit(function() {
            var Data = $(this).serialize();
            var actUrl = '<?= $this->basePath(); ?>/admin/studies/saveData';

            if ($(this).validate().form()) {
                showLoder('#Processing');
                $.ajax({
                    type: 'post',
                    url: actUrl,
                    data: Data,
                    success: function(msg) {
                        if (msg == 'false') {
                            document.getElementById("AddDemographicForm").reset();
                            $('span.select').remove();
                            $('select.select').each(function() {
                                if ($(this).next('span.select').length == '0') {
                                    var title = $(this).attr('title');
                                    if ($('option:selected', this).val() != '')
                                        title = $('option:selected', this).text();
                                    $(this)
                                            .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                                            .after('<span class="select">' + title + '</span>')
                                            .change(function() {

                                                val = $('option:selected', this).text();
                                                $(this).next().text(val);
                                            });
                                }
                            });

                        } else if (msg == 'exceed') {
                            alert('<?= $messageComb; ?>');

                        } else {
                            alert('Saved Successfully');
                        }
                        hideLoder('#Processing');
                    }
                });
            }

            return false;
        })

        $('#Country,#State').change(function() {
            getList($(this).attr('id'), '', '');
        })

<?php if (!empty($FormData['state'])) { ?>
            getList('Country', 'State', '<?= $FormData['state']; ?>');
<?php } ?>



    })



    function getList(idName, load, field) {

        var id = $('#' + idName).val();
        var target = $('#' + idName).attr('id');
        var DestinationDiv = (target == 'Country') ? 'State' : 'Counties';
        var ResetDiv = (target == 'Country') ? '#State,#Counties' : '#Counties';
        var Data = {'id': id, 'target': target};
        showLoder('#Processing');
        $.ajax({
            type: 'post',
            data: Data,
            url: '<?= $this->basePath(); ?>/admin/studies/getList',
            success: function(msg) {
                $(ResetDiv).html("<option value=''>Select " + DestinationDiv + "</option>");
                ResultData = eval('(' + msg + ')');
                html = "";
                html += "<option value=''>Select " + DestinationDiv + "</option>"
                for (var key in ResultData) {
                    html += "<option value=" + key + ">" + ResultData[key] + "</option>"
                }
                document.getElementById(DestinationDiv).innerHTML = html;

                if (load == 'State' || load == 'Counties') {
                    $('#' + load).val(field);
                }

                if (load == 'State') {

                    getList('State', 'Counties', '<?= isset($FormData['counties']) ? $FormData['counties'] : ''; ?>');
                }

                $(ResetDiv).parent().find('span.select').remove();

                $(ResetDiv).parent().find('select.select').each(function() {
                    if ($(this).next('span.select').length == '0') {
                        var title = $(this).attr('title');
                        if ($('option:selected', this).val() != '')
                            title = $('option:selected', this).text();
                        $(this)
                                .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                                .after('<span class="select">' + title + '</span>')
                                .change(function() {

                                    val = $('option:selected', this).text();
                                    $(this).next().text(val);
                                });
                    }
                });

                hideLoder('#Processing');
            }
        })
    }
</script>
<?php
$form->prepare();
echo $this->form()->openTag($form);


if (!empty($FormData)) {
    foreach ($FormData as $key => $index) {
        $form->get($key)->setValue($index);
    }
}
?>


<div class="formWrapperContainer fwcVarEdit">
    <form id="" method="post" action="">
        <div class="row clearfix">
            <label>Country :</label>
            <div class="select fld">
                <?= $this->formElement($form->get('country')->setValueOptions($Data['country'])); ?>
                <input type="hidden" name='set_id' value="<?= $set_id; ?>" id="SetId"/>
                <input type="hidden" name='pos' value="<?= $selPos; ?>" id="SetId"/>
                <input type="hidden" name='type_id' value="<?= $varSetDataArray[$selPos]; ?>" id="SetId"/>

                <?= $this->formElementErrors($form->get('country'), array('class' => "error")); ?>
            </div>
        </div>

        <div class="row clearfix">
            <label>State :</label>
            <div class="select fld">
                <?= $this->formElement($form->get('state')->setValueOptions(array('' => 'Your State'))); ?>

                <?= $this->formElementErrors($form->get('state'), array('class' => "error")); ?>
            </div>
        </div>

        <div class="row clearfix">
            <label>Counties :</label>
            <div class="select fld">
                <?= $this->formElement($form->get('counties')->setValueOptions(array('' => 'Your Counties'))); ?>

                <?= $this->formElementErrors($form->get('counties'), array('class' => "error")); ?>
            </div>
        </div>

        <div class="row clearfix">
            <label>Gender :</label>
            <div class="select fld">
                <?= $this->formElement($form->get('gender')); ?>

                <?= $this->formElementErrors($form->get('gender'), array('class' => "error")); ?>
            </div>
        </div>

        <div class="row clearfix">
            <label>Min Age :</label>
            <div class="fld">
                <?= $this->formElement($form->get('age_from')); ?>

                <?= $this->formElementErrors($form->get('age_from'), array('class' => "error")); ?>
            </div>
        </div>

        <div class="row clearfix">
            <label>Max Age :</label>
            <div class="fld">
                <?= $this->formElement($form->get('age_to')); ?>

                <?= $this->formElementErrors($form->get('age_to'), array('class' => "error")); ?>
            </div>
        </div>

        <div class="input_button">
            <input type="submit" value="Save" id="c_submit" class="submit_button" name="c_submit">
        </div>

</div>
</form>