<?php
$FormData = json_decode($json, true);
$FormData = isset($FormData[$selPos][$varSetDataArray[$selPos]]) ? $FormData[$selPos][$varSetDataArray[$selPos]] : NULL;
?>
<style>
    label.error {
        color: #CD0A0A !important;
        padding-left: 5px !important;
        font-size: 12px !important;
    }
</style>
<script>
    $(document).ready(function () {
        $('#VarId').change(function () {
            getList('');
        })

        $("#AddVariableForm").validate({
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });

        $('#AddVariableForm').submit(function () {
            var Data = $(this).serialize();
            var actUrl = '<?= $this->basePath(); ?>/admin/studies/saveData';

            if ($(this).validate().form()) {
                showLoder('#Processing');
                $.ajax({
                    type: 'post',
                    url: actUrl,
                    data: Data,
                    success: function (msg) {
                        if (msg == 'false') {
                            document.getElementById("AddVariableForm").reset();
                            $('span.select').remove();
                            $('select.select').each(function () {
                                if ($(this).next('span.select').length == '0') {
                                    var title = $(this).attr('title');
                                    if ($('option:selected', this).val() != '')
                                        title = $('option:selected', this).text();
                                    $(this)
                                            .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                                            .after('<span class="select">' + title + '</span>')
                                            .change(function () {

                                                val = $('option:selected', this).text();
                                                $(this).next().text(val);
                                            });
                                }
                            });

                        } else if (msg == 'exceed') {
                            alert('<?= $messageComb; ?>');
                            
                        }else{
                            alert('Saved Successfully');
                        }
                        hideLoder('#Processing');
                    }
                });
            }

            return false;
        })

<?php if (!empty($FormData['var_id'])) { ?>
            getList('edit');
<?php } ?>
    })

    function getList(type) {
        var varId = $('#VarId').val();
        var actUrl = '<?= $this->basePath(); ?>/admin/studies/getListOption';
        var Data = {'var_id': varId};
        showLoder('#Processing');
        $.ajax({
            type: 'post',
            data: Data,
            url: actUrl,
            success: function (msg) {
                ResultData = eval('(' + msg + ')');
                html = "";
                var DataSelect = '';
<?php if (isset($FormData['option_id'])) {
    ?>
                    var Json = '<?= json_encode($FormData['option_id']); ?>';
                    DataSelect = eval('(' + Json + ')');
<?php } ?>
    
                for (var key in ResultData) {
                    if (DataSelect != '' && DataSelect.indexOf(key) != '-1' && type=='edit') {
                        html += "<option value=" + key + " selected >" + ResultData[key] + "</option>"
                    } else {
                        html += "<option value=" + key + ">" + ResultData[key] + "</option>"
                    }
                }
                document.getElementById('OptionId').innerHTML = html;
                $('#OptionId').parent().find('span.select').remove();
                $('#OptionId').parent().find('select.select').each(function () {
                    if ($(this).next('span.select').length == '0') {
                        var title = $(this).attr('title');
                        if ($('option:selected', this).val() != '')
                            title = $('option:selected', this).text();
                        $(this).css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                                .after('<span class="select">' + title + '</span>')
                                .change(function () {

                                    val = $('option:selected', this).text();
                                    $(this).next().text(val);
                                });
                    }
                });

                hideLoder('#Processing');
            }
        })
    }
</script>
<?php
$form->prepare();
echo $this->form()->openTag($form);

if (!empty($FormData)) {
    foreach ($FormData as $key => $index) {
        $form->get($key)->setValue($index);
    }
}
?>

<div class="formWrapperContainer fwcVarEdit">

    <div class="row clearfix">
        <label>Variable Name :</label>
        <div class="select fld">
            <?= $this->formElement($form->get('var_id')->setValueOptions($Data['var'])); ?>
            <input type="hidden" name='set_id' value="<?= $set_id; ?>" id="SetId"/>
            <input type="hidden" name='pos' value="<?= $selPos; ?>" id="SetId"/>
            <input type="hidden" name='type_id' value="<?= $varSetDataArray[$selPos]; ?>" id="SetId"/>

        </div>
    </div>

    <div class="row clearfix">
        <label>Options :</label>
        <div class="select fld">

            <?= $this->formElement($form->get('option_id')->setValueOptions(array())); ?>
            <div style="color: #FF8400">NOTE : Press CTRL for multiple Selection</div>
        </div>
        
    </div>

    <div class="input_button">
        <input type="submit" value="Save" id="c_submit" class="submit_button" name="c_submit">
    </div>

</div>
</form>