<?php
    /*************************
        * PHTML: USE TO MANAGE THE FOOTER FOR WEB DEVELOPMENT.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 12/11/2014.
        * UPDATED: 07/12/2014.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>

<!--Footer start here-->
<?php $basename = basename($_SERVER["REQUEST_URI"]); $accActivate = substr($basename, 0, 14);  ?>
        <?php if ($basename!='cg-login' && $basename !='cg-cgcongrates' && $basename !='login' && $basename !='verification' && $basename !='congrates' && $basename !='cgbasicinfo' && $basename !='cgcontactinfo' && $basename !='cgprofileinfo' && $basename !='cgtempass' && $basename !='cg-cgprofileinfo' && $accActivate !='activateacount' && $basename !=''):  ?>
<div class="footer innerFooter clearfix" id="footer">
    <div class="copyrights">Copyrights <?=date('Y')?>. All Rights Reserved with Health-ePeople</div>
    <div class="footer_nav"><a href="#">Terms &amp; Condition</a></div>
</div>
<?php else:  ?>
	<div class="footer clearfix" id="footer">
    <div class="copyrights">Copyrights <?=date('Y')?>. All Rights Reserved with Health-ePeople</div>
    <div class="footer_nav"><a href="#">Terms &amp; Condition</a></div>
</div>

<?php endif; ?>
<!--Footer end here-->