<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE Connected Device PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 05/01/2015.
 * UPDATED: 05/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
//echo '<pre>';print_r($user_details);die;
?>
<script src='https://connect.humanapi.co/connect.js'></script>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Manage Data </div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li><a href="<?php echo $this->basePath(); ?>/individual-managedata">Manual Entry</a><span class="border"></span></li>
                <li class="active"><a href="#">Device</a><span class="border"></span></li>
            </ul>
        </div>
    </div>
    <div class="pageWrapper">

        <div class="boxWrap clearfix">
            <div id="succ_msg_device" style="text-align:center;font-size: 16px;"> </div>
            <div class="graph_header" style="padding:27px 0 27px 3px;">
                <span class="graph_title">Connected Devices</span>

                <script>
                    var options = {
                        clientUserId: encodeURIComponent('<?= $user_details['Email'] ?>'),
                        clientId: '6e8539f91717e9eaf115625eae0c137bc45a98ca', // cc35ead319596103604af6871feaa1bf158459b7
                        publicToken: '<?= $user_details['human_public_token'] ?>', // Leave blank for new users

                        finish: function(err, sessionTokenObject) {
                            /* Called after user finishes connecting their health data
                             You need to post `sessionTokenObject` to your server to then:
                             1. Append your `clientSecret` to it
                             2. Send send it to our server for user credentials
                             
                             Sending a POST request with jQuery might look like this
                             (it's not necessary to use jQuery):
                             */
                            sessionTokenObject.clientSecret = '660b3b0bad8bd1d69d5364f9b0506b0ac1f98d0e'//'294efb5609f5b71e3596859aae0e08a00d34b677';
                            $.ajax({
                                type: "POST",
                                url: '/individual/ajax/gethuman',
                                data: {humanObj: sessionTokenObject, user_id: <?= $user_details['UserID'] ?>},
                                success: function(res) {
                                    location.reload();
                                    //document.getElementById("publicToken").value = res.publicToken;

                                }
                            });

                            // Include code here to refresh the page.

                        },
                        close: function() {
                            /* Optional callback called when a user closes the popup 
                             without connecting any data sources */
                        },
                        error: function(err) {
                            /* Optional callback called if an error occurs when loading
                             the popup. */

                            // `err` has fields: `code`, `message`, `detailedMessage`
                        }
                    }

                    function human() {
                        HumanConnect.open(options);
                    }
                </script>
                <?php if (count($this->connected_apps)) { ?>
                    <a href="javascript:void(0);" onclick="pulldata('<?php echo $user_details['validic_id'] ?>')" title="Sync. Data" class="global_actionButton sync">Sync. Data</a>
                <?php } ?>
            </div>
            <div class="table cb_Grid addDevicePge">
                <div class="row clearfix">                        	
                    <div class="col wd30" style="text-align: center"><span class="txt">
                            <img id='connect-health-data-btn' onclick="return human();" src='https://connect.humanapi.co/assets/button/blue.png'/>

                    </div>
                </div>
                <?php
                if ($this->validic_result != 1) {
                    $i = 1;
                    ?>
                    <div class="row head clearfix">
                        <div class="col wd10"><span class="txt">S.No.</span></div>
                        <div class="col wd30"><span class="txt">Device/Apps</span></div>
                        <div class="col wd60"><span class="txt">Return Data</span></div>
<!--                        <div class="col wd30"><span class="txt">Status</span></div>-->
                    </div>
                    <?php
                    $i = 1;
                    foreach ($this->connected_apps as $val) {
                        ?>
                        <div class="row clearfix">
                            <div class="col wd10"><span class="txt"><?php echo $i; ?></span></div>
                            <div class="col wd30">
                                <span class="txt">
<!--                                    <div class="device_img"><img src="" /></div>-->
                                    <?php echo $val['source']; ?>                          
                                </span>                                    
                            </div>
                            <div class="col wd60">
                                <?php if (count($val['supportedDataTypes']) > 0) { ?>
                                    <span class="txt" style="color: #4a6fe8;">
                                        <?php
                                        $count = 1;
                                        $seperater = ", ";
                                        foreach ($val['supportedDataTypes'] as $kind) {
                                            echo ucfirst($kind); //return type name
                                            if ($count < count($val['supportedDataTypes'])) {
                                                echo $seperater;
                                            }
                                            ?>  
                                            <?php
                                            $count++;
                                        }
                                        ?>
                                    </span>  
                                <?php } else { ?>
                                    <span class="txt" style="color: #4a6fe8;"> No Found ! </span> 
                                <?php } ?>
                            </div>
                            <?php
//                            if ($val['unsync_url'] == "") {
//                                $synurl = $val['sync_url'];
//                                ?>
<!--                                <div class="col wd30">
                                    <?php if (in_array($val['subname'], $ConnectedAppArr)) { ?>
                                        <span class="txt"> <a href="<?php echo $synurl; ?>" class="connect_button disconnect_button">Disconnected</a></span>
                                    <?php } else { ?>
                                        <span class="txt"> <a href="<?php echo $synurl; ?>" class="connect_button">+ Connect</a></span>
                                    <?php } ?>

                                </div>-->
                                <?php
//                            } else {
//                                $unsurl = $val['unsync_url'];
//                                $refurl = $val['refresh_url'];
//                                ?>
<!--                                <div class="col wd30">
                                    <span class="txt"> 
                                        <?php if (in_array($val['subname'], $ConnectedAppArr)) { ?>
                                            <span class="txt"> <a href="<?php echo $unsurl; ?>" class="connect_button" style="background-color: green;">Connected</a></span>
                                        <?php } else { ?>
                                                    <span class="txt"> <a href="<?php echo $synurl; ?>" class="connect_button">+ Connect</a></span>
                                            <a href="<?php echo $unsurl; ?>" class="connect_button">+Connect</a>
                                        <?php } ?>

                                                                                                                                                                                        <a href="<?php echo $unsurl; ?>" class="connect_button disconnect_button" >- Disconnect</a>

                                    </span>

                                </div>-->


                            <?php //} ?>
                        </div>
                        <?php
                        $i++;
                    }
                    ?>

                <?php } ?>


            </div>

        </div>

    </div>
</div>

<script>
    $(document).ready(function(e) {
        $('.cb_Grid .row').each(function() {
            equalHeight($(this).find('span.txt'));
        });
    });
    function connectDevice(username) {
        $(".global_loader").show();
        $.ajax({
            type: "POST",
            url: '/individual/ajax/connectdevice',
            data: {user_name: username},
            success: function(res) {
                // alert(res);exit;
                if (res = 'success') {
                    $('#succ_msg_device').html("<font color='green'>Connection  created successfully.</font>");
                    setTimeout(function() {
                        window.location.href = "individual-device";
                    }, 2000);
                } else {
                    $('#succ_msg_device').html("<font color='red'>some error occured please try again later.</font>");

                }
                $(".global_loader").hide();
            }
        });
    }
    function pulldata(humanid) {
        $(".global_loader").show();
        $.ajax({
            type: "POST",
            url: '/individual/ajax/synchronizedevic',
            data: {_id: humanid},
            success: function(res) {
                $(".global_loader").hide();
                //  alert(res);

            }
        });
    }

    function openWindow(url) {
        window.open(url, '_blank', "toolbar=yes, location=no, menubar=no, scrollbars=yes, resizable=yes, top=500, left=500, width=400, height=400");
    }

</script>
<!--Container end here--> 