
<?php
/* * ***********************
 * PHTML: Thank you page show after device connect or desconet from validic api.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 06/01/2015.
 * UPDATED: 06/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>

<div id="ui-content-wrapper">
 	<div class="PreLoginPageContainer">
		<div class="formContainer formWrapperContainer">
        	<form name="cofirm_verification_form" action="" method="post">
                <h2 class="page_heading">Thank you for connecting with us .</h2>
                 <h3 class="page_heading">Refresh your device page to see result.</h3>
                <div class="double clearfix">
                    <div class="row">
                        <input type="button" value="Close window" class="submit_button" onclick="closewindow();" />
                </div>
              </div>
           </form>
        </div>        
    </div>
</div>
 <!--Container end here--> 
 <script type="text/javascript">
  function closewindow(){
      window.close();
  }
 </script>