
<div id="content-wrapper" class="clearfix">

    <div class="pageWrapper">
        <?php if ($this->success) { ?>
            <div id='processed' style="padding-bottom: 10px;color:green;">Payment has been processed successfully.</div>
        <?php } ?>
        <div class="pghFixed pghFixedIndv">
            <div class="pgh_title">| Subscription</div>
            <div class="pgh_mWrap">
                <div class="pgh_menu pgh_menu_top">
                    <a href="/cg-subscription" class="item">Plans</a>
                    <a href="/cg-subs-crrstatus" class="item">Current Status</a>
                    <a href="/cg-subs-billing" class="item selected">Payment History</a>
                </div>
            </div>

        </div>
        <div class="boxWrap" style="padding:0">
            <!-- Invoice table start here -->
            <div class="table cb_Grid">
                <?php if (!count($this->history)) { ?><div class="errorMsg">
                        <span class="ui_icon error"></span>No Data found </div> <?php } else {
                ?>
                    <div class="row clearfix head">
                        <div class="col wd20"><span class="txt">Invoices#</span></div>
                        <div class="col wd20"><span class="txt">Amount Billing</span></div>
                        <div class="col wd20"><span class="txt">Billing Date</span></div>
                        <div class="col wd20"><span class="txt">Time</span></div>
                        <div class="col wd20"><span class="txt">Invoice Status</span></div>
                    </div>

                    <?php
                    foreach ($this->history as $key => $value) {
                        $date = date_create($value['billing_date']);
                        $showDate = date_format($date, 'd M, Y');
                        $show_time = date('g:i a', strtotime($value['billing_time']));
                        ?>
                        <div class="row clearfix">
                            <div class="col wd20"><span class="txt">Healthmetrix</span></div>
                            <div class="col wd20"><span class="txt"><?= $value['amount'] ?> USD</span></div>
                            <div class="col wd20"><span class="txt"><?= $showDate ?></span></div>
                            <div class="col wd20"><span class="txt"><?= $show_time ?></span></div>
                            <div class="col wd20"><span class="txt"><?= ($value['payment_status'] ? 'Paid' : 'Pending') ?></span></div>
                        </div>
                    <?php
                    }
                }
                ?>


            </div>
            <!-- Invoice table en here -->
        </div>
    </div>
</div>
<script>

    $(window).resize(function() {
        delay(function() {
            $('.cb_Grid .row').each(function() {
                $(this).find('span.txt').css('height', 'auto');
                setEqualHeight($(this).find('span.txt'));
            });
        }, 500);
    });
    $(function() {
        delay(function() {
            $('.cb_Grid .row').each(function() {
                $(this).find('span.txt').css('height', 'auto');
                setEqualHeight($(this).find('span.txt'));
            });
        }, 500);
    });
</script>
<!--Container end here--> 
