<div id="content-wrapper" class="clearfix">

    <div class="pageWrapper">
        <div class="pghFixed pghFixedIndv">
            <div class="pgh_title">| Subscription</div>
            <div class="pgh_mWrap">
                <div class="pgh_menu pgh_menu_top">
                    <a href="/cg-subscription" class="item">Plans</a>
                    <a href="/cg-subs-crrstatus" class="item selected">Current Status</a>
                    <a href="/cg-subs-billing" class="item">Payment History</a>
                </div>
            </div>

        </div>
        <div class="boxWrap">
            <div class="bw_title" style="text-transform:capitalize">Users</div>
            <div class="bw_list">
                <ul>
                    <li class="clearfix">
                        <div class="bwl_type"><strong>Current Plan  :</strong>  <?= ($result['userPlan'] ? $result['userPlan'] . " Users" : "No plan") ?></div>
                    </li>
                    <li class="clearfix">
                        <div class="bwl_type"><strong>Users Left  :</strong>  <?= ($result['userPlan'] ? $result['userPlan'] - $result['userCount'] : 0) ?></div>
                    </li>
                </ul>
            </div>

            <div class="bw_title" style="text-transform:capitalize">Payment Details</div>
            <div class="bw_list">
                <ul>
                    <li class="clearfix">
                        <div class="bwl_type"><strong>Next Billing Date  :</strong>  <?php
                            if ($result['NextBillingDate']){
                                $date = date_create($result['NextBillingDate']);
                            echo $showDate = date_format($date, 'd M, Y');}
                            ?></div>
                    </li>
                    <li class="clearfix">
                        <div class="bwl_type"><strong>Amount  :</strong>  <?= ($result['amount'] ? $result['amount']. Currency : '' ) ?> </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<script>
    $(window).resize(function() {
        delay(function() {
            $('.cb_Grid .row').each(function() {
                $(this).find('span.txt').css('height', 'auto');
                setEqualHeight($(this).find('span.txt'));
            });
        }, 500);
    });
    $(function() {
        delay(function() {
            $('.cb_Grid .row').each(function() {
                $(this).find('span.txt').css('height', 'auto');
                setEqualHeight($(this).find('span.txt'));
            });
        }, 500);
    });
</script>
<!--Container end here--> 
