<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed pghFixedIndv">
            <div class="pgh_title">| Subscription</div>
            <div class="pgh_mWrap">
                <div class="pgh_menu pgh_menu_top">
                    <a href="/cg-subscription" class="item selected">Plans</a>
                    <a href="/cg-subs-crrstatus" class="item">Current Status</a>
                    <a href="/cg-subs-billing" class="item">Payment History</a>
                </div>
            </div>
        </div>
        <div id="planvalidate" style="padding-bottom:10px;"></div>
        <div class="boxWrap">

            <?php if (!count($this->subscriptionRes)) { ?><div class="errorMsg">
                    <span class="ui_icon error"></span>No Data found. </div> <?php } else { ?>
                <ul class="subplanList clearfix">
                    <?php
                    foreach ($this->subscriptionRes as $key => $res) {
                        $hashCode = md5(time() . rand(1, 100));
                        ?>
                        <form action="https://www.sandbox.paypal.com/cgi-bin" method="post" class='paymentform' id="<?= $hashCode ?>">
                            <input type="hidden" name="rm" value="<?= $paymentParams['rm'] ?>"/>
                            <input type="hidden" name="cmd" value="<?= $paymentParams['cmd'] ?>"/>
                            <input type="hidden" name="business" value="<?= $paymentParams['business'] ?>"/>
                            <input type="hidden" name="return" value="<?= $paymentParams['return'] ?>"/>
                            <input type="hidden" name="cancel_return" value="<?= $paymentParams['cancel_return'] ?>"/>
                            <input type="hidden" name="notify_url" value="<?= $paymentParams['notify'] ?>"/>
                            <input type="hidden" name="item_name" value="<?= $paymentParams['item_name'] ?>"/>
                            <input type="hidden" name="amount" value="<?= intval($res['price']) ?>"/>
                            <input type="hidden" name="currency_code" value="<?= $paymentParams['currency_code'] ?>"/>
                            <input type="hidden" name="custom" id="custom" value="<?= $hashCode; ?>"/>

                            <li class="planBox">
                                <h2 class="planName">BASIC</h2>
                                <div class="plan_desc">
                                    <div class="userIcon"><?= $res['noOfUsers'] ?></div>
                                    <div class="price">@ $<?= intval($res['price']) ?></div>
                                </div>

                                <input class="Buyplan" type="submit" noUser="<?= $res['noOfUsers'] ?>" hash='<?= $hashCode ?>' amount='<?= $res['price'] ?>' price='<?= $res['id'] ?>'  value='Pay'>
                        </form>
                        </li>
                    <?php } ?>
                </ul>
            <?php } ?>
        </div>
    </div>
</div>
<!--Container end here--> 
<script>
    $(document).ready(function () {
        $('.paymentform').submit(function () {
            if (confirm("Do you want to subscribe with this plan ?")) {
                var priceId = $(this).find('.Buyplan').attr('price');
                var amount = $(this).find('.Buyplan').attr('amount');
                var hashCode = $(this).find('.Buyplan').attr('hash');
                var noUser = $(this).find('.Buyplan').attr('noUser');
                var status = 1;
                $.ajax({
                    type: "POST",
                    url: "/caregiver/caregiverajax/savepaymentdetails",
                    async: false,
                    data: {priceId: priceId, amount: amount, hashCode: hashCode, noUser: noUser}
                }).done(function (resp) {
                    if (resp == 1) {
                        status = 1;
                    } else {
                        $('#planvalidate').html('<font color="red">You are not eligible for this plan!</font>').fadeIn('fast').delay(5000).fadeOut('slow');
                        status = 0;
                    }
                });
            } else {
                status = 0;
            }
            if (status == 0) {
                return false;
            }
        });
    });

</script>
