<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE PROFILE PAGE FOR INDIVIDUAL.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 04/02/2015.
 * UPDATED: 04/02/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));

?>  
<div class="gppBox">
            <div class="gppbxContainer" style="margin-top: -200px !important;">
                <div class="gppTitle">Add a Record
                    <div onclick="gppClose('addDocumentRecords');" class="gppClose">X</div>
                </div>
                <div class="formWrapperContainer" style="padding:20px">
                    <div id="serverresponse2"></div>
                    <form method="post" action="" name="document_form_edit" id="document_form_edit">
                        <div class="row">
                            <label>Add Title</label>
                            <div class="input common">
                                <input type="hidden" name="doc_id" value="<?php echo $this->documentData[0]['doc_id']; ?>" />
                                <input type="text" name="doc_title" id="doc_title" value="<?php echo $this->documentData[0]['title']; ?>" />
                            </div>
                        </div>
                        <div class="row">
                            <label>Select Category</label>
                            <div class="select common">
                                <select class="select" title="Select Category" name="category" id="category">
                                    <option value="">Select Category</option>
                                    <?php foreach ($this->catList as $catvalue) { ?>
                                        <option value="<?php echo $catvalue['category_name'] ?>" <?php echo (($this->documentData[0]['category']== $catvalue['category_name'])? 'selected' : '') ?>><?php echo $catvalue['category_name'] ?></option>                              
                                    <?php } ?>                                
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label>Attach Files</label>
                            <div class="input common">
                                <input type="file" name="doc_filename" id="doc_filename" />
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <input type="button" class="submit_button cancel_button" value="Cancel" onclick="gppClose('addDocumentRecords');"/>
                            </div>
                            <div class="row last">
                                <input type="submit" class="submit_button" value="Save" id="savedocument" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="gppOverlay"></div>
        
        <script>
          
    $(document).ready(function () {
        $("#document_form_edit").validate({
            rules: {
                doc_title: {
                    required: true,
                    maxlength: 30,
                },
                category: {
                    required: true,
                },
                doc_filename: {
                   // required: true,
                    accept: "PDF|JPG|GIF|PNG|doc|docx"
                }
            },
            messages: {
                doc_title: {
                    required: "Please enter document title.",
                    maxlength: "Document title not more then thirty character"
                },
                category: {
                    required: "Please select  document category."
                },                
                doc_filename: {
                   // required: "Please select  document file.",
                    accept: "Invalid file type. Only PDF, JPG, GIF and PNG, doc,docx types are accepted."
                }
            },
            submitHandler: function (form) {
                 $('.global_loader').show();
                 sendResultData('document_form_edit','/individual/ajax/editdocument','serverresponse2');
              
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
                //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
            }
        });
        
 
        

    });
    
            </script>
            