<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History</div>
        <div class="pgh_mWrap">
            <div class="pgh_menu pgh_menu_top">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item">Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item">Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item selected">Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item">Symptoms</a>
               	<a href="<?php echo $this->basePath(); ?>/individual-treat" class="item">Treatment</a>
            </div>
        </div>
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item">View Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-add-checkup" class="item selected">Add New Checkup</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <form method="post" action="" name="add_checkup" id="add_checkup">
            <div class="boxWrap clearfix">
                <div class="formWrapper50">
                    <!-- Set Date and time box start here-->
                    <div class="hww clearfix" style="padding:0 10px;">
                        <div class="hww_sbox">
                            <label>Date</label>
                            <div class="input datefield">
                                <input type="text" name="checkup_date" readonly class="datepicker" />
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Time</label>
                            <div class="input timefield">
                                <input type="text" name="checkup_time" readonly class="timepickerField" />
                            </div>
                        </div>
                        <div class="row hww_sbox clearfix">
                            <label>Checkup Name:</label>
                            <div class="input">
                                <input placeholder="Enter checkup name*" name="checkup_name" id="checkup_name" class="nospecial_char" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table cb_Grid" style="margin:20px;">
                    <?php
                    if (count($this->checkupListData) > 0) {
                        $i = 1;
                        foreach ($this->checkupListData as $k => $val) {
                            ?>
                            <div class="row clearfix graph_header">
                                <input type="hidden" name="questions_ids[]" value="<?= $val['checkup_question_id'] ?>">
                                <span class="graph_title"><?= $i ?>. <?= $val['checkup_question'] ?></span>
                            </div>
                            <div class="row radioButtonWrap clearfix">
                                <div class="col wd50">
                                    <span class="txt">
                                        <span class="radio bdr_rds_circle">
                                            <input type="radio" name="ans[]<?= $val['checkup_question_id'] ?>" value="1"/>
                                        </span>
                                        Yes
                                    </span>
                                </div>
                                <div class="col wd50">
                                    <span class="txt">
                                        <span class="radio bdr_rds_circle">
                                            <input type="radio" name="ans[]<?= $val['checkup_question_id'] ?>" value="0"/>
                                        </span>
                                        No
                                    </span>
                                </div>

                            </div>
                            <?php $i++;
                        }
                    } ?>
                </div>
                <!-- Set Date and time box end here-->
                <div class="boxBtn clearfix" style="margin-left: 20px; margin-right: 20px;">
                    <input type="submit" class="bb_btn" value="Submit" name="btnSubmit">
                </div>
            </div>
        </form>
        <style>
            .cb_Grid .radioButtonWrap .col .txt{
                text-align:left;
            }
            .cb_Grid .row .col .txt, .cb_Grid .row .col .txt1,.cb_Grid .row.graph_header  {
                border:0!important;
            }
            .cb_Grid .radioButtonWrap .col .txt .radio{
                float:left;
                margin-left:10px;
                margin-right:10px;
            }
        </style>
        <script>
            $(document).ready(function(e) {
            $('.cb_Grid .row').each(function(){
            equalHeight($(this).find('span.txt'));
            });
                    DatePicker();
                    function DatePicker(){
                    $(".datepicker").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'dd M yy',
                            //maxDate: new Date,
                            //yearRange: "1920:c",
                            //defaultDate: new Date()
                    });
                            $('.timepickerField').timepicker({
                            hourGrid: 4,
                            minuteGrid: 10,
                            timeFormat: 'hh:mm tt'
                    });
                            $(".datepicker").datepicker("setDate", new Date());
                            $(".timepickerField").timepicker("setTime", new Date());
                    }

            $("#add_checkup").validate({
            rules: {
            checkup_date:"required",
                    checkup_time:"required",
                    checkup_name:{
                    required: true,
                            maxlength: 100
                    },
<?php foreach ($this->userQues as $k => $val) { ?>
                'ans[]<?= $k ?>':"required",
<?php } ?>
            },
                    messages: {
<?php foreach ($this->userQues as $k => $val) { ?>
                        'ans[]<?= $k ?>':"Please select answer",
<?php } ?>
                    checkup_date: {
                    required: "Please select checkup date."
                    },
                            checkup_time: {
                            required: "Please select checkup time."
                            },
                            checkup_name: {
                            required: "Please enter checkup name.",
                                    maxlength: "Checkup name not more then 100 characters."
                            },
                    }
            /* ,
             submitHandler: function(form){
             } */,
                    errorPlacement: function(error, element) {
                    error.appendTo(element.parents("div.row"));
                            //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));
                    }

            });
            });
        </script>
    </div>
</div>
<!--Container end here--> 
