<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History</div>
        <div class="pgh_mWrap">
            <div class="pgh_menu pgh_menu_top">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item">Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item">Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item selected">Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item">Symptoms</a>
               	<a href="<?php echo $this->basePath(); ?>/individual-treat" class="item">Treatment</a>
            </div>
        </div>
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item selected">View Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-add-checkup" class="item">Add New Checkup</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <div class="table table_box_shadow cb_Grid">
            <?php if (count($this->checkupData) > 0) { ?>
                <div class="row clearfix head">
                    <div class="col wd10"><span class="txt">S.no</span></div>
                    <div class="col wd25"><span class="txt">Date &amp; Time</span></div>
                    <div class="col wd50"><span class="txt">Check up Name</span></div>
                    <div class="col wd15"><span class="txt">Action</span></div>
                </div>
                <?php
                $i = 1;
                foreach ($this->checkupData as $ckvalue) {
                    ?>
                    <div class="row clearfix">
                        <div class="col wd10"><span class="txt"><?php echo $i; ?></span></div>
                        <div class="col wd25"><span class="txt">
                                <?php
                                $dateRes = $plugin->convetLocalTime($ckvalue['checkup_date'] . " " . $ckvalue['checkup_time']);
                                $showDate = $dateRes[0];
                                $showtime = $dateRes[1];
                                $date = date_create($showDate);
                                echo date_format($date, 'd M, Y') . ", " . date('g:i a', strtotime($showtime));
                                ?>
                            </span></div>
                        <div class="col wd50"><span class="txt"><?php echo $ckvalue['checkup_name'] ?></span></div>
                        <div class="col wd15">
                            <span class="txt">
                                <ul class="action">
                                    <li class="delete"><a href="#" onclick="return del_checkup('<?php echo $ckvalue['id']; ?>');">Delete</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <?php $i++;
                }
            } else { ?>
                <div class="errorMsg" style="display: block !important;"><span class="ui_icon error"></span>No Checkup found </div>
<?php } ?>
            <script>
                $(document).ready(function(e) {
                    $('.cb_Grid .row').each(function() {
                        equalHeight($(this).find('span.txt'));
                    });
                });
            </script>
        </div>
    </div>
    <script>
        function del_checkup(reqID) {
            if (reqID) {
                if (confirm("Do you want to delete this checkup?")) {
                    this.click;
                    $.ajax({
                        type: "POST",
                        url: "/individual/ajax/updatecheckup",
                        data: {reqID: reqID}
                    }).done(function() {
                        window.location.href = "/individual-checkup";
                    });
                }
                else
                {
                    return false;
                }
            }
        }
        ;

        $(document).ready(function(e) {
            $('.cb_Grid .row').each(function() {
                equalHeight($(this).find('span.txt'));
            });
            /* function deleteCondition(conditionID){
             if(conditionID){
             alert('del');
             }
             }	 */
        });
    </script>

</div>
<!--Container end here--> 
