
<?php $this->flashMessenger()->clearMessages(); ?>
<?php
if (isset($_SERVER['HTTP_X_REQUESTED_WITH']) && $_SERVER['HTTP_X_REQUESTED_WITH'] === 'XMLHttpRequest') {
    echo $this->partial('admin/elements/onsitestudytrial/index');
    exit();
}
?>
<style>
    .progressbar {
        background-color: #F5F5F5;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
        height: 8px;
        overflow: hidden;
        width: 100%;
        display: none;
    }
    .bar {
        background-color: #00a700;
        border-radius: 3px;
        height: 20px;
        width: 0;
    }
</style>
<script>

    $(document).ready(function () {

        $(document).on('click', '.RemoveLink', function () {
            var id = $(this).attr('id');
            var cat = $(this).attr('cat');
            var actUrl = '<?= $this->basePath(); ?>/admin/studytrial/delete';
            var Data = {'id': id};
            if (confirm('Do you really want to delete this Study&Trial?')) {
                showLoder('#Processing');
                $.ajax({
                    type: 'post',
                    url: actUrl,
                    data: Data,
                    success: function (msg) {
                        var result = $.parseJSON(msg);
                        i = 1;
                        if (result[0] == 'true') {
                            $('#' + result[1]).parent().parent().parent().remove();
                            $('.' + cat).each(function () {
                                $(this).find('.dgw10 .dgcTxt').html(i);
                                i++;
                            })

                            if (i == 1) {
                                $('#' + cat).remove();
                                window.location.reload();
                            }
                           
                        }
                        hideLoder('#Processing');
                    }
                })
            }
            return false;
        })

        $('#PagingUl').jscroll({
            loadingHtml: '<div  align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
            nextSelector: 'a.jscroll-next:last',
            contentSelector: '#PagingUl'
        });
        $('#xlsUploadForm').validate({
            rules: {
                excel_file: {
                    required: true,
                    accept: 'xls'
                }
            },
            messages: {
                excel_file: {
                    required: 'Please select a file',
                    accept: 'Select file extnsion with(xls)'
                }
            }, errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.browsDoc"));
            }
        })
        var bar = $('.bar');
        $('#xlsUploadForm').ajaxForm({
            beforeSend: function () {
                var percentVal = '0%';
                bar.show();
                $('.progressbar').show();
                bar.width(percentVal)
                var file_data = $('#ExcelUpload').prop('files')[0];
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete - 25 + '%';
                bar.width(percentVal)
            },
            success: function (data) {
                var percentVal = '100%';
                bar.width(percentVal);
                var totalUploaded = (data.uploadedSize * 100) / data.uploadLimit;
                var simplBar = (totalUploaded < 70) ? totalUploaded : 70;
                var dangerBar = (simplBar >= 70) ? parseFloat(totalUploaded - simplBar) : 0;
                $("#progress-info").css("width", simplBar + "%");
                $("#progress-danger").css("width", dangerBar + "%");
            },
            complete: function (xhr) {
                bar.width('0%');
                bar.hide();
                $('.progressbar').hide();
                window.location.reload();
            }
        });
        $('#ExcelUpload').change(function () {
            if ($('#xlsUploadForm').validate().form()) {
                $('#xlsUploadForm').submit();
            }
        });
    });
    
</script>
<div class="grobalPopup popuBxWrap spData" id="upldCsv">
    <div class="gppBox">
        <div class="gppbxContainer" style="margin-top: 0px;">
            <div class="gppTitle">Upload XLS Files
                <div class="gppClose" onclick="gppClose('upldCsv');">X</div>
            </div>
            <div class="formWrapperContainer">
                <form method="post" action="<?= $this->basePath(); ?>/admin/studytrial/uploadXls" id="xlsUploadForm">
                    <div class="browsDoc">
                        <div style="width: 90%;" onclick="javascript:document.getElementById('ExcelUpload').click();" class="bd_btn">
                            Browse XLS File
                            <input type="file" id="ExcelUpload" value="" name="excel_file">
                        </div>
                        <div class="progressbar">
                            <div class="bar">
                            </div>
                        </div>
                        <p style=" color: #b1b1b1;font-size: 15px;">Allowed files format xls.</p>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="gppOverlay"></div>
</div>
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Study & Trials</div>
            <div class="pgh_mT clearfix">
                <h3>List Onsite Trials</h3>
                <a class="create-new" style="margin-right: 250px;" target="_blank" href="<?= $this->serverUrl(); ?>/Study&Trial_Template.xls">Download (Xls format)</a>
                <a onclick="gppOpen('upldCsv');" class="create-new" href="javascript:void(0);">Upload Onsite Trials</a>
            </div>
        </div>
        <div class="dataGrid wbr">
            <div class="dgRow dgHead clearfix">
                <div class="dgCol dgw10"><div class="dgcTxt">S.No</div></div>
                <div class="dgCol dgw30"><div class="dgcTxt">Description</div></div>
                <div class="dgCol dgw20"><div class="dgcTxt">Time Period</div></div>
                <div class="dgCol dgw20"><div class="dgcTxt">Address</div></div>
                <div class="dgCol dgw20"><div class="dgcTxt">&nbsp;</div></div>
            </div>
            <div id="PagingUl">
                <?php
                echo $this->partial('admin/elements/onsitestudytrial/index');
                ?>
            </div>
        </div>
    </div>
</div>
