
<?php
if (!empty($StudyTrials)) {
    echo '<div id="PagingUl">';
    foreach ($StudyTrials as $data) {
        if ($cat != $data['category']) {
            $cat = $data['category'];
            $i = 1;
            ?>
            <div class="dgTitle" id="<?= $cat; ?>"><?= $cat; ?></div>
        <?php } ?>
        <div class="dgRow clearfix <?= $cat; ?>">
            <div class="dgCol dgw10"><div class="dgcTxt"><?= $i; ?></div></div>
            <div class="dgCol dgw30"><div class="dgcTxt"></div><?= $data['description']; ?></div>
            <div class="dgCol dgw20"><div class="dgcTxt"><?= date('d M, Y', strtotime($data['start_date'])); ?> to<br><?= date('d M, Y', strtotime($data['end_date'])); ?></div></div>
            <div class="dgCol dgw20"><div class="dgcTxt"><?= $data['address']; ?></div></div>
            <div class="dgCol dgw20"><div class="dgcTxt"><a id="<?= $data['id']; ?>" cat="<?= $cat; ?>" class="remove-btn RemoveLink" href="javascript:void(0);">Remove</a></div></div>
        </div>
        <?php
        $i++;
    }
    ?>
    <li style="list-style: none;">
        <a class="jscroll-next" href="admin-trial?page=<?= base64_encode($page); ?>&i=<?= base64_encode($i); ?>&cat=<?= base64_encode($cat); ?>"></a>
    </li>
    </div>
<?php } else { ?>
    <li style="list-style: none;">
        <a class="jscroll-next" href="admin-trial?page=<?= base64_encode($page); ?>&i=<?= base64_encode($i); ?>&cat=<?= base64_encode($cat); ?>"></a>
    </li>
    <?php
}?>
