<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE THRESHOLD MATRIX  BODY MEASURMENT FUNCTION.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 31/12/2014.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

if (isset($postData['ques_mendatory']) && ($postData['ques_mendatory'] == "on" || $postData['ques_mendatory'] == 1))
    $men_check = "checked";
else
    $men_check = "";
if (isset($Questionnaire['id']) && isset($postData['questionnaire_id']) && $Questionnaire['id'] != $postData['questionnaire_id'])
    $ques_id = $postData['ques_id'];
else
    $ques_id = "";
$varId = '';
if ($postData['type'] == 'edit') {
    $ques_id = $postData['ques_id'];
    $varId = $postData['ques_variable'];
}

if (empty($postData)) {
    ?>
    <script>
        $(document).ready(function () {
            $('#questionForm input').val('');
            $('#questionForm textarea').val('');
        })
    </script>

    <?php
}

$this->flashMessenger()->clearMessages();
?>



<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper addQuestion">
        <div class="pghFixed">
            <div class="pgh_title">| Manage Questionnaire -<?= $Questionnaire['name']; ?></div>
        </div>
        <script>
            
            $(function () {

                $('.switch-input').click(function (e) {
                    var status = $(this).val();
                    var sid = $(this).attr('sid');
                    var qid = $(this).attr('custom');
                    var actUrl = "<?= $this->basePath(); ?>/admin/questionnaire/mendatoryStatus?qid=" + qid + "&status=" + status + "&sid=" + sid;
                    if (confirm("Do you want to Change mandatory property?")) {
                        showLoder('#Processing');
                        $.ajax({
                            type: 'get',
                            url: actUrl,
                            success: function (result) {
                                hideLoder('#Processing');
                                if (result == 'true') {
                                    return true;
                                } else {
                                    return false;
                                }
                            }
                        });
                    } else {
                        hideLoder('#Processing');
                        return false;
                    }

                });

<?php if (isset($postData['ques_option']) && count($postData['ques_option']) > 0) { ?>
    <?php foreach ($postData['ques_option'] AS $key => $val) { ?>
                        QOptionAdd("<?= $val; ?>", "<?= $postData['ques_value'][$key]; ?>", "<?= isset($postData['ques_option_id'][$key]) ? $postData['ques_option_id'][$key] : ''; ?>");
    <?php } ?>
<?php } else { ?>
                    QOptionAdd('', '', '');
<?php } ?>
                
                $('.addQuestion .sc_rightpanel').css({'height': $('.addQuestion .sc_leftpanel').height() - 30});
            });
            var otpCount = 0;
            function QOptionAdd(opt, val, optId) {
                var qo_option = '<div class="row"><div class="input"><input tabindex="3" maxlength="40" type="text" placeholder="Option Name" id="option_' + otpCount + '" class="first required" title="Required" name="ques_option[' + otpCount + ']"  value="' + opt + '" <?php if (!empty($postData["ques_id"]) && $postData["type"] != 'edit') echo "readonly"; ?>><div class="errorDiv"></div></div></div>';
                var qo_value = '<div class="row value"><div class="input"><input tabindex="3" type="text" placeholder="Value"  class="required" title="Required" name="ques_value[' + otpCount + ']"  value="' + val + '" <?php if (!empty($postData["ques_id"]) && $postData["type"] != 'edit') echo "readonly"; ?>><div class="errorDiv"></div></div></div>';

                var qo_optId = '<input type="hidden" name="ques_option_id[]" id="ques_option_id[]" value="' + optId + '">';
                otpCount++;

                var qo_delete = '<div class="dlt_qOption">Delete</div>';
                $('#QOptionAdd').append('<div class="double clearfix">' + qo_optId + '' + qo_option + '' + qo_value + '' + qo_delete + '</div>');
<?php if (empty($postData['ques_id'])) { ?>
                    if ($('#QOptionAdd .double').length == 1) {
                        $('#QOptionAdd .double .dlt_qOption').hide();
                    }
                    else {
                        $('#QOptionAdd .double .dlt_qOption').show();
                    }
<?php } else { ?>
                    $('#QOptionAdd .double .dlt_qOption').hide();

    <?php if ($postData['type'] == 'edit') { ?>

                        $('#QOptionAdd .double .dlt_qOption').show();

    <?php } ?>
<?php } ?>
                $('#QOptionAdd .double').each(function (index, element) {
                    $(this).attr({'id': 'qoRow_' + index});
                    $(this).find('.dlt_qOption').attr({'onclick': 'dltQOptionBtn("qoRow_' + index + '");'});
                });
            }
            function dltQOptionBtn(id) {
                $('#' + id).remove();
                if ($('#QOptionAdd .double').length >= 10) {
                    $('.addMoreQOption').hide();
                } else {
                    $('.addMoreQOption').show();
                }
                if ($('#QOptionAdd .double').length == 1) {
                    $('#QOptionAdd .double .dlt_qOption').hide();
                }
                else {
                    $('#QOptionAdd .double .dlt_qOption').show();
                }
                $('.addQuestion .sc_rightpanel').animate({'height': $('.addQuestion .sc_leftpanel').height() - 30}, 200);
            }
            function addQOptionBtn() {
                QOptionAdd('', '', '');
                if ($('#QOptionAdd .double').length >= 10) {
                    $('.addMoreQOption').hide();
                } else {
                    $('.addMoreQOption').show();
                }
                $('#QOptionAdd .double:last').find('input.first').focus();
                $('.addQuestion .sc_rightpanel').animate({'height': $('.addQuestion .sc_leftpanel').height() - 30}, 200);
            }


        </script>
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?= $msg["error"]; ?>
                </div>
            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?= $msg["success"]; ?>
                </div>
            <?php endif; ?>
        <?php } ?>
        <div class="aqPanel clearfix">
            <div class="sc_leftpanel">
                <div class="setQuestion">
                    <div class="sq_title"><?php if ($postData["type"] == 'edit') { ?>Edit<?php } else { ?>Set<?php } ?> Questions:</div>
                    <div style="text-align:right;padding-bottom:10px;"><a href="/admin-questionnaire-question?sid=<?=base64_encode($sid);?>">Reset Variable</a></div>
                    <div class="formWrapperContainer">
                        <form action="admin-questionnaire-question?sid=<?= base64_encode($sid); ?>" method="post" name="questionForm" id="questionForm">
                            <div class="row">
                                <div class="input">
                                    <span class="ui-fldValid ass_cat loader"></span>
                                    <input type="hidden" name="ques_var_value" id="ques_var_value" value="<?php echo $ques_id; ?>" />
                                    <?php if (!empty($varId)) { ?>
                                        <input type="hidden" name="ques_var_id" id="ques_var_id" value="<?php echo $varId; ?>" />
                                    <?php } ?>
                                    <input tabindex="1" type="text" placeholder="Variable" name="ques_variable" id="ques_variable" autocomplete="off" onKeyUp="checkVariables(this);" onFocus="$('#append-var_list').fadeIn('fast')" onBlur="$('#append-var_list').fadeOut('fast')" value="<?php if (!empty($postData['var_name'])){ echo $postData['var_name'];}else if(!empty($postData['ques_variable'])){echo $postData['ques_variable'];} ?>">
                                </div>

                                <div id="append-var_list" class="ui-ddr"></div>

                            </div>
                            <div class="row">
                                <div class="select">
                                    <select class="select" title="Variable Type" name="ques_var_type" id="ques_var_type">
                                        <!-- <option value="">Variable Type</option> -->
                                        <option value="1">Integer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input">
                                    <textarea tabindex="2" placeholder="Ask Questions" name="ques_question" id="ques_question" <?php if (!empty($postData['ques_id']) && $postData["type"] != 'edit') echo "readonly"; ?>><?php
                                        if (!empty($postData['ques_question'])) {
                                            echo $postData['ques_question'];
                                        } else {
                                            echo '';
                                        }
                                        ?></textarea>
                                </div>
                            </div>
                            <div id="QOptionAdd"></div>
                             <div id="option_lent_erro"></div>
                            <div class="clearfix">
                                <?php if (empty($postData['ques_id']) || $postData["type"] == 'edit') { ?>
                                    <a tabindex="4" class="addMoreQOption" onkeydown="addQOptionBtn();" onClick="addQOptionBtn();"><span class="icon"></span>Add More</a>
                                <?php } ?>
                            </div>
                            <div class="aq_settings">
                                <h5>Settings:</h5>
                                <div class="clearfix">
                                    <div class="checkbox_col"> 

                                        <span class="checkbox <?php if (!empty($postData['ques_id']) && $postData["type"] != 'edit') echo "checkbxNo"; ?> <?= $men_check; ?>">
                                            <input tabindex="5" type="checkbox" id="ques_mendatory" name="ques_mendatory" <?= $men_check; ?>>
                                        </span>
                                        <label for="ques_mendatory">Mandatory</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row last">
                                <div class="input_button">
                                    <?php
                                    if (isset($Questionnaire['id']) && isset($postData['Questionnaire_id']) && $postData["type"] != 'edit') {
                                        if ($Questionnaire['id'] == $postData['Questionnaire_id']) {
                                            ?>
                                            <input type="button" value="Reset" class="submitQ" name="ques_reset" id="ques_reset" onclick="resetForm();">
                                        <?php } else { ?>
                                            <input type="submit" value="Submit Question" class="submitQ" name="ques_submit" id="ques_submit">
                                            <?php
                                        }
                                    } else {
                                        ?>
                                        <input type="submit" value="Submit Question" class="submitQ" name="ques_submit" id="ques_submit"></br>
                                        <a href="/admin-questionnaire"><input type="button" value="Save Draft" class="submitQ" name="answer_submit" id="manage_ans_button1"></a>
                                    <?php }
                                    ?>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="sc_rightpanel">
                <div class="quesListing">
                    <?php if (count($question) > 0) { ?>
                        <ul class="clearfix">
                            <?php foreach ($question AS $questionArr) { ?>
                                <li class="ql_row">
                                    <div class="qlr_content">
                                        <div class="qlrc_number"></div>
                                        <div class="qlrc_text" style="padding-left: 0px;">
                                            <?= $questionArr['ques_question']; ?>
                                        </div>
                                    </div>

                                    <div class="ql_menu">
                                        <div class="qpm_btn"></div>
                                        <div class="qlm_option"> <span class="arrow"></span>
                                            <ul class="clearfix">
                                                <?php if ($varStatus[$questionArr['ques_variable']] > 1) { ?>
                                                    <li><a href="admin-questionnaire-question?sid=<?= base64_encode($sid); ?>&type=delete&varId=<?= base64_encode($questionArr['ques_variable']); ?>&questionId=<?= base64_encode($questionArr['ques_id']); ?>" onclick="return confirm('Are you sure you want to delete?')">Delete</a></li>
                                                <?php } else { ?>
                                                    <li><a href="admin-questionnaire-question?sid=<?= base64_encode($sid); ?>&type=edit&questionId=<?= base64_encode($questionArr['ques_id']); ?>" >Edit</a></li>
                                                    <li><a href="admin-questionnaire-question?sid=<?= base64_encode($sid); ?>&type=delete&varId=<?= base64_encode($questionArr['ques_variable']); ?>&questionId=<?= base64_encode($questionArr['ques_id']); ?>" onclick="return confirm('Are you sure you want to delete?')">Delete</a></li>

                                                <?php } ?>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="switch">
                                        <input type="radio" id="On<?= $questionArr['ques_id']; ?>" <?php if ($questionArr['ques_mendatory'] == 1) { ?>checked="checked"<?php } ?> sid="<?= base64_encode($sid); ?>" custom="<?= base64_encode($questionArr['ques_id']); ?>" value="1" name="view[<?= $questionArr['ques_id']; ?>]" class="switch-input">
                                        <label for="On<?= $questionArr['ques_id']; ?>" title="Click To Make Mandatory" class="switch-label switch-label-off">On</label>
                                        <input type="radio" id="Off<?= $questionArr['ques_id']; ?>" <?php if ($questionArr['ques_mendatory'] == 0) { ?>checked="checked"<?php } ?> sid="<?= base64_encode($sid); ?>" custom="<?= base64_encode($questionArr['ques_id']); ?>" value="0" name="view[<?= $questionArr['ques_id']; ?>]" class="switch-input">
                                        <label class="switch-label switch-label-on" title="Click To Make Non Mandatory" for="Off<?= $questionArr['ques_id']; ?>">Off</label>
                                        <span class="switch-selection"></span>
                                    </div>
                                </li>
                            <?php } ?>
                        </ul>
                    <?php } else { ?>
                        <div class="sc_msg">Question not found in this questionnaire.</div>
                    <?php } ?>
                </div>
            </div>
        </div>

        
    </div>
</div>
<script type="text/javascript">
    var priveous = "";
    var id = <?= $Questionnaire['id']; ?>;
    function checkVariables(event) {
        var q_var = $(event).val().trim();
        if (
                q_var.length > 2 &&
                q_var != priveous
                ) {
            priveous = q_var;
            $('.ui-fldValid.ass_cat').show();
            var ajaxUrl = "<?= $this->basePath(); ?>/admin/questionnaire/checkvariables";
            $.get(
                    ajaxUrl,
                    {
                        id: id,
                        q_var: q_var,
                    },
                    function (data) {
                        $("#append-var_list").html(data);
                        $('.ui-fldValid.ass_cat').hide();
                    }
            );
        }

        if ($('#ques_variable').val().length <= 2) {
            $("#append-var_list").html('');
        }

    }

    function getVariablesQuestion(ques_id, var_name) {
        if (ques_id) {
            var url = "<?= $this->basePath(); ?>/admin-questionnaire-question";
            var sid = "?sid=<?= base64_encode($Questionnaire['id']); ?>";
            var vri = "&var=" + ques_id;
            var vriName = "&varName=" + var_name;
            var finalUrl = url + sid + vri + vriName;
            window.location.href = finalUrl;
        }
    }

    function moveQuestionOnUp(pos, url) {
        // alert("UP");
        var actUrl = url + "&pos=" + pos;
        showLoder('#Processing');
        $.ajax({
            type: 'get',
            url: actUrl,
            success: function (result) {
                hideLoder('#Processing');
                Data = $.parseJSON(result);
                if (Data.status) {
                    qlrUp(pos);
                }
            }
        });
        return false;
    }

    function moveQuestionOnDown(pos, url) {
        // alert("DOWN");
        var actUrl = url + "&pos=" + pos;
        showLoder('#Processing');
        $.ajax({
            type: 'get',
            url: actUrl,
            success: function (result) {
                hideLoder('#Processing');
                Data = $.parseJSON(result);
                if (Data.status) {
                    qlrDown(pos);
                }
            }
        });
        return false;
    }
    function resetForm() {
        window.location.href = "<?= $this->basePath(); ?>/admin-questionnaire-question?sid=<?= base64_encode($Questionnaire['id']); ?>";
            }

            $(document).ready(function () {
                $('#questionForm').validate({
                    errorPlacement: function (error, element) {
                            error.appendTo(element.parent("div").find(".errorDiv"));
                    }
                });
            })
            
            function checklength(id) {
                var option_enter_val = $("#option_"+ id).val();
                if(option_enter_val.length>=30){
                   $("#option_lent_erro").html("<font color='red'>You can not add more than 30 characters in the option label!</font>")
                    $('#option_lent_erro').fadeIn('fast').delay(2000).fadeOut('fast');
                   // return false;
                }
            }
</script>
<style>
    label.error {
        color: #cd0a0a;
        float: left;
        font-weight: bold;
    }
    .input input.error {
        background: #cd0a0a;
    }
</style>