<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HEADER FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 12/11/2014.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('Caregiver');
$UserArr = $this->_sessionObj->userDetails;
$DomainID = $this->_sessionObj->userDetails['DomainID'];
$userId = $this->_sessionObj->userDetails['UserID'];
if ($UserArr['Image']) {
    $image = $this->Resize($this->serverUrl() . "/upload_image/" . $UserArr['UserID'] . "/", $UserArr['Image'], 100, 80);
} else {
    $image = $this->serverUrl() . "/img/profile_image_avtar.png";
}
if ($userId) {
    $domainLogo = $this->serverUrl() . '/img/' . $UserArr['domainLogo'];
} else {
    $domainLogo = $this->serverUrl() . '/img/' . $this->_sessionObj->domainLogo;
}
?>
<!-- Loader start Here-->
<div class="global_loader"></div>
<!-- Loader end Here-->
<?php
$basename = basename($_SERVER["REQUEST_URI"]);
$accActivate = substr($basename, 0, 14);
?>
<?php if ($this->_sessionObj->isCaregiverlogin == 1 && $basename != "cg-login" && $basename != "cg-cgcongrates" && $basename != 'cg-cgbasicinfo' && $basename != 'cg-cgcontactinfo' && $basename != 'cg-cgprofileinfo' && $basename != 'cg-cgtempass') : ?>

    <!--Change Password popup start here-->
    <div id="changePass" class="grobalPopup popuBxWrap">
        <div class="gppBox">
            <div class="gppbxContainer" style="margin-top: -250px;">
                <div class="gppTitle">Change Password
                    <div onclick="gppClose('changePass');" id="closechangepass" class="gppClose">X</div>
                </div>

                <div class="formWrapperContainer">
                    <form action="" method="post" id="change_password" name="change_password">
                        <div id="succ" style="padding-bottom:10px;"></div>
                        <div class="row">
                            <div class="input">
                                <input type="password" placeholder="Old Password" name="old_password" id="old_password">
                            </div>
                            <div id="err"></div>
                        </div>
                        <div class="row">
                            <div class="input">
                                <input type="password" placeholder="New Password" name="new_password" id="new_password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input">
                                <input type="password" placeholder="Confirm Password" name="confirm_password">
                            </div>
                        </div>

                        <div class="row last">
                            <div class="input_button">
                                <input type="submit" value="Send" class="submit_button" />
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        <div class="gppOverlay"></div>
    </div>
    <!--Change Password popup end here-->
    <!-- confirm Modal Popup start Here-->
    <div class="grobalPopup popuBxWrap" id="alert_message" style="margin-top: -90px">
        <div class="gppBox">
            <div class="gppbxContainer alertConfirmMessage" style="min-height: 180px">
                <div class="gppTitle">Alert !
                    <div class="gppClose" onClick="gppClose('alert_message');">X</div>
                </div>
                <div class="gppTxt clearfix">
                    <h2 class="confirm_msg"></h2>
                </div>

            </div>
        </div>
        <div class="gppOverlay"></div>
    </div>
    <!-- confirm Modal Popup end Here-->

    <div class="main_header innerHeader">
        <div class="header">
            <a href="javascript:void(0);" class="left_panel_menu_button"></a>
            <div class="logo"><a href="/cg-login"><img src="<?php echo $this->serverUrl(); ?>/img/health_matrix_caregiver_logo.png" alt=""/></a></div>
            <div class="headder_right_sec">
                <!--        	<div class="search">
                                <span class="srch_btn"></span>
                            </div>-->
                <div class="notification">
                    <span class="degit" id="noticount"></span>
                    <div class="notification_popup">
                        <div class="pointer"></div>
                        <div id="listofnotifications" style="overflow-y: auto; max-height: 400px;"></div>
                    </div>

                </div>
                <?php if ($DomainID == 1) { ?>
                    <div class="formWrapperContainer domainChange">
                        <div class="row">
                            <div class="select">
                                <select name="change_user_type" class="select" id="change_user_type" >
                                    <option value="1" >Individual</option>
                                    <option value="2" selected disabled>Caregiver</option>
                                    <option value="3" >Researcher</option>
                                </select>
                            </div>
                        </div>
                    </div>
                <?php } ?>
                <div class="userInfo">
                    <div class="uinfo_ddr clearfix">
                        <div class="profile_pic bdr_rds_circle">
                            <img src="<?php echo $image; ?>" alt=""/>
                        </div>
                        <div class="loggedIn_user"><?php echo $UserArr['FirstName'] . " " . $UserArr['LastName']; ?><span class="arrow"></span></div>
                    </div>
                    <div class="uiddr_menu">
                        <ul class="clearfix">
                            <li><a href="javascript:void(0);" onclick="gppOpen('changePass');">Change Password</a></li>
                            <li><a href="/cg-basic-info">My Profile</a></li>
                            <!-- <li><a href="/individual-privacy-settings">Settings</a></li>-->
                            <li><a href="/caregiver/index/logout" >Sign out</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>


<?php else: ?>

    <!--Header start here-->
    <div class="main_header">
        <div class="header">
            <div class="logo"><a href="#"><img src="<?php echo $this->serverUrl(); ?>/img/health_matrix_caregiver_logo.png" alt=""/></a></div>
        </div>
    </div>
<?php
endif;
if ($userId) {
    ?>
    <!--Header end here-->

    <script>
        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var uDatepicker = $.datepicker._updateDatepicker;
        $.datepicker._updateDatepicker = function () {
            var ret = uDatepicker.apply(this, arguments);
            var $sel = this.dpDiv.find('select');
            $sel.find('option').each(function (i) {
                $(this).text(months[i]);
            });
            return ret;
        };
        $(document).ready(function () {
            $("#noticount").removeClass("degit");
            init();
            setInterval(init, 15000);
            function init() {
                $.ajax({
                    url: "/caregiver/caregiverajax/carenotificationcount",
                    type: 'get',
                    success: function (res) {
                        if (res > 0) {
                            $("#noticount").addClass("degit");
                            $('#noticount').html(res);
                        } else {
                            if (parseInt(($('#noticount').html() == '') ? 0 : $('#noticount').html()) == 0) {
                                $("#noticount").removeClass("degit");
                            }
                        }

                    }
                });
            }
        });

    </script>
<?php } ?>
<script>

    $('.notification').click(function () {
        $.ajax({
            type: "POST",
            url: "/caregiver/caregiverajax/caregetnotificatonlist",
            //data: {oldPass: oldPass, newPass: newPass}
        }).done(function (result) {
            $('#listofnotifications').html(result);
        });
    });
    $('#change_user_type').change(function () {
        if (confirm('Do you want to switch the user account?')) {
            var UserTypeId = $("#change_user_type").val();
            if (UserTypeId == 1) {
                window.location.href = "/";
            } else if (UserTypeId == 2) {
                window.location.href = "/cg-login";
            } else {
                window.location.href = "/researcher-login";
            }
        } else {
            $('#change_user_type :nth-child(2)').prop('selected', true);  // To select via value
        }

    });
    $(function () {
        $("#closechangepass").click(function () {
            var validator = $("#change_password").validate();
            validator.resetForm();
            $("#change_password").get(0).reset();

        });
        $("#change_password").validate({
            rules: {
                old_password: {
                    required: true,
                    minlength: 8,
                    maxlength: 30
                },
                new_password: {
                    required: true,
                    minlength: 8,
                    maxlength: 30
                },
                confirm_password: {
                    required: true,
                    minlength: 8,
                    maxlength: 30,
                    equalTo: "#new_password"
                }
            },
            messages: {
                old_password: {
                    required: "Please enter old password.",
                    minlength: "Old password must be of minimum eight characters.",
                    maxlength: "Old password must be of maximum thirty characters."
                },
                new_password: {
                    required: "Please enter new password.",
                    minlength: "New password must be of minimum eight characters.",
                    maxlength: "New password must be of maximum thirty characters."
                },
                confirm_password: {
                    required: "Please enter confirm password.",
                    minlength: "Password must be of minimum eight characters.",
                    maxlength: "Confirm password must be of maximum thirty characters."
                }

            },
            submitHandler: function (form) {
                //form.submit();
                var oldPass = $("#old_password").val();
                var newPass = $("#new_password").val();
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/changepassword",
                    data: {oldPass: oldPass, newPass: newPass}
                }).done(function (resp) {
                    if (resp == 1) {
                        $('#succ').html("<font color='green'>Password has been changed successfully.</font>");
                        setTimeout(function () {
                            window.location.href = "/cg-dashboard";
                        }, 2000);
                    } else {
                        $('#err').html("<font color='red'>Old password not matched.</font>");
                        $('#err').fadeIn('fast').delay(1000).fadeOut('slow');
                        return false;
                    }
                });
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });
    });
</script>

<script>

    $(document).ajaxStart(function () {
        $.ajax({
            type: "POST",
            url: "/caregiver/caregiverajax/notLogin",
            success: function (res) {
                if (res != '') {
                    window.location.href = res;
                }
            }
        });
    });
    /* window.onbeforeunload = function () {
     return "Do you really want to close?";
     }; */
    function changePassword()
    {
        var oldPass = $("#old_password").val();
        var newPass = $("#new_password").val();
        $.ajax({
            type: "POST",
            url: "/caregiver/caregiverajax/changepassword",
            data: {oldPass: oldPass, newPass: newPass}
        }).done(function (resp) {
            if (resp == 1) {
                $('#succ').html("<font color='red'>Password has been changed successfully.</font>");
                setTimeout(function () {
                    window.location.href = "/cg-dashboard";
                }, 2000);
            } else {
                $('#err').html("<font color='red'>Old password not matched.</font>");
                $('#err').fadeIn('fast').delay(1000).fadeOut('slow');
                return false;
            }
        });

    }
</script>