<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HEADER FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
 * CREATOR: 12/11/2014.
 * UPDATED: 07/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$container = new Container('super_admin');
?>
<?php //$this->flashMessenger()->clearMessages();   ?>


<!--For global Message-->
<div id="globalMsg" class="grobalPopup popuBxWrap">
    <div class="gppBox">
        <div class="gppbxContainer">
            <div id="actiionMsg"></div>
        </div>
    </div>
    <div class="gppOverlay"></div>
</div>
<!--end-->


<!--Change Password popup start here-->
<div id="changePass" class="grobalPopup popuBxWrap">
    <div class="gppBox">
        <div class="gppbxContainer">
            <div class="gppTitle">Change Password
                <div onclick="gppClose('changePass');" class="gppClose">X</div>
            </div>

            <div class="formWrapperContainer">
                <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
                    <?php if (isset($msg["cngpwd_err"]) && $msg["cngpwd_err"] != ""): ?>
                        <div class="errorMsg">
                            <span class="ui_icon error"></span>
                            <?= $msg["cngpwd_err"]; ?>
                        </div>
                        <script>
                            gppOpen('changePass');
                        </script>
                    <?php endif; ?>
                    <?php if (isset($msg["cngpwd_suss"]) && $msg["cngpwd_suss"] != ""): ?>
                        <div class="successMsg">
                            <span class="ui_icon success"></span>
                            <?= $msg["cngpwd_suss"]; ?>
                        </div>
                        <script>
                            gppOpen('changePass');
                        </script>
                    <?php endif; ?>
                <?php } ?>
                <form action="/admin/index/dashboard" method="post" id="change_password">
                    <div class="row">
                        <div class="input">
                            <?= $this->formElement($form->get('old_pwd')); ?>
                            <!-- <input type="password" placeholder="Old Password" name="old_password"> -->
                        </div>
                        <label class="error"><?= $this->formElementErrors($form->get('old_pwd')); ?></label>
                    </div>
                    <div class="row">
                        <div class="input">
                            <?= $this->formElement($form->get('new_pwd')); ?>
                            <!-- <input type="password" placeholder="New Password" name="new_password" id="new_password"> -->
                        </div>
                        <label class="error"><?= $this->formElementErrors($form->get('new_pwd')); ?></label>
                    </div>
                    <div class="row">
                        <div class="input">
                            <?= $this->formElement($form->get('cnfm_pwd')); ?>
                            <!-- <input type="password" placeholder="Confirm Password" name="confirm_password"> -->
                        </div>
                        <label class="error"><?= $this->formElementErrors($form->get('cnfm_pwd')); ?></label>
                    </div>

                    <div class="row last">
                        <div class="input_button">
                            <?php echo $this->formElement($form->get('c_submit')); ?>
                            <!-- <input type="submit" value="Send" class="submit_button" /> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="gppOverlay"></div>
</div>
<!--Change Password popup end here-->


<div class="main_header innerHeader">
    <div class="header">
      <?php /*
        <div class="logo"><a href="<?= $this->url('admin'); ?>"><img src="<?=$this->Resize($this->serverUrl().'/img/' , $container->adminLogo,'400','100');?>" alt=""/></a></div>
      */?>
        
        <div class="logo"><a href="<?= $this->url('admin'); ?>"><img src="<?= $this->serverUrl() . '/img/' . $container->adminLogo; ?>" alt=""/></a></div>
        <div class="headder_right_sec">
<!--            <div class="notification">
                <span class="degit">10</span>
            </div>-->
            <div class="userInfo">
                <div class="uinfo_ddr clearfix">
                    
                    <div class="loggedIn_user">Welcome <?= $container->admin['admin_name']; ?><span class="arrow"></span></div>
                </div>
                <div class="uiddr_menu">
                    <ul class="clearfix">
                        <li><a href="javascript:void(0);" onclick="gppOpen('changePass');">Change Password</a></li>
                        <li><a href="<?= '/admin/index/logout'; ?>">Signout</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>




<script>
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
        "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    var uDatepicker = $.datepicker._updateDatepicker;
    $.datepicker._updateDatepicker = function () {
        var ret = uDatepicker.apply(this, arguments);
        var $sel = this.dpDiv.find('select');
        $sel.find('option').each(function (i) {
            $(this).text(months[i]);
        });
        return ret;
    };
    $(function() {
        $("#change_password").validate({
            rules: {
                old_pwd: {
                    required: true,
                    minlength: 8
                },
                new_pwd: {
                    required: true,
                    minlength: 8
                },
                cnfm_pwd: {
                    required: true,
                    minlength: 8,
                    equalTo: "#new_pwd"
                }
            },
            messages: {
                old_pwd: {
                    required: "Please enter old password.",
                    minlength: "Old password must be of minimum eight characters."
                },
                new_pwd: {
                    required: "Please enter new password.",
                    minlength: "New password must be of minimum eight characters."
                },
                cnfm_pwd: {
                    required: "Please enter confirm password.",
                    minlength: "Confirm password must be of minimum eight characters."
                }

            },
            submitHandler: function(form) {
                form.submit();
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });
    });
</script>
