<?php

use Zend\Session\Container;

$this->_sessionObj = new Container('Caregiver');
$UserEmail = $this->_sessionObj->userDetails['Email'];
/* * ********
  @ : Created Rabban Ahmad
  @ : Updated:: 10/04/15
 * ********* */
?>

<?php
if (isset($_SERVER['HTTP_X_REQUESTED_WITH']) && $_SERVER['HTTP_X_REQUESTED_WITH'] === 'XMLHttpRequest') {
    echo $this->partial('caregiver/templates/individual_suggested_list/searchlist');
    exit();
}
?>
<script>
    $(document).ready(function() {
        $('.userList').jscroll({
            loadingHtml: '<div align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
            nextSelector: 'a.jscroll-next:last',
            contentSelector: '.userList'
        });
    });
</script>
<?php
$display = 'none';
$active = '';
if ($postval) {
    $display = 'block';
    $active = 'active';
}
?>
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed pghFixedIndv">
            <div class="pgh_title" style="position:relative;">| Manage Care Recipients <div class=""></div></div>
            <div class="pgh_mWrap">
                <div class="pgh_menu">
                    <a href="<?php echo $this->basePath(); ?>/cg-dashboard" class="item">Connected Individual</a>
                    <a href="<?php echo $this->basePath(); ?>/cg-pending-request" class="item">Requests</a>
                    <a href="<?php echo $this->basePath(); ?>/cg-individual-list" class="item">Suggested</a>
                    <a href="<?php echo $this->basePath(); ?>/cg-advancesearch" class="item selected">Advanced Search</a>
                </div>
            </div>
        </div>

        <div class="boxWrap advancedPeopleSearch clearfix" style="margin-top: 15px;display:block;">
            <!-- Advanced Search box start here-->
            <div class="searchFormAdv clearfix">
                <form name="searchUserform" method="get" id="searchUserform" action="">
                    <div class="bw_box">
                        <div class="hww clearfix">
                            <div class="hww_select clearfix">
                                <div class="hww_sbox">
                                    <div class="input">
                                        <input type="text" name="user_name" value="<?= ($postval ? $postval : '') ?>" placeholder="Search By..." />
                                    </div>
                                </div>                             
                            </div>
                        </div>
                    </div>
                    <span class="boxBtn"><input type="submit" name="" value="Go" class="bb_btn" id="submitButton" style="min-width:inherit"></span>
                </form>
            </div>
            <!-- Advanced Search box start here-->
        </div>
        <div id="validate_user_subscription"></div>
        <?php
        echo $this->partial('caregiver/templates/individual_suggested_list/searchlist');
        ?>

    </div>
  

    <script>
  
        function sendInvitation(userid, email) {
            $.ajax({
                type: 'post',
                url: "/caregiver/caregiverajax/getsubscribestatus"
            }).done(function(res) {
                if (res == 1) {
                    if (confirm('Send a Caregiver invitation to this member ?')) {
                        $(".global_loader").show();
                        $.ajax({
                            type: 'post',
                            url: "/caregiver/caregiverajax/sendinvite",
                            data: {userid: userid, email: email}
                        }).done(function(res) {
                            $(".global_loader").hide('fast');
                            $("#" + userid).hide();
                            $('#validate_user_subscription').html('<font color="green">Request sent successfully.</font>');
                            $('#validate_user_subscription').fadeIn('fast').delay(4000).fadeOut('slow');
                        });
                    } else {
                        $(".global_loader").hide('fast');
                        return false;
                    }
                }
                else if (res == 2) {
                    $('#validate_user_subscription').html('<font color="red">You have subscribed only for 10 individuals</font>');
                    $('#validate_user_subscription').fadeIn('fast').delay(4000).fadeOut('slow');
                    $(window).scrollTop(0);
                }
                else if (res == 3) {
                    $('#validate_user_subscription').html('<font color="red">Please subscribed first.Then you will able to send invitation.</font>');
                    $('#validate_user_subscription').fadeIn('fast').delay(4000).fadeOut('slow');
                    $(window).scrollTop(0);
                }

            });
        }

        $(function() {
            $('.Advanced_SearchButton').click(function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideDown('fast');
                }
                else {
                    $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideUp('fast');
                }
            });
        });

        $(document).ready(function() {
            $("#searchUserform").validate({
                rules: {
                    user_name: {
                        required: true
                    }
                },
                messages: {
                    user_name: {
                        required: "Please enter search text."
                    }
                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.parents("div.hww_sbox"));
                    //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
                }
            });

        });
    </script>
    <!--Container end here--> 
</div>