<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 10/12/2014.
 * UPDATED: 11/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('frontend');
$userDetails = $this->_sessionObj->userDetails;
$userName = $userDetails['UserName'];
$fName = $userDetails['FirstName'];
$lName = $userDetails['LastName'];
$UserId = $userDetails['UserID'];
$age = $userDetails['Age'];
?>

<!--Container start here-->


<div id="ui-content-wrapper">

    <div class="menuWrapper">
        <ul class="pre_login_menu">
            <li class="active"><a href="#">Basic</a><span class="border"></span></li>
            <li><a href="#">Contact</a><span class="border"></span></li>
            <li><a href="#">Profile</a><span class="border"></span></li>
        </ul>
    </div>
    <div class="PreLoginPageContainer">
        <div class="formContainer formWrapperContainer formContainer_basic">
            <?php
            $form->prepare();
            $form->setAttribute('id', 'signup_basic');
            echo $this->form()->openTag($form);
            ?>
            <!-- <form name="signup_basic" id="signup_basic" action="" method="post">--->
            <h2 class="page_heading page_heading_basic">Please fill the fields below (All fields marked *  are mandatory)</h2>
            <div class="tripple clearfix">
                <div class="row">
                    <div class="input">
                       <!-- <input type="text" placeholder="First Name *" id="firstname" name="firstname" autocomplete="off" maxlength="20">-->
                        <?= $this->formElement($form->get('firstname')->setValue($fName)); ?>
                    </div>
                    <?= $this->formElementErrors($form->get('firstname'), array('class' => "error")); ?>
                </div>
                <div class="row">
                    <div class="input">
                        <!--<input type="text" placeholder="Middle Name"  id="middlename" name="middlename" autocomplete="off" maxlength="20">-->
                        <?= $this->formElement($form->get('middlename')); ?>
                    </div>
                </div>
                <div class="row last">
                    <div class="input">
                        <!--<input type="text" placeholder="Last Name *"  id="lastname" name="lastname" autocomplete="off" maxlength="20">-->
                        <?= $this->formElement($form->get('lastname')->setValue($lName)); ?>
                    </div>
                    <?= $this->formElementErrors($form->get('lastname'), array('class' => "error")); ?>
                </div>
            </div>

            <div class="row">
                <div class="input">
                   <!-- <input type="text" placeholder="Nick Name" name="nickname" id="nickname" maxlength="20">-->
                    <?= $this->formElement($form->get('nickname')); ?>
                </div>
                <?= $this->formElementErrors($form->get('nickname'), array('class' => "error")); ?>
            </div>
            <div class="row">
                <div class="input">
                   <!-- <input type="text" placeholder="Nick Name" name="nickname" id="nickname" maxlength="20">-->
                    <?= $this->formElement($form->get('description')); ?>
                </div>
                <?= $this->formElementErrors($form->get('nickname'), array('class' => "error")); ?>
            </div>

            <div class="double clearfix">
                <div class="row date clearfix">
                    <div class="doblabel">DOB *</div>
                    <div class="date">
                                 <!--<input type="text" placeholder="Date of birth" name="dob" id="dob" class="datepicker" onchange="return validateAgeDob(this.value)" readonly autocomplete="off">-->
                        <?= $this->formElement($form->get('dob')); ?>
                    </div>
                    <span id="err"></span>
                </div>
                <div class="row last clearfix">
                    <div class="doblabel">
                        Gender *
                    </div>
                    <div class="checkbox_col radioLable">
                        <div class="checkbox_col radioButtonWrap" style="width: 100%;">
                            <span class="radio bdr_rds_circle selected">
                                <input type="radio" name="gender" value="m" id="male" checked></span>
                            <label for="male">Male</label>
                        </div>
                    </div>
                    <div class="checkbox_col radioLable">
                        <div class="checkbox_col radioButtonWrap" style="width: 100%;">
                            <span class="radio bdr_rds_circle"><input type="radio" name="gender" value="f" id="female"></span>
                            <label for="female">Female</label>
                        </div>
                    </div>

                </div>

            </div>
            <!--            <div class="row">
                            <div class="input_button basicPage_button70">
                                <input type="submit" value="Next" name="" id="next" class="submit_button" />
            <?= $this->formElement($form->get('next')); ?>
                            </div>
                        </div>-->
            <div class="double clearfix">
                <div class="row">
                    <input type="submit" value="Save & Next" name='next' class="submit_button" />
                </div>
                <div class="row last">
                    <input type="button" value="Skip to Dashboard" id='skiptoDsh' class="submit_button cancel_button" />
                </div>
            </div>
            </form>
            <script>
                $(document).ready(function(e) {
                    /* DatePicker();
                     function DatePicker(){
                     $(".datepicker").datepicker({
                     buttonImage: '<?php echo $this->serverUrl() . "/img/calendar_icon.png"; ?>',
                     buttonImageOnly: true,
                     dateFormat: 'dd M yy',
                     maxDate: new Date,
                     showOn: 'both'
                     });
                     } */


                    DatePicker();

                    function DatePicker() {
                        $(".datepicker").datepicker({
                            buttonImage: '<?php echo $this->serverUrl() . "/img/calendar_icon.png"; ?>',
                            changeMonth: true,
                            changeYear: true,
                            buttonImageOnly: true,
                            dateFormat: 'dd M yy',
                            maxDate: new Date,
                            showOn: 'both',
                            yearRange: "1920:c"
                        });

                        $(".datepicker").datepicker("setDate", new Date());

                        $(".timepickerField").timepicker("setTime", new Date());

                    }
                    $("#signup_basic").validate({
                        rules: {
                            firstname: {
                                required: true,
                                maxlength: 20
                            },
                            middlename: {
                                maxlength: 20
                            },
                            lastname: {
                                required: true,
                                maxlength: 20
                            },
                            nickname: {
                                maxlength: 20
                            },
                            description: {
                                maxlength: 50
                            }
                        },
                        messages: {
                            firstname: {
                                required: "Please enter first name.",
                                maxlength: "First name must be less then equal to 20 character."
                            },
                            middlename: {
                                maxlength: "Middle name must be less then equal to 20 character."
                            },
                            lastname: {
                                required: "Please enter last name.",
                                maxlength: "Last name must be less then equal to 20 character."
                            },
                            nickname: {
                                maxlength: "Nick name must be less then equal to 20 character."
                            },
                            description: {
                                maxlength: "Description must be less then equal to 50 character."
                            }

                        },
                        errorPlacement: function(error, element) {
                            error.appendTo(element.parents("div.row"));
                            //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
                        }
                    });
                });
                $("#signup_basic").submit(function() {
                    var date = $('#dob').datepicker('getDate');
                    var today = new Date();
                    var dayDiff = Math.ceil((today - date) / (1000 * 60 * 60 * 24));
                    if (dayDiff < 365) {
                        $('#err').html('<font color="red">Selected DOB should be greater than one year.</font>');
                        return false;
                    }
                });
                $("#dob").change(function() {
                    var date = $('#dob').datepicker('getDate');
                    var today = new Date();
                    var dayDiff = Math.ceil((today - date) / (1000 * 60 * 60 * 24));
                    if (dayDiff < 365) {
                        $('#err').html('<font color="red">Selected DOB should be greater than one year.</font>');
                        return false;
                    } else {
                        $('#err').delay().fadeOut('fast');
                    }
                });
                function validateAgeDob(val) {
                    var age = '<?php echo $age; ?>';
                    $.ajax({
                        type: "POST",
                        url: "/individual/ajax/dobvalidate",
                        data: {Dob: val}
                    }).done(function(resp) {
                        if (resp == 1) {
                            $('#err').html("<font color='green'><?php echo "Note: Your age " . $age . ", does not match with the entered DOB"; ?></font>");
                            $('#err').fadeIn('fast').delay(3000).fadeOut('slow');
                        }
                    });
                    //gppOpen('gpp_terms_condition'); 
                }
                $('#skiptoDsh').click(function() {
                    $.ajax({
                        type: "POST",
                        url: "/caregiver/caregiverajax/udpateprofilestage",
                    }).done(function() {
                        window.location.href = "/cg-dashboard";
                    });
                });
            </script>

        </div>        
    </div> 
    <!--Terms Condition Modal Popup start Here-->
    <div class="grobalPopup popuBxWrap" id="gpp_terms_condition">
        <form name="tc" id="tc" action="" method="post">
            <div class="gppBox">
                <div class="gppbxContainer">
                    <div class="gppTitle">Terms &amp; Conditions
                        <div class="gppClose" onClick="gppClose('gpp_terms_condition');">X</div>
                    </div>
                    <div class="gppTxt terms_condionWrap clearfix">
                        <div class="PreLoginPageContainer" style="width:auto; padding:10px 30px;">
                            <!--Terms and Condition Content start here-->
                            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo ut labore et dolore magna aliqua.</p>

                            <h3 class="sub_heading">1. Lorem ipsum dolor sit</h3>
                            <p class="paragraph">Lorem ipsum dolor sit ipsum dolor sit amet, consectetur adipised do eiusmod tempo ut labore et doed do eiusmod tempo ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit, sed do eiusmod tempo ut labore et dolore magna aliqua. Lorem ipsum dolor sit ipsum dolor sit amet, consectetur adipised do eiusmod
                                tempo ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>


                            <!--Terms and Condition Content end here-->
                        </div>
                    </div>
                    <!--Check Terms and Condition Form start here-->
                    <div class="formContainer formWrapperContainer checkTermsConditionForm gppbuttonWrapper">

                        <div class="row clearfix" style="margin-bottom:10px;">
                            <div class="checkbox_col" style="width:100%; min-height: 25px;">
                                <span class="checkbox"><input type="checkbox" id="t_c" name="t_c" /></span>
                                <label for="t_c">I agree to Terms &amp; Conditionss</label>
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <input type="submit" value="Submit" class="submit_button" />
                            </div>
                            <div class="row last">
                                <input type="button" value="Cancel" class="submit_button cancel_button" onClick="gppClose('gpp_terms_condition');" />
                            </div>
                        </div>

                    </div>
                    <!--Check Terms and Condition Form end here-->
                </div>
            </div>
            <div class="gppOverlay"></div>
        </form>
    </div>

    <!--Terms Condition Modal Popup end Here-->

</div>
<!--Container end here--> 