<?php
    /*************************
        * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: Rabban Ahmad
        * CREATOR: 10/12/2014.
        * UPDATED: 11/12/2014.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
	use Zend\Session\Container;
	$this->_sessionObj = new Container('Caregiver');
	$UserArr = $this->_sessionObj->userDetails;
	$userName = $UserArr['UserName'];
	$UserId = $UserArr['UserID'];
	
?>

<!--Container start here-->
<div id="ui-content-wrapper">
 <div class="PreLoginPageContainer">
            <div class="formContainer formContainer_basic">
               <!--<div class="row clearfix">
                    <div class="upload_profile_image">
                        <img src="<?php echo $this->serverUrl();?>/img/profile_image_avtar.png" alt="Profile image" />
                    </div>
                </div>-->
                <div class="ccontentWrapper">
                    <h2>Congratulations <?php echo $userName; ?> !</h2>
                    <p>You have successfully registered yourself for caregiver account.
                    </p>
                </div>
                <div class="formWrapperContainer">
                    <div class="double clearfix">
					
                        <div class="row">
                           <a href="/cg-cgbasicinfo"><input type="button" value="Maybe Later" class="submit_button maybe_button"/></a>
                        </div>
                        <div class="row last">
                            <input type="button" value="Accept" class="submit_button" onclick="return open_consent();" />
                        </div>
						
                    </div>
                </div>
            </div>        
        </div> 
		<script>
		function open_consent(){
			gppOpen('gpp_terms_condition'); 
		}
		$(document).ready(function() {
		$("#tc").validate({
		rules: {
			t_c:"required"
		},
		messages: {
			t_c: {
				required: "Please check term & condition."
			}
		},
		 submitHandler: function(form){
			var UserId = '<?php echo $UserId;?>';
				$.ajax({
				type: "POST",
				url: "/individual/ajax/changestatus",
				data: { UserId: UserId,Panel:"1"} 
				}).done(function( msg ) {
				//no need to code here.
			});
			window.location.href = "/cg-cgbasicinfo";
		 },
		errorPlacement: function(error, element) {
		error.appendTo(element.parents("div.row"));
		//error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
	  }
	});
	});
		</script>
</div>
 <!--Terms Condition Modal Popup start Here-->
    <div class="grobalPopup popuBxWrap" id="gpp_terms_condition">
	<form name="tc" id="tc" action="" method="post">
      <div class="gppBox">
        <div class="gppbxContainer">
          <div class="gppTitle">Consent form &amp; Conditions
            <div class="gppClose" onClick="gppClose('gpp_terms_condition');">X</div>
          </div>
          <div class="gppTxt terms_condionWrap clearfix">
                <div class="PreLoginPageContainer" style="width:auto; padding:10px 30px;">
                    <!--Terms and Condition Content start here-->
                    <p class="paragraph">In this Health Matrix Privacy Policy any defined terms will have the same meanings given to them in the Health Matrix terms and conditions of use.</p>
                    <p class="paragraph">It is Health Matrix's policy to respect the privacy of its Members. Health Matrix will never edit, share or disclose any personal information about you without your prior consent. In the course of your membership of Health Matrix, Health Matrix may acquire personal data and information about you which you have provided in the course of registering with a Health Matrix Panel or participating in Health Matrix Activities. This information may include, your name, home address, email address, telephone number and other generic information provided in relation to your participation in specific Health Matrix Panels or Health Matrix Activities. This information will be treated in accordance with the Data Protection Act 1998 and also in accordance with the Market Research Society Code of Conduct.</p>
                    <h3 class="sub_heading">In this regard, Health Matrix undertakes only to use the data you supply to us according to the following conditions:</h3>
                    <p class="paragraph">We will not rent or sell any data which may personally identify you to any third party.
										You will never receive communications from any third party as a result of using the Health Matrix site, participating in Health Matrix research activities or becoming a Health Matrix panel member, unless you specifically opt to do so.
										Your data may be disclosed to clients for research purposes. Such data will only be supplied in anonymised, non-attributable form such that no party external to Health Matrix could use the data to personally identify you, or to contact you by any means.
										Your anonymised data may be disclosed to business associates, marketers or advertisers for the promotion of Health Matrix services. By way of example, we may disclose to an advertiser the percentage age groups of our Members. Such data will be supplied in anonymised, non-attributable form such that no third party could use the data to personally identify you, or to contact you by any means.</p>
										
					<p class="paragraph">Research results may also be released into the public domain. This is typically in aggregate form (e.g. 20% of respondents said blue was their favourite colour) and will not result in the disclosure of any personal identifying information.
										We will clearly state why we are collecting personal information and how it will be used. At your request we will allow you to inspect and edit any personal data relating to you.</p>
															
                    <h3 class="sub_heading">Health Matrix undertakes to store your personal data securely. The accessing and processing of personal data by Health Matrix personnel will be restricted to business requirements including, but not necessarily limited to:</h3>
                    <p class="paragraph">Research data analysis</p>
                    <p class="paragraph">Panel communications (please see below)</p>
                    <p class="paragraph">Fulfilment of prizes and payments</p>
                    <p class="paragraph">Technical processing</p>
                    <p class="paragraph">Addressing of queries, technical problems or complaints</p>
                    <p class="paragraph">You are responsible for maintaining the confidentiality of your login information (your username and password). You are fully responsible and agree to indemnify Health Matrix against, all activities (including for the avoidance of doubt, the activities of persons other than yourself) that occur under your login or account. You must ensure the full exit from your Panel-based access at the end of each session (this is particularly important for those using a shared computer).
										We cannot ensure that private communication and other identifiable personal data will never be disclosed in ways not described in this section. By way of example (without limiting the foregoing) we may be forced to disclose the data to a government agency lawfully requesting the same or to any court acting in pursuance of its powers. We reserve the right to and you hereby agree to allow us to disclose any information about you to law enforcement, government officials or to any court or court officials as we in our sole discretion believe necessary or appropriate.
										Nothing in this Agreement relating to the confidentiality of information shall prevent or hinder Health Matrix from complying with its legal obligations as to disclosure or otherwise under the Data Protection Act 1988.</p>
                    
                    
                    <h3 class="sub_heading">By becoming a Health Matrix Member you agree to allow Health Matrix to communicate with you in relation to your membership of the Health Matrix Panel(s) and opportunities to participate in Health Matrix Activities. These include but are not necessarily limited to communications relating to:</h3>
                    <p class="paragraph">Health Matrix polls</p>
                    <p class="paragraph">Other forms of Health Matrix research</p>
                    <p class="paragraph">Health Matrix research results</p>
                    <p class="paragraph">Health Matrix newsletters</p>
                    <p class="paragraph">Changes which may affect your participation in Health Matrix activities</p>
                    <p class="paragraph">Panel care communications (e.g. account queries and / or complaints)</p>
                    <p class="paragraph">Payment or prize fulfilment</p>
                    <p class="paragraph">Besides payment or prize fulfilment, communications will typically take place via email. Health Matrix will always use this communication method responsibly.</p>
                    <p class="paragraph">Like many other commercial websites we may use cookies. A cookie is a text file in the browser directory of your computer's hard drive. Any website other than the one that set up the cookie cannot read the cookie. Cookies will enable our website to recognise personally identifiable information you have voluntarily given us and we may use it to present you with custom web pages.
										The Website contains links to other sites and vice versa. This privacy policy applies solely to information protected by Health Matrix on this Website.</p>
					<p class="paragraph">We may update this privacy policy from time to time.</p>
					<h3 class="sub_heading">For our YYG panel members the following additional clauses apply:</h3>
					<p class="paragraph">Health Matrix is hosting and managing the YYG online panel on behalf of Yahoo under the terms of a service agreement. Health Matrix owns and controls the personal information that you voluntarily provide to us either during the registration process or by participating in YYG activities. Under the UK Data Protection Act 1998 Health Matrix is considered as the sole Data Controller and shall undertake its responsibilities as defined by the Act. Health Matrix may share data with Yahoo but data will only be shared in an aggregated, anonymised and non-attributable form.</p>
					<p class="paragraph">All personal data supplied by you will be securely held at Health Matrix’s data centre in the United Kingdom.
Not withstanding these clauses 15 & 16, all other clauses set out in this privacy policy remain in force.</p>
                    <!--Terms and Condition Content end here-->
                </div>
            </div>
            <!--Check Terms and Condition Form start here-->
            <div class="formContainer formWrapperContainer checkTermsConditionForm gppbuttonWrapper">
			
                <div class="row clearfix" style="margin-bottom:10px;">
                    <div class="checkbox_col" style="width:100%; min-height: 25px;">
                        <span class="checkbox"><input type="checkbox" id="t_c" name="t_c" /></span>
                        <label for="t_c">I agree to Terms &amp; Conditionss</label>
                    </div>
                </div>
                <div class="double clearfix">
                    <div class="row">
                        <input type="submit" value="Submit" class="submit_button" />
                    </div>
                    <div class="row last">
                        <input type="button" value="Cancel" class="submit_button cancel_button" onClick="gppClose('gpp_terms_condition');" />
                    </div>
                </div>
			
            </div>
            <!--Check Terms and Condition Form end here-->
      </div>
    </div>
      <div class="gppOverlay"></div>
	  </form>
    </div>
	
    <!--Terms Condition Modal Popup end Here-->
 <!--Container end here--> 

