<?php
    /*************************
        * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: Rabban Ahmad
        * CREATOR: 08/12/2014.
        * UPDATED: 10/12/2014.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>

<!--Container start here-->
<div id="ui-content-wrapper">
       
    <!--Signup page start Here-->
 	<div class="PreLoginPageContainer">
		<div class="formContainer formWrapperContainer">
                    <form name="signup_form" id="signup_form" action="" method="post">
                <h2 class="page_heading">Change Password !</h2>
                <div class="row">
                     <div class="input">
                            <input type="password" placeholder="Password" name="password" value="<?php if($this->postValue['password']) { echo $this->postValue['password'];} ?>" id="password">
                        </div>
						<div style="color:red;"><?php if(count($this->errorArr) && $this->errorArr['PasswordError']){ echo $this->errorArr['PasswordError']; } ?></div>
                         <span id="valid_password"></span>
                </div>
                <div class="row">
                    <div class="input">
                            <input type="password" placeholder="Confirm Password" name="confirm_password"  value="<?php if($this->postValue['confirm_password']) { echo $this->postValue['confirm_password'];} ?>" id="confirm_password">
                        </div>
						<div style="color:red;"><?php if(count($this->errorArr) && $this->errorArr['CPasswordError']){ echo $this->errorArr['CPasswordError']; } ?></div>
                         <span id="valid_confirm_password"></span>
                </div>
               
               
                <div class="row">
                    <div class="input_button">
                        <input type="submit" value="Submit" class="submit_button" id="Submit" />
                    </div>
                </div>
            </form>
        </div>        
    </div>
    <!--Signup page end Here-->
	 <script>
	$(document).ready(function() {
	$("#signup_form").validate({
		rules: {
			password: {
				required: true,
				minlength: 8,
				maxlength: 30
			},
			confirm_password: {
				required: true,
				minlength: 8,
				maxlength: 30,
				equalTo: "#password"
			}
			
		},
		messages: {
			password: {
				required: "Please enter password.",
				minlength: "Password must be of minimum eight characters.",
				maxlength: "Password must be of maximum thirty characters."
			},
			confirm_password: {
				required: "Please enter confirm password.",
				minlength: "Password must be of minimum eight characters."
			}
		},
		 
		errorPlacement: function(error, element) {
		error.appendTo(element.parents("div.row"));
		//error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
	  }
	});
	
	});
	
	
	</script>
</div>
 <!--Container end here--> 

