<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 10/12/2014.
 * UPDATED: 11/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('Caregiver');
$userName = $this->_sessionObj->userDetails['UserName'];
$UserId = $this->_sessionObj->userDetails['UserID'];
//echo "<pre>";print_r($this->education);die;
?>

<!--Container start here-->
<div id="ui-content-wrapper">
    <!--<div class="menuWrapper">
        <ul class="pre_login_menu">
            <li><a href="#">Basic</a><span class="border"></span></li>
            <li><a href="#">Contact</a><span class="border"></span></li>
            <li class="active"><a href="#">Profile</a><span class="border"></span></li>
        </ul>
    </div>-->
    <div class="PreLoginPageContainer">
        <div class="formContainer formWrapperContainer formContainer_basic">
            <form name="signup_profile" id="signup_profile" action="" method="post">
                <h2 class="page_heading page_heading_basic">Please fill the fields below (Fields marked *  are mandatory)</h2>
                <div class="row">
                        <div class="input">
                            <input type="text" placeholder="Name of practice *" id = "practice" name="practice" autocomplete="off" class="nospecial_char">
                        </div>
                    <div><font color="red"><?php if(isset($error)){ echo $error; } ?></font></div>
                    </div>
               
                <div class="row">
                    <div class="input_button basicPage_button0">
                        <input type="submit" value="Next" class="submit_button" />
                    </div>
                </div>
            </form>
        </div>        
    </div>   
    <script>
        $(document).ready(function(e) {
            $(".err").hide("fast");
            $("#signup_profile").validate({
                rules: {
                    practice: {
                        required: true
                    }
                 },
                messages: {
                  
                    practice: {
                        required: "Please enter practice."
                    }
                                   
                },
//                submitHandler: function(form) {
//                    var incomeVal = $('#income').val();
//                    if (incomeVal !== '') {
//                        if (incomeVal.charAt(0) == 0) {
//                            $('#err').html("<font color='red'>Enter valid income.</font>");
//                            $('#err').fadeIn('fast').delay(1000).fadeOut('slow');
//                            return false;
//                        }
//                    }
//                    document.getElementById("signup_profile").submit();
//                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.parents("div.row"));
                    //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
                }
            });
        });
        
    </script>
</div>
<!--Container end here--> 