<?php

use Zend\Session\Container;

$this->_sessionObj = new Container('Caregiver');
$UserEmail = $this->_sessionObj->userDetails['Email'];
//$CusConPlug  = $this->custom_plugin;
//echo $custom_plugin->EncryptDecrypt($res['UserID'],'encrypt'); die('hello');
?>
<div id="content-wrapper" class="clearfix">
    <div class="grobalPopup popuBxWrap" id="userSrchData">
        <div class="gppBox">
            <div class="gppbxContainer">
                <div class="gppTitle">Send an Email
                    <div class="gppClose" onclick="gppClose('userSrchData');">X</div>
                </div>
                <div class="formWrapperContainer">
                    <form method="post" action="" name="send_an_email" id="send_an_email">
                        <div id="remotemsg" style="margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="input">
                                <input type="hidden" id="EmailToSend" value="">
                                <input type="text" name="subject" placeholder="Subject" id="subject">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input">
                                <textarea placeholder="Type your message here" name="body" id="body"></textarea>
                            </div>
                        </div>

                        <div class="row last">
                            <div class="input_button">
                                <input type="submit" class="submit_button" value="Send">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="gppOverlay"></div>
    </div>

    <div class="pageWrapper">
        <div class="pghFixed pghFixedIndv">
            <div class="pgh_title" style="position:relative;">| Manage Care Recipients </div>
            <div class="pgh_mWrap">
                <div class="pgh_menu">
                    <a href="<?php echo $this->basePath(); ?>/cg-dashboard" class="item selected">Connected Individual</a>
                    <a href="<?php echo $this->basePath(); ?>/cg-pending-request" class="item">Requests</a>
                    <a href="<?php echo $this->basePath(); ?>/cg-individual-list" class="item">Suggested</a>
                    <a href="<?php echo $this->basePath(); ?>/cg-advancesearch" class="item">Advanced Search</a>
                    <!--<a href="javascript:void(0);" class="item"  onclick="gppOpen('InviteUsers');">Invite User</a>-->
                </div>
            </div>
        </div>

        <div class="boxWrap advancedPeopleSearch clearfix" style="margin-top: 15px;">
            <!-- Advanced Search box start here-->
            <div class="searchFormAdv clearfix">
                <div class="bw_box">
                    <div class="hww clearfix">
                        <div class="hww_select clearfix">
                            <div class="hww_sbox">
                                <div class="input">
                                    <input type="text" placeholder="Search By..." />
                                </div>
                            </div>                             
                        </div>
                    </div>
                </div>
                <span class="boxBtn"><input type="submit" name="" value="Go" class="bb_btn" style="min-width:inherit"></span>
            </div>
            <!-- Advanced Search box start here-->
        </div>
        <div class="userList">
            <?php if (!count($IndividualUserArr)) { ?><div class="errorMsg">
                    <span class="ui_icon error"></span>No Users found. </div> <?php
            } else {
                foreach ($IndividualUserArr as $key => $res) {
                    ?>
                    <div class="ul_row clearfix individual_list" id="<?= $res['Id'] ?>">
                        <div class="col wd20">
                            <?php
                            if ($res['Image']) {
                                $image = $this->Resize($this->serverUrl() . "/upload_image/" . $res['UserID'] . "/", $res['Image'], 100, 80);
                            } else {
                                $image = $this->serverUrl() . "/img/profile_image_avtar.png";
                            }
                            ?>
                            <div class="ul_photo"><img src="<?= $image ?>" alt=""/></div>
                            <h4><?= $res['FirstName'] . " " . $res['LastName'] ?></h4>
                            <h5><?= $res['state_name'] . "," . $res['country_name'] ?></h5>
                            <div class="actButtonWrap clearfix">
                                <ul>
                                    <li class="ind_details_list"><a href="/cg-user-profile/<?php echo $custom_plugin->EncryptDecrypt($res['UserID'], 'encrypt'); ?>">View Demographic</a></li>
                                    <li class="ind_details_list"><a href="/cg-user-dashboard/<?php echo $custom_plugin->EncryptDecrypt($res['UserID'], 'encrypt'); ?>">Go to Dashboard</a></li>
                                    <li class="ind_details_list"><a href="javascript:void(0);" onclick="gppOpen('userSrchData');
                                            writeEmail('<?= $res['Email'] ?>')">Send Email</a></li>
                                    <li class="ind_details_list"> <a href="/cg-list-becones/<?php echo $custom_plugin->encryptdata($res['UserID']); ?>">View Details</a></li>
                                </ul>

                            </div>
                            <style>
                                .ind_details_list{
                                    list-style:none;
                                }
                            </style>
                        </div>
                        <div class="col wd80 measureCol">
                            <ul class="mesurement actionButton">
                                <?php
                                foreach ($res['ShowsData'] as $result) {
                                    if ($result['label'] == 'Systolic/Diastolic') {
                                        $resclass = explode('/', $result['class']);
                                        $classSys = $resclass[0];
                                        $classDys = $resclass[1];
                                        ?>
                                        <li>
                                            <p><?= $result['label'] ?></p>
                                            <span class="measure"><?= $result['displayData'] ?>
                                                <span class="arrow <?= $classSys ?>"></span><?php
                                                if ($classSys && $classDys) {
                                                    echo "/";
                                                }
                                                ?><span class="arrow <?= $classDys ?>"></span>

                                            </span>
                                        </li>  
                                    <?php } else { ?>
                                        <li>
                                            <p><?= $result['label'] ?></p>
                                            <span class="measure"><?= $result['displayData'] ?>
                                                <span class="arrow <?= $result['class'] ?>"></span>
                                            </span>
                                        </li>  
                                        <?php
                                    }
                                }
                                ?>

                                <li style="padding-top:10px;">
                                    <p>Delete</p>
                                    <div class="button delete"><a href="javascript:void(0);" onclick="return DeleteIndividualfromDashboard('<?= $res['UserID'] ?>', '<?= $res['Id'] ?>');">Delete</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <?php
                }
            }
            ?>

        </div>
    </div>
</div>
<div id="InviteUsers" class="grobalPopup popuBxWrap">
    <div class="gppBox">
        <div class="gppbxContainer">
            <div class="gppTitle">Invite Users
                <div onclick="gppClose('InviteUsers');" class="gppClose">X</div>
            </div>
            <div class="formWrapperContainer CareInviteUsers">
                <h3 class="heading03_label">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</h3>
                <form action="" name="InviteUsersForm" method="post" id="InviteUsersForm">
                    <div class="row">
                        <div class="input">
                            <textarea name="yourtxt" placeholder="Add your message here"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input emailfiledsWrap">
                            <input type="text" placeholder="Add Email" name="email" id="AddEmail" class="AddEmailTextFields">
                        </div>
                        <a href="javascript:void(0);" class="addEmailButton">Add</a>
                        <div id="email_err"></div>
                    </div>

                    <div class="addedEmailIds">
                        <ul class="e_ids clearfix" id="ulemail">

                        </ul>
                    </div>
                    <div id="succMsg"></div>
                    <div class="row last">
                        <div class="input_button">
                            <input type="submit" value="Send" class="submit_button" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="gppOverlay"></div>
</div>
<script>
    function DeleteIndividualfromDashboard(individualId, divId) {

        if (confirm("Do you want to remove this individual.")) {
            $(".global_loader").show();
            $.ajax({
                type: "POST",
                url: "/caregiver/caregiverajax/removeindividual",
                data: {individualId: individualId}
            }).done(function(res) {
                $(".global_loader").hide('fast');
                $('#' + divId).hide();
            });
        } else {
            return false;
        }
    }
    function writeEmail(email) {
        $('#EmailToSend').val(email);
    }
    $(function() {
        $("#send_an_email").validate({
            rules: {
                subject: {
                    required: true,
                    maxlength: 150
                },
                body: {
                    required: true,
                }
            },
            messages: {
                subject: {
                    required: "Please enter subject.",
                    maxlength: "Old password must be of maximum 150 characters."
                },
                body: {
                    required: "Please enter message body.",
                }
            },
            submitHandler: function(form) {
                var subject = $("#subject").val();
                var body = $("#body").val();
                var email = $("#EmailToSend").val();
                $(".global_loader").show();
                $.ajax({
                    type: "POST",
                    url: "/caregiver/caregiverajax/sendanemail",
                    data: {subject: subject, body: body, email: email}
                }).done(function(resp) {
                    if (resp == 1) {
                        $('#remotemsg').html("<font color='green'>Message has been sent successfully.</font>");
                        $(".global_loader").hide('fast');
                        setTimeout(function() {
                            window.location.href = "/cg-dashboard";
                        }, 2000);
                    } else {
                        $('#remotemsg').html("<font color='red'>Something happening wrong.</font>");
                        $('#remotemsg').fadeIn('fast').delay(2000).fadeOut('slow');
                        $(".global_loader").hide('fast');
                        return false;
                    }
                });
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });
    });
    $(function() {
        $('form').on('submit', function(e) {
            var EmailIdsArr = new Array();
            $('input[name="emailArr[]"]').each(function() {
                EmailIdsArr.push($(this).val());
            });
            if (EmailIdsArr.length > 0) {
                $(".global_loader").show();
                e.preventDefault();
                $.ajax({
                    type: 'post',
                    url: "/caregiver/caregiverajax/senduserinvite",
                    data: $('#InviteUsersForm').serialize(),
                    success: function(res) {
                        $('#succMsg').html('<font color="green">Invitation sent successfully.</font>');
                        $(".global_loader").hide('fast');
                    }
                });
            } else {
                $('#email_err').html('<font color="red">Please add email ids first.</font>');
                return false;
            }
        });

    });
    function ValidateEmail(email) {
        var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(email);
    }
    function DataArrenge() {
        $('.e_ids li').each(function(index, element) {
            var indexValue = index + 1;
            $(this).attr({'id': 'emailID' + indexValue});
            $(this).find('a').attr({'onClick': 'delateAddedEmail("emailID' + indexValue + '")'});
        });
    }
    function delateAddedEmail(id) {
        $('#' + id).remove();
    }
    $('#AddEmail').keyup(function() {
        $('#email_err').html('');
    });
    $(function() {
        $('.addEmailButton').click(function() {
            DataArrenge();
            fieldsVal = $('.AddEmailTextFields').val();
            var currEmail = $('#AddEmail').val();
            var EmailIdsArr = new Array();
            $('input[name="emailArr[]"]').each(function() {
                EmailIdsArr.push($(this).val());
            });
            if ($.inArray(currEmail, EmailIdsArr) != -1) {
                $('#email_err').html('<font color="red">Email ID already added.</font>');
                return false;
            }
            AddedEmailID = $('.CareInviteUsers .e_ids li span').text();
            if ($.trim(fieldsVal).length == 0 || fieldsVal == '') {
                $('#email_err').html('<font color="red">Please enter valid email.</font>');
                return false;
            } else if (!ValidateEmail($(".AddEmailTextFields").val())) {
                $('#email_err').html('<font color="red">Please enter valid email ID.</font>');
                return false;
            }
            else if (fieldsVal == AddedEmailID) {
                $('#email_err').html('<font color="red">Email ID already added.</font>');
                return false;
            } else if (currEmail == '<?php echo $UserEmail; ?>') {
                $('#email_err').html('<font color="red">You can not sent invitation to yourself.</font>');
                return false;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/caregiver/caregiverajax/addemailstoarray",
                    data: {email: currEmail}
                }).done(function(res) {
                    $("#ulemail").append(res);
                    DataArrenge();
                    $('#AddEmail').val('');
                });



            }
        });

        $('.Advanced_SearchButton').click(function() {
            $(this).toggleClass('active');
            if ($(this).hasClass('active')) {
                $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideDown('fast');
            }
            else {
                $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideUp('fast');
            }
        });
    });
</script>
<!--Container end here--> 