<?php

use Zend\Session\Container;

$this->_sessionObj = new Container('Caregiver');
$UserEmail = $this->_sessionObj->userDetails['Email'];
//$CusConPlug  = $this->custom_plugin;
//echo $custom_plugin->EncryptDecrypt($res['UserID'],'encrypt'); die('hello');
?>
<div id="content-wrapper" class="clearfix">
       <div class="pageWrapper">
        <div class="pghFixed pghFixedIndv">
            <div class="pgh_title" style="position:relative;">| Manage Care Recipients </div>
            <div class="pgh_mWrap">
                <div class="pgh_menu">
                    <a href="<?php echo $this->basePath(); ?>/cg-dashboard" class="item selected">Connected Individual</a>
                    <a href="<?php echo $this->basePath(); ?>/cg-pending-request" class="item">Requests</a>
                    <a href="<?php echo $this->basePath(); ?>/cg-individual-list" class="item">Suggested</a>
                    <!--<a href="javascript:void(0);" class="item"  onclick="gppOpen('InviteUsers');">Invite User</a>-->
                </div>
            </div>
        </div>

        <div class="formContainer formContainer_basic">

            <div class="ccontentWrapper">
                <h3>Currently we found that you have not subscribe yet OR your subscription has beed expired.So please subscribed first from the <a href='/cg-subscription'>subscription</a> section. </h3>

            </div>

        </div>

    </div>
</div>

<!--Container end here--> 