<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>

<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History</div>
        <div class="pgh_mWrap">
            <div class="pgh_menu pgh_menu_top">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item selected">Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item">Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item">Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item">Symptoms</a>
               	<a href="<?php echo $this->basePath(); ?>/individual-treat" class="item">Treatment</a>
            </div>
        </div>

        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item">View Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-add-history" class="item selected">Add New Condition</a>
            </div>
        </div>
    </div>
    <style>
        .boxWrap_add_new_condition.boxWrap span.select{
            width:auto
        }
    </style>
    <div class="pageWrapper">
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <?php
        $form->prepare();
        $form->setAttribute('id', 'adding_condition');
        echo $this->form()->openTag($form);
        ?>
        <!--<form method="post" action="" name="adding_condition" id="adding_condition">-->
        <!-- Select Condition section box start here -->
        <div class="boxWrap boxWrap_add_new_condition">
            <div class="bw_title">Condition</div>
            <div class="bw_bmi_add clearfix">
                <div class="select">
                     <?php foreach ($this->condition_option as $convalue) { ?>
                     <?php } ?>
                
                    <?php $listData = array('India'); ?>
                    <?= $this->formElement($form->get('selected_conditions')->setValueOptions($this->condition_option)) ?>
                </div>
                <div class="btn">
                     <?= $this->formElement($form->get('c_submit')) ?>
                </div>
                <div id="condition_err"></div>
            </div>
            <div class="bw_list added_condition_wrap" style="max-height:inherit">
                <ul class="added_condition_row condition_box">
                    <!--** Ajax response will append here **-->                    
                </ul>
            </div>
        </div>
        <!-- Select Condition section box end here -->
        <div class="boxBtn clearfix">
            <input type="submit" name="" id="saveUsercondiionbtn" value="Save" class="bb_btn">
        </div>
        </form>
    </div>
</div>
<script>

    $('#saveUsercondiionbtn').click(function() {
        var ConditionArrayIds = new Array();
        $('input[name="condition_list[]"]').each(function() {
            ConditionArrayIds.push($(this).val());

        });
        if (ConditionArrayIds.length == 0) {
            $("#condition_err").html("<font color='red'>Please add conditon first.</font>");
            $('#condition_err').fadeIn('fast').delay(2500).fadeOut('slow');
            return false;
        }
    });
    $(document).ready(function() {
        $("#adding_condition").validate({
            rules: {
                selected_conditions: "required",
            },
            messages: {
                selected_conditions: {
                    required: "Please select condition."
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.parents("div.select"));
            }
        });

        $("#addUserCondition").click(function() {
            $('#add_symtoms_button').prop("disabled", true);
            var conditionID = $("#selected_conditions").val();
            var conditionName = $("#selected_conditions option:selected").text();
            var x = $('input[name="condition_list[]"]').val();
            var ConditionArray = new Array();
            $('input[name="condition_list[]"]').each(function() {
                ConditionArray.push($(this).val());
            });
            if (conditionID != null && conditionID != 0) {
                if (ConditionArray.length < 9) {
                    if ($.inArray(conditionID, ConditionArray) < 0) {
                        $(".global_loader").show();
                        $.ajax({
                            type: "POST",
                            url: "/individual/ajax/getconditionlist",
                            data: {conditionID: conditionID, conditionName: conditionName}
                        }).done(function(resp) {
                            $(".global_loader").hide('fast');
                            $("ul.condition_box").append(resp);
                            $('#addUserCondition').prop("disabled", false);
                        });
                    } else {
                        $(".global_loader").hide('fast');
                        $("#condition_err").html("<font color='red'>This Conditon already selected by you. Choose another.</font>");
                        $('#condition_err').fadeIn('fast').delay(2500).fadeOut('slow');
                        $('#addUserCondition').prop("disabled", false);
                    }
                } else {
                    $(".global_loader").hide('fast');
                    $("#condition_err").html("<font color='red'>You can't add more than 9 symptoms.</font>");
                    $('#condition_err').fadeIn('fast').delay(2500).fadeOut('slow');
                    $('#addUserCondition').prop("disabled", false);
                }
            } else {
                $(".global_loader").hide('fast');
                $("#condition_err").html("<font color='red'>Please select condition first.</font>");
                $('#condition_err').fadeIn('fast').delay(2500).fadeOut('slow');
                $('#addUserCondition').prop("disabled", false);
            }
        });


        $("#selected_conditions").change(function() {
            $(".global_loader").show();
            var conditionID = $("#selected_conditions").val();
            if (conditionID) {
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/checkuserconditions",
                    data: {conditionID: conditionID}
                }).done(function(resp) {
                    if (resp) {
                        $(".global_loader").hide('fast');
                        $("#condition_err").html("<font color='red'>This condition already added.</font>");
                        $('#condition_err').fadeIn('fast').delay(2500).fadeOut('slow');
                        $("#selected_conditions").val('refresh', true);
                        return false;
                    } else {
                        $.ajax({
                            type: "POST",
                            url: "/individual/ajax/getsubconditionslist",
                            data: {conditionID: conditionID}
                        }).done(function(res) {
                            $(".global_loader").hide('fast');
                            $("#subcondtionDiv").html(res);
                            custom_selectboxNew();
                        });
                    }
                });
            } else {
                $(".global_loader").hide('fast');
                alert('Please select treatment first.');
            }
        });


    });

    function getSubconditions(conditionID) {
        //alert(conditionID);
        $.ajax({
            type: "POST",
            url: "/individual/ajax/getsubconditionslist",
            data: {conditionID: conditionID}
        }).done(function(res) {
            $("#subcondtionDiv").html(res);
            custom_selectboxNew();
        });
    }
</script>
<!--Container end here--> 
