<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>

<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History</div>
        <div class="pgh_mWrap">
             <div class="pgh_menu pgh_menu_top">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item selected">Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item">Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item">Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item">Symptoms</a>
               <a href="<?php echo $this->basePath(); ?>/individual-treat" class="item">Treatment</a>
            </div>
        </div>

        <div class="pgh_mWrap" style="padding:0">
             <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item">View Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-add-history" class="item ">Add New Condition</a>
                <a href="#" class="item selected">Edit Condition</a>
            </div>
       </div>
   </div>
   <style>
   .boxWrap_add_new_condition.boxWrap span.select{
			width:auto
   }
   </style>
   <div class="pageWrapper">
   <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
	
		<form method="post" action="" name="adding_condition" id="adding_condition">
        <!-- Select Condition section box start here -->
		<div class="boxWrap boxWrap_add_new_condition">
                <div class="bw_title">Condition</div>
                <div class="bw_bmi_add clearfix">
                    <div class="select">
                       <select class="select" title="Select Condition" name="selected_conditions" id="selected_conditions">
								<?php foreach ($this->condition_option as $convalue) { ?>
								<?php if($this->user_Conditions[0]['condition_id']== $convalue['id']) { ?>
								<option value="<?php echo $convalue['id']; ?>" <?php echo "selected";?>><?php echo $convalue['common_name']; ?></option>
							  <?php  } } ?>
						</select>
                    </div>
					
					<div id="condition_err"></div>
                </div>
                <div class="bw_list added_condition_wrap" style="max-height:inherit">
                    <ul class="added_condition_row condition_box">
                    <?php if (count($this->user_Conditions)) {  foreach ($this->user_Conditions as $val) { ?>
                        <li class="listItem clearfix">
						<input type="hidden" name="condition_list[]" value="<?=$val['condition_id']?>">
						<div class="bwl_type"><strong><?php //echo $val['condition_name']; ?></strong></div><div class="bwl_delete"><span class="icon">X</span></div>
						
						<div class="row">
						<label>Select Status</label>
							<div class="select">
									<select class="select" title="Select Status" name="condtion_status" id="condtion_status">
									<option value="">Select Status</option>
									<?php foreach($this->statusArr as $value) { ?>
										<option value="<?=$value['id']?>" md="<?=$val['status_id']?>" <?php if($val['status_id']==$value['id']) { echo "selected";} ?>><?=$value['status']?></option>
									<?php } ?>
								</select>
							</div>
						</div>
						<div class="row">
						<label>Select  Sub Condition</label>
							<div class="select">
								<select class="select" title="Select Condition" name="subcondtion" id="select_condition">
								<option value="">Select Sub Condition</option>
									 <?php foreach ($val['sub_condition_Arr'] as $res) { ?>
										<option value="<?php echo $res['sub_id']; ?>" <?php if($val['sub_condition_id']==$res['sub_id']) { echo "selected";} ?>><?php echo $res['sub_common_name']; ?></option>
									<?php } ?>
								</select>
							</div>
						</div>
					</li> 
						<?php  } } ?>                   
                    </ul>
                </div>
			</div>
            <!-- Select Condition section box end here -->


            <div class="boxBtn clearfix">
                <input type="submit" name="" value="Update" class="bb_btn">
            </div>
        </form>
		
		
   </div>
</div>
<script>
$(document).ready(function() {
	$('.bwl_delete').click(function(){
		$(this).parents('li').remove();
	});
	$('#condition_exist').fadeIn('fast').delay(3000).fadeOut('slow');
	$("#add_condition_symtoms_treatment").validate({
		rules: {
			selected_conditions:"required",
			//select_subcondition:"required",
		},
		messages: {
			selected_conditions: {
				required: "Please select condition."
			}/* ,
			select_subcondition: {
				required: "Please select sub condition."
			} */
		},
		 /* submitHandler: function(form){
		}, */
		errorPlacement: function(error, element) {
		error.appendTo(element.parents("div.row"));
	}
	});
	 $("#selected_conditions").change(function(){
		$(".global_loader").show();
		var conditionID = $("#selected_conditions").val();
		if(conditionID){
		$.ajax({
				type: "POST",
				url: "/individual/ajax/checkuserconditions",
				data: { conditionID: conditionID}
				}).done(function (resp){
					if(resp){
						$(".global_loader").hide('fast');
						$("#condition_err").html("<font color='red'>This condition already added.</font>");
						$('#condition_err').fadeIn('fast').delay(2500).fadeOut('slow');
						$("#selected_conditions").val('refresh', true);
						return false;
					}else{
						$(".global_loader").hide('fast');
						
						/* $.ajax({
						type: "POST",
						url: "/individual/ajax/getsubconditionslist",
						data: { conditionID: conditionID}
						}).done(function (res){
							$(".global_loader").hide('fast');
							$("#subcondtionDiv").html(res);
							custom_selectboxNew();
						}); */
					}
				});
		}else{
			$(".global_loader").hide('fast');
			alert('Please select treatment first.');
		}		
	});
	$("#addUserCondition").click(function(){
		$('#add_symtoms_button').prop("disabled", true);
		var conditionID = $("#selected_conditions").val();
		var conditionName = $( "#selected_conditions option:selected" ).text();
		var x = $('input[name="condition_list[]"]').val();
		var ConditionArray = new Array();
		$('input[name="condition_list[]"]').each(function() {
			ConditionArray.push($(this).val());
		});
		if(conditionID){
			if(ConditionArray.length < 9){
				if ($.inArray(conditionID, ConditionArray) < 0) {
					$(".global_loader").show();
						$.ajax({
						type: "POST",
						url: "/individual/ajax/getconditionlist",
						data: { conditionID: conditionID, conditionName:conditionName}
						}).done(function (resp){
							$(".global_loader").hide('fast');
							$("ul.condition_box").append(resp);
							$('#addUserCondition').prop("disabled", false);
						});
				 }else{
						$(".global_loader").hide('fast');
						$("#condition_err").html("<font color='red'>This Conditon already selected by you. Choose another.</font>");
						$('#condition_err').fadeIn('fast').delay(2500).fadeOut('slow');
						$('#addUserCondition').prop("disabled", false);
				} 
			}else{
				$(".global_loader").hide('fast');
				$("#condition_err").html("<font color='red'>You can't add more than 9 symptoms.</font>");
				$('#condition_err').fadeIn('fast').delay(2500).fadeOut('slow');
				$('#addUserCondition').prop("disabled", false);
			} 
		}else{
			$(".global_loader").hide('fast');
			$("#condition_err").html("<font color='red'>Please select condition first.</font>");
			$('#condition_err').fadeIn('fast').delay(2500).fadeOut('slow');
			$('#addUserCondition').prop("disabled", false);
		}
	});
	$("#add_symtoms_button").click(function(){
		$('#add_symtoms_button').prop("disabled", true);
		$(".global_loader").show();
		var symtomsID = $("#selected_symtoms").val();
		var symtomsName = $( "#selected_symtoms option:selected" ).text();
		var x = $('input[name="con_symtoms[]"]').val();
		var SymtomsArray = new Array();
		$('input[name="con_symtoms[]"]').each(function() {
			SymtomsArray.push($(this).val());
		});
		
		if(symtomsID){
		if(SymtomsArray.length < 9){
			if ($.inArray(symtomsID, SymtomsArray) < 0) {
					  $.ajax({
						type: "POST",
						url: "/individual/ajax/getsubsymtomslist",
						data: { symtomsID: symtomsID, symtomsName:symtomsName}
						}).done(function (resp){
							$(".global_loader").hide('fast');
							$("ul.subsymtoms_box").append(resp);
							$('#add_symtoms_button').prop("disabled", false);
						});
				}else{
						$(".global_loader").hide('fast');
						$("#symtoms_err").html("<font color='red'>This Symtoms already selected. Choose another.</font>");
						$('#symtoms_err').fadeIn('fast').delay(2500).fadeOut('slow');
						$('#add_symtoms_button').prop("disabled", false);
				}
			}else{
				$(".global_loader").hide('fast');
				$("#symtoms_err").html("<font color='red'>You can't add more than 9 symtoms.</font>");
				$('#symtoms_err').fadeIn('fast').delay(2500).fadeOut('slow');
				$('#add_symtoms_button').prop("disabled", false);
				}			
		}else{
			$(".global_loader").hide('fast');
			$("#symtoms_err").html("<font color='red'>Please select symtoms first.</font>");
			$('#symtoms_err').fadeIn('fast').delay(2500).fadeOut('slow');
			$('#add_symtoms_button').prop("disabled", false);
		}
	});
	
	$("#add_treatment_button").click(function(){
		$('#add_treatment_button').prop("disabled", true);
		$(".global_loader").show();
		var treatmentID = $("#selected_treatment").val();
		var treatmentName = $( "#selected_treatment option:selected" ).text();
		var x = $('input[name="con_treatments[]"]').val();
		var TreatmentArray = new Array();
		$('input[name="con_treatments[]"]').each(function() {
			TreatmentArray.push($(this).val());
		});
		if(treatmentID){
		if(TreatmentArray.length < 9){
			if ($.inArray(treatmentID, TreatmentArray) < 0) {
			$.ajax({
					type: "POST",
					url: "/individual/ajax/getsubtreatmentlist",
					data: { treatmentID: treatmentID, treatmentName:treatmentName}
					}).done(function (resp){
						$(".global_loader").hide('fast');
						$("ul.treatments_box").append(resp);
						$('#add_treatment_button').prop("disabled", false);
					});
				}else{
					$(".global_loader").hide('fast');
					$("#treatment_err").html("<font color='red'>This Treatment already selected. Choose another.</font>");
					$('#treatment_err').fadeIn('fast').delay(2500).fadeOut('slow');
					$('#add_treatment_button').prop("disabled", false);
				}
			}else{
				$(".global_loader").hide('fast');
				$("#treatment_err").html("<font color='red'>You can't add more than 9 treatmens.</font>");
				$('#treatment_err').fadeIn('fast').delay(2500).fadeOut('slow');
				$('#add_treatment_button').prop("disabled", false);
			}
		}else{
			$(".global_loader").hide('fast');
			$("#treatment_err").html("<font color='red'>Please select treatment first.</font>");
			$('#treatment_err').fadeIn('fast').delay(2500).fadeOut('slow');
			$('#add_treatment_button').prop("disabled", false);
		}		
	});
	
});

	function getSubconditions(conditionID){
			//alert(conditionID);
			$.ajax({
				type: "POST",
				url: "/individual/ajax/getsubconditionslist",
				data: { conditionID: conditionID}
				}).done(function (res){
					$("#subcondtionDiv").html(res);
					custom_selectboxNew();
				});
			}
	
</script>
 <!--Container end here--> 