<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History</div>
        <div class="pgh_mWrap">
             <div class="pgh_menu pgh_menu_top">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item selected">Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item">Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item">Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item">Symptoms</a>
               	<a href="<?php echo $this->basePath(); ?>/individual-treat" class="item">Treatment</a>
            </div>
        </div>
 <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="pgh_mWrap" style="padding:0">
             <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item selected">View Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-add-history" class="item">Add New Condition</a>
            </div>
       </div>
   </div>
   <div class="pageWrapper">
   <?php if (!count($this->user_Conditions)) { ?><div class="errorMsg" style="display: block !important">
	<span class="ui_icon error"></span>No Condition found </div> <?php }else {  ?>
        <div class="table table_box_shadow history_table_responsve cb_Grid">
		<div class="row clearfix head">
                <div class="col wd10"><span class="txt">S.no</span></div>
                <div class="col wd20"><span class="txt">Conditions</span></div>
                <div class="col wd25"><span class="txt">Sub Conditions</span></div>
                <div class="col wd25"><span class="txt">Description</span></div>
                <div class="col wd20"><span class="txt">Action</span></div>
            </div>
			<?php
			foreach($this->user_Conditions as $k=>$val) {  ?>
            <div class="row clearfix" id="<?=$val['condition_id']?>">
                <div class="col wd10"><span class="txt"><?php echo $k+1; ?></span></div>
                <div class="col wd20"><span class="txt"><?=$val['common_name']?></span></div>
                <div class="col wd25"><span class="txt"><?=$val['sub_condition_name']?></span></div>
                <div class="col wd25"><span class="txt"><?php //echo substr($val['description'],0,10)."...";?></span></div>
                <div class="col wd20">
                	<span class="txt">
                        <ul class="action">
                        	<li class="view"><a href="/individual-condition-description/<?php echo base64_encode($val['condition_id']);?>">View</a></li>
                        	<li class="edit"><a href="/individual-edit-history/<?php echo base64_encode($val['condition_id']);?>">Edit</a></li>
                        	<li class="delete"><a href="#" onclick="deleteCondition('<?php echo $val['condition_id']; ?>')">Delete</a></li>
                        </ul>
                     </span>
                 </div>
            </div>
			<?php } } ?>
        </div>
         <script>
		 function updateConditionSess(conditionID,view){
			//alert(view); return false;
			$.ajax({
					type:"POST",
					url: "/individual/ajax/updatesessioncondition",
					data:{conditionID:conditionID}
					}).done(function () {
						if(view){
							window.location.href = "/individual-condition-description";
						}else{
							window.location.href = "/individual-edit-history";
						}
					});
		 }
		 function deleteCondition(conditionID){
				if(conditionID){
						if(confirm("Do you want to delete this condition?")) {
							this.click;
							$.ajax({
								type: "POST",
								url: "/individual/ajax/updateconditonstatus",
								data: { conditionID: conditionID}
								}).done(function (){
									//window.location.href = "/individual-history";
                                                                        window.location.reload();
									$('#'+conditionID).hide();
								});
						}
					   else
					   {
						  return false;
					   } 
				}
			}
			$(window).resize(function() {
				delay(function(){
					$('.cb_Grid .row').each(function(){
						$(this).find('span.txt').css('height','auto');
						setEqualHeight($(this).find('span.txt'));
					});
				}, 500);
			});
			$(function() {
				delay(function(){
					$('.cb_Grid .row').each(function(){
						$(this).find('span.txt').css('height','auto');
						setEqualHeight($(this).find('span.txt'));
					});
				}, 500);
			});
        </script>
   </div>
</div>
 <!--Container end here--> 
