<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE History.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));

?>

<div id="content-wrapper" class="clearfix"> 
      <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History <a href="<?php echo $this->basePath(); ?>/individual-imunization" style="font-size:18px;padding-right:5px;;padding-left:5px;">Immunization</a> <a style="font-size:18px;" href="<?php echo $this->basePath(); ?>/individual-checkup">Checkup</a></div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li><a href="/individual-condition-description?id=<?php echo $this->condition_id;?>">Description</a><span class="border"></span></li>
                <li class="active"><a href="/individual-symtoms-description?id=<?php echo $this->condition_id;?>">Symptoms</a><span class="border"></span></li>
                <li><a href="/individual-treatment-description?id=<?php echo $this->condition_id;?>">Treatments</a><span class="border"></span></li>
            </ul>
        </div>
   </div>
   <div class="pageWrapper">
		<div class="graphBox history_symtom">
        	<ol class="symtoms_list">
			<?php if (count($this->user_Symtoms)) { foreach($this->user_Symtoms as $val){  ?>
                <li class="syms_item">
                    <span class="desc_heading"><?php echo $val['symtom_name'];?></span>
                    <p class="desc_paragraph"><?php echo $val['symtom_description'];?></p>
					<h2 class="desc_heading" style="font-size:14px; padding:10px 0 0 10px;"><?php if($val['sub_symtom_name']) { echo "&raquo;".$val['sub_symtom_description']." (Sub symptoms)"; } ?></h2>
					<p class="desc_paragraph" style="font-size:14px; padding:0 0 0 10px;"><?php if($val['sub_symtom_description']) { echo "&raquo;".$val['sub_symtom_description']; } ?></p>
                </li>
               	<?php } } else { ?>
				<div class="errorMsg">
				<span class="ui_icon error"></span>No Symptoms available </div>
           <?php } ?>
            </ol>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
	$('.bwl_delete').click(function(){
		$(this).parents('li').remove();
	});
	$('#condition_exist').fadeIn('fast').delay(3000).fadeOut('slow');
	$("#add_condition_symtoms_treatment").validate({
		rules: {
			selected_conditions:"required",
			//select_subcondition:"required",
		},
		messages: {
			selected_conditions: {
				required: "Please select condition."
			}/* ,
			select_subcondition: {
				required: "Please select sub condition."
			} */
		},
		 /* submitHandler: function(form){
		}, */
		errorPlacement: function(error, element) {
		error.appendTo(element.parents("div.row"));
	}
	});
	
	$("#add_symtoms_button").click(function(){
		var symtomsID = $("#selected_symtoms").val();
		var symtomsName = $( "#selected_symtoms option:selected" ).text();
		var x = $('input[name="con_symtoms[]"]').val();
		var SymtomsArray = new Array();
		$('input[name="con_symtoms[]"]').each(function() {
			SymtomsArray.push($(this).val());
		});
		
		if(symtomsID){
		if ($.inArray(symtomsID, SymtomsArray) < 0) {
				  $.ajax({
					type: "POST",
					url: "/individual/ajax/getsubsymtomslist",
					data: { symtomsID: symtomsID, symtomsName:symtomsName}
					}).done(function (resp){
						$("ul.subsymtoms_box").append(resp);
						//$("#selected_symtoms").val('refresh', true);
					});
			}else{
					$("#symtoms_err").html("<font color='red'>This Symtoms already selected. Choose another.</font>");
					$('#symtoms_err').fadeIn('fast').delay(2500).fadeOut('slow');
			}
		}else{
			$("#symtoms_err").html("<font color='red'>Please select symtoms first.</font>");
			$('#symtoms_err').fadeIn('fast').delay(2500).fadeOut('slow');
		}
		addsymtomsVal(symtomsID);
	});
	
	$("#add_treatment_button").click(function(){
		var treatmentID = $("#selected_treatment").val();
		var treatmentName = $( "#selected_treatment option:selected" ).text();
		var x = $('input[name="con_treatments[]"]').val();
		var TreatmentArray = new Array();
		$('input[name="con_treatments[]"]').each(function() {
			TreatmentArray.push($(this).val());
		});
		if(treatmentID){
		if ($.inArray(treatmentID, TreatmentArray) < 0) {
		$.ajax({
				type: "POST",
				url: "/individual/ajax/getsubtreatmentlist",
				data: { treatmentID: treatmentID, treatmentName:treatmentName}
				}).done(function (resp){
					$("ul.treatments_box").append(resp);
					//$("#selected_treatment").val('refresh', true);
				});
			}else{
				$("#treatment_err").html("<font color='red'>This Treatment already selected. Choose another.</font>");
				$('#treatment_err').fadeIn('fast').delay(2500).fadeOut('slow');
			}
		}else{
			$("#treatment_err").html("<font color='red'>Please select treatment first.</font>");
			$('#treatment_err').fadeIn('fast').delay(2500).fadeOut('slow');
		}		
	});
		
	 $("#selected_conditions").change(function(){
		var conditionID = $("#selected_conditions").val();
		if(conditionID){
		$.ajax({
				type: "POST",
				url: "/individual/ajax/checkuserconditions",
				data: { conditionID: conditionID}
				}).done(function (resp){
					if(resp){
						$("#condition_exist").html("<font color='red'>This condition already added by you.</font>");
						$('#condition_exist').fadeIn('fast').delay(2500).fadeOut('slow');
						$("#selected_conditions").val('refresh', true);
						return false;
					}else{
						$.ajax({
						type: "POST",
						url: "/individual/ajax/getsubconditionslist",
						data: { conditionID: conditionID}
						}).done(function (res){
							$("#subcondtionDiv").html(res);
							custom_selectboxNew();
						});
					}
				});
		}else{
			alert('Please select treatment first.');
		}		
	});
});

	function getSubconditions(conditionID){
			//alert(conditionID);
			$.ajax({
				type: "POST",
				url: "/individual/ajax/getsubconditionslist",
				data: { conditionID: conditionID}
				}).done(function (res){
					$("#subcondtionDiv").html(res);
					custom_selectboxNew();
				});
			}
	function addsymtomsVal(symtoms_id){
			 $("#symtomss").val(symtoms_id);
					
	}	
</script>
 <!--Container end here--> 