<?php
/* * ***********************
 * PHTML: DISPLAY LIST Invitation.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 14/05/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php $this->flashMessenger()->clearMessages(); ?>

<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Invite Researcher</div>
            <div class="pgh_mWrap">
                <div class="pgh_menu"> 
                    <a href="/admin-researcherinvite" class="item">Invite Researcher</a>
                    <a href="/admin-manageresearchinvite" class="item selected">List Researcher</a>
                </div>
            </div>
        </div>
        <style>
            .dataGrid.dgiR .dgRow .dgCol .dgir-btn{ position:absolute; right:10px; top:8px; padding:0px;}
            .dataGrid.dgiR .dgRow .dgCol .dgir-btn a{ margin:0px;}
            .dataGrid.dgiR .dgRow .dgCol .passUserName{
                padding:8px;
                top:0px;
            }
        </style>
        <?php
        if ($researcherData) {
            foreach ($researcherData as $result) {
                ?>
                <div class="dataGrid wbr dataGridPass dgiR">
                    <div class="dgRow clearfix">
                        <div class="dgCol">
                            <div class="dgcTxt">
                                <span class="passUserName" style="width:100px; display: inline-block; padding: 8px 0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; float: left;"><?= $result['researcher_name'] ?></span>
                                 
                                <span class="passUserName" style="font-size: 12px; color: #597ddb; width:200px; display: inline-block; padding: 8px 0; float: left;">(<?= $result['researcher_email'] ?>)</span>
<!--                                <span class="passUserName" style="width:150px; display: inline-block; margin-left: 50px;"><a class="StatusPricing action-button disable-btn" id="1" status="1">Enabled</a></span>-->
                                 <?php if ($result['researcher_type'] == 1) { ?>
                                 <span class="" style="width:170px; display: inline-block;margin-left: 50px; "><a class="StatusPricing action-button disable-btn" id="<?=$result['id']?>" status="<?=$result['researcher_type']?>">Primary Researcher</a></span>
                                 <?php } else { ?>
                                 <span class="" style="width:170px; display: inline-block;margin-left: 50px; "><a class="StatusPricing action-button enable-btn" id="<?=$result['id']?>" status="<?=$result['researcher_type']?>">Normal Researcher</a></span>
                                 <?php } ?>
                            </div>
                            <?php if ($result['status'] == 1) { ?>
                                <div class="dgcTxt dgir-btn" style="text-align:center;"> 
                                    <a href="#" class="action-button disable-btn">Accepted</a>
                                </div><?php } else { ?>
                                <div class="dgcTxt dgir-btn" style="text-align:center;">
                                    <a href="#" class="action-button enable-btn">Pending</a>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                </div>
                <?php
            }
        } else {
            ?>
            <span style="font-size: 12px;"><font color="red">No invitation found.</font></span>
            <?php } ?>

    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).on('click','.StatusPricing',function () {
            var id = $(this).attr('id');
            var status = $(this).attr('status');
            var type=0;
            if(status==0){
                type=1;
            }
            var actUrl = '<?= $this->basePath(); ?>/admin/researchinvitation/updateresearchertype';
            var Data = {'id': id, 'type': type};
            if (confirm('Do you really want to change Researcher type?')) {
                //showLoder('#Processing');
                $.ajax({
                    type: 'post',
                    url: actUrl,
                    data: Data,
                    success: function (msg) {
                         window.location.href = "/admin-manageresearchinvite";
                    }
                })
            }
            return false;
        });
        
    })
</script>
<!--Container end here--> <!--Container end here--> 