<?php
if (!empty($Subscription)) {?>
    <div id="PagingDiv">
    <?php foreach ($Subscription as $data) {
        ?>
        <div class="dgRow clearfix">
            <div class="dgCol dgw20"><div class="dgcTxt"><?= $data['Email'];?></div></div>
            <div class="dgCol dgw20"><div class="dgcTxt"><?= $data['amount'];?> USD</div></div>
            <div class="dgCol dgw20"><div class="dgcTxt"><?= $data['billing_date'];?></div></div>
            <div class="dgCol dgw20"><div class="dgcTxt"><?= $data['start_date'];?> -  <?= $data['end_date'];?></div></div>
            <div class="dgCol dgw20"><div class="dgcTxt" style="color:#79b926;"><?= ($data['payment_status']==1)?'Paid':'UnPaid                     ';?></div></div>
        </div>
    <?php } ?>
        <li style="list-style: none;">
        <a class="jscroll-next" href="admin-matrix-researcher-invoice?page=<?= base64_encode($page); ?>"></a>
    </li>
    </div>
<?php } else { ?>
    <li style="list-style: none;">
        <a class="jscroll-next" href="admin-matrix-researcher-invoice?page=<?= base64_encode($page); ?>"></a>
    </li>
    <?php }
?>
