<?php
if (!empty($question)) {
    $index = ($page == 1) ? ($page - 1) * 4 : (($page - 1) * 4) + 1;
      $stdid = (isset($sid)? $sid : NULL);
    ?>
    <ul class="clearfix" id="PagingUL">
        <?php foreach ($question AS $questionArr) { ?>
        <?php if (empty($questionArr['is_group_questionnaire'])) { ?>
                <li class="sadl_row">
                    <div class="sadl_number">Q: <?=   $index + 1;   $index++; ?>.</div>
                    <h4><?= $questionArr['ques_question']; ?></h4>
                    <div class="sadl_option">

                        <ul class="clearfix">
                            <?php
                            $char = 64;
                            $optionsArr = $this->options($quesOj, $questionArr['ques_id']);
//                        echo '<pre>';
//                        print_r($optionsArr);
                          
                            $percentageArr = $this->Percentage($analyze, $optionsArr, $questionArr['ques_id'], $bucket_id, $stdid);
                            foreach ($percentageArr AS $key => $options) {
                                $char++;
                                $background = "e34e74";
                                $percentage = ($options['total_count'] == 0) ? 0 : round(($options['option_count'] * 100) / $options['total_count'], 2);

                                if ($percentage >= 25 && $percentage <= 50)
                                    $background = "ff8517";
                                elseif ($percentage >= 50 && $percentage <= 75)
                                    $background = "03c0e2";
                                elseif ($percentage >= 75 && $percentage <= 100)
                                    $background = "79b926";
                                ?>
                                <li>
                                    <div class="txt">
                <?= chr($char); ?>) <?= $options['opt_option']; ?>
                                    </div>
                                    <div class="sadl_oG">
                                        <div class="graph" style="width:<?= $percentage; ?>%; background:#<?= $background; ?>;">
                                            <div class="digit"><?= $percentage; ?>%</div>
                                        </div>
                                    </div>
                                </li>
            <?php } ?>
                        </ul>

                    </div>
                </li>
        <?php }else {
            ?>
  <!--                    this is group Question Start-->
                <li class="sadl_row">
                    <div class="sadl_number">Q: <?= $index + 1; $index++; ?>.</div>
                    <h4><?= $questionArr['ques_question']; ?></h4>
                    <div class="sadl_option">
                        <ul class="clearfix" style="border: 1px solid #dadada; padding: 15px;">
                            <?php
                           
                            $qgc = 64;
                            $optionsArr = $this->GroupQuestion($quesOj, $questionArr['is_group_questionnaire']);
            
                            foreach ($optionsArr as $gvalue) {
                                $qgc++;
                                $optionsArrg = (isset($gvalue['question_opt']) ? $gvalue['question_opt'] : array());
  
                                   
                                $percentageArr = $this->PercentageGroup($analyze, $optionsArrg, $gvalue['ques_id'], $bucket_id, $stdid);
//                                 echo '<pre>';
//                print_r($percentageArr);
                                ?>
                                <li style="width: 100%;">
                                   
                                    <h4 class="group_question_title"><span class="">Q: <?= chr($qgc) ?></span> <?= $gvalue['ques_question']; ?></h4>
                                    <div class="sadl_option">

                                        <ul class="clearfix">
                                            <?php
//                                              echo '<pre>';
//                                                 print_r($optionsArrg);
                                            if (count($percentageArr) > 0) {
                                                 $charg = 64;
                                               
                                                foreach ($percentageArr as $key => $goptions) {
                                                    $charg++;
                                                    $backgroundg = "e34e74";
                                                    $percentageg = ($goptions['total_count'] == 0) ? 0 : round(($goptions['option_count'] * 100) / $goptions['total_count'], 2);

                                                    if ($percentageg >= 25 && $percentageg <= 50) {
                                                        $backgroundg = "ff8517";
                                                    } elseif ($percentageg >= 50 && $percentageg <= 75) {
                                                        $backgroundg = "03c0e2";
                                                    } elseif ($percentageg >= 75 && $percentageg <= 100) {
                                                        $backgroundg = "79b926";
                                                    }
                                                    ?>
                                                    <li>
                                                        <div class="txt"> <?= chr($charg); ?>) <?= $goptions['opt_option']; ?> </div>
                                                        <div class="sadl_oG">
                                                            <div class="graph" style="width:<?= $percentageg; ?>%; background:#<?= $backgroundg; ?>;">
                                                                <div class="digit"><?= $percentageg; ?>%</div>
                                                            </div>
                                                        </div>
                                                    </li>  
                                    <?php }
                                } ?>
                                        </ul>

                                    </div>
                                </li>
                    <?php 
                }  ?>
                        </ul>
                    </div>
                </li>               

                <!--                    this is group Question END-->
        <?php } ?>
            <li style="list-style: none;">
                <a class="jscroll-next" href="<?= $_SERVER['REQUEST_URI'] ?>&page=<?= base64_encode($page); ?>"></a>
            </li>
    <?php } ?>
    </ul>
<?php } else { ?>
    <li style="list-style: none;">
        <a class="jscroll-next" href="<?= $_SERVER['REQUEST_URI'] ?>&page=<?= base64_encode($page); ?>"></a>
    </li>
<?php }
?>
