<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE Connected Device PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 05/01/2015.
 * UPDATED: 05/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
$helper = $this->helper;
$CusConPlug = $this->custom_plugin;
?>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Social Data</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li class="active"><a href="#">Facebook</a><span class="border"></span></li>
                <li><a href="#">Twitter</a><span class="border"></span></li>
            </ul>
        </div>
    </div>
    <div class="pageWrapper">
<!--        <iframe src="http://individual.quantextualhealth.com/facebookapp/"  allowtransparency="true" frameborder="0" scrolling="yes" width="100%" height="900px"></iframe>-->
        <div class="boxWrap clearfix">
            <?php
            if (empty($accessToken)) {
                echo '<a href="' . $loginUrl . '">Log in with Facebook!</a>';
            } else {
                //  echo '<a href="' . $logoutUrl . '">Logoutfrom Facebook!</a>';
            }
            ?>

            <?php
            if (count($decodedBody) > 0) {
//                echo "<pre>";
//                print_r($decodedBody);
                $profileImage = " https://graph.facebook.com/me/picture?access_token=" . $accessToken;
                ?>           
                <div class="table cb_Grid">
                    <div class="row head clearfix">
                        <div class="col wd100"></div>
                    </div>

                    <div class="row clearfix">                   
                        <div class="col wd40"><span class="txt"> Gain insigh on yourself and your social network</span></div>
                        <div class="col wd60">
                            <span class="txt">                   
                                connect with Facebook ,
                                sign in for free,
                                and get unique,
                                personalized information and analysis on your social data 
                            </span>
                        </div>
                    </div>
                    <div class="row clearfix">                   
                        <div class="col wd40"><span class="txt">Facebook Report</span></div>
                        <div class="col wd60"><span class="txt"><?php echo $decodedBody['name'] ?></span></div>
                    </div>
                    <div class="row clearfix">                   
                        <div class="col wd40"><span class="txt">Generated</span></div>
                        <div class="col wd60"><span class="txt"><?php echo date("l, F m, Y") ?></span></div>
                    </div>
                    <div class="hww_sbox"></div>
                    <div class="row clearfix"> 
                        <div  class="col wd100"><label class="helpInfo">Basic Personal Information</label></div>
                    </div> 

                    <div class="row clearfix">                   
                        <div class="col wd100"><span class="txt"><img src="https://graph.facebook.com/<?php echo $decodedBody['id']; ?>/picture?type=normal"></span></div>                        
                    </div>
                    <div class="row clearfix"> 
                        <div class="col wd40"><span class="txt">Birthday</span></div>
                        <div class="col wd60">
                            <span class="txt">
                                <?php
                                if (isset($decodedBody['birthday'])) {
                                    echo date("l, F m, Y", strtotime($decodedBody['birthday']));
                                } else {
                                    echo "No birthday details avaliable";
                                }
                                ?>
                            </span>
                        </div>
                    </div>
                    <?php if (isset($decodedBody['birthday'])) { ?>
                        <div class="row clearfix"> 
                            <div class="col wd40"><span class="txt">Age</span></div>
                            <div class="col wd60">
                                <span class="txt">
                                    <?php
                                    echo $CusConPlug->cal_birthday(date("Y-m-d", strtotime($decodedBody['birthday'])));
                                    ?>
                                </span>
                            </div>
                        </div>
                        <div class="row clearfix"> 
                            <div class="col wd40"><span class="txt">Next Birthday</span></div>
                            <div class="col wd60"><span class="txt"><?php
                                    $next_year_dob = date("Y", strtotime('+1 year')) . "-" . date("m-d", strtotime($decodedBody['birthday']));
                                    echo $CusConPlug->cal_upcoming_birthday($next_year_dob);
                                    ?></span></div>
                        </div>
                    <?php } ?>
                    <div class="row clearfix"> 
                        <div  class="col wd100"><label class="lableValue">Basic Place</label></div>
                    </div> 
                    <div class="row clearfix"> 
                        <div class="col wd40"><span class="txt">Home Town</span></div>
                        <div class="col wd60">
                            <span class="txt">
                                <?php
                                if (isset($decodedBody['hometown']['name'])) {
                                    echo $decodedBody['hometown']['name'];
                                } else {
                                    echo "No Home details avaliable";
                                }
                                ?>
                            </span>
                        </div>
                    </div>
                    <div class="row clearfix"> 
                        <div class="col wd40"><span class="txt">Residence</span></div>
                        <div class="col wd60">
                            <span class="txt">
                                <?php
                                if (isset($decodedBody['location']['name'])) {
                                    echo $decodedBody['location']['name'];
                                } else {
                                    echo "No residance details avaliable";
                                }
                                ?>
                            </span>
                        </div>
                    </div>
                </div>
            <?php } ?>

            <?php if (count($friendsData) > 0) { ?>
                <h3 class="heading">Friend (<?= $friendsData['friends']['summary']['total_count']; ?>) </h3>
                <div class="table cb_Grid">
                    <div class="row clearfix">
                        <div class="col wd50"><span class="txt">Male</span></div>
                        <div class="col wd50"><span class="txt">Female</span></div>
                    </div>
                    <div class="row clearfix">
                        <?php
                        $frind_name_male = '';
                        $frind_name_female = '';
                        foreach ($friendsData as $fndsval) {
                            if (isset($fndsval['data']) && is_array($fndsval['data']) && count($fndsval['data']) > 0) {
                                foreach ($fndsval['data'] as $frvalue) {
                                    $frnd_id = (isset($frvalue['id']) ? $frvalue['id'] : '');
                                    $frnd_name = (isset($frvalue['name']) ? $frvalue['name'] : '');
                                    $frnd_first_name = (isset($frvalue['first_name']) ? $frvalue['first_name'] : 'N/A');
                                    $frnd_last_name = (isset($frvalue['last_name']) ? $frvalue['last_name'] : '');
                                    $frnd_gender = (isset($frvalue['gender']) ? $frvalue['gender'] : 'N/A');
                                    $frnd_link = (isset($frvalue['link']) ? $frvalue['link'] : '');
                                    $frn_devices = (isset($frvalue['devices']) ? $frvalue['devices'] : '');
                                    $hometown = (isset($frvalue['hometown']['name']) ? $frvalue['hometown']['name'] : '');
                                    $hometownID = (isset($frvalue['hometown']['id']) ? $frvalue['hometown']['id'] : '');
                                    ?>
                                    <?php
                                    if (strtolower($frnd_gender) == 'male') {
                                        $frind_name_male .= $frnd_name . ' | ';
                                        ?>
                                        <div class="col wd50"><span class="txt"><?php echo $frind_name_male ?></span> </div>
                                        <?php
                                    } else {
                                        $frind_name_female .= $frnd_name . ' | ';
                                        ?>
                                        <div class="col wd50"><span class="txt"><?php echo $frind_name_female ?></span> </div>
                                    <?php } ?>

                                    <?php
                                }
                            }
                        }
                        ?>
                    </div>
                </div>
            <?php } ?>
            <?php
            if (count($postDataArray) > 0) {
                $image_url = (isset($postDataArray[0]['picture']) ? $postDataArray[0]['picture'] : '' );
                ?>
                <h3 class="heading">Most Liked Post </h3>
                <div class="table cb_Grid">
                    <div class="row clearfix"> 
                        <div class="col wd100"><img src="<?= $image_url ?>"</div>                        
                    </div>
                </div>
                <div class="row clearfix"> 
                    <div class="col wd40"><span class="txt">Total Count</span></div>
                    <div class="col wd60">
                        <span class="txt">
                            <?= $postDataArray[0]['likecount'] ?>
                        </span>
                    </div>
                </div>
                <?php if (isset($postDataArray[0]['name'])) { ?>
                    <div class="row clearfix"> 
                        <div class="col wd40"><span class="txt">Name</span></div>
                        <div class="col wd60">
                            <span class="txt">
                                <?= $postDataArray[0]['name'] ?>
                            </span>
                        </div>
                    </div>
                <?php } ?>
                <div class="row clearfix"> 
                    <div class="col wd40"><span class="txt">Post date </span></div>
                    <div class="col wd60">
                        <span class="txt">
                            <?= date("d-m-Y h:i A", strtotime($postDataArray[0]['created_time'])) ?>
                        </span>
                    </div>
                </div>
                <div class="row clearfix"> 
                    <div class="col wd40"><span class="txt">Top Liked User </span></div>
                    <div class="col wd60">
                        <span class="txt">
                            <?= $postDataArray[0]['likenames'] ?>
                        </span>
                    </div>
                </div>
            </div>
        <?php } ?>

        <?php if (isset($postsData['posts']) && count($postsData['posts']) > 0) { ?>
            <h3 class="heading">Posts(<?= count($postsData['posts']['data']) ?>) </h3>

            <div class="table cb_Grid">
                <div class="row clearfix">
                    <div class="col wd20"><span class="txt">Story</span></div>
                    <div class="col wd20"><span class="txt">Image</span></div>  
                    <div class="col wd20"><span class="txt">Name</span></div> 
                    <div class="col wd20"><span class="txt">Creation Date</span></div>
                    <div class="col wd10"><span class="txt">Likes</span></div>
                    <div class="col wd10"><span class="txt">comments</span></div>
                </div>
                <?php foreach ($postsData['posts']['data'] as $pvalue) {
                    ?>
                    <div class="row clearfix">
                        <div class="col wd20"><span class="txt"><?php echo (isset($pvalue['story']) ? $pvalue['story'] : '' ); ?></span></div>
                        <div class="col wd20"><span class="txt">
                                <?php
                                $image_url = (isset($pvalue['picture']) ? $pvalue['picture'] : '' );
                                if (!empty($image_url)) {
                                    ?>
                                    <img src="<?php echo $image_url; ?>" >
                                <?php } ?>
                            </span>
                        </div>    
                        <div class="col wd20"><span class="txt"><?php echo (isset($pvalue['name']) ? $pvalue['name'] : '' ); ?></span></div> 
                        <div class="col wd20"><span class="txt"><?php echo (isset($pvalue['created_time']) ? $pvalue['created_time'] : '' ); ?></span></div>
                        <div class="col wd10">
                            <span class="txt">
                                <?php
                                $count_like = 0;
                                if (isset($pvalue['likes']['data'])) {
                                    $count_like = count($pvalue['likes']['data']);
                                    $lik = 0;
                                    if ($count_like > 0) {
                                        foreach ($pvalue['likes']['data'] as $likvalue) {
                                            $like_user_details[$lik]['post_id'] = $pvalue['id'];
                                            $like_user_details[$lik]['user_name'] = $likvalue['name'];
                                            $like_user_details[$lik]['user_id'] = $likvalue['id'];
                                            $lik++;
                                        }
                                    }
                                }
                                echo $count_like;
                                ?>
                            </span>
                        </div>
                        <div class="col wd10">
                            <span class="txt">
                                <?php
                                $count_comment = 0;
                                if (isset($pvalue['comments']['data'])) {
                                    $count_comment = count($pvalue['comments']['data']);
                                    $com = 0;
                                    if ($count_comment > 0) {
                                        foreach ($pvalue['comments']['data'] as $comvalue) {
                                            $comment_user_details[$com]['post_id'] = $pvalue['id'];
                                            $comment_user_details[$com]['user_name'] = $comvalue['from']['name'];
                                            $comment_user_details[$com]['user_id'] = $comvalue['from']['id'];
                                            $com++;
                                        }
                                    }
                                }
                                echo $count_comment;
                                ?>
                            </span>
                        </div>
                    </div>
                <?php } ?>

            </div>
            <?php
//                            echo '<pre>';
//                            print_r($like_user_details);
//                            echo '<br> ---comment ------';
//                            print_r($comment_user_details);
            ?>


        <?php } ?>

    </div>
</div>
</div>
