<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE Connected Device PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 05/01/2015.
 * UPDATED: 05/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
$helper = $this->helper;
$CusConPlug = $this->custom_plugin;

?>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Social Data</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li class="active"><a href="#">Facebook</a><span class="border"></span></li>
                <li><a href="#">Twitter</a><span class="border"></span></li>
            </ul>
        </div>
    </div>
    <div class="pageWrapper">
        <iframe src="http://individual.quantextualhealth.com/facebookapp/"  allowtransparency="true" frameborder="0" scrolling="yes" width="100%" height="900px"></iframe>
<!--        <div class="boxWrap clearfix">
            <?php
            if (empty($accessToken)) {
     
                echo '<a href="' . $loginUrl . '">Log in with Facebook!</a>';
            } else {           
                echo '<a href="' . $logoutUrl . '">Logoutfrom Facebook!</a>';
            }
            ?>

            <?php if (count($decodedBody) > 0) {  
//                echo "<pre>";
//                print_r($decodedBody);
           $profileImage =" https://graph.facebook.com/me/picture?access_token=" . $accessToken;
                ?>           
                <div class="table cb_Grid">
                                    <div class="row head clearfix">
                                        <div class="col wd100"></div>
                                    </div>
                    <div class="row clearfix">                   
                        <div class="col wd40"><span class="txt">Facebook Report</span></div>
                        <div class="col wd60"><span class="txt"><?php echo $decodedBody['name'] ?></span></div>
                    </div>
                    <div class="row clearfix">                   
                        <div class="col wd40"><span class="txt">Generated</span></div>
                        <div class="col wd60"><span class="txt"><?php echo date("l, F m, Y") ?></span></div>
                    </div>
                    <div class="hww_sbox"></div>
                     <div class="row clearfix"> 
                    <div  class="col wd100"><label class="helpInfo">Basic Personal Information</label></div>
                      </div> 
                    
                     <div class="row clearfix">                   
                        <div class="col wd100"><span class="txt"><img src="https://graph.facebook.com/<?php echo $decodedBody['id']; ?>/picture?type=normal"></span></div>                        
                    </div>
                    <div class="row clearfix"> 
                        <div class="col wd40"><span class="txt">Birthday</span></div>
                        <div class="col wd60">
                            <span class="txt">
                                <?php
                                if(isset($decodedBody['birthday'])){
                                echo date("l, F m, Y", strtotime($decodedBody['birthday'])); 
                                }else{
                                    echo "No birthday details avaliable";
                                }
                                ?>
                            </span>
                        </div>
                    </div>
                    <?php  if(isset($decodedBody['birthday'])){ ?>
                     <div class="row clearfix"> 
                        <div class="col wd40"><span class="txt">Age</span></div>
                        <div class="col wd60">
                            <span class="txt">
                                <?php 
                            echo $CusConPlug->cal_birthday(date("Y-m-d", strtotime($decodedBody['birthday']))); 
                            ?>
                            </span>
                        </div>
                    </div>
                     <div class="row clearfix"> 
                        <div class="col wd40"><span class="txt">Next Birthday</span></div>
                        <div class="col wd60"><span class="txt"><?php 
                        $next_year_dob = date("Y",  strtotime('+1 year'))."-".date("m-d", strtotime($decodedBody['birthday']));
                        echo $CusConPlug->cal_upcoming_birthday($next_year_dob);
                        ?></span></div>
                    </div>
                    <?php } ?>
                      <div class="row clearfix"> 
                    <div  class="col wd100"><label class="lableValue">Basic Place</label></div>
                      </div> 
                    <div class="row clearfix"> 
                        <div class="col wd40"><span class="txt">Home Town</span></div>
                        <div class="col wd60">
                            <span class="txt">
                            <?php
                             if(isset($decodedBody['hometown']['name'])){
                              echo $decodedBody['hometown']['name'];
                             }  else {
                              echo "No Home details avaliable";
                             }
                            ?>
                            </span>
                        </div>
                    </div>
                     <div class="row clearfix"> 
                        <div class="col wd40"><span class="txt">Residence</span></div>
                        <div class="col wd60">
                            <span class="txt">
                               <?php
                             if(isset($decodedBody['location']['name'])){
                              echo $decodedBody['location']['name'];
                             }  else {
                              echo "No residance details avaliable";
                             }
                            ?>
                            </span>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>-->
    </div>
</div>
