<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History</div>
        <div class="pgh_mWrap">
            <div class="pgh_menu pgh_menu_top">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item">Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item">Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item">Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item selected">Symptoms</a>
               	<a href="<?php echo $this->basePath(); ?>/individual-treat" class="item">Treatment</a>
            </div>
        </div>
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item">View Symptoms</a>
                <a href="<?php echo $this->basePath(); ?>/individual-addsymp" class="item">Add New Symptoms</a>
                <a href="#" class="item selected">Edit Symptoms</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <form method="post" action="" id="add_user_symptoms" name="add_user_symptoms">
            <!-- Select Condition section box start here -->
            <div class="boxWrap boxWrap_add_new_condition" style="position:relative;">
                <div class="bw_list added_condition_wrap" style="max-height:inherit">
                    <ul id="Adduser_symptoms" class="added_condition_row symptomsBox">
                        <li class="listItem clearfix">
                            <div class="bwl_type"><strong><?= $symptomsDetails['common_name'] ?></strong></div>
                            <div class="row">
                                <div class="select">

                                    <select class="select" title="Select Status" name="symptoms_status" id="condtion_status">
                                        <option value="">Select Status</option>
                                        <?php foreach ($statusArr as $value) { ?>
                                            <option value="<?= $value['id'] ?>"<?php if ($value['id'] == $symptomsDetails['symptoms_status']) {
                                            echo "selected";
                                        } ?>><?= $value['status'] ?></option>
<?php } ?>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="select">

                                    <select class="select" title="Select Location" name="subsymptoms" id="select_condition">
                                        <option value="">Select Location</option>
                                        <?php foreach ($subsymtomsArr as $res) { ?>
                                            <option value="<?php echo $res['sub_id']; ?>"<?php if ($res['sub_id'] == $symptomsDetails['sub_symtoms_id']) {
                                            echo "selected";
                                        } ?>><?php echo $res['sub_common_name']; ?></option>
<?php } ?>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="select" style="position:relative; height:80px;">
                                    <select class="select selectM_condition" title="Select Condition"  name="user_condiotion[]" id="select_condition" multiple>
                                        <option value="">Select Condition</option>
                                        <?php if (count($User_conditionslist)) {
                                            foreach ($User_conditionslist as $v) { ?>
                                                <option value="<?= $v['condition_id'] ?>"<?php
                                                if ($symptomsDetails['condition_ids']) {
                                                    $conArr = explode(',', $symptomsDetails['condition_ids']);
                                                    if (in_array($v['condition_id'], $conArr)) {
                                                        echo "selected";
                                                    }
                                                }
                                                ?>><?= $v['common_name'] ?></option>
    <?php }
} else { ?>
<?php } ?>
                                    </select>
                                </div>
                            </div>
                        </li>                 
                    </ul>
                </div>
            </div>
            <!-- Select Condition section box end here -->


            <div class="boxBtn clearfix">
                <input type="submit" name="" value="Update" class="bb_btn">
            </div>
        </form>
        <style>
            .selectM_condition{
                opacity:1!important;
                height:80px;
            }
        </style>
        <script>
            function ShowSymptomsNameInTextBox(symId) {
                var symName = $('#' + symId).text();
                $("#selected_symptoms").val(symName);
                if (symId) {
                    $(".global_loader").show();
                    $.ajax({
                        type: "POST",
                        url: "/individual/ajax/addedsymptoms",
                        data: {SymptomsID: symId}
                    }).done(function(resp) {
                        if (resp) {
                            $(".global_loader").hide('fast');
                            $("#symptoms_err").html("<font color='red'>This Symptoms already added.</font>");
                            $('#symptoms_err').fadeIn('fast').delay(2500).fadeOut('slow');
                            $("#user_selected_symptoms").val('');
                            $('#sympotmslist').hide();
                            return false;
                        } else {
                            $("#user_selected_symptoms").val(symId);
                            $('#sympotmslist').hide();
                            $(".global_loader").hide('fast');
                        }
                    });
                }
            }
            $(document).ready(function() {
                $("#add_user_symptomss").validate({
                    rules: {
                        selected_symptoms: "required",
                    },
                    messages: {
                        selected_symptoms: {
                            required: "Please enter valid symptoms."
                        }
                    },
                    errorPlacement: function(error, element) {
                        error.appendTo(element.parents("div.bw_bmi_add"));
                    }
                });
                $("#selected_symptoms").keydown(function() {
                    $("#selected_symptoms").removeClass("search-icon");
                    var val = $(this).val().trim();
                    var length = val.length;

                    $('#sympotmslist').html('');
                    if (length >= 3)
                    {
                        $.ajax({
                            type: "POST",
                            url: "/individual/ajax/getReletedSymptoms",
                            data: {name: val},
                            success: function(res) {
                                //alert(res);
                                $('#sympotmslist').show();
                                $('#sympotmslist').html(res);
                            }
                        });
                    }
                });


                $("#addUserSymptoms").click(function() {
                    var li_Length = $('ul#Adduser_symptoms li').length;
                    var symtomsID = $("#user_selected_symptoms").val();
                    var conditionName = $("#selected_symptoms").val();
                    var x = $('input[name="symptomsId_list[]"]').val();
                    var SymptomsArray = new Array();
                    $('input[name="symptomsId_list[]"]').each(function() {
                        SymptomsArray.push($(this).val());
                    });

                    if (symtomsID) {
                        if (SymptomsArray.length < 9) {
                            if ($.inArray(symtomsID, SymptomsArray) < 0) {
                                $(".global_loader").show();
                                $.ajax({
                                    type: "POST",
                                    url: "/individual/ajax/addsymptomsblock",
                                    data: {li_Length: li_Length, symtomsID: symtomsID, conditionName: conditionName}
                                }).done(function(resp) {
                                    $(".global_loader").hide('fast');
                                    $("ul.symptomsBox").append(resp);
                                    $('#addUserSymptoms').prop("disabled", false);
                                    $("#user_selected_symptoms").val('');
                                    $("#selected_symptoms").val('');
                                });
                            } else {
                                $(".global_loader").hide('fast');
                                $("#symptoms_err").html("<font color='red'>This Symptoms already selected by you. Choose another.</font>");
                                $('#symptoms_err').fadeIn('fast').delay(2500).fadeOut('slow');
                                $('#addUserSymptoms').prop("disabled", false);
                            }
                        } else {
                            $(".global_loader").hide('fast');
                            $("#symptoms_err").html("<font color='red'>You can't add more than 9 symptoms.</font>");
                            $('#symptoms_err').fadeIn('fast').delay(2500).fadeOut('slow');
                            $('#addUserSymptoms').prop("disabled", false);
                        }
                    } else {
                        $(".global_loader").hide('fast');
                        $("#symptoms_err").html("<font color='red'>Please enter valid symptoms.</font>");
                        $('#symptoms_err').fadeIn('fast').delay(2500).fadeOut('slow');
                        $('#addUserCondition').prop("disabled", false);
                    }
                });

                $("#add_treatment_button").click(function() {
                    $('#add_treatment_button').prop("disabled", true);
                    $(".global_loader").show();
                    var treatmentID = $("#selected_treatment").val();
                    var treatmentName = $("#selected_treatment option:selected").text();
                    var x = $('input[name="con_treatments[]"]').val();
                    var TreatmentArray = new Array();
                    $('input[name="con_treatments[]"]').each(function() {
                        TreatmentArray.push($(this).val());
                    });
                    if (treatmentID) {
                        if (TreatmentArray.length < 9) {
                            if ($.inArray(treatmentID, TreatmentArray) < 0) {
                                $.ajax({
                                    type: "POST",
                                    url: "/individual/ajax/getsubtreatmentlist",
                                    data: {treatmentID: treatmentID, treatmentName: treatmentName}
                                }).done(function(resp) {
                                    $(".global_loader").hide('fast');
                                    $("ul.treatments_box").append(resp);
                                    $('#add_treatment_button').prop("disabled", false);
                                });
                            } else {
                                $(".global_loader").hide('fast');
                                $("#treatment_err").html("<font color='red'>This Treatment already selected. Choose another.</font>");
                                $('#treatment_err').fadeIn('fast').delay(2500).fadeOut('slow');
                                $('#add_treatment_button').prop("disabled", false);
                            }
                        } else {
                            $(".global_loader").hide('fast');
                            $("#treatment_err").html("<font color='red'>You can't add more than 9 treatmens.</font>");
                            $('#treatment_err').fadeIn('fast').delay(2500).fadeOut('slow');
                            $('#add_treatment_button').prop("disabled", false);
                        }
                    } else {
                        $(".global_loader").hide('fast');
                        $("#treatment_err").html("<font color='red'>Please select treatment first.</font>");
                        $('#treatment_err').fadeIn('fast').delay(2500).fadeOut('slow');
                        $('#add_treatment_button').prop("disabled", false);
                    }
                });

                $("#selected_conditions").change(function() {
                    $(".global_loader").show();
                    var conditionID = $("#selected_conditions").val();
                    if (conditionID) {
                        $.ajax({
                            type: "POST",
                            url: "/individual/ajax/checkuserconditions",
                            data: {conditionID: conditionID}
                        }).done(function(resp) {
                            if (resp) {
                                $(".global_loader").hide('fast');
                                $("#condition_err").html("<font color='red'>This condition already added.</font>");
                                $('#condition_err').fadeIn('fast').delay(2500).fadeOut('slow');
                                $("#selected_conditions").val('refresh', true);
                                return false;
                            } else {
                                $.ajax({
                                    type: "POST",
                                    url: "/individual/ajax/getsubconditionslist",
                                    data: {conditionID: conditionID}
                                }).done(function(res) {
                                    $(".global_loader").hide('fast');
                                    $("#subcondtionDiv").html(res);
                                    custom_selectboxNew();
                                });
                            }
                        });
                    } else {
                        $(".global_loader").hide('fast');
                        alert('Please select treatment first.');
                    }
                });


            });
            function updateConditionSess(conditionID, view) {
                //alert(view); return false;
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/updatesessioncondition",
                    data: {conditionID: conditionID}
                }).done(function() {
                    if (view) {
                        window.location.href = "/individual-condition-description";
                    } else {
                        window.location.href = "/individual-edit-history";
                    }
                });
            }
            function deleteCondition(conditionID) {
                if (conditionID) {
                    if (confirm("Do you want to delete this condition?")) {
                        this.click;
                        $.ajax({
                            type: "POST",
                            url: "/individual/ajax/updateconditonstatus",
                            data: {conditionID: conditionID}
                        }).done(function() {
                            window.location.href = "/individual-history";
                        });
                    }
                    else
                    {
                        return false;
                    }
                }
            }
            $(window).resize(function() {
                delay(function() {
                    $('.cb_Grid .row').each(function() {
                        $(this).find('span.txt').css('height', 'auto');
                        setEqualHeight($(this).find('span.txt'));
                    });
                }, 500);
            });
            $(function() {
                delay(function() {
                    $('.cb_Grid .row').each(function() {
                        $(this).find('span.txt').css('height', 'auto');
                        setEqualHeight($(this).find('span.txt'));
                    });
                }, 500);
            });
        </script>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#selected_symptoms").addClass("search-icon");
    });
</script>
<style>
    .search-icon{
        background-image: url(/img/view.png);
        background-position: left ;
        background-repeat: no-repeat;
    }
</style>
<!--Container end here--> 
