<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History</div>
        <div class="pgh_mWrap">
             <div class="pgh_menu pgh_menu_top">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item">Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item">Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item">Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item selected">Symptoms</a>
               	<a href="<?php echo $this->basePath(); ?>/individual-treat" class="item">Treatment</a>
            </div>
        </div>
 <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="pgh_mWrap" style="padding:0">
             <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item">View Symptoms</a>
                <a href="<?php echo $this->basePath(); ?>/individual-addsymp" class="item">Add New Symptoms</a>
				<a href="#" class="item selected">Edit other Symptoms</a>
            </div>
       </div>
   </div>
   <div class="pageWrapper">
   	<form method="post" action="" id="add_user_othersymptoms" name="add_user_othersymptoms">
        <!-- Select Condition section box start here -->
        <div class="boxWrap boxWrap_add_new_condition" style="position:relative;">
                <div class="">Other Symptoms</div>
                <div class="bw_bmi_add clearfix">
                    <input type="text" name="user_other_symptoms" id="user_other_symptoms" value="<?=$otherSymptoms['other_symtoms']?>" style="float:left; margin-right:5px;">
					<div class="select selectStatus" style="margin-top:2px;">
					    <select class="select" title="Select Status"  name="selected_status" id="selected_status">
								<option value="" disabled>Select Status</option>
								<?php foreach ($statusArr as $value) { ?>
								<option value="<?=$value['id']?>"<?php if($otherSymptoms['status_id']==$value['id']) {echo "selected";}?>><?=$value['status']?></option>
							  <?php  } ?>
						</select>
					</div>
                </div>
				
              
		</div>
            <!-- Select Condition section box end here -->


            <div class="boxBtn clearfix">
                <input type="submit" name=""  value="Update" class="bb_btn">
            </div>
        </form>
	<style>
.selectM_condition{
	opacity:1!important;
	height:80px;
}
.selectStatus span.select {
    min-width: 130px !important;
}
</style>
<script>
$(document).ready(function() {
	 $("#add_user_othersymptoms").validate({
		rules: {
			user_other_symptoms:"required",
		},
		messages: {
			user_other_symptoms: {
				required: "Please add other symptoms first."
			}
		},
		errorPlacement: function(error, element) {
		error.appendTo(element.parents("div.bw_bmi_add"));
	}
});
$("#addUserSymptoms").click(function(){
		var li_Length = $('ul#Adduser_symptoms li').length;
		var symtomsID = $("#user_selected_symptoms").val();
		var conditionName = $("#selected_symptoms").val();
		var x = $('input[name="symptomsId_list[]"]').val();
		var SymptomsArray = new Array();
		$('input[name="symptomsId_list[]"]').each(function() {
			SymptomsArray.push($(this).val());
		});
 $("#selected_conditions").change(function(){
		$(".global_loader").show();
		var conditionID = $("#selected_conditions").val();
		if(conditionID){
		$.ajax({
				type: "POST",
				url: "/individual/ajax/checkuserconditions",
				data: { conditionID: conditionID}
				}).done(function (resp){
					if(resp){
						$(".global_loader").hide('fast');
						$("#condition_err").html("<font color='red'>This condition already added.</font>");
						$('#condition_err').fadeIn('fast').delay(2500).fadeOut('slow');
						$("#selected_conditions").val('refresh', true);
						return false;
					}else{
						$.ajax({
						type: "POST",
						url: "/individual/ajax/getsubconditionslist",
						data: { conditionID: conditionID}
						}).done(function (res){
							$(".global_loader").hide('fast');
							$("#subcondtionDiv").html(res);
							custom_selectboxNew();
						});
					}
				});
		}else{
			$(".global_loader").hide('fast');
			alert('Please select treatment first.');
		}		
	});
	
	
});
$(window).resize(function() {
				delay(function(){
					$('.cb_Grid .row').each(function(){
						$(this).find('span.txt').css('height','auto');
						setEqualHeight($(this).find('span.txt'));
					});
				}, 500);
			});
			$(function() {
				delay(function(){
					$('.cb_Grid .row').each(function(){
						$(this).find('span.txt').css('height','auto');
						setEqualHeight($(this).find('span.txt'));
					});
				}, 500);
			});
        </script>
   </div>
</div>
 <!--Container end here--> 
