<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History</div>
        <div class="pgh_mWrap">
            <div class="pgh_menu pgh_menu_top">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item">Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item">Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item">Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item selected">Symptoms</a>
               	<a href="<?php echo $this->basePath(); ?>/individual-treat" class="item">Treatment</a>
            </div>
        </div>
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item selected">View Symptoms</a>
                <a href="<?php echo $this->basePath(); ?>/individual-addsymp" class="item">Add New Symptoms</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <?php if (!count($this->user_Symptoms)) { ?><div class="errorMsg" style="display: block !important;">
                <span class="ui_icon error"></span>No Symptoms found </div> <?php } else { ?>
            <div class="table table_box_shadow symptoms_table_responsve cb_Grid">
                <div class="row clearfix head">
                    <div class="col wd10"><span class="txt">S.no</span></div>
                    <div class="col wd15"><span class="txt">Symptom</span></div>
                    <div class="col wd15"><span class="txt">Common Term</span></div>
                    <div class="col wd15"><span class="txt">Location</span></div>
                    <div class="col wd10"><span class="txt">Status</span></div>
                    <div class="col wd15"><span class="txt">Condition</span></div>
                    <div class="col wd15"><span class="txt">Action</span></div>
                </div>
                <?php foreach ($this->user_Symptoms as $key => $value): ?>
                    <div class="row clearfix" id="<?= $value['symtoms_id'] ?>">
                        <div class="col wd10"><span class="txt"><?= $key + 1 ?></span></div>
                        <div class="col wd15"><span class="txt"><?= $value['symptoms_name'] ?></span></div>
                        <div class="col wd15"><span class="txt"><?= $value['media_name'] ?></span></div>
                        <div class="col wd15"><span class="txt"><?= $value['sub_symptoms_name'] ?></span></div>
                        <div class="col wd10"><span class="txt"><?= $value['SympStatus'] ?></span></div>
                        <div class="col wd20"><span class="txt"><?=$value['condition_name'];  ?></span></div>
                        <div class="col wd15 clearfix">
                            <span class="txt  clearfix">
                                <ul class="action">
                                    <li class="view"><a href="/individual-viewsymp/<?php echo base64_encode($value['symtoms_id']); ?>">View</a></li>
                                    <li class="edit"><a href="/individual-editsymp/<?php echo base64_encode($value['symtoms_id']); ?>">Edit</a></li>
                                    <li class="delete"><a href="#" onclick="deleteSymptoms('<?= $value['symtoms_id'] ?>');">Delete</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                <?php endforeach; ?>

            </div>
        <?php } ?>

        <?php if ($otherSymptoms) { ?>
            <div class="table table_box_shadow symptoms_table_responsve cb_Grid">
                <div class="row clearfix head">
                    <div class="col wd100"><span class="txt">Other Symptoms</span></div>
                </div>
                <div class="row clearfix">
                    <div class="col wd50"><span class="txt" style="text-align:left"><strong>Symptoms name :</strong> <?= $otherSymptoms['other_symtoms'] ?></span></div>
                    <div class="col wd30"><span class="txt" style="text-align:left"><strong>Status :</strong> <?= $otherSymptoms['condition_status'] ?></span></div>
                    <div class="col wd20 clearfix">
                        <span class="txt  clearfix">
                            <ul class="action">
                                <li class="edit"><a href="/individual-editothersymp/<?php echo base64_encode($otherSymptoms['id']); ?>">Edit</a></li>
                                <li class="delete"><a href="#" onclick="deleteOther(<?= $otherSymptoms['id'] ?>);">Delete</a></li></ul>
                        </span>
                    </div>
                </div>
            </div>
        <?php } ?>
        <script>
            function deleteOther(OthSymId) {
                if (OthSymId) {
                    if (confirm("Do you want to delete this other symptoms?")) {
                        this.click;
                        $.ajax({
                            type: "POST",
                            url: "/individual/ajax/deleteothersymp",
                            data: {id: OthSymId}
                        }).done(function() {
                            window.location.href = "/individual-symp";
                        });
                    }
                    else
                    {
                        return false;
                    }
                }
            }
            function deleteSymptoms(symptomsID) {
                if (symptomsID) {
                    if (confirm("Do you want to delete this symptoms?")) {
                        this.click;
                        $.ajax({
                            type: "POST",
                            url: "/individual/ajax/updatesymptomsstatus",
                            data: {symptomsID: symptomsID}
                        }).done(function() {
                            //window.location.href = "/individual-symp";
                            window.location.reload();
                            $('#' + symptomsID).hide();
                        });
                    }
                    else
                    {
                        return false;
                    }
                }
            }
            function deleteCondition(conditionID) {
                if (conditionID) {
                    if (confirm("Do you want to delete this condition?")) {
                        this.click;
                        $.ajax({
                            type: "POST",
                            url: "/individual/ajax/updateconditonstatus",
                            data: {conditionID: conditionID}
                        }).done(function() {
                            //window.location.href = "/individual-history";
                            window.location.reload();
                        });
                    }
                    else
                    {
                        return false;
                    }
                }
            }
            $(window).resize(function() {
                delay(function() {
                    $('.cb_Grid .row').each(function() {
                        $(this).find('span.txt').css('height', 'auto');
                        setEqualHeight($(this).find('span.txt'));
                    });
                }, 500);
            });
            $(function() {
                delay(function() {
                    $('.cb_Grid .row').each(function() {
                        $(this).find('span.txt').css('height', 'auto');
                        setEqualHeight($(this).find('span.txt'));
                    });
                }, 500);
            });
        </script>
    </div>
</div>
<!--Container end here--> 
