<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE History.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>

<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Symptoms Description</div>
        <div class="pgh_mWrap">
            <div class="pgh_menu pgh_menu_top">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item">Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item">Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item">Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item selected">Symptoms</a>
               	<a href="<?php echo $this->basePath(); ?>/individual-treat" class="item">Treatment</a>
            </div>
        </div>
        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item">View Symptoms</a>
                <a href="<?php echo $this->basePath(); ?>/individual-addsymp" class="item">Add New Symptoms</a>
                <a href="#" class="item selected">Symptoms Description</a>
            </div>
        </div>

    </div>
    <div class="pageWrapper">
        <div class="graphBox history_description">
            <h2 class="desc_heading bdrbottom02">Symptoms : 
                <span class="condition_name"><?php echo $user_Symptoms['symptoms_name']; ?></span>
                <span class="status">Status : <span class="condition_name"><?= $user_Symptoms['SympStatus'] ?></span></span>
            </h2>
            <h2 class="desc_heading">Description:</h2>
            <div class="desc_paragraph bdrbottom02">
                <?php echo $user_Symptoms['description']; ?></div>
                <?php if ($user_Symptoms['sub_symptoms_name']) { ?>
                <h2 class="desc_heading">Location : <span class="condition_name"><?php echo $user_Symptoms['sub_symptoms_name'];
            } ?></span></h2>
            <?php if ($user_Symptoms['sub_symptoms_name']) { ?>
                <h2 class="desc_heading">Description:</h2>

                <div class="desc_paragraph"><?php echo $user_Symptoms['description']; ?></div>
            <?php } ?>
            <div style="padding-top:15px;" class="bdrbottom02"></div>
            <?php if (count($user_Symptoms['condition_name'])) { ?>
                <h2 class="desc_heading">Condition : </h2>
                <div class="desc_paragraph">
                    <ul>
                        <?php if ($user_Symptoms['condition_name']) {
                            foreach ($user_Symptoms['condition_name'] as $value) { ?>
                                <li><?= $value['common_name'] ?></li>
        <?php }
    } ?>
                    </ul>
                </div>
<?php } ?>
        </div>
    </div>
</div>
<style>
    .desc_heading{
        padding-right:0 !important;
    }
    .condition_name{
        color:#1a46b6;
        font-family:robotolight;
    }
    .desc_paragraph p{
        padding-bottom:15px;
    }
    .desc_paragraph ul{
        padding-left:20px;
    }
    .desc_paragraph ul li{
        margin-bottom:10px;
    }
    .bdrbottom02{
        border-bottom:#BDBDBD 1px solid
    }
    .status{
        float:right;
        text-align:right;
    }
</style>
</div>

<!--Container end here--> 