F<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad.
 * CREATOR: 21/1/2015.
 * UPDATED: 21/1/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<?php
if (isset($_SERVER['HTTP_X_REQUESTED_WITH']) && $_SERVER['HTTP_X_REQUESTED_WITH'] === 'XMLHttpRequest') {
    echo $this->partial('individual/templates/people_list/people_list');
    exit();
}
?>
<script>
    $(document).ready(function() {
        $('.userList').jscroll({
            loadingHtml: '<div align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
            nextSelector: 'a.jscroll-next:last',
            contentSelector: '.userList'
        });
    });
</script>
<div id="content-wrapper" class="clearfix">
    <!-- Connected user detail popup Start here -->
    <div class="grobalPopup popuBxWrap" id="viewHistoryDetails">
        <div id="viewHistoryDetailsTy"></div>
    </div>
    <!-- Connected user detail popup End here -->
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title" style="position:relative">| People <div class=""></div></div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-people" class="item selected">Connected</a>
                <a href="<?php echo $this->basePath(); ?>/individual-people-requests" class="item">Requests</a>
                <a href="<?php echo $this->basePath(); ?>/individual-people-suggested" class="item">Suggested</a>
                <a href="<?php echo $this->basePath(); ?>/individual-people-advacedsearch" class="item">Advanced Search</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <div class="boxWrap advancedPeopleSearch clearfix">
            <?php echo $this->partial('filter/advance_search'); ?> <!-- append filter page-->
        </div>
        <?php
        echo $this->partial('individual/templates/people_list/people_list');
        ?>
    </div>
    <div class="grobalPopup popuBxWrap" id="userSrchData">
        <div class="gppBox">
            <div class="gppbxContainer">
                <div class="gppTitle">Send an Email
                    <div class="gppClose" onclick="gppClose('userSrchData');">X</div>
                </div>
                <div class="formWrapperContainer">
                    <form method="post" action="" name="send_an_email" id="send_an_email">
                        <div id="remotemsg" style="margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="input">
                                <input type="hidden" id="EmailToSend" value="">
                                <input type="text" name="subject" placeholder="Subject" id="subject">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input">
                                <textarea placeholder="Type your message here" name="body" id="body"></textarea>
                            </div>
                        </div>

                        <div class="row last">
                            <div class="input_button">
                                <input type="submit" class="submit_button" value="Send">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="gppOverlay"></div>
    </div>
    <style>
        .cb_Grid .row .col .txt, .cb_Grid .row .col .txt1,.cb_Grid{
            text-align:left;
            border:0;
            display:table;
            width:100%;
        }
    </style>
    <script>
        $(function() {
            $("#send_an_email").validate({
                rules: {
                    subject: {
                        required: true
                    },
                    body: {
                        required: true,
                    }
                },
                messages: {
                    subject: {
                        required: "Please enter subject."
                    },
                    body: {
                        required: "Please enter message body.",
                    }
                },
                submitHandler: function(form) {
                    var subject = $("#subject").val();
                    var body = $("#body").val();
                    var email = $("#EmailToSend").val();
                    $(".global_loader").show();
                    $.ajax({
                        type: "POST",
                        url: "/individual/ajax/sendanemail",
                        data: {subject: subject, body: body, email: email}
                    }).done(function(resp) {
                        if (resp == 1) {
                            $('#remotemsg').html("<font color='green'>Message has been sent successfully.</font>");
                            $(".global_loader").hide('fast');
                            setTimeout(function() {
                                window.location.href = "/individual-people";
                            }, 2000);
                        } else {
                            $('#remotemsg').html("<font color='red'>Something happening wrong.</font>");
                            $('#remotemsg').fadeIn('fast').delay(2000).fadeOut('slow');
                            $(".global_loader").hide('fast');
                            return false;
                        }
                    });
                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.parents("div.row"));
                }
            });
        });
        function writeEmail(email) {
            $('#EmailToSend').val(email);
        }
        function setConnectedUserID(careGiverID) {
            $('#ConnectedUserID').val(careGiverID);
        }
        function getAddedBeconDetails(ConnectedUserID) {
            $(".global_loader").show();
            $.ajax({
                type: "POST",
                url: "/individual/ajax/viewconnectedpeople",
                data: {ConnectedUserID: ConnectedUserID}//$("#add_new_cons_form").serialize(), 
            }).done(function(response) {
                $("#viewHistoryDetailsTy").html(response);
                gppOpen('viewHistoryDetails');
                $('#viewHistoryDetails').find('.gppbxContainer').css({'marginTop': -($('#viewHistoryDetails').find('.gppbxContainer').height() / 2)});
                $(".global_loader").hide('fast');
            });

        }
        function gTabOpen(id) {
            if ($('#' + id).css('display') == 'block') {
                $('#' + id).slideDown('fast');
                $('#viewHistoryDetails').find('.gppbxContainer').css({'marginTop': -($('#viewHistoryDetails').find('.gppbxContainer').height() / 2)});
            } else {
                $('.formWrapperContainer .peopleDetailsList').slideUp('fast');
                $('#viewHistoryDetails').find('.gppbxContainer').css({'marginTop': -($('#viewHistoryDetails').find('.gppbxContainer').height() / 2)});
                $('#' + id).slideDown('fast');
                $('.pgh_menu_popup .item').removeClass('selected');
                $('.' + id).addClass('selected');
            }
        }

        $(function() {
            $('.Advanced_SearchButton').click(function() {
                $(this).closest('form').find("input[type=text]").val("");
                $("#advanced_search_form").get(0).reset();
                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideDown('fast');
                }
                else {
                    $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideUp('fast');
                }
            });
            $('.peopleDetailsList .symtoms_list li.syms_item .desc_heading').click(function() {
                var nextul = $(this).parents('li.syms_item').find('.desc_paragraph');
                $('li.syms_item').removeClass('active');
                $('.desc_paragraph').slideUp();
                $(this).addClass('active');
                if (nextul.css('display') == 'none') {
                    $('.desc_paragraph').slideUp();
                    nextul.slideDown();
                } else {
                    nextul.slideUp();
                    $('li.syms_item').removeClass('active');
                }
            });
            $('.peopleDetailsList .symtoms_list li.syms_item:first-child').addClass('active');
            $('.cb_Grid .row').each(function() {
                equalHeight($(this).find('span.txt'));
            });


        });
    </script>
</div>
<!--Container end here--> 
