<!-- Advanced Search box start here-->
<form  action="" method="post" name="advanced_search_form" id='advanced_search_form'>
    <div class="searchFormAdv clearfix">
        <div class="bw_colthird">
            <div class="bw_box">
                <div class="hww clearfix">
<!--                    <div class="hww_select clearfix">-->
                    <div class="clearfix">
                        <div class="hww_sbox">
                            <div class="radioWrapper">Name:</div>
                            <div class="input">
                                <input type="text" name="user_name" id="user_name" value="<?php
                                if (isset($postval['user_name'])) {
                                    echo $postval['user_name'];
                                }
                                ?>"/>
                            </div>
                        </div>
<!--                        <div class="hww_sbox">
                            <div class="radioWrapper">Condition:</div>
                            <div class="select">
                                <select class="select" title="Select Condition" name="selected_conditions" id="selected_conditions">
                                    <option value="">Select Condition</option>
                                    <?php foreach ($this->condition_option as $convalue) { ?>
                                        <option value="<?php echo $convalue['id'] ?>"<?php
                                        if (isset($postval['selected_conditions']) && ($postval['selected_conditions'] == $convalue['id'])) {
                                            echo "selected";
                                        }
                                        ?>><?php echo $convalue['common_name']; ?></option>
                                            <?php } ?>

                                </select>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="bw_colthird">
            <div class="bw_box">
                <div class="hww clearfix">
<!--   use this line when uncomment below               <div class="hww_select clearfix">-->
                    <div class="clearfix">
<!--                        <div class="hww_sbox">
                            <div class="radioWrapper">Sub Condition:</div>
                            <div class="select" id="subcondtionDiv">
                                <select class="select" title="Select Sub Condition" name="select_subcondition" id="select_subcondition">
                                    <option value="">Select Sub Condition</option>

                                </select>
                            </div>
                        </div>-->
                        <div class="hww_sbox">
                            <div class="radioWrapper">Location:</div>
                            <div class="select">
                                <select title="Location" class="select" name="location" id="location">
                                    <option value="">Location</option>
                                    <?php
                                    foreach ($this->country as $val):
                                        ?>
                                        <option value="<?php echo $val['country_id']; ?>" <?php
                                        if (isset($postval['location']) && ($postval['location'] == $val['country_id'])) {
                                            echo "selected";
                                        }
                                        ?>><?php echo $val['country_name']; ?></option>
                                            <?php endforeach; ?>                             
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bw_colthird lastBox">
            <div class="bw_box">
                <div class="hww clearfix">
                    <div class="hww_select clearfix">
                        <div class="radioWrapper">Age Range:</div>
                        <div class="hww_sbox">
                            <div class="select">
                                <select title="From" class="select" name="ageFrom" id="ageFrom">
                                    <option value="">From</option>
                                    <?php for ($i = 1; $i <= 150; $i++) {
                                        ?>
                                        <option value="<?php echo $i ?>" <?php
                                        if (isset($postval['ageFrom']) && ($postval['ageFrom'] == $i)) {
                                            echo "selected";
                                        }
                                        ?>><?php echo $i ?></option>
                                                <?php
                                                $i = $i + 9;
                                            }
                                            ?>
                                </select>
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <div class="select">
                                <select title="To" class="select" name="ageTo" id="ageTo">
                                    <option value="">To</option>
                                    <?php for ($j = 10; $j <= 150; $j++) { ?>
                                        <option value="<?php echo $j ?>" <?php
                                        if (isset($postval['ageTo']) && ($postval['ageTo'] == $j)) {
                                            echo "selected";
                                        }
                                        ?>><?php echo $j ?></option>
                                                <?php
                                                $j = $j + 9;
                                            }
                                            ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="boxBtn"><input type="submit" name="submit" value="Go" class="bb_btn" style="min-width:inherit"></span>
        
    </div><div id='required'></div>
</form>
<!-- Advanced Search box start here-->
<script type="text/javascript">
    $('.bb_btn').click(function() {
        var user_name = $('#user_name').val();
        var selected_conditions = $('#selected_conditions').val();
        var location = $('#location').val();
        var ageFrom = $('#ageFrom').val();
        var ageTo = $('#ageTo').val();
        if (user_name.length == 0 && selected_conditions == '' && location == '' && (ageFrom == '' || ageTo == '')) {
            $('#required').html('<font color="red">Please select search element.</font>');
            return false;
        }
    });
    $(document).ready(function() {
        $("#selected_conditions").change(function() {
            $(".global_loader").show();
            var conditionID = $("#selected_conditions").val();
            if (conditionID) {
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/getsubconditionslist",
                    data: {conditionID: conditionID}
                }).done(function(res) {
                    $(".global_loader").hide('fast');
                    $("#subcondtionDiv").html(res);
                    custom_selectboxNew();
                });
            } else {
                $(".global_loader").hide('fast');
                alert('Please select condition first.');
            }
        });
        $('#ageFrom').on('change', function() {
            var ageFrom = $(this).val();
            $('#ageTo option').each(function() {
                if ((parseInt(ageFrom) >= parseInt($(this).val())) || $(this).val() == '') {
                    $(this).attr('disabled', 'disabled');
                } else {
                    $(this).prop('disabled', false);
                    $(this).parent().val($(this).val());
                    $(this).parent().parent().find('span.select').remove();
                    $(this).parent().parent().find('select.select').each(function() {
                        if ($(this).next('span.select').length == '0') {
                            var title = $(this).attr('title');
                            if ($('option:selected', this).val() != '')
                                title = $('option:selected', this).text();
                            $(this)
                                    .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                                    .after('<span class="select">' + title + '</span>')
                                    .change(function() {
                                        val = $('option:selected', this).text();
                                        $(this).next().text(val);
                                    });
                        }
                    });
                    return false;
                }
            });

        });
    });
</script>
