<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
//$obj = $this->plugin;
//echo $obj->GetAge('10/10/2010');die;
?>

<div id="content-wrapper" class="clearfix">
    <!-- Start here -->
    <div class="grobalPopup popuBxWrap" id="viewHistoryDetails" style="display:none">
        <div class="gppBox">
            <div class="gppbxContainer">
                <div class="gppTitle">Details
                    <div class="gppClose" onclick="gppClose('viewHistoryDetails');">X</div>
                </div>
                <div class="formWrapperContainer">
                    <div class="pgh_menu">
                        <a href="individual-location_geofence_accepted.html" class="item selected">Conditions</a>
                        <a href="individual-location_geofence_new_request.html" class="item">Connected</a>
                        <a href="individual-location_geofence_new_request.html" class="item">Requests</a>
                        
                    </div>                    
                    <div class="graphBox history_symtom">
                        <ol class="symtoms_list">
                            <li class="syms_item active">
                                <span class="desc_heading">Asthama</span>
                                <p class="desc_paragraph" style="display: block;">
                                <h3 class="desc_paragraph">Symptom :</h3>
                                <p class="desc_paragraph">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>                                        
                                </p>
                            </li>
                            <li class="syms_item">
                                <span class="desc_heading">Diabetes</span>
                                <p class="desc_paragraph">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                            </li>
                            <li class="syms_item">
                                <span class="desc_heading">Joint Pain</span>
                                <p class="desc_paragraph">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                            </li>
                            <li class="syms_item">
                                <span class="desc_heading">Blood pressure</span>
                                <p class="desc_paragraph">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                            </li>
                        </ol>
                    </div>
                    <div class="double clearfix">
                        <div class="row">
                            <div class="input_button">
                                <input type="button" onclick="gppClose('viewHistoryDetails');" class="submit_button cancel_button" value="Close">
                            </div>
                        </div>
                        <div class="row last">
                            <div class="input_button">
                                <input type="button" class="submit_button" value="Edit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gppOverlay"></div>
    </div>
    <!-- End here -->
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title" style="position:relative">| People <div class=""></div></div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-people" class="item">Connected</a>
                <a href="<?php echo $this->basePath(); ?>/individual-people-requests" class="item selected">Requests</a>
                <a href="<?php echo $this->basePath(); ?>/individual-people-suggested" class="item">Suggested</a>
                <a href="<?php echo $this->basePath(); ?>/individual-people-advacedsearch" class="item">Advanced Search</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <div class="boxWrap advancedPeopleSearch clearfix">
            <!-- Advanced Search box start here-->
            <?php //echo $this->partial('filter/advance_search'); ?> <!-- append filter page-->
            <!-- Advanced Search box start here-->
        </div>
        <div id="msg_div" style="padding-bottom:5px;"></div>
        <div class="table table_box_shadow cb_Grid geofence_grid peopleTable">
            <div id="divDisconnect"></div>
            <?php if (!count($this->userRequests)) { ?><div class="errorMsg">
                    <span class="ui_icon error"></span>No Data found </div> <?php
            } else {
                foreach ($this->userRequests as $key => $value) {
                    ?>
                    <div class="row clearfix" id="<?= $value['hash'] ?>">
                        <div class="col wd65">
                            <span class="txt clearfix" style="cursor:pointer;">
                                <div class="user_img">
                                    <?php
                                    if (!empty($value['Image'])) {
                                        $imgurl = $this->Resize($this->serverUrl() . "/upload_image/" . $value['UserID'] . "/", $value['Image'], 100, 80);
                                    } else {
                                        $imgurl = "/img/profile_image_avtar.png";
                                    }
                                    ?>                          
                                    <img src="<?= $imgurl; ?>" alt="Profile image" class="uploadProfilePic_img" />

                                </div>
                                <h3><?= $value['FirstName'] . " " . $value['LastName'] ?></h3>
                                <p><?php
                                    $age = $this->plugin->GetAge($value['Dob']);
                                    if ($age != "0") {
                                        echo $age . " Yrs";
                                    } " from " . $value['state_name'] . ", " . $value['country_name']
                                    ?></p>
                            </span>
                        </div>

                        <?php if ($value['parent_id'] == 0) { ?>
                            <div class="col wd35">
                                <span class="txt clearfix">
                                    <a href="#" class="global_actionButton follow" onclick="return disconnectPeople('<?= $value['hash'] ?>')" >Delete</a>
                                    <a href="javascript:void(0);" class="global_actionButton follow" onclick="sendFollowerRequest('<?= $value['follower_id'] ?>', '<?= $value['Email'] ?>', '<?= $value['FirstName'] ?>')">+Resend</a>
                                </span>
                            </div>

                        <?php } else { ?>
                            <div class="col wd35">
                                <span class="txt clearfix">
                                    <a href="javascript:void(0);" class="global_actionButton unfollow" onclick="respondfollowRequest('<?= $value['follower_id'] ?>', '<?= $value['hash'] ?>', 'reject', '<?= $value['Email'] ?>', '<?= $value['FirstName'] ?>')">Reject</a>
                                    <a href="javascript:void(0);" class="global_actionButton following" onclick="respondfollowRequest('<?= $value['follower_id'] ?>', '<?= $value['hash'] ?>', 'accept', '<?= $value['Email'] ?>', '<?= $value['FirstName'] ?>')">Accept</a>
                                </span>
                            </div>
                        <?php } ?>

                    </div>  
                    <?php
                }
            }
            ?>			
        </div>    
    </div>
    <script>
        function disconnectPeople(hash) {
            if (confirm("Do you want to delete this request?")) {
                $(".global_loader").show();
                $.ajax({
                    type: "POST",
                    url: "/individual/people/disconnect",
                    data: {hash: hash},
                    success: function(res) {
                        if (res == 1) {
                            $(".global_loader").hide('fast');
                            $("#" + hash).hide();
                            $('#divDisconnect').html("<font color='green'>Request deleted successfully.</font>");
                            setTimeout(function() {
                                window.location.href = "/individual-people-requests";
                            }, 2500);
                        } else {

                        }
                    }

                });
            } else {
                return false;
            }

        }
    </script>
    <style>
        .cb_Grid .row .col .txt, .cb_Grid .row .col .txt1,.cb_Grid{
            text-align:left;
            border:0;
            display:table;
            width:100%;
        }
    </style>
    <script>
        
        function respondfollowRequest(followID, hash, response, email, firstname) {
            var confirmMsg = "Are you sure,you want to " + response + " this request?";
            if (confirm(confirmMsg))
            {
                $(".global_loader").show();
                this.click;
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/followeraccept",
                    data: {hash: hash, response: response, followerEmail: email, FirstName: firstname, followerID: followID}
                }).done(function(res) {
                    $(".global_loader").hide('fast');
                    $('#msg_div').html("<font color='green'>Request " + response + " successfully.</font>");
                    setTimeout(function() {
                        location.reload();
                    }, 2500)
                });
            }
            else
            {
                return false;
            }
        }

        function sendFollowerRequest(id, email, firstname) {
            if (confirm("Are you sure you want to connect with this member?"))
            {
                $(".global_loader").show();
                this.click;
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/sendfollowRequest",
                    data: {followerID: id, followerEmail: email, FirstName: firstname}
                }).done(function(res) {
                    if (res == 1) {
                        $(".global_loader").hide('fast');
                        location.reload();
                    } else {
                        $(".global_loader").hide('fast');
                        $('#msg_div').html('<font color="red">Follow request already accepted.</font>');
                        $('#msg_div').fadeIn('fast').delay(4000).fadeOut('slow');
                        $(window).scrollTop(0);
                        setTimeout(function() {
                            location.reload();
                        }, 2500);

                    }
                });
            }
            else
            {
                return false;
            }
        }
        $(function() {
            $('.Advanced_SearchButton').click(function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideDown('fast');
                }
                else {
                    $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideUp('fast');
                }
            });

            $('.cb_Grid .row').each(function() {
                equalHeight($(this).find('span.txt'));
            });
        });
    </script>
</div>
<!--Container end here--> 
