<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$followerOBJ = $this->FollowerUserObj;
?>

<div id="content-wrapper" class="clearfix">

    <div class="pghFixed pghFixedIndv">
        <?php
        $display = 'none';
        $active = '';
        if ($postval) {
            $display = 'block';
            $active = 'active';
        }
        ?>
        <div class="pgh_title" style="position:relative">| People <div class=""></div></div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-people" class="item">Connected</a>
                <a href="<?php echo $this->basePath(); ?>/individual-people-requests" class="item">Requests</a>
                <a href="<?php echo $this->basePath(); ?>/individual-people-suggested" class="item selected">Suggested</a>
                <a href="<?php echo $this->basePath(); ?>/individual-people-advacedsearch" class="item">Advanced Search</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <div id="AlrdysntReq" style="margin-bottom:5px;"></div>
        <div class="table table_box_shadow cb_Grid geofence_grid peopleTable">

            <?php if (!count($this->similar_condtion_users)) { ?><div class="errorMsg">
                    <span class="ui_icon error"></span>No Data found </div> <?php
            } else {
                foreach ($this->similar_condtion_users as $key => $value) {
                    ?>

                    <div class="row clearfix">

                        <div class="col wd70">
                            <span class="txt clearfix" style="cursor:pointer;">
                                <div class="user_img">
                                    <?php
                                    if (!empty($value['Image'])) {
                                        //   echo 'image '.$value['Image'];
                                        $imgurl = $this->Resize($this->serverUrl() . "/upload_image/" . $value['user_id'] . "/", $value['Image'], 100, 80);
                                    } else {
                                        $imgurl = "/img/profile_image_avtar.png";
                                    }
//                                    echo "image ".$this->serverUrl() . "/upload_image/" . $value['user_id'] . "/", $value['Image'];
//                                    echo "<br> url ".$imgurl;
                                    ?>                          
                                    <img src="<?= $imgurl; ?>" alt="Profile image" class="uploadProfilePic_img" />

                                </div>
                                <h3><?php
                                    $age = $this->plugin->GetAge($value['Dob']);
                                    if ($age != "0") {
                                        echo $age . " Yrs," . $value['FirstName'] . " " . $value['LastName'] . " from " . $value['state_name'] . ", " . $value['country_name'];
                                    } else {
                                        echo $value['FirstName'] . " " . $value['LastName'] . " from " . $value['state_name'] . ", " . $value['country_name'];
                                    }
                                    ?></h3>
                                                        <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>-->
                            </span>
                        </div>
                        <div class="col wd30">
                            <?php
                            $where = array('user_id' => $this->UserID, 'follower_id' => $value['user_id'], 'status' => 0);
                            $checkGotSentReqeust = $followerOBJ->getUserFollower($where);
                            if (count($checkGotSentReqeust)) {
                                if ($checkGotSentReqeust[0]['parent_id'] == 0) {
                                    ?>	
                                    <span class="txt clearfix">
                                        <div class="actionButtonWrapper">
                                            <a href="javascript:void(0);" class="global_actionButton follow" onclick="sendFollowerRequest('<?= $value['user_id'] ?>', '<?= $value['Email'] ?>', '<?= $value['FirstName'] ?>')">+Resend</a>
                                        </div>
                                    </span>
                                <?php } else { ?>
                                    <span class="txt clearfix">
                                        <a href="javascript:void(0);" class="global_actionButton unfollow" onclick="respondfollowRequest('<?= $checkGotSentReqeust[0]['follower_id'] ?>', '<?= $checkGotSentReqeust[0]['hash'] ?>', 'reject')">Reject</a>
                                        <a href="javascript:void(0);" class="global_actionButton following" onclick="respondfollowRequest('<?= $checkGotSentReqeust[0]['follower_id'] ?>', '<?= $checkGotSentReqeust[0]['hash'] ?>', 'accept')">Accept</a>
                                    </span>
                                    <?php
                                }
                            } else {
                                ?>
                                <span class="txt clearfix">
                                    <div class="actionButtonWrapper">
                                        <a href="javascript:void(0);" class="global_actionButton follow" onclick="sendFollowerRequest('<?= $value['user_id'] ?>', '<?= $value['Email'] ?>', '<?= $value['FirstName'] ?>')"><?php /* (($value['status']) ? 'Resend' : '+Follow') */ ?>+Connect</a>
                                    </div>
                                </span>
                            <?php } ?>
                        </div>
                    </div>            
                    <?php
                }
            }
            ?>          
        </div>    
    </div>
    <style>
        .cb_Grid .row .col .txt, .cb_Grid .row .col .txt1,.cb_Grid{
            text-align:left;
            border:0;
            display:table;
            width:100%;
        }
    </style>
    <script>
        $(function() {
            $('.Advanced_SearchButton').click(function() {
                $('#advanced_search_form').find('input:text, input:password, select, textarea').val('');
                //  $('#advanced_search_form').find('input:radio, input:checkbox').prop('checked', false);

                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideDown('fast');
                    $('html,body').animate({scrollTop: 0});
                }
                else {
                    $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideUp('fast');
                }
            });
            $('.cb_Grid .row').each(function() {
                equalHeight($(this).find('span.txt'));
            });
        });
        function respondfollowRequest(followID, hash, response) {
            var confirmMsg = "Are you sure,you want to " + response + " this request?";
            if (confirm(confirmMsg))
            {
                $(".global_loader").show();
                this.click;
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/followeraccept",
                    data: {hash: hash, response: response, followerID: followID}
                }).done(function(res) {
                    $(".global_loader").hide('fast');
                    $('#msg_div').html("<font color='green'>Request " + response + " successfully.</font>");
                    setTimeout(function() {
                        location.reload();
                    }, 2500)

                });
            }
            else
            {
                return false;
            }
        }
        function sendFollowerRequest(id, email, firstname) {
            if (confirm("Are you sure you want to connect with this member?"))
            {
                $(".global_loader").show();
                this.click;
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/sendfollowRequest",
                    data: {followerID: id, followerEmail: email, FirstName: firstname}
                }).done(function(res) {
                    if (res == 1) {
                        $(".global_loader").hide('fast');
                        location.reload();
                    } else {
                        $(".global_loader").hide('fast');
                        $('#AlrdysntReq').html('<font color="red">Follow request already accepted.</font>');
                        $('#AlrdysntReq').fadeIn('fast').delay(4000).fadeOut('slow');
                        $(window).scrollTop(0);
                        setTimeout(function() {
                            location.reload();
                        }, 2500);
                    }

                });
            }
            else
            {
                return false;
            }
        }
    </script>
</div>
<!--Container end here--> 
<script>
    $(document).ready(function(e) {
        $('.cb_Grid .row').each(function() {
            equalHeight($(this).find('span.txt'));
        });
    });
</script>
<!--Container end here--> 
