<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE LAYOUT FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 10/12/2014.
 * UPDATED:  10/12/2014
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('frontend');
if (!$this->_sessionObj->islogin) {
    //return $this->redirect()->toUrl('/individual/index/login');
}
?>

<?php echo $this->doctype(); ?>
<noscript>
<style>

    tr td p{ position:fixed;top:30%;left:20%;width:60%;font-size:18px;font-weight:bold;}
    .left_menu_section {display: none; visibility: hidden;}
    #ui-content-wrapper{display: none;visibility: hidden;}
    #content-wrapper{display: none;visibility: hidden;}
</style>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="3" align="left" valign="top"> <p style="color:#000">This page uses Javascript. Your browser either does not support Javascript or you have it turned off.To see this page as it is meant to appear please use
                a Javascript enabled browser.<p></td>
    </tr>

</table>

</noscript>
<html lang="en">

    <?php //echo $this->headTitle($this->translate('Health-ePeople'))->setSeparator(' - ')->setAutoEscape(false); ?>
    <meta charset="utf-8">
    <?php
    echo $this->headMeta()
            ->appendName('viewport', 'width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
    ?>

    <!-- styles -->
    <?php
    echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
            ->prependStylesheet($this->basePath() . '/css/individual_layout.css');
    ?>
    <!-- Scripts -->
    <?php
    echo $this->headScript()
            ->appendFile($this->basePath() . '/js/jquery-1.10.1.min.js')
            ->appendFile($this->basePath() . '/js/jquery-ui.js')
            ->appendFile($this->basePath() . '/js/jquery.validate.js')
            ->appendFile($this->basePath() . '/js/jquery.jscroll.min.js')
            ->appendFile($this->basePath() . '/js/jquery-ui-timepicker-addon.js')
            ->appendFile($this->basePath() . '/owl-carousel/owl.carousel.js')
            ->appendFile($this->basePath() . '/js/functions.js')
            ->appendFile($this->basePath() . '/js/individualfunction.js')
            ->appendFile($this->basePath() . '/js/ajaxuploader.js')
//            ->appendFile($this->basePath() . '/js/jscolor.js')
            ->appendFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->appendFile($this->basePath() . '/js/placeholder.js', 'text/javascript', array('conditional' => 'lt IE 9',));
    ?>
    <!-- HEADER INCLUDE HERE-->

    <body>
        <?php
        $basename = basename($_SERVER["REQUEST_URI"]);
        $accActivate = substr($basename, 0, 14);
        ?>
        <?php echo $this->partial('header/header'); ?>
        <?php if ($this->_sessionObj->isWeblogin == 1 && $basename !== "congrates" && $basename != 'basicinfo' && $basename != 'contactinfo' && $basename != 'profileinfo' && $basename != 'tempass' && $accActivate != 'activateacount' && $basename != 'individual-thankyou'): ?>
            <?php echo $this->partial('left-menu/left-menu'); ?>
        <?php endif; ?>
        <!-- MAIN BODY INCLUDE HERE-->
        <?php echo $this->content; ?>
        <!-- HEADER INCLUDE HERE-->
        <?php echo $this->partial('footer/footer'); ?>
        <?php echo $this->inlineScript(); ?>
<?php echo $this->inlineScript(); ?>
    </body>
</html>