<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE Individual SETTINGS.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 08/04/2015.
 * UPDATED: 08/04/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
$UserID = (isset($this->userDetails[0]['UserID'])? $this->userDetails[0]['UserID'] : "");
$fName = (isset($this->userDetails[0]['FirstName'])? $this->userDetails[0]['FirstName'] : "");
$lName = (isset($this->userDetails[0]['LastName'])? $this->userDetails[0]['LastName'] : "");
$Gender = (isset($this->userDetails[0]['Gender'])? strtoupper($this->userDetails[0]['Gender']) : "");
$dob = (isset($this->userDetails[0]['Dob'])? $this->userDetails[0]['Dob'] : "");
$StateName = (isset($this->userDetails[0]['state_name'])? $this->userDetails[0]['state_name'] : "");
$CounName = (isset($this->userDetails[0]['country_name'])? $this->userDetails[0]['country_name'] : "");
$img = (isset($this->userDetails[0]['Image'])? $this->userDetails[0]['Image'] : "");
if($Gender=='M')
    $Gender="Male";
else 
    $Gender="Female";
?>

<div id="content-wrapper" class="clearfix">
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Profile details</div>
         <div class="caregiverUserDetails table_box_shadow" style="min-height: 74px;">
            <div class="row clearfix">
                <div class="user_img">
                    <?php
                    $imgUrl = (empty($img)? "/img/profile_image_avtar.png" :  $this->Resize($this->serverUrl() . "/upload_image/" . $UserID."/", $img,100,80) );
                    
                    ?>
                    <img src="<?php echo $imgUrl;?>" alt="" style="max-width: 100%">
                </div>
                <h3 class="name"><?php echo $fName." ". $lName; ?></h3>
                <p class="address"><?php echo (($dob!= '000-00-00' || $dob=='')? $CusConPlug->GetAge($dob)." yrs," : ""); ?> <?php echo $Gender." , ". $StateName." ", $CounName; ?></p>
                <p class="description"><?=$this->userDetails[0]['short_description']?></p>
            </div>
        </div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="/cg-user-profile/<?= $user_id ?>" class="item ">Basic</a>
                <a href="/cg-usercontact-profile/<?= $user_id ?>" class="item selected">Contact</a>
                <a href="/cg-userprofile/<?= $user_id ?>" class="item">Profile</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="boxWrap clearfix" style="padding:20px;">

            <div class="basic_profile_form basic_profile_from_value" style="display:block">
                <div class="formContainer formWrapperContainer" style="margin-left:0">
                    <h2 class="page_heading page_heading_basic"></h2>
                    <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">Street Address 1 :</span> 
                            <span class="formF_value"><?php echo (isset($this->contactDetails[0]['street_address1']) ? $this->contactDetails[0]['street_address1'] : '' ); ?></span>                                   
                        </div>
                        <div class="row clearfix last">
                            <span class="formF_lable">Street Address 2 :</span> 
                            <span class="formF_value">
                                <?php echo (isset($this->contactDetails[0]['street_address2']) ? $this->contactDetails[0]['street_address2'] : '' ); ?>                               
                            </span>                                   
                        </div>
                    </div>
                    <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">City :</span> 
                            <span class="formF_value">
                                <?php echo (isset($this->contactDetails[0]['city']) ? $this->contactDetails[0]['city'] : '' ); ?>                               
                            </span>                                   
                        </div>
                        <div class="row clearfix last">
                            <span class="formF_lable">State :</span> 
                            <span class="formF_value">
                                <?php echo $this->user_state ?>
                            </span>                                   
                        </div>
                    </div>
                    <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">Country :</span> 
                            <span class="formF_value"><?php echo $this->user_country ?></span>                                   
                        </div>
                        <div class="row last clearfix">
                            <span class="formF_lable">County. :</span> 
                            <span class="formF_value"><?php echo $this->user_county ?></span>                                   
                        </div>
                    </div>                  
                    <div class="double clearfix">
                        <div class="row  clearfix">
                            <span class="formF_lable">Phone No. :</span> 
                            <span class="formF_value">
                                <?php echo (isset($this->contactDetails[0]['phone_no']) ? $this->contactDetails[0]['phone_no'] : '' ); ?>
                            </span>                                   
                        </div>
                        <div class="row last clearfix">
                            <div class="formF_lable">Postal Code :</div> 
                            <div class="formF_value">
                                <?php echo (isset($this->contactDetails[0]['postal_code']) ? $this->contactDetails[0]['postal_code'] : '' ); ?>

                            </div>                                   
                        </div>
                    </div>
                </div>
            </div>
            <div class="basic_profile_form basic_profile_from_field" >
                <div class="formContainer formWrapperContainer" style="margin-left:0">
                    <form name="my_profile_contact_form" id="my_profile_contact_form" action="" method="post">
                        <input type="hidden" name="contact_info_id" value="<?php echo (isset($this->contactDetails[0]['contact_info_id']) ? $this->contactDetails[0]['contact_info_id'] : ''); ?>" />

                        <div class="row">
                            <div class="input">
                                <input type="text" placeholder="Enter Your Street Address 1" name="address1" id="address1" value="<?php echo (isset($this->contactDetails[0]['street_address1']) ? $this->contactDetails[0]['street_address1'] : '' ); ?>" autocomplete="off" class="nospecial_char"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input">
                                <input type="text" placeholder="Enter Your Street Address 2" name="address2" id="address2" value="<?php echo (isset($this->contactDetails[0]['street_address2']) ? $this->contactDetails[0]['street_address2'] : '' ); ?>" autocomplete="off" class="nospecial_char"/>
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div class="select">
                                    <select title="Your Country *" class="select" name="country" id="country" onchange="return getState(this.value)">
                                        <option value="">Your Country</option>
                                        <?php
                                        $countryArr = $this->country;
                                        foreach ($countryArr as $val):
                                            ?>
                                            <option value="<?php echo $val['country_id']; ?>" <?php echo (isset($this->contactDetails[0]['country_id']) ? (($this->contactDetails[0]['country_id'] == $val['country_id']) ? 'selected' : '') : ''); ?>><?php echo $val['country_name']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="row last">
                                <div class="select" id="ajaxstate">
                                    <select title="Your State" class="select" name="state" id="state" onchange="return getCounty(this.value)">
                                        <?php if (count($this->states) > 0) { ?>
                                            <option value="">Your State</option>
                                            <?php foreach ($this->states as $vals) { ?>
                                                <option value="<?php echo $vals['state_id']; ?>" <?php echo (isset($this->contactDetails[0]['state_id']) ? (($this->contactDetails[0]['state_id'] == $vals['state_id']) ? 'selected' : '') : ''); ?>><?php echo $vals['state_name']; ?></option>
                                            <?php } ?>
                                        <?php } else { ?>
                                            <option value="">No State</option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div id="ajaxcounty">
                                    <div class="select">
                                        <select title="Your County" class="select" name="county" id="county">
                                            <?php if (count($this->county) > 0) { ?>
                                                <option value="">Your County</option>
                                                <?php foreach ($this->county as $valc) { ?>
                                                    <option value="<?php echo $valc['county_id']; ?>" <?php echo (isset($this->contactDetails[0]['county_id']) ? (($this->contactDetails[0]['county_id'] == $valc['county_id']) ? 'selected' : '') : ''); ?>><?php echo $valc['county_name']; ?></option>
                                                <?php } ?>
                                            <?php } else { ?>
                                                <option>No County</option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row last">
                                <div class="input">
                                    <input type="text" placeholder="City *" name="city" id="city" value="<?php echo (isset($this->contactDetails[0]['city']) ? $this->contactDetails[0]['city'] : '' ); ?>" autocomplete="off" class="nospecial_char"/>
                                </div>
                            </div>
                        </div>

                        <div class="double clearfix">
                            <div class="row">
                                <div class="input">
                                    <input type="text"  class="number_validate" placeholder="Phone Number *" name="phone_number" id="phone_number" value="<?php echo (isset($this->contactDetails[0]['phone_no']) ? $this->contactDetails[0]['phone_no'] : '' ); ?>" maxlength="10" autocomplete="off" />
                                </div>
                            </div>

                            <div class="row last">
                                <div class="input">
                                    <input type="text" class="" placeholder="Postal Code *" name="postal_code" id="postal_code" value="<?php echo (isset($this->contactDetails[0]['postal_code']) ? $this->contactDetails[0]['postal_code'] : '' ); ?>" autocomplete="off" maxlength="6" />
                                </div>
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div class="input_button">
                                    <input type="submit" value="Update" class="submit_button" />
                                </div>
                            </div>
                            <div class="row last">
                                <div class="input_button">
                                    <input type="button" value="Cancel" class="submit_button cancel_button" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>  
            </div> 
        </div>
    </div>
    <style>
        .formWrapperContainer .row span.select{
            width:auto
        }
        input[type="text"]:disabled { background: #ccc; }
    </style>
    <script>
        $(function() {

            $("#my_profile_contact_form").validate({
                rules: {
                    address1: {
                        required: true,
                        maxlength: 100
                    },
                    address2: {
                        //required: false,
                        maxlength: 100
                    },
                    phone_number: {
                        required: true,
                        number: true,
                        minlength: 7,
                        maxlength: 10
                    },
                    postal_code: {
                        required: true,
                       // number: true,
                        minlength: 5,
                        maxlength: 6

                    },
                    county: {
                        required: true
                    },
                    city: {
                        required: true
                    },
                    state: {
                        required: true
                    },
                    country: {
                        required: true
                    }

                },
                messages: {
                    address1: {
                        required: "Please enter street address 1.",
                        maxlength: "Address must be  maximum 100 character"
                    },
                    address2: {
                        maxlength: "Address must be  maximum 100 character"
                    },
                    phone_number: {
                        required: "Please enter phone number.",
                        minlength: "Please enter valid phone number."
                    },
                    postal_code: {
                        required: "Please enter postal.",
                        minlength: "Please enter minimum 5 digit."
                    },
                    county: {
                        required: "Please select county.",
                    },
                    city: {
                        required: "Please enter city.",
                    },
                    state: {
                        required: "Please select state.",
                    },
                    country: {
                        required: "Please select country.",
                    }
                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.parents("div.row"));
                    //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
                }
            });
        });

        function getState(countryId) {
            $.ajax({
                type: "POST",
                url: "/individual/ajax/getstatesdata",
                data: {countryId: countryId}
            }).done(function(msg) {
                $('#ajaxstate').html(msg);
                custom_selectboxNew();
            });
        }

        function getCounty(stateId) {
            $.ajax({
                type: "POST",
                url: "/individual/ajax/getcounty",
                data: {stateId: stateId}
            }).done(function(msg) {
                $('#ajaxcounty').html(msg);
                custom_selectboxcounty();
            });
        }

    </script>
</div>
<!--Container end here--> 