<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE Individual SETTINGS.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 08/04/2015.
 * UPDATED: 08/04/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
$UserID = (isset($this->userDetails[0]['UserID'])? $this->userDetails[0]['UserID'] : "");
$fName = (isset($this->userDetails[0]['FirstName'])? $this->userDetails[0]['FirstName'] : "");
$lName = (isset($this->userDetails[0]['LastName'])? $this->userDetails[0]['LastName'] : "");
$Gender = (isset($this->userDetails[0]['Gender'])? strtoupper($this->userDetails[0]['Gender']) : "");
if($Gender=='M')
    $Gender="Male";
else 
    $Gender="Female";

$dob = (isset($this->userDetails[0]['Dob'])? $this->userDetails[0]['Dob'] : "");
$StateName = (isset($this->userDetails[0]['state_name'])? $this->userDetails[0]['state_name'] : "");
$CounName = (isset($this->userDetails[0]['country_name'])? $this->userDetails[0]['country_name'] : "");
$img = (isset($this->userDetails[0]['Image'])? $this->userDetails[0]['Image'] : "");
?>
<!-- Left menu Section end here -->

<div id="content-wrapper" class="clearfix">
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Profile details</div>
         <div class="caregiverUserDetails table_box_shadow" style="min-height: 74px;">
            <div class="row clearfix">
                <div class="user_img">
                    <?php
                    $imgUrl = (empty($img)? "/img/profile_image_avtar.png" :  $this->Resize($this->serverUrl() . "/upload_image/" . $UserID."/", $img,100,80) );
                    
                    ?>
                    <img src="<?php echo $imgUrl;?>" alt="" style="max-width: 100%">
                </div>
                <h3 class="name"><?php echo $fName." ". $lName; ?></h3>
                <p class="address"><?php echo (($dob!= '000-00-00' || $dob=='')? $CusConPlug->GetAge($dob)." yrs," : ""); ?> <?php echo $Gender." , ". $StateName." ", $CounName; ?></p>
                <p class="description"><?=$this->userDetails[0]['short_description']?></p>
            </div>
        </div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="/cg-user-profile/<?= $user_id ?>" class="item ">Basic</a>
                <a href="/cg-usercontact-profile/<?= $user_id ?>" class="item">Contact</a>
                <a href="/cg-userprofile/<?= $user_id ?>" class="item selected">Profile</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>

        <div class="boxWrap clearfix" style="padding:20px;">

            <div class="basic_profile_form basic_profile_from_value" style="display:block">
                <div class="formContainer formWrapperContainer" style="margin-left:0">
                    <div class="row clearfix">
                        <div class="upload_profile_image">
                            <?php
                            if (!empty($this->userImage)) {
                                $imgurl = $this->Resize($this->serverUrl() . "/upload_image/" . $this->userId . "/", $this->userImage, 100, 80);
                            } else {
                                $imgurl = "/img/profile_image_avtar.png";
                            }
                            ?>
                            <img src="<?php echo $imgurl; ?>" alt="Profile image" class="uploadProfilePic_img" />
                        </div>
                    </div>
                    <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">Highest Education :</span> 
                            <span class="formF_value"><?php echo $this->userEducation; ?></span>                                   
                        </div>

                        <div class="row clearfix last">
                            <span class="formF_lable">Ethnicity :</span> 
                            <span class="formF_value"><?php echo $this->userEthnicity; ?></span>                                   
                        </div>
                    </div>

                    <?php if ($this->isResearcher == 1) { ?>
                        <div class="double clearfix">
                            <div class="row clearfix">
                                <span class="formF_lable">Institute Name :</span> 
                                <span class="formF_value"><?php echo (isset($this->profileDetails[0]['institute_name']) ? $this->profileDetails[0]['institute_name'] : ''); ?></span>                                   
                            </div>
                            <div class="row clearfix last">
                                <span class="formF_lable">Department :</span> 
                                <span class="formF_value"><?php echo (isset($this->profileDetails[0]['department'])? : ''); ?></span>                                   
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row clearfix">
                                <span class="formF_lable">Department Phone :</span> 
                                <span class="formF_value"><?php echo (isset($this->profileDetails[0]['dept_phone1']) ? $this->profileDetails[0]['dept_phone1'] : ''); ?></span>                                   
                            </div>
                            <div class="row last clearfix">
                                <span class="formF_lable">Work Phone :</span> 
                                <span class="formF_value"><?php echo (isset($this->profileDetails[0]['work_phone']) ? $this->profileDetails[0]['work_phone'] : ''); ?></span>                                   
                            </div>
                        </div> 
                        <div class="row clearfix">
                            <div class="row clearfix">
                                <span class="formF_lable">Department Head:</span> 
                                <span class="formF_value"><?php echo (isset($this->profileDetails[0]['dept_head_name']) ? $this->profileDetails[0]['dept_head_name'] : ''); ?></span>                                   
                            </div>

                        </div>  
                    <?php } ?>

                    <?php if ($this->isCaregiver == 1) { ?>
                        <div class="row clearfix">
                            <div class="row clearfix">
                                <span class="formF_lable">Name of Practice</span> 
                                <span class="formF_value"><?php echo (isset($this->profileDetails[0]['practice_name']) ? $this->profileDetails[0]['practice_name'] : ''); ?></span>                                   
                            </div>

                        </div>                  
                    <?php } ?>

                    <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">Blood Type :</span> 
                            <span class="formF_value"><?php echo (isset($this->profileDetails[0]['blood_type']) ? $this->profileDetails[0]['blood_type'] : ''); ?></span>                                   
                        </div>
                        <div class="row clearfix last">
                            <span class="formF_lable">Language :</span> 
                            <span class="formF_value"><?php echo $this->userLanguage; ?></span>                                   
                        </div>
                    </div>
                </div>

            </div>


            <div class="basic_profile_form basic_profile_from_field" >
                <div class="formContainer formWrapperContainer" style="margin-left:0">
                    <form name="signup_profile" id="signup_profile" action="" method="post" enctype="multipart/form-data">
                        <div class="row clearfix">
                            <?php
                            if (!empty($this->userImage)) {
                                $imgurl = "/upload_image/" . $this->userId . "/" . $this->userImage;
                            } else {
                                $imgurl = "/img/profile_image_avtar.png";
                            }
                            ?>
                            <div class="upload_profile_image" onClick="javascript:document.getElementById('UploadProfilePic').click();">
                                <img src="<?php echo $this->serverUrl() . $imgurl; ?>" alt="Profile image" class="uploadProfilePic_img" title="click here to change image"/>
                                <input type="file" name="profile_pic" id="UploadProfilePic" onChange="readURL(this);" />
                            </div>
                            <div id="file_error"></div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div class="select">
                                    <select title="Highest Education *" class="select" name="education" id="education">
                                        <option value="">Highest Education *</option>
                                        <?php foreach ($this->education as $edu) : ?>
                                            <option value="<?php echo $edu['education_id']; ?>" <?php echo (isset($this->profileDetails[0]['education_degree']) ? (($this->profileDetails[0]['education_degree'] == $edu['education_id']) ? 'selected' : '') : '' ) ?>><?php echo $edu['highest_degree_name']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>

                            <div class="row last">
                                <div class="select">
                                    <select title="Ethnicity *" class="select" name="ethnicity" id="ethnicity">
                                        <option value="">Ethnicity *</option>
                                        <?php foreach ($this->ethnicity as $ethni) : ?>
                                            <option value="<?php echo $ethni['ethnicity_id']; ?>" <?php echo (isset($this->profileDetails[0]['ethnicity']) ? (($this->profileDetails[0]['ethnicity'] == $ethni['ethnicity_id']) ? 'selected' : '') : '') ?>><?php echo $ethni['ethnicity_name']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <?php if ($this->isResearcher == 1) { ?>

                            <div class="double clearfix">
                                <div class="row">
                                    <div class="input">
                                        <input type="text" placeholder="Institute name *" class='nospecial_char' id = "institute" value="<?php echo (isset($this->profileDetails[0]['institute_name']) ? $this->profileDetails[0]['institute_name'] : ''); ?>"  name="institute" autocomplete="off">
                                    </div>
                                </div>
                                <div class="row last">
                                    <div class="input">
                                        <input type="text" placeholder="Department name *" class='nospecial_char' value="<?php echo (isset($this->profileDetails[0]['department']) ? $this->profileDetails[0]['department'] : ''); ?>" id = "depratment" name="depratment" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="double clearfix">
                                <div class="row">
                                    <div class="input">
                                        <input type="text" class="number_validate" placeholder="Department Phone" id = "dept_phone" name="dept_phone" value="<?php echo (isset($this->profileDetails[0]['dept_phone1']) ? $this->profileDetails[0]['dept_phone1'] : ''); ?>" maxlength=12 autocomplete="off">
                                    </div>
                                </div>
                                <div class="row last">
                                    <div class="input">
                                        <input type="text" class="number_validate" placeholder="Work Phone *" id = "work_phone" name="work_phone" value="<?php echo (isset($this->profileDetails[0]['work_phone']) ? $this->profileDetails[0]['work_phone'] : ''); ?>" maxlength=12 autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input">
                                    <input type="text" placeholder="Department head name" class='nospecial_char' id = "dept_head_name" name="dept_head_name" value="<?php echo (isset($this->profileDetails[0]['dept_head_name']) ? $this->profileDetails[0]['dept_head_name'] : ''); ?>" autocomplete="off">
                                </div>
                            </div>
                        <?php } ?>
                        <?php if ($this->isCaregiver == 1) { ?>
                            <div class="row">
                                <div class="input">
                                    <input type="text" placeholder="Name of practice *" class='nospecial_char' id = "practice" name="practice" value="<?php echo (isset($this->profileDetails[0]['practice_name']) ? $this->profileDetails[0]['practice_name'] : ''); ?>" autocomplete="off">
                                </div>
                            </div>
                        <?php } ?>
                        <div class="double clearfix">

                            <div class="row">
                                <div class="input">
                                    <input type="text" class="number_validate" placeholder="Income in dollar" id ="income" name="income" maxlength="15" value="<?php echo (isset($this->profileDetails[0]['income']) ? $this->profileDetails[0]['income'] : ''); ?>" autocomplete="off">
                                </div>
                                <span id="err"></span>
                            </div>
                            <div class="row last">
                                <div class="select">
                                    <select title="Language" class="select" name="language" id="language">
                                        <option value="">Language</option>
                                        <?php foreach ($this->language as $langu) : ?>
                                            <option value="<?php echo $langu['laguage_id']; ?>" <?php echo (isset($this->profileDetails[0]['language']) ? (($this->profileDetails[0]['language'] == $langu['laguage_id']) ? 'selected' : '') : '') ?> ><?php echo $langu['language']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="double clearfix">
                                <div class="row">
                                    <div class="input_button">
                                        <input type="submit" value="Update" class="submit_button" />
                                    </div>
                                </div>
                                <div class="row last">
                                    <div class="input_button">
                                        <input type="button" value="Cancel" class="submit_button cancel_button" />
                                    </div>
                                </div>
                            </div>                    
                        </div> 
                    </form>
                </div>  
            </div>
        </div>
        <script>

        </script>
        <style>
            .formWrapperContainer .row span.select{
                width:auto
            }
        </style>

<!--   <script>
    $(document).ready(function (e) {
        $("#signup_profile").validate({
            rules: {
                education: {
                    required: true
                },
                ethnicity: {
                    required: true
                },
                work_phone: {
                    required: <?php
        if ($this->isResearcher == 1) {
            echo "true";
        } else {
            echo "false";
        }
        ?>
                },
                depratment: {
                    required: <?php
        if ($this->isResearcher == 1) {
            echo "true";
        } else {
            echo "false";
        }
        ?>
                },
                institute: {
                    required: <?php
        if ($this->isResearcher == 1) {
            echo "true";
        } else {
            echo "false";
        }
        ?>
                }
                ,
                practice: {
                    required: <?php
        if ($this->isCaregiver == 1) {
            echo "true";
        } else {
            echo "false";
        }
        ?>
                }
            },
            messages: {
                education: {
                    required: "Please select highest education."
                },
                ethnicity: {
                    required: "Please select ethnicity."
                },
                work_phone: {
                    required: "Please enter work phone."
                }
                ,
                depratment: {
                    required: "Please enter depratment."
                }
                ,
                practice: {
                    required: "Please enter practice."
                }
                ,
                institute: {
                    required: "Please enter institute."
                }
            },
            submitHandler: function (form) {
                var incomeVal = $('#income').val().trim();
                if (incomeVal !== '') {
                    if (incomeVal.charAt(0) == 0) {
                        $('#err').html("<font color='red'>Enter valid income.</font>");
                        $('#err').fadeIn('fast').delay(1000).fadeOut('slow');
                        return false;
                    }
                }
                document.getElementById("signup_profile").submit();
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
                //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
            }
        });
    });
   
</script>-->
    </div>
</div>
<!--Container end here--> 