<?php
/* * ***********************
 * PHTML: USE TO LIST THE SELF ASSESSMENT PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 26/02/2015.
 * UPDATED: 00/00/0000.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
?>


<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Self Assessment</div>
        <div class="formWrapperContainer filterBy">
    <form action="" name="filter_form" method="get" id="filter_form" >
        <div class="row">
            <div class="select">
                <select  name="cat"  class="select" id="filter_select" >
                    <option value="<?php echo base64_encode("0") ?>">All</option>
                    <?php foreach ($this->catData as $catvalue) { ?>
                           <option value="<?php echo base64_encode($catvalue['cat_id']) ?>" <?php echo (($this->filter_select ==$catvalue['cat_id'])? "selected" : "") ?>  ><?php echo $catvalue['cat_name'] ?></option>                   
  
             <?php        } ?>
                 </select>
            </div>
        </div>
    </form>
</div>
    </div>
    <div class="pageWrapper">
        <!--Self Assesment Feedback popup start here-->
        <div id="assesment_feedbackPopup" class="grobalPopup popuBxWrap">
            <div class="gppBox">
                <div class="gppbxContainer alertConfirmMessage">
                    <div class="gppTitle">Feedback
                        <div onclick="gppClose('assesment_feedbackPopup');" class="gppClose">X</div>
                    </div>
                    <div class="formWrapperContainer" style="padding:20px">
                        <div class="row gppTxt clearfix">
                            <h2 class="confirm_msg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo ut labore.</h2>
                        </div>
                        <div class="row">
                            <input type="submit" class="submit_button" value="Ok" onclick="gppClose('assesment_feedbackPopup');">
                        </div>
                    </div>
                </div>
            </div>
            <div class="gppOverlay"></div>
        </div>
        <!--Self Assesment popup end here-->
        <div class="table cb_Grid table_box_shadow">
            <?php if (count($this->assessmentData) > 0) { ?>
                <?php foreach ($this->assessmentData as $avalue) {
                    ?>
                    <div class="row clearfix">
                        <div class="col wd70">
                            <span class="txt">
                                <p class="heading"><?php echo $avalue['ass_name']; ?></p>                           
                                <p class="date"><span class="status pending">(<?php echo (($avalue['part_status'] == 0) ? "Completed" : "Pending") ?>)</span> | <span class="status"><?php echo (isset($avalue['cat_name']) ? $avalue['cat_name'] : "") ?></span> | <?php echo date("d M, Y", $avalue['publish_date']); ?></p>
                                 <p class="date"><?php echo (isset($avalue['copyright_text']) ? $avalue['copyright_text'] : "") ?></p>
                            </span>
                        </div>
                        <div class="actionButton clearfix">
                            <?php if ($avalue['part_status'] == 0) { ?>
                               <a href="./individual-assessment-score?id=<?php echo base64_encode($avalue['ass_id']); ?>" class="global_actionButton" >Feedback</a>           
                                <?php if ($avalue['ass_update'] == 1) { ?>
                                    <a href="./individual-assessment-update?id=<?php echo base64_encode($avalue['ass_id']); ?>" class="global_actionButton" >Update</a>           
                                <?php } ?>
                                <?php if ($avalue['ass_recurring'] == 1) { ?>
                                    <a href="./individual-assessment-recurring?id=<?php echo base64_encode($avalue['ass_id']); ?>" class="global_actionButton" >Recurring</a>
                                <?php } ?>

                            <?php } else { ?>                  
                                <a href="./individual-assessment-list?id=<?php echo base64_encode($avalue['ass_id']); ?>" class="global_actionButton" >Participate</a>
                            <?php } ?>
                        </div>

                    </div>
                <?php }
            }else{ ?>
<div class="row clearfix">
                        <div class="col wd70">
                            <span class="txt">
                                <p class="heading">Sorry no assessment found.</p>    
                            </span>
                        </div>
</div>
            <?php } ?>
        </div>    
    </div>
    <div class="pagination pagination-centered clearfix">
        <!------pagination start ------->
        <div class="stripSecond">
            <?php
            // add at the end of the file after the table
            if (count($this->assessmentData)) {
                echo $this->paginationControl($this->assessmentData, 'Jumping', array('paginator/paginators', 'AssesmentIS'), array('route' => 'indiv_assesment', 'routeParams' => $this->routeParams));
            } else {
                ?>
                <div id="news19" class="advertiserRow">
                    <div class="advertiserListRow bdr_rds2 no_record_found clearfix">

                    </div>
                </div>
                <?php
            }
            ?>
        </div>
        <!------pagination end ------->
    </div>
    <style>
        .cb_Grid .row .col .txt{
            text-align:left;
            padding:8px 15px;
            border-left:0;
        }
        .cb_Grid .row .col.wd70{
            width:auto;
            margin-right:200px;
            float:none !important
        }
        .cb_Grid .row .col .txt .heading{
            font-size:16px;
            padding-bottom:4px;
            color:#000000
        }
        .cb_Grid .row .global_actionButton{
            font-size:11px;
            margin: 0 5px 0 0;
            padding:2px;
            min-width: 55px;
        }
        .cb_Grid .row .actionButton{
            position: absolute;
            right: 0;
            top:50%;
            margin-top: -10px;
        }
        .cb_Grid .row .col .txt .date{
            color:#858585;
            font-family:robotolight;
        }
        .cb_Grid .row .col .txt .status{
            color:#597ddb;
            font-weight:bold;
        }    
        .cb_Grid .row .col .txt .pending{
            color:#f05543;
        }
        @media screen and (max-width:640px){
            .cb_Grid .row .actionButton{
                position: relative;
                right: inherit;
                left:0;
                margin: 0 0 10px 15px;
            }
            .global_actionButton{
                margin-bottom: 10px;
                float: left;
            }
            .cb_Grid .row .col.wd70{
                margin-right: 0;
            }
        }
    </style>
    <script>
        $(function () {
            $('.cb_Grid .row').each(function () {
                equalHeight($(this).find('span.txt'));
            });
        });
    </script>
</div>
<!--Container end here--> 
