 <?php
/* * ***********************
 * PHTML: USE TO LIST THE SELF ASSESSMENT PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 02/03/2015.
 * UPDATED: 00/00/0000.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
?>

<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Self Assessment Update 
            <a href="./individual-assessment-score?id=<?php echo base64_encode($this->assID); ?>" class="global_actionButton" style="padding:4px; margin:0; font-size:16px; ">Feedback</a>
        </div>
    </div>
    <div class="pageWrapper">
        <span id="responsemsg"></span>
        <!--Self Assesment popup end here-->
        <form action="" method="post" name="assForm" id="assForm" enctype="multipart/form-data">
            <div class="table cb_Grid table_box_shadow">
                <div class="row clearfix">
                    <p class="assesment_title"><?php echo $this->AssessmentName; ?> <span class="mandatory">All (<span style="color: #EE3923">*</span>) fields are mandatory</span></p>
                </div>
                <?php if(!empty($this->assesmentQuestDesc)){ ?>
            <div class="row clearfix">
                <h3 class="que_description"><?php echo $this->assesmentQuestDesc; ?></h3>
            </div>
            <?php } ?>
                <ul class="assesment_quiz clearfix">
                    <?php
                    if (count($this->assessmentData) > 0) {
                        $rule = "";
                        $msg = "";
                        $number = 1;
                        
                        foreach ($this->assessmentData as $value) {
                            ?>
                            <li class="queans clearfix">
                                <h3 class="que"><?php echo $number; ?>. <?php echo $value['ques_question']; ?><?php echo (($value['ques_mendatory'] == 1) ? "<span>*</span>" : "") ?></h3>
                                <input type="hidden" name="quest_id[]" value="<?php echo $value['ques_id']; ?>"/>
                                <div class="ans clearfix">
                                    <?php
                                    if (count($value['opt_option']) > 0) {

                                        for ($i = 0; $i < count($value['opt_option']); $i++) {
                                            $ques_id = $value['ques_id'];
                                            $opt_id = $value['opt_value'][$i];
                                          //  $value[ques_id]
                                            ?>
                                            <span class="radio_button" >
                                                <input type="radio" class="<?php echo (($value['ques_mendatory'] == 1) ? "required" : ""); ?> optioncom<?php echo $value['ques_id'] ?>" id="que<?php echo $value['ques_id'] ?>_opt<?php echo $i; ?>" name="opt_value[]<?php echo $value['ques_id'] ?>" value="<?php echo $value['opt_value'][$i]; ?>" <?php echo (($value['opt_answer'][0] == $value['opt_value'][$i]) ? "checked" : "") ?> func="updatedata('<?php echo base64_encode($this->assID) ?>', '<?php echo base64_encode($ques_id) ?>', '<?php echo base64_encode($opt_id) ?>', '<?php echo base64_encode($this->part_id) ?>')" />
                                                <label for="que<?php echo $value['ques_id'] ?>_opt<?php echo $i; ?>" ><span class="OptradioButton"></span><?php echo $value['opt_option'][$i] ?></label>
                                            </span>    
                                        <?php }
                                    }
                                    ?>

                                </div>

                            </li>
                            <?php
                            $number++;
                        }
                    }
                    ?>
                </ul>
            </div> 
            <div style="margin-left:20px" class="boxBtn clearfix">
                <input type="hidden" name="part_id" value="<?php echo base64_encode($this->part_id) ?>" />
            </div>  
        </form>
        <?php if(!empty($this->assesmentCopyRight)){ ?>
         <div class="row clearfix">
                <p class="copyrights_description"><?php echo $this->assesmentCopyRight; ?></p>
           </div>
        <?php } ?>
    </div>
</div>
<!--Container end here--> 

<script type="text/javascript">
  // $(document).ready(function(){
        $('input:radio').click(function(){
            var cnfrm = confirm('Are you want to update your answer ?');
            if(cnfrm)
           {
            var Current = $(this);
            execute = new Function(Current.attr('func')); // execute function
            execute.call(this);               
           }else{  
               return false; // if false it revert to previous checked                  
           }

           });
        
   // });
    $("#assForm").validate({
        errorPlacement: function (error, element) {
            error.appendTo(element.parents("li.queans"));
        }
    });
  
    function updatedata(assID, ques_id, opt_id, part_id) {      
            $.ajax({
                type: 'POST',
                url: "/individual/ajax/updateassesment",
                data: {assID: assID, ques_id: ques_id, opt_id: opt_id, part_id: part_id}

            }).done(function (res) {               
                var obj = jQuery.parseJSON(res);
                var error = obj.error;
                var msg = obj.msg;
                if (error == '0' && msg != '') {
                    $("#responsemsg").html('<div class="successMsg"><span class="ui_icon success"></span>' + msg + '</div>');
                    $("#responsemsg").show();
                } else {
                    $('#responsemsg').html('<div class="errorMsg"><span class="ui_icon error"></span>' + msg + '</div>');
                    $("#responsemsg").show();
                }
                setTimeout(function () {
                    $("#responsemsg").hide();
                }, 1500);
            });
         
    }

    function disableBack() {
        window.history.forward()
    }

    window.onload = disableBack();

    window.onpageshow = function (evt) {
        if (evt.persisted) {
            disableBack();
        }
    }

</script>

