<?php
    /*************************
        * PHTML: USE TO MANAGE THE THRESHOLD MATRIX PHYSICAL ACTIVITY FUNCTION.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 15/12/2014.
        * UPDATED: 18/12/2014.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>
<style>
.distance_validate_error,.calorie_validate_error,.time_validate_error{
	font-size:13px;
	color:#cd0a0a;
	}
</style>
<div id="deleteBMI" class="grobalPopup popuBxWrap">
      <div class="gppBox">
        <div class="gppbxContainer alertConfirmMessage">
          <div class="gppTitle">Delete !
            <div onclick="gppClose('deleteBMI');" class="gppClose">X</div>
          </div>
           <div class="gppTxt clearfix">
                <h2 class="confirm_msg">Do you want to delete this record?</h2>
            </div>
            <div class="formContainer formWrapperContainer gppbuttonWrapper">
                <div class="double clearfix">
                    <div class="row">
                        <input type="submit" class="submit_button" value="Yes" name="delete-record" id="delete-record">
                    </div>
                    <div class="row last">
                        <input type="button" onclick="gppClose('deleteBMI');" class="submit_button cancel_button" value="No">
                    </div>
                </div>
            </div>
      </div>
    </div>
    <div class="gppOverlay"></div>
</div>
<div id="content-wrapper" class="clearfix"> 
   <div class="pageWrapper">
        <?= $this->partial('matrix/top_navigation'); ?>
        
        <div class="boxWrap">
            <div class="bw_title">Distance</div>
            
            <span class="distance_validate_error clearfix"></span>
            <div class="bw_bmi_add bw_steps clearfix">
                
                <div class="select">
                    <select class="select" title="Gender" name="dis_gender" id="dis_gender">
                        <option value="">Gender</option>
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                </div>
                
                <div class="select">
                    <select class="select" title="Age from" name="dis_age_from" id="dis_age_from">
                        <option value="">Age from</option>
                        <?php for($i=1; $i<101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>
                
                <div class="select">
                    <select class="select" title="Age to" name="dis_age_to" id="dis_age_to">
                        <option value="">Age to</option>
                        <?php for($i=1; $i<101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>
                
                <div class="bmi_sbox clearfix">
                    <label>Min:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="min_distance" maxlength="5" name="min_distance" placeholder="Miles">
                    </div>
                </div>
                <div class="bmi_sbox clearfix" style="margin-right:15px;">
                    <label>Max:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="max_distance" maxlength="5" name="max_distance" placeholder="Miles">
                    </div>
                </div>
                
                <div class="btn"><input type="button" name="" value="+ ADD" class="orange_btn" onclick="distanceValidate();"/></div>
                
            </div>
            
            
            <div class="bw_list">
                <ul id="append-distance">
                    
                </ul>
            </div>
        </div>
    
    
        <div class="boxWrap">
            <div class="bw_title">Calorie</div>
            <span class="calorie_validate_error clearfix"></span>
            <div class="bw_bmi_add bw_steps clearfix">
                
                <div class="select">
                    <select class="select" title="Gender" name="calo_gender" id="calo_gender">
                        <option value="">Gender</option>
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                </div>
                
                <div class="select">
                    <select class="select" title="Age from" name="calo_age_from" id="calo_age_from">
                        <option value="">Age from</option>
                        <?php for($i=1; $i<101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>
                
                <div class="select">
                    <select class="select" title="Age to" name="calo_age_to" id="calo_age_to">
                        <option value="">Age to</option>
                        <?php for($i=1; $i<101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>
                
                <div class="bmi_sbox clearfix">
                    <label>Min:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="min_calorie" maxlength="5" name="min_calorie" placeholder="Cal">
                    </div>
                </div>
                <div class="bmi_sbox clearfix" style="margin-right:15px;">
                    <label>Max:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="max_calorie" maxlength="5" name="max_calorie" placeholder="Cal">
                    </div>
                </div>
                
                <div class="btn"><input type="button" name="" value="+ ADD" class="orange_btn" onclick="calorieValidate();"/></div>
                
            </div>
            
            
            <div class="bw_list">
                <ul id="append-calorie">
                    
                </ul>
            </div>
        </div>  
    
    
    
        <div class="boxWrap">
            <div class="bw_title">Time</div>
            <span class="time_validate_error clearfix"></span>
            <div class="bw_bmi_add bw_steps clearfix">
                
                <div class="select">
                    <select class="select" title="Gender" name="time_gender" id="time_gender">
                        <option value="">Gender</option>
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                </div>
                
                <div class="select">
                    <select class="select" title="Age from" name="time_age_from" id="time_age_from">
                        <option value="">Age from</option>
                        <?php for($i=1; $i<101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>
                
                <div class="select">
                    <select class="select" title="Age to" name="time_age_to" id="time_age_to">
                        <option value="">Age to</option>
                        <?php for($i=1; $i<101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>
                
                <div class="bmi_sbox clearfix">
                    <label>Min:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="min_time" maxlength="5" name="min_time" placeholder="Min">
                    </div>
                </div>
                <div class="bmi_sbox clearfix" style="margin-right:15px;">
                    <label>Max:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="max_time" maxlength="5" name="max_time" placeholder="Min">
                    </div>
                </div>
                
                <div class="btn"><input type="button" name="" value="+ ADD" class="orange_btn" onclick="timeValidate();"/></div>
                
            </div>
            
            
            <div class="bw_list">
                <ul id="append-time">

                </ul>
            </div>
        </div>
   </div>
</div>
<script>
    function addTmdistanceRange(){
        var gender = $("#dis_gender").val();
        var age_from = $("#dis_age_from").val();
        var age_to = $("#dis_age_to").val();
        var min_distance = $("#min_distance").val();
        var max_distance = $("#max_distance").val();
        var ajaxUrl  = "<?= $this->basePath(); ?>/admin/matrix/distancemanage";
        $.post(
            ajaxUrl,
            {
                gender: gender,
                age_from: age_from,
                age_to: age_to,
                min_distance: min_distance,
                max_distance: max_distance
            },
            function(data){
				if(data==''){
					alert('Age range overlapping, please select proper ages.');
				}else{
                	$("#append-distance").html(data);
				}
                
            }
        );
    }
	function distanceValidate(){
		if($('#dis_gender').val()==''){
			$('.distance_validate_error').html('All fields are required.');
			$('#dis_gender').focus();
			return false;
		}
		else if($('#dis_age_from').val()==''){
			$('.distance_validate_error').html('All fields are required.');
			$('#dis_age_from').focus();
			return false;
		}
		else if($('#dis_age_to').val()==''){
			$('.distance_validate_error').html('All fields are required.');
			$('#dis_age_to').focus();
			return false;
		}
		else if(parseInt($('#dis_age_to').val()) <= parseInt($('#dis_age_from').val())){
			$('.distance_validate_error').html('Age From value must be less than Age To');
			$('#dis_age_to').focus();
			return false;
			
		}
		else if($('#min_distance').val()==''){
			$('.distance_validate_error').html('All fields are required.');
			$('#min_distance').focus();
			return false;
		}
		else if($('#max_distance').val()==''){
			$('.distance_validate_error').html('All fields are required.');
			$('#max_distance').focus();
			return false;
		}
		else if(parseInt($('#max_distance').val()) <= parseInt($('#min_distance').val())){
			$('.distance_validate_error').html('Min distance value must be less than Max distance');
			$('#max_distance').focus();
			return false;
			
		}else{
			$('.distance_validate_error').html('');
			addTmdistanceRange();
		}
	}
	
	
	
	
    function addTmcalorieRange(){
        var gender = $("#calo_gender").val();
        var age_from = $("#calo_age_from").val();
        var age_to = $("#calo_age_to").val();
        var min_calorie = $("#min_calorie").val();
        var max_calorie = $("#max_calorie").val();
        var ajaxUrl  = "<?= $this->basePath(); ?>/admin/matrix/caloriemanage";
        $.post(
            ajaxUrl,
            {
                gender: gender,
                age_from: age_from,
                age_to: age_to,
                min_calorie: min_calorie,
                max_calorie: max_calorie
            },
            function(data){
				if(data==''){
					alert('Age range overlapping, please select proper ages.');
				}else{
                	$("#append-calorie").html(data);
				}
                
            }
        );
    }
	function calorieValidate(){
		if($('#calo_gender').val()==''){
			$('.calorie_validate_error').html('All fields are required.');
			$('#calo_gender').focus();
			return false;
		}
		else if($('#calo_age_from').val()==''){
			$('.calorie_validate_error').html('All fields are required.');
			$('#calo_age_from').focus();
			return false;
		}
		else if($('#calo_age_to').val()==''){
			$('.calorie_validate_error').html('All fields are required.');
			$('#calo_age_to').focus();
			return false;
		}
		else if(parseInt($('#calo_age_to').val()) <= parseInt($('#calo_age_from').val())){
			$('.calorie_validate_error').html('Age From value must be less than Age To');
			$('#calo_age_to').focus();
			return false;
			
		}
		else if($('#min_calorie').val()==''){
			$('.calorie_validate_error').html('All fields are required.');
			$('#min_calorie').focus();
			return false;
		}
		else if($('#max_calorie').val()==''){
			$('.calorie_validate_error').html('All fields are required.');
			$('#max_calorie').focus();
			return false;
		}
		else if(parseInt($('#max_calorie').val()) <= parseInt($('#min_calorie').val())){
			$('.calorie_validate_error').html('Min calorie value must be less than Max calorie');
			$('#max_calorie').focus();
			return false;
			
		}else{
			$('.calorie_validate_error').html('');
			addTmcalorieRange();
		}
	}
	
	
	
    function addTmtimeRange(){
        var gender = $("#time_gender").val();
        var age_from = $("#time_age_from").val();
        var age_to = $("#time_age_to").val();
        var min_time = $("#min_time").val();
        var max_time = $("#max_time").val();
        var ajaxUrl  = "<?= $this->basePath(); ?>/admin/matrix/timemanage";
        $.post(
            ajaxUrl,
            {
                gender: gender,
                age_from: age_from,
                age_to: age_to,
                min_time: min_time,
                max_time: max_time
            },
            function(data){
				if(data==''){
					alert('Age range overlapping, please select proper ages.');
				}else{
                	$("#append-time").html(data);
				}
            }
        );
    }
	function timeValidate(){
		if($('#time_gender').val()==''){
			$('.time_validate_error').html('All fields are required.');
			$('#time_gender').focus();
			return false;
		}
		else if($('#time_age_from').val()==''){
			$('.time_validate_error').html('All fields are required.');
			$('#time_age_from').focus();
			return false;
		}
		else if($('#time_age_to').val()==''){
			$('.time_validate_error').html('All fields are required.');
			$('#time_age_to').focus();
			return false;
		}
		else if(parseInt($('#time_age_to').val()) <= parseInt($('#time_age_from').val())){
			$('.time_validate_error').html('Age From value must be less than Age To');
			$('#time_age_to').focus();
			return false;
			
		}
		else if($('#min_time').val()==''){
			$('.time_validate_error').html('All fields are required.');
			$('#min_time').focus();
			return false;
		}
		else if($('#max_time').val()==''){
			$('.time_validate_error').html('All fields are required.');
			$('#max_time').focus();
			return false;
		}
		else if(parseInt($('#max_time').val()) <= parseInt($('#min_time').val())){
			$('.time_validate_error').html('Min time value must be less than Max time');
			$('#max_time').focus();
			return false;
			
		}else{
			$('.time_validate_error').html('');
			addTmtimeRange();
		}
	}
    function getDeleteId(type, id) {
        $("#delete-record").attr("onclick", "deleteTmbphyactiveRange('"+type+"', "+id+");gppClose('deleteBMI')");
    }
    function deleteTmbphyactiveRange (type, dlt_id) {
        if (dlt_id) {
            if (type == "time") {
                $("#time_gender").val("");
                $("#time_gender").next('span.select').html("Gender");
            }
            if (type == "calorie") {
                $("#calo_gender").val("");
                $("#calo_gender").next('span.select').html("Gender");
            }
            if (type == "distance") {
                $("#dis_gender").val("");
                $("#dis_gender").next('span.select').html("Gender");
            }
            var ajaxUrl  = "<?= $this->basePath(); ?>/admin/matrix/managerecords";
            $.post(
                ajaxUrl,
                {
                    id: dlt_id,
                    type: type
                },
                function(data){
                    if (data) {
                        if (type == "time")
                            addTmtimeRange();
                        if (type == "calorie")
                            addTmcalorieRange();
                        if (type == "distance")
                            addTmdistanceRange();
                    } else {
                        alert(data);
                    }
                }
            );
        }
    }
    addTmtimeRange();
    addTmcalorieRange();
    addTmdistanceRange();
	
	
	$(function(){
	$("#min_distance,#max_distance,#min_calorie,#max_calorie,#min_time,#max_time").bind("keydown", function (event) {
		if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
				 // Allow: Ctrl+A
				(event.keyCode == 65 && event.ctrlKey === true) || 
	
			// Allow: home, end, left, right
				(event.keyCode >= 35 && event.keyCode <= 39)) {
				  // let it happen, don't do anything
				  return;
			} else {
				// Ensure that it is a number and stop the keypress
				if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
					event.preventDefault();
				}
			}
	});
	
	});
</script>