<?php
    /*************************
        * PHTML: USE TO MANAGE THE THRESHOLD MATRIX SLEEP FUNCTION.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 21/12/2014.
        * UPDATED: 21/12/2014.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>
<style>
#sleepForm .row label.error {
    color:#cd0a0a;
    font-size: 13px;
    padding:0 10px 10px 10px;
}
</style>
<?php $this->flashMessenger()->clearMessages(); ?>
<div id="content-wrapper" class="clearfix"> 
   <div class="pageWrapper">
        <?= $this->partial('matrix/top_navigation'); ?>

        <?php foreach($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?= $msg["error"]; ?>
                </div>
            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?= $msg["success"]; ?>
                </div>
            <?php endif; ?>
        <?php } ?>

        <form method="post" action="" name="sleepForm" id="sleepForm">        
            <div class="boxWrap clearfix">
                <div class="bw_box">
                    <div class="bw_title">Sleep</div>
                    <div class="hww row clearfix">
                        <label>Minimum:</label>
                        <div class="clearfix">
                        <div class="input" style="width:100px; float:left;">
                            <input type="text" name="min_sleep" id="min_sleep" value="<?php if (isset($viewData['min_sleep']) && $viewData['min_sleep'] != "") echo $viewData['min_sleep'];?>"/>
                        </div><div style="float:left; font-size:12px; font-style:italic; padding:8px 0; color:#666;">Minutes</div>
                        </div>
                    </div>
                    <div class="hww row clearfix">
                        <label>Maximum:</label>
                        <div class="clearfix">
                        <div class="input" style="width:100px; float:left;">
                            <input type="text" name="max_sleep" id="max_sleep"  value="<?php if (isset($viewData['max_sleep']) && $viewData['max_sleep'] != "") echo $viewData['max_sleep'];?>"/>
                        </div><div style="float:left; font-size:12px; font-style:italic; padding:8px 0; color:#666;">Minutes</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxBtn clearfix">
                <input type="submit" name="" value="Save" class="bb_btn">
            </div>
        </form>
   </div>
</div>


<script>
	$(function(){
		
	$("#sleepForm").validate({
		rules: {
			min_sleep: {
				required: true
			},
			max_sleep: {
				required: true,
			}
		},
		messages: {
			min_sleep: {
				required: "This field is required.",
			},
			max_sleep: {
				required: "This field is required.",
			}
		},
		submitHandler:function(form){
			if(parseInt($('#min_sleep').val()) >= parseInt($('#max_sleep').val())){
				alert('Min minutes must be less than max minutes.');
                $('#min_temp').focus();
				return false;
			}
			form.submit();
		},
		errorPlacement: function(error, element){
		error.appendTo(element.parents("div.row"));
	  }
	});
		
	$("#min_sleep,#max_sleep").bind("keydown", function (event) {
		if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
				 // Allow: Ctrl+A
				(event.keyCode == 65 && event.ctrlKey === true) || 
	
			// Allow: home, end, left, right
				(event.keyCode >= 35 && event.keyCode <= 39)) {
				  // let it happen, don't do anything
				  return;
			} else {
				// Ensure that it is a number and stop the keypress
				if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
					event.preventDefault();
				}
			}
	});
	
	});
</script>