<?php if (count($systolic) > 0) { ?>
    <?php foreach ($systolic AS $valArr) { ?>
        <?php
            if ($valArr['gender'] == "f")
                $gender = "Female";
            else
                $gender = "Male";
        ?>
        <li class="clearfix">
            <div class="bwl_type">
                <strong><?= $gender; ?>  |</strong>  
                <strong>Age:</strong> <?= $valArr['age_from']." - ".$valArr['age_to']; ?>
            </div>
            <div class="bwl_min">
                <strong>Min:</strong> <?= $valArr['min_systolic']; ?> mmHg
            </div>
            <div class="bwl_max">
                <strong>Max:</strong> <?= $valArr['max_systolic']; ?> mmHg
            </div>
            <div class="bwl_delete" onclick="gppOpen('deleteBMI');getDeleteId('systo', <?= $valArr['id']?>);">
                <span class="icon">X</span>
            </div>
        </li>
    <?php } ?>
<?php } else { ?>
<li>No Record Found.</li>
<?php } ?>