<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE FOOTER FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
 * CREATOR: 12/11/2014.
 * UPDATED: 07/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>

<!--Footer start here-->
<?php
$ReqUri = $_SERVER["REQUEST_URI"];
$basename = basename($_SERVER["REQUEST_URI"]);
$accActivate = substr($basename, 0, 14);
$respondcaregiver = substr($basename, 0, 16);
$mlogin = substr($basename, 0, 5);
$BaseNameReg = explode('/',$ReqUri);
$BaseName4Register = $BaseNameReg[1];
?>
<noscript>
<style>

    tr td p{ position:fixed;top:30%;left:20%;width:60%;font-size:18px;font-weight:bold;}
    .footer clearfix {display: none; visibility: hidden;}
    .footer innerFooter clearfix {display: none; visibility: hidden;}
    #ui-content-wrapper{display: none;visibility: hidden;}
    #content-wrapper{display: none;visibility: hidden;}
</style>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="3" align="left" valign="top"> <p style="color:#000">This page uses Javascript. Your browser either does not support Javascript or you have it turned off.To see this page as it is meant to appear please use
                a Javascript enabled browser.<p></td>
    </tr>

</table>

</noscript>
<?php if ($respondcaregiver != "respondcaregiver" && $basename != 'individual' && $basename != 'login' && $basename != 'verification' && $basename != 'congrates' && $basename != 'basicinfo' && $basename != 'contactinfo' && $basename != 'profileinfo' && $basename != 'tempass' && $accActivate != 'activateacount' && $mlogin != 'login' && $basename != '' && $BaseName4Register!='register'): ?>
    <div class="footer innerFooter clearfix" id="footer">
        <div class="copyrights">Copyrights <?= date('Y') ?>. All Rights Reserved with Health-ePeople</div>
        <div class="footer_nav"><a href="#">Terms &amp; Condition</a></div>
    </div>
<?php else: ?>
    <div class="footer clearfix" id="footer">
        <div class="copyrights">Copyrights <?= date('Y') ?>. All Rights Reserved with Health-ePeople</div>
        <div class="footer_nav"><a href="#">Terms &amp; Condition</a></div>
    </div>

<?php endif; ?>

<!--Footer end here-->