<?php if (count($this->geofenceUserData) > 0) { ?>
    <div class="becon_Activity" id="geofence_details">
        <?php
        $dateArr = array();
        foreach ($this->geofenceUserData as $gfvalue) {
            $date = (isset($gfvalue['date']) ? date("d M Y", strtotime($gfvalue['date'])) : "");
            $time = (isset($gfvalue['time']) ? date("h:i A", strtotime($gfvalue['time'])) : "");
            $rule = (isset($gfvalue['notify']) ? ($gfvalue['notify'] == 0 ? "inside" : "outside" ) : "");
            $name = (isset($gfvalue['name'])? $gfvalue['name'] : "");
            ?>
            <?php if (!in_array($date, $dateArr)) { ?>
                <p class="time_paragraph date"><?= $date ?></p>
            <?php } ?>
            <p class="time_paragraph"><?= $time . " " . $rule." ". $name ?> </p>


            <?php $dateArr[] = $date;
        } ?>
    </div>
<?php } else { ?>
  
        <div class="errorMsg">
            <span class="ui_icon error"></span>No. record found. 
        </div>
    
<?php } ?>