<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 10/12/2014.
 * UPDATED: 11/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('Researcher');
$userDetails = $this->_sessionObj->userDetails;
$userName = $userDetails['UserName'];
$UserId = $userDetails['UserID'];
$age = $userDetails['Age'];
?>

<!--Container start here-->




<div id="content-wrapper" class="clearfix">
    <!--Add User popup start here-->

    <!--Add User popup end here-->

    <div class="pageWrapper">
        <div class="pghFixed pghFixedIndv">
            <div class="pgh_title">| Manage Users <div class="Advanced_SearchButton"></div></div>
        </div>
        <div class="boxWrap advancedPeopleSearch clearfix" style="margin-top: 15px;">
            <!-- Advanced Search box start here-->
            <div class="searchFormAdv clearfix">
                <div class="bw_box">
                    <div class="hww clearfix">
                        <div class="hww_select clearfix">
                            <div class="hww_sbox">
                                <div class="input">
                                    <input type="text" placeholder="Search By..." />
                                </div>
                            </div>                             
                        </div>
                    </div>
                </div>
                <span class="boxBtn"><input type="submit" name="" value="Go" class="bb_btn" style="min-width:inherit"></span>
            </div>
            <!-- Advanced Search box start here-->
        </div>
        <div class="userList">
            <?php if (!count($IndividualUserArr)) { ?><div class="errorMsg">
                    <span class="ui_icon error"></span>No Users found. </div> <?php
            } else {
                foreach ($IndividualUserArr as $key => $res) {
                    ?>
                    <div class="ul_row clearfix individual_list" id="<?= $res['Id'] ?>">
                        <div class="col wd50">
                            <?php
                            if ($res['Image']) {
                                $image = $this->Resize($this->serverUrl() . "/upload_image/" . $res['UserID'] . "/", $res['Image'], 100, 80);
                            } else {
                                $image = $this->serverUrl() . "/img/profile_image_avtar.png";
                            }
                            ?>
                            <div class="ul_photo"><img src="<?= $image ?>" alt=""/></div>
                            <h4><?= $res['FirstName'] . " " . $res['LastName'] ?></h4>
                            <h5><?= $res['state_name'] . "," . $res['country_name'] ?></h5>
                            <div class="actButtonWrap clearfix">
                                <a href="/researcher-beaconlist/<?php echo $custom_plugin->encryptdata($res['UserID']); ?>">View Details</a>
                            </div>
                        </div>
                        <div class="col wd50 measureCol">
                            <ul class="mesurement actionButton">
                                <?php
                                foreach ($res['ShowsData'] as $result) {
                                    if ($result['label'] == 'Systolic/Diastolic') {
                                        $resclass = explode('/', $result['class']);
                                        $classSys = $resclass[0];
                                        $classDys = $resclass[1];
                                        ?>
                                        <li>
                                            <p><?= $result['label'] ?></p>
                                            <span class="measure"><?= $result['displayData'] ?>
                                                <span class="arrow <?= $classSys ?>"></span><?php if ($classSys && $classDys) {
                            echo "/";
                        } ?><span class="arrow <?= $classDys ?>"></span>

                                            </span>
                                        </li>  
            <?php } else { ?>
                                        <li>
                                            <p><?= $result['label'] ?></p>
                                            <span class="measure"><?= $result['displayData'] ?>
                                                <span class="arrow <?= $result['class'] ?>"></span>
                                            </span>
                                        </li>  
            <?php }
        }
        ?>

                                <!--<li style="padding-top:10px;">
                                    <p>Delete</p>
                                    <div class="button delete"><a href="javascript:void(0);" onclick="return DeleteIndividualfromDashboard('<?= $res['UserID'] ?>', '<?= $res['Id'] ?>');">Delete</a></div>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                    <?php
                }
            }
            ?>

        </div>
    </div>
</div>
<!--Container end here--> 