<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE LAYOUT FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
 * CREATOR: 12/11/2014.
 * UPDATED: 07/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$container = new Container('super_admin');
// echo '<pre>'; print_r($container->admin); die;
?>
<?= $this->doctype(); ?>
<html lang="en">
    <head>

        <meta charset="utf-8"/>
        <?= $this->headTitle($this->translate('Quantextualhealth'))->setSeparator(' - ')->setAutoEscape(false); ?>

        <?=
                $this->headMeta()
                ->appendName('viewport', 'width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
        ?>

        <!-- Le styles -->
        <?=
                $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/css/admin_layout.css')
                ->prependStylesheet($this->basePath() . '/css/jquery.classyedit.css')
        ;
        ?>
        <!-- Scripts -->
        <?=
                $this->headScript()
                ->prependFile($this->basePath() . '/js/functions.js')
                ->prependFile($this->basePath() . '/js/jquery.classyedit.js')
                ->prependFile($this->basePath() . '/js/jquery.validate.js')
                ->prependFile($this->basePath() . '/js/ajaxuploader.js')
                ->prependFile($this->basePath() . '/owl-carousel/owl.carousel.js')
                ->prependFile($this->basePath() . '/js/jquery-ui.js')
                ->prependFile($this->basePath() . '/js/jquery.jscroll.min.js', 'text/javascript')
                ->prependFile($this->basePath() . '/js/jquery-1.10.1.min.js')

                //->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                //->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/placeholder.js', 'text/javascript', array('conditional' => 'lt IE 9',));
        ?>

        <noscript>
        <style>

            tr td p{ position:fixed;top:30%;left:20%;width:60%;font-size:18px;font-weight:bold;}
            .left_menu_section {display: none; visibility: hidden;}
            .adminLogin{display: none; visibility: hidden;}
            #content-wrapper{display: none;visibility: hidden;}
            #footer{display: none;visibility: hidden;}
        </style>
    <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="3" align="left" valign="top"> <p style="color:#000">This page uses Javascript. Your browser either does not support Javascript or you have it turned off.To see this page as it is meant to appear please use
                    a Javascript enabled browser.<p></td>
        </tr>

    </table>

    </noscript>

    <script>
        jQuery.fn.center = function () {

            this.css("position", "absolute");
            this.css("display", "block");
            this.css("top", (($(window).height() - this.outerHeight()) / 2) + $(window).scrollTop() + "px");
            this.css("left", (($(window).width() - this.outerWidth()) / 2) + $(window).scrollLeft() + "px");
            return this;
        }

        function showLoder(element) {
            $(element).center();
            $('body').addClass('ajaxOverlay');
        }

        function hideLoder(element) {
            $(element).hide();
            $('body').removeClass('ajaxOverlay');
        }

        $(document).ready(function () {
            //showLoder('#Processing');
            //hideLoder('#Processing');
            setTimeout(function () {
                $('.successMsg').slideUp('slow');
            }, 3000);

            setTimeout(function () {
                $('.errorMsg').slideUp('slow');

            }, 3000);

        })
    </script>
    <style>
        .ajaxOverlay {
            background: none repeat scroll 0 0 #000;
            height: 100%;
            left: 0;
            opacity: 0.53;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9998;
        }
    </style>


</head>
<body>

    <div style="display:none;z-index:9999;" id="Processing" align="center">
        <img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/>
    </div>
    <?php if ($container->islogin): ?>
        <?= $this->partial('headers/header'); ?>

        <?= $this->partial('left-menus/left-menu'); ?>
    <?php endif; ?>
    <!-- MAIN BODY INCLUDE HERE-->
    <?= $this->content; ?>
    <!-- HEADER INCLUDE HERE-->
    <?= $this->partial('footers/footer'); ?>
    <?= $this->inlineScript(); ?>
</body>
</html>
