<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
 * CREATOR: 12/11/2014.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<div id="content-wrapper" class="clearfix"> 
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Dashboard</div>
        </div>
        <div class="admDashbrd">
            <ul class="clearfix">
                <li><span style="color:#03c0e2;">Total number of Individuals</span><span style="float: right;color:#03c0e2;"><?= $Individuals;?></span></li>
                <li><span style="color:#03c0e2;">Total Researchers </span><span style="float: right;color:#03c0e2;"><?= $Researchers;?></span></li>
                <li><span style="color:#03c0e2;">Total Studies </span><span style="float: right;color:#03c0e2;"><?= $Study; ?></span></li>
                <?php if ($passId == 1) { ?>
                    <li><span style="color:#03c0e2;">Total Subdomains </span><span style="float: right;color:#03c0e2;"><?= $Domain; ?></span></li>
                    <li><span style="color:#03c0e2;">Total Self Assesments </span><span style="float: right;color:#03c0e2;"><?= $Assessment; ?></span></li>
                <?php } ?>
                
            </ul>
        </div>  
    </div>
</div>