<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE Individual Reward.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 22/01/2015.
 * UPDATED: 22/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));

//echo (isset($this->basicDetails[0]['Gender'])? $this->basicDetails[0]['Gender'] : "no" );exit;
?>
<?php if (isset($_SERVER['HTTP_X_REQUESTED_WITH']) && $_SERVER['HTTP_X_REQUESTED_WITH'] === 'XMLHttpRequest') {
    ?>
    <?php if (count($Data) > 0) { ?>
        <div id="PaggingDiv">
            <?php foreach ($Data as $data) { ?>
                <div class="row clearfix">
                    <div class="col wd15"><span class="txt"><?= $data["amount"]; ?></span></div>
                    <div class="col wd60"><span class="txt"><?= $data["order_id"]; ?></span></div>
                    <div class="col wd25 clearfix"><span class="txt  clearfix"><?= $data["points"]; ?></span></div>
                </div>
            <?php } ?>
            <li style="list-style: none;"><a class="jscroll-next" href="individual-reward?page=<?= base64_encode($page); ?>"></a></li>
        </div>
    <?php } ?>
<?php } else { ?>



    <!--Redeem points popup start here-->
    <div id="redeemPoints" class="grobalPopup popuBxWrap">
        <div class="gppBox">
            <div class="gppbxContainer" style="min-height: 180px; width: 300px; margin-left: -150px;">
                <div class="gppTitle">Redeem Points
                    <div onclick="gppClose('redeemPoints');" class="gppClose">X</div>
                </div>
                <div class="formWrapperContainer" style="padding: 20px;">
                    <form action="" method="post" name="RedeemPoints" id="RedeemPoints">
                        <div id="err_redeem"></div>
                        <div id="succ" style="padding-bottom:10px;"></div>
                        <div class="row">
                            <div class="input">
                                <input type="text" class="points" maxlength="6" placeholder="1 Point = USD $1" name="Points" id="Points">
                            </div>
                        </div>
                        <div class="row last">
                            <div class="input_button">
                                <input type="submit" value="Submit" class="submit_button" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="gppOverlay"></div>
    </div>
    <!--Redeem points popup end here-->

    <!-- Left menu Section end here -->
    <div id="content-wrapper" class="clearfix"> 
        <div class="pghFixed pghFixedIndv">
            <div class="pgh_title">| Rewards</div>
        </div>
        <div class="pageWrapper">
            <div class="doubleGraphRow clearfix">
                <div class="graphRow">
                    <div class="graphBox" style="padding:10px 0 25px">
                        <div class="activity_box">
                            <span class="activity_title">Earned Till Now</span>
                            <span class="activity_num"><?= $EarnstudyPoints['points'] ?></span>Points
                        </div>
                    </div>
                </div>
                <div class="graphRow last">
                    <div class="graphBox" style="padding:10px 0 25px">
                        <div class="activity_box">
                            <a href="javascript:void(0);" class="global_actionButton" style="padding:8px 15px; text-transform:uppercase;" onclick="gppOpen('redeemPoints');" >Redeem</a>
                            <span class="activity_title">Current Balance </span>
                            <span class="activity_num curr_amount"><?= $current_points ?></span>Points
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="common_heading02">Rewards History</h2>
            <div class="table table_box_shadow cb_Grid">
 <?php if (count($Data) > 0) { ?>   
                <div class="row clearfix head">
                    <div class="col wd15"><span class="txt">Amount ($)</span></div>
                    <div class="col wd60"><span class="txt">OrderID</span></div>
                    <div class="col wd25"><span class="txt">Points</span></div>
                </div>

               
                    <div id="PaggingDiv">
                        <?php foreach ($Data as $data) { ?>
                            <div class="row clearfix">
                                <div class="col wd15"><span class="txt"><?= $data["amount"]; ?></span></div>
                                <div class="col wd60"><span class="txt"><?= $data["order_id"]; ?></span></div>
                                <div class="col wd25 clearfix"><span class="txt  clearfix"><?= $data["points"]; ?></span></div>
                            </div>
                        <?php } ?>
                        <li style="list-style: none;"><a class="jscroll-next" href="individual-reward?page=<?= base64_encode($page); ?>"></a></li>
                    </div>
                <?php }else{  ?>
                <div style="display: block !important" class="errorMsg"> <span class="ui_icon error"></span>No data found!</div>
                <?php } ?>

            </div>
            <script>
                $(document).ready(function () {
                    $(".points").keypress(function (event) {
                        // Backspace, tab, enter, end, home, left, right
                        // We don't support the del key in Opera because del == . == 46.
                        var controlKeys = [8, 9, 13, 35, 36, 37, 39, 46, 48];
                        // IE doesn't support indexOf
                        var isControlKey = controlKeys.join(",").match(new RegExp(event.which));
                        // Some browsers just don't raise events for control keys. Easy.
                        // e.g. Safari backspace.
                        if (!event.which || // Control keys in most browsers. e.g. Firefox tab is 0
                                (49 <= event.which && event.which <= 57) || // Always 1 through 9
                                (48 == event.which && $(this).attr("value")) || // No 0 first digit
                                isControlKey) { // Opera assigns values for control keys.
                            return;
                        } else {
                            event.preventDefault();
                        }
                    });
                });
                $(function () {
                    $('#RedeemPoints').validate({
                        rules: {
                            Points: {
                                required: true,
                            }
                        },
                        messages: {
                            Points: {
                                required: "Please enter amount to redeem points.",
                            }
                        },
                        submitHandler: function (form) {
                            var Points = $("#Points").val();
                            $(".global_loader").show();
                            $.ajax({
                                type: "POST",
                                url: "/individual/ajax/redeempoints",
                                data: {Points: Points}
                            }).done(function (resp) {
                                resp = jQuery.parseJSON(resp);
                                if (resp.success == 1) {
                                    var curAmount = parseInt($('.curr_amount').html());
                                    var newAmount = curAmount - Points;
                                    $('.curr_amount').html(newAmount)
                                    $(".global_loader").hide('fast');
                                    $('#err_redeem').html("<font color='green'>" + resp.msg + "</font>");
                                    $('#err_redeem').fadeIn('fast').delay(5000).fadeOut('slow');
                                    
                                    setInterval(window.location.reload(), 50000);
                                } else {
                                    $(".global_loader").hide('fast');
                                    $('#err_redeem').html("<font color='red'>" + resp.msg + "</font>");
                                    $('#err_redeem').fadeIn('fast').delay(5000).fadeOut('slow');
                                    
                                }
                            });
                        },
                        errorPlacement: function (error, element) {
                            error.appendTo(element.parents("div.row"));
                        }
                    });
                });</script>
            <style>
                .cb_Grid .row .col .txt{
                    min-height:18px;
                    display:block;
                    word-break:keep-all;
                    line-height:normal;
                }
                .green{
                    color: #00a700;
                }
            </style>
            <script>
                $(window).resize(function () {
                    delay(function () {
                        $('.cb_Grid .row').each(function () {
                            $(this).find('span.txt').css('height', 'auto');
                            setEqualHeight($(this).find('span.txt'));
                        });
                    }, 500);
                });
                $(function () {
                    delay(function () {
                        $('.cb_Grid .row').each(function () {
                            $(this).find('span.txt').css('height', 'auto');
                            setEqualHeight($(this).find('span.txt'));
                        });
                    }, 500);
                });
                $(document).ready(function () {
                    $('#PaggingDiv').jscroll({
                        loadingHtml: '<div  align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
                        nextSelector: 'a.jscroll-next:last',
                        contentSelector: '#PaggingDiv'
                    });
                })
            </script>
        </div>
    </div>
<?php } ?>
<!--Container end here--> 