<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE Individual SETTINGS.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 22/01/2015.
 * UPDATED: 22/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
<!-- Left menu Section end here -->

<div id="content-wrapper" class="clearfix">
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Caregivers Settings</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li class="active"><a href="/individual-caregiver-settings">Caregivers</a><span class="border"></span></li>
            </ul>
        </div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="/individual-caregiver-settings" class="item">Accepted</a>
                <a href="/individual-caregiver-request" class="item selected">Request</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <div  id="counterror" style="padding-bottom: 10px;"></div>
        <div id="msg_div"></div>
        <div class="table table_box_shadow cb_Grid geofence_grid peopleTable">

            <?php if (!count($this->user_caregivers)) { ?><div class="errorMsg">
                    <span class="ui_icon error"></span>You have not requested a caregiver </div> <?php
            } else {
                foreach ($this->user_caregivers as $key => $value) {
                    if ($value['Image']) {
                        $image = ($value['Image'] ? $this->Resize($this->serverUrl() . "/upload_image/" . $value['caregiver_id'] . "/", $value['Image'], 100, 80) : 'img/data/profile.jpg');
                    } else {
                        $image = $this->serverUrl() . "/img/profile_image_avtar.png";
                    }
                    ?>
                    <div class="row clearfix" id="request_<?= $value['Id'] ?>">
                        <div class="col wd70">
                            <span class="txt clearfix" style="cursor:pointer;"  onclick="gppOpen('viewHistoryDetails');">
                                <div class="user_img"><img src="<?= $image ?>" alt="" /></div>
                                <h3><?= $this->plugin->GetAge($value['Dob']) . " Yrs, " . $value['FirstName'] . " " . $value['LastName'] . " from " . $value['state_name'] . ", " . $value['country_name'] ?></h3>
                                <p>Descriptions</p>
                            </span>
                        </div>
                        <div class="col wd30">
                            <!--<span class="txt clearfix">
                                <div class="actionButtonWrapper">
                                    <a href="javascript:void(0);" class="global_actionButton deny">Deny</a>
                                </div>
                            </span>-->
                            <span class="txt clearfix">
                                <a href="javascript:void(0);" class="global_actionButton unfollow" onclick="respondcaCregiverRequest('<?= $value['Id'] ?>', '0', '<?= $value['Email'] ?>', '<?= $value['caregiver_id'] ?>')">Deny</a>
                                <a href="javascript:void(0);" class="global_actionButton following" onclick="respondcaCregiverRequest('<?= $value['Id'] ?>', '1', '<?= $value['Email'] ?>', '<?= $value['caregiver_id'] ?>')">Accept</a>
                            </span>
                        </div>
                    </div>  
                    <?php
                }
            }
            ?>			

        </div>
    </div>
    <style>
        .cb_Grid .row .col .txt, .cb_Grid .row .col .txt1,.cb_Grid{
            text-align:left;
            border:0;
            display:table;
            width:100%;
        }
    </style>
    <script>
        function respondcaCregiverRequest(reqID, response, Email, caregiver_id) {
            /********Ajax to get subscription and currrent users***********/
            $.ajax({
                type: "POST",
                url: "/individual/ajax/getcountofindividualusers",
                data: {CaregiverId: caregiver_id}
            }).done(function(result) {
                if (result == 1) {
                    if (response == 1) {
                        var msg = "Accept";
                    } else {
                        var msg = "Deny";
                    }
                    var confirmMsg = "" + msg + " this Caregiver request?";
                    if (confirm(confirmMsg))
                    {
                        $(".global_loader").show();
                        this.click;
                        $.ajax({
                            type: "POST",
                            url: "/individual/ajax/respondtocaregiver",
                            data: {reqID: reqID, response: response, Email: Email}
                        }).done(function(res) {
                            if (res == 1) {
                                $(".global_loader").hide('fast');
                                $('#msg_div').html("<font color='green'>Request " + msg + " successfully.</font>");
                                $('#msg_div').fadeIn('fast').delay(4000).fadeOut('slow');
                                $('#request_' + reqID).remove();
                            }
                        });
                    }
                    else
                    {
                        return false;
                    }
                } else {

                    $('#counterror').html('<font color=red>Caregiver subscription limit exceeded.</font>');
                    $('#counterror').fadeIn('fast').delay(5000).fadeOut('slow');
                }
            });
        }
        function gTabOpen(id) {
            if ($('#' + id).css('display') == 'block') {
                $('#' + id).slideDown('fast');
            } else {
                $('.formWrapperContainer .peopleDetailsList').slideUp('fast');
                $('#' + id).slideDown('fast');
                $('.pgh_menu_popup .item').removeClass('selected');
                $('.' + id).addClass('selected');
            }
        }
    </script>
</div>
<!--Container end here--> 
