<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE Individual SETTINGS.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 22/01/2015.
 * UPDATED: 22/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));

//echo (isset($this->basicDetails[0]['Gender'])? $this->basicDetails[0]['Gender'] : "no" );exit;
?>
<!-- Left menu Section end here -->

<div id="content-wrapper" class="clearfix">
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| My Profile Settings</div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="individual-basic" class="item selected">Basic</a>
                <a href="individual-contact" class="item">Contact</a>
                <a href="individual-profile" class="item">Profile</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="boxWrap clearfix" style="padding:30px 20px 20px;">
            <a href="javascript:void(0);" class="update_profile_button" title="Update Profile">Edit</a>
            <div class="basic_profile_form basic_profile_from_value" style="display:block">
                <div class="formContainer formWrapperContainer" style="margin-left:0">
                    <h2 class="page_heading page_heading_basic"></h2>
                    <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">First Name :</span> 
                            <span class="formF_value"><?php echo (isset($this->basicDetails[0]['FirstName'])?  $this->basicDetails[0]['FirstName'] : 'N/A'); ?></span>                                   
                        </div>
                        <div class="row clearfix last">
                            <span class="formF_lable">Middle Name :</span> 
                            <span class="formF_value"><?php echo (isset($this->basicDetails[0]['MiddleName'])?  $this->basicDetails[0]['MiddleName'] : 'N/A'); ?></span>                                   
                        </div>
                    </div>
                    <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">Last Name :</span> 
                            <span class="formF_value"><?php echo (isset($this->basicDetails[0]['LastName'])?  $this->basicDetails[0]['LastName'] : 'N/A'); ?></span>                                   
                        </div>
                        <div class="row clearfix last">
                            <span class="formF_lable">Nick Name :</span> 
                            <span class="formF_value"><?php echo (isset($this->basicDetails[0]['NickName'])?  $this->basicDetails[0]['NickName'] : 'N/A'); ?></span>                                   
                        </div>
                    </div>
                    <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">User Name :</span> 
                            <span class="formF_value"><?php echo (isset($this->basicDetails[0]['UserName'])?  $this->basicDetails[0]['UserName'] : 'N/A'); ?></span>                                   
                        </div>
                        <div class="row last clearfix">
                            <span class="formF_lable">DOB :</span> 
                            <span class="formF_value"><?php echo ((isset($this->basicDetails[0]['Dob']) && $this->basicDetails[0]['Dob']!= '0000-00-00')?  date("d M Y", strtotime($this->basicDetails[0]['Dob'])) : 'N/A'); ?></span>                                   
                        </div>
                    </div> 
                     <div class="row  clearfix">
                            <span class="formF_lable">Description :</span> 
                            <span class="formF_value"><?php echo (isset($this->basicDetails[0]['short_description'])?  $this->basicDetails[0]['short_description'] : 'N/A'); ?></span>                                   
                        </div>
                      <div class="row  clearfix">
                            <span class="formF_lable">Email :</span> 
                            <span class="formF_value"><?php echo (isset($this->basicDetails[0]['Email'])?  $this->basicDetails[0]['Email'] : 'N/A'); ?></span>                                   
                        </div>
                    <div class="row clearfix">
                        <div class="formF_lable">Gender :</div> 
                        <div class="formF_value">
                            <?php if(isset($this->basicDetails[0]['Gender'])){
                              if($this->basicDetails[0]['Gender']=="m"){echo "Male";}
                               if($this->basicDetails[0]['Gender']=="f"){echo "Female";}
                            }else{echo "N/A"; }
                            ?></div>                                   
                     
                    </div>
                </div>
            </div>
            <div class="basic_profile_form basic_profile_from_field">
                <form name="basic_profile" action="" method="post" id="basic_profile">
                    <div class="formContainer formWrapperContainer" style="margin-left:0">
                        <h2 class="page_heading page_heading_basic"></h2>
                        <input type="hidden" name="UserID" value="<?php echo $this->basicDetails[0]['UserID']; ?>" />

                        <div class="tripple clearfix">
                            <div class="row">
                                <label>First Name</label>
                                <div class="input">
                                    <input type="text" placeholder="First Name" name="firstname" value="<?php echo (isset($this->basicDetails[0]['FirstName'])?  $this->basicDetails[0]['FirstName'] : ''); ?>" autocomplete="off" maxlength="20" class="nospecial_char">
                                </div>
                            </div>
                            <div class="row">
                                <label>Middle Name</label>
                                <div class="input">
                                    <input type="text" placeholder="Middle Name" name="middlename" value="<?php echo (isset($this->basicDetails[0]['MiddleName'])?  $this->basicDetails[0]['MiddleName'] : ''); ?>" autocomplete="off" maxlength="20" class="nospecial_char">
                                </div>
                            </div>
                            <div class="row last">
                                <label>Last Name</label>
                                <div class="input">
                                    <input type="text" placeholder="Last Name" name="lastname" value="<?php echo (isset($this->basicDetails[0]['LastName'])?  $this->basicDetails[0]['LastName'] : ''); ?>" autocomplete="off" maxlength="20" class="nospecial_char">
                                </div>
                            </div>
                        </div>
                        <div class="tripple clearfix">
                            <div class="row">
                                <label>Nick Name</label>
                                <div class="input">
                                    <input type="text" placeholder="Nick Name" name="nickname" value="<?php echo (isset($this->basicDetails[0]['NickName'])?  $this->basicDetails[0]['NickName'] : ''); ?>" maxlength="20" class="nospecial_char">
                                </div>
                            </div>
                            <div class="row">
                                <label>Username Name</label>
                                <div class="input">
                                    <input type="text"  value="<?php echo (isset($this->basicDetails[0]['UserName'])?  $this->basicDetails[0]['UserName'] : ''); ?>" disabled="disabled">
                                </div>
                            </div>
                            <div class="row last date clearfix">
                                <label>DOB</label>
                                <div class="input">
                                    <input type="text" placeholder="Date of birth" name="dob"  value="<?php echo ((isset($this->basicDetails[0]['Dob']) && $this->basicDetails[0]['Dob']!= '0000-00-00')?  $this->basicDetails[0]['Dob'] : ''); ?>" class="datepicker" id="dob" autocomplete="off">
                                </div>
                                <span id="err_dob"></span>
                            </div>
                        </div>  
                         <div class=" double row clearfix">
                                <label>Description</label>
                                <div class="input">
                                    <input type="text" maxlength="50" name="description" id="description"  value="<?php echo (isset($this->basicDetails[0]['short_description'])?  $this->basicDetails[0]['short_description'] : ''); ?>" onkeypress="disableHtml(this);" onblur="disableHtml(this);" >
                                </div>
                            </div>
                        <div class=" double row clearfix">
                                <label>Email</label>
                                <div class="input">
                                    <input type="text"  value="<?php echo (isset($this->basicDetails[0]['Email'])?  $this->basicDetails[0]['Email'] : ''); ?>" disabled="disabled">
                                </div>
                            </div>
                        <div class="row clearfix">
                            <div class="doblabel">
                                Gender 
                            </div>
                         
                                <div class="checkbox_col radioLable">
                                    <div class="checkbox_col radioButtonWrap">
                                        <span class="radio bdr_rds_circle  <?php echo (($this->basicDetails[0]['Gender'] == 'm') ? 'selected' : ''); ?> "><input type="radio" id="male" name="gender" value="m"  <?php echo (($this->basicDetails[0]['Gender'] == 'm') ? 'checked' : ''); ?> ></span>
                                        <label for="male">Male</label>
                                    </div>
                                </div>
                         
                                <div class="checkbox_col radioLable">
                                    <div class="checkbox_col radioButtonWrap">
                                        <span class="radio bdr_rds_circle <?php echo (($this->basicDetails[0]['Gender'] == 'f') ? 'selected' : ''); ?>"><input type="radio" name="gender" value="f" id="female" <?php echo (($this->basicDetails[0]['Gender']) == 'f' ? 'checked' : ''); ?> ></span>
                                        <label for="female">Female</label>
                                    </div>
                                </div>
                          
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div class="input_button">
                                    <input type="submit" name="submit" value="Update" class="submit_button" />
                                </div>
                            </div>
                            <div class="row last">
                                <div class="input_button">

                                    <input type="button" value="Cancel" class="submit_button cancel_button" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style>
        .boxWrap div.input{
            position:relative
        }
        .formWrapperContainer .checkbox_col .radio, .boxWrap .hww .radioWrapperNew .radio, .cb_Grid .row .col .txt .radio{
            margin-top:-14px;
        }
        .boxWrap div.input img{
            position:absolute;
            top:5px;
            right:10px;
        }
    </style>
    <script>
        $(function () {
            $('.update_profile_button').click(function () {
                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    $('.basic_profile_form.basic_profile_from_value').slideUp();
                    $('.basic_profile_form.basic_profile_from_field').slideDown();
                    $(this).hide();
                }
            });
            $('.basic_profile_form .cancel_button').click(function () {
                $('.update_profile_button').show();
                  $('#err_dob').html('');
                 $('#err_dob').hide();
                 $("#basic_profile").get(0).reset();
                 
                $('.basic_profile_form.basic_profile_from_value').slideDown();
                $('.basic_profile_form.basic_profile_from_field').slideUp();
            });
            DatePicker();
            function DatePicker() {
                $(".datepicker").datepicker({
                    buttonImage: '<?php echo $this->serverUrl() . "/img/calendar_icon.png"; ?>',
                    changeMonth: true,
                    changeYear: true,
                    buttonImageOnly: true,
                    dateFormat: 'dd M yy',
                    maxDate: new Date,
                    showOn: 'both',
                    yearRange: "1920:c"
                });
                  
            }
             jQuery.validator.addMethod("noHTML", function(value, element) {
        return this.optional(element) || /^([a-z0-9]+)$/.test(value);
    }, "No HTML tags are allowed!");
    
            	$("#basic_profile").validate({
		rules: {
			firstname: {
				required: true,
                                maxlength: 20
			},                                                   
                            middlename: {                                
                                maxlength: 20
                            },
			lastname: {
				required: true,
                                 maxlength: 20
			},
			dob: {
				required: true,
			},
                        nickname: {
				 maxlength:50
			 },
                        description: {
				 maxlength:50
			 }
			
		},
		messages: {
			firstname: {
				required: "Please enter first name.",
                                 maxlength: "First name must be less then equal to 20 character."
                            
			},
			middlename: {
				
                                 maxlength: "Middle name must be less then equal to 20 character."
                            
			},
			lastname: {
				required: "Please enter last name.",
                                 maxlength: "Last name must be less then equal to 20 character."                            
			},
			dob: {
				required: "Please select dob.",
			},                          
                             nickname: {
                                maxlength: "Nick name must be less then equal to 20 character."
                            },
                            description: {
				 maxlength: "Description must be less then equal to 50 character."
			}
		},
		errorPlacement: function(error, element) {
		error.appendTo(element.parents("div.row"));
		//error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
	  }
	});
        
          $("#basic_profile").submit(function() {
        
                    var date = $('#dob').val();                    
                    var today = new Date();                     
                    var DOB = new Date(date);                     
                    var dayDiff = Math.ceil((today - DOB) / (1000 * 60 * 60 * 24));
                     $('#err_dob').html('');
                    if (dayDiff < 365) {   
                     $('#err_dob').show();
                     $('#err_dob').html('<font color="red">Selected DOB should be greater than one year.</font>');                     
                        return false;
                    }else{
                         $('#err_dob').hide();
        }
                });
                
                
              $("#dob").change(function() {
                    var date = $('#dob').val();
                    var today = new Date();
                    var DOB = new Date(date);
                    var dayDiff = Math.ceil((today - DOB) / (1000 * 60 * 60 * 24));
                    if (dayDiff < 365) {
                         $('#err_dob').show();
                        $('#err_dob').html('<font color="red">Selected DOB should be greater than one year.</font>');
                        return false;
                    } else {
                         $('#err_dob').hide();
                        $('#err_dob').delay().fadeOut('fast');
                    }
                });
            
        });

    </script>
</div>
<!--Container end here--> 