<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE Individual SETTINGS.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 22/01/2015.
 * UPDATED: 22/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>

<div id="content-wrapper" class="clearfix">
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Settings</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li class="active"><a href="/individual-privacy-settings">Privacy</a><span class="border"></span></li>
            </ul>
        </div>
    </div>
    <div class="pageWrapper">
        <div id="msg"></div>
        <div class="boxWrap clearfix" style="padding:0">
            <form action="" method="post">
                <ul class="privacy_notification_setting">
                    <li class="listRow">
                        <div class="notificationHeading">Premium Member</div> 
                        <div class="switch">
                            <input type="checkbox" class="cmn-toggle cmn-toggle-round" id="cmn-toggle-09" <?php echo (($this->panel_member == 1) ? 'checked' : '' ) ?>  >
                            <label for="cmn-toggle-09" class="click_disable"  onClick="updatePanelMember('PanelMember', '<?php echo $this->panel_member ?>', '<?php echo $this->userId ?>', 'panel_member');"></label>
                        </div>
                    </li><?php
                    if(!$this->panel_member) { $disabled = "disabled";}else{ $disabled = ""; }
                    ?>
                    
<!--                    <li class="listRow">
                        <div class="notificationHeading">Receive Notifications on “How I Feel”</div> 
                        <div class="switch">
                            <input type="checkbox" class="cmn-toggle cmn-toggle-round" id="cmn-toggle-01" <?php echo (($this->how_i_feel == 1) ? 'checked' : '' ) ?>  >
                            <label for="cmn-toggle-01" onClick="updatePrivacy('how_i_feel', '<?php echo $this->how_i_feel ?>', '<?php echo $this->userId ?>');"></label>
                        </div>
                    </li>-->
                    <li class="listRow click_disable">
                        <div class="notificationHeading">Receive Studies & Survey</div> 
                        <div class="switch">
                            <input type="checkbox" class="cmn-toggle cmn-toggle-round" id="cmn-toggle-02"  <?php echo (($this->receive_study == 1) ? 'checked' : '' ) ?>>
                            <label for="cmn-toggle-02" class="disable_click" onClick="updatePrivacy('receive_study', '<?php echo $this->receive_study ?>', '<?php echo $this->userId ?>');"></label>
                        </div>
                    </li>
                    <li class="listRow click_disable">
                        <div class="notificationHeading ">Set # of Surveys Per Month</div> 
                        <div class="switch">
                            <select class="select"  id="survay_per_month" title="Select" onchange="updatePrivacysel('survay_per_month', '<?php echo $this->survay_per_month ?>', '<?php echo $this->userId ?>');">
                                <option value="">Select</option>
                                <option value="0"  <?php echo (($this->survay_per_month == 0) ? 'selected' : (empty($this->survay_per_month) ? 'selected' : '') ) ?> <?=$disabled?>>No</option>
                                <option value="5" <?php echo (($this->survay_per_month == 5) ? 'selected' : '' ) ?><?=$disabled?>>1 - 5</option>
                                <option value="10" <?php echo (($this->survay_per_month == 10) ? 'selected' : '' ) ?> <?=$disabled?>>6 -10</option>
                                <option value="15" <?php echo (($this->survay_per_month == 15) ? 'selected' : '' ) ?> <?=$disabled?>>11 -15</option>
                                <option value="20" <?php echo (($this->survay_per_month == 20) ? 'selected' : '' ) ?><?=$disabled?>>16 -20</option>
                                <option value="200" <?php echo (($this->survay_per_month == 200) ? 'selected' : '' ) ?><?=$disabled?>>20+</option>
                            </select>
                        </div>
                    </li>
                     <li class="listRow click_disable">
                        <div class="notificationHeading ">Receive Trials</div> 
                        <div class="switch">
                            <input type="checkbox" class="cmn-toggle cmn-toggle-round" id="cmn-toggle-06" <?php echo (($this->receive_trail == 1) ? 'checked' : '' ) ?> >
                            <label for="cmn-toggle-06" class="disable_click" onClick="updatePrivacy('receive_trail', '<?php echo $this->receive_trail ?>', '<?php echo $this->userId ?>');"></label>
                        </div>
                    </li>
                    
                      <li class="listRow click_disable">
                        <div class="notificationHeading">Receive Self-Assessments</div> 
                        <div class="switch">
                            <input type="checkbox" class="cmn-toggle cmn-toggle-round" id="cmn-toggle-05"  <?php echo (($this->receive_self_assesment == 1) ? 'checked' : '' ) ?>  >
                            <label for="cmn-toggle-05" class="disable_click" onClick="updatePrivacy('receive_self_assesment', '<?php echo $this->receive_self_assesment ?>', '<?php echo $this->userId ?>');"></label>
                        </div>
                    </li>
                    <li class="listRow click_disable">
                        <div class="notificationHeading">Share My Demographic Information With Other Users</div> 
                        <div class="switch">
                            <input type="checkbox" class="cmn-toggle cmn-toggle-round" id="cmn-toggle-03" <?php echo (($this->demographic_info == 1) ? 'checked' : '' ) ?> >
                            <label for="cmn-toggle-03" class="disable_click" onClick="updatePrivacy('demographic_info', '<?php echo $this->demographic_info ?>', '<?php echo $this->userId ?>');"></label>
                        </div>
                    </li>
                    <li class="listRow click_disable">
                        <div class="notificationHeading">Receive Care</div> 
                        <div class="switch">
                            <input type="checkbox" class="cmn-toggle cmn-toggle-round" id="cmn-toggle-08" <?php echo (($this->want_takecare == 1) ? 'checked' : '' ) ?> >
                            <label for="cmn-toggle-08" class="disable_click" onClick="updatePrivacy('want_takecare', '<?php echo $this->want_takecare ?>', '<?php echo $this->userId ?>');"></label>
                        </div>
                    </li>
                     <li class="listRow">
                        <div class="notificationHeading">Receive Newsletter</div> 
                        <div class="switch">
                            <input type="checkbox" class="cmn-toggle cmn-toggle-round" id="cmn-toggle-07" <?php echo (($this->news_latter == 1) ? 'checked' : '' ) ?> >
                            <label for="cmn-toggle-07" onClick="updatePrivacy('news_latter', '<?php echo $this->news_latter ?>', '<?php echo $this->userId ?>');"></label>
                        </div>
                    </li>
<!--                    <li class="listRow">
                        <div class="notificationHeading">Receive Studies</div> 
                        <div class="switch">
                            <input type="checkbox" class="cmn-toggle cmn-toggle-round" id="cmn-toggle-04"  <?php echo (($this->receive_study == 1) ? 'checked' : '' ) ?>>
                            <label for="cmn-toggle-04" onClick="updatePrivacy('receive_study', '<?php echo $this->receive_study ?>', '<?php echo $this->userId ?>');"></label>
                        </div>
                    </li>
                  -->
                   
                   
                    
                    
                </ul>
            </form>
        </div>
    </div>
    <style>
        .click_disable
        {
            background-color:#dddddd;
        }
    </style>
    <script>
$(document).ready(function(e) {
<?php if ($this->panel_member == 0) { ?>
           $('li.listRow').find('disable_click').addClass('click_disable');
          if ($('li.listRow').hasClass('click_disable'))
            {
             $('li.listRow').find('#cmn-toggle-03,#cmn-toggle-08').attr("disabled", true);
             $('li.listRow').find('.disable_click').prop('onclick', null).off('click');
            }
            
<?php } else { ?>
            $('li.listRow').removeClass('click_disable');
            $('li.listRow').find('input').removeAttr("disabled");
            //$('li.listRow').find('.disable_click').prop('onclick', true).off('click');
<?php } ?>

        });</script>
    <script type="text/javascript">
                function updatePanelMember(fieldName, fieldValue, userId,type){
                 if(type==='undefined'){
                     type='';
                 }
                if (fieldValue == 1){
                if (confirm('Your FREE Premium Membership enables you to Connect with Others, Receive or Give Care, and/or Participate in Research.To switch to Basic Membership, click OK.  To maintain your Premium Membership status and benefits, click Cancel.')){
                $.ajax({
                type: "POST",
                        url: "/individual/ajax/updatepanelmember",
                        data: {field_name: fieldName, field_value: fieldValue, user_id: userId, type: type},
                        success: function(res) {
                        if (res == "success") {
                        $("#msg").html();
                                $("#msg").html("<lable class='successMsg' style='display: block;'> <span class='ui_icon success' ></span> Setting update successfully </lable>");
                                setTimeout(function() {
                                $(".successMsg").hide('slow')
                                        location.reload();
                                }, 1000);
                        } else {
                        $("#msg").html();
                                $("#msg").html("<lable class='errorMsg' style='display: block'> <span class='ui_icon error'></span> Something happening wrong </lable>");
                                setTimeout(function() {
                                $(".errorMsg").hide('slow')
                                }, 1000);
                        }
                        }
                });
                } else{
                location.reload();
                }
                } else{
                $.ajax({
                type: "POST",
                        url: "/individual/ajax/updatepanelmember",
                        data: {field_name: fieldName, field_value: fieldValue, user_id: userId, type: type},
                        success: function(res) {
                        if (res == "success") {
                        $("#msg").html();
                                $("#msg").html("<lable class='successMsg' style='display: block;'> <span class='ui_icon success' ></span> Setting update successfully </lable>");
                                setTimeout(function() {
                                $(".successMsg").hide('slow')
                                        location.reload();
                                }, 1000);
                        } else {
                        $("#msg").html();
                                $("#msg").html("<lable class='errorMsg' style='display: block'> <span class='ui_icon error'></span> Something happening wrong </lable>");
                                setTimeout(function() {
                                $(".errorMsg").hide('slow')
                                }, 1000);
                        }
                        }
                });
                }


                }
        function updatePrivacy(fieldName, fieldValue, userId, type){
        if(type==='undefined'){
                     type='';
                 }
        $.ajax({
        type: "POST",
                url: "/individual/ajax/updatesettings",
                data: {field_name: fieldName, field_value: fieldValue, user_id: userId, type: type},
                success: function(res) {
                if (res == "success") {
                $("#msg").html();
                        $("#msg").html("<lable class='successMsg' style='display: block;'> <span class='ui_icon success' ></span> Setting update successfully </lable>");
                        setTimeout(function() {
                        $(".successMsg").hide('slow')
                               location.reload();
                        }, 1000);
                } else {
                $("#msg").html();
                        $("#msg").html("<lable class='errorMsg' style='display: block'> <span class='ui_icon error'></span> Setting update successfully </lable>");
                        setTimeout(function() {
                        $(".errorMsg").hide('slow')
                                location.reload();
                        }, 1000);
                }
                }
        });
        }

        function updatePrivacysel(fieldName, fieldValue, userId) {
        var current_val = $("#survay_per_month").val().trim();
                if (current_val != '')
                $.ajax({
                type: "POST",
                        url: "/individual/ajax/updatesettings",
                        data: {field_name: fieldName, field_value: current_val, user_id: userId},
                        success: function(res) {
                        if (res == "success") {
                        $("#msg").html();
                                $("#msg").html("<lable class='successMsg' style='display: block;font-color:green'> <span class='ui_icon success'></span> Setting update successfully </lable>");
                                setTimeout(function() {
                                $(".successMsg").hide('slow')
                                        location.reload();
                                },  1000);
                        } else {
                        $("#msg").html();
                                $("#msg").html("<lable class='errorMsg' style='display: block'> <span class='ui_icon error'></span> Setting update successfully </lable>");
                                setTimeout(function() {
                                $(".errorMsg").hide('slow')
                                        location.reload();
                                }, 1000);
                        }
                        }
                });
        }
    </script>
</div>
<!--Container end here--> 