<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE Individual SETTINGS.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 22/01/2015.
 * UPDATED: 22/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));

?>
<!-- Left menu Section end here -->

<div id="content-wrapper" class="clearfix">
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Researchers</div>
<!--        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li class="active"><a href="/individual-researchers-settings">Researchers</a><span class="border"></span></li>
             </ul>
        </div>-->
<!--        <div class="pgh_mWrap">
             <div class="pgh_menu">
                <a href="/individual-researchers-settings" class="item">Accepted</a>
                <a href="/individual-researchers-request" class="item selected">Request</a>
           </div>
       </div>-->
   </div>
    <div class="pageWrapper">
    	<div class="table table_box_shadow cb_Grid geofence_grid peopleTable">
            <div class="row clearfix">
                <div class="col wd70">
                    <span class="txt clearfix" style="cursor:pointer;"  onclick="gppOpen('viewHistoryDetails');">
                        <div class="user_img"><img src="img/data/profile.jpg" alt="" /></div>
                        <h3>32 yrs, F from London UK</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                    </span>
                </div>
                <div class="col wd30">
                    <span class="txt clearfix">
                    	<div class="actionButtonWrapper">
                            <a href="javascript:void(0);" class="global_actionButton deny">Deny</a>
                        </div>
                    </span>
                </div>
            </div>            
            <div class="row clearfix">
                <div class="col wd70">
                    <span class="txt clearfix" style="cursor:pointer;"  onclick="gppOpen('viewHistoryDetails');">
                        <div class="user_img"><img src="img/data/profile.jpg" alt="" /></div>
                        <h3>32 yrs, F from London UK</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                    </span>
                </div>
                <div class="col wd30">
                    <span class="txt clearfix">
                    	<div class="actionButtonWrapper">
                            <a href="javascript:void(0);" class="global_actionButton deny">Deny</a>
                        </div>
                     </span>
                 </div>
            </div>            
            <div class="row clearfix">
                <div class="col wd70">
                    <span class="txt clearfix" style="cursor:pointer;"  onclick="gppOpen('viewHistoryDetails');">
                        <div class="user_img"><img src="img/data/profile.jpg" alt="" /></div>
                        <h3>32 yrs, F from London UK</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                    </span>
                </div>
                <div class="col wd30">
                    <span class="txt clearfix">
                    	<div class="actionButtonWrapper">
                            <a href="javascript:void(0);" class="global_actionButton deny">Deny</a>
                        </div>
                     </span>
                 </div>
            </div>            
        </div>
    </div>
	<style>
        .cb_Grid .row .col .txt, .cb_Grid .row .col .txt1,.cb_Grid{
            text-align:left;
			border:0;
			display:table;
			width:100%;
        }
    </style>

</div>
 <!--Container end here--> 