<div id="divDisconnect" style="padding-bottom: 5px;"></div>
<div class="table table_box_shadow cb_Grid geofence_grid peopleTable">
    <?php if (!count($this->connectedUser)) { ?><div class="errorMsg" style="display: block !important">
            <span class="ui_icon error"></span>No Data found </div> <?php } else {
        ?>
        <div class="userList">
            <?php
            foreach ($this->connectedUser as $key => $value) {
                ?>

                <div class="row clearfix" id="<?= $value['hash'] ?>">
                    <div class="col wd65">
                        <span class="txt clearfix" style="cursor:pointer;"  onclick="getAddedBeconDetails('<?= $value['UserID'] ?>');">
                            <div class="user_img">
                                <?php
                                if (!empty($value['Image'])) {
                                    $imgurl = $this->Resize($this->serverUrl() . "/upload_image/" . $value['UserID'] . "/", $value['Image'], 100, 80);
                                } else {
                                    $imgurl = "/img/profile_image_avtar.png";
                                }
                                ?>                          
                                <img src="<?= $imgurl; ?>" alt="Profile image" class="uploadProfilePic_img" />

                            </div>
                            <h3><?= $value['FirstName'] . " " . $value['LastName'] ?></h3>
                            <p><?php
                                $age = $this->plugin->GetAge($value['Dob']);
                                if ($age != "0") {
                                    echo $age . " Yrs";
                                } echo "  from " . $value['state_name'] . ", " . $value['country_name']
                                ?></p>
                        </span>
                    </div>
                    <div class="col wd35">
                        <span class="txt clearfix">
                            <a href="#" class="global_actionButton follow" onclick="return disconnectPeople('<?= $value['hash'] ?>')" >Disconnect</a>
                            <a href="javascript:void(0);" class="global_actionButton follow" onclick="gppOpen('userSrchData');
                                                writeEmail('<?= $value['Email'] ?>')" >Send Mail</a>
                        </span>
                    </div>

                </div> 
            <?php } ?>
            <li><a class="jscroll-next" href="individual-people?page=<?= base64_encode($page); ?>"></a></li>
        </div>
        <?php
    }
    ?>	
    <script>
        function disconnectPeople(hash) {
            if (confirm("Do you want to disconnect this user?")) {
                $(".global_loader").show();
                $.ajax({
                    type: "POST",
                    url: "/individual/people/disconnect",
                    data: {hash: hash},
                    success: function(res) {
                        if (res == 1) {
                            $(".global_loader").hide('fast');
                            $("#" + hash).hide();
                            $('#divDisconnect').html("<font color='green'>User disconnected successfully.</font>");
                            setTimeout(function() {
                                window.location.href = "/individual-people";
                            }, 2500);
                        } else {

                        }
                    }

                });
            } else {
                return false;
            }

        }
    </script>
</div>    
