<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE TOP-MENU FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 12/11/2014.
 * UPDATED: 07/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('Caregiver');
$UserArr = $this->_sessionObj->userDetails;
$userId = $this->_sessionObj->userDetails['UserID'];
if ($UserArr['Image']) {
    $image = $this->serverUrl() . "/upload_image/" . $UserArr['UserID'] . "/" . $UserArr['Image'];
} else {
    $image = $this->serverUrl() . "/img/health_matrix_logo_prelogin.png";
}
//$basename = basename($_SERVER["REQUEST_URI"]);
$explodurl = explode("/", $_SERVER["REQUEST_URI"]);
$basename = $explodurl[1];
//echo $basename;die;
?>

<script>

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ')
                c = c.substring(1);
            if (c.indexOf(name) == 0)
                return c.substring(name.length, c.length);
        }
        return "";
    }

    $(document).ready(function() {
        var menu = getCookie("menublock");
        var Obj = '';
        var status = false;
        if (menu == '0') {
            $('.left_menu_section ul li').each(function() {

                if ($(this).hasClass('active')) {
                    Obj = $(this);
                    status = true;
                }

            })
            $('.bodyMeser').click();
            if (status) {
                Obj.addClass('active');
            }
            $('.bodyMeser').attr('custom', '0');
        }

        $('.bodyMeser').click(function() {
            var status = $(this).attr('custom');
            if (status == '1') {
                document.cookie = "menublock=0";
                $(this).attr('custom', '0');
            } else {
                document.cookie = "menublock=1";
                $(this).attr('custom', '1');
            }
        });
    })
</script>

<!-- Left menu Section start here -->
<div class="left_menu_section left_menu_caregiver">


    <a href="javascript:void(0);" class="left_panel_menu_button"></a>
    <div class="overlay"></div>
    <!-- Loggedin User information for mobile HTML start -->
    <div class="userInfo">
        <div class="profile_pic bdr_rds_circle">
            <img src="<?php echo $image; ?>" alt=""/>
        </div>
        <div class="loggedIn_user"><?php echo $UserArr['FirstName'] . " " . $UserArr['LastName']; ?></div>
        <div class="uiddr_menu">
            <ul class="clearfix">
                <li class="logout"><a href="/caregiver/index/logout">Sign out</a></li>
                <li><a href="/cg-basic-info">My Profile</a></li>
                <!--                <li><a href="/individual-privacy-settings">Settings</a></li>-->
                <li><a href="javascript:void(0);" onclick="gppOpen('changePass');">Change Password</a></li>
            </ul>
        </div>
    </div>
    <!-- Loggedin User information for mobile end start -->
    <?php
    //echo $basename;die;
    $active_dsh = '';
    if ($basename == 'cg-dashboard' || $basename == 'cg-user-dashboard' || $basename == 'cg-user-profile' ||
            $basename == 'cg-usercontact-profile' || $basename == 'cg-userprofile' ||
            $basename == 'cg-pending-request' || $basename == 'cg-pending-request' || $basename == 'cg-individual-list'
    ) {
        $active_dsh = 'active';
    }
    $threshold = array("cg-bodymeasurment", "cg-steps&comm", "cg-cholestrol", "cg-blood+pressure", "cg-fasting+glucose", "cg-temperature"
        , "cg-sleep", "cg-physical+activity");

    $subcription = array("cg-subscription", "cg-subs-billing", "cg-subs-crrstatus");
    $dashborad = array("cg-user-profile", "cg-dashboard", "cg-user-dashboard","cg-user-profile","cg-usercontact-profile","cg-userprofile"
        ,"cg-pending-request","cg-individual-list","cg-list-becones","cg-track-moves","cg-followongps");
    ?>
    <ul class="menuWrap">
        <li class="ui-tab  <?php if(in_array($basename, $dashborad)){echo "active";
        }  ?>">
            <a href="<?php echo $this->basePath(); ?>/cg-dashboard" class="anchor" >
                <span class="icon people"></span>Care Recipient
            </a>
        </li>
        <?php
        $active_body_maesurment = '';
        //$active_body_maesurment_tab = '';
        $active_body_maesurment_tab = "style='display: block;'";
        $conver = strrchr($basename, '?');
        if ($conver) {
            $basename = substr($basename, 0, strpos($basename, '?'));
        }
        ?>

        <li class="ui-tab <?php if (in_array($basename, $threshold)) {
            echo "active";
        } ?>">
            <a href="/cg-bodymeasurment" class="anchor">
                <span class="icon weight_management"></span>Threshold Matrix
            </a>
        </li>
        <li class="ui-tab <?php if (in_array($basename, $subcription)) {
            echo "active";
        } ?>">
            <a href="/cg-subscription" class="anchor">
                <span class="icon history"></span>Subscription
            </a>
        </li>

    </ul>    
</div>

<script type="text/javascript">

//    $(document).ajaxStart(function() {
//        $.ajax({
//            type: "POST",
//            url: "/caregiver/caregiverajax/notLogin",
//            success: function(res) {
//                if (res != '') {
//                    window.location.href = res;
//                }
//            }
//        });
//    });

</script>
<!-- Left menu Section end here -->
