<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE BLOG LIST.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 25/03/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->flashMessenger()->clearMessages();
$this->headTitle($this->translate($this->pageTitle));
 $form->setAttribute("action", "/admin-edit-blogs/$this->blogId");
//$form->setAttribute('action',$this->url('Defalt BlogEdit'), array('action' => 'editblog'));
$form->prepare();

?>
<script>
$(document).ready(function() {
    $(".classy-editor").ClassyEdit();
});
</script>
<style>
    .addBlogPost .row ul.error{
        position:relative;
        clear: both;
        margin-left: 170px;
    }
    .formWrapperContainer .row .input.editorInput{ 
        border: 0px!important; 
        background: none;
        padding:0px;
    }
    .formWrapperContainer .row .input.editorInput .classyedit{
        background:#fff;
        border:1px solid rgb(198, 198, 198);
    }
    
</style>
<!-- MAIN PAGE START HERE. -->
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Blog</div>
              <div class="pgh_mT clearfix">
                <h3>Update  Blog</h3>
              </div>
        </div>
         <div class="formContainer formWrapperContainer addBlogPost">
               <?php 
             
               foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <?php  echo $this->form()->openTag($form); 
         echo $this->formElement($form->get('blog_id'));              
        ?> 
        <div class="row clearfix" style="position: relative;">
             <label>Blog Title *:</label>
             <div class="input">
                   <?php  echo $this->formElement($form->get('title')); ?>               
             </div>
               <?= $this->formElementErrors($form->get('title'), array('class' => "error")); ?>
         </div>
        <div class="row clearfix">
             <label>Long  Description *:</label>
             <div class="input editorInput">
                  <?php  echo $this->formElement($form->get('long_description')); ?>
                </div>
                <?= $this->formElementErrors($form->get('long_description'), array('class' => "error")); ?>
           
         </div>
        <div class="row clearfix">
            <label>Short  Description *:</label>
             <div class="input">
                      <?php  echo $this->formElement($form->get('short_description')); ?>                   
             </div>
            <?= $this->formElementErrors($form->get('short_description'), array('class' => "error")); ?>
          
         </div>
        <div class="row clearfix" style="position: relative;">
            <label>Category *:</label>
             <div class="input">
                  <?php  echo $this->formElement($form->get('category_id')); ?> 
                 <span class="ui-fldValid cat_name loader"></span>
             <?php  echo $this->formElement($form->get('category')); ?>  
                       <ul id="append-cat_list" class="ui-ddr"></ul>
             </div>
             <?= $this->formElementErrors($form->get('category'), array('class' => "error")); ?>
         </div>
             
        <div class="row clearfix">
            <label>Author *:</label>
             <div class="input">               
                   <?php  echo $this->formElement($form->get('author_id')); ?> 
                 <span class="ui-fldValid auth_name loader"></span>
                 <?php  echo $this->formElement($form->get('author')); ?>
                    <ul id="append-auth_list" class="ui-ddr"></ul>
             </div>
             <?= $this->formElementErrors($form->get('author'), array('class' => "error")); ?>
            
         </div>
             <div class="row clearfix">
            <label>Image :</label>
            <div class="input">            
                   <?php  echo $this->formElement($form->get('blog_image')); ?> 
            </div>
             <p class="help-block">Allowed files are jpg, png, gif, jpeg.</p>
            <?= $this->formElementErrors($form->get('blog_image'), array('class' => "error")); ?>
          
         </div>
        <div class="row clearfix">
            <label>Status *:</label>
            <div class="inselect">
             <div class="select">
                   <?php  echo $this->formElement($form->get('status')); ?>                   
             </div>
            </div>
            <?= $this->formElementErrors($form->get('status'), array('class' => "error")); ?>
   
         </div>

            <div class="input_button">            
                <?php  echo $this->formElement($form->get('submit')); ?>           
         </div>
         <?php  //echo $this->formElement($form->get('cancle')); ?>
         <?php  echo $this->form()->closeTag(); ?>
         </div>
        
    </div>
</div>

<script type="text/javascript">
    var priveous = "";
     function suggestNameOfAuthor(event) {
           var author = $(event).val().trim();
           if(author.length> 2){
              priveous =  author;
               $('.ui-fldValid.auth_name').show().addClass('loader');
           var ajaxUrl = "<?= $this->basePath(); ?>/admin/blog/authorlist";
            $.get(
                    ajaxUrl,
                    {
                        author_name: author,
                        //ass_id: assId,
                    },
                    function (data) {
                        $("#append-auth_list").html(data);
                        $('.ui-fldValid.auth_name').removeClass('loader');
                       
                    }
            );
              
           }
     }
     
    function suggestNameOfCat(event) {
           var category = $(event).val().trim();
           if(category.length> 2){
              priveous =  category;
               $('.ui-fldValid.cat_name').show().addClass('loader');
           var ajaxUrl = "<?= $this->basePath(); ?>/admin/blog/catlist";
            $.get(
                    ajaxUrl,
                    {
                        cat_name: category,
                        //ass_id: assId,
                    },
                    function (data) {
                        $("#append-cat_list").html(data);
                        $('.ui-fldValid.cat_name').removeClass('loader');
                       
                    }
            );
              
           }
     }
</script>
