<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE BLOG LIST.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 25/03/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
//$this->flashMessenger()->clearMessages();
$this->headTitle($this->translate($this->pageTitle));
$PluginController = $this->PluginController;
?>
<style>
            .blogRow .ql_menu{ top:0px; margin-top:0px;}
   .blogRow h2{ padding-right:40px;}
   .blogRow .ql_menu .qlm_option ul li a{ font-size: 15px;}
   .show-image{
       width: 100px;
float: left;
padding-right: 18px;
   }
            </style>

<div id="content-wrapper" class="clearfix">
  <div class="pageWrapper">
    <div class="pghFixed">
      <div class="pgh_title">| Blog</div>
      <div class="pgh_mT clearfix">
             <h3>Blog List</h3>
             <a class="create-new" href="/admin-add-blogs">Create New</a>
       </div>
    </div>
    
    <div class="formWrapperContainer blogshortby">
           <form action="" method="get" name="blogFilterForm" id="blogFilterForm">
        <div class="row clearfix">            
            <div class="fsr_cols">
                <div class="select">
                  <select title="Filter By" class="select" name="sort" id="blogFilter">
                            <option value="">Filter By</option>
                            <option value="all" <?php echo (($this->sort=="all")? 'selected' : '') ?>>All</option>
                            <option value="montha" <?php echo (($this->sort=="montha")? 'selected' : '') ?>>Month Ascending </option>
                            <option value="monthd" <?php echo (($this->sort=="monthd")? 'selected' : '') ?>>Month Descending </option>
                            <option value="cata" <?php echo (($this->sort=="cata")? 'selected' : '') ?>>Category Ascending</option>
                            <option value="catd" <?php echo (($this->sort=="catd")? 'selected' : '') ?>>Category Descending</option>
                            <option value="autha" <?php echo (($this->sort=="autha")? 'selected' : '') ?>>Author Name Ascending</option>
                            <option value="authd" <?php echo (($this->sort=="authd")? 'selected' : '') ?>>Author Name Descending</option>      
                  </select>
                </div>
            </div>
        </div>  
           </form>
    </div>
           <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
    <?php if(count($this->blogData) > 0){ 
          $month_blog = array();
     foreach ($this->blogData as $bvale) {
         
                  $blog_id = $PluginController->encryptdata($bvale['blog_id']);
                 $month_blog_list = date("F Y", $bvale['creation_date']); // current month list 
                    $show_data = date("F", $bvale['creation_date']);
                    if ($sort == 'cata' || $sort == 'catd') {
                        $month_blog_list = $bvale['cat_id'];
                        $show_data = $bvale['cat_name'];
                    }
                     if ($sort == 'autha' || $sort == 'authd') {
                        $month_blog_list = $bvale['author_id'];
                        $show_data = $bvale['author_name'];
                    }
        ?>
           <?php if (!in_array($month_blog_list, $month_blog)) { ?>
    <div class="blogMonth"><?php echo $show_data; ?></div>
           <?php } ?>
              <?php 
                 $month_blog[] = date("F Y", $bvale['creation_date']); // append year in list
                    if ($sort == 'cata' || $sort == 'catd' ) {
                        $month_blog[] = $bvale['cat_id']; // append category in list
                    }
                    if ($sort == 'autha' || $sort == 'authd') {
                        $month_blog[] = $bvale['author_id']; // append category in list
                    }
                    ?>
    <!--div class="blogList">-->
             <div class="blogRow">
                 <div class="show-image" >
                     <?php if(!empty($bvale['blog_image'])){ $imge= $bvale['blog_image'];  ?>
                     <img src="/uploads/blogs/<?=$imge?>" width="100" height="100" >
                    <?php  } ?>
                 </div>
                 <div>
                <?php $suman = "&nbsp;&nbsp;/&nbsp;&nbsp;<span style='color:#EE3923;'>Incative</span>"; ?>
        	<h3>Published on <?php echo date("d M, Y", $bvale['creation_date']); ?> <?php echo (($bvale['status']==0)? "$suman" : ""); ?>
                </h3>
                
                 <h2 style="position:relative;">
                     <a href="/admin-blog-details/<?= $blog_id ?>"><?php echo $bvale['title']; ?></a>
                    <div class="ql_menu">
                <div class="qpm_btn"></div>
                    <div class="qlm_option"> <span class="arrow"></span>
                      <ul class="clearfix">
                        <li><a href="/admin-edit-blogs/<?= $blog_id ?>">Edit</a></li>
                        <li><a href="/admin-blog-details/<?= $blog_id ?>">View</a></li>
                      </ul>
                    </div>
              </div>
                </h2>
            <div class="brCat">Category: <?php echo $bvale['cat_name']; ?></div>
             <a href="/admin-blog-details/<?= $blog_id ?>">
                
            <div class="brDetail">
                <p><?php echo $bvale['short_description']; ?></p>
            </div>
             </a>
                 </div>
        </div>     
    <!--/div>-->
     <?php }}else{ ?>    
     <div class="blogMonth">Sorry no record found!</div>
    <?php } ?>
  </div>
    

<div class="pagination pagination-centered clearfix">
            <!------pagination start ------->
            <div class="stripSecond">
                <?php
                // add at the end of the file after the table
                if (count($this->blogData)) {
                
                    echo $this->paginationControl($this->blogData, 'Jumping', array('paginav/paginators', 'BlogIs'), array('route' => 'Defalt BlogList', 'routeParams' => $this->routeParams));
                } else {
                    ?>
                    <div id="news19" class="advertiserRow">
                        <div class="advertiserListRow bdr_rds2 no_record_found clearfix">                     
                        </div>
                    </div>
                    <?php
                }
                ?>
            </div>
            <!------pagination end ------->
        </div>
</div>
<!--Container end here--> 

<script type="text/javascript">
    $(document).ready(function () {
        $("#blogFilter").change(function () {
            var fval = $("#blogFilter").val().trim();
            if (fval != '') {
                $('#blogFilterForm').submit();
            }

        });
    });
</script>
