<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE BLOG DETAILS.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/03/2015.
 * UPDATED: 30/03/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
<style>
            .blogRow .ql_menu{ top:0px; margin-top:0px;}
   .blogRow h2{ padding-right:40px;}
            .show-image{
                float: left;
                margin:0 10px 10px 0;
            }
            .show-image img{
                max-width:400px;
            }
            </style>

<div id="content-wrapper" class="clearfix">
  <div class="pageWrapper">
    <div class="pghFixed">
      <div class="pgh_title">| Blog</div>
      <div class="pgh_mT clearfix">
             <h3><a href="/admin-blogs">Blog List</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>Blog Details</span></h3>
             <a class="create-new" href="/admin-add-blogs">Create New</a>             
       </div>
    </div>

    <div class="blogRow detail">
           <div class="ql_menu">
                <div class="qpm_btn"></div>
                    <div class="qlm_option"> <span class="arrow"></span>
                      <ul class="clearfix">
                        <li><a href="/admin-edit-blogs/<?php echo $this->blogId; ?>">Edit</a></li>
     <!--                    <li><a href="#">Delete</a></li>-->
                      </ul>
                    </div>
              </div>
        <h2><a href="#"><?php echo ((isset($this->blogData['title']) && !empty($this->blogData['title']))? $this->blogData['title'] : '')?></a></h2>
            <div class="brCat"> <?php echo ((isset($this->blogData['cat_name']) && !empty($this->blogData['cat_name']))? "Category: ".$this->blogData['cat_name'] : '')?></div>
            <div class="brAuther">
                <?php echo ((isset($this->blogData['author_name']) && !empty($this->blogData['author_name']))? "Author: ".$this->blogData['author_name'] : '')?>
                
             <?php echo ((isset($this->blogData['creation_date']) && !empty($this->blogData['creation_date']))? "|  Published on : ".date("d-m-Y",$this->blogData['creation_date']) : '')?>
               
            </div>
            <div class="brDetail clearfix" style="position: relative;">
                <div class="show-image" >
                     <?php if(!empty($this->blogData['blog_image'])){ $imge= $this->blogData['blog_image'];  ?>
                     <img src="/uploads/blogs/<?=$imge?>"  >
                    <?php  } ?>
                 </div>
                  <?php echo ((isset($this->blogData['long_description']) && !empty($this->blogData['long_description']))? stripcslashes($this->blogData['long_description']) : '')?>
          
             </div>
        </div>
    
    
  </div>
</div>
<!--Container end here--> 