<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE BECONE OF USER BY CAREGIVER.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 07/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
$UserID = (isset($this->userDetails[0]['UserID']) ? $this->userDetails[0]['UserID'] : "");
$fName = (isset($this->userDetails[0]['FirstName']) ? $this->userDetails[0]['FirstName'] : "");
$lName = (isset($this->userDetails[0]['LastName']) ? $this->userDetails[0]['LastName'] : "");
$Gender = (isset($this->userDetails[0]['Gender']) ? strtoupper($this->userDetails[0]['Gender']) : "");
$dob = (isset($this->userDetails[0]['Dob']) ? $this->userDetails[0]['Dob'] : "");
$StateName = (isset($this->userDetails[0]['state_name']) ? $this->userDetails[0]['state_name'] : "");
$CounName = (isset($this->userDetails[0]['country_name']) ? $this->userDetails[0]['country_name'] : "");
$img = (isset($this->userDetails[0]['Image']) ? $this->userDetails[0]['Image'] : "");
$img_icon = $this->serverUrl() . "/images/drag_arrow.png"; //google map drag icon
//echo $s;exit;
?>
<style>
    #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
    }
    .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    .pac-container {
        font-family: Roboto;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }

    #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

<script type="text/javascript">
    /**
     * A distance widget that will display a circle that can be resized and will
     * provide the radius in km.
     *
     * @param {google.maps.Map} map The map to attach to.
     *
     * @constructor
     */
    var lati = <?= $this->geofenceData['latitude'] ?>;
    var longi = <?= $this->geofenceData['longitude'] ?>;
    var dist = <?= $this->geofenceData['radius'] ?>;
    function DistanceWidget(map) {

        this.set('map', map);
        this.set('position', map.getCenter());
        var marker = new google.maps.Marker({
            draggable: true,
            title: 'Move me!'
        });
        //   this.set('place', marker.getPlace());
        // Bind the marker map property to the DistanceWidget map property
        marker.bindTo('map', this);
        // Bind the marker position property to the DistanceWidget position
        // property
        marker.bindTo('position', this);
        // Create a new radius widget
        var radiusWidget = new RadiusWidget();
        // Bind the radiusWidget map to the DistanceWidget map
        radiusWidget.bindTo('map', this);
        // Bind the radiusWidget center to the DistanceWidget position
        radiusWidget.bindTo('center', this, 'position');
        // Bind to the radiusWidgets' distance property
        this.bindTo('distance', radiusWidget);
        // Bind to the radiusWidgets' bounds property
        this.bindTo('bounds', radiusWidget);
    }
    DistanceWidget.prototype = new google.maps.MVCObject();
    /**
     * A radius widget that add a circle to a map and centers on a marker.
     *
     * @constructor
     */
    function RadiusWidget() {
        var circle = new google.maps.Circle({
            strokeWeight: 2
        });
        // alert("hi");
        // Set the distance property value, default to 50km.
        this.set('distance', dist);
        // Bind the RadiusWidget bounds property to the circle bounds property.
        this.bindTo('bounds', circle);
        // Bind the circle center to the RadiusWidget center property
        circle.bindTo('center', this);
        // Bind the circle map to the RadiusWidget map
        circle.bindTo('map', this);
        // Bind the circle radius property to the RadiusWidget radius property
        circle.bindTo('radius', this);
        // Add the sizer marker
        this.addSizer_();
    }
    RadiusWidget.prototype = new google.maps.MVCObject();
    /**
     * Update the radius when the distance has changed.
     */
    RadiusWidget.prototype.distance_changed = function() {
        this.set('radius', this.get('distance') * 1000);
    };
    /**
     * Add the sizer marker to the map.
     *
     * @private
     */
    RadiusWidget.prototype.addSizer_ = function() {

        var sizer = new google.maps.Marker({
            draggable: true,
            title: 'Drag me!',
            icon: "<?= $img_icon ?>"
        });
        sizer.bindTo('map', this);
        sizer.bindTo('position', this, 'sizer_position');
        var me = this;
        google.maps.event.addListener(sizer, 'drag', function() {
            // Set the circle distance (radius)
            me.setDistance();
        });
    };
    /**
     * Update the center of the circle and position the sizer back on the line.
     *
     * Position is bound to the DistanceWidget so this is expected to change when
     * the position of the distance widget is changed.
     */
    RadiusWidget.prototype.center_changed = function() {
        var bounds = this.get('bounds');

        // Bounds might not always be set so check that it exists first.
        if (bounds) {
            //      alert("hi");
            var lng = bounds.getNorthEast().lng();
            // Put the sizer at center, right on the circle.
            var position = new google.maps.LatLng(this.get('center').lat(), lng);
            this.set('sizer_position', position);
        }
    };
    /**
     * Calculates the distance between two latlng points in km.
     * @see http://www.movable-type.co.uk/scripts/latlong.html
     *
     * @param {google.maps.LatLng} p1 The first lat lng point.
     * @param {google.maps.LatLng} p2 The second lat lng point.
     * @return {number} The distance between the two points in km.
     * @private
     */
    RadiusWidget.prototype.distanceBetweenPoints_ = function(p1, p2) {
        if (!p1 || !p2) {
            return 0;
        }

        var R = 6371; // Radius of the Earth in km 1000000.00 
        //   var R = 6371000; // Radius of the Earth in m
        var dLat = (p2.lat() - p1.lat()) * Math.PI / 180;
        var dLon = (p2.lng() - p1.lng()) * Math.PI / 180;
        var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(p1.lat() * Math.PI / 180) * Math.cos(p2.lat() * Math.PI / 180) *
                Math.sin(dLon / 2) * Math.sin(dLon / 2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var d = R * c;
        return d;
    };
    /**
     * Set the distance of the circle based on the position of the sizer.
     */
    RadiusWidget.prototype.setDistance = function() {

        // As the sizer is being dragged, its position changes.  Because the
        // RadiusWidget's sizer_position is bound to the sizer's position, it will
        // change as well.
        var pos = this.get('sizer_position');

        var center = this.get('center');
        var distance = this.distanceBetweenPoints_(center, pos);
        // Set the distance property for any objects that are bound to it
        this.set('distance', distance);
    };
    function init(latitude, longitude) {
        var mapDiv = document.getElementById('map-canvas');

        if (latitude && longitude)
        {
            var map = new google.maps.Map(mapDiv, {
                center: new google.maps.LatLng(latitude, longitude),
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            GetAddress(latitude, longitude);
        }
        else
        {
            var map = new google.maps.Map(mapDiv, {
                center: new google.maps.LatLng(lati, longi),
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            GetAddress(lati, longi);
        }
        var input = /** @type {HTMLInputElement} */(document.getElementById('location'));
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var distanceWidget = new DistanceWidget(map);
        google.maps.event.addListener(distanceWidget, 'distance_changed', function() {
            displayInfo(distanceWidget);
        });
        google.maps.event.addListener(distanceWidget, 'position_changed', function() {
            displayInfo(distanceWidget);
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }
            //reinitilize map
            init(place.geometry.location.lat(), place.geometry.location.lng());
        });
    }
    function GetAddress(lat, lng) {
        var latlng = new google.maps.LatLng(lat, lng);
        var geocoder = geocoder = new google.maps.Geocoder();
        geocoder.geocode({'latLng': latlng}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                    document.getElementById('location').value = results[1].formatted_address;
                }
            }
        });
    }
    function displayInfo(widget) {
        // var info = document.getElementById('info');
        //  info.innerHTML = 'Position: ' + widget.get('position') + ', distance: ' +  widget.get('distance');
        GetAddress(widget.get('position').lat(), widget.get('position').lng());
        document.getElementById('location_lat').value = widget.get('position').lat();
        document.getElementById('location_lang').value = widget.get('position').lng();
        document.getElementById('map_radius').value = ((widget.get('distance')) / 1.609344).toFixed(1);

    }

    google.maps.event.addDomListener(window, 'load', init);

</script>
<div id="content-wrapper" class="clearfix">
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Manage Users</div>
        <div class="caregiverUserDetails table_box_shadow" style="min-height: 65px;">
            <div class="row clearfix">
                <div class="user_img">
                    <?php
                    $imgUrl = (empty($img) ? "/img/profile_image_avtar.png" : "/upload_image/" . $UserID . "/" . $img );
                    ?>
                    <img src="<?php echo $this->serverUrl() . $imgUrl; ?>" alt="" style="max-width: 100%">
                </div>
                <h3 class="name"><?php echo $fName . " " . $lName; ?></h3>
                <p class="address"><?php echo (($dob != '000-00-00' || $dob == '') ? $CusConPlug->GetAge($dob) : ""); ?> <?php echo $Gender . " , " . $StateName . " ", $CounName; ?></p>
<!--                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">View More</a></p>-->
            </div>
        </div>
        <!-- navigation start -->
        <?php //echo $this->partial('trace_nav/trace_nav'); ?>
        <div class="pgh_mWrap">
            <div class="pgh_menu pgh_menu_top">
                <a href="/cg-list-becones/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Overview</a>
                <a href="#" class="item selected">Locate</a>
            </div>
        </div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="/cg-list-becones/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">View Becons</a>
                <a href="/cg-track-moves/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Track Moves</a>
                <a href="/cg-followongps/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item selected">Follow on GPS</a>
            </div>
        </div>
        <!-- navigation start -->
    </div>
    <div class="pageWrapper">
        <div class="doubleGraphRow clearfix">
            <div class="graphRow">
                <div class="graphBox">
                    <div class="graph">
                        <div id="map-canvas" style="width: 100%; min-height: 500px;"></div>
<!--                        <img src="img/data/google_map.jpg" alt="" style="width:100%"/>-->
                    </div>
                </div>
            </div>
            <div class="graphRow last">
                <form name="addGps" id="addGps" method="post" >
                    <div class="graphBox">
                        <div class="graph">
                            <div class="formWrapperContainer clearfix">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="editGpstable">
                                    <tr>
                                        <td colspan="2" class="heading" id="display_name_geofence"><?= $this->geofenceData['name'] ?>
                                            <input type="hidden" value="<?= $this->geofence_id ?>" name="geofence_id" />
                                            <input type="hidden" value="<?= $this->userid ?>" name="user_id" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="25%">Geofence Name</td>
                                        <td align="right">
                                            <div class="row" style="width:96%;">
                                                <div class="input">
                                                    <input type="text" name="geofence_name" placeholder="* Geofence Name" id="geofence_name" value="<?= $this->geofenceData['name'] ?>" />
                                                </div>
                                            </div>
                                        </td>

                                    <tr>
                                        <td>Location</td>
                                        <td align="right">
                                            <div class="row" style="width:96%;">
                                                <div class="input common">
                                                    <input type="text" id="location" name="location" placeholder="* set location" value="<?= $this->geofenceData['location'] ?>" />
                                                    <input type="hidden" id="location_lat" name="location_lat" id="location_lat" value="<?= $this->geofenceData['latitude'] ?>" />
                                                    <input type="hidden" id="location_lang" name="location_lang" id="location_lang" value="<?= $this->geofenceData['longitude'] ?>" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Radius</td>
                                        <td align="right">
                                            <!--                                            <div id="radius_range_slider"></div>-->
                                            <span class="radius_distance"><input type="text" readonly id="map_radius" name='map_radius' value="<?= number_format($this->geofenceData['radius'] / 1.609344, 1, '.', '') ?>"> Miles</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Email Notification</td>
                                        <td align="right">
                                            <div class="switch common">
                                                <input type="radio" class="switch-input" name="email_notification" value="1" id="week" <?= ($this->geofenceData['email_notification'] == 1 ? 'checked' : '') ?>>
                                                <label for="week" class="switch-label switch-label-off">On</label>
                                                <input type="radio" class="switch-input" name="email_notification" value="0" id="month" <?= ($this->geofenceData['email_notification'] == 0 ? 'checked' : '') ?>>
                                                <label for="month" class="switch-label switch-label-on">Off</label>
                                                <span class="switch-selection"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Notify <span class="man-star">*</span></td>
                                        <td align="right">
                                            <div class="row" style="width:96%;">
                                                <div class="select">
                                                    <select title="* Notify" class="select" name="notify_rule" id="notify_rule">
                                                        <option value="" >Select Notify</option>
                                                        <option value="1" <?= ($this->geofenceData['notify'] == 1 ? 'selected' : '') ?>>In</option>
                                                        <option value="2" <?= ($this->geofenceData['notify'] == 2 ? 'selected' : '') ?>>Out</option>
                                                        <option value="3" <?= ($this->geofenceData['notify'] == 3 ? 'selected' : '') ?>>Both</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
<!--                                    <tr>
                                        <td>Specify Time <span class="man-star">*</span></td>
                                        <td align="right">
                                            <div class="double clearfix" style="widt:96%;">
                                                <div class="row">
                                                    <div class="input">
                                    <?php
                                    $shows_from_time = date("Y-m-d") . " " . $this->geofenceData['from_time'];
                                    $from_time = $CusConPlug->convetLocalTime($shows_from_time, $time_zone);
                                    $shows_to_time = date("Y-m-d") . " " . $this->geofenceData['to_time'];
                                    $to_time = $CusConPlug->convetLocalTime($shows_to_time, $time_zone);

                                    $from_time = (isset($this->geofenceData['from_time']) ? date('h:i a', strtotime($from_time[0] . $from_time[1])) : "");
                                    $to_time = (isset($this->geofenceData['to_time']) ? date('h:i a', strtotime($to_time[0] . $to_time[1])) : "");
                                    ?>
                                                        <input type="text" id="from_time" name="from_time" class="timepickerField" placeholder="* From" value="<?= $from_time ?>" />
                                                    </div>
                                                </div>
                                                <div class="row last">
                                                    <div class="input">
                                                        <input type="text" id="to_time" name="to_time" class="timepickerField" placeholder="* To" value="<?= $to_time ?>" />
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>-->

                                    <tr>
                                        <td>Specify Time <span class="man-star">*</span></td>
                                        <td align="right">
                                            <div id="slider-range" style="width: 280px"></div>

                                            <div style="width:280px; margin-top: 10px;" class="double clearfix">
                                                <?php
                                                $from_time = date('h:i A', strtotime($this->geofenceData['from_time']));
                                                $to_time = date('h:i A', strtotime($this->geofenceData['to_time']));
                                                
                                                ?>
                                                <div class="row">
                                                    <p style="text-align: center;">From</p>
                                                    <div class="input">
                                                        <input type="text" class="" placeholder="From" name="from_time" id="start_time" readonly="readonly" value="<?= $from_time ?>"/>
                                                    </div>

                                                </div>
                                                <div class="row last">
                                                    <p style="text-align: center;">To</p>
                                                    <div class="input">
                                                        <input type="text" class="" placeholder="To" name="to_time" id="end_time" readonly="readonly" value="<?= $to_time ?>" />
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="formWrapperContainer">
                        <div class="double clearfix">
                            <div class="row">
                                <div class="input_button">
                                    <input type="submit" class="submit_button" value="Update">
                                </div>
                            </div>
                            <div class="row last">
                                <div class="input_button">
                                    <input type="button" class="submit_button cancel_button" value="Cancel">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    #map_radius{
        border: 0;
        padding: 0 2px 0 0;
        // width: 45px;
        text-align: right;
        font-size: 14px;
    }
</style>
<script>
      $("#slider-range").slider({
        range: true,
        min: 0,
        // max: 1439,
        max: 1439,
        //values: [540, 1020],
        values: [540, 1020],
        slide: slideTime
    });
    function slideTime(event, ui) {
        var val0 = $("#slider-range").slider("values", 0),
                val1 = $("#slider-range").slider("values", 1),
                minutes0 = parseInt(val0 % 60, 10),
                hours0 = parseInt(val0 / 60 % 24, 10),
                minutes1 = parseInt(val1 % 60, 10),
                hours1 = parseInt(val1 / 60 % 24, 10);
        startTime = getTime(hours0, minutes0);
        endTime = getTime(hours1, minutes1);
        $("#start_time").val(startTime);
        $("#end_time").val(endTime);
        //$("#time").text(startTime + ' - ' + endTime);
    }
    function getTime(hours, minutes) {
        var time = null;
        minutes = minutes + "";
        if (hours < 12) {
            time = "AM";
        }
        else {
            time = "PM";
        }
        if (hours == 0) {
            hours = 12;
        }
        if (hours > 12) {
            hours = hours - 12;
        }
        if (minutes.length == 1) {
            minutes = "0" + minutes;
        }
        return hours + ":" + minutes + " " + time;
    }

    $(function() {
        $('.timepickerField').timepicker({
            timeFormat: 'hh:mm tt',
            hourGrid: 4,
            minuteGrid: 10,
        });
        $(".timepickerField#from_time").timepicker("setTime", '<?= $from_time ?>');
        $(".timepickerField#to_time").timepicker("setTime", '<?= $to_time ?>');
        $("#addGps").validate({
            rules: {
                geofence_name: {
                    required: true
                },
//                status: {
//                    required: true
//                },
                location: {
                    required: true
                },
                location_lat: {
                    required: true
                },
                location_lang: {
                    required: true
                },
                email_notification: {
                    required: true
                },
                notify_rule: {
                    required: true
                },
                from_time: {
                    required: true
                },
                to_time: {
                    required: true
                }

            },
            messages: {
                geofence_name: {
                    required: "Please enter geofence name."
                },
//                status: {
//                    required: "Please select status."
//                },
                location: {
                    required: "Please select location."
                },
                location_lat: {
                    required: "Please select location."
                },
                location_lang: {
                    required: "Please select location."
                },
                email_notification: {
                    required: "Please secify notification."
                },
                notify_rule: {
                    required: "Please select when notify."
                },
                from_time: {
                    required: "Please select from time."
                },
                to_time: {
                    required: "Please select to time."
                }

            },
            submitHandler: function(form) {
                form.submit();

            },
            errorPlacement: function(error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });
    });
</script>


<!--Container end here--> 
