<?php if (count($this->geofenceUserData) > 0) { ?>
    <div class="becon_Activity" id="geofence_details" style="margin-left: 1px;">
        <?php
        $dateArr = array();
        foreach ($this->geofenceUserData as $gfvalue) {
            $show_date_time = $gfvalue['date'] . " " . $gfvalue['time'];
            $today_show = $this->CusConPlug->convetLocalTime($show_date_time, $time_zone);
            
            //$today = (new \DateTime($show_date_time, new \DateTimeZone($time_zone)));
            //$today_show = $today->format('Y-m-d H:i:s');
            $date = (isset($gfvalue['date']) ? date("d M Y", strtotime($today_show[0] . $today_show[1])) : "");
            $time = (isset($gfvalue['time']) ? date("h:i A", strtotime($today_show[0] . $today_show[1])) : "");
            $rule = (isset($gfvalue['notify']) ? ($gfvalue['notify'] == 1 ? "inside" : "outside" ) : "");
            $name = (isset($gfvalue['name']) ? $gfvalue['name'] : "");
            ?>
            <?php if (!in_array($date, $dateArr)) { ?>
                <p class="time_paragraph date"><?= $date ?></p>
            <?php } ?>
            <p class="time_paragraph"><?= $time . " " . $rule . " " . $name ?> </p>


            <?php
            $dateArr[] = $date;
        }
        ?>
    </div>
<?php } else { ?>

    <div class="errorMsg">
        <span class="ui_icon error"></span>No. record found. 
    </div>

<?php } ?>