<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE BECONE OF USER BY CAREGIVER.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 07/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
$UserID = (isset($this->userDetails[0]['UserID']) ? $this->userDetails[0]['UserID'] : "");
$fName = (isset($this->userDetails[0]['FirstName']) ? $this->userDetails[0]['FirstName'] : "");
$lName = (isset($this->userDetails[0]['LastName']) ? $this->userDetails[0]['LastName'] : "");
$Gender = (isset($this->userDetails[0]['Gender']) ? strtoupper($this->userDetails[0]['Gender']) : "");
$dob = (isset($this->userDetails[0]['Dob']) ? $this->userDetails[0]['Dob'] : "");
$StateName = (isset($this->userDetails[0]['state_name']) ? $this->userDetails[0]['state_name'] : "");
$CounName = (isset($this->userDetails[0]['country_name']) ? $this->userDetails[0]['country_name'] : "");
$img = (isset($this->userDetails[0]['Image']) ? $this->userDetails[0]['Image'] : "");

//echo $s;exit;
?>
<style>
    #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
    }
    .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    /*      #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
          }
    
          #pac-input:focus {
            border-color: #4d90fe;
          }*/

    .pac-container {
        font-family: Roboto;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }

    #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

<script>
    var center = new google.maps.LatLng(<?=$this->geofenceData['latitude']?>, <?=$this->geofenceData['longitude']?>);
    var rad = document.getElementById('map_radius');
     var map;
    var marker;
   var circle;
    function initialize() {

        var mapOptions = {
            center: center,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 17
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
      
        //  drawCirle(center,rad);   
        var input = /** @type {HTMLInputElement} */(
                document.getElementById('location'));

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
         marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29),
             draggable: true 
        });
drawCirle(center, rad);
     
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            infowindow.close();
            marker.setVisible(true);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }
            document.getElementById('location_lat').value = place.geometry.location.lat();
            document.getElementById('location_lang').value = place.geometry.location.lng();
            center = new google.maps.LatLng(place.geometry.location.lat(), place.geometry.location.lng());
            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);  // Why 17? Because it looks good.
            }
//            marker.setIcon(/** @type {google.maps.Icon} */({
//                url: place.icon,
//                size: new google.maps.Size(71, 71),
//                origin: new google.maps.Point(0, 0),
//                anchor: new google.maps.Point(17, 34),
//                scaledSize: new google.maps.Size(35, 35)
//            }));
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);
              circle.setMap(map);

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }

            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            infowindow.open(map, marker);

            // Draw a circle around the radius   
              drawCirle(center, rad);
        });

    }

    google.maps.event.addDomListener(window, 'load', initialize);
    
 
    function drawCirle(cen, radus) {
         var circle = new google.maps.Circle({
            center: cen,
            map: map,
            radius: parseFloat(radus) * 1609.3,   // IN METERS.
            // radius: parseFloat(drawCircle()) * 1609.3,         // IN METERS.
            strokeColor: "#0000FF",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "#0000FF",
            fillOpacity: 0.4
        });
        circle.setMap(map);
    }
       $(function () {
        $("#radius_range_slider").slider({
            range: "min",
            value: <?=$this->geofenceData['radius']?>,
            min: 1,
            max: 100,
            slide: function (event, ui) {
                $("#map_radius").val(ui.value);              
                rad = ui.value;
                drawCirle(center, rad);
            }
        });
        $("#map_radius").val($("#radius_range_slider").slider("value"));
    });

</script>
<div id="content-wrapper" class="clearfix">
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Manage Users</div>
        <div class="caregiverUserDetails table_box_shadow" style="min-height: 65px;">
            <div class="row clearfix">
                <div class="user_img">
                    <?php
                    $imgUrl = (empty($img) ? "/img/profile_image_avtar.png" : "/upload_image/" . $UserID . "/" . $img );
                    ?>
                    <img src="<?php echo $this->serverUrl() . $imgUrl; ?>" alt="" style="max-width: 100%">
                </div>
                <h3 class="name"><?php echo $fName . " " . $lName; ?></h3>
                <p class="address"><?php echo (($dob != '000-00-00' || $dob == '') ? $CusConPlug->GetAge($dob) : ""); ?> <?php echo $Gender . " , " . $StateName . " ", $CounName; ?></p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">View More</a></p>
            </div>
        </div>
        <!-- navigation start -->
        <?php //echo $this->partial('trace_nav/trace_nav'); ?>
        <div class="pgh_mWrap">
            <div class="pgh_menu pgh_menu_top">
                <a href="/cg-list-becones/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Overview</a>
                <a href="#" class="item selected">Locate</a>
            </div>
        </div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="/cg-list-becones/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">View Becons</a>
                <a href="/cg-track-moves/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Track Moves</a>
                <a href="/cg-followongps/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item selected">Follow on GPS</a>
            </div>
        </div>
        <!-- navigation start -->
    </div>
    <div class="pageWrapper">
        <div class="doubleGraphRow clearfix">
            <div class="graphRow">
                <div class="graphBox">
                    <div class="graph">
                        <div id="map-canvas" style="width: 100%; min-height: 500px;"></div>
<!--                        <img src="img/data/google_map.jpg" alt="" style="width:100%"/>-->
                    </div>
                </div>
            </div>
            <div class="graphRow last">
                <form name="addGps" id="addGps" method="post" >
                    <div class="graphBox">
                        <div class="graph">
                            <div class="formWrapperContainer clearfix">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="editGpstable">
                                    <tr>
                                        <td colspan="2" class="heading" id="display_name_geofence"><?=$this->geofenceData['name']?>
                                            <input type="hidden" value="<?=$this->geofence_id?>" name="geofence_id" />
                                              <input type="hidden" value="<?=$this->userid?>" name="user_id" />
                                        </td>
                                    </tr>
                                     <tr>
                                        <td width="25%">Geofence Name</td>
                                        <td align="right">
                                            <div class="row" style="width:96%;">
                                                <div class="input">
                                                    <input type="text" name="geofence_name" placeholder="* Geofence Name" id="geofence_name" value="<?=$this->geofenceData['name']?>" />
                                                </div>
                                            </div>
                                        </td>
<!--                                    </tr>
                                    <tr>
                                        <td width="25%">Status</td>
                                        <td align="right">
                                            <div class="row" style="width:96%;">
                                                <div class="select">
                                                    <select title="Status" class="select" name="status" id="status">
                                                        <option value=""> Select Status</option>
                                                        <option value="1">Active</option>
                                                        <option value="0">Deactive</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>-->
                                    <tr>
                                        <td>Location</td>
                                        <td align="right">
                                            <div class="row" style="width:96%;">
                                                <div class="input common">
                                                    <input type="text" id="location" name="location" placeholder="* set location" value="<?=$this->geofenceData['location']?>" />
                                                    <input type="hidden" id="location_lat" name="location_lat" id="location_lat" value="<?=$this->geofenceData['latitude']?>" />
                                                    <input type="hidden" id="location_lang" name="location_lang" id="location_lang" value="<?=$this->geofenceData['longitude']?>" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Radius</td>
                                        <td align="right">
                                            <div id="radius_range_slider"></div><span class="radius_distance"><input type="text" readonly id="map_radius" name='map_radius' value="<?=$this->geofenceData['radius']?>">M.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Email Notification</td>
                                        <td align="right">
                                            <div class="switch common">
                                                <input type="radio" class="switch-input" name="email_notification" value="0" id="week" <?=($this->geofenceData['email_notification']==0? 'checked' : '')?>>
                                                <label for="week" class="switch-label switch-label-off">On</label>
                                                <input type="radio" class="switch-input" name="email_notification" value="1" id="month" <?=($this->geofenceData['email_notification']==0? 'checked' : '')?>>
                                                <label for="month" class="switch-label switch-label-on">Off</label>
                                                <span class="switch-selection"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Notify <span class="man-star">*</span></td>
                                        <td align="right">
                                            <div class="row" style="width:96%;">
                                                <div class="select">
                                                    <select title="* Notify" class="select" name="notify_rule" id="notify_rule">
                                                        <option value="" >Select Notify</option>
                                                        <option value="0" <?=($this->geofenceData['notify']==0? 'selected' : '')?>>In</option>
                                                        <option value="1" <?=($this->geofenceData['notify']==1? 'selected' : '')?>>Out</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Specify Time <span class="man-star">*</span></td>
                                        <td align="right">
                                            <div class="double clearfix" style="widt:96%;">
                                                <div class="row">
                                                    <div class="input">
                                                        <input type="text" id="from_time" name="from_time" class="timepickerField" placeholder="* From" value="<?=(date("h:i a",  strtotime($this->geofenceData['from_time'])))?>" />
                                                    </div>
                                                </div>
                                                <div class="row last">
                                                    <div class="input">
                                                        <input type="text" id="to_time" name="to_time" class="timepickerField" placeholder="* To" value="<?=(date("h:i a",  strtotime($this->geofenceData['to_time'])))?>" />
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="formWrapperContainer">
                        <div class="double clearfix">
                            <div class="row">
                                <div class="input_button">
                                    <input type="submit" class="submit_button" value="Update">
                                </div>
                            </div>
                            <div class="row last">
                                <div class="input_button">
                                    <input type="button" class="submit_button cancel_button" value="Cancel">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    #map_radius{
        border: 0;
        padding: 0 2px 0 0;
        width: 45px;
        text-align: right;
        font-size: 14px;
    }
</style>
<script>
    $(function () {
        $('.timepickerField').timepicker({
            timeFormat: 'hh:mm tt',
            hourGrid: 4,
            minuteGrid: 10,           
        });
        $(".timepickerField#from_time").timepicker("setTime", '<?=(date("h:i a",  strtotime($this->geofenceData['from_time'])))?>');
        $(".timepickerField#to_time").timepicker("setTime", '<?=(date("h:i a",  strtotime($this->geofenceData['to_time'])))?>');
        $("#addGps").validate({
            rules: {
                geofence_name: {
                    required: true
                },
//                status: {
//                    required: true
//                },
                location: {
                    required: true
                },
                 location_lat: {
                    required: true
                },
                 location_lang: {
                    required: true
                },
                email_notification: {
                      required: true
                },
                notify_rule: {
                      required: true
                },
                from_time: {
                      required: true
                },
                to_time: {
                      required: true
                }
                
            },
            messages: {
                 geofence_name: {
                    required: "Please enter geofence name."
                },
//                status: {
//                    required: "Please select status."
//                },
                location: {
                    required: "Please select location."
                },
                 location_lat: {
                    required: "Please select location."
                },
                 location_lang: {
                     required: "Please select location."
                },
                email_notification: {
                      required: "Please secify notification."
                },
                notify_rule: {
                       required: "Please select when notify."
                },
                from_time: {
                       required: "Please select from time."
                },
                to_time: {
                       required: "Please select to time."
                }
                
            },
            submitHandler: function (form) {
                form.submit();

            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });
    });
</script>


<!--Container end here--> 
