<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE BECONE OF USER BY CAREGIVER.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 07/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
//$this->flashMessenger()->clearMessages();
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
$UserID = (isset($this->userDetails[0]['UserID']) ? $this->userDetails[0]['UserID'] : "");
$fName = (isset($this->userDetails[0]['FirstName']) ? $this->userDetails[0]['FirstName'] : "");
$lName = (isset($this->userDetails[0]['LastName']) ? $this->userDetails[0]['LastName'] : "");
$Gender = (isset($this->userDetails[0]['Gender']) ? strtoupper($this->userDetails[0]['Gender']) : "");
$dob = (isset($this->userDetails[0]['Dob']) ? $this->userDetails[0]['Dob'] : "");
$StateName = (isset($this->userDetails[0]['state_name']) ? $this->userDetails[0]['state_name'] : "");
$CounName = (isset($this->userDetails[0]['country_name']) ? $this->userDetails[0]['country_name'] : "");
$img = (isset($this->userDetails[0]['Image']) ? $this->userDetails[0]['Image'] : "");

//echo $s;exit;
?>

<div id="content-wrapper" class="clearfix">
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Manage Users</div>
        <div class="caregiverUserDetails table_box_shadow" style="min-height: 65px;">
            <div class="row clearfix">
                <div class="user_img">
                    <?php
                   // $imgUrl = (empty($img) ? "/img/profile_image_avtar.png" : "/upload_image/" . $UserID . "/" . $img );
                     $imgUrl = (empty($img)? "/img/profile_image_avtar.png" :  $this->Resize($this->serverUrl() . "/upload_image/" . $UserID."/", $img,100,80) );
                    
                    ?>
                    <img src="<?php echo $imgUrl; ?>" alt="" style="max-width: 100%">;
                </div>
                <h3 class="name"><?php echo $fName . " " . $lName; ?></h3>
                <p class="address"><?php echo (($dob != '000-00-00' || $dob == '') ? $CusConPlug->GetAge($dob) : ""); ?> <?php echo $Gender . " , " . $StateName . " ", $CounName; ?></p>
                <p class="description"><?=$this->userDetails[0]['short_description']?></p>
            </div>
        </div>
        <!-- navigation start -->
        <?php //echo $this->partial('trace_nav/trace_nav'); ?>
        <div class="pgh_mWrap">
            <div class="pgh_menu pgh_menu_top">
                <a href="/cg-list-becones/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Overview</a>
                <a href="#" class="item selected">Locate</a>
            </div>
        </div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="/cg-list-becones/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">View Becons</a>
                <a href="/cg-track-moves/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Track Moves</a>
                <a href="/cg-followongps/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item selected">Follow on GPS</a>
            </div>
        </div>
        <!-- navigation start -->
    </div>
    <div class="pageWrapper">
        <div id="rule_message"></div>
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?= $msg["error"]; ?>
                </div>
            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?= $msg["success"]; ?>
                </div>
            <?php endif; ?>
        <?php } ?>
        <div class="clearfix" style="margin-bottom: 10px;"> 
            <span class="filterBy_date"><input type="text" class="dateBox_calendar" id="steps_currentdate" value="<?php echo date("d M, Y", strtotime($this->today_date)); ?>" style="border:0; width: 120px" /></span> 
            <a href="/cg-followongps-add/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="AddGeofence">Geofence</a>
        </div>

        <div class="beaconDtlPge table_box_shadow clearfix">
            <?php if (count($this->geofenceData) > 0) { ?>
                <div class="becon_navigation">
                    <ul>
                        <li class="active"><span class="beacon_name" onclick="getGpsDetails('<?= $CusConPlug->encryptdata($UserID) ?>', '', '');">All</span> 
                            <input type="hidden" value="" name="geofence_id_current" id="geofence_id_current" />
                            <input type="hidden" name="current_user" id="current_user" value="<?= $CusConPlug->encryptdata($UserID) ?>" id="" />
                        </li>
                        <?php foreach ($this->geofenceData as $gvalue) { ?>
                            <li>
                                <span class="beacon_name" onclick="getGpsDetails('<?= $CusConPlug->encryptdata($UserID) ?>', '<?= $CusConPlug->encryptdata($gvalue['id']) ?>', '');"><?= $gvalue['name'] ?></span>
                                <span class="editbecon">
                                    <div class="ddMenu">
                                        <a href="/cg-followongps-edit/<?= $CusConPlug->encryptdata($UserID) ?>/<?= $CusConPlug->encryptdata($gvalue['id']) ?>" class="edit">Edit</a>
                                        <a href="javascript:void(0);" class="edit" onclick="gpsDelete('<?= $CusConPlug->encryptdata($gvalue['id']) ?>')">Delete</a>
                                    </div>

                                </span>
                            </li>
                        <?php } ?>
                    </ul>
                </div>
                <?php if (count($this->geofenceUserData) > 0) { ?>
                    <div class="becon_Activity" id="geofence_details">
                        <?php
                        $dateArr = array();
                        foreach ($this->geofenceUserData as $gfvalue) {                            
                            
                            $show_date_time = $gfvalue['date'] . " " . $gfvalue['time'];
                            $today_show = $this->CusConPlug->convetLocalTime($show_date_time, $time_zone);
                            
                            $date = (isset($gfvalue['date']) ? date('d M Y', strtotime($today_show[0] . $today_show[1])) : "");
                            $time = (isset($gfvalue['time']) ? date('h:i A', strtotime($today_show[0] . $today_show[1])) : "");
                            
                            $rule = (isset($gfvalue['notify']) ? ($gfvalue['notify'] == 1 ? "inside" : "outside" ) : "");
                           $name = (isset($gfvalue['name'])? $gfvalue['name'] : "");
                            ?>
                            <?php if (!in_array($date, $dateArr)) { ?>
                                <p class="time_paragraph date"><?= $date ?></p>
                            <?php } ?>
                            <p class="time_paragraph"><?= $time . " " . $rule." ".$name ?> </p>


                            <?php $dateArr[] = $date;
                        }
                        ?>
                    </div>
    <?php } else { ?>
                    <div class="becon_Activity" id="geofence_details">
                        <div class="errorMsg">
                            <span class="ui_icon error"></span>No. record found. 
                        </div>
                    </div>
                <?php } ?>
<?php } else { ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>No. record found. 
                </div>
<?php } ?>
        </div>
    </div>
</div>
<!--Container end here--> 

<script type="text/javascript">
    DatePicker();
    function DatePicker() {
        $(".dateBox_calendar").datepicker({
            dateFormat: 'dd M yy',
            buttonImage: '/img/calendar_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            minDate: -7,
            maxDate: 0,
            onSelect: function (dateText, inst) {
                var geofence_id = $("#geofence_id_current").val();
                var user_id = $("#current_user").val();
                getGpsDetails(user_id, geofence_id, dateText);
            }
        });
    }
    function getGpsDetails(user_id, geofence_id, data_date) {
        $("#geofence_details").html('');
        $.ajax({
            type: "POST",
            url: "/caregiver/trace/followongpslist",
            data: {user_id: user_id, geofence_id: geofence_id, data_date: data_date}
        }).done(function (res) {
            // alert(res);
            $("#geofence_details").html(res);
        });
    }

    //delete gps
    function gpsDelete(geofence_id) {
        // alert(geofence_id);
        var con = confirm("Are you want to delete ?");
        if (con) {
            $.ajax({
                type: "POST",
                url: "/caregiver/caregiverajax/deleteGeofence",
                data: {geofence_id: geofence_id}
            }).done(function (res) {
                // alert(res);
                var obj = jQuery.parseJSON(res);
                var error = obj.error;
                var msg = obj.msg;
                if (error == 1) {
                    //	$(".global_loader").hide('fast');
                    $('#rule_message').html("<font color='red'>" + msg + "</font>");
                    $('#rule_message').fadeIn('fast').delay(1000).fadeOut('slow');
                    return false;
                } else {
                    window.location.reload();
                }
            });
        }
    }
    $('.becon_navigation ul li').click(function () {
        $('.becon_navigation ul li').removeClass('active');
        $(this).addClass('active');
        $("#steps_currentdate").val('<?php echo date("d-m-Y", strtotime($this->today_date)); ?>');
        //  alert("hi");
    });
</script>
<style>
    .filterBy_date{
        display: block;
        float: left;
        background-color: #fff;
        padding-right: 6px;
    }
    .filterBy_date img{
        position: relative;
        top: 6px;
    }
</style>
