<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE BECONE OF USER BY CAREGIVER.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 07/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
$UserID = (isset($this->userDetails[0]['UserID']) ? $this->userDetails[0]['UserID'] : "");
$fName = (isset($this->userDetails[0]['FirstName']) ? $this->userDetails[0]['FirstName'] : "");
$lName = (isset($this->userDetails[0]['LastName']) ? $this->userDetails[0]['LastName'] : "");
$Gender = (isset($this->userDetails[0]['Gender']) ? strtoupper($this->userDetails[0]['Gender']) : "");
$dob = (isset($this->userDetails[0]['Dob']) ? $this->userDetails[0]['Dob'] : "");
$StateName = (isset($this->userDetails[0]['state_name']) ? $this->userDetails[0]['state_name'] : "");
$CounName = (isset($this->userDetails[0]['country_name']) ? $this->userDetails[0]['country_name'] : "");
$img = (isset($this->userDetails[0]['Image']) ? $this->userDetails[0]['Image'] : "");
//echo "<pre>";
//print_r($this->beconList);
//exit;
//echo $s;exit;
?>

<div id="content-wrapper" class="clearfix">
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Manage Users</div>
        <div class="caregiverUserDetails table_box_shadow" style="min-height: 74px;">
            <div class="row clearfix">
                <div class="user_img">
                    <?php
                    $imgUrl = (empty($img) ? "/img/profile_image_avtar.png" : $this->Resize($this->serverUrl() . "/upload_image/" . $UserID . "/", $img, 100, 80) );
                    ?>
                    <img src="<?php echo $imgUrl; ?>" alt="" style="max-width: 100%">
                </div>
                <h3 class="name"><?php echo $fName . " " . $lName; ?></h3>
                <p class="address"><?php echo (($dob != '000-00-00' || $dob == '') ? $CusConPlug->GetAge($dob) : ""); ?> <?php echo $Gender . " , " . $StateName . " ", $CounName; ?></p>
                <p class="description"><?= $this->userDetails[0]['short_description'] ?></p>
            </div>
        </div>
        <!-- navigation start -->
        <?php //echo $this->partial('trace_nav/trace_nav');  ?>
        <div class="pgh_mWrap">
            <div class="pgh_menu pgh_menu_top">
                <a href="/cg-list-becones/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Overview</a>
                <a href="#" class="item selected">Locate</a>
            </div>
        </div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="/cg-list-becones/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item selected">View Becons</a>
                <a href="/cg-track-moves/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Track Moves</a>
                <a href="/cg-followongps/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Follow on GPS</a>
            </div>
        </div>
        <!-- navigation start -->
    </div>
    <div class="pageWrapper">
        <div class="clearfix" style="margin-bottom: 10px;"> 
            <span class="filterBy_date"><input type="text" class="dateBox_calendar" id="from_date_details" value="<?php echo date("d M, Y", strtotime($this->today_date)); ?>" style="border:0; width: 120px" readonly="readonly"/></span> 
            <input type="hidden" value="" name="becon_id_current" id="becon_id_current" />
            <input type="hidden" name="current_user" id="current_user" value="<?= $CusConPlug->encryptdata($UserID) ?>" id="" />
        </div>
        <div class="beaconDtlPge table_box_shadow clearfix">
            <?php if (count($this->beconList) > 0) { ?>
                <div class="becon_navigation">
                    <ul>
                        <li class="active" onclick="getBeconDetails('<?= $CusConPlug->encryptdata($UserID) ?>', '', '');"><span class="beacon_name">All</span></li>
                        <?php
                        foreach ($this->beconList as $bvalue) {
                            $userid_enc = $CusConPlug->encryptdata($UserID);
                            $beconid_enc = $CusConPlug->encryptdata($bvalue['id']);
                            ?>
                            <li>
                                <span class="beacon_name" onclick="getBeconDetails('<?= $userid_enc ?>', '<?= $beconid_enc ?>', '');"><?php echo $bvalue['becon_title']; ?></span>
                                <?php
                                if ($bvalue['associateStatus'] == 1) {
                                    $edit_url = "/cg-beacon-rule/$userid_enc/$beconid_enc";
                                    ?>
                                    <span class="editbecon">
                                        <div class="ddMenu">
                                            <a href="<?= $edit_url ?>" class="edit">Edit</a>
                                        </div>
                                    </span>
                                <?php } ?>
                            </li>
                        <?php } ?>
                    </ul>
                </div>
                <div class="becon_Activity" id="becondatalist">
                    <?php
                    if (count($this->beconData) > 0) {
                        $dateArry = array();
                        foreach ($this->beconData as $bvalue) {
                            $show_date_time = $bvalue['date'] . " " . $bvalue['time'];
                            $today_show = $this->CusConPlug->convetLocalTime($show_date_time, $time_zone);
                            
                            $date = (isset($bvalue['date']) ? date('d M Y', strtotime($today_show[0] . $today_show[1])) : "");
                            $time = (isset($bvalue['time']) ? date('h:i A', strtotime($today_show[0] . $today_show[1])) : "");                
                            $rule = (isset($bvalue['rule']) ? ($bvalue['rule'] == 1 ? "inside" : "outside" ) : "");
                            $title = (isset($bvalue['becon_title']) ? $bvalue['becon_title'] : "");
                            $color = (isset($bvalue['rule']) ? ($bvalue['rule'] == 1 ? "green" : "red" ) : "");
                            ?> 
                            <?php if (!in_array($date, $dateArry)) { ?>
                                <p class="time_paragraph date"><?= $date ?></p>
                            <?php } ?>
                            <?php
                            if ($bvalue['rule'] == 1) {
                                $imgUrl = "/img/placeEnter.png";
                            } else {
                                $imgUrl = "/img/placeExit.png";
                            }
                            ?>
                            <p class="time_paragraph"><?= $time . " " . $rule . " " . $title ?><img src="<?php echo $imgUrl; ?>" alt="" width="27px;" style="margin-bottom:-8px;padding-left:5px;"></p>               

                            <?php
                            $dateArry[] = $date;
                        }
                    } else {
                        ?>
                        <div class="errorMsg">
                            <span class="ui_icon error"></span>No. record found. </div>
    <?php } ?>
                </div>
                <?php } else { ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>No. record found. </div>
<?php } ?>
        </div>
    </div>
</div>
<!--Container end here--> 

<script type="text/javascript">
    DatePicker();
    function DatePicker() {
        $(".dateBox_calendar").datepicker({
            dateFormat: 'dd M yy',
            buttonImage: '/img/calendar_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            minDate: -7,
            maxDate: 0,
            onSelect: function(dateText, inst) {
                var beacon_id = $("#becon_id_current").val();
                var user_id = $("#current_user").val();
                getBeconDetails(user_id, beacon_id, dateText);
            }
        });
    }


    //get becon data 
    function getBeconDetails(user_id, beacon_id, data_date) {
        $('#becondatalist').html('');
        $("#becon_id_current").val('');
        $("#becon_id_current").val(beacon_id);
        $.ajax({
            type: "POST",
            url: "/caregiver/trace/listbeacondata",
            data: {user_id: user_id, beacon_id: beacon_id, data_date: data_date}
        }).done(function(res) {
            $('#becondatalist').html(res);
        });

    }
    $('.becon_navigation ul li').click(function() {

        $('.becon_navigation ul li').removeClass('active');
        $(this).addClass('active');
        $("#from_date_details").val('<?php echo date("d-m-Y", strtotime($this->today_date)); ?>');
        //  alert("hi");
    });

</script>