<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE BECONE OF USER BY CAREGIVER.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 07/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
$UserID = (isset($this->userDetails[0]['UserID']) ? $this->userDetails[0]['UserID'] : "");
$fName = (isset($this->userDetails[0]['FirstName']) ? $this->userDetails[0]['FirstName'] : "");
$lName = (isset($this->userDetails[0]['LastName']) ? $this->userDetails[0]['LastName'] : "");
$Gender = (isset($this->userDetails[0]['Gender']) ? strtoupper($this->userDetails[0]['Gender']) : "");
$dob = (isset($this->userDetails[0]['Dob']) ? $this->userDetails[0]['Dob'] : "");
$StateName = (isset($this->userDetails[0]['state_name']) ? $this->userDetails[0]['state_name'] : "");
$CounName = (isset($this->userDetails[0]['country_name']) ? $this->userDetails[0]['country_name'] : "");
$img = (isset($this->userDetails[0]['Image']) ? $this->userDetails[0]['Image'] : "");

//echo $s;exit;
?>
<!--Add Rules popup end here-->


<div id="content-wrapper" class="clearfix"> 
    <!--Add Rules popup start here-->
    <div id="addRules" class="grobalPopup popuBxWrap">
        <div class="gppBox">
            <div class="gppbxContainer">
                <div class="gppTitle">Set Beacon Rule
                    <div onclick="gppClose('addRules');" class="gppClose">X</div>
                </div>
                <div class="formWrapperContainer pageWrapper clearfix">
                    <div id="message_respoonse"></div>
                    <form name="addRuleBeacon" id="addRuleBeacon" method="post">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="editGpstable">
                            <tr>
                                <td>Email Notification <span class="man-star">*</span></td>
                                <td align="right">
                                    <div class="switch">
                                        <input type="radio" checked="" id="emailOn" value="1" name="email_notification" class="switch-input">
                                        <label class="switch-label switch-label-off" for="emailOn">On</label>
                                        <input type="radio" id="emailOff" value="0" name="email_notification" class="switch-input">
                                        <label class="switch-label switch-label-on" for="emailOff">Off</label>
                                        <span class="switch-selection"></span> 
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Notify <span class="man-star">*</span></td>
                                <td align="right">
                                    <div style="width:220px;" class="row">
                                        <div class="select">
                                            <select class="select" title="Select Rule" name="rule" id="rule">
                                                <option value="">Select Rule</option>
                                                <option value="1">Inside</option>
                                                <option value="2">Outside</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Specify Time <span class="man-star">*</span></td>
                                <td align="right">
                                    <div id="slider-range" style="width: 210px"></div>

                                    <div style="width:220px; margin-top: 10px;" class="double clearfix">
                                        <div class="row">
                                            <p style="text-align: center;">From</p>
                                            <div class="input">
                                                <input type="text" class="" placeholder="From" name="start_time" id="start_time" readonly="readonly"/>
                                            </div>

                                        </div>
                                        <div class="row last">
                                            <p style="text-align: center;">To</p>
                                            <div class="input">
                                                <input type="text" class="" placeholder="To" name="end_time" id="end_time" readonly="readonly" />
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <input type="hidden" name="beacon_id" value="<?php echo $this->beaconid; ?>" >
                          <input type="hidden" name="user_id" value="<?php echo $this->user_id; ?>" >
                      
                    <div class="double clearfix">
                        <div class="row">
                            <div class="input_button">
                                <input type="submit" value="Add" class="submit_button" id="submit_button" />
                            </div>
                        </div>
                        <div class="row last">
                            <div class="input_button">
                                <input type="button" value="Cancel" class="submit_button cancel_button" onclick="gppClose('addRules');" />
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <div class="gppOverlay"></div>
        <style>
            .pageWrapper .editGpstable tr > td{
                border-top:0
            }
        </style>
    </div>
    <!--Add Rules popup end here-->
    <div id="editRules" class="grobalPopup popuBxWrap"></div>
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Manage Users</div>
        <div class="caregiverUserDetails table_box_shadow" style="min-height: 65px;">
            <div class="row clearfix">
                <div class="user_img">
                    <?php
                    $imgUrl = (empty($img) ? "/img/profile_image_avtar.png" : "/upload_image/" . $UserID . "/" . $img );
                    ?>
                    <img src="<?php echo $this->serverUrl() . $imgUrl; ?>" alt="" style="max-width: 100%">
                </div>
                <h3 class="name"><?php echo $fName . " " . $lName; ?></h3>
                <p class="address"><?php echo (($dob != '000-00-00' || $dob == '') ? $CusConPlug->GetAge($dob) : ""); ?> <?php echo $Gender . " , " . $StateName . " ", $CounName; ?></p>
<!--                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">View More</a></p>-->
            </div>
        </div>
        <!-- navigation start -->
        <?php //echo $this->partial('trace_nav/trace_nav'); ?>
        <div class="pgh_mWrap">
            <div class="pgh_menu pgh_menu_top">
                <a href="/cg-list-becones/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Overview</a>
                <a href="#" class="item selected">Locate</a>
            </div>
        </div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="/cg-list-becones/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item selected">View Becons</a>
                <a href="/cg-track-moves/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Track Moves</a>
                <a href="/cg-followongps/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Follow on GPS</a>
            </div>
        </div>
        <!-- navigation start -->
    </div>

    <div class="pageWrapper">
        <div id="rule_message"></div>
        <div class="boxWrap">
            <h2><?=(isset($this->becon_title)? $this->becon_title : "")?></h2>
            <div class="bw_title clearfix"><a class="AddGeofence" href="javascript:void(0);" onClick="gppOpen('addRules');">Add Rules</a></div>
            <div class="bw_list">
              
                <?php if(count($this->ruleData) >0){ ?>
                <ul class="setRulesList">
                    <?php 
                    $i=1;
                    foreach ($this->ruleData as $rdvalue) { 
                        $rule_id = $CusConPlug->encryptdata($rdvalue['rule_id']);
                        ?>
                    <li class="clearfix" id="rule_row_<?=$i?>">
                        <div class="bwl_type">When <?=(($rdvalue['rule']==1)? "Inside" : "Outside")?> specify time from <?=date("h:i A", strtotime($rdvalue['start_time']))?> to <?=date("h:i A", strtotime($rdvalue['end_time']))?></div>
                        <div class="bwl_delete">
                            <ul class="action">
                                <li class="edit"><a href="javascript:void(0);" onclick="gppOpenEdit('editRules','<?=$rule_id?>','<?=$this->beaconid?>','<?=$this->user_id?>');">Edit</a></li>
                                <li class="delete"><a href="javascript:void(0);" onclick="deleteRule('<?=$rule_id?>','<?=$i?>');">Delete</a></li>
                            </ul>
                        </div>
                    </li>
                <?php $i++;} ?>
                </ul>
                <?php }else{ ?>
                 <div class="errorMsg">
		<span class="ui_icon error"></span>Sorry no record found. 
                 </div>
                <?php } ?>
            </div>
        </div>
    </div>

</div>
<!--Container end here--> 
<script>

    $("#slider-range").slider({
        range: true,
        min: 0,
        // max: 1439,
        max: 1439,
        //values: [540, 1020],
        values: [540, 1020],
        slide: slideTime
    });
    function slideTime(event, ui) {
        var val0 = $("#slider-range").slider("values", 0),
                val1 = $("#slider-range").slider("values", 1),
                minutes0 = parseInt(val0 % 60, 10),
                hours0 = parseInt(val0 / 60 % 24, 10),
                minutes1 = parseInt(val1 % 60, 10),
                hours1 = parseInt(val1 / 60 % 24, 10);
        startTime = getTime(hours0, minutes0);
        endTime = getTime(hours1, minutes1);
        $("#start_time").val(startTime);
        $("#end_time").val(endTime);
        //$("#time").text(startTime + ' - ' + endTime);
    }
    function getTime(hours, minutes) {
        var time = null;
        minutes = minutes + "";
        if (hours < 12) {
            time = "AM";
        }
        else {
            time = "PM";
        }
        if (hours == 0) {
            hours = 12;
        }
        if (hours > 12) {
            hours = hours - 12;
        }
        if (minutes.length == 1) {
            minutes = "0" + minutes;
        }
        return hours + ":" + minutes + " " + time;
    }
    slideTime();
    function editRule(rule_id){
        alert(rule_id);
    }
      function gppOpenEdit(e,rule_id, beaconid, user_id){
           $('.global_loader').show();
            $('#'+e).html('');
	$('.popuBxWrap').fadeOut('fast');
        $('body').addClass('fixedBody');
	$('#'+e).fadeIn('fast');
        $.ajax({
                    type: "POST",
                    url: "/caregiver/trace/editrule",
                    data: {rule_id: rule_id, beaconid: beaconid,user_id: user_id }
                }).done(function (res) {
                     $('.global_loader').hide();
                     $('#'+e).html(res);
                });
	
}
    function deleteRule(rule_id,auto_id){
        //alert(rule_id);
        var con = confirm("Are you want to delete ?");
        if(con){
          $.ajax({
                    type: "POST",
                    url: "/caregiver/caregiverajax/deleteBeacnRule",
                    data:  {rule_id: rule_id}
                }).done(function( res ) {
                   // alert(res);
                     var obj = jQuery.parseJSON(res);
                    var error = obj.error;
                    var msg = obj.msg;
				if(error==1){
					//	$(".global_loader").hide('fast');
						$('#rule_message').html("<font color='red'>"+msg+"</font>");
                                                $('#rule_message').fadeIn('fast').delay(1000).fadeOut('slow');
						return false;
					}else{
						$('#rule_message').html("<font color='green'>"+msg+"</font>");						
                                                $('#rule_row_'+auto_id).remove();
                                                $('#rule_message').fadeIn('fast').delay(1000).fadeOut('slow');
						//return false;
					}
				});
                            }
    }
</script>
<script>
    $(function () {
        $("#addRuleBeacon").validate({
            rules: {
                rule: {
                    required: true
                },
                start_time: {
                    required: true
                },
                end_time: {
                    required: true
                }
            },
            messages: {
                rule: {
                    required: "Please select rule."
                },
                start_time: {
                    required: "Please set start time."
                },
                end_time: {
                    required: "Please set end time."
                }

            },
            submitHandler: function (form) {
                //form.submit();
                 $("#submit_button").prop("disabled", true);
              var dataSerilize =   $("#addRuleBeacon").serialize();
                $.ajax({
                    type: "POST",
                    url: "/caregiver/caregiverajax/setrulebecon",
                    data:  dataSerilize
                }).done(function( res ) {
                   // alert(res);
                     var obj = jQuery.parseJSON(res);
                    var error = obj.error;
                    var msg = obj.msg;
				if(error==1){
					//	$(".global_loader").hide('fast');
						$('#message_respoonse').html("<font color='red'>"+msg+"</font>");
						return false;
					}else{
						$('#message_respoonse').html("<font color='green'>"+msg+"</font>");
						$('#message_respoonse').fadeIn('fast').delay(1000).fadeOut('slow');
                                                setTimeout(function() {
								
								 location.reload(); 
						}, 2000);
						return false;
					}
				});
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });
    });
</script>
