<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE MOVE OF USER BY CAREGIVER.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 07/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
$UserID = (isset($this->userDetails[0]['UserID'])? $this->userDetails[0]['UserID'] : "");
$fName = (isset($this->userDetails[0]['FirstName'])? $this->userDetails[0]['FirstName'] : "");
$lName = (isset($this->userDetails[0]['LastName'])? $this->userDetails[0]['LastName'] : "");
$Gender = (isset($this->userDetails[0]['Gender'])? strtoupper($this->userDetails[0]['Gender']) : "");
$dob = (isset($this->userDetails[0]['Dob'])? $this->userDetails[0]['Dob'] : "");
$StateName = (isset($this->userDetails[0]['state_name'])? $this->userDetails[0]['state_name'] : "");
$CounName = (isset($this->userDetails[0]['country_name'])? $this->userDetails[0]['country_name'] : "");
$img = (isset($this->userDetails[0]['Image'])? $this->userDetails[0]['Image'] : "");
?>
<div id="content-wrapper" class="clearfix">
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Manage Users</div>
        <div class="caregiverUserDetails table_box_shadow" style="min-height: 65px;">
            <div class="row clearfix">
                <div class="user_img">
                    <?php
                    //$imgUrl = (empty($img)? "/img/profile_image_avtar.png" : "/upload_image/".$UserID."/".$img );
                     $imgUrl = (empty($img)? "/img/profile_image_avtar.png" :  $this->Resize($this->serverUrl() . "/upload_image/" . $UserID."/", $img,100,80) );
                    ?>
                    <img src="<?php echo $imgUrl;?>" alt="" style="max-width: 100%">
                </div>
                <h3 class="name"><?php echo $fName." ". $lName; ?></h3>
                <p class="address"><?php echo (($dob!= '000-00-00' || $dob=='')? $CusConPlug->GetAge($dob) : ""); ?> <?php echo $Gender." , ". $StateName." ", $CounName; ?></p>
                <p class="description"><?=$this->userDetails[0]['short_description']?></p>
            </div>
        </div>
        <!-- navigation start -->
        <?php //echo $this->partial('trace_nav/trace_nav'); ?>
         <div class="pgh_mWrap">
             <div class="pgh_menu pgh_menu_top">
                <a href="/cg-list-becones/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Overview</a>
                <a href="#" class="item selected">Locate</a>
            </div>
        </div>
         <div class="pgh_mWrap">
             <div class="pgh_menu">
                <a href="/cg-list-becones/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item ">View Becons</a>
                <a href="/cg-track-moves/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item selected">Track Moves</a>
                <a href="/cg-followongps/<?php echo $CusConPlug->encryptdata($UserID) ?>" class="item">Follow on GPS</a>
            </div>
       </div>
        <!-- navigation start -->
   </div>
    <div class="pageWrapper">
             <div class="graphBox">
                    <div class="graph_header">
                        <!--<span class="graph_title">Commute</span>-->
                         <span class="color_indicator">
                            <span class="filterBy_date"><input type="text" class="dateBox_calendar" id="steps_currentdate" value="<?php echo date("d M, Y", strtotime($this->today_date)); ?>" style="border:0; width: 120px" /></span> 
                         </span>
                    </div>
                    <div class="graph" style="max-height:350px; overflow-y:auto" id="movesgraph">
                        <?php if(count($this->movesData) > 0){ ?>
                    	<ul class="commutations_graph" >
                            <?php foreach ($this->movesData as $movvalue) {
                                if(!empty($movvalue['Duration'])){
                                        $show_date_time = $movvalue['ExerciseRecorddate'] ." ".$movvalue['ExerciseRecordtime'];
                                         // $shows_date_time = $movvalue['ExerciseRecorddate'] . " " . $movvalue['ExerciseRecordtime'];
                                $todays_show = $CusConPlug->convetLocalTime($shows_date_time, $time_zone);

                                $date = (isset($movvalue['ExerciseRecorddate']) ? date('d M Y', strtotime($todays_show[0] . $todays_show[1])) : "");
                                $time = (isset($movvalue['ExerciseRecordtime']) ? date('h:i A', strtotime($todays_show[0] . $todays_show[1])) : "");
                                
                                  ?>
                            <li class="" style="border-left: <?=$movvalue['color']?> 10px solid;">
                                <span class="time"><?php echo $time;//date('g:i A', strtotime($today_show)) ?></span>
                                <span class="task"><?php echo ucfirst($movvalue['ActivityType']) ?>, <?php echo $movvalue['Duration'] ?> Min</span>
                                <span class="bullet"></span>
                               </li>
                                <?php } } ?>
                        </ul>
                        <?php }else{?>
                        <div class="errorMsg">
		<span class="ui_icon error"></span>Sorry no record found. </div>
                        <?php } ?>
                        
                      
                    </div>
                 </div>
    </div>
</div>
<!--Container end here--> 

<script type="text/javascript">
     DatePicker();
   function DatePicker() {
                $(".dateBox_calendar").datepicker({
                    dateFormat: 'dd M yy',
                    buttonImage: '/img/calendar_icon.png',
                    buttonImageOnly: true,
                    showOn: 'both',
                    maxDate: 0,
                    onSelect: function(dateText, inst) {                   
                     var currentdate = $.datepicker.formatDate('dd M yy', new Date(dateText)); 
                     $('#steps_currentdate').val(currentdate);
                       $(".global_loader").show();
                       $.ajax({
                    type: "POST",
                    url: '/caregiver/caregiverajax/movesgraph',                   
                    data: {date: dateText, userId:'<?=$CusConPlug->encryptdata($UserID)?>' },
                    success:  function(res){
                      //  alert(res);
                      $(".global_loader").hide();
                       var obj = jQuery.parseJSON(res);
                       var error = obj.error;
                        var msg = obj.msg;
                        var link = obj.link;
                        if(error=='0'){
                       $('#movesgraph').html('');
                       $('#movesgraph').html(msg);
                        }
                        if(error=='1' && link!=''){
                            window.location.href= link;
                             //$('#movesgraph').html(link);
                        }
                        if(error=='1' && link==''){
                             $('#movesgraph').html('');
                         $('#movesgraph').html(msg);
                        }
                    }
                });
                 }
                });
            }
</script>
<style>
    .ui-datepicker-trigger{
        position: relative;
        top: 8px;
    }
  .graph_header{  
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
    }
</style>