<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History</div>
        <div class="pgh_mWrap">
             <div class="pgh_menu pgh_menu_top">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item">Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item">Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item">Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item">Symptoms</a>
               	<a href="<?php echo $this->basePath(); ?>/individual-treat" class="item selected">Treatment</a>
            </div>
        </div>
 <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="pgh_mWrap" style="padding:0">
             <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-treat" class="item">View Treatment</a>
                <a href="<?php echo $this->basePath(); ?>/individual-addtreat" class="item">Add New Treatment</a>
                <a href="#" class="item selected">Edit other Treatment</a>
            </div>
       </div>
   </div>
   <div class="pageWrapper">
   	<form method="post" action="" id="edit_user_otherTreatment" name="edit_user_otherTreatment">
        <!-- Select Condition section box start here -->
        <div class="boxWrap boxWrap_add_new_condition" style="position:relative;">
                <div class="">Other Treatment</div>
                <div class="bw_bmi_add clearfix">
                    <input type="text" name="user_other_treatment" id="user_other_treatment" value="<?=$otherTreatment['other_treatment']?>" style="float:left; margin-right:5px;">
					<div class="select selectStatus" style="margin-top:2px;">
					    <select class="select" title="Select Status" name="selected_status" id="selected_status">
								<option value="" disabled >Select Status</option>
								<?php foreach ($statusArr as $value) { ?>
								<option value="<?=$value['id']?>"<?php if($value['id']==$otherTreatment['status_id']) { echo "selected";} ?>><?=$value['status']?></option>
							  <?php  } ?>
						</select>
					</div>
                </div>
                
			</div>
            <!-- Select Condition section box end here -->


            <div class="boxBtn clearfix">
                <input type="submit" name="" value="Update" class="bb_btn">
            </div>
        </form>
	<style>
.selectM_condition{
	opacity:1!important;
	height:80px;
}
</style>
<script>
$(document).ready(function() {
	 $("#edit_user_otherTreatment").validate({
		rules: {
			user_other_treatment:"required",
		},
		messages: {
			user_other_treatment: {
				required: "Please enter other treatment."
			}
		},
		errorPlacement: function(error, element) {
		error.appendTo(element.parents("div.bw_bmi_add"));
	}
	});

	
});

			$(window).resize(function() {
				delay(function(){
					$('.cb_Grid .row').each(function(){
						$(this).find('span.txt').css('height','auto');
						setEqualHeight($(this).find('span.txt'));
					});
				}, 500);
			});
			$(function() {
				delay(function(){
					$('.cb_Grid .row').each(function(){
						$(this).find('span.txt').css('height','auto');
						setEqualHeight($(this).find('span.txt'));
					});
				}, 500);
			});
        </script>
   </div>
</div>
 <!--Container end here--> 
