<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History</div>
        <div class="pgh_mWrap">
             <div class="pgh_menu pgh_menu_top">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item">Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item">Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item">Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item">Drug</a>
               	<a href="<?php echo $this->basePath(); ?>/individual-treat" class="item selected">Treatment</a>
            </div>
        </div>
 <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="pgh_mWrap" style="padding:0">
             <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-treat" class="item selected">View Treatment</a>
                <a href="<?php echo $this->basePath(); ?>/individual-addtreat" class="item">Add New Treatment</a>
            </div>
       </div>
   </div>
   <div class="pageWrapper">
   	<?php if (!count($this->user_Treatment)) { ?><div class="errorMsg" style="display: block !important;">
	<span class="ui_icon error"></span>No Treatment found </div> <?php }else {   ?>
		 <div class="table table_box_shadow symptoms_table_responsve cb_Grid">
            <div class="row clearfix head">
                <div class="col wd10"><span class="txt">S.no</span></div>
                <div class="col wd15"><span class="txt">Drug</span></div>
                <div class="col wd10"><span class="txt">Status</span></div>
                <div class="col wd15"><span class="txt">Sub Symptom</span></div>
                <div class="col wd15"><span class="txt">Condition</span></div>
                <div class="col wd20"><span class="txt">Description</span></div>
                <div class="col wd15"><span class="txt">Action</span></div>
            </div>
			<?php foreach($this->user_Treatment as $key=>$value): ?>
            <div class="row clearfix" id="<?=$value['treatment_id']?>">
                <div class="col wd10"><span class="txt"><?=$key+1?></span></div>
                <div class="col wd15"><span class="txt"><?=$value['teatment_name']?></span></div>
                <div class="col wd10"><span class="txt"><?=$value['TreatStatus']?></span></div>
                <div class="col wd15"><span class="txt"><?=$value['sub_treatment_name']?></span></div>
                <div class="col wd15"><span class="txt"><?=$value['condition_name']?></span></div>
                <div class="col wd20"><span class="txt"><?php //substr($value['description'],0,20)?></span></div>
                <div class="col wd15 clearfix">
                	<span class="txt  clearfix">
                        <ul class="action">
                        	<li class="view"><a href="/individual-viewtreat/<?php echo base64_encode($value['treatment_id']);?>">View</a></li>
                        	<li class="edit"><a href="/individual-edittreat/<?php echo base64_encode($value['treatment_id']);?>">Edit</a></li>
                        	<li class="delete"><a href="#" onclick="deleteTreatment('<?=$value['treatment_id']?>');">Delete</a></li>
                        </ul>
                     </span>
                 </div>
            </div>
			<?php  endforeach; ?>
                   
         </div>
	<?php }  ?>
         <?php if($otherTreatment){ ?>
        <div class="table table_box_shadow symptoms_table_responsve cb_Grid">
			<div class="row clearfix head">
                <div class="col wd100"><span class="txt">Other Treatment</span></div>
			</div>
			<div class="row clearfix">
                <div class="col wd50"><span class="txt" style="text-align:left"><strong>Treatment name :</strong> <?=$otherTreatment['other_treatment']?></span></div>
                <div class="col wd30"><span class="txt" style="text-align:left"><strong>Status :</strong> <?=$otherTreatment['condition_status']?></span></div>
                <div class="col wd20 clearfix">
                	<span class="txt  clearfix">
                        <ul class="action">
                        	
                        	<li class="edit"><a href="/individual-editothertreat/<?php echo base64_encode($otherTreatment['id']);?>">Edit</a></li>
                        	<li class="delete"><a href="#" onclick="deleteOtherTreate('<?=$otherTreatment['id']?>');">delete</a></li>
                        	
                        </ul>
                     </span>
                 </div>
            </div>
                
   </div>
		<?php } ?>
   
         <script>
		 
		  function deleteOtherTreate(OthTretId){
			 if(OthTretId){
						if(confirm("Do you want to delete this other treatment?")) {
							this.click;
							$.ajax({
								type: "POST",
								url: "/individual/ajax/deleteothertreat",
								data: { id: OthTretId}
								}).done(function (){
									window.location.href = "/individual-treat";
								});
						}
					   else
					   {
						  return false;
					   } 
				}
		 }
		function deleteTreatment(treatmentID){
				if(treatmentID){
						if(confirm("Do you want to delete this treatment?")) {
							this.click;
							$.ajax({
								type: "POST",
								url: "/individual/ajax/updatetreatmentstatus",
								data: { treatmentID: treatmentID}
								}).done(function (){
                                                                    window.location.reload();
									$('#'+treatmentID).hide();
								});
						}
					   else
					   {
						  return false;
					   } 
				}
			}
			$(window).resize(function() {
				delay(function(){
					$('.cb_Grid .row').each(function(){
						$(this).find('span.txt').css('height','auto');
						setEqualHeight($(this).find('span.txt'));
					});
				}, 500);
			});
			$(function() {
				delay(function(){
					$('.cb_Grid .row').each(function(){
						$(this).find('span.txt').css('height','auto');
						setEqualHeight($(this).find('span.txt'));
					});
				}, 500);
			});
        </script>
   </div>
</div>
 <!--Container end here--> 
