<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HEADER FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 12/11/2014.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('frontend');
$UserArr = $this->_sessionObj->userDetails;
 $researher = '';
if ($this->_sessionObj->isWeblogin) {
    $userTypeIDs = json_decode($UserArr['UserTypeId'], true);
    $domainID = $UserArr['DomainID'];
    $userTypeId = $userTypeIDs[$domainID];
    $researher = '';
    if (in_array(3, $userTypeId)) {
        $researher = 1;
    }
}
$DomainID = $this->_sessionObj->userDetails['DomainID'];
$userId = $this->_sessionObj->userDetails['UserID'];
if ($UserArr['Image']) {
    $image = $this->Resize($this->serverUrl() . "/upload_image/" . $UserArr['UserID'] . "/", $UserArr['Image'], 100, 80);
} else {
    $image = $this->serverUrl() . "/img/profile_image_avtar.png";
}
if ($userId) {
    $domainLogo = $this->serverUrl() . '/img/' . $UserArr['domainLogo'];
} else {
    $domainLogo = $this->serverUrl() . '/img/' . $this->_sessionObj->domainLogo;
}
?>
<!-- Loader start Here-->
<div class="global_loader"></div>
<!-- Loader end Here-->
<?php
$base = $_SERVER["REQUEST_URI"];
$BaseNameReg = explode('/', $base);
$BaseName4Register = $BaseNameReg[1];
$basename = basename($base);
$accActivate = substr($basename, 0, 14);
$respondcaregiver = substr($basename, 0, 16);
$mlogin = substr($basename, 0, 5);
?>
<?php if ($respondcaregiver != "respondcaregiver" && $basename != 'individual' && $basename != 'login' && $basename != 'verification' && $basename != 'congrates' && $basename != 'basicinfo' && $basename != 'contactinfo' && $basename != 'profileinfo' && $basename != 'tempass' && $accActivate != 'activateacount' && $basename != 'individual-thankyou' && $mlogin != 'login' && $basename != '' && $BaseName4Register != 'register'): ?>

    <!--Change Password popup start here-->
    <div id="changePass" class="grobalPopup popuBxWrap">
        <div class="gppBox">
            <div class="gppbxContainer" style="margin-top: -250px;">
                <div class="gppTitle">Change Password
                    <div onclick="gppClose('changePass');" id="closechangepass" class="gppClose">X</div>
                </div>

                <div class="formWrapperContainer">
                    <form action="" method="post" id="change_password">
                        <div id="succ" style="padding-bottom:10px;"></div>
                        <div class="row">
                            <div class="input">
                                <input type="password" placeholder="Old Password" name="old_password" id="old_password">
                            </div>
                            <div id="err"></div>
                        </div>
                        <div class="row">
                            <div class="input">
                                <input type="password" placeholder="New Password" name="new_password" id="new_password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input">
                                <input type="password" placeholder="Confirm Password" name="confirm_password">
                            </div>
                        </div>

                        <div class="row last">
                            <div class="input_button">
                                <input type="submit" value="Send" class="submit_button" />
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        <div class="gppOverlay"></div>
    </div>
    <!--Change Password popup end here-->
    <!-- confirm Modal Popup start Here-->
    <div class="grobalPopup popuBxWrap" id="alert_message" style="margin-top: -90px">
        <div class="gppBox">
            <div class="gppbxContainer alertConfirmMessage" style="min-height: 180px">
                <div class="gppTitle">Alert !
                    <div class="gppClose" onClick="gppClose('alert_message');">X</div>
                </div>
                <div class="gppTxt clearfix">
                    <h2 class="confirm_msg"></h2>
                </div>

            </div>
        </div>
        <div class="gppOverlay"></div>
    </div>

    <!-- confirm Modal Popup end Here-->
    <script>
        //var =type
        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var uDatepicker = $.datepicker._updateDatepicker;
        $.datepicker._updateDatepicker = function () {
            var ret = uDatepicker.apply(this, arguments);
            var $sel = this.dpDiv.find('select');
            $sel.find('option').each(function (i) {
                $(this).text(months[i]);
            });
            return ret;
        };
        $(document).ready(function () {
           // alert('You are choosing to become a Basic Member rather than a Premium Member by setting this switch to "Off". By doing this you will no longer have this feature and several others including connecting with others or participating in research. If this is your intention, please CONFIRM. If it is not, please choose CANCEL. You may switch back if you change your mind. The choice is yours. ');
            // $('.errorMsg').fadeIn('slow').delay(4000).fadeOut('slow');
            //  $('.successMsg').fadeIn('slow').delay(4000).fadeOut('slow');
            $("#noticount").removeClass("degit");
            init();
            setInterval(init, 15000);
            function init() {
                $.ajax({
                    url: "/individual/ajax/notificationcount",
                    type: 'get',
                    success: function (res) {
                        if (res > 0) {
                            $("#noticount").addClass("degit");
                            $('#noticount').html(res);
                        } else {
                            if (parseInt(($('#noticount').html() == '') ? 0 : $('#noticount').html()) == 0) {
                                $("#noticount").removeClass("degit");
                            }
                        }

                    }
                });
            }
        });


        /* window.onbeforeunload = function () {
         return "Do you really want to close?";
         }; */
        function changePassword()
        {
            var oldPass = $("#old_password").val();
            var newPass = $("#new_password").val();
            $.ajax({
                type: "POST",
                url: "/individual/ajax/changepassword",
                data: {oldPass: oldPass, newPass: newPass}
            }).done(function (resp) {
                if (resp == 1) {
                    $('#succ').html("<font color='red'>Password has been changed successfully.</font>");
                    setTimeout(function () {
                        window.location.href = "/individual-dashboard";
                    }, 2000);
                } else {
                    $('#err').html("<font color='red'>Old password not matched.</font>");
                    $('#err').fadeIn('fast').delay(1000).fadeOut('slow');
                    return false;
                }
            });
        }
    </script>
    <div class="main_header innerHeader">
        <div class="header">
            <a href="javascript:void(0);" class="left_panel_menu_button"></a>
            <div class="logo"><a href="/"><img src="<?= $domainLogo ?>" alt=""/></a></div>

            <div class="headder_right_sec">

                <!--        	<div class="search">
                <span class="srch_btn"></span>
            </div>-->
                <div class="notification">
                    <span class="degit" id="noticount"></span>
                    <div class="notification_popup">
                        <div class="pointer"></div>
                        <div id="listofnotifications" style="overflow-y: auto; max-height: 400px;"></div>
                    </div>

                </div>
                <?php if ($DomainID == 1) { ?>
                    <div class="formWrapperContainer domainChange">
                        <div class="row">
                            <div class="select" >
                                <select name="change_user_type" class="select" id="change_user_type" >
                                    <option value="1" selected disabled>Individual</option>
                                    <option value="2" >Caregiver</option>
                                    <option value="3" >Researcher</option>
                                </select>
                            </div>
                        </div>

                    </div>
                <?php } elseif ($researher) { ?>
                    <div class="formWrapperContainer domainChange">
                        <div class="row">
                            <div class="select" >
                                <select name="change_user_type" class="select" id="change_user_type" >
                                    <option value="1" selected disabled>Individual</option>
                                    <option value="3" >Researcher</option>
                                </select>
                            </div>
                        </div>

                    </div>
                <?php } ?>
                <div class="userInfo">
                    <div class="uinfo_ddr clearfix">
                        <div class="profile_pic bdr_rds_circle">
                            <img src="<?php echo $image; ?>" alt=""/>
                        </div>
                        <div class="loggedIn_user"><?php echo $UserArr['FirstName'] . " " . $UserArr['LastName']; ?><span class="arrow"></span></div>
                    </div>
                    <div class="uiddr_menu">
                        <ul class="clearfix">
                            <li><a href="javascript:void(0);" onclick="gppOpen('changePass');">Change Password</a></li>
                            <li><a href="/individual-basic">My Profile</a></li>
                            <li><a href="/individual-privacy-settings">Settings</a></li>
                            <li><a href="/individual/index/logout" >Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


<?php else: ?>

    <!--Header start here-->
    <div class="main_header">
        <div class="header">
            <div class="logo"><a href="#"><img src="<?= $domainLogo ?>" alt=""/></a></div>
        </div>
    </div>
<?php endif; ?>
<!--Header end here-->
<script>
    $('.notification').click(function () {
        $.ajax({
            type: "POST",
            url: "/individual/ajax/getnotificatonlist",
            //data: {oldPass: oldPass, newPass: newPass}
        }).done(function (result) {
            //alert(result);
            $('#listofnotifications').html(result);
        });
    });
    $("#closechangepass").click(function () {
        var validator = $("#change_password").validate();
        validator.resetForm();
        $("#change_password").get(0).reset();

    });
    $('#change_user_type').change(function () {
        if (confirm('Do you want to switch the user account?')) {
            var UserTypeId = $("#change_user_type").val();
            if (UserTypeId == 1) {
                window.location.href = "/";
            } else if (UserTypeId == 2) {
                window.location.href = "/cg-login";
            } else {
                window.location.href = "/researcher-login";
            }
        } else {
            $('#change_user_type :nth-child(1)').prop('selected', true); // To select via value
        }

    });
    $(function () {
        $("#change_password").validate({
            rules: {
                old_password: {
                    required: true,
                    minlength: 8,
                    maxlength: 30
                },
                new_password: {
                    required: true,
                    minlength: 8,
                    maxlength: 30
                },
                confirm_password: {
                    required: true,
                    minlength: 8,
                    maxlength: 30,
                    equalTo: "#new_password"
                }
            },
            messages: {
                old_password: {
                    required: "Please enter old password.",
                    minlength: "Old password must be of minimum eight characters.",
                    maxlength: "Old password must be of maximum thirty characters."
                },
                new_password: {
                    required: "Please enter new password.",
                    minlength: "New password must be of minimum eight characters.",
                    maxlength: "New password must be of maximum thirty characters."
                },
                confirm_password: {
                    required: "Please enter confirm password.",
                    minlength: "Password must be of minimum eight characters.",
                    maxlength: "Confirm password must be of maximum thirty characters."
                }

            },
            submitHandler: function (form) {
                //form.submit();
                var oldPass = $("#old_password").val();
                var newPass = $("#new_password").val();
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/changepassword",
                    data: {oldPass: oldPass, newPass: newPass}
                }).done(function (resp) {
                    if (resp == 1) {
                        $('#succ').html("<font color='red'>Password has been changed successfully.</font>");
                        setTimeout(function () {
                            window.location.href = "/individual-dashboard";
                        }, 2000);
                    } else {
                        $('#err').html("<font color='red'>Old password not matched.</font>");
                        $('#err').fadeIn('fast').delay(1000).fadeOut('slow');
                        return false;
                    }
                });
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });
    });
</script>