<?php
/* * ***********************
 * PHTML: DISPLAY LIST OF STUDIES.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 3/3/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->flashMessenger()->clearMessages();
?>

<!-- POP UP DIVS-->
<div class="grobalPopup popuBxWrap expMp" id="createNewVar">
    <div class="gppBox">
        <form action="admin-studies-varrable-set-add?sid=<?= base64_encode($sid); ?>&set_id=<?= base64_encode($set_id); ?>" method="post">
            <div class="gppbxContainer">
                <div class="gppTitle">
                    Create New Criteria<div class="gppClose" onclick="gppClose('createNewVar');">X</div>
                </div>
                <div class="formWrapperContainer">
                    <div class="row clearfix">
                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap">
                                <span class="radio bdr_rds_circle selected">
                                    <input type="radio" checked="checked" value="1" name="expType" id="exl">
                                </span>
                                <label for="exl">Demographic</label>
                            </div>
                        </div>
                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap">
                                <span class="radio bdr_rds_circle">
                                    <input type="radio" value="2" name="expType" id="csv">
                                </span>
                                <label for="csv">Variables</label>
                            </div>
                        </div>
                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap">
                                <span class="radio bdr_rds_circle">
                                    <input type="radio" value="3" name="expType" id="cd1">
                                </span>
                                <label for="cd1">Condition</label>
                            </div>
                        </div>
                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap">
                                <span class="radio bdr_rds_circle">
                                    <input type="radio" value="4" name="expType" id="sy1">
                                </span>
                                <label for="sy1">Symptom</label>
                            </div>
                        </div>
                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap">
                                <span class="radio bdr_rds_circle">
                                    <input type="radio" value="5" name="expType" id="tr1">
                                </span>
                                <label for="tr1">Treatment</label>
                            </div>
                        </div>
                    </div>
                    <div class="row last">
                        <div class="input_button">
                            <input type="submit" value="Submit" id="c_submit" class="submit_button" name="c_submit">
                            <!-- <input type="submit" value="Send" class="submit_button" /> --> 
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="gppOverlay"></div>
</div>

<script>
    $(document).ready(function() {
        $('#VarrableSetTypeForm').submit(function() {
            var type = $('input[name=expType]:checked', '#VarrableSetTypeForm').val();
            window.location.href = type;
            return false;
        });
    })
</script>

<div class="grobalPopup popuBxWrap expMp" id="createNewSet">
    <div class="gppBox">
        <form action="#" id="VarrableSetTypeForm" method="post">

            <div class="gppbxContainer">
                <div class="gppTitle">
                    Create New Set<div class="gppClose" onclick="gppClose('createNewSet');">X</div>
                </div>
                <div class="formWrapperContainer">
                    <div class="row clearfix">
                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap">
                                <span class="radio bdr_rds_circle selected">
                                    <input checked="checked" value="admin-studies-varrable-set?sid=<?= base64_encode($sid); ?>" type="radio" name="expType" id="cnsl">
                                </span>
                                <label for="cnsl">Based on Criteria</label>
                            </div>
                        </div>
                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap">
                                <span class="radio bdr_rds_circle">
                                    <input type="radio" value="admin-studies-invitation-set?sid=<?= base64_encode($sid); ?>" name="expType" id="cns2">
                                </span>
                                <label for="cns2">Based on email invitations</label>
                            </div>
                        </div>
                        <!--                        <div class="checkbox_col radioLable">
                                                    <div class="checkbox_col radioButtonWrap">
                                                        <span class="radio bdr_rds_circle">
                        
                                                            <input type="radio" value="admin-studies-varrable-set?sid=<?= base64_encode($sid); ?>&type=studytrials" name="expType" id="cns3">
                                                        </span>
                                                        <label for="cns3">
                        <?php if ($Study[0]['study_trials'] == 1) { ?>
                                                                    Disabled Based on study & trials
                        <?php } else { ?>
                                                                    Enabled Based on study & trials
                        <?php } ?>
                        
                                                        </label>
                                                    </div>
                                                </div>-->
                    </div>
                    <div class="row last">
                        <div class="input_button">
                            <input type="submit" value="OK" id="c_submit" class="submit_button" name="c_submit">
                            <!-- <input type="submit" value="Send" class="submit_button" /> --> 
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="gppOverlay"></div>
</div>
<!-- POP UP DIVS-->

<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">


            <div class="pgh_title">| Studies Set- Based on Criteria

            </div>  

        </div> 

        <div class="sc_leftpanel">

            <div class="scl_menu sclmStd">
                <?php
                if (!empty($varSetDataArray)) {
                    $i = 0;
                    ?>
                    <ul class="clearfix">
                        <?php foreach ($varSetDataArray as $key => $varSetData) { ?>
                            <li class="<?php
                            if ($i == $selPos) {
                                echo 'active';
                            }
                            ?>"><a href="/admin-studies-varrable-set?sid=<?= base64_encode($sid); ?>&set_id=<?= base64_encode($set_id); ?>&selPos=<?= base64_encode($key); ?>"><?= $typeArray[$varSetData]; ?></a></li>
                                <?php
                                $i++;
                            }
                            ?>

                    </ul>
                <?php } ?>

                <div class="clearfix">
                    <div class="addMoreQOption" onclick="gppOpen('createNewVar');"><span class="icon"></span>Add Another</div>
                </div>

            </div>



            <div class="addSymptoms">

                <ul>
                    <li><a style="font-size:16px;" href="javascript::void(0);" onclick="gppOpen('createNewSet');">Create New Set</a></li>


                    <?php
                    $dirActive = $_SERVER['DOCUMENT_ROOT'] . "/StudyDump/Active/";
                    $downloadActive = $_SERVER['REQUEST_SCHEME'] . "://" . $_SERVER['HTTP_HOST'] . "/StudyDump/Active/";
                    $filename = $dirActive . $sid . '/' . $Study[0]['study_title'] . '-Code-Book.xlsx';
                    $downloadfilename = $downloadActive . $sid . '/' . $Study[0]['study_title'] . '-Code-Book.xlsx';
                    if (file_exists($filename)) {
                        ?>
                        <li><a style="font-size:16px;" class="bb_btn" target="_blank" href="<?= $downloadfilename; ?>" onclick="gppOpen('exportMethod');">Download Codebook</a></li>
                    <?php } ?> 

                </ul>
            </div>
            <div class="addSymptoms">
                <?php
                $val = "";
                $status_Trials = 1;
                if ($Study[0]['study_trials'] == 1) {
                    $val = "checked";
                    $status_Trials = 1;
                }
                ?>
                <input type="checkbox" name="enabled_study_trilals" onclick="return updateStudytrials('<?= $sid ?>', '<?= $status_Trials ?>');" id="enabled_study_trilals" <?= $val ?> > Enabled Based on study & trials
            </div>

        </div>
        <script>
            function updateStudytrials($sid, $status) {
                $.ajax({
                    type: "POST",
                    url: "/admin-studies-update_trials",
                    data: {sid: $sid, status: $status},
                    success: function(res) {
                        return true;
                    }
                });
            }
        </script>

        <div class="sc_rightpanel"  style="min-height: 475px;">
            <?php if (!empty($varSetDataArray)) { ?>
                <a title="Click to delete set attribute" href="/admin-studies-varrable-set?sid=<?= base64_encode($sid); ?>&set_id=<?= base64_encode($set_id); ?>&type=delete&pos=<?= base64_encode($selPos); ?>">
                    <div class="SymptomsDlt">Delete</div>
                </a>
                <h2><?= $typeArray[$varSetDataArray[$selPos]]; ?> Filter</h2>

                <?php
                switch ($varSetDataArray[$selPos]) {
                    case '1':
                        echo $this->partial('admin/elements/stydy_variable_set/demographic');
                        break;
                    case '2':
                        echo $this->partial('admin/elements/stydy_variable_set/variable');
                        break;
                    case '3':
                        echo $this->partial('admin/elements/stydy_variable_set/condition');
                        break;
                    case '4':
                        echo $this->partial('admin/elements/stydy_variable_set/symptom');
                        break;
                    case '5':
                        echo $this->partial('admin/elements/stydy_variable_set/treatment');
                        break;
                }
                ?>


            <?php } else { ?>
                <h2>No record found</h2>
            <?php } ?>
        </div>


        <div style="padding-top:30px;" class="boxBtn bb_btn_list clearfix">
            <ul style="float:right;">
                <li><a href = "/admin-studies-ques?sid=<?= base64_encode($sid); ?>" class = "bb_btn">Back</a></li>


                <li><a href="/admin-studies-eligible-users?sid=<?= base64_encode($sid); ?>" class="bb_btn">Next></a></li>

            </ul>
        </div>
    </div>
</div>