<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HEADER FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL
 * CREATOR: 16/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$explodurl = explode("/", $_SERVER["REQUEST_URI"]);
$basename = $explodurl[1];
?>
<!--Header start here-->
<div class="main_header innerHeader">
    <div class="header">
        <a href="javascript:void(0);" class="<?php if ($basename != 'knwbase') { ?>left_panel_menu_button<?php } ?>"></a>
        <div class="logo" style="float:none; display:table; margin:0 auto"><a href="/nonmember"><img src="<?php echo $this->serverUrl(); ?>/img/health_matrix_logo_prelogin.png" alt=""/></a></div>        
    </div>
</div>
<!--Header end here-->