<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 12/12/2014.
 * UPDATED: 12/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 
    <?php echo $this->partial('managedata/bodymeasurment_header') ?> <!-- append header tab -->
    <div class="pageWrapper">

        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>

        <form method="post" action="" name="bloodpressur_form">
            <div class="boxWrap clearfix">
                <div class="formWrapper50">
                    <!-- Set Date and time box start here-->
                    <div class="hww clearfix" style="padding:0 10px;">
                        <div class="hww_select clearfix">
                            <label>Value</label>
                            <div class="hww_sbox wd35">
                                <div class="input">
                                    <input type="text" class="number_dot"  name="systolic" id="systolic" placeholder="Systolic *" maxlength="3" />
                                </div>
                            </div>
                            <div class="hww_sbox wd35">
                                <div class="input">
                                    <input type="text" class="number_dot"  name="diastolic" id="diastolic" placeholder="Diastolic *" maxlength="3" />
                                </div>
                            </div>
                            <div class="hww_sbox wd30">
                                <div class="select">
                                    <select title="systolic diastolic" class="select" name="unit">
                                        <option value="mm Hg">mm Hg</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hww_select clearfix">
                            <label>Pulse</label>
                            <div class="hww_sbox wd60">
                                <div class="input">
                                    <input type="text" class="onlynumber" name="pulse" placeholder="pulse *" id="pulse" maxlength="3">
                                </div>
                            </div>
                            <div class="hww_sbox wd40">
                                <div class="select">
                                    <select class="select" name="pulse_unit" id="pulse_unit" style="z-index: 10; opacity: 0;">
                                        <option value="bpm">bpm</option>   
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="hww_sbox">
                            <label>Date</label>
                            <div class="input datefield">
                                <input type="text" readonly class="datepicker" name="bp_record_date" id="bp_record_date"/>
                            </div>
                        </div>

                        <div class="hww_sbox">
                            <label>Time</label>
                            <div class="input timefield">
                                <input type="text" readonly class="timepickerField" name="bp_record_time" id="bp_record_time" />
                            </div>
                        </div>
                    </div>
                    <!-- Set Date and time box end here-->
                    <div class="boxBtn clearfix" style="margin-left: 20px; margin-right: 20px;">
                        <input type="submit" class="bb_btn" value="Add To Log" name="submit_pressure" id="submit_pressure">
                    </div>
                </div>
            </div>
        </form>
        <script>
            $(document).ready(function (e) {
                DatePicker();
                function DatePicker() {
                    $(".datepicker").datepicker({
                        dateFormat: 'dd M yy',
                        changeMonth: true,
                        changeYear: true,
                        maxDate: new Date,
                        yearRange: "1920:c"
                    });
                    $('.timepickerField').timepicker({
                        hourGrid: 4,
                        minuteGrid: 10,
                        timeFormat: 'hh:mm tt'
                    });
                    $(".datepicker").datepicker("setDate", new Date());
                    $(".timepickerField").timepicker("setTime", new Date());
                }

                $('#submit_pressure').click(function () {
                    var systolic_val = $('#systolic').val().trim();
                    var diastolic_val = $('#diastolic').val().trim();
                    var pulse_val = $('#pulse').val().trim();
                    if (systolic_val != '' && !$.isNumeric(systolic_val)) {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
                    if (diastolic_val != '' && !$.isNumeric(diastolic_val)) {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
                    if (pulse_val != '' && !$.isNumeric(pulse_val)) {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }

                    if (systolic_val == '' || diastolic_val == '' || pulse_val == '') {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
                });
            });
        </script>
    </div>
</div>
<!--Container end here--> 