<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 12/12/2014.
 * UPDATED: 12/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 

    <?php echo $this->partial('managedata/bodymeasurment_header') ?> <!-- append header tab -->
    <div class="pageWrapper">
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <form method="post" action="" name="cholestrol_form">
            <div class="boxWrap clearfix">
                <div class="formWrapper50">
                    <!-- Set Date and time box start here-->
                    <div class="hww clearfix" style="padding:0 10px;"> 
                        <div class="hww_select clearfix">
                            <label>LDL</label>
                            <div class="hww_sbox wd60">
                                <div class="input">
                                    <input type="text"  placeholder="LDL *"name="LDL" id="LDL" maxlength="3" class="number_dot"  />
                                </div>
                            </div>
                            <div class="hww_sbox wd40">
                                <div class="select">
                                    <select  class="select" name="ldl_unit" id="ldl_unit">
                                     <option value="mg/dL">mg/dL</option>
                                     <option value="mmol/L">mmol/L</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hww_select clearfix">
                            <label>HDL</label>
                            <div class="hww_sbox wd60">
                                <div class="input">
                                    <input type="text" name="HDL" placeholder="HDL *" id="HDL" maxlength="3" class="number_dot"  />
                                </div>
                            </div>
                            <div class="hww_sbox wd40">
                                <div class="select">
                                    <select  class="select" name="hdl_unit" id="hdl_unit">
                                        <option value="mg/dL">mg/dL</option>
                                     <option value="mmol/L">mmol/L</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hww_select clearfix">
                            <label>Triglycerides</label>
                            <div class="hww_sbox wd60">
                                <div class="input">
                                    <input type="text" name="Triglycerides" placeholder="Triglycerides *" id="Triglycerides" maxlength="3" class="number_dot" />
                                </div>
                            </div>
                            <div class="hww_sbox wd40">
                                <div class="select">
                                    <select title="triglycerides_unit" class="select" name="triglycerides_unit" id="triglycerides_unit">
                                        <option value="mg/dL">mg/dL</option>
                                     <option value="mmol/L">mmol/L</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="hww_select clearfix">
                            <div class="hww_sbox">
                                <label>Date</label>
                                <div class="input datefield">
                                    <input type="text" readonly class="datepicker" name="CholesterolRecordDate" id="CholesterolRecordDate" />
                                </div>
                            </div>
                            <div class="hww_sbox">
                                <label>Time</label>
                                <div class="input timefield">
                                    <input type="text" readonly class="timepickerField" name="CholesterolRecordTime" id="CholesterolRecordTime" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Set Date and time box end here-->
                    <div class="boxBtn clearfix" style="  margin-left: 20px;margin-right: 20px;">
                        <input type="submit" class="bb_btn" value="Add To Log" name="submit_chlesterol" id="submit_chlesterol">
                    </div>
                </div>
            </div>
        </form>
        <script>
            $(document).ready(function (e) {
                DatePicker();
                function DatePicker() {
                    $(".datepicker").datepicker({
                        dateFormat: 'dd M yy',
                        changeMonth: true,
                        changeYear: true,
                        maxDate: new Date,
                        yearRange: "1920:c"
                    });
                    $('.timepickerField').timepicker({
                        hourGrid: 4,
                        minuteGrid: 10,
                        timeFormat: 'hh:mm tt'
                    });
                    $(".datepicker").datepicker("setDate", new Date());
                    $(".timepickerField").timepicker("setTime", new Date());
                }

                $('#submit_chlesterol').click(function () {
                    //alert('hi');
                    var ldl_val = $('#LDL').val().trim();
                    var hdl_val = $('#HDL').val().trim();
                    var triglycerides = $('#Triglycerides').val().trim();
                    if (ldl_val != '' && !$.isNumeric(ldl_val)) {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
                    if (hdl_val != '' && !$.isNumeric(hdl_val)) {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
                    if (triglycerides != '' && !$.isNumeric(triglycerides)) {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }

                    if (triglycerides == '' && hdl_val == '' && ldl_val == '') {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
                });

            });
        </script>
    </div>
</div>
<!--Container end here--> 
