<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 16/12/2014.
 * UPDATED: 16/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 

    <?php echo $this->partial('managedata/bodymeasurment_header') ?> <!-- append header tab -->
    <div class="pageWrapper">
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <form method="post" action="" name="fasting_form">
            <div class="boxWrap clearfix">
                <div class="formWrapper50">
                    <!-- Set Date and time box start here-->
                    <div class="hww clearfix" style="padding:0 10px;">
                        <div class="hww_select clearfix">
                            <label>Value</label>
                            <div class="hww_sbox wd60">
                                <div class="input">
                                    <input type="text" class="number_dot" id="measurement" name="measurement" id="measurement" maxlength="3" placeholder="Glucose *"/>
                                </div>
                            </div>
                            <div class="hww_sbox wd40">
                                <div class="select">
                                    <select  class="select" name="fast_unit">
                                        <option value="mg/dL">mg/dL</option>
                                        <option value="mmol/L">mmol/L</option>
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Date</label>
                            <div class="input datefield">
                                <input type="text" readonly class="datepicker" name="blood_record_date" />
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Time</label>
                            <div class="input timefield">
                                <input type="text" readonly class="timepickerField" name="blood_record_time" />
                            </div>
                        </div>
                    </div>
                    <!-- Set Date and time box end here-->
                    <div class="boxBtn clearfix" style="margin-left: 20px; margin-right: 20px;">
                        <input type="submit" class="bb_btn" value="Add To Log" name="submit_fasting" id='submit_fasting'>
                    </div>
                </div>
            </div>
        </form>
        <script>
            $(document).ready(function (e) {
                DatePicker();
                function DatePicker() {
                    $(".datepicker").datepicker({
                        dateFormat: 'dd M yy',
                        changeMonth: true,
                        changeYear: true,
                        maxDate: new Date,
                        yearRange: "1920:c"
                    });
                    $('.timepickerField').timepicker({
                        hourGrid: 4,
                        minuteGrid: 10,
                        timeFormat: 'hh:mm tt'
                    });
                    $(".datepicker").datepicker("setDate", new Date());
                    $(".timepickerField").timepicker("setTime", new Date());
                }

                $('#submit_fasting').click(function () {

                    var measurement_val = $('#measurement').val().trim();

                    if (measurement_val != '' && !$.isNumeric(measurement_val)) {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
                    if (measurement_val == '') {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
                });
            });
        </script>
    </div>
</div>
<!--Container end here--> 