<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 12/12/2014.
 * UPDATED: 12/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
$paytype = $this->paType;
$intensType = $this->intensType;
?>
<div id="content-wrapper" class="clearfix"> 
    <?php echo $this->partial('managedata/bodymeasurment_header') ?> <!-- append header tab -->
    <div class="pageWrapper">
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <form method="post" action="">
            <div class="boxWrap clearfix">
                <div class="formWrapper50">
                    <!-- Set Date and time box start here-->
                    <div class="hww clearfix" style="padding:0 10px;">
                        <div class="hww_sbox">
                            <label>Value</label>
                            <div class="select">
                                <select title="Activity Type*" class="select" name="ActivityType" id="ActivityType">
                                    <?php
                                    if (is_array($paytype)) {
                                        foreach ($paytype as $value) {
                                            ?>
                                            <option value="<?php echo strtolower($value['ActivityName']) ?>"><?php echo $value['ActivityName'] ?></option>
                                            <?php
                                        }
                                        ?>

                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="hww_select clearfix">
                            <label>Duration</label>
                            <div class="hww_sbox wd60">
                                <div class="input">
                                    <input type="text" class="onlynumber" placeholder="Duration *" name="duration" id="duration" maxlength="4" />
                                </div>
                            </div>
                            <div class="hww_sbox wd40">
                                <div class="select">
                                    <select title="Minutes" class="select" name="duration_unit" id="duration_unit">
                                        <option value="minutes">Minutes</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Intensity</label>
                            <div class="select">
                                <select title="Intensity" class="select" name="intensity" id="intensity">
                                    <?php
                                    if (is_array($intensType)) {
                                        foreach ($intensType as $value) {
                                            ?>
                                            <option value="<?php echo strtotime($value['intensity_type_name']) ?>"><?php echo $value['intensity_type_name'] ?></option>
                                            <?php
                                        }
                                        ?>

                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="hww_select clearfix">
                            <label>Distance</label>
                            <div class="hww_sbox wd60">
                                <div class="input">
                                    <input type="text" class="number_dot" placeholder="Distance " name="distance" id="distance" maxlength="4" />
                                </div>
                            </div>
                            <div class="hww_sbox wd40">
                                <div class="select">
                                    <select  class="select" name="distance_unit" id="distance_unit">
                                         <option value="mi">Mile</option>
                                        <option value="km">Km</option>
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hww_select clearfix">
                            <label>Energy</label>
                            <div class="hww_sbox wd60">
                                <div class="input">
                                    <input type="text" class="number_dot" placeholder="Energy " name="energy" id="energy" maxlength="4" />
                                </div>
                            </div>
                            <div class="hww_sbox wd40">
                                <div class="select">
                                    <select  class="select" name="energy_unit" id="energy_unit">
                                        <option value="cal">Cal</option>
                                        <option value="kj">kJ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Date</label>
                            <div class="input datefield">
                                <input type="text" readonly class="datepicker"  name="ExerciseRecorddate" id="ExerciseRecorddate"/>
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Time</label>
                            <div class="input timefield">
                                <input type="text" readonly class="timepickerField" name="ExerciseRecordtime" id="ExerciseRecordtime" />
                            </div>
                        </div>
                    </div>
                    <!-- Set Date and time box end here-->
                    <div class="boxBtn clearfix" style="  margin-left: 20px;margin-right: 20px;">
                        <input type="submit" class="bb_btn" value="Add To Log" name="submit_physical_activity" id="submit_physical_activity">
                    </div>
                </div>
            </div>
        </form>
        <script>
            $(document).ready(function (e) {
                DatePicker();
                function DatePicker() {
                    $(".datepicker").datepicker({
                        dateFormat: 'dd M yy',
                        changeMonth: true,
                        changeYear: true,
                        maxDate: new Date,
                        yearRange: "1920:c"
                    });
                    $('.timepickerField').timepicker({
                        hourGrid: 4,
                        minuteGrid: 10,
                        timeFormat: 'hh:mm tt'
                    });
                    $(".datepicker").datepicker("setDate", new Date());
                    $(".timepickerField").timepicker("setTime", new Date());
                }

                $('#submit_physical_activity').click(function () {

                    var duration_val = $('#duration').val().trim();
                    var distance_val = $('#distance').val().trim();
                    var energy_val = $('#energy').val().trim();

                    if (duration_val != '' && !$.isNumeric(duration_val)) {
                        $('#duration').focus();
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
//                    if (distance_val != '' && !$.isNumeric(distance_val)) {
//                        $('#distance').focus();
//                        $('.confirm_msg').html('');
//                        $('.confirm_msg').html('Please enter valid entry');
//                        $("#alert_message").show();
//                        return false;
//                    }
//                    if (energy_val != '' && !$.isNumeric(energy_val)) {
//                        $('#energy').focus();
//                        $('.confirm_msg').html('');
//                        $('.confirm_msg').html('Please enter valid entry');
//                        $("#alert_message").show();
//                        return false;
//                    }

                    if (duration_val == '') {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }

                });

            });
        </script>
    </div>
</div>
<!--Container end here--> 
