<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 07/12/2014.
 * UPDATED: 08/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 

    <?php echo $this->partial('managedata/bodymeasurment_header') ?> <!-- append header tab -->
    <div class="pageWrapper">

        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>

        <form method="post" action="">
            <div class="boxWrap clearfix">
                <div class="formWrapper50">
                    <!-- Set Date and time box start here-->
                    <div class="hww clearfix" style="padding:0 10px;">
                        <div class="hww_sbox">
                            <label>Enter Number Of Steps Walked:</label>
                            <div class="input">
                                <input type="text" placeholder="Enter Number Of Steps Walked *" name="steps_walked" id="steps_walked" class="onlynumber" maxlength="6"/>
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Date:</label>
                            <div class="input datefield">
                                <input type="text" readonly class="datepicker" name="steps_date" />
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Time:</label>
                            <div class="input timefield">
                                <input type="text" readonly class="timepickerField" name="steps_time" />
                            </div>
                        </div>
                    </div>
                    <!-- Set Date and time box end here-->
                    <div class="boxBtn clearfix" style="  margin-left: 20px;margin-right: 20px;">
                        <input type="submit" class="bb_btn" value="Submit" name="submit_steps" id="submit_steps">
                    </div>
                </div>
            </div>
        </form>
        <script>
            $(document).ready(function (e) {             
                DatePicker();
                function DatePicker() {
                    $(".datepicker").datepicker({
                        dateFormat: 'dd M yy',
                        changeMonth: true,
                        changeYear: true,
                        maxDate: new Date,
                        yearRange: "1920:c"
                    });
                    $('.timepickerField').timepicker({
                        hourGrid: 4,
                        minuteGrid: 10,
                        timeFormat: 'hh:mm tt'
                    });

                    $(".datepicker").datepicker("setDate", new Date());
                    $(".timepickerField").timepicker("setTime", new Date());
                }
                $('#steps_walked').blur(function () {
                    var MinStepVal = 0;
                    var MaxStepVal = 100000;
                    var stepstVal = $(this).val().trim();
                    if (stepstVal != '' && $.isNumeric(stepstVal)) {
                        if ((parseInt(stepstVal).toFixed(2) < MinStepVal) || (parseInt(stepstVal).toFixed(2) > MaxStepVal)) {
                            $(this).val('');
                            $('.confirm_msg').html('');
                            $('.confirm_msg').html('the value for daily steps is expeected to be between 0 and 100000 stepsUnit');
                            $("#alert_message").show();
                            return false;
                        }
                    }

                });
//                
                $("#submit_steps").click(function () {
                    var MinStepVal = 0;
                    var MaxStepVal = 100000;
                    var stepsValue = $("#steps_walked").val().trim();
                    if (stepsValue == '' || !$.isNumeric(stepsValue)) {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter your valid steps');
                        $("#alert_message").show();
                        return false;
                    }
                    if (stepsValue != '' && $.isNumeric(stepsValue)) {
                        if ((parseInt(stepsValue).toFixed(2) < MinStepVal) || (parseInt(stepsValue).toFixed(2) > MaxStepVal)) {
                            $(this).val('');
                            $('.confirm_msg').html('');
                            $('.confirm_msg').html('the value for daily steps is expeected to be between 0 and 100000 stepsUnit');
                            $("#alert_message").show();
                            return false;
                        }
                    }

                });
            });
        </script>
    </div>
</div>
<!--Container end here--> 

