<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 12/12/2014.
 * UPDATED: 12/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 

    <?php echo $this->partial('managedata/bodymeasurment_header') ?> <!-- append header tab -->
    <div class="pageWrapper">

        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <form method="post" action="">
            <div class="boxWrap clearfix">
                <div class="formWrapper50">
                    <!-- Set Date and time box start here-->
                    <div class="hww clearfix" style="padding:0 10px;">
                        <div class="bw_box">
                            <div class="bw_title">Duration</div>
                            <div class="hww clearfix">                          
                                <div class="hww_select clearfix">
                                    <div class="hww_sbox">
                                        <div class="select">
                                            <select class="select" title="Hour *"  name="duration_in_hour" id="duration_in_hour">                                              
                                                <option value="">Hour *</option>
                                                <?php for ($i = 0; $i < 24; $i++) { ?>
                                                    <option value="<?php echo $i; ?>"><?php echo sprintf('%02d Hours', $i); ?></option> 
                                                <?php } ?>
                                            </select>                                       
                                        </div>
                                    </div>
                                    <div class="hww_sbox">
                                        <div class="select">
                                            <select class="select" title="Minute *" name="duration_in_minute" id="duration_in_minute">
                                                <option value="">Minute *</option>
                                                <?php for ($j = 0; $j < 60; $j++) { ?>
                                                    <option value="<?php echo $j; ?>"><?php echo sprintf('%02d Minute', $j); ?></option>  
                                                <?php } ?>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Date</label>
                            <div class="input datefield">
                                <input type="text" readonly class="datepicker" name="sleep_record_date" id="sleep_record_date" />
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Time</label>
                            <div class="input timefield">
                                <input type="text" readonly class="timepickerField" name="sleep_record_time" id="sleep_record_time"  />
                            </div>
                        </div>
                    </div>
                    <!-- Set Date and time box end here-->
                    <div class="boxBtn clearfix" style="margin-left: 20px; margin-right: 20px;">
                        <input type="submit" class="bb_btn" value="Add To Log" name="submit_sleep" id="submit_sleep">
                    </div>
                </div>
            </div>
        </form>
        <script>
            $(document).ready(function (e) {
                DatePicker();
                function DatePicker() {
                    $(".datepicker").datepicker({
                        dateFormat: 'dd M yy',
                        changeMonth: true,
                        changeYear: true,
                        maxDate: new Date,
                        yearRange: "1920:c"
                    });
                    $('.timepickerField').timepicker({
                        hourGrid: 4,
                        minuteGrid: 10,
                        timeFormat: 'hh:mm tt'
                    });
                    $(".datepicker").datepicker("setDate", new Date());
                    $(".timepickerField").timepicker("setTime", new Date());
                }
                $('#submit_sleep').click(function () {
                    var hour_val = $('#duration_in_hour').val().trim();
                    var minute_val = $('#duration_in_minute').val().trim();
                    if (hour_val == '' && minute_val == '') {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
                    if (hour_val == '0' && minute_val == '0') {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
                });
            });
        </script>
    </div>
</div>
<!--Container end here--> 