<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 12/12/2014.
 * UPDATED: 12/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 

    <?php echo $this->partial('managedata/bodymeasurment_header') ?> <!-- append header tab -->
    <div class="pageWrapper">

        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <form method="post" action="" name="form_temperature">
            <div class="boxWrap clearfix">
                <div class="formWrapper50">
                    <!-- Set Date and time box start here-->
                    <div class="hww clearfix" style="padding:0 10px;">
                        <div class="hww_select clearfix">
                            <label>Value</label>
                            <div class="hww_sbox wd60">
                                <div class="input">
                                    <input type="text" name="temperature" id="temperature" class="number_dot" maxlength="6" placeholder="Temperature *"/>
                                </div>
                            </div>
                            <div class="hww_sbox wd40">
                                <div class="select">
                                    <select class="select" name="temperature_unit" id="temperature_id">
                                        <option value="F">Fahrenheit</option>
                                        <option value="C">Celsius</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Date</label>
                            <div class="input datefield">
                                <input type="text" readonly class="datepicker" name="temperature_record_date" id="temperature_record_date" />
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Time</label>
                            <div class="input timefield">
                                <input type="text" readonly class="timepickerField" name="temperature_record_time" id="temperature_record_time" />
                            </div>
                        </div>
                    </div>
                    <!-- Set Date and time box end here-->
                    <div class="boxBtn clearfix" style="margin-left: 20px; margin-right: 20px;">
                        <input type="submit" class="bb_btn" value="Add To Log" name="submit_temperature" id="submit_temperature">
                    </div>
                </div>
            </div>
        </form>
        <script>
            $(document).ready(function(e) {
                DatePicker();
                function DatePicker() {
                    $(".datepicker").datepicker({
                        dateFormat: 'dd M yy',
                        changeMonth: true,
                        changeYear: true,
                        maxDate: new Date,
                        yearRange: "1920:c"
                    });
                    $('.timepickerField').timepicker({
                        hourGrid: 4,
                        minuteGrid: 10,
                        timeFormat: 'hh:mm tt'
                    });
                    $(".datepicker").datepicker("setDate", new Date());
                    $(".timepickerField").timepicker("setTime", new Date());
                }

                $('#submit_temperature').click(function() {
                    //  alert('hi');
                    var temp_val = $('#temperature').val().trim();
                    if (temp_val != '' && !$.isNumeric(temp_val)) {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
                    if (temp_val == '') {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }

                });
            });
        </script>
    </div>
</div>
<!--Container end here--> 