<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 07/12/2014.
 * UPDATED: 23/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

//title of page 
$this->headTitle($this->translate($this->pageTitle));
// custome plugin for maesurment 
$custom_plugin = $this->custom_plugin;
?>

<script src="<?php echo $this->serverUrl(); ?>/js/highcharts.js"></script>
<script src="<?php echo $this->serverUrl(); ?>/js/no-data-to-display.js"></script>
<script type="text/javascript">
    $(function () {
<?php if (empty($this->yaxisData_height) && empty($this->yaxisData_weight)) { ?>
            Highcharts.setOptions({lang: {noData: "Height & Weight Graph Data Not Available"}});
<?php } ?>
        $('#container_weight_height').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Height & Weight',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 250,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData_height ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Weight (<?= $this->weightUnit ?>)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_weight; ?>],
                    color: '#ffee50',
                }, {
                    name: 'Height (<?= $this->heightUnit ?>)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_height; ?>],
                    color: '#8fd1ff',
                }]
        });

<?php if (empty($this->yaxisData_bmi)) { ?>
            Highcharts.setOptions({lang: {noData: "BMI Graph Data Not Available"}});
<?php } ?>
        $('#container_bmi').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'BMI',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 140,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData_bmi ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'BMI',
                    color: '#f491a5',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_bmi; ?>]

                }]
        });
    });
</script>

<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Body Measurement</div>
        <?php echo $this->partial('filter/filter_form'); ?> <!-- append filter page-->
    </div>
    <div class="pageWrapper">
        <span id="msg"></span>
        <div class="doubleGraphRow clearfix">
            <!-- height weight graph -->
            <div class="graphRow">
                <div class="graphBox">
                    <div class="formWrapperContainer">
                        <div class="tripple GraphDataFilterBy clearfix">
                            <div class="row firstBlankRowRemove"></div>
                            <div class="row">
                                <label class="filerByLabel">
                                    Choose Source
                                </label>
                            </div>
                            <div class="row last">
                                <div class="select">                           
                                    <select class="select" title="Select Source" name="data_source_type" id="data_source_type">
                                        <option value="">Select Source</option>
                                        <?php
                                        if (count($this->datasorcelist) > 0) {
                                            $i = 0;
                                            foreach ($this->datasorcelist as $svalue) {
                                                ?>
                                                <option value="<?= $svalue['id'] ?>" <?= (($this->bodyweightSource == $svalue['id']) ? "selected" : "") ?> ><?= $svalue['source_name'] ?></option>
                                                <?php
                                                $i++;
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graphBox">   
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Body Weight</span>
                    </div>
                    <div class="graph">
                        <div id="container_weight_height"></div>
                    </div>
                </div>
            </div>
            <!-- BMI graph -->
            <div class="graphRow last">
                <div class="graphBox">  
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">BMI</span>
                    </div>
                    <div class="graph">
                        <div id="container_bmi"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="doubleGraphRow clearfix">
            <div class="graphRow">
                <div class="graphBox">
                    <div class="activity_box">
                        <span class="activity_num" style="color: #8fd1ff"><?php echo ((!empty($this->heightValue_current) && $this->heightValue_current !== '0.0') ? $custom_plugin->centimetersToFeetInches($this->heightValue_current) : 'No Data'); ?></span>
                        <span class="activity_title">Height</span>
                        <?php if (!empty($this->heightValue_current_stage)) { ?>
                            <span class="activity_title" style="color: <?php echo $this->heightValue_current_stage_color; ?>"><?php echo $this->heightValue_current_stage; ?></span>
                        <?php } ?>
                        <a href="<?php echo $this->basePath(); ?>/individual-managedata" class="edit_activity"></a>
                    </div>
                </div>
            </div>
            <div class="graphRow last">
                <div class="graphBox">
                    <div class="activity_box">
                        <span class="activity_num" style="color: #ffee50;"><?php echo ((!empty($this->weightValue_current) && $this->weightValue_current !== '0.0') ? number_format($custom_plugin->gramToPound($this->weightValue_current), "1", '.', '') : 'No Data'); ?></span> <?php echo (!empty($this->weightValue_current) || $this->weightValue_current !== '0.0' ? 'Weight (' . $this->weightUnit . ')' : '') ?>
                        <span class="activity_title">Weight</span>
                        <?php if (!empty($this->weightValue_current_stage)) { ?>
                            <span class="activity_title" style="color: <?php echo $this->weightValue_current_stage_color; ?>"><?php echo $this->weightValue_current_stage; ?></span>
                        <?php } ?>
                        <a href="<?php echo $this->basePath(); ?>/individual-managedata" class="edit_activity" title="Update New"></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="doubleGraphRow clearfix">
            <div class="graphRow">
                <div class="graphBox">
                    <div class="activity_box">
                        <span class="activity_num" style="color: #8A2BE2"><?php echo ((!empty($this->waistValue_current) && $this->waistValue_current !== '0.0') ? $custom_plugin->centimetersToInches($this->waistValue_current) : 'No Data' ); ?></span>
                        <span class="activity_title">Waist</span>
                        <?php if (!empty($this->waistValue_current_stage)) { ?>
                            <span class="activity_title" style="color: <?php echo $this->waistValue_current_stage_color; ?>"><?php echo $this->waistValue_current_stage; ?></span>
                        <?php } ?>
                        <a href="<?php echo $this->basePath(); ?>/individual-managedata" class="edit_activity"></a>

                    </div>
                </div>
            </div>
            <div class="graphRow last">
                <div class="graphBox">
                    <div class="activity_box">
                        <span class="activity_num" style="color: #f491a5">
                            <?php
                            echo ((!empty($this->bmiValue_current) && $this->bmiValue_current !== '0.0') ? $this->bmiValue_current : 'No Data' );
                            ?>
                        </span><?php echo (!empty($this->bmiValue_current) || $this->bmiValue_current !== '0.0' ? 'BMI (' . $this->bmiUnit . ')' : 'No Data'); ?>
                        <span class="activity_title">BMI</span> 
                        <?php if (!empty($this->bmiValue_current_stage)) { ?>
                            <span class="activity_title" style="color: <?php echo $this->bmiValue_current_stage_color; ?>"><?php echo $this->bmiValue_current_stage; ?></span>
                        <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Container end here--> 
<script type="text/javascript">
    $(document).ready(function () {
        var lastVal = $("#data_source_type").val();
        $("#data_source_type").change(function () {
            var source_id = $(this).val();
            var fieldName = 'bodyweight';
            if (source_id != '') {
                var confirm_msg = confirm("Are you want to change default source?");
                if (confirm_msg == true) {

                    $('.global_loader').show();
                    $.ajax({
                        type: "POST",
                        url: "/individual/ajax/SetdefaultSource",
                        data: {fieldName: fieldName, fieldValue: source_id},
                        success: function (response) {
                            var obj = jQuery.parseJSON(response);
                            var error = obj.error;
                            var msg = obj.msg;
                            $('.global_loader').hide();
                            if (error == "0") {
                                $("#msg").html();
                                $("#msg").html("<lable class='successMsg' style='display: block'> <span class='ui_icon success'></span>" + msg + "</lable>");
                                setTimeout(function () {
                                    window.location.reload();
                                    $(".successMsg").hide('slow');
                                }, 2000);
                            } else {
                                $("#msg").html();
                                $("#msg").html("<lable class='errorMsg' style='display: block'> <span class='ui_icon error'></span>" + msg + "</lable>");
                                setTimeout(function () {
                                    $(".errorMsg").hide('slow')
                                }, 2000);
                            }
                        }
                    });
                } else {
                    $('#data_source_type').val(lastVal); // To select via value
                }
            } else {
                $('#data_source_type').val(lastVal); // To select via value
            }
        });

    });
</script>

