<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE Body Measurment  PAGE Header  WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 26/12/2014.
 * UPDATED: 26/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php
$basename = basename($_SERVER["REQUEST_URI"]);
?>
<div class="pghFixed pghFixedIndv">
    <div class="pgh_title">| Manage Data Sources </div>

    <div class="pgh_mWrap">
        <div class="pgh_menu pgh_menu_top">
            <a href="<?php echo $this->basePath(); ?>/individual-managedata" class="item">Manual Entry</a>
            <a href="<?php echo $this->basePath(); ?>/individual-device" class="item">Device</a>

<!--            <a href="#" class="item">Health Kit</a>
            <a href="#" class="item">Google Fit</a>-->
            <a href="/individual-healthvault" class="item <?php echo (($basename == 'individual-healthvault') ? 'selected' : ''); ?>">Health Vault</a>
            <a href="/individual-healthrecord" class="item <?php echo (($basename == 'individual-healthrecord') ? 'selected' : ''); ?>">Blue Button</a>
        </div>
    </div>

    <div class="pgh_mWrap">
        <div class="pgh_menu">
            <a href="<?php echo $this->basePath(); ?>/individual-managedata" class="item <?php echo (($basename == 'individual-managedata') ? 'selected' : ''); ?> ">Body Measurement</a>
            <a href="<?php echo $this->basePath(); ?>/individual-add-steps-communicate" class="item  <?php echo (($basename == 'individual-add-steps-communicate') ? 'selected' : ''); ?>">Steps</a>
            <a href="<?php echo $this->basePath(); ?>/individual-add-physicalactivity" class="item  <?php echo (($basename == 'individual-add-physicalactivity') ? 'selected' : ''); ?>">Physical Activity</a>
            <a href="<?php echo $this->basePath(); ?>/individual-add-cholesterol" class="item  <?php echo (($basename == 'individual-add-cholesterol') ? 'selected' : ''); ?>">Cholesterol</a>
            <a href="<?php echo $this->basePath(); ?>/individual-add-bloodpressure" class="item  <?php echo (($basename == 'individual-add-bloodpressure') ? 'selected' : ''); ?>">Blood Pressure</a>
            <a href="<?php echo $this->basePath(); ?>/individual-add-fastingglucose" class="item  <?php echo (($basename == 'individual-add-fastingglucose') ? 'selected' : ''); ?>">Glucose</a>
            <a href="<?php echo $this->basePath(); ?>/individual-add-temperature" class="item  <?php echo (($basename == 'individual-add-temperature') ? 'selected' : ''); ?>">Temperature</a>
            <a href="<?php echo $this->basePath(); ?>/individual-add-sleep" class="item  <?php echo (($basename == 'individual-add-sleep') ? 'selected' : ''); ?>">Sleep</a>
        </div>
    </div>
</div>
