<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 07/12/2014.
 * UPDATED: 08/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
//echo 'vv'.$this->charttype;exit;
?>

<script src="<?php echo $this->serverUrl(); ?>/js/highcharts.js"></script>
<script src="<?php echo $this->serverUrl(); ?>/js/no-data-to-display.js"></script>
<script type="text/javascript">
    $(function () {
         <?php if(empty($this->yaxisData_hdl) && empty($this->yaxisData_ldl) && empty($this->yaxisData_triglycerides)){ ?>
        Highcharts.setOptions({lang: {noData: "Cholesterol Graph Data Not Available"}});
        <?php }?>
        
        $('#container').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'

            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Cholesterol',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 400,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
//        subtitle: {
//            text: 'Source: WorldClimate.com'
//        },
            xAxis: {
                categories: [<?php echo $this->xaxisData_cholestrol ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [
                {
                    name: 'HDL (<?= $this->LDLUnit ?>)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_hdl; ?>],
                    color: '#ffee50'
                }, {
                    name: 'LDL (<?= $this->LDLUnit ?>)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_ldl; ?>],
                    color: '#8fd1ff'
                }, {
                    name: 'Triglycerides (<?= $this->LDLUnit ?>)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_triglycerides; ?>],
                    color: '#f491a5'
                }
            ]
        });
    });
</script>

<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| <?php echo $this->translate('Cholesterol'); ?></div>
        <?php echo $this->partial('filter/filter_form'); ?> <!-- append filter page-->
    </div>
    <div class="pageWrapper">
        <span id="msg"></span>
        <div class="graphRow">
            <div class="graphBox">
                <div class="formWrapperContainer">
                    <div class="tripple GraphDataFilterBy clearfix">
                        <div class="row firstBlankRowRemove"></div>
                        <div class="row">
                            <label class="filerByLabel">
                                Choose Source
                            </label>
                        </div>
                        <div class="row last">
                            <div class="select">                           
                                <select class="select" title="Select Source" name="data_source_type" id="data_source_type">
                                    <option value="">Select Source</option>
                                    <?php
                                    if (count($this->datasorcelist) > 0) {
                                        $i = 0;
                                        foreach ($this->datasorcelist as $svalue) {
                                            ?>
                                            <option value="<?= $svalue['id'] ?>" <?= (($this->CholesterolSource == $svalue['id']) ? "selected" : "") ?> >
                                                <?= $svalue['source_name'] ?>
                                            </option>
                                            <?php
                                            $i++;
                                        }
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="graphBox">                
                <div class="graph">                    
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

                </div>
            </div>
        </div>
        <div class="trippleGraphRow clearfix">
            <div class="graphRow">
                <div class="graphBox">
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Cholesterol</span>
                    </div>
                    <div class="activity_box">
                        <span class="activity_num" style="color: #ffee50; font-size: 56px;"><?php echo (!empty($this->hdl_val) && $this->hdl_val != '0.0' ? $this->hdl_val : 'No Data'); ?></span> <?php echo (!empty($this->hdl_val) && $this->hdl_val != '0.0' ? $this->LDLUnit : ''); ?>

                        <?php echo (!empty($this->hdl_val) && $this->hdl_val != '0.0' ? '<span class="cholestral_density normal">' . $this->LDLIntensity . '</span>' : ''); ?>
                        <span class="activity_title">High Density Lipids</span>
                        <a href="<?php echo $this->basePath(); ?>/individual-add-cholesterol" class="edit_activity"></a>
                    </div>
                </div>
            </div>
            <div class="graphRow">
                <div class="graphBox">

                    <div class="activity_box">
                        <span class="activity_num" style="color: #8fd1ff; font-size: 56px;"><?php echo (!empty($this->ldl_val) && $this->ldl_val != '0.0' ? $this->ldl_val : 'No Data'); ?></span><?php echo (!empty($this->ldl_val) && $this->ldl_val != '0.0' ? $this->HDLUnit : ''); ?>

                        <?php echo (!empty($this->ldl_val) && $this->ldl_val != '0.0' ? '<span class="cholestral_density normal">' . $this->HDLIntensity . '</span>' : ''); ?>
                        <span class="activity_title">Low Density Lipids</span>
                        <a href="<?php echo $this->basePath(); ?>/individual-add-cholesterol" class="edit_activity"></a>
                    </div>
                </div>
            </div>
            <div class="graphRow last">
                <div class="graphBox">
                    <div class="activity_box">
                        <span class="activity_num" style="color: #f491a5; font-size: 56px;"><?php echo (!empty($this->triglycerides_val) && $this->triglycerides_val != '0.0' ? $this->triglycerides_val : 'No Data'); ?></span><?php echo (!empty($this->triglycerides_val) && $this->triglycerides_val != '0.0' ? $this->TriglyceridesUnit : ''); ?>

                        <?php echo (!empty($this->triglycerides_val) && $this->triglycerides_val != '0.0' ? ' <span class="cholestral_density low">' . $this->TriglyceridesIntensity . '</span>' : ''); ?>
                        <span class="activity_title">Triglycerides</span>
                        <a href="<?php echo $this->basePath(); ?>/individual-add-cholesterol" class="edit_activity"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Container end here--> 
<script>
    $(document).ready(function () {

        $("#data_source_type").change(function () {
            var source_id = $(this).val();
            var fieldName = 'cholesterol';
            // var user_id = '';
            var confirm_msg = confirm("Are you want to change default source?");
            if (confirm_msg == true) {
                if (source_id != '') {
                    $('.global_loader').show();
                    $.ajax({
                        type: "POST",
                        url: "/individual/ajax/SetdefaultSource",
                        data: {fieldName: fieldName, fieldValue: source_id},
                        success: function (response) {
                            var obj = jQuery.parseJSON(response);
                            var error = obj.error;
                            var msg = obj.msg;
                            $('.global_loader').hide();
                            if (error == "0") {
                                $("#msg").html();
                                $("#msg").html("<lable class='successMsg' style='display: block'> <span class='ui_icon success'></span>" + msg + "</lable>");
                                setTimeout(function () {
                                    window.location.reload();
                                    $(".successMsg").hide('slow');
                                }, 2000);
                            } else {
                                $("#msg").html();
                                $("#msg").html("<lable class='errorMsg' style='display: block'> <span class='ui_icon error'></span>" + msg + "</lable>");
                                setTimeout(function () {
                                    $(".errorMsg").hide('slow')
                                }, 2000);
                            }
                        }
                    });
                }
            }
//        else{
//              $('#data_source_type :nth-child()').prop('selected', true); // To select via value
//        }
            // alert(source_id);
        });

    });
</script>


