<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 12/12/2014.
 * UPDATED: 12/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 

    <?php echo $this->partial('managedata/bodymeasurment_header') ?> <!-- append header tab -->
    <div class="pageWrapper">

        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>

        <div style="font-size: 14px;color: #000;">
            <?= $link; ?>
        </div>



        <script>
            $(document).ready(function (e) {
                DatePicker();
                function DatePicker() {
                    $(".datepicker").datepicker({
                        dateFormat: 'dd M yy',
                        changeMonth: true,
                        changeYear: true,
                        maxDate: new Date,
                        yearRange: "1920:c"
                    });
                    $('.timepickerField').timepicker({
                        hourGrid: 4,
                        minuteGrid: 10,
                        timeFormat: 'hh:mm tt'
                    });
                    $(".datepicker").datepicker("setDate", new Date());
                    $(".timepickerField").timepicker("setTime", new Date());
                }
                $('#submit_sleep').click(function () {
                    var hour_val = $('#duration_in_hour').val().trim();
                    var minute_val = $('#duration_in_minute').val().trim();
                    if (hour_val == '' && minute_val == '') {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
                    if (hour_val == '0' && minute_val == '0') {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter valid entry');
                        $("#alert_message").show();
                        return false;
                    }
                });
            });
        </script>
    </div>
</div>
<!--Container end here--> 