<?php
 /*************************
        * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: Shivendra Suman.
        * CREATOR: 09/12/2014.
        * UPDATED: 09/12/2014.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/

$this->headTitle($this->translate($this->pageTitle));
echo $this->translate("Nothing To display Here");
?>
<?php $this->flashMessenger()->clearMessages(); ?>
<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Body Measurement</div>
   </div>
    
</div>

