<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 10/12/2014.
 * UPDATED: 10/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>

<div id="content-wrapper" class="clearfix"> 
    <?php echo $this->partial('managedata/bodymeasurment_header') ?> <!-- append header tab -->
    <div class="pageWrapper">
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <form method="post" action="">
            <div class="boxWrap clearfix">
                <!-- Height Measurement box start here-->
                
                <div class="bw_colthird">
                    <div class="bw_box">
                        <div class="bw_title">HEIGHT</div>
                        <div class="hww clearfix">
                            <div class="radioWrapper">Measure In: </div>
                            <div class="hww_select clearfix">
                                <div class="hww_sbox">
                                    <div class="select">
                                        <?php
                                        $valFeet='';
                                        $valInches='';
                                        if (isset($height['Height'])) {
                                            $valInFeet = $height['Height'] * 0.0328084;
                                            $valFeet = (int) $valInFeet;
                                            $valInches = round(($valInFeet - $valFeet) * 12);
                                        }
                                        $weights='';
                                        $weightunit='lb';
                                        if (isset($weight['Weight'])) {
                                            if ($weight['weightUnit'] == 'kg') {
                                                $weights = $weight['Weight'] / 1000;       // convert in kg to gram 
                                                $weightunit='kg';
                                            }
                                            if ($weight['weightUnit'] == 'lb') {
                                                $weights = $weight['Weight'] / 453.592;       // convert in pound to gram           
                                                $weightunit='lb';
                                            }
                                            if ($weight['weightUnit'] == 'st') {
                                                $weights = $weight['Weight'] / 6350.29;       // convert in stone to gram           
                                                $weightunit='st';
                                            }
                                        }
                                        $waistunit='inch';
                                        $waists='';
                                        if (isset($waist['Waist'])) {
                                            if ($waist['waistUnit'] == 'cm') {
                                                $waists = $waist['Waist'];       // convert in kg to gram 
                                                $waistunit='cm';
                                            }else{
                                                $waists = $waist['Waist']/ 2.54;
                                            }
                                           
                                            
                                        }
                                        ?>
                                        <select class="select" title="Feet *" name="height_in_feets" id="height_in_feets">
                                            <option value="">Feet</option>
                                            <?php for ($i = 1; $i < 11; $i++) { ?>
                                                <option value="<?= $i; ?> " <?php if($valFeet) { if ($valFeet == $i) {
                                                echo "selected";
                                                } }?>><?= $i . " ft"; ?></option>
<?php } ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="hww_sbox">
                                    <div class="select">
                                        <select class="select" title="Inches *" name="height_in_inches">
                                            <option value="">Inches</option>
                                            <?php for ($i = 0; $i < 12; $i++) { ?>
                                                <option value="<?= $i; ?>" <?php if($valInches) {if ($valInches == $i) {
                                                echo "selected";
                                                } } ?>><?= $i . " inch"; ?></option>
<?php } ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Height Measurement box end here-->

                <!-- Waist Measurement box start here-->
                <div class="bw_colthird">
                    <div class="bw_box">
                        <div class="bw_title">WEIGHT</div>
                        <div class="hww clearfix">
                            <div class="radioWrapper">Measure In:
                                 <span class="radioWrapperNew">
                                    <span class="radio bdr_rds_circle weightUnit<?php if($weightunit=='lb'){echo " selected";}?>">
                                        <input type="radio" name="weight_unit"  value="lb" id="weight_in_lb" <?php if($weightunit=='lb'){echo "checked";}?> />
                                    </span>
                                    <label for="waist_in_lb">Lb</label>
                                </span>
                                <span class="radioWrapperNew">
                                    <span class="radio bdr_rds_circle weightUnit<?php if($weightunit=='kg'){echo " selected";}?>">
                                        <input type="radio" name="weight_unit"  value="kg" id="weight_in_kg"  <?php if($weightunit=='kg'){echo "checked";}?>/>
                                    </span>
                                    <label for="waist_in_kg">Kg</label>
                                </span>
                               
<!--                                <span class="radioWrapperNew">
                                    <span class="radio bdr_rds_circle weightUnit<?php if($weightunit=='st'){echo " selected";}?>">
                                        <input type="radio" name="weight_unit"  value="st" id="weight_in_st" <?php if($weightunit=='st'){echo "checked";}?> />
                                    </span>
                                    <label for="waist_in_sb">St</label>
                                </span>-->
                            </div>
                            <div class="hww_select clearfix">
                                <div class="input">
                                    <input type="text" placeholder="Weight *" name="weight" id="indiv_weight" value="<?php if($weights) { echo number_format($weights, 1, '.', ''); }?>"  class="number_dot" maxlength="6" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $('.radio').click(function(){
                        var spanVal= $(this).find("input").val();
                        var weightVal= '<?php echo isset($weight['Weight'])? $weight['Weight']: '0' ; ?>';
                        var convertVal;
                        if(spanVal=='kg'){
                            convertVal = (weightVal/1000).toFixed(1);
                            $('#indiv_weight').val(convertVal);
                        }else if(spanVal=='lb'){
                            convertVal = (weightVal/453.592).toFixed(1);
                            $('#indiv_weight').val(convertVal);
                        }else{
                            convertVal =(weightVal/6350.29).toFixed(1);
                             $('#indiv_weight').val(convertVal);
                        }
                     
                  });
                  
                </script>
                <!-- Waist Measurement box en here-->

                <!-- Weight Measurement box start here-->
                <div class="bw_colthird">
                    <div class="bw_box">
                        <div class="bw_title">WAIST</div>
                        <div class="hww clearfix">
                            <div class="radioWrapper">Measure In: 
                                <span class="radioWrapperNew">
                                    <span class="radio bdr_rds_circle  waistUnit<?php if($waistunit=='cm'){ echo " selected";}?>">
                                        <input type="radio" name="waist_unit" value="cm" id="waist_in_cm" <?php if($waistunit=='cm'){ echo "checked";}?> />
                                    </span>
                                    <label for="weight_in_cm">Cm</label>
                                </span>
                                <span class="radioWrapperNew">
                                    <span class="radio bdr_rds_circle waistUnit<?php if($waistunit=='inch'){ echo " selected";}?>">
                                        <input type="radio" name="waist_unit" value="inch" id="waist_in_inches" <?php if($waistunit=='inch'){ echo "checked";}?> />
                                    </span>
                                    <label for="weight_in_inches">Inches</label>
                                </span>
                            </div>
                            <div class="hww_select clearfix">
                                <div class="input">
                                    <input type="text" placeholder="inch " name="waist" value="<?php if($waists) { echo number_format($waists, 1, '.', ''); }?>" id="indiv_waist"  class="number_dot" maxlength="10" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $('.radio').click(function(){
                                              var spanVal= $(this).find("input").val();
                        var waistVal= '<?php echo (isset($waist['Waist'])? $waist['Waist'] : '' ); ?>';
                        var convertVal;
                        if(spanVal=='inch'){
                            convertVal = (waistVal/2.54).toFixed(1);
                            $('#indiv_waist').val(convertVal);
                        }else{
                            convertVal =waistVal;
                             $('#indiv_waist').val(convertVal);
                        }
                     
                  });
                    </script>
                <!-- Height Measurement box end here-->

                <div class="clearfix"></div>
                <!-- Set Date and time box start here-->
                <div class="hww clearfix" style="padding:0 10px">
                    <div class="hww_select clearfix">
                        <div class="hww_sbox">
                            <label>Date:</label>
                            <div class="input datefield">
                                <input type="text" placeholder="Date" name="loge_date" readonly="true" class="datepicker" />
                            </div>
                        </div>
                        <div class="hww_sbox">
                            <label>Time:</label>
                            <div class="input timefield">
                                <input type="text" placeholder="Time" readonly="true" name="loge_time" class="timepickerField" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Set Date and time box end here-->

                <div class="boxBtn clearfix" style="margin-left:20px">
                    <input type="submit" class="bb_btn" value="ADD TO LOG" name="submit" id="submit_bodyweight">
                </div>
            </div>
        </form>

        <script>
            $(document).ready(function(e) {    
                DatePicker();
                function DatePicker() {
                    $(".datepicker").datepicker({
                        dateFormat: 'dd M yy',
                        changeMonth: true,
                        changeYear: true,
                        maxDate: new Date,
                        yearRange: "1920:c"

                                //defaultDate: new Date()
                    });
                    $('.timepickerField').timepicker({
                        hourGrid: 4,
                        minuteGrid: 10,
                        timeFormat: 'hh:mm tt'
                    });
                    $(".datepicker").datepicker("setDate", new Date());
                    $(".timepickerField").timepicker("setTime", new Date());
                }
                /*
                 * Change place holder value accoring to unit
                 */


                // weight min max value for inpute 
                var WKgMinVal = 1.00;
                var WKgMaxVal = 999.99;
                var WLbMinVal = 1.00;
                var WLbMaxVal = 999.99;
                var WStMinVal = 1.00;
                var WStMaxVal = 999.99;

                $("#indiv_weight").blur(function() {
                    var weightVal = $(this).val().trim();
                    if (weightVal != '' && $.isNumeric(weightVal)) {
                        if ($('#weight_in_kg').is(':checked')) {
                            // alert(parseFloat(weightVal).toFixed(2));
                            if ((parseFloat(weightVal).toFixed(2) < WKgMinVal) || (parseFloat(weightVal).toFixed(2) > WKgMaxVal)) {
                                $(this).val('');
                                $('.confirm_msg').html('');
                                $('.confirm_msg').html('weight in kg must be greater then 0.00 and less then  1000.00 ');
                                $("#alert_message").show();
                                return false;
                            }
                        }
                        if ($('#weight_in_lb').is(':checked')) {
                            if ((parseFloat(weightVal).toFixed(2) < WLbMinVal) || (parseFloat(weightVal).toFixed(2) > WStMaxVal)) {
                                $(this).val('');
                                $('.confirm_msg').html('');
                                $('.confirm_msg').html('weight in lb must be greater then   0.00 and less then   1000.00 ');
                                $("#alert_message").show();
                                return false;
                            }
                        }

                        if ($('#weight_in_st').is(':checked')) {
                            if ((parseFloat(weightVal).toFixed(2) < WStMinVal) || (parseFloat(weightVal).toFixed(2) > WStMaxVal)) {
                                $(this).val('');
                                $('.confirm_msg').html('');
                                $('.confirm_msg').html('weight in st must be greater then 0.00 and less then  to 1000.00 ');
                                $("#alert_message").show();
                                return false;
                            }
                        }
                    } else {
                        if (weightVal != '' && !$.isNumeric(weightVal)) {
                            $(this).val('');
                            $('.confirm_msg').html('');
                            $('.confirm_msg').html('Please enter number only');
                            $("#alert_message").show();
                            return false;
                        }
                    }
                });

                //waist min max value for inpute 
                var WaCmMinVal = 1.00;
                var WaCmMaxVal = 61.01;
                var WInMinVal = 1.00;
                var WInMaxVal = 50.01;

                $("#indiv_waist").blur(function() {
                    var waistVal = $(this).val().trim();

                    if (waistVal != '' && $.isNumeric(waistVal)) {

                        if ($('#waist_in_cm').is(':checked')) {
                            // alert(parseFloat(waistVal).toFixed(2));
                            if ((parseFloat(waistVal).toFixed(2) < WaCmMinVal) || (parseFloat(waistVal).toFixed(2) > WaCmMaxVal)) {
                                $(this).val('');
                                $('.confirm_msg').html('');
                                $('.confirm_msg').html('waist in cm must be greater then 0.00 and less then equal to 61.00; ');
                                $("#alert_message").show();
                                return false;
                            }
                        }
                        if ($('#waist_in_inches').is(':checked')) {
                            if ((parseFloat(waistVal).toFixed(2) < WInMinVal) || (parseFloat(waistVal).toFixed(2) > WInMaxVal)) {
                                $(this).val('');
                                $('.confirm_msg').html('');
                                $('.confirm_msg').html('waist in inche must be greater then 0.00 and less then equal to 50.00 ');
                                $("#alert_message").show();
                                return false;
                            }
                        }
                    } else {
                        $(this).val('');
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter number only');
                        $("#alert_message").show();
                        return false;
                    }
                });

                $("#submit_bodyweight").click(function() {
                    //event.preventDefault(); waistValues
                    var heightValues = $("#height_in_feets").val().trim();
                    var weightValues = $("#indiv_weight").val().trim();
                    var waistValues = $("#indiv_waist").val().trim();

                    if (heightValues == "" && weightValues == "" && waistValues != "") {
                        return true;
                    }
                    if (heightValues == "") {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter  height details');
                        $("#alert_message").show();
                        return false;
                    }
                    if (weightValues == "") {
                        $('.confirm_msg').html('');
                        $('.confirm_msg').html('Please enter weight details');
                        $("#alert_message").show();
                        return false;
                    }
                });

                $('.radioWrapperNew .weightUnit').click(function() {
                    var weight = $(this).find('input:radio[name=weight_unit]').val().trim();
                    if (weight !== "undefined") {
                        $("#indiv_weight").attr("placeholder", '');
                        $("#indiv_weight").attr("placeholder", weight + '*');
                    }

                });

                $('.radioWrapperNew .waistUnit').click(function() {
                    var waist = $(this).find('input:radio[name=waist_unit]').val().trim();
                    if (waist !== "undefined") {
                        $("#indiv_waist").attr("placeholder", '');
                        $("#indiv_waist").attr("placeholder", waist);
                    }
                });

            });

        </script>

    </div>
</div>
<!--Container end here--> 

