<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 07/12/2014.
 * UPDATED: 08/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
$custom_plugin = $this->custom_plugin;
?>

<script src="<?php echo $this->serverUrl(); ?>/js/highcharts.js"></script>
<script src="<?php echo $this->serverUrl(); ?>/js/no-data-to-display.js"></script>
<script type="text/javascript">
    $(function () {
        <?php if(empty($this->yaxisData_distance) && empty($this->yaxisData_duration) && empty($this->yaxisData_cb)){ ?>
        Highcharts.setOptions({lang: {noData: "Physical Activity Graph Data Not Available"}});
        <?php }?>
        
        $('#container').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Physical Activity',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 310,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: ''
                }
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true,
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }

            },
            series: [{
                    name: 'Distance',
                    color: '#E49033',
                    data: [<?php echo $this->yaxisData_distance; ?>],
                    stack: 'Physical Activty',
                    marker: {
                        symbol: 'circle'
                    },
                }, {
                    name: 'Time',
                    color: '#E24033',
                    data: [<?php echo $this->yaxisData_duration; ?>],
                    stack: 'Physical Activty',
                    marker: {
                        symbol: 'circle'
                    },
                }, {
                    name: 'Calories Burned',
                    color: '#1E68CC',
                    data: [<?php echo $this->yaxisData_cb; ?>],
                    stack: 'Physical Activty',
                    marker: {
                        symbol: 'circle'
                    },
                }]
        });
    });
</script>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Physical Activity</div>
        <?php echo $this->partial('filter/filter_form'); ?> <!-- append filter page-->
    </div>
    <div class="pageWrapper">
        <span id="msg"></span>
        <div class="graphRow">
            <div class="graphBox">
                <div class="formWrapperContainer">
                    <div class="tripple GraphDataFilterBy clearfix">
                        <div class="row firstBlankRowRemove"></div>
                        <div class="row">
                            <label class="filerByLabel">
                                Choose Source
                            </label>
                        </div>
                        <div class="row last">
                            <div class="select">                           
                                <select class="select" title="Select Source" name="data_source_type" id="data_source_type">
                                    <option value="">Select Source</option>
                                    <?php
                                    if (count($this->datasorcelist) > 0) {
                                        $i = 0;
                                        foreach ($this->datasorcelist as $svalue) {
                                            ?>
                                            <option value="<?= $svalue['id'] ?>" <?= (($this->physicalactivitySource == $svalue['id']) ? "selected" : "") ?> >
                                                <?= $svalue['source_name'] ?>
                                            </option>
                                            <?php
                                            $i++;
                                        }
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="graphBox">                
                <div class="graph">
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        <div class="trippleGraphRow clearfix">
            <div class="graphRow">
                <div class="graphBox">
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Physical Activity</span>
                    </div>
                    <div class="activity_box">
                        <span class="activity_num " style="color: #0000FF"><?php echo ($custom_plugin->MToMile($this->distance_val) == '0.0' ? 'No Data' : $custom_plugin->MToMile($this->distance_val)); ?></span><?php echo ($custom_plugin->MToMile($this->distance_val) == '0.0' ? '' : $this->distanceUnit); ?>
                        <span class="activity_title">Distance</span>
                        <a href="<?php echo $this->basePath(); ?>/individual-add-physicalactivity" class="edit_activity"></a>
                    </div>
                </div>
            </div>
            <div class="graphRow">
                <div class="graphBox">
                    <div class="activity_box">
                <!-- <span class="activity_num tm"><?php echo (!empty($this->duraton_val) ? $this->duraton_val : 'No Data'); ?></span><?php echo (!empty($this->duraton_val) ? $this->timeUnit : ''); ?>-->
                        <span class="activity_num tm"><?php echo (!empty($this->duraton_val) ? $custom_plugin->timeformatehrm($this->duraton_val) : 'No Data'); ?></span>
                        <span class="activity_title">Time</span>
                        <a href="<?php echo $this->basePath(); ?>/individual-add-physicalactivity" class="edit_activity"></a>
                    </div>
                </div>
            </div>
            <div class="graphRow last">
                <div class="graphBox">
                    <div class="activity_box">
                        <span class="activity_num cv"><?php echo (!empty($this->calories_val) ? round($this->calories_val) : 'No Data'); ?></span><?php echo (!empty($this->calories_val) ? $this->caloriesUnit : '') ?>
                        <span class="activity_title">Calories Burned</span>
                        <a href="<?php echo $this->basePath(); ?>/individual-add-physicalactivity" class="edit_activity"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Container end here--> 
<script>
    $(document).ready(function () {

        $("#data_source_type").change(function () {
            var source_id = $(this).val();
            var fieldName = 'physicalactivity';
            // var user_id = '';
            var confirm_msg = confirm("Are you want to change default source?");
            if (confirm_msg == true) {
                if (source_id != '') {
                    $('.global_loader').show();
                    $.ajax({
                        type: "POST",
                        url: "/individual/ajax/SetdefaultSource",
                        data: {fieldName: fieldName, fieldValue: source_id},
                        success: function (response) {
                            var obj = jQuery.parseJSON(response);
                            var error = obj.error;
                            var msg = obj.msg;
                            $('.global_loader').hide();
                            if (error == "0") {
                                $("#msg").html();
                                $("#msg").html("<lable class='successMsg' style='display: block'> <span class='ui_icon success'></span>" + msg + "</lable>");
                                setTimeout(function () {
                                    window.location.reload();
                                    $(".successMsg").hide('slow');
                                }, 2000);
                            } else {
                                $("#msg").html();
                                $("#msg").html("<lable class='errorMsg' style='display: block'> <span class='ui_icon error'></span>" + msg + "</lable>");
                                setTimeout(function () {
                                    $(".errorMsg").hide('slow');
                                }, 2000);
                            }
                        }
                    });
                }
            }
//        else{
//              $('#data_source_type :nth-child()').prop('selected', true); // To select via value
//        }
            // alert(source_id);
        });

    });
</script>

