<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 07/12/2014.
 * UPDATED: 08/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>

<script src="<?php echo $this->serverUrl(); ?>/js/highcharts.js"></script>
<script src="<?php echo $this->serverUrl(); ?>/js/no-data-to-display.js"></script>
<script type="text/javascript">

    $(function () {
         <?php if(empty($this->yaxisData_systolic) && empty($this->yaxisData_diastolic)){ ?>
        Highcharts.setOptions({lang: {noData: "Blood Pressure Graph Data Not Available"}});
        <?php }?>
        $('#show_graph_pressure').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'

            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Blood Pressure',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 270,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData_bp ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Systolic (<?= $this->systolicUnit ?>)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_systolic; ?>],
                    color: '#f491a5'

                }, {
                    name: 'Diastolic (<?= $this->diastolicUnit ?>)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_diastolic; ?>],
                    color: '#8fd1ff'

                }]
        });

 <?php if(empty($this->yaxisData_pulse)){ ?>
        Highcharts.setOptions({lang: {noData: "Pulse Graph Data Not Available"}});
        <?php }?>
        $('#show_graph_pulse').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Pulse',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 140,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData_bp ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                crosshairs: false,
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Pulse (<?= $this->pulseUnit ?>)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_pulse; ?>],
                    color: '#f491a5'

                }]
        });


    });
</script>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Pressure &amp; Pulse</div>
        <?php echo $this->partial('filter/filter_form'); ?> <!-- append filter page-->
    </div>
    <div class="pageWrapper">
        <div class="doubleGraphRow clearfix">
            <span id="msg"></span>
            <div class="graphRow">

                <div class="graphBox">
                    <div class="formWrapperContainer">
                        <div class="tripple GraphDataFilterBy clearfix">
                            <div class="row firstBlankRowRemove"></div>
                            <div class="row">
                                <label class="filerByLabel">
                                    Choose Source
                                </label>
                            </div>
                            <div class="row last">
                                <div class="select">                           
                                    <select class="select" title="Select Source" name="data_source_type" id="data_source_type">
                                        <option value="">Select Source</option>
                                        <?php
                                        if (count($this->datasorcelist) > 0) {
                                            $i = 0;
                                            foreach ($this->datasorcelist as $svalue) {
                                                ?>
                                                <option value="<?= $svalue['id'] ?>" <?= (($this->PressureSource == $svalue['id']) ? "selected" : "") ?> >
                                                    <?= $svalue['source_name'] ?>
                                                </option>
                                                <?php
                                                $i++;
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graph_header graph_headerDash">
                    <span class="graph_title">Blood Pressure</span>
                </div>                
                <div class="graphBox">
                    <div class="graph">
                        <div id="show_graph_pressure" style="margin: 0 auto"></div>
                    </div>
                </div>
            </div>
            <div class="graphRow last">                
                <div class="graphBox">    
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Pulse</span>
                    </div>
                    <div class="graph">
                        <div id="show_graph_pulse" style="margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="doubleGraphRow clearfix">
            <div class="graphRow">
                <div class="graphBox">
                    <div class="activity_box">
                        <span class="activity_num" style="color: #8fd1ff"><?php echo (!empty($this->systolic_val) && !empty($this->diastolic_val) ? $this->systolic_val . '/' . $this->diastolic_val : 'No Data' ); ?></span> <?php echo (!empty($this->systolic_val) && !empty($this->diastolic_val) ? $this->diastolicUnit : '' ); ?>
                        <span class="activity_title">Pressure</span>

                        <a href="<?php echo $this->basePath() ?>/individual-add-bloodpressure" class="edit_activity"></a>
                    </div>
                </div>
            </div>
            <div class="graphRow last">
                <div class="graphBox">
                    <div class="activity_box">
                        <span class="activity_num" style="color: #f491a5;"><?php echo (!empty($this->pulse_val) ? $this->pulse_val : 'No Data'); ?></span><?php echo (!empty($this->pulse_val) ? $this->pulseUnit : ''); ?>
                        <span class="activity_title">Pulse</span>
                        <a href="<?php echo $this->basePath() ?>/individual-add-bloodpressure" class="edit_activity"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Container end here--> 
<script>
    $(document).ready(function () {

        $("#data_source_type").change(function () {
            var source_id = $(this).val();
            var fieldName = 'bloodpressure';
            // var user_id = '';
            var confirm_msg = confirm("Are you want to change default source?");
            if (confirm_msg == true) {
                if (source_id != '') {
                    $('.global_loader').show();
                    $.ajax({
                        type: "POST",
                        url: "/individual/ajax/SetdefaultSource",
                        data: {fieldName: fieldName, fieldValue: source_id},
                        success: function (response) {
                            var obj = jQuery.parseJSON(response);
                            var error = obj.error;
                            var msg = obj.msg;
                            $('.global_loader').hide();
                            if (error == "0") {
                                $("#msg").html();
                                $("#msg").html("<lable class='successMsg' style='display: block'> <span class='ui_icon success'></span>" + msg + "</lable>");
                                setTimeout(function () {
                                    window.location.reload();
                                    $(".successMsg").hide('slow');
                                }, 2000);
                            } else {
                                $("#msg").html();
                                $("#msg").html("<lable class='errorMsg' style='display: block'> <span class='ui_icon error'></span>" + msg + "</lable>");
                                setTimeout(function () {
                                    $(".errorMsg").hide('slow');
                                }, 2000);
                            }
                        }
                    });
                }
            }
//        else{
//              $('#data_source_type :nth-child()').prop('selected', true); // To select via value
//        }
            // alert(source_id);
        });

    });
</script>


