<?php
/* * ***********************
 * PHTML: USE TO SHOW SLEEP FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 14/01/2015.
 * UPDATED: .
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
$custom_plugin = $this->CusConPlug;
if($sleepSource==1){
   $sleepGraphData = "{
                    name: 'Manual ($this->manualUnit)',
                    color: '#1E68CC',
                    data: [$this->yaxisData_total_sleep],
                    stack: 'Sleep',
                    marker: {
                        symbol: 'circle'
                    },
                },";
}else{
    $sleepGraphData = "{
                    name: 'Awake ($this->awakeUnit)',
                    color: '#1E68CC',
                    data: [$this->yaxisData_awake],
                    stack: 'Sleep',
                    marker: {
                        symbol: 'circle'
                    },
                }, {
                    name: 'Deep ($this->deepUnit)',
                    color: '#E49033',
                    data: [$this->yaxisData_deep],
                    stack: 'Sleep',
                    marker: {
                        symbol: 'circle'
                    },
                }, {
                    name: 'Light ($this->lightUnit)',
                    color: '#8A2BE2',
                    data: [$this->yaxisData_light],
                    stack: 'Sleep',
                    marker: {
                        symbol: 'circle'
                    },
                }, {
                    name: 'Rem ($this->remUnit)',
                    color: '#f491a5',
                    data: [$this->yaxisData_rem],
                    stack: 'Sleep',
                    marker: {
                        symbol: 'circle'
                    },
                },";
}

//echo $sleepGraphData;exit;

?>
<script src="<?php echo $this->serverUrl(); ?>/js/highcharts.js"></script>
<script src="<?php echo $this->serverUrl(); ?>/js/no-data-to-display.js"></script>
<script type="text/javascript">
    $(function () {
<?php if (empty($this->yaxisData_awake) && empty($this->yaxisData_deep) && empty($this->yaxisData_light) && empty($this->yaxisData_rem)) { ?>
            Highcharts.setOptions({lang: {noData: "Sleep Activity Graph Data Not Available"}});
<?php } ?>
        $('#sleep_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Sleep Activity',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 400,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: ''
                }
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }

            },
            series: [<?=$sleepGraphData?>
            ]
        });
    });
</script>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Sleep Activity</div>
        <?php echo $this->partial('filter/filter_form'); ?> <!-- append filter page-->
    </div>
    <div class="pageWrapper">
        <span id="msg"></span>
        <div class="graphRow">
            <div class="graphBox">
                <div class="formWrapperContainer">
                    <div class="tripple GraphDataFilterBy clearfix">
                        <div class="row firstBlankRowRemove"></div>
                        <div class="row">
                            <label class="filerByLabel">
                                Choose Source
                            </label>
                        </div>
                        <div class="row last">
                            <div class="select">                           
                                <select class="select" title="Select Source" name="data_source_type" id="data_source_type">
                                    <option value="">Select Source</option>
                                    <?php
                                    if (count($this->datasorcelist) > 0) {
                                        $i = 0;
                                        foreach ($this->datasorcelist as $svalue) {
                                            ?>
                                            <option value="<?= $svalue['id'] ?>" <?= (($this->sleepSource == $svalue['id']) ? "selected" : "") ?> >
                                                <?= $svalue['source_name'] ?>
                                            </option>
                                            <?php
                                            $i++;
                                        }
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="graphBox">  
                <div class="graph_header graph_headerDash">
                    <span class="graph_title">Sleep Activity</span>
                </div>
                <div class="graph"><div id="sleep_graph"></div></div>
            </div>
        </div>
        <div class="doubleGraphRow clearfix">
            <div class="graphRow">
                <div class="graphBox">
                    <div class="activity_box">
                        <span class="activity_num" style="color: #1E68CC"><?php echo (!empty($this->current_awake) ? $custom_plugin->timeformatehrm($this->current_awake) : 'No Data' ) ?></span>
                        <span class="activity_title">Awake</span>
                        <!--                         <a href="#" class="edit_activity"></a>-->
                    </div>
                </div>
            </div>
            <div class="graphRow last">
                <div class="graphBox">
                    <div class="activity_box">
                        <span class="activity_num" style="color: #E49033;"><?php echo (!empty($this->current_deep) ? $custom_plugin->timeformatehrm($this->current_deep) : 'No Data' ) ?></span>
                        <span class="activity_title">Deep</span>
                        <!--                         <a href="#" class="edit_activity"></a>-->
                    </div>
                </div>
            </div>

        </div>
        <div class="doubleGraphRow clearfix">
            <div class="graphRow">
                <div class="graphBox">
                    <div class="activity_box">
                        <span class="activity_num" style="color: #8A2BE2"><?php echo (!empty($this->current_light) ? $custom_plugin->timeformatehrm($this->current_light) : 'No Data' ) ?></span>
                        <span class="activity_title">Light</span>
                        <!--                         <a href="#" class="edit_activity"></a>-->
                    </div>
                </div>
            </div>
            <div class="graphRow last">
                <div class="graphBox">
                    <div class="activity_box">
                        <span class="activity_num" style="color: #f491a5"><?php echo (!empty($this->current_rem) ? $custom_plugin->timeformatehrm($this->current_rem) : 'No Data' ) ?></span>
                        <span class="activity_title">Rem</span>
                        <!--                         <a href="#" class="edit_activity"></a>-->
                    </div>
                </div>
            </div>

        </div>
        <div class="doubleGraphRow clearfix">
            <div class="graphRow">
                <div class="graphBox">
                    <div class="activity_box">
                        <span class="activity_num" style="color: #E24033"><?php echo (!empty($this->current_total_sleep) ? $custom_plugin->timeformatehrm($this->current_total_sleep) : 'No Data' ) ?></span>
                        <span class="activity_title">Total</span>
                        <a href="<?php echo $this->basePath(); ?>/individual-add-sleep" class="edit_activity"></a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!--Container end here--> 
<script>
    $(document).ready(function () {

        $("#data_source_type").change(function () {
            var source_id = $(this).val();
            var fieldName = 'sleep';
            // var user_id = '';
            var confirm_msg = confirm("Are you want to change default source?");
            if (confirm_msg == true) {
                if (source_id != '') {
                    $('.global_loader').show();
                    $.ajax({
                        type: "POST",
                        url: "/individual/ajax/SetdefaultSource",
                        data: {fieldName: fieldName, fieldValue: source_id},
                        success: function (response) {
                            var obj = jQuery.parseJSON(response);
                            var error = obj.error;
                            var msg = obj.msg;
                            $('.global_loader').hide();
                            if (error == "0") {
                                $("#msg").html();
                                $("#msg").html("<lable class='successMsg' style='display: block'> <span class='ui_icon success'></span>" + msg + "</lable>");
                                setTimeout(function () {
                                    window.location.reload();
                                    $(".successMsg").hide('slow');
                                }, 2000);
                            } else {
                                $("#msg").html();
                                $("#msg").html("<lable class='errorMsg' style='display: block'> <span class='ui_icon error'></span>" + msg + "</lable>");
                                setTimeout(function () {
                                    $(".errorMsg").hide('slow');
                                }, 2000);
                            }
                        }
                    });
                }
            }
//        else{
//              $('#data_source_type :nth-child()').prop('selected', true); // To select via value
//        }
            // alert(source_id);
        });

    });
</script>

