<?php
/* * ***********************
 * PHTML: USE TO SHOW TEMPERATURE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 14/01/2015.
 * UPDATED: .
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
<script src="<?php echo $this->serverUrl(); ?>/js/highcharts.js"></script>
<script src="<?php echo $this->serverUrl(); ?>/js/no-data-to-display.js"></script>
<script type="text/javascript">
    $(function () {
        /*
         * Individual Temperature Graph  individual_temperature_graph         
         */
         <?php if(empty($this->yaxisData_temp)){ ?>
        Highcharts.setOptions({lang: {noData: "Temperature Graph Data Not Available"}});
        <?php }?>
        $('#individual_temperature_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Temperature',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 140,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true,
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Temperature (<?= $this->temperatureUnit ?>)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_temp; ?>],
                    color: '#ffee50'

                }]
        });

    });
</script>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Temperature Activity</div>
        <?php echo $this->partial('filter/filter_form'); ?> <!-- append filter page-->
    </div>
    <div class="pageWrapper">
        <span id="msg"></span>
        <div class="graphRow">
            <div class="graphBox">
                <div class="formWrapperContainer">
                    <div class="tripple GraphDataFilterBy clearfix">
                        <div class="row firstBlankRowRemove"></div>
                        <div class="row">
                            <label class="filerByLabel">
                                Choose Source
                            </label>
                        </div>
                        <div class="row last">
                            <div class="select">                           
                                <select class="select" title="Select Source" name="data_source_type" id="data_source_type">
                                    <option value="">Select Source</option>
                                    <?php
                                    if (count($this->datasorcelist) > 0) {
                                        $i = 0;
                                        foreach ($this->datasorcelist as $svalue) {
                                            ?>
                                            <option value="<?= $svalue['id'] ?>" <?= (($this->temperatureSource == $svalue['id']) ? "selected" : "") ?> >
                                                <?= $svalue['source_name'] ?>
                                            </option>
                                            <?php
                                            $i++;
                                        }
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="graphBox">                   
                <div class="graph"><div id="individual_temperature_graph"></div></div>
            </div>
        </div>
        <div class="trippleGraphRow clearfix">
            <div class="graphRow">
                <div class="graphBox">
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Temperature</span>
                    </div>
                    <div class="activity_box">
                        <span class="activity_num " style="color: #ffee50"><?php echo ($this->temperature_value != 0.0 ? $this->temperature_value : 'No Data'); ?></span><?php echo ($this->temperature_value != 0.0 ? $this->temperatureUnit : '') ?>
                        <span class="activity_title">Temperature</span>
                        <a href="<?php echo $this->basePath(); ?>/individual-add-temperature" class="edit_activity"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Container end here--> 
<script>
    $(document).ready(function () {

        $("#data_source_type").change(function () {
            var source_id = $(this).val();
            var fieldName = 'temperature';
            // var user_id = '';
            var confirm_msg = confirm("Are you want to change default source?");
            if (confirm_msg == true) {
                if (source_id != '') {
                    $('.global_loader').show();
                    $.ajax({
                        type: "POST",
                        url: "/individual/ajax/SetdefaultSource",
                        data: {fieldName: fieldName, fieldValue: source_id},
                        success: function (response) {
                            var obj = jQuery.parseJSON(response);
                            var error = obj.error;
                            var msg = obj.msg;
                            $('.global_loader').hide();
                            if (error == "0") {
                                $("#msg").html();
                                $("#msg").html("<lable class='successMsg' style='display: block'> <span class='ui_icon success'></span>" + msg + "</lable>");
                                setTimeout(function () {
                                    window.location.reload();
                                    $(".successMsg").hide('slow');
                                }, 2000);
                            } else {
                                $("#msg").html();
                                $("#msg").html("<lable class='errorMsg' style='display: block'> <span class='ui_icon error'></span>" + msg + "</lable>");
                                setTimeout(function () {
                                    $(".errorMsg").hide('slow');
                                }, 2000);
                            }
                        }
                    });
                }
            }
//        else{
//              $('#data_source_type :nth-child()').prop('selected', true); // To select via value
//        }
            // alert(source_id);
        });

    });
</script>

