<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 12/12/2014.
 * UPDATED: 12/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>

<script src="<?php echo $this->serverUrl(); ?>/js/highcharts.js"></script>
<script src="<?php echo $this->serverUrl(); ?>/js/no-data-to-display.js"></script>
<script type="text/javascript">
    $(function () {
        <?php if(empty($this->yaxisData_steps)){ ?>
        Highcharts.setOptions({lang: {noData: "Steps Graph Data Not Available"}});
        <?php }?>
        $('#container').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Steps',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 140,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
//        subtitle: {
//            text: 'Source: WorldClimate.com'
//        },
            xAxis: {
                categories: [<?php echo $this->xaxisData_steps ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Steps',
                    marker: {
                        symbol: 'square'
                    },
                    data: [<?php echo $this->yaxisData_steps; ?>]

                }]
        });
    });
</script>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Steps</div>
        <?php echo $this->partial('filter/filter_form'); ?> <!-- append filter page-->
    </div>
    <div class="pageWrapper">
        <div class="doubleGraphRow clearfix">
            <div class="graphRow clearfix">
                <div class="graphBox" style="margin-bottom:20px">
                    <div class="graph calendarWrapper"></div>
                </div>

                <div class="graphBox">
                    <div class="graph_header">
                        <span class="graph_title">Commute</span>
                        <span class="feelings" id="steps_currentdate">| <?php echo date("d M, Y", strtotime($this->today_date)); ?></span>
                    </div>
                    <div class="graph" style="max-height:350px; overflow-y:auto" id="movesgraph">
                        <?php if (count($this->movesData) > 0) { 
                            
                            ?>
                            <ul class="commutations_graph" >
                                <?php
                                foreach ($this->movesData as $movvalue) {
                                    if (!empty($movvalue['Duration'])) {
                                         $show_date_time = $movvalue['ExerciseRecorddate'] ." ".$movvalue['ExerciseRecordtime'];
                                         $today = (new \DateTime($show_date_time, new \DateTimeZone($time_zone)));
                                         $today_show =  $today->format('Y-m-d H:i:s');
                                         
                                        ?>
                                        <li class="" style="border-left: <?= $movvalue['color'] ?> 10px solid;">
                                            <span class="time"><?php echo date('g:i A', strtotime($today_show))?></span>
                                            <span class="task"><?php echo ucfirst($movvalue['ActivityType']) ?>, <?php echo $movvalue['Duration'] ?> Min</span>
                                            <span class="bullet"></span>
                                        </li>
                                        <?php
                                    }
                                }
                                ?>
                            </ul>
                            <?php
                        } else {
                            echo "Sorry no record found.";
                        }
                        ?>


                    </div>
                </div>

            </div>
            <div class="graphRow last clearfix">
                <span id="msg"></span>
                <div class="graphBox">
                    <div class="formWrapperContainer">
                        <div class="tripple GraphDataFilterBy clearfix">
                            <div class="row firstBlankRowRemove"></div>
                            <div class="row">
                                <label class="filerByLabel">
                                    Choose Source
                                </label>
                            </div>
                            <div class="row last">
                                <div class="select">                           
                                    <select class="select" title="Select Source" name="data_source_type" id="data_source_type">
                                        <option value="">Select Source</option>
                                        <?php
                                        if (count($this->datasorcelist) > 0) {
                                            $i = 0;
                                            foreach ($this->datasorcelist as $svalue) {
                                                ?>
                                                <option value="<?= $svalue['id'] ?>" <?= (($this->stepSource == $svalue['id']) ? "selected" : "") ?> >
                                                    <!--                                        <a href="#" title=""> 
                                                                                                <img src="<?= $svalue['source_image'] ?>" />-->
                                                    <?= $svalue['source_name'] ?>
                                                    <!--                                        </a>-->
                                                </option>
                                                <?php
                                                $i++;
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graphBox">                   
                    <div class="graph">
                        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                    <div class="steps_travelled_information">
                        <div class="steps_travelled_title">Total number of steps travelled so far :</div>
                        <div class="stepsNum" style="color: rgb(124, 181, 236);"><?php echo (!empty($this->total_steps_sum) ? $this->total_steps_sum : 'No Data'); ?></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function (e) {
            DatePicker();
            function DatePicker() {
                $(".calendarWrapper").datepicker({
                    dateFormat: 'dd M yy',
                    maxDate: 0,
                    onSelect: function (dateText, inst) {
                        // alert(dateText);
                        var currentdate = $.datepicker.formatDate('dd MM, yy', new Date(dateText));
                        // alert(currentdate);exit;
                        $('#steps_currentdate').html(currentdate);
                        $(".global_loader").show();
                        $.ajax({
                            type: "POST",
                            url: '/individual/ajax/movesgraph',
                            data: {date: dateText},
                            success: function (res) {
                                $(".global_loader").hide();
                                var obj = jQuery.parseJSON(res);
                                var error = obj.error;
                                var msg = obj.msg;
                                var link = obj.link;
                                if (error == '0') {
                                    $('#movesgraph').html('');
                                    $('#movesgraph').html(msg);
                                }
                                if (error == '1' && link != '') {
                                    window.location.href = link;
                                    //$('#movesgraph').html(link);
                                }
                                if (error == '1' && link == '') {
                                    $('#movesgraph').html('');
                                    $('#movesgraph').html(msg);
                                }
                            }
                        });
                    }
                });
            }
            $("#data_source_type").change(function () {
                var source_id = $(this).val();
                var fieldName = 'step';
                // var user_id = '';
                var confirm_msg = confirm("Do you want to change the default source");
                if (confirm_msg == true) {
                    if (source_id != '') {
                        $('.global_loader').show();
                        $.ajax({
                            type: "POST",
                            url: "/individual/ajax/SetdefaultSource",
                            data: {fieldName: fieldName, fieldValue: source_id},
                            success: function (response) {
                                var obj = jQuery.parseJSON(response);
                                var error = obj.error;
                                var msg = obj.msg;
                                $('.global_loader').hide();
                                if (error == "0") {
                                    $("#msg").html();
                                    $("#msg").html("<lable class='successMsg' style='display: block'> <span class='ui_icon success'></span>" + msg + "</lable>");
                                    setTimeout(function () {
                                        window.location.reload();
                                        $(".successMsg").hide('slow');
                                    }, 2000);
                                } else {
                                    $("#msg").html();
                                    $("#msg").html("<lable class='errorMsg' style='display: block'> <span class='ui_icon error'></span>" + msg + "</lable>");
                                    setTimeout(function () {
                                        $(".errorMsg").hide('slow')
                                    }, 2000);
                                }
                            }
                        });
                    }
                }
//        else{
//              $('#data_source_type :nth-child()').prop('selected', true); // To select via value
//        }
                // alert(source_id);
            });

        });
    </script>


</div>
<!--Container end here--> 
