<?php $this->flashMessenger()->clearMessages(); ?>
<?= $this->headScript()->prependFile($this->basePath() . '/ckeditor/ckeditor.js'); ?>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('editor1');
        CKEDITOR.editorConfig = function (config) {
            config.language = 'es';
            config.uiColor = '#F7B42C';
            config.height = 300;
            config.toolbarCanCollapse = true;
        };
        var exists = 1;
        $('#invuTo').keydown(function (e) {
            if (e.keyCode == 186 || e.keyCode == 32 || e.keyCode == 188 || e.keyCode == 13) {
                var idName = $(this).val();
                idName = idName.replace(/[^a-zA-Z ]/g, "-");
                if (ValidateEmail($(this).val(), idName)) {
                    var len = $('#EmailAddressDiv .bdlFile').length;
                    if (len > 199) {
                        $('label.error').html('System can only send 200 email at a time');
                        $(this).val('');
                        return false;
                    }
                    $('#EmailAddressDiv').append('<div id="' + idName + '" class="bdlFile">' + $(this).val() + ' <input class="EmailClass" type="hidden" value="' + $(this).val() + '" name="email[]"/><div class="bdl_delete DeleteEmail">X</div></div>');

                    var existing = new Array();
                    $('.EmailClass').each(function () {
                        existing.push($(this).val());
                    })
                    $('.Existing').val(existing);
                    $(this).val('');
                    checkError();
                    return false;
                } else {
                    $(this).val('');
                    checkError();
                    return false;
                }
            }
        })
        $('#invuTo').blur(function (e) {
            var idName = $(this).val();
            idName = idName.replace(/[^a-zA-Z ]/g, "-");
            if (ValidateEmail($(this).val(), idName)) {
                var len = $('#EmailAddressDiv .bdlFile').length;
                if (len > 199) {
                    $('label.error').html('System can only send 200 email at a time');
                    $(this).val('');
                    return false;
                }
                $('#EmailAddressDiv').append('<div id="' + idName + '" class="bdlFile">' + $(this).val() + ' <input class="EmailClass" type="hidden" value="' + $(this).val() + '" name="email[]"/><div class="bdl_delete DeleteEmail">X</div></div>');
                var existing = new Array();
                $('.EmailClass').each(function () {
                    existing.push($(this).val());
                })
                $('.Existing').val(existing);
                $(this).val('');
                checkError();
                return false;
            } else {
                $(this).val('');
                checkError();
                return false;
            }
        })
//        $("#invuTo").bind('paste', function (e) {
//            var Obj = $(this);
//            setTimeout(function () {
//                var idName = $(this).val();
//                idName = idName.replace(/[^a-zA-Z ]/g, "-");
//                if (ValidateEmail($(this).val(), idName)) {
//                    $('#EmailAddressDiv').append('<div id="' + idName + '" class="bdlFile">' + Obj.val() + ' <input type="hidden" value="' + Obj.val() + '" name="email[]"/><div class="bdl_delete DeleteEmail">X</div></div>');
//                    checkError();
//                    $(this).val('');
//                    return false;
//                } else {
//                    $(this).val('');
//                    checkError();
//                    return false;
//                }
//            }, 200);
//        })
        $(document).on('click', '.DeleteEmail', function () {
            $(this).parent().remove();
            var len = $('#EmailAddressDiv .bdlFile').length;

            var existing = new Array();
            $('.EmailClass').each(function () {
                existing.push($(this).val());
            })
            $('.Existing').val(existing);

            if (len == 0) {
                $('.browsDocList').hide();
            }
        })
        $('#InvitationForm').submit(function () {
            var len = $('#EmailAddressDiv .bdlFile').length;
            if (len == 0) {
                $('label.error').html('You must provide at least one recipient email address ');
                return false;
            }
        })
    });
    function ValidateEmail(email, idName) {
        var len = $('#' + idName).length;
        var Data = {email: email, id:<?= $session['id']; ?>};
        if (email != '') {
            $.ajax({
                type: 'post',
                url: '<?= $this->basePath(); ?>/admin/invitation/checkEmail',
                data: Data,
                async: false,
                success: function (result) {
                    if (result == '0') {
                        $('label.error').html('Email already register with this domain.');
                        exists = 0;
                    } else {
                        exists = 1;
                    }
                }
            })
            if (len == 0 && exists) {
                var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                if (expr.test(email)) {
                    return true;
                } else {
                    exists = 0;
                    $('label.error').html('Please provide valid email address');
                    return false;
                }
            } else {
                return false;
            }
        } else {
            return false;
        }
    }
    function checkError() {
        var len = $('#EmailAddressDiv .bdlFile').length;

        if (len != 0 && exists != 0) {
            $('label.error').html('');
            $('.browsDocList').show();
        }

        if (len == 0) {
            $('.browsDocList').hide();
        }

    }
    function runScript(e) {
        if (e.keyCode == 13) {
            return false;
        } else {
            return true;
        }
    }
</script>
<style>
    .invUser .browsDocList .bdl_row .bdlFile {
        background: none repeat scroll 0 0 #f1eff0;
        border-radius: 2px;
        color: #006094;
        font-size: 13px;
        font-weight: bold;
        line-height: normal;
        padding: 4px 24px 4px 4px;
    }
</style>
<div id="content-wrapper" class="clearfix">
    <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
        <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
            <div class="errorMsg">
                <span class="ui_icon error"></span>
                <?= $msg["error"]; ?>
            </div>
        <?php endif; ?>
        <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
            <div class="successMsg">
                <span class="ui_icon success"></span>
                <?= $msg["success"]; ?>
            </div>
        <?php endif; ?>
    <?php } ?>


    <script>
        $(document).ready(function () {
            $('#xlsUploadForm').validate({
                rules: {
                    excel_file: {
                        required: true,
                        accept: 'xls'
                    }
                },
                messages: {
                    excel_file: {
                        required: 'Please select a file',
                        accept: 'Select file extension with(xls)'
                    }
                }, errorPlacement: function (error, element) {
                    error.appendTo(element.parents("div.browsDoc"));
                }
            })
            //var bar = $('.bar');
            $('#xlsUploadForm').ajaxForm({
                beforeSend: function () {
                    //var percentVal = '0%';
                    // bar.show();
                    //$('.progressbar').show();
                    // bar.width(percentVal)
                    var file_data = $('#ExcelUpload').prop('files')[0];
                   
                    showLoder('#Processing');
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    //var percentVal = percentComplete - 25 + '%';
                    //bar.width(percentVal)
                },
                success: function (data) {
                    //var percentVal = '100%';
                    //bar.width(percentVal);
                    var Result = jQuery.parseJSON(data);
                    //
                    for (i = 0; i < Result.length; i++) {
                        var idName = Result[i];
                        idName = idName.replace(/[^a-zA-Z ]/g, "-");
                        $('#EmailAddressDiv').append('<div id="' + idName + '" class="bdlFile">' + Result[i] + ' <input class="EmailClass" type="hidden" value="' + Result[i] + '" name="email[]"/><div class="bdl_delete DeleteEmail">X</div></div>');
                        $('.browsDocList').show();
                    }
                    var existing = new Array();
                    $('.EmailClass').each(function () {
                        existing.push($(this).val());
                    })
                    $('.Existing').val(existing);
                },
                complete: function (xhr) {
                    //bar.width('0%');
                    //bar.hide();
                    //$('.progressbar').hide();
                    hideLoder('#Processing');

                }
            });
            $('#ExcelUpload').change(function () {
                if ($('#xlsUploadForm').validate().form()) {
                    $('#xlsUploadForm').submit();
                }
            });
        });
    </script>

    <form method="post" action="<?= $this->basePath(); ?>/admin/invitation/uploadXls" id="xlsUploadForm">
            <div class="browsDoc" style=" width: 50%;padding-bottom: 0px; margin-left: 30%;">

                <div class="bd_btn" onclick="javascript:document.getElementById('ExcelUpload').click();" style="width: auto; min-width: 330px; display: inline-block; ">Upload File 
                    <input type="file" id="ExcelUpload" name="excel_file">  

                </div>
                <span style="position: relative">
                    <a href="javascript:void(0);" class="helpInfo">?</a>
                    <div class="help_tooltip">
                        Import xls file for bulk email invitation<br>
                        <a href="<?= $this->basePath(); ?>/bulk_email_template.xls" target="_blank"> Click here to download xls template</a>
                    </div>
                </span>
                <input type="hidden" name="existing" class="Existing"/>
            </div>
        
    </form>

    <h3 style="text-align: center;margin-top: 10px;">OR</h3>
    <form action="" method="POST" id="InvitationForm">
        <div class="pageWrapper" style="padding-top:10px;">
            <div class="pghFixed">
                <div class="pgh_title">| Invite Users</div>
            </div>
            <div class="invUser">
                <div class="invuRow" style="margin-bottom:0px;">
                    <label for="invuTo">To</label>
                    <div class="invuInput">
                        <input type="text" name=""value="" class="invuTo" id="invuTo" onkeypress="return runScript(event)"/>

                    </div>


                </div>
                <label class="error"></label>


                <div class="browsDocList clearfix" style="display: none;margin: 4px 0; border: 2px solid #B6B6B6;max-height: 150px; overflow-y: scroll;">
                    <div class="bdl_row clearfix" id="EmailAddressDiv">
                    </div>
                </div>
                <div class="invuRow" style="margin-top: 5px;">
                    <textarea name="editor1"  placeholder="Your Message"><?= INVITEMSG; ?></textarea>
                </div>
            </div>
            <div class="boxBtn bb_btn_list clearfix">
                <ul>
                    <li>
                        <input type="submit" class="bb_btn" value="Send"/>
                    </li>
                </ul>
            </div>
        </div>
    </form> 
</div>
<style>
    .helpInfo{
        background-color: #597DDB;
        color: #FFFFFF;
        display: inline-block;
        font-size: 25px;
        height: 38px;
        line-height: normal;
        text-align: center;
        width: 38px;
    }
    .help_tooltip{
        padding: 15px; 
        background-color: #fff; 
        border: 1px solid #ccc; 
        display: none;
        position: absolute;
        top: 100%;
        width: 250px;
        height: auto;
        left: 0;
        z-index: 999
    }
    .help_tooltip:after{
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top:-10px;
        left: 10px;
        border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff;
    }
</style>
<script>
    $(function () {
        $('.helpInfo').click(function () {
            $(this).next('.help_tooltip').slideToggle();
        });
    });
</script>