<?php
/* * ***********************
 * PHTML: USE TO LIST THE BLOG PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 25/02/2015.
 * UPDATED: 00/00/0000.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>

<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Blogs</div>
        <div class="formWrapperContainer filterBy">
            <form action="" method="get" name="blogFilterForm" id="blogFilterForm">
                <div class="row">
                    <div class="select" >
                        <select title="Filter By" class="select" name="sort" id="blogFilter">
                            <option value="">Filter By</option>
                            <option value="all" <?php echo (($this->sort=="all")? 'selected' : '') ?>>All</option>
                            <option value="montha" <?php echo (($this->sort=="montha")? 'selected' : '') ?>>Month Ascending </option>
                            <option value="monthd" <?php echo (($this->sort=="monthd")? 'selected' : '') ?>>Month Descending </option>
                            <option value="cata" <?php echo (($this->sort=="cata")? 'selected' : '') ?>>Category Ascending</option>
                            <option value="catd" <?php echo (($this->sort=="catd")? 'selected' : '') ?>>Category Descending</option>
                            <option value="autha" <?php echo (($this->sort=="autha")? 'selected' : '') ?>>Author Name Ascending</option>
                            <option value="authd" <?php echo (($this->sort=="authd")? 'selected' : '') ?>>Author Name Descending</option>      
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="pageWrapper">
        <div class="table cb_Grid">
            <?php if (count($this->blogData) > 0) {
                ?>
                <?php
                $month_blog = array();
                foreach ($this->blogData as $bvale) {
                    $blog_id = $this->CusConPlug->encryptdata($bvale['blog_id']); // encripted blog id  

                    $month_blog_list = date("F Y", $bvale['creation_date']); // current month list 
                    $show_data = date("F", $bvale['creation_date']);
                    if ($sort == 'cata' || $sort == 'catd') {
                        $month_blog_list = $bvale['cat_id'];
                        $show_data = $bvale['cat_name'];
                    }
                     if ($sort == 'autha' || $sort == 'authd') {
                        $month_blog_list = $bvale['author_id'];
                        $show_data = $bvale['author_name'];
                    }
                    ?>
                    <?php if (!in_array($month_blog_list, $month_blog)) { ?>
                        <div class="row clearfix head">
                            <div class="col wd90">                  
                                <span class="txt"><?php echo $show_data; ?></span>
                            </div>
                        </div>
                        <?php
                    }
                    $month_blog[] = date("F Y", $bvale['creation_date']); // append year in list
                    if ($sort == 'cata' || $sort == 'catd') {
                        $month_blog[] = $bvale['cat_id']; // append category in list
                    }
                    if ($sort == 'autha' || $sort == 'authd') {
                        $month_blog[] = $bvale['author_id']; // append category in list
                    }
                    ?>
                    <div class="row clearfix" onClick="location = '/individual-blog-details/<?php echo $blog_id ?>'">
                        
                        <div class="col wd100 clearfix">
                            <?php
                            $marg="";
                            if(!empty($bvale['blog_image'])){
                                $imge = $bvale['blog_image'];
                                ?>
                            <div class="blog_img"><img src="/uploads/blogs/<?=$imge?>" alt=""></div>
                            <?php } else{ 
                                $marg= "style='margin-left: 0'";
                            }
?>
                            
                            <span class="txt" <?=$marg?>>
                                <p class="heading"><?php echo $bvale['title']; ?></p>
                                <p class="date"><span class="category">
                                    <?php echo $bvale['cat_name']; ?></span> 
                                 |  <?php echo date("d M, Y", $bvale['creation_date']); ?>
                                 | <?php echo $bvale['author_name']; ?>
                                    
                                </p>
                                <p  class="date"></p>
                                <p class="date"><?php echo $bvale['short_description']; ?></p>
                            </span>
                        </div>
                    </div>   
                    <?php
                }
            }
            ?>
        </div>    
        <div class="pagination pagination-centered clearfix">
            <!------pagination start ------->
            <div class="stripSecond">
                <?php
                // add at the end of the file after the table
                if (count($this->blogData)) {
                    echo $this->paginationControl($this->blogData, 'Jumping', array('paginator/paginators', 'BlogIs'), array('route' => 'indiv_blog', 'routeParams' => $this->routeParams));
                } else {
                    ?>
                    <div id="news19" class="advertiserRow">
                        <div class="advertiserListRow bdr_rds2 no_record_found clearfix">

                        </div>
                    </div>
                    <?php
                }
                ?>
            </div>
            <!------pagination end ------->
        </div>
    </div>
</div>
<style>
    .cb_Grid{
        margin-top:10px;
        margin-bottom:20px;
        background: none;
        border: 0;
    }
    .cb_Grid .row.head{
        background-color:#808080;
        padding:5px 0;
        text-transform:uppercase;
        margin-top: 15px;
    }
    .cb_Grid .row{
        background-color: #fff;
    }
    .cb_Grid .row.head .col .txt{
        color:#FFFFFF;
        margin-left: 0;
    }
   .cb_Grid .row .blog_img{
		float: left;
		height: 100px;
		margin: 10px;
		width: 100px;
	}
	.cb_Grid .row .blog_img img{
		height:100%;
		width:100%;
	}
	.cb_Grid .row .col .txt{
		margin-left: 100px;
		padding: 8px 15px;
		text-align: left;
	}
    .cb_Grid .row .col.wd100{
        width:100%;
        cursor:pointer;
        float:none
    }
    .cb_Grid .row .col.wd100:hover{
        background-color:#E8E8E8
    }
    .cb_Grid .row .col .txt .heading{
        font-size:16px;
        padding-bottom:4px;
        color:#000000
    }
    .cb_Grid .row .col .txt .date{
        color:#858585;
        font-family:robotolight;
    }
    .cb_Grid .row .col .txt .category{
        color:#597ddb
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#blogFilter").change(function () {
            var fval = $("#blogFilter").val().trim();
            if (fval != '') {
                $('#blogFilterForm').submit();
            }

        });
    });
</script>
<!--Container end here--> 