<?php
/* * ***********************
 * PHTML: USE TO LIST THE BLOG PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 25/02/2015.
 * UPDATED: 00/00/0000.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));

?>

<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Blog Details</div>
   </div>
    <div class="pageWrapper">
        <div class="table cb_Grid table_box_shadow">
            <div class="row clearfix" onClick="location='#'">
                <div class="col wd100">
                    <span class="txt">
                                            
                    	<h2 class="heading"><?php echo $this->blogData['title']; ?></h2>
                        <p class="date"><span class="category">
                            <?php echo $this->blogData['cat_name']; ?></span> |
                         <?php echo date("d M, Y",  $this->blogData['creation_date']); ?> |
                          <?php echo  $this->blogData['author_name']; ?>
                        </p>
                    </span>
                    <span class="txt" style="padding-top:0">
                     <?php
                        if(!empty($this->blogData['blog_image'])){
                                $imge = $this->blogData['blog_image'];
                                ?>
                            <div class="blog_img"><img src="/uploads/blogs/<?=$imge?>" alt=""></div>
                            <?php } 
                        ?>
                       
                        <div class="heading">
                            <?php echo stripslashes($this->blogData['long_description']); ?>
                       </div>
                    </span>
                </div>
            </div>
        </div>    
    </div>
</div>
    <style>
	.cb_Grid{
		margin-top:10px;
		margin-bottom:20px;
	}
	.cb_Grid .row .col .txt{
		text-align:left;
		padding:15px;
	}
        .cb_Grid .row .blog_img{
		float: left;
		margin: 0 10px 10px 0;
		max-width: 320px;
	}
	.cb_Grid .row .blog_img img{
		height:100%;
		width:100%;
	}
	.cb_Grid .row .col.wd100{
		width:100%;
		float:none
	}
	.cb_Grid .row .col .txt h2.heading{
		font-size:22px;
		line-height:normal;
		font-weight:normal;
		padding-bottom:6px;
		color:#000
	}
	.cb_Grid .row .col .txt .heading{
		font-size:14px;
		color:#3b3b3b
	}
	.cb_Grid .row .col .txt .date{
		padding-bottom:6px;
		color:#858585;
		font-family:robotolight;
	}
	.cb_Grid .row .col .txt .category{
		color:#597ddb
	}
	</style>
<!--Container end here--> 
