<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 07/12/2014.
 * UPDATED: 07/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
//echo $this->yaxisData_ldl;exit;
?>
<script src="<?php echo $this->serverUrl(); ?>/js/highcharts.js"></script>
<script src="<?php echo $this->serverUrl(); ?>/js/highcharts-more.js"></script>
<script src="<?php echo $this->serverUrl(); ?>/js/no-data-to-display.js"></script>
<style type="text/css">
    .highcharts-title {font-weight: bold;}
</style>
<script type="text/javascript">
    $(function() {
        /*
         * body measurement Graph
         */
<?php if (empty($this->yaxisData_height) && empty($this->yaxisData_weight)) { ?>
            Highcharts.setOptions({lang: {noData: "Height & Weight Graph Data Not Available"}});
<?php } ?>
        $('#body_measurement_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Height & Weight',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 230,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true,
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Weight (Pounds)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_weight; ?>],
                    color: '#ffee50',
                }, {
                    name: 'Height (in)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_height; ?>],
                    color: '#8fd1ff',
                }]
        });

        /*
         * Individual Pressure  Graphp
         */
<?php if (empty($this->yaxisData_systolic) && empty($this->yaxisData_diastolic)) { ?>
            Highcharts.setOptions({lang: {noData: "Blood Pressure Graph Data Not Available"}});
<?php } ?>
        $('#individual_pressure_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Blood Pressure',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 220,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true,
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Systolic (mm/Hg)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_systolic; ?>],
                    color: '#f491a5',
                }, {
                    name: 'Diastolic (mm/Hg)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_diastolic; ?>],
                    color: '#8fd1ff',
                }]
        });

        /*
         * Fasting Glucose Graph  individual_fastingglucose_graph
         */
<?php if (empty($this->yaxisData_measurement)) { ?>
            Highcharts.setOptions({lang: {noData: "Glucose Graph Data Not Available"}});
<?php } ?>
        $('#individual_fastingglucose_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Glucose',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 140,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true,
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Glucose (mg/dL)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_measurement; ?>],
                    color: '#8fd1ff',
                }]
        });



        /*
         * Puls graph   individual_pulse_graph
         */
<?php if (empty($this->yaxisData_puls)) { ?>
            Highcharts.setOptions({lang: {noData: "Pulse Graph Data Not Available"}});
<?php } ?>
        $('#individual_pulse_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Pulse',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 140,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }
            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true,
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Pulse (bmp)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_puls; ?>],
                    color: '#f491a5',
                }]
        });

        /*
         *  individual cholesterol graph individual_cholesterol_graph 
         */
<?php if (empty($this->yaxisData_hdl) && empty($this->yaxisData_ldl) && empty($this->yaxisData_triglycerides)) { ?>
            Highcharts.setOptions({lang: {noData: "Cholesterol Graph Data Not Available"}});
<?php } ?>
        $('#individual_cholesterol_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Cholesterol',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 250,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }
            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true,
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [
                {
                    name: 'LDL (mg/dL)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_ldl; ?>],
                    color: '#ffee50',
                }, {
                    name: 'HDL (mg/dL)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_hdl; ?>],
                    color: '#8fd1ff',
                }, {
                    name: 'Triglycerides (mg/dL)',
                    marker: {
                        symbol: 'circle',
                    },
                    data: [<?php echo $this->yaxisData_triglycerides; ?>],
                    color: '#f491a5',
                }
            ]
        });

        /*
         * Individual Temperature Graph  individual_temperature_graph         
         */
<?php if (empty($this->yaxisData_temp)) { ?>
            Highcharts.setOptions({lang: {noData: "Temperature Graph Data Not Available"}});
<?php } ?>
        $('#individual_temperature_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Temperature',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 140,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }
            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true,
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Temperature (°F)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_temp; ?>],
                    color: '#ffee50',
                }]
        });

        /*
         * individual physical Activity Graph individual_physical_activity_graph
         */
<?php if (empty($this->yaxisData_distance) && empty($this->yaxisData_duration) && empty($this->yaxisData_cb)) { ?>
            Highcharts.setOptions({lang: {noData: "Physical Activity Graph Data Not Available"}});
<?php } ?>

        $('#individual_physical_activity_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Physical Activity',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 270,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }
            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: ''
                }
            },
            tooltip: {
                /*  headerFormat: '<span style="font-size:10px">{point.key}</span><table><tr><td style="color:{series.color};padding:0">Dis. in Mile, Time in H,calories in Cal  </td></tr>',
                 pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                 '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                 footerFormat: '</table>',*/
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true

            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                    name: 'Distance',
                    color: '#E49033',
                    data: [<?php echo $this->yaxisData_distance; ?>],
                    stack: 'Physical Activty'
                }, {
                    name: 'Time',
                    color: '#E24033',
                    data: [<?php echo $this->yaxisData_duration; ?>],
                    stack: 'Physical Activty'
                }, {
                    name: 'Calories Burned',
                    color: '#1E68CC',
                    data: [<?php echo $this->yaxisData_cb; ?>],
                    stack: 'Physical Activty'
                }]
        });

        /*
         * Steps Graph 
         */
<?php if (empty($this->yaxisData_steps)) { ?>
            Highcharts.setOptions({lang: {noData: "Steps Graph Data Not Available"}});
<?php } ?>

        $('#individual_steps_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Steps',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 140,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }
            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true,
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Steps',
                    marker: {
                        symbol: 'square'
                    },
                    data: [<?php echo $this->yaxisData_steps; ?>],
                    stack: 'Steps'

                }]
        });

        /*
         * individual sleep graph  individual_sleep_graph
         */
<?php if (empty($this->yaxisData_awake) && empty($this->yaxisData_deep) && empty($this->yaxisData_light) && empty($this->yaxisData_rem)) { ?>
            Highcharts.setOptions({lang: {noData: "Sleep Activity Graph Data Not Available"}});
<?php } ?>
        $('#individual_sleep_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>',
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Sleep',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 200,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }
            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Awake (Min)',
                    color: '#1E68CC',
                    data: [<?php echo $this->yaxisData_awake; ?>],
                    stack: 'Sleep'
                }, {
                    name: 'Deep (Min)',
                    color: '#E49033',
                    data: [<?php echo $this->yaxisData_deep; ?>],
                    stack: 'Sleep'
                }, {
                    name: 'Light (Min)',
                    color: '#8A2BE2',
                    data: [<?php echo $this->yaxisData_light; ?>],
                    stack: 'Sleep'
                }, {
                    name: 'Rem (Min)',
                    color: '#f491a5',
                    data: [<?php echo $this->yaxisData_rem; ?>],
                    stack: 'Sleep'
                },
            ]
        });
<?php if (empty($this->yaxisData_general) && empty($this->yaxisData_physical) && empty($this->yaxisData_mental)) { ?>
            Highcharts.setOptions({lang: {noData: "Mood Graph Data Not Available"}});
<?php } ?>
        $('#individual_mood_graph').highcharts({
            chart: {
                type: 'bubble',
                zoomType: false
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'My Mood',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 260,
                floating: true,
                x: 0,
                symbolRadius: 0,
                symbolWidth: 15,
                symbolHeight: 15,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }
            },
            plotOptions: {
                bubble: {
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: ''

                    },
                    minSize: 20,
                    maxSize: 60,
                }
            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>],
                min: 0
            },
            yAxis: [{
                    min: 0.01,
                    max: 4,
                    title: {text: 'Mood'},
                    labels: {
                        align: 'left',
                        x: 0,
                        y: -2
                    },
                    categories: ['Poor', 'Fair', 'Good', 'Very Good', 'Excellent'],
                }
            ],
            tooltip: {
                crosshairs: true,
            },
            series: [{
                    name: 'General',
                    data: [<?php echo $this->yaxisData_general; ?>],
                    color: 'orange',
                    fillcolor: 'orange'
                }, {
                    name: 'Physical',
                    data: [<?php echo $this->yaxisData_physical; ?>],
                    color: 'gray',
                    fillcolor: 'gray',
                }, {
                    name: 'Mental',
                    data: [<?php echo $this->yaxisData_mental; ?>],
                    color: 'red',
                    fillColor: 'red',
                }]
        });

    });
</script>

<!--<script type="text/javascript">
    $(function() {
        /*
         * body measurement Graph
         */

        $('#body_measurement_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Body Measurement',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 230,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
//        subtitle: {
//            text: 'Source: WorldClimate.com'
//        },
            xAxis: {
                categories: [<?php echo $this->xaxisData ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                 useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Weight (Pounds)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_weight; ?>],
                    color: '#ffee50',
                }, {
                    name: 'Height (in)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_height; ?>],
                    color: '#8fd1ff',
                }]
        });

        /*
         * Individual Pressure  Graphp
         */

        $('#individual_pressure_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Blood Pressure',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 220,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                 useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Systolic (mm/Hg)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_systolic; ?>],
                    color: '#f491a5',
                }, {
                    name: 'Diastolic (mm/Hg)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_diastolic; ?>],
                    color: '#8fd1ff',
                }]
        });

        /*
         * Fasting Glucose Graph  individual_fastingglucose_graph
         */

        $('#individual_fastingglucose_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Fasting Glucose',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 140,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                 useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Glucose (mg/dL)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_measurement; ?>],
                    color: '#8fd1ff',
                }]
        });



        /*
         * Puls graph   individual_pulse_graph
         */

        $('#individual_pulse_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Pulse',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 140,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                 useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Pulse (bmp)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_puls; ?>],
                    color: '#f491a5',
                }]
        });

        /*
         *  individual cholesterol graph individual_cholesterol_graph 
         */
        $('#individual_cholesterol_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Cholesterol',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 250,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
//        subtitle: {
//            text: 'Source: WorldClimate.com'
//        },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [
                {
                    name: 'LDL (mg/dL)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_ldl; ?>],
                    color: '#ffee50',
                }, {
                    name: 'HDL (mg/dL)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_hdl; ?>],
                    color: '#8fd1ff',
                }, {
                    name: 'Triglycerides (mg/dL)',
                    marker: {
                        symbol: 'circle',
                    },
                    data: [<?php echo $this->yaxisData_triglycerides; ?>],
                    color: '#f491a5',
                }
            ]
        });

        /*
         * Individual Temperature Graph  individual_temperature_graph         
         */

        $('#individual_temperature_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Temperature',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 140,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                 useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Temperature (°F)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_temp; ?>],
                    color: '#ffee50',
                }]
        });

        /*
         * individual physical Activity Graph individual_physical_activity_graph
         */

        $('#individual_physical_activity_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Physical Activity',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 270,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: ''
                }
            },
            tooltip: {
               useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true

            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }

            },
            series: [{
                    name: 'Distance',
                    color: '#E49033',
                    data: [<?php echo $this->yaxisData_distance; ?>],
                    stack: 'Physical Activty'
                }, {
                    name: 'Time',
                    color: '#E24033',
                    data: [<?php echo $this->yaxisData_duration; ?>],
                    stack: 'Physical Activty'
                }, {
                    name: 'Calories Burned',
                    color: '#1E68CC',
                    data: [<?php echo $this->yaxisData_cb; ?>],
                    stack: 'Physical Activty'
                }]
        });

        /*
         * Steps Graph 
         */

        $('#individual_steps_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Steps',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 140,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
//        subtitle: {
//            text: 'Source: WorldClimate.com'
//        },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                 useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Steps',
                    marker: {
                        symbol: 'square'
                    },
                    data: [<?php echo $this->yaxisData_steps; ?>],
                    stack: 'Steps'

                }]
        });

        /*
         * individual sleep graph  individual_sleep_graph
         */

        $('#individual_sleep_graph').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>',
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Sleep',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 200,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                 useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Awake (Min)',
                    color: '#1E68CC',
                    data: [<?php echo $this->yaxisData_awake; ?>],
                    stack: 'Sleep'
                }, {
                    name: 'Deep (Min)',
                    color: '#E49033',
                    data: [<?php echo $this->yaxisData_deep; ?>],
                    stack: 'Sleep'
                }, {
                    name: 'Light (Min)',
                    color: '#8A2BE2',
                    data: [<?php echo $this->yaxisData_light; ?>],
                    stack: 'Sleep'
                }, {
                    name: 'Rem (Min)',
                    color: '#f491a5',
                    data: [<?php echo $this->yaxisData_rem; ?>],
                    stack: 'Sleep'
                },
            ]
        });

        $('#individual_mood_graph').highcharts({
            chart: {
                type: 'bubble',
                zoomType: false
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'My Mood',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 260,
                floating: true,
                x: 0,
                symbolRadius: 0,
                symbolWidth: 15,
                symbolHeight: 15,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }
            },
            plotOptions: {
                bubble: {
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: ''

                    },
                    minSize: 20,
                    maxSize: 60,
                }
            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: [{
                    min: 0.01,
                    max: 4,
                    title: {text: 'Mood'},
                    labels: {
                        align: 'left',
                        x: 0,
                        y: -2
                    },
                    categories: ['Poor', 'Fair', 'Good', 'Very Good', 'Excellent'],
                }
            ],
            tooltip: {
                crosshairs: true,
            },
            series: [{
                    name: 'General',
                    data: [<?php echo $this->yaxisData_general; ?>],
                    color: 'orange',
                    fillcolor: 'orange'
                }, {
                    name: 'Physical',
                    data: [<?php echo $this->yaxisData_physical; ?>],
                    color: 'gray',
                    fillcolor: 'gray',
                }, {
                    name: 'Mental',
                    data: [<?php echo $this->yaxisData_mental; ?>],
                    color: 'red',
                    fillColor: 'red',
                }]
        });

    });
</script>-->
<?php
$CusConPlug = $this->custom_plugin;
$UserID = (isset($this->userDetails[0]['UserID']) ? $this->userDetails[0]['UserID'] : "");
$fName = (isset($this->userDetails[0]['FirstName']) ? $this->userDetails[0]['FirstName'] : "");
$lName = (isset($this->userDetails[0]['LastName']) ? $this->userDetails[0]['LastName'] : "");
$Gender = (isset($this->userDetails[0]['Gender']) ? strtoupper($this->userDetails[0]['Gender']) : "");
$dob = (isset($this->userDetails[0]['Dob']) ? $this->userDetails[0]['Dob'] : "");
$StateName = (isset($this->userDetails[0]['state_name']) ? $this->userDetails[0]['state_name'] : "");
$CounName = (isset($this->userDetails[0]['country_name']) ? $this->userDetails[0]['country_name'] : "");
$img = (isset($this->userDetails[0]['Image']) ? $this->userDetails[0]['Image'] : "");
if ($Gender == 'M')
    $Gender = "Male";
else
    $Gender = "Female";
?>

<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Dashboard <a href="javascript:history.back()"><<<-Back</a></div>
        <?php echo $this->partial('filter/filter_form'); ?> <!-- append filter page-->
    </div>
    <div class="caregiverUserDetails table_box_shadow" style="min-height: 74px;">
        <div class="row clearfix">
            <div class="user_img">
                <?php
                $imgUrl = (empty($img) ? "/img/profile_image_avtar.png" : $this->Resize($this->serverUrl() . "/upload_image/" . $UserID . "/", $img, 100, 80) );
                ?>
                <img src="<?php echo $imgUrl; ?>" alt="" style="max-width: 100%">
            </div>
            <h3 class="name"><?php echo $fName . " " . $lName; ?></h3>
            <p class="address"><?php echo (($dob != '000-00-00' || $dob == '') ? $CusConPlug->GetAge($dob) . " yrs," : ""); ?> <?php echo $Gender . " , " . $StateName . " ", $CounName; ?></p>
            <p class="description"><?= $this->userDetails[0]['short_description'] ?></p>
        </div>
    </div>
    <div class="pageWrapper">
        <div class="graphRow">
            <div class="graphBox">
                <div class="graph_header graph_headerDash">
                    <span class="graph_title">My Mood</span>
                </div>
                <div class="graph">
                    <div id="individual_mood_graph"></div>
                </div>
            </div>
        </div>


        <div class="doubleGraphRow clearfix">
            <!-- Body measurement Graph Start -->
            <div class="graphRow">
                <div class="graphBox">
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Body Measurement</span>
                    </div>
                    <div class="graph">
                        <div id="body_measurement_graph"></div>
                    </div>
                </div>
            </div>
            <!-- Body measurement Graph End -->

            <!--  Pressure Start -->
            <div class="graphRow last">
                <div class="graphBox">
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Blood Pressure</span>
                    </div>
                    <div class="graph">                         
                        <div id="individual_pressure_graph"></div>
                    </div>
                </div>
            </div>

            <!--  Pressure Graph End -->
        </div>

        <div class="doubleGraphRow clearfix">
            <!--  Fasting Glucose Start -->
            <div class="graphRow">
                <div class="graphBox">
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Glucose</span>
                    </div>
                    <div class="graph">                         
                        <div id="individual_fastingglucose_graph"></div>
                    </div>
                </div>
            </div>
            <!--  Fasting Glucose End -->

            <!--  Pulse Graph Start -->
            <div class="graphRow last">
                <div class="graphBox">
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Pulse</span>
                    </div>
                    <div class="graph">                        
                        <div id="individual_pulse_graph"></div>
                    </div>
                </div>
            </div>
            <!--  Pulse Graph End -->
        </div>
        <div class="doubleGraphRow clearfix">
            <!--  Cholesterol  Graph Start -->
            <div class="graphRow">
                <div class="graphBox">
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Cholesterol</span>
                    </div>
                    <div class="graph">
                        <div id="individual_cholesterol_graph"></div>
                    </div>
                </div>
            </div>
            <!--  Cholesterol  Graph End -->
            <!--  Temperature  Graph Start -->
            <div class="graphRow last">
                <div class="graphBox">  
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Temperature</span>
                    </div>
                    <div class="graph">
                        <div id="individual_temperature_graph"></div>
                    </div>
                </div>
            </div>
            <!--  Temperature  Graph End -->
        </div>        
        <div class="doubleGraphRow clearfix">
            <!--  Physical Activity  Graph Start -->
            <div class="graphRow">
                <div class="graphBox">
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Physical Activity</span>
                    </div>
                    <div class="graph">
                        <div id="individual_physical_activity_graph"></div>
                    </div>
                </div>
            </div>
            <!--  Physical Activity  Graph End -->
            <!--  Steps  Graph Start -->
            <div class="graphRow last">
                <div class="graphBox"> 
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Steps</span>
                    </div>
                    <div class="graph">
                        <div id="individual_steps_graph"></div>
                    </div>
                </div>
            </div>
            <!--  Steps  Graph End -->
        </div>        
        <div class="doubleGraphRow clearfix">
            <!--  Sleep  Graph Start -->
            <div class="graphRow">
                <div class="graphBox">  
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Sleep</span>
                    </div>
                    <div class="graph">
                        <div id="individual_sleep_graph"></div>
                    </div>
                </div>
            </div>
            <!--  Sleep  Graph End -->
            <div class="graphRow last" style="max-height: 416px;overflow-y:auto">
                <div class="graphBox">
                    <div class="graph_header">
                        <span class="graph_title">Commute</span>
                        <span class="color_indicator">
                            <span class="filterBy_date"><input type="text" class="dateBox_calendar" id="steps_currentdate" value="<?php echo date("d M, Y", strtotime($this->today_date)); ?>" style="border:0; width: 120px" /></span> 
                        </span>
                    </div>
                    <div class="graph" id="movesgraph">
                        <?php if (count($this->movesData) > 0) { ?>
                            <ul class="commutations_graph" >
                                <?php
                                foreach ($this->movesData as $movvalue) {
                                    if (!empty($movvalue['Duration'])) {
                                         $show_date_time = $movvalue['ExerciseRecorddate'] ." ".$movvalue['ExerciseRecordtime'];
                                         $today = (new \DateTime($show_date_time, new \DateTimeZone($time_zone)));
                                         $today_show =  $today->format('Y-m-d H:i:s');
                                        ?>
                                        <li class="" style="border-left: <?= $movvalue['color'] ?> 10px solid;">
                                            <span class="time"><?php echo date('g:i A', strtotime($today_show))?></span>
                                            <span class="task"><?php echo ucfirst($movvalue['ActivityType']) ?>, <?php echo $movvalue['Duration'] ?> Min</span>
                                            <span class="bullet"></span>
                                        </li>
                                    <?php }
                                }
                                ?>
                            </ul>
                        <?php
                        } else {
                            echo "Sorry no record found.";
                        }
                        ?>


                    </div>
                </div>
            </div>
        </div> 
        <style>
            .filterBy_date img{
                position: relative;
                top: 5px;
            }   
        </style>
        <script>
            $(function() {
                $('.cb_Grid .row').each(function() {
                    equalHeight($(this).find('span.txt'));
                });
                // communication data 
                DatePicker();
                function DatePicker() {
                    $(".dateBox_calendar").datepicker({
                        dateFormat: 'dd M yy',
                        buttonImage: '/img/calendar_icon.png',
                        buttonImageOnly: true,
                        showOn: 'both',
                        maxDate: 0,
                        onSelect: function(dateText, inst) {
                            var currentdate = $.datepicker.formatDate('dd MM, yy', new Date(dateText));
                            $('#steps_currentdate').val(currentdate);
                            $(".global_loader").show();
                            $.ajax({
                                type: "POST",
                                url: '/caregiver/caregiverajax/movesgraph',
                                data: {date: dateText, userId: '<?= $CusConPlug->encryptdata($UserID) ?>'},
                                success: function(res) {
                                    $(".global_loader").hide();
                                    var obj = jQuery.parseJSON(res);
                                    var error = obj.error;
                                    var msg = obj.msg;
                                    var link = obj.link;
                                    if (error == '0') {
                                        $('#movesgraph').html('');
                                        $('#movesgraph').html(msg);
                                    }
                                    if (error == '1' && link != '') {
                                        window.location.href = link;
                                        //$('#movesgraph').html(link);
                                    }
                                    if (error == '1' && link == '') {
                                        $('#movesgraph').html('');
                                        $('#movesgraph').html(msg);
                                    }
                                }
                            });
                        }
                    });
                }

            });
        </script>
        <div class="graphRow">
            <div class="graphBox">
                <div class="graph_header">
                    <span class="graph_title">My Condition</span>
                    <span class="date"></span> 
                </div>
                <div class="graph">
                    <div class="table history_table_responsve cb_Grid">
<?php if (!count($this->user_Conditions)) { ?><div class="errorMsg">
                                <span class="ui_icon error"></span>No Conditions found </div> <?php } else { ?>
                            <div class="row clearfix head">
                                <div class="col wd10"><span class="txt">S.no</span></div>
                                <div class="col wd20"><span class="txt">Conditions</span></div>
                                <div class="col wd35"><span class="txt">Sub Conditions</span></div>
                                <div class="col wd35"><span class="txt">Description</span></div>
                            </div>
                            <?php
                            $i = 1;
                            foreach ($this->user_Conditions as $key => $val) {
                                ?>
                                <div class="row clearfix">
                                    <div class="col wd10"><span class="txt"><?php echo $i; ?></span></div>
                                    <div class="col wd20"><span class="txt"><?= $val['common_name'] ?></span></div>
                                    <div class="col wd35"><span class="txt"><?= $val['sub_condition_name'] ?></span></div>
                                    <div class="col wd35"><span class="txt"><?php echo substr($val['description'], 0, 10) . "..."; ?></span></div>
                                </div>
        <?php
        $i++;
    }
}
?>

                    </div>
                </div>
            </div>


        </div>
        <!-- My Symptoms table start here -->
        <div class="graphRow">
            <div class="graphBox" style="padding:0">
                <div class="graph_header">
                    <span class="graph_title">My Symptom</span>
                </div>
                <div class="graph">
<?php if (!count($this->user_Symptoms)) { ?><div class="errorMsg">
                            <span class="ui_icon error"></span>No Symptoms found </div> <?php } else { ?>
                        <div class="table symptoms_table_responsve cb_Grid">
                            <div class="row clearfix head">
                                <div class="col wd10"><span class="txt">S.no</span></div>
                                <div class="col wd15"><span class="txt">Symptom</span></div>
                                <div class="col wd10"><span class="txt">Status</span></div>
                                <div class="col wd20"><span class="txt">Sub Symptom</span></div>
                                <div class="col wd20"><span class="txt">Condition</span></div>
                                <div class="col wd25"><span class="txt">Description</span></div>
                            </div>
    <?php foreach ($this->user_Symptoms as $key => $value) { ?>
                                <div class="row clearfix">
                                    <div class="col wd10"><span class="txt"><?= $key + 1 ?></span></div>
                                    <div class="col wd15"><span class="txt"><?= $value['symptoms_name'] ?></span></div>
                                    <div class="col wd10"><span class="txt"><?= $value['SympStatus'] ?></span></div>
                                    <div class="col wd20"><span class="txt"><?= $value['sub_symptoms_name'] ?></span></div>
                                    <div class="col wd20"><span class="txt"><?= $value['condition_name'] ?></span></div>
                                    <div class="col wd25"><span class="txt"><?= substr($value['description'], 0, 20) ?></span></div>
                                </div>
    <?php } ?>
                        </div>
<?php } ?>
                </div>
            </div>
        </div>
        <!-- My Symptoms table en here -->

        <!-- My Treatment table start here -->
        <div class="graphRow">
            <div class="graphBox" style="padding:0">
                <div class="graph_header">
                    <span class="graph_title">My Treatment</span>
                </div>
                <div class="graph">
<?php if (!count($this->user_Treatment)) { ?>
                        <div class="errorMsg"><span class="ui_icon error"></span>No Symptoms found </div> 
<?php } else { ?>
                        <div class="table symptoms_table_responsve treatments_table_responsve cb_Grid">
                            <div class="row clearfix head">
                                <div class="col wd10"><span class="txt">S.no</span></div>
                                <div class="col wd15"><span class="txt">Treatment</span></div>
                                <div class="col wd10"><span class="txt">Status</span></div>
                                <div class="col wd20"><span class="txt">Sub Treatment</span></div>
                                <div class="col wd20"><span class="txt">Condition</span></div>
                                <div class="col wd25"><span class="txt">Description</span></div>
                            </div>
    <?php foreach ($this->user_Treatment as $key => $value): ?>
                                <div class="row clearfix">
                                    <div class="col wd10"><span class="txt"><?= $key + 1 ?></span></div>
                                    <div class="col wd15"><span class="txt"><?= $value['teatment_name'] ?></span></div>
                                    <div class="col wd10"><span class="txt"><?= $value['TreatStatus'] ?></span></div>
                                    <div class="col wd20"><span class="txt"><?= $value['sub_treatment_name'] ?></span></div>
                                    <div class="col wd20"><span class="txt"><?= $value['condition_name'] ?></span></div>
                                    <div class="col wd25"><span class="txt"><?= substr($value['description'], 0, 20) ?></span></div>
                                </div>
    <?php endforeach; ?>
                        </div>
<?php } ?>
                </div>
            </div>
        </div>
        <!-- My Treatment table en here -->
        <script>
            $(window).resize(function() {
                delay(function() {
                    $('.cb_Grid .row').each(function() {
                        $(this).find('span.txt').css('height', 'auto');
                        setEqualHeight($(this).find('span.txt'));
                    });
                }, 500);
            });
            $(function() {
                delay(function() {
                    $('.cb_Grid .row').each(function() {
                        $(this).find('span.txt').css('height', 'auto');
                        setEqualHeight($(this).find('span.txt'));
                    });
                }, 500);
            });
        </script>
    </div>
</div>
<!--Container end here--> 


