<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE INSURANCE PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 05/02/2015.
 * UPDATED: .
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>

<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title" style="position:relative">| Documents</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li><a href="/individual-document">Manage Records</a><span class="border"></span></li>
                <li class="active"><a href="/individual-emergency-contact">My Health Info</a><span class="border"></span></li>
<!--                <li><a href="#">Medication</a><span class="border"></span></li>
                <li><a href="#">Blue Button</a><span class="border"></span></li>-->
            </ul>
        </div>
        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menu">
                 <a href="/individual-emergency-contact" class="item">Emergency Contacts</a>
                <a href="/individual-insurance" class="item selected">Insurance</a>
   
            </div>
        </div>
    </div>
    <div class="pageWrapper clearfix">
        
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <form method="post" action="" name="addInsuranceForm" id="addInsuranceForm">
            <div class="boxWrap clearfix">
                        <div class="formWrapper50">
                            <!-- Set Date and time box start here-->
                            <div class="hww clearfix" style="padding:0 10px;">
                                <div class="hww_sbox">
                                    <label>Plan Name</label>
                                    <div class="input">
                                        <input type="text" name="plan_name" class="nospecial_char" value="<?php echo $this->insuranceData[0]['plan_name'];  ?>" />
                                    </div>
                                </div>
                                <div class="hww_sbox">
                                    <label>Coverage Type</label>
                                    <div class="select">
                                        <select class="select" title="Select Coverage Type" name="coverage_type">
                                            <option value="">Select Coverage Type</option>
                                            <?php 
                                            if(count($this->insuranceType) > 0){
                                            foreach ($this->insuranceType as $intypevalue) {
                                              ?>
                                            <option value="<?php echo $intypevalue['insurance_type_id']  ?>" <?php echo (($intypevalue['insurance_type_id']==$this->insuranceData[0]['coverage_type'])? 'selected' : '') ?>><?php echo $intypevalue['insurance_type']  ?></option>                                           
                                            <?php  } } ?>
                                        </select>
                                    </div>
                                  </div>
                                <div class="hww_sbox">
                                    <label>Group Number</label>
                                    <div class="input">
                                        <input type="text" name="group_number" class="group_number"  value="<?php echo $this->insuranceData[0]['group_number'];  ?>" />
                                    </div>
                                </div>
                                <div class="hww_sbox">
                                    <label>Plan Code</label>
                                    <div class="input">
                                        <input type="text" name="plan_code"  value="<?php echo $this->insuranceData[0]['plan_code'];  ?>" />
                                    </div>
                                </div>
                                <div class="hww_sbox">
                                    <label>Subscriber ID</label>
                                    <div class="input">
                                        <input type="text" name="sucbscriber_number"  value="<?php echo $this->insuranceData[0]['sucbscriber_number'];  ?>" />
                                    </div>
                                </div>
                                <div class="hww_sbox">
                                    <label>Subscriber Name</label>
                                    <div class="input">
                                        <input type="text"name="sucbscriber_name" class="nospecial_char"  value="<?php echo $this->insuranceData[0]['sucbscriber_name'];  ?>" />
                                    </div>
                                </div>
                                <div class="hww_sbox">
                                    <label>DOB</label>
                                    <div class="input datefield">
                                        <input type="text" name="dob" id="dob" readonly class=""  value="<?php echo date("d-m-Y", strtotime($this->insuranceData[0]['dob']));  ?>" />
                                    </div>
                                </div>
                                <div class="hww_sbox">
                                    <label>Expiration Date</label>
                                    <div class="input datefield">
                                        <input type="text" name="expiration_date" readonly id="expiration_date" class=""  value="<?php echo  date("d-m-Y", strtotime($this->insuranceData[0]['expiration_date']));  ?>" />
                                    </div>
                                </div>
                                <div class="hww_sbox">
                                    <label>Phone Number</label>
                                    <div class="input">
                                        <input type="text" name="phone" class="onlynumber"  value="<?php echo $this->insuranceData[0]['phone'];  ?>"  maxlength="10" />
                                    </div>
                                </div>
                                <div class="hww_sbox">
                                    <label>Email</label>
                                    <div class="input">
                                        <input type="text"  name="email" id="email" value="<?php echo $this->insuranceData[0]['email'];  ?>"/>
                                    </div>
                                </div>
                                <div class="hww_sbox">
                                    <label>Alternate Email</label>
                                    <div class="input">
                                        <input type="text" name="alternate_email" id="alternate_email" value="<?php echo $this->insuranceData[0]['alternate_email'];  ?>" />
                                    </div>
                                </div>
                                <div class="hww_sbox">
                                    <label>Address</label>
                                    <div class="input">
                                        <textarea name="address" rows="" cols="" style="width:100%; border:0;"><?php echo $this->insuranceData[0]['address'];  ?></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- Set Date and time box end here-->
                            <div class="boxBtn clearfix" style="margin-left: 20px;margin-right: 20px;">
                                <input type="submit" class="bb_btn" value="Save" name="submit_insurance">
                            </div>
                        </div>
                    </div>
        </form>
			<script>
				$(document).ready(function(e) {
					DatePicker();
					function DatePicker(){
					   $("#dob").datepicker({
						changeMonth: true,
						changeYear: true,
						//showButtonPanel: true,
						yearRange: "1920:c",
						dateFormat: 'dd M yy',
                                                maxDate: new Date,
					});
					$("#dob").datepicker();
                                           $("#expiration_date").datepicker({
						changeMonth: true,
						changeYear: true,
						//showButtonPanel: true,
						//yearRange: "1920:c",
						dateFormat: 'dd M yy',
                                                //minDate: new Date,
					});
					$("#expiration_date").datepicker();
				  }
                     
                           
                $("#addInsuranceForm").validate({
                    rules: {
                        plan_name: {
                            required: true,
                            maxlength: 30,
                        },
                        group_number: {
                            required: true,
                            maxlength:15,
                        },
                        plan_code: {
                            required: true                           
                        },
                         coverage_type: {
                            required: true                           
                        },
                        sucbscriber_number: {
                            required: true ,
                            maxlength:15,
                        },
                        dob: {
                            required: true                           
                        },
                         expiration_date: {
                            required: true                           
                        },
                         phone: {
                            required: true,
                            minlength:10,
                            maxlength:10,
                        },
                        email: {
                            required: true,
                            email: true                           
                        },
                         alternate_email: {
                            email: true,
                             notequalTo: '#email'
                        },
                        address: {
                          maxlength:100,                          
                        },
                        

                        
                    },
                    messages: {
                          plan_name: {
                            required: "Please enter plan name",
                                maxlength: "Note more then 30 character",
                        },
                        group_number: {
                            required: "Please enter group number",
                            maxlength: "Note more then 15 character",
                        },
                        plan_code: {
                            required: "Please enter plane  code"                           
                        },
                         coverage_type: {
                            required: "please select coverage type"                          
                        },
                        sucbscriber_number: {
                            required: "Please enter sucbscriber number" ,
                            maxlength: "Note more then 15 character",
                        },
                        dob: {
                            required:"please select date"                                 
                        },
                         expiration_date: {
                            required: "please select date"                             
                        },
                         phone: {
                            required: "please enter valid phone number",
                            minlength: "please enter valid phone number",
                            maxlength: "please enter valid phone number",
                        },
                        email: {
                            required: "please enter valid email id",
                            email: "please enter valid email id"                             
                        },
                         alternate_email: {
                              email: "please enter valid email id" ,
                              notequalTo: "Alternate email should be different from email."
                         },
                         address: {
                          maxlength:"Not more then 100 character",                          
                        }
                    },                   
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parents("div.hww_sbox"));

                    }
                });
		
				});
			 </script>
      </div>
</div>
 <!--Container end here--> 
