<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE INSURANCE PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 06/02/2015.
 * UPDATED: .
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>

<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title" style="position:relative">| Documents <div class="Advanced_SearchButton"></div></div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li><a href="/individual-document">Manage Records</a><span class="border"></span></li>
                <li class="active"><a href="/individual-emergency-contact">My Health Info</a><span class="border"></span></li>

            </ul>
        </div>
        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menuNew">
                <a href="/individual-emergency-contact" class="item ">Emergency Contacts</a>
                <a href="/individual-insurance" class="item selected">Insurance</a>               
            </div>
        </div>
    </div>
    <div class="pageWrapper clearfix">
        	<!-- View Insurance Details popup start here-->
        <div id="viewInsuranceDetails" class="grobalPopup popuBxWrap">
        
        </div>
    	<!-- View Insurance Details popup end here-->
        <a href="/individual-add-insurance" class="global_actionButton" style="margin:0 0 10px; width:200px; float:none; padding-left:10px">Add Another Insurance</a>
        <div class="boxWrap advancedPeopleSearch clearfix">
            <!-- Advanced Search box start here-->
            <div class="searchFormAdv clearfix">
                <form name="search_insurance" action="" method="post" enctype="multipart/form-data">
                    <div class="bw_colthird" style="width:80%">
                        <div class="bw_box">
                            <div class="hww clearfix">
                                <div class="hww_select clearfix">
                                    <div class="hww_sbox">
                                        <div class="input">
                                            <input type="text" name="keyword" placeholder="Search Insurance Contacts" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="boxBtn"><input type="submit" name="" value="Go" class="bb_btn" style="min-width:inherit"></span>
                </form>
            </div>
            <!-- Advanced Search box start here-->
        </div>
        <div class="table table_box_shadow cb_Grid geofence_grid peopleTable">

            <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
                <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                    <div class="errorMsg">
                        <span class="ui_icon error"></span>
                        <?php echo $msg["error"]; ?>
                    </div>

                <?php endif; ?>
                <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                    <div class="successMsg">
                        <span class="ui_icon success"></span>
                        <?php echo $msg["success"]; ?>
                    </div>               
                <?php endif; ?>
            <?php } ?>
            <div id="responsedel"></div>
            <?php
            if (count($this->insuranceData) > 0) {
                foreach ($this->insuranceData as $insvalue) {
                    ?>
                    <div class="row clearfix" id="ins_div_<?php echo $insvalue['insurance_id']; ?>">
                        <div class="col wd85">
                            <span class="txt clearfix">
                                <h3><?php echo $insvalue['plan_name']; ?></h3>
                                <p><?php echo $insvalue['insurance_type']; ?></p>
                            </span>
                        </div>
                        <div class="col wd15">
                            <span class="txt clearfix">
                                <ul class="action">
                                    <li class="view"><a href="javascript:void(0);"  onclick="gppOpenView('viewInsuranceDetails','<?php echo $insvalue['insurance_id']; ?>');" >View</a></li>
                                    <li class="edit"><a href="/individual-edit-insurance/<?php echo $this->CusConPlug->encryptdata($insvalue['insurance_id']);?>">Edit</a></li>
                                    <li class="delete"><a href="javascript:void(0);" onclick="deletdoc('<?php echo $insvalue['insurance_id']; ?>', '<?php echo $insvalue['plan_name']; ?>');">Delete</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                <?php }
            } else {
                ?>
                <div class="row clearfix">  
                    <div class="col wd100">
                        <span class="txt clearfix">
                            <h3>Sorry no record found.</h3>
                        </span>
                    </div>
                </div>
<?php } ?>
        </div>
         <div class="pagination pagination-centered clearfix">
                <!------pagination start ------->
                <div class="stripSecond">
                    <?php
                    // add at the end of the file after the table
                    if (count($this->insuranceData)) {
                        echo $this->paginationControl($this->insuranceData, 'Jumping', array('paginator/paginators', 'InsuranceIs'), array('route' => 'indiv_insurance', 'routeParams' => $this->routeParams));

                    } else {
                        ?>
                        <div id="news19" class="advertiserRow">
                            <div class="advertiserListRow bdr_rds2 no_record_found clearfix">

                            </div>
                        </div>
                        <?php
                    }
                    ?>
                </div>
                <!------pagination end ------->
            </div>
        <style>
            .cb_Grid .row .col .txt, .cb_Grid .row .col .txt1,.cb_Grid{
                text-align:left;
                border:0;
                display:table;
                width:100%;
            }
            .cb_Grid .row .col .txt{
                padding-left:10px;
            }
        </style>
        <script>
            $(function () {
                $('.Advanced_SearchButton').click(function () {
                    $(this).toggleClass('active');
                    if ($(this).hasClass('active')) {
                        $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideDown('fast');
                    }
                    else {
                        $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideUp('fast');
                    }
                });
            });
        </script>
        <script>
            $(document).ready(function (e) {
                $('.cb_Grid .row').each(function () {
                    equalHeight($(this).find('span.txt'));
                });

                setTimeout(function () {
                    $("#successMsg").fadeOut();
                    $("#errorMsg").fadeOut();
                }, 2500)
            });
            function deletdoc(insuranceid, response) {
                //alert(docid);
                var confirmMsg = "Are you sure,you want to delete " + response + " from insurance?";
                if (confirm(confirmMsg))
                {
                    $(".global_loader").show();
                    this.click;
                    $.ajax({
                        type: "POST",
                        url: "/individual/ajax/deleteinsurance",
                        data: {insurance_id: insuranceid},
                    }).done(function (res) {
                        $("#responsedel").show();
                        $(".global_loader").hide('fast');
                        var obj = jQuery.parseJSON(res);
                        var error = obj.error;
                        var msg = obj.msg;
                        if (error == '0' && msg != '') {
                            $("#responsedel").html('<div class="successMsg"><span class="ui_icon success"></span>' + msg + '</div>');
                            $("#ins_div_" + insuranceid).remove();
                               setTimeout(function () {
                           location.reload();
                        }, 2500);
                        } else {
                            $('#responsedel').html('<div class="errorMsg"><span class="ui_icon error"></span>' + msg + '</div>');
                        }
                        setTimeout(function () {
                            $("#responsedel").hide();
                        }, 2500)
                        //location.reload();
                    });

                } else {
                    return false;
                }
            }
            
               function gppOpenView(e,id){
          //  alert(id);exit;
          $('.global_loader').show();
            $('#'+e).html('');
	$('.popuBxWrap').fadeOut('fast');
        $('body').addClass('fixedBody');
	$('#'+e).fadeIn('fast');
        $.ajax({
                    type: "POST",
                    url: "/individual/Insurance/view",
                    data: {insurance_id: id}
                }).done(function (res) {
                     $('.global_loader').hide();
                     $('#'+e).html(res);
                });
	
}
        </script>
    </div>
</div>
<!--Container end here--> 