<?php
    /*************************
        * PHTML: USE TO MANAGE THE FOOTER FOR WEB DEVELOPMENT.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: SHIVENDRA SUMAN.
        * CREATOR: 27/04/2015.
        * UPDATED: 27/04/2015.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>

<!--Footer start here-->
<?php $basename = basename($_SERVER["REQUEST_URI"]); $accActivate = substr($basename, 0, 14);  ?>
        <?php if ($basename!='researcher-login' && $basename!='researcher-basicinfo' && $basename !='researcher-congrates' && $basename !='login' && $basename !='verification' && $basename !='congrates' && $basename !='basicinfo' && $basename !='contactinfo' && $basename !='profileinfo' && $basename !='tempass' && $accActivate !='activateacount' && $basename !=''):  ?>
<div class="footer innerFooter clearfix" id="footer">
    <div class="copyrights">Copyrights <?=date('Y')?>. All Rights Reserved with Health-ePeople</div>
    <div class="footer_nav"><a href="#">Terms &amp; Condition</a></div>
</div>
<?php else:  ?>
	<div class="footer clearfix" id="footer">
    <div class="copyrights">Copyrights <?=date('Y')?>. All Rights Reserved with Health-ePeople</div>
    <div class="footer_nav"><a href="#">Terms &amp; Condition</a></div>
</div>

<?php endif; ?>
<!--Footer end here-->