<?php
    /*************************
        * PHTML: USE TO MANAGE THE FOOTER FOR WEB DEVELOPMENT.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 12/11/2014.
        * UPDATED: 07/12/2014.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>
<div class="footer clearfix" id="footer">
    <div class="copyrights">
    	&copy; <?php echo $this->translate('QuantextualHealth') ?> <?php echo date('Y') ?>
    </div>
</div>