<?php
/* * ***********************
 * PHTML: DISPLAY LIST Invitation.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 14/05/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php $this->flashMessenger()->clearMessages(); ?>
<script>
    $(document).ready(function() {

    });
    function ValidateEmail(email, idName) {
        var len = $('#' + idName).length;
        var Data = {email: email, id:<?= $session['id']; ?>};
        if (email != '') {
            $.ajax({
                type: 'post',
                url: '<?= $this->basePath(); ?>/admin/invitation/checkEmail',
                data: Data,
                async: false,
                success: function(result) {
                    if (result == '0') {
                        $('label.error').html('Email already register with this domain.');
                        exists = 0;
                    } else {
                        exists = 1;
                    }
                }
            })
            if (len == 0 && exists) {
                var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                if (expr.test(email)) {
                    return true;
                } else {
                    exists = 0;
                    $('label.error').html('Please provide valid email address');
                    return false;
                }
            } else {
                return false;
            }
        } else {
            return false;
        }
    }
    function checkError() {
        var len = $('#EmailAddressDiv .bdlFile').length;
        if (len != 0 && exists != 0) {
            $('label.error').html('');
        }
    }
    function runScript(e) {
        if (e.keyCode == 13) {
            return false;
        } else {
            return true;
        }
    }
</script>
<style>
    .invUser .browsDocList .bdl_row .bdlFile {
        background: none repeat scroll 0 0 #f1eff0;
        border-radius: 2px;
        color: #006094;
        font-size: 13px;
        font-weight: bold;
        line-height: normal;
        padding: 4px 24px 4px 4px;
    }
</style>

<div id="content-wrapper" class="clearfix">
    <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
        <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
            <div class="errorMsg">
                <span class="ui_icon error"></span>
                <?= $msg["error"]; ?>
            </div>
        <?php endif; ?>
        <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
            <div class="successMsg">
                <span class="ui_icon success"></span>
                <?= $msg["success"]; ?>
            </div>
        <?php endif; ?>
    <?php } ?>
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Invite Researcher</div>
            <div class="pgh_mWrap">
                <div class="pgh_menu"> 
                    <a href="/admin-researcherinvite" class="item selected">Invite Researcher</a>
                    <a href="/admin-manageresearchinvite" class="item">List Researcher</a>
                </div>
            </div>
        </div>

        <div class="formContainer formWrapperContainer addBlogPost">
            <form action="" method="post" id="invite_researcher" name="invite_researcher">
                <div class="row clearfix">
                    <label>Researcher Name :</label>
                    <div class="input">
                        <input type="text" name="researcher_name" value="" maxlength="30" />
                    </div>
                </div>

                <div class="row clearfix">
                    <label>Email Address :</label>
                    <div class="input">
                        <input type="text" name="email_address" value="" id="email_address" maxlength="50"/>
                        <input type="hidden" name="email_registered" id="email_registered" value="">
                    </div>
                </div>

                <div class="input_button clearfix" style="padding-left:170px;">
                    <input type="submit" name="c_submit" class="submit_button" id="c_submit" value="Send">
                </div>
            </form>
        </div>


    </div>
</div>
<!--Container end here--> 
<script>
    $(document).ready(function() {
        $('#invite_researcher').submit(function() {
            var email = $('#email_address').val();
            $.ajax({
                type: "POST",
                url: "admin/researchinvitation/checkmail",
                async: false,
                data: {email: email}
            }).done(function(resp) {
                if (resp == 1) {
                    $('#email_registered').val(1);
                }
            });

        });
    });

    $(function() {
        var email = $('#email_address').val();
        $('#invite_researcher').validate({
            rules: {
                researcher_name: {
                    required: true,
                },
                email_address: {
                    required: true,
                    email: true,
                    remote: {
                        url: "/admin/Researchinvitation/alreadyinvite",
                        type: "POST",
                        data: {id: '<?= $session['id'] ?>'}
                    }
                }

            },
            messages: {
                researcher_name: {
                    required: "Pleae enter researcher name"
                },
                email_address: {
                    required: "Please enter email address",
                    format: "Please enter valid email address",
                    remote: "Already added.Use another email"
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });
    });
</script>
<style>
    .error{
        color:red !important;
    }
</style>