<h1>Study Videos</h1> 
<video style="width:70%;position: absolute;left:10%;top:18%; height: 70%" controls>
  <source src="http://individual.quantextualhealth.com/app_login.mp4" type="video/mp4">
 
</video> 