<h1>Caregiver subscription Videos</h1> 
<video style="width:70%;position: absolute;left:10%;top:18%;" controls>
  <source src="http://individual.quantextualhealth.com/researcher.mp4" type="video/mp4">
 
</video> 