<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE TOP-MENU FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 16/14/2015.
 * UPDATED: .
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

?>
<!-- Left menu Section start here -->
<div class="left_menu_section">
	<a class="left_panel_menu_button" href="javascript:void(0);"></a>
    <div class="overlay"></div>
    
    <ul class="menuWrap" style="top:0">
        <?php
        if(!empty($Category)){?>
        <li class="">Self Assesment Category</li>
        <?php foreach($Category as $category){?>
        <li class="ui-tab <?php if($category['cat_id']==$cat_id){?> active <?php }?>" >
        	<a href="/nonmember?cat_id=<?= base64_encode($category['cat_id']); ?>" class="anchor"><?= $category['cat_name'];?> (<?= $category['total'];?>)</a>
        </li>
        <?php }?>
        <?php }?>
    </ul>    
</div>
<!-- Left menu Section end here -->