<?php if (!empty($Data)) { ?><ul class="clearfix" id="MainUl">
    <?php
    foreach ($Data as $data) {
        ?>

            <li id="<?= $data['invitation_set_id']; ?>"><?= $data['invitation_email']; ?> 
                <?php if($data['sent_status']==0){?>
                <a class="scrs_dlt DeleteInvitation" custom='<?= $data['invitation_set_id']; ?>' href="<?= $this->basePath(); ?>/admin/studies/deleteInvitationSet">
                    Delete
                </a>
                <?php }else{?>
                <b style="float:right;font-size: 13px;color: #00a700;"><i>Invitation Sent</i></b>
                <?php }?>
            </li>

        <?php }
        ?>
        <li>
            <a class="jscroll-next" href="admin-studies-invitation-set?sid=<?= base64_encode($sid); ?>&page=<?= base64_encode($page); ?>"></a>

        </li>  
    </ul>
    <?php
} else {
    ?>

    <li>
        <a class="jscroll-next" href="admin-studies-invitation-set?sid=<?= base64_encode($sid); ?>&page=<?= base64_encode($page); ?>"></a>

    </li>  
<?php } ?>

