<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History</div>
        <div class="pgh_mWrap">
             <div class="pgh_menu pgh_menu_top">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item">Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item selected">Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item">Checkup</a>
				<a href="<?php echo $this->basePath(); ?>/individual-symp" class="item">Symptoms</a>
               	<a href="<?php echo $this->basePath(); ?>/individual-treat" class="item">Treatment</a>
            </div>
        </div>
 <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="pgh_mWrap" style="padding:0">
             <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item">View Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-add-imunization" class="item selected">Add New Immunization</a>
            </div>
       </div>
   </div>
   <div class="pageWrapper">
		<form method="post" action="" name="add_immunization" id="add_immunization">
                <div class="boxWrap clearfix">
                            <div class="formWrapper50">
                                <!-- Set Date and time box start here-->
                                <div class="hww clearfix" style="padding:0 10px;">
                                    <div class="hww_sbox">
                                        <label>Date</label>
                                        <div class="input datefield">
                                            <input type="text" readonly name="taking_date" class="datepicker" />
                                        </div>
                                    </div>
                                    <div class="hww_sbox">
                                        <label>Time</label>
                                        <div class="input timefield">
                                            <input type="text" readonly name="taking_time" class="timepickerField" />
                                        </div>
                                    </div>
                                    <div class="hww_select clearfix">
                                        <label>Immunization</label>
                                        <div class="select">
                                            <select title="Select immunization" name="immunization_type" class="select">
											<option value="">Select immunization</option>
											<?php if(count($this->immunization_type)){ foreach ($this->immunization_type as $res)  { ?>
                                                <option value="<?php echo $res['id'];?>"><?php echo $res['imunization_type'];?></option>
                                            <?php } } else {  ?>
											<option value="">No immunization found</option>
											<?php }  ?>
                                            </select>
                                        </div>
                                    </div>
                                   </div>
                                <!-- Set Date and time box end here-->
                                <div class="boxBtn clearfix" style="margin-left: 20px; margin-right: 20px;">
                                    <input type="submit" class="bb_btn" value="Submit" name="">
                                </div>
                            </div>
                        </div>
                  </form>
				<script>
				$(document).ready(function(e) {
					
				DatePicker();
					function DatePicker(){
						  $(".datepicker").datepicker({
						   changeMonth: true,
						   changeYear: true,
						   dateFormat: 'dd M yy',
						   maxDate: new Date,
						   yearRange: "1920:c"
						   //defaultDate: new Date()
					});
					$('.timepickerField').timepicker({
						hourGrid: 4,
						minuteGrid: 10,
						timeFormat: 'hh:mm tt'
					});
					$(".datepicker").datepicker("setDate", new Date());
					$(".timepickerField").timepicker("setTime", new Date());
				  }
				  
				$("#add_immunization").validate({
					rules: {
						immunization_type:"required",
						},
					messages: {
						immunization_type: {
							required: "Please select condition."
						}
					}/* ,
					 submitHandler: function(form){
					} */,
					errorPlacement: function(error, element) {
					error.appendTo(element.parents("div.hww_select"));
					//error.appendTo(element.parents("div.checkbox_col").parent("div.row"));
				}
				});
				  
				
				});
			 </script>
			 <style>
			 .select error{
				color:#555; 
			 }
			 </style>
          </div> 
</div>
 <!--Container end here--> 
