<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History</div>
        <div class="pgh_mWrap">
            <div class="pgh_menu pgh_menu_top">
                <a href="<?php echo $this->basePath(); ?>/individual-history" class="item">Condition</a>
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item selected">Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-checkup" class="item">Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-symp" class="item">Symptoms</a>
               	<a href="<?php echo $this->basePath(); ?>/individual-treat" class="item">Treatment</a>
            </div>
        </div>
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item selected">View Immunization</a>
                <a href="<?php echo $this->basePath(); ?>/individual-add-imunization" class="item">Add New Immunization</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <div class="table table_box_shadow cb_Grid">
            <?php if (!count($this->user_Imunizations)) { ?><div class="errorMsg">
                    <span class="ui_icon error"></span>No immunizations found </div> <?php } else { ?>
                <div class="row clearfix head">
                    <div class="col wd10"><span class="txt">S.no</span></div>
                    <div class="col wd25"><span class="txt">Date &amp; Time</span></div>
                    <div class="col wd50"><span class="txt">Immunization Type</span></div>
                    <div class="col wd15"><span class="txt">Action</span></div>
                </div>
                <?php foreach ($this->user_Imunizations as $k => $val) { ?>
                    <div class="row clearfix">
                        <div class="col wd10"><span class="txt"><?php echo $k + 1; ?></span></div>
                        <div class="col wd25"><span class="txt"><?php
                                $dateRes = $plugin->convetLocalTime($val['taking_date'] . " " . $val['taking_time']);
                                $showDate = $dateRes[0];
                                $showtime = $dateRes[1];
                                $date = date_create($showDate);
                                echo date_format($date, 'd M, Y') . ", " . date('g:i a', strtotime($showtime));
                                ?></span></div>
                        <div class="col wd50"><span class="txt"><?php echo $val['imunization_type']; ?></span></div>
                        <div class="col wd15">
                            <span class="txt">
                                <ul class="action">
                                    <li class="delete"><a href="#" onclick="return del_immunization('<?php echo $val['imunization_id']; ?>');" >Delete</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                <?php }
            }
            ?>	
        </div>
        <script>
            $(document).ready(function(e) {
                $('.cb_Grid .row').each(function() {
                    equalHeight($(this).find('span.txt'));
                });
            });
        </script>
    </div>
    <script>
        function del_immunization(reqID) {
            if (reqID) {
                if (confirm("Do you want to delete this immunization?")) {
                    this.click;
                    $.ajax({
                        type: "POST",
                        url: "/individual/ajax/updateimmunization",
                        data: {reqID: reqID}
                    }).done(function() {
                        window.location.href = "/individual-imunization";
                    });
                }
                else
                {
                    return false;
                }
            }
        }
        ;
        function updateConditionSess(conditionID, view) {
            //alert(view); return false;
            $.ajax({
                type: "POST",
                url: "/individual/ajax/updatesessioncondition",
                data: {conditionID: conditionID}
            }).done(function() {
                if (view) {
                    window.location.href = "/individual-condition-description";
                } else {
                    window.location.href = "/individual-edit-history";
                }
            });
        }
        function deleteCondition(conditionID) {
            if (conditionID) {
                if (confirm("Do you want to delete this condition?")) {
                    this.click;
                    $.ajax({
                        type: "POST",
                        url: "/individual/ajax/updateconditonstatus",
                        data: {conditionID: conditionID}
                    }).done(function() {
                        window.location.href = "/individual-history";
                    });
                }
                else
                {
                    return false;
                }
            }
        }
        $(document).ready(function(e) {
            $('.cb_Grid .row').each(function() {
                equalHeight($(this).find('span.txt'));
            });
            /* function deleteCondition(conditionID){
             if(conditionID){
             alert('del');
             }
             }	 */
        });
    </script>

</div>
<!--Container end here--> 
