<?php
/* * ***********************
 * PHTML: Thank you page show after device connect or desconet from validic api.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 06/01/2015.
 * UPDATED: 06/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
//echo $this->_sessionObj->userDetails['PanelMember'];exit;
?>
<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title" style="position:relative">| Become A Panel Member</div>
        
   </div>
<div class="pageWrapper">

        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>

           
    <div class="boxWrap" style="text-align: center;">
          <?php if($this->isPanelMember==0){?>
		<div class="formContainer formWrapperContainer">
                 <form name="become_apanel_mamber" action="" method="post" id="become_apanel_mamber">
                     <div class="row"><h2 class="page_heading">Your are not  a panel member</h2></div>          
                     <div class="row"><p>If you want to study must be part of a panel member. </p></div>     
                  <div class="row clearfix">
                                        <div class="checkbox_col" style="float: none; display: inline-block; width: auto;">
                                            <span class="checkbox">
                                                <input type="checkbox" id="become_member" name="become_member" value="1"/>
                                            </span>
                                            <label for="become_member">I agree to Terms &amp; Condition</label>
                                        </div>
                                    
                                    </div>
                 
                <div class="row">
                        <input type="submit" value="Become a Mamber" class="submit_button" />
                </div>
         
           </form>
        </div> 
                    
             <?php }else{ ?>
            <h2>You are already a panel member</h2>
             <?php }?>
       </div>
 
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
	$("#become_apanel_mamber").validate({
		rules: {
			become_member: "required"
		},
		messages: {
			become_member:  "Please check term & condition."			
		},
                errorPlacement: function(error, element){
		error.appendTo(element.parents("div.row"));
	  }

	  });
});
</script>
<style>
    label.error{
        display: block;
    }
</style>