
<?php
/* * ***********************
 * PHTML: Thank you page show after device connect or desconet from validic api.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 06/01/2015.
 * UPDATED: 06/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
$redirectUrl = $this->serverUrl().'/individual-archive';
$redirectUrl_reward = $this->serverUrl().'/individual-reward';
?>
<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title" style="position:relative">| Study</div>        
   </div>
    <div class="pageWrapper">
        <div class="boxWrap study_success_page">
            <h2><?=(isset($this->Studydetails['study_title'])? $this->Studydetails['study_title'] : '' )?></h2>
            <h3> Thank you for successfully participation in main question.</h3>
                
            <p class="paratext03">  You earned <span style="font-weight: bolder; color: #48981E; font-size: 22px;"><?=$this->Studydetails['points']?></span>
                <img src="/img/reward_icon.png" alt="Rewards" width="24" /> rewards points.
            </p>  
            <p> <a href="<?=$redirectUrl_reward?>" title="Click here">Click here </a> to  view total earned reward  or redirect in <span id="countdown" style="color: #8B0000">5</span> second to main study list. </p>
           
        </div>
       
    </div>
</div>
 <!--Container end here--> 
 <style>
     .study_success_page{
         text-align: center;
         padding: 30px 0 40px;
         font-size: 16px;
         line-height:normal;
         
     }
     .study_success_page h2{
        font-family: 'RobotoCondensedRegular';
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 24px;
        font-weight: normal;
        border-bottom: 1px solid #eee;
        
     }
     .study_success_page h3{
        font-family: 'RobotoCondensedRegular';
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: normal;
        color: #48981E
     }
     .study_success_page p{
         color:#7F807F;
     }
 </style>
 <script type="text/javascript">

(function () {
    var timeLeft = 5,
        cinterval;

    var timeDec = function (){
        timeLeft--;
        document.getElementById('countdown').innerHTML = timeLeft;
        if(timeLeft === 0){
            clearInterval(cinterval);
            window.location="<?=$redirectUrl?>";
        }
    };

    cinterval = setInterval(timeDec, 1000);
})();

</script>
