<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE STUDY PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 20/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;


//echo "suman";exit;
?>

<style type="text/css">
    .Quize_Wraper .q_table .tbl_row .tbl_col{
        word-break: normal !important;
    }
    /* if coloumn = 7 use add these two classes */
	 .w9 {width: 9%;}
     .inner_space{padding: 15px 2px !important;}
/* coloumn 7 end */

/* if coloumn = 6 use this class */
	 .w10{width: 10%;}
/* coloumn 6 end */

/* if coloumn = 5 use this class */
	 .w13 {width: 13%;}
/* coloumn 5 end */

/* if coloumn = 4 use this class */
	 .w16 {width: 16%;}
/* coloumn 4 end */

/* if coloumn = 3 use this class */
	 .w21 {width: 21%;}
/* coloumn 3 end */

/* if coloumn = 2 use this class */
	 .w31 {width: 31%;}
/* coloumn 2 end */

</style>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Study</div>
        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menu">
                <a href="/individual-study" class="item">Current </a>
                <a href="/individual-archive" class="item selected">Archive</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">    
        <form action="<?php echo $formaction ?>" method="post" name="studyMainForm" id="studyMainForm" enctype="multipart/form-data">

            <div class="table cb_Grid table_box_shadow">
                <div class="row clearfix">
                    <p class="assesment_title"><?= $this->studyTitle ?> <span class="mandatory">All (<span style="color: #EE3923">*</span>) fileds are mandatory</span></p>
                </div>
                <ul class="assesment_quiz clearfix">
                    <?php
                    if (count($this->studyQuestData) > 0) {
                        $i = 1;
                        $rule = "";
                        $msg = "";
                        $number = $this->limit[1] * ($this->page - 1) + 1;
                        $questioncount = 0;
                        foreach ($this->studyQuestData as $sqVal) {
                            //echo "suman".$sqVal['is_group_questionnaire'];
                            $is_group = (isset($sqVal['is_group_questionnaire']) ? $sqVal['is_group_questionnaire'] : 0);

                            $mendatory = ""; // show icon 
                            $required = ""; // add require to validate 
                            if ($sqVal['ques_mendatory'] == 1) {
                                $mendatory = '<span style="color: #EE3923">*</span>'; // show icon 
                                $required = "required"; // add require to validate 
                            }
                            ?>
                            <?php if (empty($is_group)) { ?>
                                <li class="queans clearfix">
                                    <!--Display Question And show is it mandatory or not -->
                                    <h3 class="que"><?= $number ?> <?= $sqVal['ques_question'] ?> <?= $mendatory ?></h3>
                                    <input type="hidden" name="quest_id[<?= $questioncount ?>]" value="<?php echo $sqVal['ques_id']; ?>"/>
                                    <input type="hidden" name="ques_variable[<?= $questioncount ?>]" value="<?php echo $sqVal['ques_variable']; ?>"/>
                                    <input type="hidden" name="group_questionnaire" value="<?php echo $is_group; ?>"/>

                                    <!-- Start list Question Options And add mandatory if -->

                                    <?php
                                    if (count($sqVal['question_opt']) > 0) {
                                        for ($j = 0; $j < count($sqVal['question_opt']); $j++) {
                                            ?>
                                            <div class="ans">
                                                <span style="padding: 5px 30px 13px 26px; width: 100%;" class="radio_button">
                                                    <input type="radio" id="que<?= $sqVal['ques_id'] ?>_opt<?= $j ?>" class="<?= $required ?>" name="opt_value[<?= $questioncount ?>]<?= $sqVal['ques_id'] ?>" value="<?= (isset($sqVal['question_opt'][$j]['opt_value']) ? $sqVal['question_opt'][$j]['opt_value'] : "") ?>" />
                                                    <label for="que<?= $sqVal['ques_id'] ?>_opt<?= $j ?>"><span class="OptradioButton"></span><?= (isset($sqVal['question_opt'][$j]['opt_option']) ? $sqVal['question_opt'][$j]['opt_option'] : "") ?></label>
                                                </span>   
                                            </div>
                                            <?php
                                        }
                                    }
                                    ?>
                                    <!-- End list Question Options And add mandatory if -->
                                </li>
                            <?php
                            } else {
                                $mendatory = ""; // show icon 
                                $required = ""; // add require to validate 
                                if ($sqVal['ques_mendatory'] == 1) {
                                    $mendatory = '<span style="color: #EE3923">*</span>'; // show icon 
                                    $required = "required"; // add require to validate 
                                }
                                ?>
                                <!----- if Group Question Then start --->

                                <div class="Quize_Wraper">
                                    <div class="q_table">
                                        <div class=" wd100" style="border:0; padding-bottom: 10px; border-bottom:1px solid #807E7E;">
                                            <h3 class="que"><?= $number ?> <?= $sqVal['ques_question'] ?> <?= $mendatory ?></h3>
                                            <p><?php echo (isset($sqVal['group_question_details']) ? $sqVal['group_question_details'] : ""); ?></p>
                                        </div>
                                        <div class="tbl_row">                                           
                                            <div class="tbl_col w35" style="border:0; background-color: #eee; border-bottom:1px solid #807E7E;">
                                                
                                                <!--                                                (use " &radic; " to indicate your answer)-->
                                                <input type="hidden" name="quest_id[<?= $questioncount ?>]" value="<?php echo $sqVal['ques_id']; ?>"/>
                                                <input type="hidden" name="ques_variable[<?= $questioncount ?>]" value="<?php echo (isset($sqVal['ques_variable']) ? $sqVal['ques_variable'] : 0); ?>"/>
                                                <input type="hidden" name="group_questionnaire" value="<?php echo $is_group; ?>"/>

                                            </div>
                                            <?php
                                            unset($sqVal['group_question_details']);
                                            unset($sqVal['ques_question']);
                                            unset($sqVal['ques_id']);
                                            unset($sqVal['is_group_questionnaire']);
                                            unset($sqVal['ques_mendatory']);

                                            if (isset($sqVal['option_list']) && count($sqVal['option_list']) > 0) {
                                                $option_val_count = count($sqVal['option_list']);
                                                $arry = array("7" => "w9 inner_space", "6" => "w10", "5" => "w13", "4" => "w16", "3" => "w21", "2" => "w31");
                                                foreach ($sqVal['option_list'] as $opl) {
                                                    ?>
                                                    <div style ="word-break:break-all;" class="tbl_col <?php echo $arry[$option_val_count]?> header"><?php echo $opl['opt_option'] ?></div>
                                                <?php
                                                }
                                                unset($sqVal['option_list']);
                                            }
                                            ?>
                                        </div>
                                        <?php
                                        unset($sqVal['option_list']);
                                        if (count($sqVal) > 0) {
                                            $gcount = 1;
                                            $gcon = 'A';
//                                            echo '<pre>';
//                                            print_r($sqVal);
                                            foreach ($sqVal as $gqvalue) {
                                                ?>
                                                <div class="tbl_row queans">
                                                    <div class="tbl_col w35"><?= $gcon ?> . <?= $gqvalue['ques_question'] ?> <?= $mendatory ?></div>
                                                    <input type="hidden" name="subquest_id[<?= $gcount ?>]" value="<?php echo $gqvalue['ques_id']; ?>"/>

                                                    <?php
                                                    if (count($gqvalue['question_opt']) > 0) {
                                                        for ($l = 0; $l < count($gqvalue['question_opt']); $l++) {
                                                            ?>
                                                            <div class="tbl_col <?php echo $arry[$option_val_count]?>">
                                                                <span class="radio_button">
                                                                    <input type="radio" id="que<?= $gqvalue['ques_id'] ?>_opt<?= $l ?>" class="<?= $required ?>" name="opt_value[<?= $gcount ?>]<?= $gqvalue['ques_id'] ?>" value="<?= (isset($gqvalue['question_opt'][$l]['opt_value']) ? $gqvalue['question_opt'][$l]['opt_value'] : "") ?>" />
                                                                    <label for="que<?= $gqvalue['ques_id'] ?>_opt<?= $l ?>"><span class="OptradioButton"></span></label>
                                                                </span>
                                                            </div>
                                                            <?php
                                                        }
                                                    }
                                                    ?>

                                                </div>
                                                <?php
                                                $gcount++;
                                                $gcon++;
                                            }
                                        }
                                        ?>
                                    </div>
                                </div>                               
                                <!----- if Group Question Then End --->
                            <?php } ?>

                            <?php
                            $number++;
                            $questioncount++;
                        }
                    } else {
                        ?>
                        <li class="queans clearfix"><h3>Sorry no record Found.</h3></li>
<?php } ?>
                </ul>
            </div> 

            <div style="margin-left:20px" class="boxBtn clearfix">
                <input type="hidden" name="current_page" value="<?php echo ($this->page) ?>" />
                <input type="submit" name="" value="<?php echo $this->button_name; ?>" class="bb_btn">
            </div>   
        </form>

    </div>
</div>
<!--Container end here--> 
<script type="text/javascript">
    $("#studyMainForm").validate({
        errorPlacement: function (error, element) {
            error.appendTo(element.parents(".queans"));
        }
    });

//    function disableBack() { window.history.forward() }
//
//        window.onload = disableBack();
//
//        window.onpageshow = function(evt) { 
//            if (evt.persisted){
//                disableBack();
//            } 
//        }

</script>