
<?php if ($this->pageCount): ?>
    <div class="paging">
        <!-- First page link -->
<?php if (isset($this->previous)): ?>
  <a href="<?php echo $this->url($this->route,array(),array('query' => array('page' => $this->first) + $this->routeParams)); ?>">
   << First
  </a> 
<?php else: ?>
  <a href="#" class="disabled" >  << First   </a>
<?php endif; ?>

            <!-- Previous page link -->
            <?php if (isset($this->previous)): ?>             
             <a href="<?php echo $this->url($this->route,array(),array('query' => array('page' => $this->previous) + $this->routeParams)); ?>">< Prev</a>
            <?php else: ?>
                    <a href="#" class="disabled" >
                        < Prev
                    </a>
            <?php endif; ?>
            <!-- Numbered page links -->
            <?php foreach ($this->pagesInRange as $page): ?>
                <?php if ($page != $this->current): ?>                  
            <a href="<?php echo $this->url($this->route,array(),array('query' => array('page' => $page) + $this->routeParams)); ?>"><?php echo $page; ?></a>
                <?php else: ?>
                        <a href="#" class="active"><?php echo $page; ?></a>
                <?php endif; ?>
            <?php endforeach; ?>

            <!-- Next page link -->
            <?php if (isset($this->next)): ?>                    
            <a href="<?php echo $this->url($this->route,array(),array('query' => array('page' => $this->next) + $this->routeParams)); ?>">Next ></a>
            <?php else: ?>
                    <a href="#" class="disabled">
                        Next >
                    </a>

            <?php endif; ?>
                   <!-- First page link -->
<?php if (isset($this->next)): ?>
                  
  <a href="<?php echo $this->url($this->route,array(),array('query' => array('page' => $this->last) + $this->routeParams)); ?>">
   Last >>
  </a> 
<?php else: ?>
  <a href="#" class="disabled" >   Last >>   </a>
<?php endif; ?>
    </div>
<?php endif; ?>