<?php
/* * ***********************
 * PHTML: DISPLAY LIST OF STUDIES.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 23/4/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php $this->flashMessenger()->clearMessages(); ?>
<?php
if (isset($_SERVER['HTTP_X_REQUESTED_WITH']) && $_SERVER['HTTP_X_REQUESTED_WITH'] === 'XMLHttpRequest') {

    echo $this->partial('admin/elements/pass/index');
    exit();
}
?>

<script>
    $(document).ready(function () {
        $('#PagingUl').jscroll({
            loadingHtml: '<div  align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
            nextSelector: 'a.jscroll-next:last',
            contentSelector: '#PagingUl'
        });

        $(document).on('click', '.detailSubDomain', function () {
            var actUrl = $(this).attr('href');
            showLoder('#Processing');
            $.ajax({
                type: 'get',
                url: actUrl,
                success: function (msg) {
                    var result = $.parseJSON(msg);
                    $('.value').html('');
                    $('.value').each(function () {
                        $('#' + $(this).attr('id')).html(result[$(this).attr('id')]);
                    });
                    $('#logo').attr("src","<?= $this->basePath() ?>/img/" + result.logo);
                   
                    hideLoder('#Processing');
                }
            })
            return false;
        });

        $(document).on('click', '.Status', function () {
            var id = $(this).attr('id');
            var status = $(this).attr('status');
            var actUrl = '<?= $this->basePath(); ?>/admin/pass/changeStatus';
            var Data = {'id': id, 'status': status};
            if (confirm('Do you really want to change sub domain status?')) {
                showLoder('#Processing');
                $.ajax({
                    type: 'post',
                    url: actUrl,
                    data: Data,
                    success: function (msg) {
                        var result = $.parseJSON(msg);
                        if (result[0] == 'true') {
                            $('#' + result[1]).removeClass('disable-btn');
                            $('#' + result[1]).removeClass('enable-btn');
                            var className = (result[2] == 1) ? 'disable-btn' : 'enable-btn';
                            if(className =='enable-btn'){
                                $('#' + result[1]).html('Enable');
                            }else{
                                $('#' + result[1]).html('Disable');
                            }
                            $('#' + result[1]).addClass(className);
                            $('#' + result[1]).attr('status', result[2]);
                        }
                        hideLoder('#Processing');
                    }
                })
            }
            return false;
        });
    })
</script>
<script>
    $(window).resize(function () {
        delay(function () {
            $('.dataGridPass .dgRow').each(function () {
                $(this).find('.dgcTxt').css('height', 'auto');
                setEqualHeight($(this).find('.dgcTxt'));
            });
        }, 500);
    });
    $(function () {
        delay(function () {
            $('.dataGridPass .dgRow').each(function () {
                $(this).find('.dgcTxt').css('height', 'auto');
                setEqualHeight($(this).find('.dgcTxt'));
            });
        }, 500);
    });
</script>


<div id="passDetailsPopup" class="grobalPopup popuBxWrap">
    <div class="gppBox">
        <div class="gppbxContainer">
            <div class="gppTitle">PAAS Details
                <div onclick="gppClose('passDetailsPopup');" class="gppClose">X</div>
            </div>
            <div class="formWrapperContainer">
                <div class="createStudy boxWrap">
                    <div class="clearfix">
                        <div class="formWrapperContainer csFrm createPassForm">
                            <div class="row passdtlrow">
                                <span class="pass_lable">Name of Admin:</span>
                                <span class="lableValue value" id="admin_name">Amek Hurley</span>
                            </div>
                            <div class="row passdtlrow">
                                <span class="pass_lable">Domain Name:</span> 
                                <span class="lableValue value " id="subdomain">Rebacca Jason</span>
                            </div>
                            <div class="row passdtlrow">
                                <span class="pass_lable">Creation Date:</span>
                                <span class="lableValue value " id="creation_date">09 Nov, 2014</span>
                            </div>
                            <div class="row passdtlrow">
                                <span class="pass_lable">Email Address:</span>
                                <span class="lableValue value " id="admin_user_name">amek4u@yahoo.com</span>
                            </div>
                            <div class="row passdtlrow">
                                <span class="pass_lable">Contact Number :</span>
                                <span class="lableValue value " id="contact_number">+92 98189 47500</span>
                            </div>
                        </div>
                        <div class="createPassForm">
                            <div class="formWrapperContainer clearfix">
                                <div class="row clearfix">
                                    <div class="passAdminImg" style=" height: 100px;width: 250px;">
                                        <span class="img">
                                            <img style="width:245px;" src="img/passAdmin_placeholder.png" class="passDomainImage value " id="logo" alt="" />
                                            <span class="imgName">Domain Logo</span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formulaSetup">
                        <div class="fsCondition formWrapperContainer">
                            <div class="fscTitle">Subscriptions</div>
                            <div class="formWrapperContainer">
                                <ul class="subscriptionsRecordsData">
                                    <li>Total Number of Panel Members to be recruited 
                                        <span class="panel_member value" id="panel_member">34</span></li>
                                    <li>Total Number of Studies &amp; Surveys conducted 
                                        <span class="study value " id="study_survey">34</span></li>
                                    <li>Total Number of Surveys Questions per month 
                                        <span class="survey value " id="survey_que_per_mon">34</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="gppOverlay"></div>
</div>

<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper addQuestion">
        <div class="pghFixed">
            <div class="pgh_title">| PAAS</div>
            <div class="pgh_mWrap clearfix" style="padding-top:6px;padding-bottom:6px;">
                <span class="passTHeading">PAAS List</span>
                <div class="btn create-newPass">
                    <a href="admin-passDomain-add" class="orange_btn">Create New</a>
                </div>
            </div>
        </div>  
        <div class="dataGrid wbr dataGridPass">
            <div class="dgRow dgHead clearfix">
                <div class="dgCol dgw20"><div class="dgcTxt">Admin Name</div></div>
                <div class="dgCol dgw15"><div class="dgcTxt">Creation Date</div></div>
                <div class="dgCol dgw25"><div class="dgcTxt">Email Adress</div></div>
                <div class="dgCol dgw20"><div class="dgcTxt">Contact Number</div></div>
                <div class="dgCol dgw20"><div class="dgcTxt" style="text-align:center">Action</div></div>
            </div>
            <div id="PagingUl">
                <?= $this->partial('admin/elements/pass/index'); ?>
            </div>
        </div>



    </div>
</div>

