<?php
/* * ***********************
 * PHTML: DISPLAY LIST OF STUDIES.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 23/4/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$PluginController = $this->PluginController;
?>

<?php if(!empty($data)){?>
    
<?php }?>
<style>
    div.row:nth-child(2n) label.error {
        margin-left: 15px;
    }
</style>
<div id="content-wrapper" class="clearfix" style="margin-top: 146px !important;">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Reward</div>
            <div class="pgh_mT clearfix">
                <h3>Credit Card Registration</h3>
                
            </div>
        </div>
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?= $msg["error"]; ?>
                </div>
            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?= $msg["success"]; ?>
                </div>
            <?php endif; ?>
        <?php } ?>
        <div class="createStudy">
            <div class="formWrapperContainer csFrm">
                <form action="" method="post" id="register_cc_form" name="register_cc_form" >
                    <h3>Credit Card Detail</h3></br>
                    <div class="csf-double clearfix">
                        <div class="row">
                            <div class="input first">
                                <input type="text" placeholder="Credit Card Number" name="cc_no" id="cc_no" class="cc_no" value="" maxlength="16" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="input">
                                <input type="text" placeholder="Expiration Date (yyyy-mm)" name="cc_expire_date" id="cc_expire_date" value="" maxlength="10" />
                            </div>
                        </div>
                    </div>
                    <div class="csf-double clearfix">
                        <div class="row">
                            <div class="input first">
                                <input type="text" placeholder="Security Card (CVV or CV2, or CID)" name="cc_security_card" class="number" id="cc_security_card"  value="" maxlength="4" />
                            </div>
                        </div>
                    </div>

                    <h3>Billing Address Information</h3></br>
                    <div class="csf-double clearfix">
                        <div class="row ">
                            <div class="input first">
                                <input type="text" placeholder="First Name" name="f_name" id="f_name" value="" maxlength="20"/>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="input">
                                <input type="text" placeholder="Last Name" name="l_name" id='l_name' value="" maxlength="20"/>
                            </div>
                        </div>
                    </div>
                    <div class="csf-double clearfix">
                        <div class="row ">
                            <div class="input first">
                                <input type="text" placeholder="Address" name="address" id='address' value="" maxlength="30"/>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="input">
                                <input type="text" placeholder="City" name="city" id='city' value="" maxlength="20"/>
                            </div>
                        </div>
                    </div>

                    <div class="csf-double clearfix">
                        <div class="row ">
                            <div class="input first">
                                <input type="text" placeholder="State" name="state" id='state' value="" maxlength="20"/>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="input">
                                <input type="text" placeholder="Zip or postal code" name="zip" value="" id='zip' maxlength="6"/>
                            </div>
                        </div>
                    </div>

                    <div class="csf-double clearfix">
                        <div class="row clearfix">
                            <div class="input first">
                                <input type="text" placeholder="Country" name="country" id='country' value="" maxlength="20"/>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="input">
                                <input type="text" placeholder="Email" name="email" id='email' value="" maxlength="50" />
                            </div>
                        </div>
                    </div>

                    <div class="input_button clearfix">
                        <input type="submit" name="c_submit" class="submit_button" id="c_submit" value="Register">
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $(".cc_no").keypress(function (event) {
                // Backspace, tab, enter, end, home, left, right
                // We don't support the del key in Opera because del == . == 46.
                var controlKeys = [8, 9, 13, 35, 36, 37, 39, 48];
                // IE doesn't support indexOf
                var isControlKey = controlKeys.join(",").match(new RegExp(event.which));
                // Some browsers just don't raise events for control keys. Easy.
                // e.g. Safari backspace.
                if (!event.which || // Control keys in most browsers. e.g. Firefox tab is 0
                        (49 <= event.which && event.which <= 57) || // Always 1 through 9
                        (48 == event.which && $(this).attr("value")) || // No 0 first digit
                        isControlKey) { // Opera assigns values for control keys.
                    return;
                } else {
                    event.preventDefault();
                }
            });
        });

    });
    $.validator.addMethod(
            "australianDate",
            function (value, element) {
                // put your own logic here, this is just a (crappy) example
                return value.match(/^[0-9]{4}-(?:0[1-9]|1[0-2])$/);
            },
            "Please enter a date in the format yyyy-mm."
            );
    $.validator.addMethod(
            "security_code",
            function (value, element) {
                // put your own logic here, this is just a (crappy) example
                return value.match(/^[0-9]{3,4}$/);
            },
            "Please enter 3 or 4-digit security code."
            );

    $(function () {
        $('#register_cc_form').validate({
            rules: {
                cc_no: {
                    required: true,
                    minlength: 10,
                    maxlength: 20
                },
                cc_expire_date: {
                    required: true,
                    australianDate: true
                },
                cc_security_card: {
                    required: true,
                    security_code: true
                },
                f_name: {
                    required: true,
                    minlength: 1,
                    maxlength: 50
                },
                l_name: {
                    required: true,
                    minlength: 1,
                    maxlength: 50
                },
                address: {
                    required: true,
                    minlength: 1,
                    maxlength: 60
                },
                city: {
                    required: true,
                    minlength: 1,
                    maxlength: 40
                },
                state: {
                    required: true,
                    minlength: 1,
                    maxlength: 40
                },
                zip: {
                    required: true,
                    minlength: 1,
                    maxlength: 20
                },
                country: {
                    minlength: 1,
                    maxlength: 60
                },
                email: {
                    required: true,
                    email: true,
                    minlength: 5,
                    maxlength: 250
                }
            },
            messages: {
                cc_no: {
                    required: "Please enter credit card no.",
                    minlength: "Please enter at least 10 digits",
                    maxlength: "Please enter at max 20 digits"
                },
                cc_expire_date: {
                    required: "Please enter expiry date."
                },
                cc_security_card: {
                    required: "Please enter caredit card security card"
                },
                f_name: {
                    required: "Please enter first name"
                },
                l_name: {
                    required: "Please enter last name"
                },
                address: {
                    required: "Please enter address"
                },
                city: {
                    required: "Please enter city"
                },
                state: {
                    required: "Please enter state"
                },
                zip: {
                    required: "Please enter zip code"
                },
                country: {
                    required: "Please enter country"
                },
                email: {
                    required: "Please enter email address",
                    format: "Please enter valid email address",
                }
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });
    });
</script>

