<?php
/* * ***********************
 * PHTML: DISPLAY LIST OF STUDIES.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 23/4/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$PluginController = $this->PluginController;
?>

<style>
    .fundAccDetail .fadRight .fadrRow span {
        float: right;
        font-size: 13px;
    }
</style>
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Reward</div>
            <div class="pgh_mT clearfix">
                <h3>Fund an account</h3>
                <?php if (!empty($CardData)) { ?>
                    <a class="btn_bxAb" href="admin-deletecc">Delete Credit Card</a>
                <?php } else { ?>
                    <a href="/admin-reward-registercc" class="create-new">Register Credit Card</a>
                <?php } ?>
            </div>
        </div>
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?= $msg["error"]; ?>
                </div>
            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?= $msg["success"]; ?>
                </div>
            <?php endif; ?>
        <?php } ?>
        <div class="fundAccDetail clearfix">
            <div class="fadRight">
                <h3>Account Information</h3>

                <div class="fadrRow clearfix">
                    <label>Current Amount</label> 

                    <span>
                        $ <?php
                        if ($TangoData['success'] == 1) {
                            echo $TangoData['account']['available_balance'];
                        } else {
                            echo '0';
                        }
                        ?>
                    </span>
                </div>

                <div class="fadrRow clearfix">
                    <label>Customer Name</label> 
                    <span>
                        <?php
                        if ($TangoData['success'] == 1) {
                            echo $TangoData['account']['customer'];
                        } else {
                            echo 'Not Found';
                        }
                        ?>
                    </span>
                </div>

                <div class="fadrRow clearfix">
                    <label>Customer Email</label> 
                    <span>
                        <?php
                        if ($TangoData['success'] == 1) {
                            echo $TangoData['account']['email'];
                        } else {
                            echo 'Not Found';
                        }
                        ?>
                    </span>
                </div>

                <div class="fadrRow clearfix">
                    <label>Identifier</label> 
                    <span>
                        <?php
                        if ($TangoData['success'] == 1) {
                            echo $TangoData['account']['identifier'];
                        } else {
                            echo 'Not Found';
                        }
                        ?>
                    </span>
                </div>

            </div>
            <div class="fadLeft" style="width: 70%;">
                <div class="formContainer formWrapperContainer addBlogPost">
                    <form action="" method="post" id="fund_account_form" name="fund_account_form">

                        <div class="row clearfix">
                            <label>Credit Card :</label>
                            <div class="input" style="height: 28px;padding-top: 12px;">
                                <?php echo isset($CardData['card_no']) ? $CardData['card_no'] : 'Register Cradit Card'; ?>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <label>Amount :</label>
                            <div class="input">
                                <input type="text" placeholder="Enter Amount" name="amount" class="amount" id ="amount" value="" maxlength="7"/>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <label>Security code :</label>
                            <div class="input">
                                <input type="text" placeholder="Security Card (CVV or CV2, or CID)" class="security_card" name="security_card" id="security_card" value="" maxlength="4" />
                            </div>
                        </div>

                        <div class="input_button clearfix">
                            <input type="submit" name="c_submit" class="submit_button" id="c_submit" value="Fund Account">
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $(".amount,.security_card").keypress(function (event) {
                var controlKeys = [8, 9, 13, 35, 36, 37, 39, 46, 48];
                var isControlKey = controlKeys.join(",").match(new RegExp(event.which));
                if (!event.which || // Control keys in most browsers. e.g. Firefox tab is 0
                        (49 <= event.which && event.which <= 57) || // Always 1 through 9
                        (48 == event.which && $(this).attr("value")) || // No 0 first digit
                        isControlKey) { // Opera assigns values for control keys.
                    return;
                } else {
                    event.preventDefault();
                }
            });
        });
    });
    $(function () {

        $.validator.addMethod(
                "security_code",
                function (value, element) {
                    // put your own logic here, this is just a (crappy) example
                    return value.match(/^[0-9]{3,4}$/);
                },
                "Please enter 3 or 4-digit security code."
                );
        $.validator.addMethod(
                "amount",
                function (value, element) {
                    // put your own logic here, this is just a (crappy) example
                    if (value >= 100) {
                        return true;
                    } else {
                        return false;
                    }
                },
                "Please enter minimum amount 100."
                );
        $('#fund_account_form').validate({
            rules: {
                amount: {
                    required: true,
                    amount: true
                },
                security_card: {
                    required: true,
                    security_code: true
                }
            },
            messages: {
                amount: {
                    required: "Please enter amount.",
                },
                security_card: {
                    required: "Please enter security card.",
                }
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });
    });
</script>
<style>
    label.error{
        color: red !important;
        font-size: 12px !important;
        width: auto !important;
    }
</style>