<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE THRESHOLD MATRIX  BODY MEASURMENT FUNCTION.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
 * CREATOR: 31/12/2014.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->flashMessenger()->clearMessages();

?>


<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Studies</div>
            <div class="pgh_mT clearfix">
                <h3><a href="researcher-studies">Studies List</a>  &gt;  <a href="researcher-studies-create?sid=<?= base64_encode($sid); ?>">Edit Study</a>  &gt;  <a href="researcher-studies-create?sid==<?= base64_encode($sid); ?>">Set Questions</a> &gt; <span>Main Question Fliter</span></h3>
            </div>


        </div>

        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?= $msg["success"]; ?>
                </div>
            <?php endif; ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?= $msg["error"]; ?>
                </div>
            <?php endif; ?>
        <?php } ?>


        <form action="researcher-studies-mainque-filter?sid=<?= base64_encode($sid); ?>" method="post" enctype="multipart/form-data">
            <div class="table cb_Grid table_box_shadow">
                <div class="row clearfix">
                    <p class="assesment_title">
                        <span class="mandatory">All (*) fileds are mandatory</span>
                    </p>
                </div>

                <ul class="assesment_quiz clearfix">
                    <?php
                    $i = 1;
                    foreach ($question AS $index => $questionArr) {
                        ?>
                        <?php $optionsArr = $this->options($quesOj, $questionArr['ques_id']); ?>
                        <li class="queans clearfix">
                            <h3 class="que"> <?= $index + 1; ?>. 
                                <?= $questionArr['ques_question']; ?></h3>
                            <div class="ans">
                                <input type="hidden" value="<?= $questionArr['ques_id']; ?>" name="que_id[<?= $i; ?>]"/>
                                <?php
                                $char = 64;
                                $opt = 1;
                                foreach ($optionsArr AS $key => $options) {
                                    $char++;
                                    $checked='';
                                    if (isset($Data[$questionArr['ques_id']])) {
                                        if(in_array($options['opt_value'], $Data[$questionArr['ques_id']])){
                                            $checked='checked';
                                        }
                                    }
                                    ?>

                                    <span class="checkbox_button">
                                        <input type="checkbox" <?= $checked;?>  value="<?= $options['opt_value']; ?>" class="checkbox" id="que<?= $i; ?>_opt<?= $opt; ?>" name="checkbox[<?= $i; ?>][]" />
                                        <label for="que<?= $i; ?>_opt<?= $opt; ?>">
                                            <?= chr($char); ?>). <?= $options['opt_option']; ?> 
                                        </label>

                                    </span>
                                    <?php $opt++;
                                }
                                ?>
                                <a href="javascript:void(0)" class="bb_btn ClearData"> Clear </a>

                            </div>
                        </li>
                        <?php $i++;
                    }
                    ?>

                </ul>
            </div> 
            <div align="center" class="boxBtn clearfix">
                <input type="submit" style="float: none;" value="Save & Continue" class="bb_btn">
            </div>   
        </form>
        <script>
            $(document).ready(function () {
                $('.ClearData').click(function () {
                    $(this).parent().find('.checkbox').prop('checked', false);
                })
            })
        </script>


    </div>
</div>
