<?php
/* * ***********************
 * PHTML: DISPLAY LIST OF STUDIES.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 30/3/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php
$this->flashMessenger()->clearMessages();
//echo '<pre>';
//print_r($conditionsArray);
//die;
?>

<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Studies 
            </div>

        </div>

        <div class="sc_leftpanel">

            <div class="aslpWrap">


                <?php
                $i = 0;
                if (!empty($conditionsArray['Variables'])) {

                    foreach ($conditionsArray['Variables'] as $Data) {
                        ?>
                        <div class="sdFdDetail sclmStd <?= $i; ?>" <?php if ($i > 0) { ?>style="display: none;"<?php } ?>  >

                            <ul class="clearfix">
                                <li>
                                    <div class="sdFd">
                                        <div class="dddBx clearfix">
                                            <div class="dbxLabel">Variables :</div>
                                        </div>
                                        <?php
                                        if (is_array($Data)) {
                                            foreach ($Data as $index) {
                                                $varData = json_decode($index, true);
                                                ?>

                                                <div class="sdfdRow clearfix">
                                                    <div class="sdfdCol">&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <?php $Variable = $this->Getdata(array($varData[0], $varData[1]), $models, 'Variable'); ?>
                                                        <?= $Variable['var']; ?> :</div>
                                                    <div class="sdfdLabel"><?= $Variable['opt']; ?></div>
                                                </div>
                                                <?php
                                            }
                                        } else {

                                            $varData = json_decode($Data, true);
                                            ?>

                                            <div class="sdfdRow clearfix">
                                                <div class="sdfdCol">&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <?php $Variable = $this->Getdata(array($varData[0], $varData[1]), $models, 'Variable'); ?>
                                                    <?= $Variable['var']; ?> :</div>
                                                <div class="sdfdLabel"><?= $Variable['opt']; ?></div>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </li>

                                <?php
                                if (!empty($conditionsArray['Common'])) {
                                    foreach ($conditionsArray['Common'] as $Data) {
                                        if (isset($Data[1]) && !empty($Data[1])) {
                                            $Variable = $this->Getdata($Data[1], $models, 'Demographic');
                                            ?>
                                            <li>
                                                <div class="sdFd">
                                                    <div class="dddBx clearfix">
                                                        <div class="dbxLabel">Demographic :</div>
                                                    </div>
                                                    <?php if (!empty($Data[1]['country'])) { ?>
                                                        <div class="sdfdRow clearfix">
                                                            <div class="sdfdCol">&nbsp;&nbsp;&nbsp;&nbsp;Country :</div>
                                                            <div class="sdfdLabel"><?= !empty($Variable['Country']) ? $Variable['Country'] : 'N/A'; ?></div>
                                                        </div>
                                                    <?php } ?>
                                                    <?php if (!empty($Data[1]['state'])) { ?>
                                                        <div class="sdfdRow clearfix">
                                                            <div class="sdfdCol">&nbsp;&nbsp;&nbsp;&nbsp;State :</div>
                                                            <div class="sdfdLabel"><?= !empty($Variable['State']) ? $Variable['State'] : 'N/A'; ?></div>
                                                        </div>
                                                    <?php } ?>
                                                    <?php if (!empty($Data[1]['counties'])) { ?>
                                                        <div class="sdfdRow clearfix">
                                                            <div class="sdfdCol">&nbsp;&nbsp;&nbsp;&nbsp;Counties :</div>
                                                            <div class="sdfdLabel"><?= !empty($Variable['County']) ? $Variable['County'] : 'N/A'; ?></div>
                                                        </div>
                                                    <?php } ?>
                                                    <?php
                                                    if (!empty($Data[1]['gender'])) {
                                                        $gender = array('m' => 'Male', 'f' => 'Female');
                                                        ?>
                                                        <div class="sdfdRow clearfix">
                                                            <div class="sdfdCol">&nbsp;&nbsp;&nbsp;&nbsp;Gender :</div>
                                                            <div class="sdfdLabel"><?= !empty($Data[1]['gender']) ? $gender[$Data[1]['gender']] : 'N/A'; ?></div>
                                                        </div>
                                                    <?php } ?>
                                                    <?php if (!empty($Data[1]['age_from']) && !empty($Data[1]['age_to'])) { ?>
                                                        <div class="sdfdRow clearfix">
                                                            <div class="sdfdCol">&nbsp;&nbsp;&nbsp;&nbsp;Age :</div>
                                                            <div class="sdfdLabel"><?= !empty($Data[1]['age_from']) ? $Data[1]['age_from'] : 'N/A'; ?> - <?= !empty($Data[1]['age_to']) ? $Data[1]['age_to'] : 'N/A'; ?></div>
                                                        </div>
                                                    <?php } ?>

                                                </div>
                                            </li>
                                        <?php }
                                        ?>
                                        <?php
                                        if (isset($Data[3]) && !empty($Data[3])) {
                                            ?>
                                            <li>
                                                <div class="sdFd">
                                                    <div class="dddBx clearfix">
                                                        <div class="dbxLabel">Condition :</div>
                                                    </div>
                                                    <?php
                                                    if (!empty($Data[3]['condition_id'])) {
                                                        foreach ($Data[3]['condition_id'] as $Condition) {
                                                            $ConditionData = explode(':', $Condition);
                                                            ?>
                                                            <div class="sdfdRow clearfix">
                                                                <div class="sdfdCol"><?= $this->Getdata($ConditionData[0], $models, 'Condition'); ?></div>
                                                                <div class="sdfdLabel"><?= ($ConditionData[1] == 1) ? 'Yes' : 'No'; ?></div>
                                                            </div>
                                                            <?php
                                                        }
                                                    }
                                                    ?>

                                                </div>
                                            </li>
                                            <?php
                                        }

                                        if (isset($Data[4]) && !empty($Data[4])) {
                                            ?>
                                            <li>
                                                <div class="sdFd">
                                                    <div class="dddBx clearfix">
                                                        <div class="dbxLabel">Symptom :</div>
                                                    </div>
                                                    <?php
                                                    if (!empty($Data[4]['symptom_id'])) {
                                                        foreach ($Data[4]['symptom_id'] as $Symptom) {
                                                            $SymptomData = explode(':', $Symptom);
                                                            ?>
                                                            <div class="sdfdRow clearfix">
                                                                <div class="sdfdCol"><?= $this->Getdata($SymptomData[0], $models, 'Symptom'); ?></div>
                                                                <div class="sdfdLabel"><?= ($SymptomData[1] == 1) ? 'Yes' : 'No'; ?></div>
                                                            </div>
                                                            <?php
                                                        }
                                                    }
                                                    ?>

                                                </div>
                                            </li>
                                            <?php
                                        }

                                        if (isset($Data[5]) && !empty($Data[5])) {
                                            ?>
                                            <li>
                                                <div class="sdFd">
                                                    <div class="dddBx clearfix">
                                                        <div class="dbxLabel">Treatment :</div>
                                                    </div>
                                                    <?php
                                                    if (!empty($Data[5]['treatment_id'])) {
                                                        foreach ($Data[5]['treatment_id'] as $Treatment) {
                                                            $TreatmentData = explode(':', $Treatment);
                                                            ?>
                                                            <div class="sdfdRow clearfix">
                                                                <div class="sdfdCol"><?= $this->Getdata($TreatmentData[0], $models, 'Treatment'); ?></div>
                                                                <div class="sdfdLabel"><?= ($TreatmentData[1] == 1) ? 'Yes' : 'No'; ?></div>
                                                            </div>
                                                            <?php
                                                        }
                                                    }
                                                    ?>

                                                </div>
                                            </li>
                                            <?php
                                        }
                                    }
                                }
                                ?>



                            </ul>
                        </div>
                        <?php
                        $i++;
                    }
                } else {
                    ?>
                    <div class="sdFdDetail sclmStd <?= $i; ?>" <?php if ($i > 0) { ?>style="display: none;"<?php } ?>  >

                        <ul class="clearfix">
                            <?php
                            if (!empty($conditionsArray['Common'])) {
                                foreach ($conditionsArray['Common'] as $Data) {
                                    if (isset($Data[1]) && !empty($Data[1])) {
                                        $Variable = $this->Getdata($Data[1], $models, 'Demographic');
                                        ?>
                                        <li>
                                            <div class="sdFd">
                                                <div class="dddBx clearfix">
                                                    <div class="dbxLabel">Demographic :</div>
                                                </div>
                                                <?php if (!empty($Data[1]['country'])) { ?>
                                                    <div class="sdfdRow clearfix">
                                                        <div class="sdfdCol">&nbsp;&nbsp;&nbsp;&nbsp;Country :</div>
                                                        <div class="sdfdLabel"><?= !empty($Variable['Country']) ? $Variable['Country'] : 'N/A'; ?></div>
                                                    </div>
                                                <?php } ?>
                                                <?php if (!empty($Data[1]['state'])) { ?>
                                                    <div class="sdfdRow clearfix">
                                                        <div class="sdfdCol">&nbsp;&nbsp;&nbsp;&nbsp;State :</div>
                                                        <div class="sdfdLabel"><?= !empty($Variable['State']) ? $Variable['State'] : 'N/A'; ?></div>
                                                    </div>
                                                <?php } ?>
                                                <?php if (!empty($Data[1]['counties'])) { ?>
                                                    <div class="sdfdRow clearfix">
                                                        <div class="sdfdCol">&nbsp;&nbsp;&nbsp;&nbsp;Counties :</div>
                                                        <div class="sdfdLabel"><?= !empty($Variable['County']) ? $Variable['County'] : 'N/A'; ?></div>
                                                    </div>
                                                <?php } ?>
                                                <?php
                                                if (!empty($Data[1]['gender'])) {
                                                    $gender = array('m' => 'Male', 'f' => 'Female');
                                                    ?>
                                                    <div class="sdfdRow clearfix">
                                                        <div class="sdfdCol">&nbsp;&nbsp;&nbsp;&nbsp;Gender :</div>
                                                        <div class="sdfdLabel"><?= !empty($Data[1]['gender']) ? $gender[$Data[1]['gender']] : 'N/A'; ?></div>
                                                    </div>
                                                <?php } ?>
                                                <?php if (!empty($Data[1]['age_from']) && !empty($Data[1]['age_to'])) { ?>
                                                    <div class="sdfdRow clearfix">
                                                        <div class="sdfdCol">&nbsp;&nbsp;&nbsp;&nbsp;Age :</div>
                                                        <div class="sdfdLabel"><?= !empty($Data[1]['age_from']) ? $Data[1]['age_from'] : 'N/A'; ?> - <?= !empty($Data[1]['age_to']) ? $Data[1]['age_to'] : 'N/A'; ?></div>
                                                    </div>
                                                <?php } ?>

                                            </div>
                                        </li>
                                    <?php }
                                    ?>

                                    <?php
                                    if (isset($Data[3]) && !empty($Data[3])) {
                                        ?>
                                        <li>
                                            <div class="sdFd">
                                                <div class="dddBx clearfix">
                                                    <div class="dbxLabel">Condition :</div>
                                                </div>
                                                <?php
                                                if (!empty($Data[3]['condition_id'])) {
                                                    foreach ($Data[3]['condition_id'] as $Condition) {
                                                        $ConditionData = json_decode($Condition, true);
                                                        ?>
                                                        <div class="sdfdRow clearfix">
                                                            <div class="sdfdCol"><?= $this->Getdata($ConditionData[0], $models, 'Condition'); ?></div>
                                                            <div class="sdfdLabel"><?= ($ConditionData[1] == 1) ? 'Yes' : 'No'; ?></div>
                                                        </div>
                                                        <?php
                                                    }
                                                }
                                                ?>

                                            </div>
                                        </li>
                                    <?php }
                                    ?>

                                    <?php
                                    if (isset($Data[4]) && !empty($Data[4])) {
                                        ?>
                                        <li>
                                            <div class="sdFd">
                                                <div class="dddBx clearfix">
                                                    <div class="dbxLabel">Symptom :</div>
                                                </div>
                                                <?php
                                                if (!empty($Data[4]['symptom_id'])) {
                                                    foreach ($Data[4]['symptom_id'] as $Symptom) {
                                                        $SymptomData = explode(':', $Symptom);
                                                        ?>
                                                        <div class="sdfdRow clearfix">
                                                            <div class="sdfdCol"><?= $this->Getdata($SymptomData[0], $models, 'Symptom'); ?></div>
                                                            <div class="sdfdLabel"><?= ($SymptomData[1] == 1) ? 'Yes' : 'No'; ?></div>
                                                        </div>
                                                        <?php
                                                    }
                                                }
                                                ?>

                                            </div>
                                        </li>
                                        <?php
                                    }
                                    ?>
                                    <?php
                                    if (isset($Data[5]) && !empty($Data[5])) {
                                        ?>
                                        <li>
                                            <div class="sdFd">
                                                <div class="dddBx clearfix">
                                                    <div class="dbxLabel">Treatment :</div>
                                                </div>
                                                <?php
                                                if (!empty($Data[5]['treatment_id'])) {
                                                    foreach ($Data[5]['treatment_id'] as $Treatment) {
                                                        $TreatmentData = explode(':', $Treatment);
                                                        ?>
                                                        <div class="sdfdRow clearfix">
                                                            <div class="sdfdCol"><?= $this->Getdata($TreatmentData[0], $models, 'Treatment'); ?></div>
                                                            <div class="sdfdLabel"><?= ($TreatmentData[1] == 1) ? 'Yes' : 'No'; ?></div>
                                                        </div>
                                                        <?php
                                                    }
                                                }
                                                ?>

                                            </div>
                                        </li>
                                        <?php
                                    }
                                    ?>
                                    <?php
                                }
                            }
                            ?>
                        </ul>
                    </div>
                <?php } ?>



            </div>

            <div class="npButtons">
                <ul class="clearfix">
                    <li><a href="javascript:void(0);" class="npb_prev">Previous</a></li>
                    <li><a href="javascript:void(0);" class="npb_next">Next</a></li>
                </ul>
            </div>
            <style>
                .disabledNavPre{
                    background-color: #CCCCCC !important;
                    background-image: url("../../img/arrow_left.png");
                }
                .disabledNavNext{
                    background-color: #CCCCCC !important;
                    background-image: url("../../img/arrow_right.png");
                }
            </style>
            <script>
                $(document).ready(function () {
                    var i = 0;
                    var total = $('.sdFdDetail').length;
                    nav(i, total);

                    $(document).on('click', '.npb_next', function () {
                        $('.sdFdDetail').hide();
                        i++;
                        $('.' + i).show();
                        $('.allMain').hide();
                        $('.main' + i).show();
                        nav(i, total);
                    })

                    $(document).on('click', '.npb_prev', function () {
                        $('.sdFdDetail').hide();
                        i--;
                        $('.' + i).show();
                        $('.allMain').hide();
                        $('.main' + i).show();
                        nav(i, total);
                    })

                })

                function nav(i, total) {
                    if (i == 0) {
                        $('.npb_prev').removeClass('npb_prev').addClass('disabledNavPre');
                    } else {
                        $('.disabledNavPre').addClass('npb_prev').removeClass('disabledNavPre');
                    }

                    if (i == (total - 1)) {
                        $('.npb_next').removeClass('npb_next').addClass('disabledNavNext');
                    } else {
                        $('.disabledNavNext').addClass('npb_next').removeClass('disabledNavNext');
                    }


                }
            </script>



        </div>
        <div class="sc_rightpanel">
            <!--<div class="SymptomsDlt">Delete</div>-->
            <h2>Study Eligible Users</h2>
            <?php
            if (!empty($User)) {
                $i = 0;
                foreach ($User as $user) {
                    ?>
                    <form action="<?= $this->basePath(); ?>/admin/studies/saveInvitation" class="SendInvitation"/>
                    <div class="main<?= $i; ?> allMain" <?php if ($i > 0) { ?>style="display: none;"<?php } ?>>
                        <?php $Invitation=!empty($userInvitation[$i][0]['num']) ? $userInvitation[$i][0]['num'] : 0;?>
                                    
                        <div class="slLshow">
                            <div class="sllsBx">
                                <div class="sllsRow clearfix">
                                    <div class="sllsLabel">Eligible Users For Study</div>
                                    <div class="sllsCol month"><?= $user['this_month']-$Invitation; ?></div>
                                    <input type="hidden" value="<?= $sid; ?>" name="study_id"/>
                                    <input type="hidden" value="<?= $i; ?>" name="bucket"/>
                                    <input type="hidden" value="<?= ($Study[0]['screening']) ? 0 : 1; ?>" name="type"/>

                                </div>
                            </div>
                        </div>

                        <div class="slLshow">
                            <div class="sllsBx">
                                <div class="sllsRow clearfix">
                                    <div class="sllsLabel">Eligible Users For Study In Next Month</div>
                                    <div class="sllsCol"><?= $user['all'] - $user['this_month']; ?></div>
                                </div>
                            </div>
                        </div>

                        <div class="slLshow">
                            <div class="sllsBx">
                                <div class="sllsRow clearfix">
                                    <div class="sllsLabel">Invitation Send To Users</div>
                                    <div class="sllsCol Invitation"><?= !empty($userInvitation[$i][0]['num']) ? $userInvitation[$i][0]['num'] : 0; ?></div>
                                </div>
                            </div>
                        </div>

                        <div class="slLshow">
                            <div class="sllsBx">
                                <div class="sllsRow clearfix">
                                    <div class="sllsLabel">No Of Users Participated In Study</div>
                                    <div class="sllsCol">0</div>
                                </div>
                            </div>
                        </div>

                        <div class="slLshow">
                            <div class="sllsBx">
                                <div class="sllsRow clearfix">
                                    <div class="sllsLabel" style="height: 60px;" >Select No Of User To Send Invitation
                                        <span class="error"></span>
                                    </div>
                                    <div class="sllsCol">
                                        <?php $count = ($user['this_month'] - $userInvitation[$i][0]['num'] < 200) ? $user['this_month'] - $userInvitation[$i][0]['num'] : 200; ?>
                                        <select name="number" class="required number" style="width:175px;height: 40px;">

                                            <option value="">Select</option>
                                            <?php for ($j = 1; $j <= $count; $j++) { ?>
                                                <option value="<?= $j; ?>"><?= $j; ?></option>
                                            <?php } ?>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="boxBtn sllsbb clearfix">
                            <input type="submit" class="bb_btn" value="Send" name="">
                        </div>
                    </div>
                    </form>
                    <?php
                    $i++;
                }
            }
            ?> 
        </div>
        <script>
            $(document).ready(function () {
                $('.SendInvitation').submit(function () {
                    var actUrl = $(this).attr('action');
                    var Data = $(this).serialize();
                    var Obj = $(this);
                    if ($(this).validate().form()) {
                        showLoder('#Processing');
                
                        $.ajax({
                            type: 'post',
                            url: actUrl,
                            data: Data,
                            success: function (msg) {
                                if (msg) {
                                    var thisMonth = parseInt(Obj.find('.month').html()) - parseInt(Obj.find('.number').val());
                                    thisMonth = (thisMonth < 200) ? thisMonth : 200;
                                    Obj.find('.Invitation').html(parseInt(Obj.find('.Invitation').html()) + parseInt(Obj.find('.number').val()));
                                    Obj.find('.month').html(thisMonth);
                                    var html;

                                    html += "<option value=''>Select</option>"
                                    for (i = 1; i <= thisMonth; i++) {
                                        html += "<option value=" + i + ">" + i + "</option>"
                                    }
                                    Obj.find('.number').html(html);

                                }
                                hideLoder('#Processing');
                
                            }
                        })
                    }
                    return false;
                })

                $('.SendInvitation').validate();
            })
        </script>
        <style>
            label.error {
                color: #cd0a0a;
                float: left;
                font-size: 12px;

            }
            .slLshow .sllsRow .sllsLabel {
                width: 240px;
            }
            .slLshow .sllsRow .sllsCol {
                width: 175px;
            }
        </style>

    </div>
</div>