<?php
/* * ***********************
 * PHTML: DISPLAY LIST OF STUDIES RESULT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 19/5/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php $this->flashMessenger()->clearMessages(); ?>
<?php
if (isset($_SERVER['HTTP_X_REQUESTED_WITH']) && $_SERVER['HTTP_X_REQUESTED_WITH'] === 'XMLHttpRequest') {

    echo $this->partial('researcher/elements/stydy_active_scr/index');
    //  exit();
}
?>

<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Studies</div>


            <div class="pgh_mT clearfix">
                <h3><a href="researcher-studies">Studies List</a> &nbsp;&gt;&nbsp; <span><?= substr($Study['study_title'], 0, 20); ?></span></h3>

            </div>
        </div>
        <script>
            $(function() {
                $('.dial').each(function() {
                    var elm = $(this);
                    var color = elm.attr("data-fgColor");
                    var perc = elm.attr("value");
                    elm.knob({
                        'value': 0,
                        'min': 0,
                        'max': 100,
                        "skin": "tron",
                        "readOnly": true,
                        "thickness": .2,
                        'dynamicDraw': true,
                        "displayInput": false
                    });
                    $({value: 0}).animate({value: perc}, {
                        duration: 1000,
                        easing: 'swing',
                        progress: function() {
                            elm.val(Math.ceil(this.value)).trigger('change')
                        }
                    });
                    //circular progress bar color
                    $(this).append(function() {
                        elm.parent().parent().find('.circular-bar-content').css('color', color);
                        //elm.parent().parent().find('.circular-bar-content label').text(perc+'%');
                    });
                });

                $('#PagingUL').jscroll({
                    loadingHtml: '<div  align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
                    nextSelector: 'a.jscroll-next:last',
                    contentSelector: '#PagingUL'
                });
            });
        </script>
        <div class="mdServey">
            <div class="sl_row clearfix">
                <h4><?= $Study['study_title']; ?>.</h4>
                <h5 class="sl_date"><span class="icon"></span><?= date('j F Y', strtotime($Study['start_date'])); ?> to <?= date('j F Y', strtotime($Study['end_date'])); ?></h5>
                <!--                <div class="mds-vs clearfix">
                                    <a href="#" class="btn">View Statistics</a>
                                </div>-->
                <div style="clear: both; float: left; width: 100%; height: 32px;"></div>
                <div class="boxBtn bb_btn_list clearfix" style="float:right;margin-top: -57px;">
                    <ul>
                    <?php
                    if ($Study['activexls_status'] == 1) {
                        $dir = $_SERVER['REQUEST_SCHEME'] . "://" . $_SERVER['HTTP_HOST'] . "/StudyDump/Active/" . $Study['study_id'] . '/';
                        ?>
                        <li><a class="bb_btn" target="_blank" href="<?= $dir . $Study['study_title'] . '.zip'; ?>" onclick="gppOpen('exportMethod');">Export Active</a></li>
                    <?php } ?>  
                    <?php
                    if ($Study['passive_status'] == 1) {
                        $dir = $_SERVER['REQUEST_SCHEME'] . "://" . $_SERVER['HTTP_HOST'] . "/StudyDump/Passive/" . $Study['study_id'] . '/';
                        ?>
                        <li><a class="bb_btn" target="_blank" href="<?= $dir . $Study['study_title'] . '.zip'; ?>" onclick="gppOpen('exportMethod');">Export Passive</a></li>
                    <?php } ?> 
                        </ul>
                </div>
                <div class="msTxt">
                    <p>
                        <?= $Study['study_description']; ?>
                    </p>
                </div>
                <div class="circle_box clearfix">
                    <?php
                    @$SentInvite = ($graphData['SentInvite'] / $graphData['TotalInvite'] ) * 100;
                    @$AcceptInvite = ($graphData['AcceptInvite'] / $graphData['SentInvite'] ) * 100;
                    @$RejectInvite = ($graphData['RejectInvite'] / $graphData['SentInvite']) * 100;
                    @$Participated = ($graphData['Participated'] / $graphData['SentInvite'] ) * 100;
                    @$Completed = ($graphData['Completed'] / $graphData['SentInvite'] ) * 100;
                    ?>
                    <div class="circular-bar">
                        <input type="text" class="dial" data-fgColor="#03c0e2" data-width="80" data-height="80" value="<?= $SentInvite; ?>" />
                        <div class="circular-bar-content">
                            <label><?= $graphData['SentInvite']; ?></label>
                            <div class="cb-t">Invitation Sent</div>
                        </div>
                    </div>
                    <div class="circular-bar">
                        <input type="text" class="dial" data-fgColor="#2566de" data-width="80" data-height="80" value="<?= $AcceptInvite; ?>" />
                        <div class="circular-bar-content">
                            <label><?= $graphData['AcceptInvite']; ?></label>
                            <div class="cb-t">User Accpeted</div>
                        </div>
                    </div>
                    <div class="circular-bar">
                        <input type="text" class="dial" data-fgColor="#e34e74" data-width="80" data-height="80" value="<?= $RejectInvite; ?>" />
                        <div class="circular-bar-content">
                            <label><?= $graphData['RejectInvite']; ?></label>
                            <div class="cb-t">User Rejected</div>
                        </div>
                    </div>
                    <div class="circular-bar">
                        <input type="text" class="dial" data-fgColor="#79b926" data-width="80" data-height="80" value="<?= $Participated; ?>" />
                        <div class="circular-bar-content">
                            <label><?= $graphData['Participated']; ?></label>
                            <div class="cb-t">Participated</div>
                        </div>
                    </div>
                    <div class="circular-bar">
                        <input type="text" class="dial" data-fgColor="#ff8517" data-width="80" data-height="80" value="<?= $Completed; ?>" />
                        <div class="circular-bar-content">
                            <label><?= $graphData['Completed']; ?></label>
                            <div class="cb-t">User Completed</div>
                        </div>
                    </div>
                </div>
                <div class="mdsTabs">
                    <ul class="clearfix">
                        <li class="active">
                            <a href="#" class="ml">Active Study</a>
                            <ul>
                                <li><a href="#">Screening Questions</a></li>
                                <li><a href="#">Main Questions</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Passive Study</a></li>
                    </ul>
                    <!--                <div class="boxBtn bb_btn_list clearfix" style="padding-top:30px;">
                                        <ul>
                                            <li><a class="bb_btn" href="javascript:void(0);" onclick="gppOpen('exportMethod');">Export</a></li>
                                        </ul>
                                    </div>-->
                </div>
                <script>
                    $(document).ready(function() {
                        $('#BucketSet').change(function() {
                            var set = $(this).val();
                            window.location.href = "<?= $_SERVER['REQUEST_URI'] ?>&bucket_id=" + set;
                        })
                    })
                </script>

                <div class="mdSQ clearfix">
                    <h4>Main Questions:</h4>
                    <div class="formWrapperContainer clearfix">
                        <div class="row">

                            <div class="select">
                                <?php if (!empty($bucket)) { ?>
                                    <select class="select" title="All" id="BucketSet">
                                        <option value="">All</option>
                                        <?php foreach ($bucket as $Bucket) { ?>
                                            <option value="<?= $Bucket['bucket']; ?>">Bucket Set <?= $Bucket['bucket'] + 1; ?></option>
                                        <?php } ?>
                                    </select>
                                <?php } ?>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="sadetailLisr analize">
                    <ul class="clearfix" id="PagingUL">

                        <?= $this->partial('researcher/elements/stydy_active_scr/index'); ?>
                    </ul>
                </div>
            </div>

        </div>
    </div>