<?php
/* * ***********************
 * PHTML: DISPLAY LIST OF STUDIES.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 3/3/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php $this->flashMessenger()->clearMessages(); ?>
<?= $this->headScript()->prependFile($this->basePath() . '/js/jquery.knob.js'); ?>
<style>
    .setQuestion .formWrapperContainer .row .input input[type="text"], .setQuestion .formWrapperContainer .row .input textarea {
        width:auto;
    }
</style>
<script>
    $(document).ready(function () {
        $('#AddStudyForm').validate({
            rules: {
                researcher_name: {
                    required: true,
                    minlength: 1,
                    maxlength: 100
                },
                study_title: {
                    required: true,
                    minlength: 1,
                    maxlength: 100,
                    remote: {
                        url: "<?= $this->basePath(); ?>/researcher/studies/checkStudyTitle",
                        type: "post",
                        data: {
                            StudyId: function () {
                                return $("#StudyId").val();
                            }
                        }
                    }
                },
                study_description: {
                    required: true,
                    minlength: 1,
                    maxlength: 500
                },
                start_date: {
                    required: true,
                },
                end_date: {
                    required: true,
                },
                panel_members: {
                    required: true,
                    digits: true
                },
                points: {
                    required: true,
                    digits: true
                },
                irb_form: {
                    required: true,
                    accept: 'doc|docx'
                },
                dbriefing_form: {
                    required: true,
                    accept: 'doc|docx'
                },
                consent_form: {
                    required: true,
                    accept: 'doc|docx'
                }
            },
            messages: {
                irb_form: {
                    required: 'Please select a file',
                    accept: 'Please select file with ext(doc|docx)'
                },
                dbriefing_form: {
                    required: 'Please select a file',
                    accept: 'Please select file with ext(doc|docx)'
                },
                consent_form: {
                    required: 'Please select a file',
                    accept: 'Please select file with ext(doc|docx)'
                },
                study_title: {
                    remote: 'Study name already exists.'
                }
            },
            errorPlacement: function (error, element) {
                $(element).parent().parent().append(error);
            }
        })
        $('#EditStudyForm').validate({
            rules: {
                researcher_name: {
                    required: true,
                    minlength: 1,
                    maxlength: 100
                },
                study_title: {
                    required: true,
                    minlength: 1,
                    maxlength: 100,
                    remote: {
                        url: "<?= $this->basePath(); ?>/researcher/studies/checkStudyTitle",
                        type: "post",
                        data: {
                            StudyId: function () {
                                return $("#StudyId").val();
                            }
                        }
                    }
                },
                study_description: {
                    required: true,
                    minlength: 1,
                    maxlength: 500
                },
                start_date: {
                    required: true,
                },
                end_date: {
                    required: true,
                },
                panel_members: {
                    required: true,
                    digits: true
                },
                points: {
                    required: true,
                    digits: true
                },
                irb_form: {
                    accept: 'doc|docx'
                },
                dbriefing_form: {
                    accept: 'doc|docx'
                },
                consent_form: {
                    accept: 'doc|docx'
                }
            },
            messages: {
                irb_form: {
                    accept: 'Please select file with ext(doc|docx)'
                },
                dbriefing_form: {
                    accept: 'Please select file with ext(doc|docx)'
                },
                consent_form: {
                    accept: 'Please select file with ext(doc|docx)'
                },
                study_title: {
                    remote: 'Study name already exists.'
                }
            },
            errorPlacement: function (error, element) {
                $(element).parent().parent().append(error);
            }
        })
<?php if (!empty($study)) { ?>
            $('#EditStudyForm').valid();
<?php } ?>
        $("#StartDate").datepicker({
            dateFormat: 'dd M yy',
            //changeMonth: true,
            numberOfMonths: 2,
            onClose: function (selectedDate) {
                $("#EndDate").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#EndDate").datepicker({
            dateFormat: 'dd M yy',
           // changeMonth: true,
            numberOfMonths: 2,
            onClose: function (selectedDate) {
                $("#StartDate").datepicker("option", "maxDate", selectedDate);
                
            }
        });
       
    })
</script>
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Studies</div>
            <div class="pgh_mT clearfix">
                <h3><a href="<?= $this->url('researcher_studies_list'); ?>">Studies List</a> &nbsp;>&nbsp; <span>
                        <?php if (!empty($study[0]['study_id'])) { ?>Edit<?php } else { ?>New<?php } ?>
                        Study</span></h3>
                <a href="<?= $this->url('researcher_studies_create'); ?>" class="create-new">Create New</a>
            </div>
        </div>
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?= $msg["error"]; ?>
                </div>
            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?= $msg["success"]; ?>
                </div>
            <?php endif; ?>
        <?php } ?>
        <style>
            div.row:nth-child(even) .error{
                margin-left: 15px;
            }
        </style>
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="createStudy">
            <div class="formWrapperContainer csFrm">
                <div class="csf-double clearfix">
                    <div class="row">
                        <div class="input first">
                            <?= $this->formElement($form->get('researcher_name')); ?>
                            <?= $this->formElement($form->get('study_id')); ?>
                        </div>
                        <?= $this->formElementErrors($form->get('researcher_name'), array('class' => "error")); ?>
                    </div>
                    <div class="row">
                        <div class="input">
                            <?= $this->formElement($form->get('start_date')); ?>
                        </div>
                        <?= $this->formElementErrors($form->get('start_date'), array('class' => "error", 'style' => 'margin-left: 15px;')); ?>
                    </div>
                </div>
                <div class="csf-double clearfix">
                    <div class="row">
                        <div class="input first">
                            <?= $this->formElement($form->get('study_title')); ?>
                        </div>
                        <?= $this->formElementErrors($form->get('study_title'), array('class' => "error")); ?>
                    </div>
                    <div class="row">
                        <div class="input">
                            <?= $this->formElement($form->get('end_date')); ?>
                        </div>
                        <?= $this->formElementErrors($form->get('end_date'), array('class' => "error", 'style' => 'margin-left: 15px;')); ?>
                    </div>
                </div>
                <div class="csf-double clearfix">
                    <div class="row">
                        <div class="input first">
                            <?= $this->formElement($form->get('points')); ?>
                        </div>
                        <?= $this->formElementErrors($form->get('points'), array('class' => "error")); ?>
                    </div>
                    <div class="row">
                        <div class="input">
                            <?= $this->formElement($form->get('panel_members')); ?>
                        </div>
                        <?= $this->formElementErrors($form->get('panel_members'), array('class' => "error", 'style' => 'margin-left: 15px;')); ?>
                    </div>
                </div>
                <div class="csf-double clearfix">
                    <div class="row">
                        <div class="input first">
                            <?= $this->formElement($form->get('study_description')); ?>
                        </div>
                        <?= $this->formElementErrors($form->get('study_description'), array('class' => "error")); ?>
                    </div>
                    <div class="row clearfix">
                        <h4>Study Type:</h4>
                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap ">
                                <span class="radio bdr_rds_circle  <?php
                                if (!empty($study)) {
                                    if ($study[0]['study_type'] == 1) {
                                        ?>selected<?php
                                          }
                                      } else {
                                          ?>selected<?php } ?>">
                                    <input <?php
                                    if (!empty($study)) {
                                        if ($study[0]['study_type'] == 1) {
                                            ?>checked="checked"<?php
                                            }
                                        } else {
                                            ?>checked="checked"<?php } ?>  class="StudyType" type="radio" value="1" id="active" name="study_type"></span>
                                <label for="active">Active</label>
                            </div>
                        </div>
                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap ">
                                <span class="radio bdr_rds_circle <?php
                                if (!empty($study)) {
                                    if ($study[0]['study_type'] == 2) {
                                        ?>selected<?php
                                          }
                                      }
                                      ?>"><input class="StudyType" type="radio" <?php
                                      if (!empty($study)) {
                                          if ($study[0]['study_type'] == 2) {
                                              ?>checked="checked"<?php
                                            }
                                        }
                                        ?> value="2" id="actpass" name="study_type"></span>
                                <label for="actpass">Active & Passive</label>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="formulaSetup">
                <div class="fsCondition formWrapperContainer">
                    <div class="fscTitle">Upload Documents</div>
                    <div class="browsDocList clearfix">
                        <div class="bdl_row clearfix" style="width: 30%;">
                            <div class="browsDoc">
                                <div style="width: auto;" onclick="javascript:document.getElementById('IRB').click();" class="bd_btn">IRB Form
                                    <?= $this->formElement($form->get('irb_form')); ?>
                                </div> 
                            </div>
                            <p class="help-block">Allowed files are doc, docx.</p>
                        </div>
                        <div class="bdl_row clearfix" style="width: 30%;">
                            <div class="browsDoc">
                                <div style="width: auto;" onclick="javascript:document.getElementById('Dbriefing').click();" class="bd_btn">	Dbriefing Form
                                    <?= $this->formElement($form->get('dbriefing_form')); ?>
                                </div>
                            </div>
                            <p class="help-block">Allowed files are doc, docx.</p>
                        </div>
                        <div class="bdl_row clearfix" style="width: 30%;">
                            <div class="browsDoc">
                                <div style="width: auto;" onclick="javascript:document.getElementById('Consent').click();" class="bd_btn">Consent Form
                                    <?= $this->formElement($form->get('consent_form')); ?>
                                </div>
                            </div>
                            <p class="help-block">Allowed files are doc, docx.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
        $(document).ready(function(){
            $('.StuForm').change(function(){
                $(this).parent().parent().parent().find('p').html($(this).val());
                $(this).parent().parent().parent().find('p').css('color','#008000');
            })
        })
        </script>
        <div class="boxBtn bb_btn_list clearfix">
            <ul style="float:right;">
                <li>
                    <?= $this->formSubmit($form->get("submit")); ?>
                </li>
            </ul>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>