<?php
/* * ***********************
 * PHTML: DISPLAY LIST OF STUDIES.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 23/3/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php
if (isset($_SERVER['HTTP_X_REQUESTED_WITH']) && $_SERVER['HTTP_X_REQUESTED_WITH'] === 'XMLHttpRequest') {
    echo $this->partial('researcher/elements/stydy_invitation_set/invitation_list');
    exit();
}
?>
<?php $this->flashMessenger()->clearMessages(); ?>
<style>
    label.error {
        color: #CD0A0A !important;
        padding-left: 70px !important;
        font-size: 12px !important;
        width: auto !important;
        clear: both !important;
    }
    #submit{
        background-image: url("../../img/add_icon_normal.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
        height: 26px;
        left: 0;
        margin-top: -13px;
        position: absolute;
        top: 50%;
        width: 26px;
        font-size: 0px;
        border: none;
    }
    .progressbar {
        background-color: #F5F5F5;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
        height: 10px;
        overflow: hidden;
        width: 261px;
    }
    .bar {
        background-color: #B4F5B4;
        border-radius: 3px;
        height: 20px;
        width: 0;
    }
</style>
<script>
    $(document).ready(function () {
        $('#VarrableSetTypeForm').submit(function () {
            var type = $('input[name=expType]:checked', '#VarrableSetTypeForm').val();
            window.location.href = type;
            return false;
        })
        $(document).on('click', '.DeleteInvitation', function () {
            var id = $(this).attr('custom');
            var actUrl = $(this).attr('href');
            var Data = {'id': id};
            showLoder('#Processing');
            $.ajax({
                type: 'post',
                data: Data,
                url: actUrl,
                success: function (msg) {
                    if (msg != 'false') {
                        $('#' + msg).remove();
                        if ($('#MainUl li').length <= 2) {
                            window.location.reload();
                        } else {
                            hideLoder('#Processing');
                        }
                    } else {
                        hideLoder('#Processing');
                    }
                }
            })
            return false;
        });
        $("#AddInvitationSetForm").validate({
            rules: {
                invitation_email: {
                    required: true,
                    email: true,
                    remote: {
                        url: "<?= $this->basePath(); ?>/researcher/studies/checkUniqueEmail",
                        type: "post",
                        data: {
                            StudyId: function () {
                                return $("#StudyId").val();
                            }
                        }
                    }
                }
            },
            messages: {
                invitation_email: {
                    remote: 'Email id already exists'
                }
            }, errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
                //error.appendTo('div.errorinvitation');
            }
        });
        $('#AddInvitationSetForm').submit(function () {
            var Data = $('#AddInvitationSetForm').serialize();
            var actUrl = '<?= $this->basePath(); ?>/researcher/studies/saveInvitationData';
            if ($(this).validate().form()) {
                showLoder('#Processing');
                $.ajax({
                    type: 'post',
                    data: Data,
                    url: actUrl,
                    success: function (data) {
                        if (data == 'true') {
                            window.location.reload();
                        } else if ($.trim(data) == 'false') {
                            document.getElementById("AddInvitationSetForm").reset();
                            hideLoder('#Processing');
                        } else if ($.trim(data) == 'exists') {
                            $("#AddInvitationSetForm div.row").find('.error').remove();
                            $("#AddInvitationSetForm div.row").append('<label for="invitation_email" class="error">Email id already exists</label>');
                            document.getElementById("AddInvitationSetForm").reset();
                            hideLoder('#Processing');
                        }

                    }
                })
            }
            return false;
        })
        $('#MainUl').jscroll({
            loadingHtml: '<div  align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
            nextSelector: 'a.jscroll-next:last',
            contentSelector: '#MainUl'
        });
    })
//    function getData() {
//        $.ajax({
//            type: 'POST',
//            dataType: 'html',
//            url: window.location.href,
//            success: function (msg) {
//                $('#MainUl').html(msg);
//            }
//        })
//    }
</script>
<div class="grobalPopup popuBxWrap expMp" id="createNewSet">
    <div class="gppBox">
        <form action="#" id="VarrableSetTypeForm" method="post">
            <div class="gppbxContainer">
                <div class="gppTitle">
                    Create New Set<div class="gppClose" onclick="gppClose('createNewSet');">X</div>
                </div>
                <div class="formWrapperContainer">
                    <div class="row clearfix">
                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap">
                                <span class="radio bdr_rds_circle ">
                                    <input value="researcher-studies-varrable-set?sid=<?= base64_encode($sid); ?>" type="radio" name="expType" id="cnsl">
                                </span>
                                <label for="cnsl">Based on Variables</label>
                            </div>
                        </div>
                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap">
                                <span class="radio bdr_rds_circle selected">
                                    <input checked="checked"  type="radio" value="researcher-studies-invitation-set?sid=<?= base64_encode($sid); ?>" name="expType" id="cns2">
                                </span>
                                <label for="cns2">Based on invitations</label>
                            </div>
                        </div>
                        <div class="checkbox_col radioLable">
                            <div class="checkbox_col radioButtonWrap">
                                <span class="radio bdr_rds_circle">
                                    <input type="radio" value="researcher-studies-varrable-set?sid=<?= base64_encode($sid); ?>&type=studytrials" name="expType" id="cns3">
                                </span>
                                <label for="cns3">
                                    <?php if ($Study[0]['study_trials'] == 1) { ?>
                                        Disabled Based on study & trials
                                    <?php } else { ?>
                                        Enabled Based on study & trials
                                    <?php } ?>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row last">
                        <div class="input_button">
                            <input type="submit" value="OK" id="c_submit" class="submit_button" name="c_submit">
                            <!-- <input type="submit" value="Send" class="submit_button" /> --> 
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="gppOverlay"></div>
</div>
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed">
            <div class="pgh_title">| Studies 
                <!--<a href="javascript:void(0);" class="btn_bxAb">+ Create New</a>-->
            </div>
        </div>
        <div class="sc_leftpanel">
            <div class="scl_menu sclmStd">
                <ul class="clearfix">
                    <li class="active"><a href="#">Based on invitations</a></li>
                </ul>
                <!--<div class="clearfix">
                  <div class="addMoreQOption" onclick="gppOpen('createNewVar');"><span class="icon"></span>Add Another</div>
                </div>-->
            </div>
<!--            <div class="addSymptoms">
                <ul>
                    <li><a href="javascript:void(0);" onclick="gppOpen('createNewSet');">Create New Set</a></li>
                </ul>
            </div>-->
            <div style="padding-top:30px;" class="boxBtn bb_btn_list clearfix">
                <ul style="float:left;">
                    <li><a href = "/researcher-studies-ques?sid=<?= base64_encode($sid); ?>" class = "bb_btn">Back</a></li>
                </ul>
            </div>
        </div>
        <div class="sc_rightpanel">
            <div class="formWrapperContainer fwcVarEdit clearfix aeId">
                <?php
                $form->prepare();
                echo $this->form()->openTag($form);
                ?>
                <div class="row clearfix">
                    <label>Email :</label>
                    <div class="input fld">
                        <?= $this->formElement($form->get('invitation_email')); ?>
                        <?= $this->formElement($form->get('invitation_set_study')->setValue($sid)); ?>
                    </div>
                    <div class="addMoreQOption">
                        <?= $this->formSubmit($form->get("submit")); ?>
                    </div>
                </div>
                </form>
                <script>
                    $(document).ready(function () {
                        $('#xlsUploadForm').validate({
                            rules: {
                                excel_file: {
                                    required: true,
                                    accept: 'xls'
                                }
                            },
                            messages: {
                                excel_file: {
                                    required: 'Please select a file',
                                    accept: 'Select file extnsion with(xls)'
                                }
                            }, errorPlacement: function (error, element) {
                                error.appendTo(element.parents("div.addSymptoms"));
                            }
                        })
                        var bar = $('.bar');
                        $('#xlsUploadForm').ajaxForm({
                            beforeSend: function () {
                                var percentVal = '0%';
                                bar.show();
                                $('.progressbar').show();
                                bar.width(percentVal)
                                var file_data = $('#ExcelUpload').prop('files')[0];
                                showLoder('#Processing');
                            },
                            uploadProgress: function (event, position, total, percentComplete) {
                                var percentVal = percentComplete - 25 + '%';
                                bar.width(percentVal)
                            },
                            success: function (data) {
                                var percentVal = '100%';
                                bar.width(percentVal);
                                var totalUploaded = (data.uploadedSize * 100) / data.uploadLimit;
                                var simplBar = (totalUploaded < 70) ? totalUploaded : 70;
                                var dangerBar = (simplBar >= 70) ? parseFloat(totalUploaded - simplBar) : 0;
                                $("#progress-info").css("width", simplBar + "%");
                                $("#progress-danger").css("width", dangerBar + "%");
                            },
                            complete: function (xhr) {
                                bar.width('0%');
                                bar.hide();
                                $('.progressbar').hide();
                                hideLoder('#Processing');
                                window.location.reload();
                            }
                        });
                        $('#ExcelUpload').change(function () {
                            if ($('#xlsUploadForm').validate().form()) {
                                $('#xlsUploadForm').submit();
                            }
                        });
                    });
                </script>
                <form method="post" action="<?= $this->basePath(); ?>/researcher/studies/uploadXls" id="xlsUploadForm">
                    <div class="addSymptoms clearfix" onclick="javascript:document.getElementById('ExcelUpload').click();">
                        <a href="javascript:void(0);" style="width: 157px;">
                            Upload XLS
                            <input type="file" style="left: -9999px;opacity: 0;position: absolute;" name="excel_file" id="ExcelUpload"/>
                        </a>
                    </div>
                    <input type="hidden" name="sid" value="<?= $sid; ?>"/>
                </form>
                <div style="height: 20px; margin-left: 72px; margin-top: -10px; width: 198px; display: none;" class="progressbar">
                    <div class="bar">
                    </div>
                </div>
            </div>
            <div class="scr_symptomslisting" style="overflow: unset;max-height:unset; ">
                <ul class="clearfix" id="MainUl">
                    <?= $this->partial('researcher/elements/stydy_invitation_set/invitation_list'); ?>
                </ul>
            </div>
        </div>
    </div>
</div>
