/* * ***********************
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Atul.
*/
body{
	background:#efefef;
	}
	
div,li,span{word-wrap:break-word;}
	
.main_header .header{ min-width:996px;}
#content-wrapper,.innerFooter{
	min-width:750px;
}
.pghFixed{
	min-width:750px!important;
	}
	
#ui-content-wrapper.login{
	background-image:url(../../img/login_bg.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	}
.loginLogo{
	position:relative;
	padding:80px 0 30px 0;
	width:280px;
	margin:0 auto;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
	}
@media screen and (max-height:580px){
	.loginLogo{
	padding:40px 0 30px 0;
	}
	}

.loginLogo a{
	display:block;
	width:326px;
	height:80px;
	margin:0 auto;
	background-image:url(../../img/health_matrix_logo_prelogin.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	}

.adminLogin{
	position:relative;
	width:400px;
	padding:30px;
	margin:0 auto;
	box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
	background:#fff;
	margin-bottom:20px;
	}
.formWrapperContainer .row.last{
	margin-bottom:0px;
	}
.adminLogin .formWrapperContainer .checkbox_col{
	width:auto;
	}
.adminLogin .forgetPass{
	float:right;
	color:#ff8400;
	font-size:15px;
	}
.adminLogin .forgetPass:hover{
	text-decoration:underline;
	}
	
	
	
	
#footer{
	background:none!important;
	}	
#footer .copyrights{
	color:#767676;
	float:none!important;
	text-align:center;
	}
	
	
	
.admDashbrd{
	position:relative;
	}
.admDashbrd ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.admDashbrd ul li{
	margin-top:20px;
	}
.admDashbrd ul li:first-child{
	margin-top:0px;
	}
.admDashbrd ul li{
	display:block;
	background:#fff;
	padding:20px 100px 20px 20px;
	font-size:16px;
	color:#878787;
	position:relative;
	box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.1);
	border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #fff;
	}
.admDashbrd ul li:hover{
	border:1px solid #D8D8D8;
	}
.admDashbrd ul li span.digit{
	position:absolute;
	right:20px;
	top:50%;
	height:22px;
	line-height:22px;
	margin-top:-11px;
	display:block;
	font-size:20px;
	}

	
.userList{
	position:relative;
	border-top:1px solid #c0c0c0;
	padding:20px 0;
	}
.userList .ul_row{
	position:relative;
	background-color:#fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
	padding-left:80px;
	border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	-webkit-border-radius:6px;
	margin-top:20px;
	min-height:50px;
	cursor:pointer;
	border:1px solid #fff;
	}
.userList .ul_row:hover{
	border:1px solid #D8D8D8;
	}
	
.userList .ul_row .ul_photo{
	position:absolute;
	left:10px;
	top:10px;
	width:56px;
	height:56px;
	border:2px solid #e2dfdf;
	border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	-webkit-border-radius:100%;
	background-image:url(../../img/photo.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	overflow:hidden;
	}
.userList .ul_row .ul_photo img{
	vertical-align:top;
	width:100%;
	height:100%;
	}
.userList .ul_row h4{
	font-weight:normal;
	font-size:18px;
	color:#878787;
	}
.userList .ul_row h5{
	font-weight:normal;
	font-size:16px;
	color:#bbbbbb;
	padding-top:4px;
	}
.userList .ul_row h6{
	font-weight:normal;
	font-size:13px;
	color:#bbbbbb;
	font-style:italic;
	padding-bottom:4px;
	}
.userList .ul_row p{
	font-size:14px;
	color:#666;
	}
	
.srchUser{
	position:relative;
	}
.srchUser .su_title{
	position:relative;
	padding:10px 10px 10px 35px;
	font-size:20px;
	color:#356592;
	}
.srchUser .su_title span.icon{
	position:absolute;
	left:5px;
	top:10px;
	width:24px;
	height:24px;
	background-image:url(../../img/search_icon.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	display:block;
	text-indent:-9999px;
	}

.srchUser .su_wrap{
	position:relative;
	padding:10px 0 30px 0;
	}
.srchUser .su_wrap .su_input .su_col{
	float:left;
	width:25%;
	margin-bottom:10px;
}
.srchUser .su_wrap .su_input .su_col div.input{
	background:#fff;
	margin:0 5px;
	padding:0 10px;
	border:#c6c6c6 1px solid;
	position:relative;
	}
.srchUser .su_wrap .su_input .su_col div.input.focus{
	border:#356592 1px solid
}
.srchUser .su_wrap .su_input .su_col div.input input{
	border: 0;
    color:#000;
    font-family: "RobotoLight";
    font-size: 15px;
    padding:8px 0;
    width: 100%;
	}
.srchUser .su_wrap .su_input .su_col div.select{ padding:0px;}
.srchUser .su_wrap .su_input .su_col div.select span.select{
	display:block;
	color:#000;
    font-family: "RobotoLight";
    font-size: 15px;
	padding:10px;
	background: url(../../img/select_arrow.png) no-repeat right center;
	}
.srchUser .su_wrap .su_input .su_col div.select select.select{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	cursor:pointer;
	}
.srchUser .su_wrap .su_input .su_col div.select .arrow{
	position:absolute;
	right:0px;
	top:0px;
	width:30px;
	height:100%;
	background:#bababa;
	border-left:1px solid #a4a4a4;
	}
.srchUser .su_wrap .su_input .su_col div.select .arrow span.icon{
	position:absolute;
	left:50%;
	top:50%;
	width:10px;
	height:10px;
	margin:-5px 0 0 -5px;
	background-image:url(../../img/arrow_down.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	z-index:9;
	}
.srchUser .su_wrap .su_btn{
	position:relative;
	margin:0 5px;
	}
.srchUser .su_wrap .su_btn .su_srch,.srchUser .su_wrap .su_btn .su_reset{
	float:left;
	margin-right:10px;
	color:#fff;
	font-size:18px;
	text-transform:uppercase;
	min-width:180px;
	padding:10px;
	border:0px;
	text-align:center;
	cursor:pointer;
	font-family: "RobotoLight";
	}
.srchUser .su_wrap .su_btn .su_srch{
	background:#356592;
	}
.srchUser .su_wrap .su_btn .su_reset{
	background:#ff9a2d;
	}
	
#userSrchData .formWrapperContainer{
	padding:20px;
	}
#userSrchData .gppbxContainer{ min-height:200px;}

#userSrchData .formWrapperContainer .checkbox_col{
	width:auto;
	margin-left:40px;
	}
#userSrchData .formWrapperContainer .checkbox_col:first-child{
	margin-left:0px;
	}
	
#userSrchData .formWrapperContainer .input_button{
	width:200px;
	margin:0 auto;
	padding:0px;
	}
	
	
/**15-12-14**/
.sc_leftpanel{
	position:absolute;
	left:20px;
	top:20px;
	width:220px;
	}
.scl_menu{
	position:relative;
	overflow:hidden;
	overflow-y:auto;
	min-height:200px;
	}
.scl_menu ul{
	margin:0px;
	padding:0px;
	list-style:none;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	}
.scl_menu ul li a{
	display:block;
	border-top:1px solid #d9d9d9;
	color:#777777;
	font-size:14px;
	padding:10px 30px 10px 10px;
	word-wrap:break-word;
	}
.scl_menu ul li:first-child a{ border-top:0px;}
	
.scl_menu ul li a:hover,.scl_menu ul li.active a{
	background-color:#fff;
	background-image:url(../../img/arrow1.png);
	background-repeat:no-repeat;
	background-position:right center;
	color:#356592;
	}
.scl_srch{
	position:relative;
	padding-bottom:30px;
	}
.scl_srch label{
	position:absolute;
	left:10px;
	top:10px;
	width:20px;
	height:20px;
	background-image:url(../../img/search_icon1.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	display:block;
	text-indent:-9999px;
	}
.scl_srch input{
	background:#fff;
	padding:8px 8px 8px 35px;
	border:1px solid #c6c6c6;
	border-radius:40px;
	font-size:15px;
	width:175px;
	}
	
.sc_rightpanel{
	position:relative;
	margin-left:240px;
	background:#fff;
	padding:15px;
	border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	-webkit-border-radius:6px;
	box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
	-o-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
	min-height:350px;
	}
.sc_rightpanel h2{
	font-size:20px;
	color:#356592;
	font-weight:normal;
	padding:10px 0;
	word-wrap:break-word;
	}

#conditionDetail .gppbxContainer{ min-height:300px;}
.grobalPopup .textCondition{ padding:20px;}
.textCondition{
	position:relative;
	font-size:14px;
	color:#595959;
	word-wrap:break-word;
	}
.textCondition div{
	padding-top:10px;
	}
.textCondition .btn_ok{
	position:relative;
	padding-top:30px;
	}
.textCondition .btn_ok a{
	display:block;
	background-color: rgb(89, 125, 219);
    color: #fff;
    font-family: "RobotoCondensedRegular";
    font-size: 22px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    width:150px;
	margin:0 auto;
	}
.textCondition .btn_ok a:active {
    background-color: rgb(74, 112, 212);
    color: rgb(255, 255, 255);
}
	
	
.scr_subCondition{
	position:relative;
	padding-top:20px;
	}
.scr_subCondition ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.scr_subCondition ul li{
	float:left;
	width:50%;
	font-size:14px;
	color:#595959;
	}
.scr_subCondition ul li a{
	/*display:block;*/
	padding:8px 8px 8px 16px;
	margin-right:10px;
	color:#595959;
	background-image:url(../../img/arrow2.png);
	background-repeat:no-repeat;
	background-position:0px 14px;
	}
.scr_subCondition ul li a:hover{
	color:#356592;
	}
	
.scr_symptomslisting{
	position:relative;
	margin-top:30px;
	max-height:300px;
	overflow:hidden;
	overflow-y:auto;
	
	}
.scr_symptomslisting ul{
	margin:0px;
	padding:0px;
	list-style:none;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	}
.scr_symptomslisting ul li{
	position:relative;
	padding:15px 30px 15px 15px;
	font-size:15px;
	border-top:1px solid #d9d9d9;
	word-wrap:break-word;
	}
.scr_symptomslisting ul li span{ cursor:pointer;}
.scr_symptomslisting ul li span:hover{ text-decoration:underline;}
.scr_symptomslisting ul li:first-child{
	border-top:0px;
	}
.scr_symptomslisting ul li:hover{
	background:#efefef;
	}
.scr_symptomslisting ul li .scrs_dlt{
	position:absolute;
	right:10px;
	top:50%;
	background-image: url(../../img/close_gpp.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	width:14px;
	height:14px;
	margin-top:-8px;
	display:block;
	text-indent:-9999px;
	display:none;
	}
.scr_symptomslisting ul li:hover .scrs_dlt{ display:block;}

.addSymptoms{
	position:relative;
	padding:30px 0 10px 0;
	}
.addSymptoms a{
	background:#ff8400;
	padding:10px 20px;
	display:table;
	margin:0 auto;
	cursor:pointer;
	color:#fff;
	font-family: 'RobotoLight';
    font-size: 18px;
	text-transform:uppercase;
	text-align:center;
	}
	
.sc_leftpanel .addSymptoms{
	padding:10px 0 0 0;
	}
.sc_leftpanel .addSymptoms ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.sc_leftpanel .addSymptoms li{
	padding-top:10px;
	}
.sc_leftpanel .addSymptoms a{
	display:block;
	}
.sc_leftpanel .addSymptoms a.others{
	background:#b6b6b6;
	}
	
	
.othSymptomsList{
	position:relative;
	max-height:400px;
	overflow:hidden;
	overflow-y:auto;
	}
.othSymptomsList ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.othSymptomsList ul li{
	border-top:1px solid #d9d9d9;
	}
.othSymptomsList ul li:first-child{
	border-top:0px;
	}
.othSymptomsList ul li a{
	display:block;
	padding:15px 20px;
	color:#777777;
	font-size:15px;
	}
#otherSymptoms .gppbxContainer{
	width:400px;
	margin-left:-200px;
	min-height:200px;
	}
#addSymptoms .formWrapperContainer{
	padding:20px;
	}
#addSymptoms .formWrapperContainer .input_button{
	margin: 0 auto;
    padding: 0;
    width: 200px;
	}
#addSymptoms .gppbxContainer {
    min-height: 200px;
	width:500px;
	margin-left:-250px;
}
#userSrchData .formWrapperContainer .radio{
	margin-top:-15px;
	}
.SymptomsDlt{
	position:absolute;
	right:10px;
	top:0px;
	z-index:99;
	width:32px;
	height:40px;
	background-image:url(../../img/delete_icon.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	text-indent:-9999px;
	cursor:pointer;
	}
	
	
/*22-12-14*/
.btn_box{
	position:relative;
	padding-bottom:15px;
	}
.btn_box ul{
	margin:0px;
	padding:0px;
	list-style:none;
	float:right;
	}
.btn_box ul li{
	float:left;
	margin-left:10px;
	}
.btn_box ul li:first-child{
	margin-left:0px;
	}
.btn_box ul li a{
	position:relative;
    color:#fff;
    font-family: "RobotoLight";
    font-size: 18px;
    padding: 10px 20px;
	display:block;
	background:#ff8400;
	text-transform:uppercase;
	}
.assesmentList{
	position:relative;
	}
.assesmentList ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.assesmentList ul li{
	float:left;
	width:33.333%;
	}
.assesmentList ul li:nth-child(3n+1){
	clear:both;
	}
.assesmentList ul li a{
	display:block;
	padding:20px 10px;
	margin:6px;
	background:#fff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	text-align:center;
	border:1px solid #fff;
	}
.assesmentList ul li a:hover{
	border:1px solid #D8D8D8;
	}
.assesmentList ul li a .al_name{
	padding-bottom:10px;
	font-size:18px;
	color:#666666;
	word-break:break-all;
	line-height:22px;
	}
.assesmentList ul li a .al_status{
	color:#9e9e9e;
	font-size:16px;
	}
.assesmentList ul li a .al_status .active{
	color:#79b926;
	}
.assesmentList ul li a .al_status .inactive{
	color:#e34e74;
	}
	
.setQuestion{
	position:relative;
	}
.setQuestion .sq_title{
	position:relative;
	font-size:20px;
	padding-bottom:20px;
	color:#4c4c4c;
	}
.setQuestion .input,.setQuestion div.select{
	background:#fff;
	}
.setQuestion textarea{
	resize:none;
	}
.pageWrapper.addQuestion .sc_leftpanel{
	width:280px;
	left:0px;
	top:0px;
	}
.pageWrapper.addQuestion .sc_rightpanel{
	margin-left:300px;
	overflow:hidden;
	overflow-y:auto;
	}
	
.setQuestion .submitQ{
	background:#ff8400;
	padding:10px 20px;
	display:table;
	margin:0 auto;
	cursor:pointer;
	color:#fff;
	font-family: 'RobotoLight';
    font-size: 18px;
	text-transform:uppercase;
	text-align:center;
	border:0px;
	}
.setQuestion .formWrapperContainer .row .input{
	padding:0;
	background:none;
	border:0px;
	}

.setQuestion .formWrapperContainer .row span.select{
	border:1px solid #c6c6c6;
	font-size:14px;
	padding:6px;
	display:block;
	}
.setQuestion  .formWrapperContainer .row .input input[type="text"],.setQuestion .formWrapperContainer .row .input textarea{
	padding:6px;
	width:268px;
	background:#fff;
	font-size:14px;
	border:1px solid #c6c6c6;
	}
.setQuestion .formWrapperContainer .row{
	margin-bottom:15px;
	}
.setQuestion .formWrapperContainer .double .row{ width:auto; margin:0px; margin-right:10px;}
.setQuestion .formWrapperContainer .row.last{ margin-bottom:0px;}
.setQuestion .formWrapperContainer .double{ margin-bottom:10px;}
.setQuestion .formWrapperContainer .double .row .input input{
	width:124px;
	}
.setQuestion .formWrapperContainer .double .row.value .input input{
	width:84px;
	}
.setQuestion .formWrapperContainer .double{ position:relative;}

.dlt_qOption{
	position:absolute;
	right:0px;
	top:50%;
	width:24px;
	height:24px;
	text-indent:-9999px;
	background-image:url(../../img/dlt_icon_normal.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-top:-12px;
	cursor:pointer;
	}
.dlt_qOption:hover{
	background-image:url(../../img/dlt_icon_hover.png);
	}
	
	
.addMoreQOption{
	position:relative;
	float:left;
	padding:8px 8px 8px 30px;
	color:#b1b1b1;
	font-size:14px;
	cursor:pointer;
	}
.addMoreQOption span.icon{
	display:block;
	position:absolute;
	left:0px;
	top:50%;
	width:26px;
	height:26px;
	margin-top:-13px;
	background-image:url(../../img/add_icon_normal.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	}
.addMoreQOption:hover{
	color:#356592;
	}
.addMoreQOption:hover span.icon{
	background-image:url(../../img/add_icon_hover.png);
	}
/***For Add more question***/	
.dlt_qOption{
	position:absolute;
	right:0px;
	top:50%;
	width:24px;
	height:24px;
	text-indent:-9999px;
	background-image:url(../../img/dlt_icon_normal.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-top:-12px;
	cursor:pointer;
	}
.dlt_qOuestion:hover{
	background-image:url(../../img/dlt_icon_hover.png);
	}
	
	
.addMoreQuestion{
	position:relative;
	float:left;
	padding:8px 8px 8px 30px;
	color:#b1b1b1;
	font-size:14px;
	cursor:pointer;
	}
.addMoreQuestion span.icon{
	display:block;
	position:absolute;
	left:0px;
	top:50%;
	width:26px;
	height:26px;
	margin-top:-13px;
	background-image:url(../../img/add_icon_normal.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	}
.addMoreQuestion:hover{
	color:#356592;
	}
.addMoreQuestion:hover span.icon{
	background-image:url(../../img/add_icon_hover.png);
	}

/*****End*****/
.aq_settings{
	position:relative;
	border-top:1px solid #dadada;
	border-bottom:1px solid #dadada;
	padding:10px 0;
	margin-top:10px;
	}
.aq_settings h5{
	font-size:18px;
	color:#4c4c4c;
	font-weight:normal;
	padding-bottom:15px;
	padding-top:10px;
	}
.formWrapperContainer .aq_settings .checkbox_col{
	width:auto;
	}
	
	
.quesListing{
	position:relative;
	}
.quesListing ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.ql_row{
	position:relative;
	margin-bottom:15px;
	border:1px solid #dedede;
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
	font-size:15px;
	color:#777777;
	padding:15px 30px;
	}
.ql_menu{
	position:absolute;
	right:5px;
	top:50%;
	margin-top:-15px;
	width:14px;
	height:30px;
	}
.ql_menu .qpm_btn{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-image:url(../../img/menu_icon.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	text-indent:-9999px;
	cursor:pointer;
	}
.ql_menu .qlm_option{
	position:absolute;
	right:-5px;
	top:100%;
	display:none;
	z-index:99;
	}
.ql_menu:hover .qlm_option{ display:block;}
.ql_menu .qlm_option span.arrow{
	position:absolute;
	right:8px;
	top:2px;
	width:7px;
	height:6px;
	background-image:url(../../img/arrow_up.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	text-indent:-9999px;
	}
.ql_menu .qlm_option ul{
	margin:0px;
	padding:0px;
	list-style:none;
	padding-top:8px;
	}
.ql_menu .qlm_option ul li{
	margin-bottom:1px;
	}
.ql_menu .qlm_option ul li a{
	display:block;
	padding:10px;
	background:#bebebe;
	color:#fff;
	font-family: 'RobotoLight';
	min-width:50px;
	}
.ql_menu .qlm_option ul li a:hover{
	background:#356592;
	}
	
.qlr_move{
	position:absolute;
	left:5px;
	top:50%;
	margin-top:-16px;
	width:16px;
	height:32px;
	}
.qlr_move .qlr_move_up{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:50%;
	cursor:pointer;
	text-indent:-9999px;
	background-image:url(../../img/arrow_move_up.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	}
.qlr_move .qlr_move_down{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:50%;
	cursor:pointer;
	text-indent:-9999px;
	background-image:url(../../img/arrow_move_down.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	}
.qlr_content{
	position:relative;
	}
.qlr_content .qlrc_number{
	position:absolute;
	left:0px;
	top:0px;
	width:40px;
	color:#666;
	text-align:right;
	}
.qlr_content .qlrc_text{
	position:relative;
	padding-left:50px;
	}
.quesListing .ql_row:first-child .qlr_move_up{
	display:none;
	}
.quesListing .ql_row:last-child .qlr_move_down{
	display:none;
	}
.addQuestion .boxBtn{
	padding:20px 0 0 0;
	}
.addQuestion .boxBtn .bb_btn{
	float:right;
	}
.addQuestion .aqPanel{
	position:relative;
	}
.aq_setOpt{
	position:relative;
	border-bottom:1px solid #dadada;
	margin-bottom:20px;
	padding-bottom:15px;
	}
.aq_setOpt.formWrapperContainer .row{
	float:left;
	margin-bottom:0px;
	margin-right:30px;
	}
.aq_setOpt.formWrapperContainer .row.ass_name{
	width:200px;
	}
.aq_setOpt.formWrapperContainer .row .input, .aq_setOpt.formWrapperContainer .row span.select{
	background-color:#fff;
	}
.formWrapperContainer .row span.select{ padding-right:30px!important;}
.aq_setOpt.formWrapperContainer .row span.select{ 
	width:140px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	padding-right:30px;
	}
.aq_setOpt.formWrapperContainer .checkbox_col{
	width:auto;
	margin-top:10px;
	}
.aq_setOpt.formWrapperContainer .checkbox_col .checkbox{
	right:0px;
	left:auto;
	}
.aq_setOpt.formWrapperContainer .checkbox_col label{
	padding-left:0px;
	padding-right:30px;
	font-size:15px;
	}
#selectCategory .formWrapperContainer{
	padding:40px;
	}
#selectCategory .gppbxContainer{
	width:420px;
	min-height:200px;
	margin-left:-210px;
	}
#selectCategory .formWrapperContainer .input_button{
	display:table;
	margin:0 auto;
	min-width:200px;
	}
.bb_btn_list ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.bb_btn_list ul li{
	float:left;
	margin-left:10px;
	}
.bb_btn_list ul li:first-child{
	margin-left:0px;
	}
.bb_btn_list ul li .bb_btn{
	float:none;
	min-width:100px;
	text-align:center;
	display:block;
	}
.bb_btn_list ul li .bb_btn.back{
	background:#b6b6b6;
	}
.sadetailLisr{
	position:relative;
	}
.sadetailLisr ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.sadetailLisr ul .sadl_row{
	padding-left:60px;
	position:relative;
	padding-bottom:40px;
	}
.sadl_row h4{
	color:#777777;
	font-size:15px;
	font-weight:normal;
	font-family: 'RobotoMedium';
	padding-bottom:10px;
	}
.sadl_row .sadl_number{
	position:absolute;
	left:0px;
	top:0px;
	font-family: 'RobotoMedium';
	color:#777777;
	font-size:15px;
	}
.sadl_option{
	position:relative;
	}
.sadl_option ul li{
	float:left;
	width:25%;
	color:#777777;
	font-size:14px;
	}
.sadl_option ul li .txt{
	padding-right:20px;
	word-break:break-all;
	}
.sadl_option ul li:last-child .txt{
	padding-right:0px;
	}
.sad_analyze{
	position:relative;
	padding-bottom:20px;
	}
.sad_analyze .analyze_btn{
	float:right;
	padding:8px 10px;
	background:#ff8400;
	color:#fff;
	font-size:18px;
	text-transform:uppercase;
	border:0px;
	cursor:pointer;
	min-width:100px;
	text-align:center;
	}
	
.dynamicData{word-wrap:break-word;}	
.dynamicData ul{
	padding:inherit;
	padding-left:20px;
	margin:inherit;
	}
.dynamicData ul li{
	padding-bottom:5px;
	}
.dynamicData a:hover{
	text-decoration:underline;
	}
.dynamicData p{
	margin:inherit;
	padding:inherit;
	}
	
.sc_msg{
	position:relative;
	text-align:center;
	font-size:18px;
	color:#A4A4A4;
	padding-top:150px;
	}
	
#globalMsg .gppBox .gppbxContainer{
	width:280px;
	margin-left:-140px;
	height:auto;
	min-height:40px;
	}
#actiionMsg{
	padding:10px;
	text-align:center;
	font-size:14px;
	color:rgb(144, 172, 134);
	}
	
#AddAssessmentPop .gppbxContainer{
	width:460px;
	margin-left:-230px;
	min-height:200px;
	}
#AddAssessmentPop .formWrapperContainer{
	padding:30px;
	}
#AddAssessmentPop .formWrapperContainer .input_button{
	min-width:200px;
	display:table;
	margin:0 auto;
	}
	
	
.ui-fldValid{
	position:absolute;
	right:5px;
	top:10px;
	width:20px;
	height:20px;
	z-index:99;
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	text-indent:-9999px;
	display:none;
	}
.ui-fldValid.loader{
	background-image:url(../../img/global_loader.gif);
	}
.ui-fldValid.tick{
	background-image:url(../../img/system-tick-alt-03.png);
	}
.ui-fldValid.wrong{
	background-image:url(../../img/exclamation.png);
	}
.ui-ddr{
	position:absolute;
	left:0px;
	top:100%;
	width:100%;
	background:#fff;
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-ms-border-radius:0 0 5px 5px;
	-o-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	overflow:hidden;
	margin:0px;
	padding:0px;
	list-style:none;
	z-index:999;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.4);
	-moz-box-shadow:0 2px 4px 0 rgba(0,0,0,0.4);
	-ms-box-shadow:0 2px 4px 0 rgba(0,0,0,0.4);
	-o-box-shadow:0 2px 4px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,0.4);
	max-height:200px;
	overflow:hidden;
	overflow-y:auto;
	}
.ui-ddr ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.ui-ddr li{
	position:relative;
	padding:6px;
	font-size:12px;
	color:#777;
	cursor:pointer;
	word-wrap:break-word;
	}
.ui-ddr li:hover,.ui-ddr li.selected{
	background:#356592;
	color:#fff;
	}
	
	
	
	
/*14-1-15*/
.analyzeViewBy{
	position:relative;
	}
.analyzeViewBy .formWrapperContainer{
	float:right;
	}
.analyzeViewBy .formWrapperContainer .row{
	float:left;
	padding-left:10px;
	}
.analyzeViewBy .formWrapperContainer .row:first-child{
	margin-left:0px;
	}
.analyzeViewBy .formWrapperContainer .row.label{
	padding:11px 0;
	font-size:14px;
	color:#666;
	}
.analyzeViewBy .formWrapperContainer .row span.select{
	background-color:#fff;
	padding-right:32px;
	}
.sadetailLisr.analize .sadl_option ul li{
	width:50%;
	padding-bottom:20px;
	}
.sadetailLisr.analize .sadl_option ul li:nth-child(2n+1){ clear:both;}

.sadl_oG{
	position:relative;
	margin-top:5px;
	margin-left:16px;
	margin-right:60px;
	height:8px;
	}
.sadl_oG .graph{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#ccc;
	border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	}
.sadl_oG .graph .digit{
	position:absolute;
	left:100%;
	top:50%;
	height:20px;
	margin-top:-10px;
	margin-left:6px;
	font-size:16px;
	color:#333;
	}
	
	
	
	
.dataGrid{
	position:relative;
	}
.dataGrid .dgRow{
	position:relative;
	background:#f2f2f2;
	}
.dataGrid .dgRow.dgHead{
	background:#afafaf!important;
	}
.dataGrid .dgRow:nth-child(2n+1){
	background:#e5e5e5;
	}
.dataGrid .dgRow .dgCol{
	float:left;
	}
.dataGrid .dgRow .dgCol.dgw10{
	width:10%;
	}
.dataGrid .dgRow .dgCol.dgw15{
	width:15%;
	}
.dataGrid .dgRow .dgCol.dgw16{
	width:16%;
	}
.dataGrid .dgRow .dgCol.dgw20{
	width:20%;
	}
.dataGrid .dgRow .dgCol.dgw25{
	width:25%;
	}
.dataGrid .dgRow .dgCol.dgw30{
	width:30%;
	}
.dataGrid .dgTitle{
	background:#cfcfcf;
	padding:8px 10px;
	font-size:16px;
	color:#767575;
	text-transform:uppercase;
	}
	
.dataGrid .remove-btn, .dataGrid .action-button{
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	padding:4px 8px;
	display:table;
	margin:2px auto;
	color:#ffffff;
	font-size:13px;
	text-transform:uppercase;
	}
.dataGrid .remove-btn{
	border:1px solid #bd3457;
	background: #df4c71; /* Old browsers */
	background: -moz-linear-gradient(top, #df4c71 0%, #c84362 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df4c71), color-stop(100%,#c84362)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #df4c71 0%,#c84362 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #df4c71 0%,#c84362 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #df4c71 0%,#c84362 100%); /* IE10+ */
	background: linear-gradient(to bottom, #df4c71 0%,#c84362 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df4c71', endColorstr='#c84362',GradientType=0 ); /* IE6-9 */
}
.dataGrid .remove-btn:hover{
	background: #c84362; /* Old browsers */
	background: -moz-linear-gradient(top, #c84362 0%, #df4c71 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c84362), color-stop(100%,#df4c71)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c84362 0%,#df4c71 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c84362 0%,#df4c71 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c84362 0%,#df4c71 100%); /* IE10+ */
	background: linear-gradient(to bottom, #c84362 0%,#df4c71 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c84362', endColorstr='#df4c71',GradientType=0 ); /* IE6-9 */
	}
	
.dataGrid .dgRow .dgCol .dwn-btn{
	position:relative;
	padding-left:24px;
	color:#356592;
	}
.dataGrid .dgRow .dgCol .dwn-btn:after{
	content:'';
	position:absolute;
	left:0px;
	top:50%;
	width:16px;
	height:16px;
	margin-top:-8px;
	background-image:url(../../img/dwn-btn.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	}
.dataGrid .dgRow .dgCol .dwn-btn:hover{
	text-decoration:underline;
	}
	
.dataGrid .dgRow .dgCol .reply-btn{
	position:relative;
	padding-left:24px;
	color:#356592;
	}
.dataGrid .dgRow .dgCol .reply-btn:after{
	content:'';
	position:absolute;
	left:0px;
	top:50%;
	width:20px;
	height:20px;
	margin-top:-10px;
	background-image:url(../../img/reply-btn.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	}
.dataGrid .dgRow .dgCol .reply-btn:hover{
	text-decoration:underline;
	}
.dataGrid .dgRow .dgCol .row{
	margin:0px;
	}
.dataGrid .dgRow .dgCol div.select{
	background:#fff;
	max-width:100%;
	width:auto;
	min-width:130px;
	display:table;
	margin:0 auto;
	position:relative;
	}
.dataGrid .dgRow .dgCol span.select{
	padding:6px 24px 6px 10px;
	text-align:left;
	}
	
.dataGrid.wbr{
	border:1px solid #afafaf;
	}

.dataGrid .dgRow.dgHead .dgCol .dgcTxt{
	padding:10px;
}
.dataGrid .dgRow .dgCol .dgcTxt{
	padding:6px;
	color:#777777;
	text-align:center;
	font-size:15px;
	border-left:1px solid #fff;
	word-break:break-all;
	}
.dataGrid .dgRow .dgCol:first-child .dgcTxt{ border-left:0px;}
.dataGrid .dgRow.dgHead .dgCol .dgcTxt{
	color:#ffffff;
	}
.sac_result.dataGrid .dgRow .dgCol{
	width:120px;
	}
.sac_rlWrap{
	position:relative;
	padding-left:150px;
	margin-bottom:20px;
	}
.sac_result.dataGrid{
	overflow:hidden;
	overflow-x:auto;
	}
.sac_label.dataGrid{
	width:150px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
	box-shadow:2px 0 2px 0 rgba(0,0,0,0.2);
	}
.formWrapperContainer.selfAssForm .saf_checkbox .row{ margin-bottom:0px;}
.formWrapperContainer.selfAssForm .checkbox_col{
	width:auto;
	padding-right:40px;
	padding-bottom:20px;
	}
.formWrapperContainer.selfAssForm .checkbox_col .checkbox{
	background-color:#fff;
	}
.formWrapperContainer.selfAssForm .checkbox_col label{
	font-size:16px;
	}
.formWrapperContainer.selfAssForm .row .input{
	width:400px;
	background:#fff;
	}
	
.saf_checkbox{
	position:relative;
	padding-left:80px;
	}
.saf_checkbox .safc_title{
	position:absolute;
	left:0px;
	top:0px;
	font-size:16px;
	}
	
.pageTitle{
	position:relative;
	font-size:20px;
	color:#4c4c4c;
	padding-bottom:20px;
	}
.pageTxt{
	font-size:14px;
	color:#777777;
	line-height:20px;
	padding-bottom:20px;
	}
	
	
.setResponseList{
	position:relative;
	padding-right:10px;
	max-height:400px;
	overflow:hidden;
	overflow-y:auto;
	}
.setResponseList .srl_row{
	position:relative;
	padding-left:70px;
	margin-bottom:0px;
	}
.setResponseList .srl_row .srl_cols{
	float:left;
	width:50%;
	}
.setResponseList .srl_row .srl_label{
	position:absolute;
	left:0px;
	top:0px;
	font-size:15px;
	color:#777777;
	padding:10px 0;
	line-height:22px;
	width:60px;
	text-align:right;
	}
	
	
.formWrapperContainer .setResponseList .row span.select,.formWrapperContainer .setResponseList .row .input{ background-color:#fff;}
.formWrapperContainer .setResponseList .row div.select{ position:relative;}
.formWrapperContainer .setResponseList .row .input{
	margin-left:15px;
	}
.formWrapperContainer .setResponseList .row .input input{
	line-height:22px;
	}
	
.browsDoc{
	position:relative;
	padding-bottom:20px;
	padding-top:10px;
	}
.browsDoc .bd_btn{
	position:relative;
    color:#fff;
    font-family: "RobotoLight";
    font-size: 18px;
    padding: 10px 20px;
	display:block;
	background:#ff8400;
	text-transform:uppercase;
	cursor:pointer;
	width:100px;
	text-align:center;
	overflow:hidden;
	}
.browsDoc .bd_btn:hover{
	opacity:0.9;
	}
.browsDoc .bd_btn input{
	position:absolute;
	left:-9999px;
	opacity:0;
	}
	
.browsDocList{
	position:relative;
	}
.browsDocList .bdl_row{
	margin-bottom:8px;
	color:#b1b1b1;
	font-size:15px;
	}
.browsDocList .bdl_row .bdlFile{
	position:relative;
	float:left;
	padding-right:34px;
	height:24px;
	line-height:20px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	max-width:90%;
	}
.browsDocList .bdl_row .bdlFile span.index{
	padding-right:10px;
	}

.browsDocList .bdl_row .bdlFile .bdl_delete{
	position:absolute;
	right:0px;
	top:50%;
	width:24px;
	height:24px;
	text-indent:-9999px;
	background-image:url(../../img/dlt_icon_normal.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-top:-12px;
	cursor:pointer;
	}
.browsDocList .bdl_row .bdlFile .bdl_delete:hover{
	background-image:url(../../img/dlt_icon_hover.png);
	}
	
	
.formulaSetup{
	position:relative;
	}
.formulaSetup .fsTitle{
	position:relative;
	background:#e7e7e7;
	padding:20px 10px;
	border-top:1px solid #dadada;
	border-bottom:1px solid #dadada;
	color:#4c4c4c;
	font-size:20px;
	margin-bottom:30px;
	}
.formulaSetup .fsTitle h4{
	font-weight:normal;
	float:left;
	padding-right:40px;
	position:relative;
	}
.formulaSetup .fsTitle .infoBtn{
	position:absolute;
	right:0px;
	top:50%;
	width:26px;
	height:26px;
	margin-top:-13px;
	background-image:url(../../img/info.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	text-indent:-9999px;
	cursor:pointer;
	}
	
.formulaSetup .fsCondition{
	position:relative;
	border:1px solid #dadada;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	padding:30px 20px 20px 20px;
	margin-bottom:30px;
	}
.fsCondition .fscTitle{
	position:absolute;
	left:15px;
	top:-5px;
	height:20px;
	line-height:20px;
	padding:5px 20px;
	margin-top:-12px;
	background:#dadada;
	border-radius:20px;
	color:#777777;
	font-size:16px;
	}
.fsCondition.formWrapperContainer .row span.select{
	background-color:#fff;
	padding-right:30px;
	}
.fsCondition.formWrapperContainer .fsRow{
	margin-bottom:0px;
	}
.fsCondition .fsRow .fsr_cols{
	float:left;
	position:relative;
	margin-right:10px;
	}
.fsCondition .fsRow .fsr_cols div.select{
	position:relative;
	}
	
.fsCondition .fsRow .fsr_cols.setFsc{
	padding-right:34px;
	width:200px;
	position:absolute;
	left:0px;
	top:0px;
	margin:0px;
	}
.fsCondition .fsRow .fsr_cols.setFsc:after{
	content:'=';
	position:absolute;
	right:0px;
	top:50%;
	font-size:20px;
	color:#777777;
	width:24px;
	height:24px;
	line-height:24px;
	margin-top:-12px;
	text-align:center;
	}
.fsCondition .fsr_fRow{
	position:relative;
	padding-left:244px;
	}
	
.fsCondition .fsRow .fsr_cols.fsrAction{
	width:60px;
	}
.fsCondition .fsRow .fsr_fRow .fsr_cols{
	margin-bottom:10px;
	}
.fsCondition .adnoset{
	position:relative;
	padding-left:244px;
	}
	
.fsrcTxt{
	padding:10px 0;
	color:#777777;
	font-size:16px;
	}
	
	
.setFormulaBtn{
	position:absolute;
	right:10px;
	top:12px;
	padding:8px 8px 8px 30px;
	color:#ff8400;
	font-size:15px;
	cursor:pointer;
	}
.setFormulaBtn span.icon{
	display:block;
	position:absolute;
	left:0px;
	top:50%;
	width:26px;
	height:26px;
	margin-top:-13px;
	background-image:url(../../img/add_icon_normal_orange.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	}
.setFormulaBtn:hover{
	opacity:0.9;
	}
	
	
#formulaChoose .gppbxContainer{
	width:460px;
	margin-left:-230px;
	min-height:100px;
	}
#formulaChoose .gppbxContainer .formWrapperContainer{
	padding:20px;
	}
#formulaChoose .formWrapperContainer .input_button{
	display: table;
    margin: 0 auto;
    min-width: 120px;
	}
#formulaChoose .formWrapperContainer .checkbox_col{
	float:none;
	width:auto;
	}
#formulaChoose .formWrapperContainer .checkbox_col .radio{
	margin-top:-14px;
	}
#formulaChoose .formWrapperContainer .checkbox_col label{
	padding-top:0px;
	}
	
	
.pgh_mT{
    border-bottom: 1px solid #356592;
    height: 22px;
    position: relative;
	padding:14px 20px;
}
.pgh_mT h3{
	float:left;
	color:#356592;
	font-size:18px;
	font-weight:normal;
	}
.pgh_mT h3 a{ color:#356592}
.pgh_mT h3 a:hover{ text-decoration:underline;}
.pgh_mT h3 span{ color:#000;}
.pgh_mT .create-new{
	position:absolute;
	right:20px;
	top:8px;
	display:block;
	padding:8px 10px;
	background:#ff8400;
	color:#fff;
	font-size:18px;
	text-transform:uppercase;
	font-family: 'RobotoLight';
	}
.pgh_mT .create-new:hover{ opacity:0.8;}
	
.studiesList{
	position:relative;
	}
.studiesList .sl_row,.mdServey .sl_row{
	position:relative;
	background-color:#fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    padding: 15px 230px 15px 15px;
	border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	-webkit-border-radius:6px;
	margin-top:20px;
	min-height:70px;
	border:1px solid #fff;
	}
.mdServey .sl_row{ min-height:none; margin:0px; padding:0px; border-bottom:1px solid #dadada;}
	
.studiesList .sl_row:first-child{ margin-top:0px;}
.studiesList .sl_row h4,.mdServey .sl_row h4{
	font-weight:normal;
	color:#777777;
	font-size:16px;
	padding-bottom:14px;
	}
.studiesList .sl_row h4,.mdServey .sl_row h4{ padding-right:40px;}
.studiesList .sl_row h5,.mdServey .sl_row h5{
	font-weight:normal;
	color:#b1b1b1;
	font-size:16px;
	}
.studiesList .sl_row h5.sl_date,.mdServey .sl_row h5.sl_date{
	position:relative;
	padding-left:30px;
	}
.studiesList .sl_row h5.sl_date span.icon,.mdServey .sl_row h5.sl_date span.icon{
	background-image:url(../../img/calendar_icon1.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	text-indent:-9999px;
	}
.studiesList .circle_box{
	position:absolute;
	right:0px;
	top:10px;
	}

.circular-bar{
  float:left;
  text-align: center;
  min-width:100px;
  position:relative;
  }
.circular-bar-content .cb-t{
	font-family: 'RobotoLight';
	}
.circular-bar-content label{
	position:absolute;
	width:100%;
	left:0px;
	top:20px;
	height:20px;
	font-size:14px;
	line-height:20px;
	}
	
	
	
.mdServey{
	position:relative;
	background-color:#fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
	border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	-webkit-border-radius:6px;
	min-height:100px;
	border:1px solid #fff;
	}
.mdsEdit{
	position:absolute;
	top:-12px;
	right:0px;
	width:31px;
	height:40px;
	cursor:pointer;
	text-indent:-9999px;
	background-image:url(../../img/edit_btn.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	}
.mdsEdit:hover{ opacity:0.8;}
	
.mdServey .msTxt{
	padding:20px 0 10px 0;
	font-size:14px;
	color:#777777;
	line-height:20px;
	}
.mdServey .msTxt p{
	padding-bottom:10px;
	}
	
.mdServey .circle_box{
	padding:30px 0;
	border-top:1px solid #dadada;
	border-bottom:1px solid #dadada;
	}
.mdServey .circular-bar{
	width:20%;
	}
.mdServey .circular-bar label{
	top:30px;
	}
.mds-vs{
	position:relative;
	padding:20px 0;
	}
.mds-vs a.btn{
	float:left;
	display:block;
	line-height:28px;
	height:28px;
	padding-left:34px;
	color:#ff8400;
	font-size:18px;
	position:relative;
	}
.mds-vs a.btn:hover{ text-decoration:underline;}
.mds-vs a.btn:after{
	content:'';
	position:absolute;
	left:0px;
	top:50%;
	width:28px;
	height:28px;
	margin-top:-14px;
	background-image:url(../../img/view_statistic.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	}
.mdSQ{
	position:relative;
	padding:10px 0 20px 0;
	}
.mdSQ h4{
	float:left;
	font-weight:normal;
	font-size:18px;
	padding:10px 0;
	color:#4c4c4c;
	}
.mdSQ .formWrapperContainer{
	position:absolute;
	right:0px;
	top:10px;
	}
.mdSQ .formWrapperContainer .row{
	float:left;
	margin-bottom:0px;
	}
.mdSQ .formWrapperContainer .row div.select{
	min-width:100px;
	}
	
.mdsTabs{
	position:relative;
	border-bottom:1px solid #356592;
	}
.mdsTabs ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.mdsTabs ul li{
	float:left;
	position:relative;
	margin-left:20px;
	}
.mdsTabs ul li:first-child{ margin-left:0px;}
.mdsTabs ul li a{
	display:block;
	padding:15px;
	font-size:18px;
	color:#858585;
	border-top:3px solid #fff;
	border-bottom:3px solid #fff;
	}
.mdsTabs ul li:hover a{ color:#000;}
.mdsTabs ul li.active a{
	border-bottom:3px solid #356592;
	}
.mdsTabs ul li a.ml{
	padding-right:20px;
	}
.mdsTabs ul li a.ml:after{
	content:'';
	position:absolute;
	right:5px;
	top:50%;
	width:11px;
	height:8px;
	margin-top:-4px;
	background-image:url(../../img/arrow3.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	transition:all 400ms linear;
	}
.mdsTabs ul li:hover a.ml:after{
	transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	}
	
.mdsTabs ul li ul{ 
	display:none;
	position:absolute;
	left:0px;
	top:100%;
	z-index:999;
	width:200px;
	}
.mdsTabs ul li:hover ul{ display:block;}
.mdsTabs ul li ul li{ float:none; margin-top:1px;margin-left:0px;}
.mdsTabs ul li ul li a{
	background:#bebebe;
	color:#fff!important;
	border:none!important;
	font-family: 'RobotoLight';
	}
.mdsTabs ul li ul li a:hover{
	background:#959595;
	}
.mdsl-btn .btn{
	float:left;
	display:block;
	padding:8px 10px;
	background:#ff8400;
	color:#fff;
	font-size:18px;
	text-transform:uppercase;
	font-family: 'RobotoLight';
	cursor:pointer;
	outline:none;
	border:0px;
	}
.mdsl-btn .btn:hover{ opacity:0.8;}


.expMp.popuBxWrap .gppbxContainer{
	width:400px;
	margin-left:-200px;
	min-height:200px;
	}
.expMp.popuBxWrap .formWrapperContainer{
	padding:20px;
	}
.expMp.popuBxWrap .formWrapperContainer .checkbox_col{
	float:none;
	width:auto;
	position:relative;
	}
.expMp.popuBxWrap .formWrapperContainer .checkbox_col span.radio{ margin-top:-15px;}
.expMp.popuBxWrap .formWrapperContainer .checkbox_col label{ display:block; padding-top:0px;}
.userList.slmsisList{
	margin:0px;
	padding:0px;
	border:0px;
	}
.slmsisList ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.slmsisList ul li{
	float:left;
	width:50%;
	}
.slmsisList ul li .ul_row{
	position:relative;
	margin:0 10px 20px 10px;
	}
.createStudy .formulaSetup .browsDocList .bdl_row{ float:left; margin-right:30px;}
.createStudy .formulaSetup .browsDocList .bdl_row .bdlFile{ padding-right:28px; line-height:24px;}
.createStudy .formulaSetup .browsDocList .bdl_row .bdlFile .bdl_delete{}
.createStudy .formulaSetup .browsDoc{ padding-bottom:0px;}

.setVarFld{
	padding-bottom:10px;
	}
.formWrapperContainer.csFrm{
	padding-bottom:40px;
	}
	
.formWrapperContainer .csf-double{
	position:relative;
	margin-bottom:15px;
	}
.formWrapperContainer .csf-double .row{
	margin:0px;
	float:left;
	width:50%;
	}
.formWrapperContainer .csf-double .row div.input{
	margin-left:15px;
	background:#fff;
	}
.formWrapperContainer .csf-double .row div.input.first{
	margin-left:0px;
	}
.formWrapperContainer .csf-double .row h4{
	font-weight:normal;
	font-size:16px;
	margin-left:15px;
	padding:10px 0;
	color:#4c4c4c;
	}
.formWrapperContainer .csf-double .row .checkbox_col{ margin-left:15px; padding-top:0px;}
.formWrapperContainer .csf-double .row .checkbox_col .checkbox_col{ margin-left:0px; float:none; width:auto;}
.formWrapperContainer .csf-double .row .checkbox_col .checkbox_col label{ padding-top:0px; line-height:24px;}


.expMp .input_button{
	width:120px;
	margin:0 auto;
	padding:0px!important;
	}
	
	
/*20-2-15*/	
.scoreGrid{
	position:relative;
	margin-bottom:20px;
	box-shadow:0 0 3px 0 rgba(0,0,0,0.1);
	}
.scoreGrid .sgTitle{
	position:absolute;
	left:0px;
	top:0px;
	width:160px;
	height:100%;
	background:#e5e5e5;
	}
.scoreGrid .sgTitle p{
	padding:10px;
	margin:0px;
	font-size:15px;
	}
.scoreGrid .sgContent{
	position:relative;
	margin-left:160px;
	background:#fff;
	padding:10px 10px 0 10px;
	min-height:30px;
	}
.scoreGrid .sgContent .sgcCol{
	float:left;
	width:20%;
	margin-bottom:10px;
	}
.scoreGrid .sgContent .sgcCol:nth-child(5n+1){ clear:both;}
.scoreGrid .sgContent.formWrapperContainer .sgcCol .checkbox_col{
	float:none;
	width:auto;
	}
.scoreGrid .sgContent.formWrapperContainer .checkbox_col label{ font-size:15px; display:block; padding-top:2px;}
.scoreGrid .sgContent.formWrapperContainer .checkbox_col .checkbox{ top:0px;}



.amendPopup .gppbxContainer{
	width:400px;
	margin-left:-200px;
	}
.amendPopup .formWrapperContainer{
	padding:20px;
	}
	
.amendPopup .formWrapperContainer .ynCol{
	display:table;
	margin:0 auto;
	}
.amendPopup .formWrapperContainer .double.ynCol .row{
	width:auto;
	padding:0 5px;
	margin:0px;
	}
.amendPopup .formWrapperContainer .double.ynCol .btn{
	min-width:100px;
	padding:2px 0;
	}
	
.amendPopup .formWrapperContainer .mdsl-btn{
	display:table;
	margin:0 auto;
	}
.amendPopup .formWrapperContainer .mdsl-btn .btn{ float:none; min-width:210px; font-family: "RobotoCondensedRegular";
    font-size: 22px; text-transform:uppercase; padding:2px 0;}

.amendPopup .formWrapperContainer .amd_new{
	padding-top:20px;
	}
	
.amendPopup .formWrapperContainer .amd_title{
	font-size:18px;
	text-align:center;
	padding-bottom:20px;
	}
	
	
	
	
/*3-3-15*/
.userList.invSend{
	border:0px;
	margin:0px;
	padding:0px;
	}
.invSend.userList .ul_row{
	min-height:80px;
	padding-left:110px;
	}
.invSend.userList .ul_row .ul_photo{
	width:80px;
	height:80px;
	}
.invSend.userList .ul_row h5{
	color:#878787;
	}
.invSend.userList .ul_row p{
	color:#bbb;
	padding-top:6px;
	font-size:16px;
	}
	
	
.sadetailLisr .sadl_option .checkbox_col{
	float:none;
	width:auto;
	display:table;
	}
.formWrapperContainer.sadetailLisr .sadl_option .checkbox_col .checkbox{
	position:absolute;
	left:auto;
	right:0px;
	}
	
.formWrapperContainer.sadetailLisr .sadl_option .checkbox_col  label{
	float:none;
	display:block;
	padding:0px 40px 0 0;
	color: rgb(119, 119, 119);
    font-size: 14px;
	font-family:"RobotoRegular";
	}
.assqTitle.aq_setOpt{
	padding-bottom:5px;
	}
.aq_setOpt h4{
	font-size:20px;
	font-weight:normal;
	}
.assqTitle.aq_setOpt .row{
	float:right;
	margin-right:0px;
	}
.assqTitle.aq_setOpt.formWrapperContainer .checkbox_col{
	margin-top:0px;
	}
	
	
	
/*12-3-15*/
.btn_bxAb{
	position:absolute;
	right:20px;
	top:8px;
	display:block;
	padding:8px 10px;
	background:#ff8400;
	line-height:20px;
	color:#fff;
	font-size:18px;
	text-transform:uppercase;
	font-family: 'RobotoLight';
	}
.btn_bxAb:hover{ opacity:0.8;}

.fwcVarEdit{
	padding-top:20px;
	}
.fwcVarEdit .row label{
	float:left;
	width:160px;
	padding:11px 0;
	padding-right:10px;
	font-size:15px;
	color:#333;
	}
.fwcVarEdit .row .fld{
	float:left;
	position:relative;
	}
.fwcVarEdit .row div.select{
	position:relative;
	min-width:200px;
	}
.formWrapperContainer.fwcVarEdit .input_button{
	float:left;
	margin-left:170px;
	padding-top:0px;
	}
.formWrapperContainer.fwcVarEdit .input_button .submit_button{
	padding:4px 10px;
	min-width:100px;
	}
.selectM_condition {
	position:relative; 
	height:90px;
	border:1px solid rgb(198, 198, 198);
	width:100%;
	padding:0px;
}
.selectM_condition option{ padding:4px 8px;font-family: "RobotoLight";
    font-size: 15px; color:#777;}
	
	
	
	
	
	
	
	
	
	
	
.switch {
  position:absolute;
  right:28px;
  top:50%;
  margin-top:-12px;
  height: 24px;
  width: 64px;
  background:#fff;
  border:1px solid #ccc;
  border-radius:12px;
  -moz-border-radius:12px;
  -ms-border-radius:12px;
  -o-border-radius:12px;
  -webkit-border-radius:12px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 30px;
  line-height: 20px;
  font-size: 12px;
  color:#777;
  text-align: center;
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  color:#fff;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 32px;
  /* Note: left: 50% doesn't transition in WebKit */
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 20px;
  line-height:20px;
  background:#356592;
  
   border-radius:12px;
  -moz-border-radius:12px;
  -ms-border-radius:12px;
  -o-border-radius:12px;
  -webkit-border-radius:12px;
  
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.ql_row{ padding-right:110px;}

.assesmentList ul li{
	position:relative;
	}
.assesmentList ul li a{
	padding:30px 10px;
	}
.saEdit{
	position:absolute;
	right:10px;
	top:10px;
	width:26px;
	height:26px;
	background-image:url(../../img/edit-icon.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	text-indent:-9999px;
	cursor:pointer;
	z-index:99;
	display:none;
	}
.assesmentList ul li:hover .saEdit{
	display:block;
	}
.saEdit:hover{
	background-image:url(../../img/edit-icon-hover.png);
	}
	
	
/*24-3-2015*/
.fwcVarEdit.aeId{ display:table; margin:0 auto;}
.fwcVarEdit.aeId .row label{
	width:60px;
	}
.fwcVarEdit.aeId .addMoreQOption{
	margin:12px 0 0 10px;
	}
	
.formWrapperContainer.aeId .submit_button{
	font-size:18px;
	text-transform:none;
	font-family:"RobotoLight";
	}
	
.formWrapperContainer.aeId .addSymptoms{
	border-top:1px solid #ccc;
	position:relative;
	}
.formWrapperContainer.aeId .row{
	margin-bottom:30px;
	}
.formWrapperContainer.aeId .addSymptoms:before{
	content:'OR';
	position:absolute;
	left:50%;
	margin-left:-15px;
	top:-15px;
	width:30px;
	height:30px;
	background:#ccc;
	border-radius:100%;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:28px;
	}
	
	
	
/*######27-03-2015######*/
.blogMonth{
	position:relative;
	background:#afafaf;
	padding:10px;
	font-size:20px;
	color:#fff;
	}
.blogList{
	position:relative;
	border:1px solid #afafaf;
	}
.blogRow{
	position:relative;
	background:#f2f2f2;
	padding:10px;
	}
.blogRow:nth-child(2n+1){
	background:#e5e5e5;
	}
.blogRow h3{
	font-weight:normal;
	font-style:italic;
	text-align:right;
	font-size:13px;
	color:#777777;
	}
.blogRow h2{
	font-weight:normal;
	font-size:22px;
	color:#000;
	}
.blogRow h2 a{ color:#000;}
.blogRow h2 a:hover{
	color:#356592;
	}
.blogRow .brCat{
	font-size:14px;
	color:#356592;
	padding:8px 0;
	}
.blogRow .brCat a{
	color:#356592;
	}
.blogRow .brCat a:hover{
	text-decoration:underline;
	}
	
.blogRow .brDetail{
	color:#777777;
	font-size:15px;
	}
.brDetail p{
	padding-bottom:14px;
	}
.blogshortby .fsr_cols{
	float:right;
	min-width:120px;
	position:relative;
	}
.blogshortby .fsr_cols div.select{
	background:#fff;
	}
.blogshortby.formWrapperContainer .row{
	padding-bottom:15px;
	margin:0px;
	}
.blogRow.detail{
	background:none;
	}
.brAuther{
	font-style:italic;
	font-size:13px;
	color:#777777;
	padding-bottom:10px;
	border-bottom:1px solid #dadada;
	margin-bottom:10px;
	font-family: 'RobotoLight';
	}
	
.addBlogPost .row label{
	color:#3e3e3e;
    float: left;
    font-size: 15px;
    padding: 11px 10px 11px 0;
    width: 160px;
	font-family: 'RobotoLight';
	}
.addBlogPost .row .input{
	border:1px solid rgb(198, 198, 198)!important;
	background:#fff;
	}
.addBlogPost .row .input,.addBlogPost .row .inselect{
	float: left;
	min-width:380px;
	position:relative;
	}
.addBlogPost .row .inselect{ min-width:410px;}
.addBlogPost .row .select{
	background:#fff;
	position:relative;
	margin-bottom:20px;
	}

.addBlogPost .row .input textarea{
	min-height:200px;
	}
.addBlogPost .input_button .submit_button{ float:left; width:auto; padding:8px 20px;}




/* Pagination CSS start here */
.pagination.pagination-centered{
    display: table;
    margin: 15px auto;
}
.pagination .paging a{
    display: inline-block;
    padding: 2px 10px;
    background-color: #4a6fe8;
    text-align:center;
    margin-right: 2px;
    color: #ffffff;
}
.pagination .paging a.active{
    opacity: 0.3;
    -moz-opacity: 0.3;
    -webkit-opacity:0.3;
}
/* Pagination CSS end here */


/*30-3-15*/
.sdFd{
	position:relative;
	padding-bottom:20px;
	}
.sdFd .sdfdRow{
	margin-bottom:10px;
	font-size:14px;
	}
.sdFd .sdfdRow .sdfdLabel{
	float:left;
	width:40%;
	color:#777;
	font-family:"RobotoLight";
	}
.sdFd .sdfdRow .sdfdCol{
	float:left;
	width:60%;
	}
	
.sdFdDetail{
	position:relative;
	}
.sdFdDetail ul{
	margin:0px;
	padding:0px;
	list-style:none;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	}
.sdFdDetail ul li .dddBx{
	display:block;
	border-top:1px solid #d9d9d9;
	color:#777777;
	font-size:14px;
	padding:10px 0px;
	word-wrap:break-word;
	}
.sdFdDetail ul li:first-child .dddBx{ border-top:0px;}
.aslpWrap{
	min-height:330px;
	max-height:330px;
	overflow-y:auto;
	}
.dbxLabel{
	float:left;
	width:60%;
	}
.dbxAns{
	float:left;
	width:40%;
	color:#000;
	text-align:right;
	}
	
.npButtons{
	position:relative;
	padding-top:20px;
	}
.npButtons ul{
	display:table;
	margin:0 auto;
	padding:0px;
	list-style:none;
	}
.npButtons ul li{
	float:left;
	padding:0 5px;
	}
.npButtons ul li a{
	position:relative;
	display:block;
	background-color: rgb(89, 125, 219);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	width: 30px;
    height: 30px;
    text-indent: -9999px;
	}

.npButtons ul li a.npb_prev{
    background-image: url(../../img/arrow_left.png);
}
.npButtons ul li a.npb_next{
    background-image: url(../../img/arrow_right.png);
}

.slLshow{
	position:relative;
	margin:20px auto;
	font-size:14px;
	border:1px solid rgb(217, 217, 217);
	display:table;
	}
.sllsBx{
	position:relative;
	max-height:300px;
	overflow-y:auto;
	width:450px;
	}
.slLshow .sllsRow{
	color:#000;
	border-bottom:1px solid rgb(217, 217, 217);
	}
.slLshow .sllsRow:last-child{
	border-bottom:0px;
	}
.slLshow .sllsRow .sllsLabel{
	float:left;
	width:300px;
	color:#777;
	border-right:1px solid rgb(217, 217, 217);
	padding:8px;
	}
.slLshow .sllsRow .sllsCol{
	float:right;
	width:100px;
	text-align:right;
	font-weight:bold;
	font-size:20px;
	padding:8px;
	}
.sllsbb.boxBtn .bb_btn{
	display:table;
	margin:0 auto;
	width:100px;
	text-align:center;
	float:none;
	}
	
	
div.datefield input[type="text"]{
	background:url(../../img/calendar_icon.png) no-repeat right center;
	}
	
	
.pmFby{
	position:relative;
	border-bottom:1px solid #c7c7c7;
	margin-bottom:15px;
	padding-bottom:15px;
	}
.pmFby h2{
	float:left;
	font-size:20px;
	padding:10px 0;
	font-weight:normal;
	}
.pmFby .formWrapperContainer{
	float:right;
	}
.pmFby .formWrapperContainer .row{
	float:left;
	margin-bottom:0px;
	margin-left:10px;
	}
.pmFby .formWrapperContainer .row div.select{
	background:#fff;
	min-width:120px;
	}
	
	
.frmFldData .row label{
	color: rgb(51, 51, 51);
    float: left;
    font-size: 15px;
    padding:8px 0;
    width: 160px;
	}
.frmFldData .row .input, .frmFldData .row div.select{
	min-width: 300px;
    position: relative;
	float:left;
	background:#fff;
	}
	
.frmFldData .input_button .submit_button{
	float:left;
	width:auto;
	padding:5px 10px;
	text-align:center;
	min-width:100px;
	}
	
.frmFldData .row .addMoreQOption{
	margin:11px 0 0 10px;
	}
	
.frmFldData .btn_bxAb{
	top:20px;
	z-index:99;
	}
.apmCareBx{
	position:relative;
	border:1px solid #afafaf;
	margin:10px 0;
	width:490px;
	}
.apmCareBx .ampcbRow{
	position:relative;
	padding:10px 80px 10px 10px;
	background:#e5e5e5;
	font-size:16px;
	color:#777777;
	}
.apmCareBx .ampcbRow strong{
	color:#000;
	}
.apmCareBx .ampcbRow:nth-child(2n+1){
	background:#f2f2f2;
	}
.apmCareBx .ampcbRow .ampcb_btn{
	position:absolute;
	right:8px;
	top:50%;
	margin:0px;
	padding:0px;
	list-style:none;
	margin-top:-12px;
	}
.apmCareBx .ampcbRow .ampcb_btn li{
	position:relative;
	float:left;
	padding-left:8px;
	}
.apmCareBx .ampcbRow .ampcb_btn li:first-child{
	padding-left:0px;
	}
.apmCareBx .ampcbRow .ampcb_btn li a{
	display:block;
	width:24px;
	height:24px;
	text-indent:-9999px;
	/*border:1px solid #aeaeae;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	-o-border-radius:100%;
	-ms-border-radius:100%;*/
	background-repeat:no-repeat;
	background-size:100% 100%;
	}
.apmCareBx .ampcbRow .ampcb_btn li a.dlt{
	background-image:url(../../img/dlt_icon_normal.png);
	}
.apmCareBx .ampcbRow .ampcb_btn li a.dlt:hover{
	background-image:url(../../img/dlt_icon_hover.png);
	}
.apmCareBx .ampcbRow .ampcb_btn li a.edit{
	background-image:url(../../img/edit_normal.png);
	}
.apmCareBx .ampcbRow .ampcb_btn li a.edit:hover{
	background-image:url(../../img/edit_hover.png);
	}
	
.studiesList .sl_row.slsr{
	padding:10px;
	min-height:inherit;
	}
.studiesList .sl_row.slsr h4{
	padding-top:4px;
	padding-bottom:8px;
	padding-right:40px;
	}
.slsrDlt{
	position:absolute;
	right:10px;
	top:-1px;
	background-image:url(../../img/delete_icon.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	text-indent:-9999px;
	z-index:99;
	width:28px;
	height:35px;
	}
	
.grobalPopup.spData .formWrapperContainer{
	padding:20px;
	}
.grobalPopup.spData .gppbxContainer{
	width:420px;
	min-height:200px;
	margin-left:-210px;
	}
.grobalPopup.spData .formWrapperContainer .input_button{
	display:table;
	margin:0 auto;
	min-width:120px;
	}
.grobalPopup.spData .formWrapperContainer .input_button .submit_button{
	padding:5px 10px;
	}
	
.termspTxt{
	color:#b1b1b1;
	font-size:15px;
	margin-bottom:15px;
	}

.spData .formWrapperContainer .checkbox_col{
	float:none;
	width:auto;
	}
.spData .formWrapperContainer .checkbox_col label{ font-size:16px;}


.rrsListing{
	position:relative;
	}
.rrsListing ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.rrsListing ul li{
	float:left;
	width:33.333%;
	color:#777777;
	font-size:15px;
	}
.rrsListing ul li .txt{
	padding:8px 10px;
	}
.rrsListing ul li a{
	color:#777;
	}
.rrsListing ul li a:hover{
	text-decoration:underline;
	}
	
.rrsListing ul li .dwn-btn{
	padding-left:24px;
	position:relative;
	}
.rrsListing ul li .dwn-btn:after{
	content:'';
	position:absolute;
	left:0px;
	top:50%;
	width:16px;
	height:16px;
	margin-top:-8px;
	background-image:url(../../img/dwn-btn.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	}
.pageFrmData{
	position:relative;
	padding-bottom:40px;
	}
.pageFrmData .pfdRow{
	position:relative;
	padding-left:200px;
	margin-bottom:15px;
	color:#777777;
	font-size:15px;
	}
.pageFrmData .pfdRow .pfdLabel{
	position:absolute;
	left:0px;
	top:0px;
	color:#333;
	width:180px;
	}
.pageFrmData .pfdRow .pfdCol{
	min-height:20px;
	}
	
/* Pass CSS Start here */
.dataGridPass .disable-btn{
	border:#588d14 1px solid;
	background: #79b926; /* Old browsers */
	background: -moz-linear-gradient(top, #79b926 0%, #609718 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79b926), color-stop(100%,#609718)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #79b926 0%,#609718 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #79b926 0%,#609718 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #79b926 0%,#609718 100%); /* IE10+ */
	background: linear-gradient(to bottom, #79b926 0%,#609718 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79b926', endColorstr='#609718',GradientType=0 ); /* IE6-9 */
}
.dataGridPass .action-button{
	display:inline-block;
}
.dataGridPass .disable-btn:active,.dataGridPass .disable-btn:hover{
	background: #79b926; /* Old browsers */
}
.dataGridPass .enable-btn{
	border:#a7a7a7 1px solid;
	background: #c8c8c8; /* Old browsers */
	background: -moz-linear-gradient(top, #c8c8c8 0%, #979797 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8c8c8), color-stop(100%,#979797)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c8c8c8 0%,#979797 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c8c8c8 0%,#979797 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c8c8c8 0%,#979797 100%); /* IE10+ */
	background: linear-gradient(to bottom, #c8c8c8 0%,#979797 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#979797',GradientType=0 ); /* IE6-9 */
}
.dataGridPass .enable-btn:active,.dataGridPass .enable-btn:hover{
	background: #979797; /* Old browsers */
}
.dataGridPass .edit-btn{
	background: #356592; /* Old browsers */
	border:#697ddb 1px solid;
}
.dataGridPass .dgRow .dgCol .dgcTxt{
	text-align:left;
}
.dataGridPass .passUserImg{
	display:inline-block;
	width:30px;
	height:30px;
	border-radius:75%;
	-moz-border-radius:75%;
	-webkit-border-radius:75%;
	-o-border-radius:75%;
	-ms-border-radius:75%;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	-ms-box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	overflow:hidden;
}
.dataGridPass .passUserImg img{
	max-width:100%;
	vertical-align:middle;
}
.dataGridPass .passUserName{
	display: inline-block;
    left: 5px;
    position: relative;
    top: -8px;
}
.passTHeading{
	font-size:18px;
	color:#356592;
	padding:10px 0 0 0;
	display:inline-block;
}
.create-newPass{
	display:inline-block;
	float:right;
	margin-top:12px;
}
.createPassForm{
	width:50%;
	float:left;
}
.passAdminImg{
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-ms-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	width:260px;
	height:160px;
	text-align:center;
	overflow:hidden;
	margin:0  auto;
	display:block;
	position:relative;
}
.passAdminImg img{
	max-width:100%;
	vertical-align:middle;
}
.passAdminImg input{
	position:absolute;
	left:-100000px;
}
.passAdminImg .editImg{
	position:absolute;
	bottom:0;
	right:0;
	background-image:url(../../img/editPassImage.png);
	background-repeat:no-repeat;
	background-position:right top;
	width:39px;
	height:39px;
}
.passAdminImg .imgName{
	position:absolute;
	bottom:10px;
	width:100%;
	text-align:center;
	font-size:18px;
	color:#a6a6a6;
	display:block
}
.createPassForm .pass_lable{
	display:inline-block;
	width:130px;
	color:#777777;
	font-size:15px;
}
.createPassForm .lableValue{
	color:#777777;
	font-size:15px;
	font-family:robotolight;
}
.createPassForm .passdtlrow{
	margin-bottom:10px !important;
}
.subscriptionsRecordsData{
	list-style:none;
}
.subscriptionsRecordsData li{
	padding:12px 6px;
	font-family:robotolight;
	font-size:15px;
	border-bottom:#dadada dashed 1px;
}
.subscriptionsRecordsData li:last-child{
	border-bottom:0;
}
.subscriptionsRecordsData li span{
	display: inline-block;
	font-family: robotoregular;
	font-size: 18px;
	line-height: normal;
	padding-left: 20px;
}
.subscriptionsRecordsData li .panel_member{
	color:#356592;
}
.subscriptionsRecordsData li .study{
	color:#356592;
}
.subscriptionsRecordsData li .survey{
	color:#e34e74;
}
.dataGridPass .passUserName a{
	color: rgb(89, 125, 219);
}
/* Pass end here */

/* Question List start here */
.assesment_quiz{
	list-style:none;
}
.assesment_quiz li.queans{
	border-bottom:1px solid #e5e5e5;
	padding:15px 20px 9px 20px;
	position:relative;
}
.assesment_quiz li.queans:nth-child(even){
	background-color:#f6f6f6;
}
.assesment_quiz li.queans .que{
	font-family: 'RobotoRegular';
	font-size:18px;
	color:##3b3b3b;
	line-height:normal;
	font-weight:normal;
	padding-bottom:8px;
	position:relative;
}
.assesment_quiz li.queans .ans{
	font-family: 'RobotoRegular';
	font-size:18px;
	color:##3b3b3b;
	line-height:normal;
	font-weight:normal;
	padding-left:20px;
	position:relative
}
.assesment_quiz li.queans .que span{
	color:#ee3923;
}
 .assesment_quiz li.queans .checkbox_button{
	font-family: 'RobotoLight';
	padding:0 30px 6px 20px;
	font-size:16px;
	color:#3e3e3e;
    display: block;
	float:left;
	width:25%; 
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	position:relative
}
.assesment_quiz li.queans .checkbox_button label{
	cursor:pointer
}
.assesment_quiz li.queans .checkbox_button label:after {
    content: "";  
    width: 16px;  
    height: 16px;  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottombottom: 1px;  
	top:50%;
	margin-top:-10px;
    background-color: #d1d1d1; 
/*	border-radius:75%;
	-moz-border-radius:75%;
	-webkit-border-radius:75%;
	-o-border-radius:75%;
	-ms-border-radius:75%; 
*/}
.assesment_quiz li.queans .checkbox_button input[type=checkbox]:checked + label:after{
	background:#356592 url(../../img/right_icon.png) no-repeat center center;
	background-size:65% auto;
	-moz-background-size:65% auto;
	-webkit-background-size:65% auto;
	-o-background-size:65% auto;
	-ms-background-size:65% auto;
	height: 10px;
	padding: 3px;
	position: absolute;
	width: 10px; 
}
.assesment_quiz li.queans .checkbox_button input{
	position:absolute;
	left:-100000px;
}
.assesment_title{
    color: #356592;
    font-size: 22px;
    line-height: normal;
    padding:15px 20px;
	word-break:break-all;
}
.assesment_title .mandatory {
    color: rgb(137, 137, 137);
    display: block;
    font-size: 14px;
    font-style: italic;
}
/* Question List end here */








/***********13-5-2015***************/
.invUser{
	position:relative;
	}
.invUser .invuRow{
	position:relative;
	margin-bottom:15px;
	background:#fff;
	border:1px solid #c6c6c6;
	}
.invUser .invuRow label{
	position:absolute;
	left:0px;
	top:0px;
	z-index:99;
	padding:10px;
	color:#afadb6;
	font-size:15px;
	}
.invUser .invuRow .invuInput{
	position:relative;
	}
.invUser .invuRow .invuPop{
	position:absolute;
	left:0px;
	top:100%;
	min-width:200px;
	max-width:500px;
	max-height:200px;
	overflow:hidden;
	overflow-y:auto;
	background:#fff;
	border:1px solid #c6c6c6;
	z-index:99;
	display:none;
	}
.invUser .invuRow .invuPop ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.invUser .invuRow .invuPop ul li{
	position:relative;
	border-top:1px solid #c6c6c6;
	padding:8px;
	cursor:pointer;
	}
.invUser .invuRow .invuPop ul li:hover{
	background:#c6c6c6;
	}
.invUser .invuRow .invuPop ul li:first-child{
	border-top:0px;
	}
.invUser .invuRow input[type="text"]{
	position:relative;
	padding:10px 10px 10px 36px;
	border:0px;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	font-size:15px;
	}
.invUser .invuRow textarea{
	position:relative;
	padding:10px;
	border:0px;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	min-height:120px;
	font-size:15px;
	}
.invUser .browsDocList{
	padding:0;
	margin-bottom:10px;
	}
.invUser .browsDocList .bdl_row{
	float:left;
	padding:3px;
	margin:0px;
	}
.invUser .browsDocList .bdl_row .bdlFile{
	background:#f1eff0;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	padding:4px 24px 4px 4px;
	font-size:13px;
	line-height:normal;
	}
.invUser .browsDocList .bdl_row .bdlFile .bdl_delete{
	width:16px;
	height:16px;
	margin-top:-8px;
	right:4px;
	}
	
.userList.amrUI{ border-top:0px;}	
.userList.amrUI .ul_row{
	cursor:default;
	margin-top:10px;
	padding-right:80px;
	}
.userList.amrUI .ul_row h4{
	min-height:50px;
	vertical-align: middle;
  /* fallback for non-Flexbox browsers */
  display: inline-block;
  /* Flexbox browsers */
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  /* vertical centering for legacy, horizontal centering for modern */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* modern Flexbox only */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* legacy Flexbox only */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
	}
	
.amrui_btn{
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-10px;
	height:20px;
	line-height:20px;
	font-size:16px;
	}
.amrui_btn.enable{
	color:#79b925;
	}
.amrui_btn.disable{
	color:#e44e74;
	}
.srchUser.anrsu{
	padding-bottom:0px;
	}
.srchUser.anrsu .su_wrap{
	padding-bottom:0px;
	}
.srchUser.anrsu .su_wrap .su_input .su_col{ margin-bottom:0px;}
.srchUser.anrsu .su_wrap .su_btn{ float:left;}
.srchUser.anrsu .su_wrap .su_btn .su_srch{
	padding:7px 10px;
	min-width:inherit;
	}
	
	
.srchUser.anrsu .su_wrap .su_register{
	float:right;
	color:#fff;
	font-size:18px;
	text-transform:uppercase;
	padding:8px 10px;
	border:0px;
	text-align:center;
	cursor:pointer;
	font-family: "RobotoLight";
	background:#ff9a2d;
	}



.fundAccDetail{ position:relative;}
		.fundAccDetail .fadLeft{ float:left;}
		.fundAccDetail .fadRight{ width:260px; float:right; background:#fff; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px;-o-border-radius:4px;-webkit-border-radius:4px; padding:10px; box-shadow:0 0 3px 0 rgba(0,0,0,0.1); -moz-box-shadow:0 0 3px 0 rgba(0,0,0,0.1); -ms-box-shadow:0 0 3px 0 rgba(0,0,0,0.1); -o-box-shadow:0 0 3px 0 rgba(0,0,0,0.1); -webkit-box-shadow:0 0 3px 0 rgba(0,0,0,0.1);}
		.fundAccDetail .formWrapperContainer .row .input{ width:180px; min-width:inherit;}
		.fundAccDetail .formWrapperContainer .row{ margin-bottom:10px;}
		.fundAccDetail .formWrapperContainer .input_button{ padding-top:0px; padding-left:170px;}
		.fundAccDetail .formWrapperContainer .submit_button{ font-size:19px;}
		
		.fundAccDetail .fadRight h3{ font-size:18px; color:#356592; padding-bottom:10px; border-bottom:1px solid #EBEBEB; font-weight:normal;}
		.fundAccDetail .fadRight .fadrRow{ position:relative; padding-top:10px;}
		.fundAccDetail .fadRight .fadrRow span{ float:right; font-size:16px;}
		.fundAccDetail .fadRight .fadrRow label{ color:#999;}
		.fundAccDetail.fadReg h3{ font-weight:normal; font-size:16px; padding:10px 0; border-bottom:1px solid #ccc; margin-bottom:10px; color:#666;}
		
		
		
		
		
		
.assesment_quiz li.queans .que span{
	color:#ee3923;
}
 .assesment_quiz li.queans .checkbox_button, .checkboxRWrapper{
	font-family: 'RobotoLight';
	padding:0 30px 6px 20px;
	font-size:16px;
	color:#3e3e3e;
    display: block;
	float:left;
	width:25%; 
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	position:relative
}
.assesment_quiz li.queans .checkbox_button label, .checkboxRWrapper label{
	cursor:pointer
}
.assesment_quiz li.queans .checkbox_button label:after, .checkboxRWrapper label:after {
    content: "";  
    width: 16px;  
    height: 16px;  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottombottom: 1px;  
	top:50%;
	margin-top:-10px;
    background-color: #d1d1d1; 
/*	border-radius:75%;
	-moz-border-radius:75%;
	-webkit-border-radius:75%;
	-o-border-radius:75%;
	-ms-border-radius:75%; 
*/}
.assesment_quiz li.queans .checkbox_button input[type=checkbox]:checked + label:after, .checkboxRWrapper input[type=checkbox]:checked + label:after{
	background:#356592 url(../../img/right_icon.png) no-repeat center center;
	background-size:65% auto;
	-moz-background-size:65% auto;
	-webkit-background-size:65% auto;
	-o-background-size:65% auto;
	-ms-background-size:65% auto;
	height: 10px;
	padding: 3px;
	position: absolute;
	width: 10px; 
}
.assesment_quiz li.queans .checkbox_button input, .checkboxRWrapper input{
	position:absolute;
	left:-100000px;
}
                
                .archivalDataList {
    list-style: outside none none;
}
.archivalDataList li {
    border-bottom: 1px solid #dadada;
    color: #3b3b3b;
    font-size: 18px;
    line-height: normal;
    padding: 15px 85px 15px 15px;
    position: relative;
}
.archivalDataList li .archivalDataNo {
    color: #356592;
    font-size: 18px;
    margin-top: -12px;
    position: absolute;
    right: 15px;
    top: 50%;
}
.archivalDataList.archivalDataListNew li {
    padding: 10px 15px;
}
.archivalDataList.archivalDataListNew li .row {
    float: left;
    margin-bottom: 0;
    width: 50%;
}
.archivalDataList.archivalDataListNew .checkboxRWrapper {
    margin-top: 8px;
}
.archivalDataList.archivalDataListNew .row span.select {
    padding: 4px 15px;
}
.boxBtn .bb_btn {
    margin-right: 15px;
    text-align: center;
}
.archivalDataButton {
    display: table;
    margin: 0 auto;
} 
.arcDataList{ position: relative; background: #fff; padding: 10px; margin-bottom: 10px;
             box-shadow:0 0 2px 0 rgba(0,0,0,0.2);
}



select.multiple{
	border:1px solid rgb(198, 198, 198);
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	}
.boxWrap.bwbx{ padding:0px;}
.boxwRow{
	border-bottom:1px solid rgb(198, 198, 198);
	}
.boxWrap .boxwRow .bw_colthird .bw_title{ padding-top:0px; font-size:18px;}
.boxWrap .boxwRow .bw_colthird .bw_box{
	padding:20px 15px;
	}
	
	
	
.scrTitle{
	position:relative;
	padding:15px 30px 15px 15px;
	margin-left:300px;
	background:#356592;
	border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-o-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
	background:#fff;
	box-shadow:0 4px 4px 0 rgba(0,0,0,0.2);
	-moz-box-shadow:0 4px 4px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow:0 4px 4px 0 rgba(0,0,0,0.2);
	-o-box-shadow:0 4px 4px 0 rgba(0,0,0,0.2);
	-ms-box-shadow:0 4px 4px 0 rgba(0,0,0,0.2);
	font-size:18px;
	color:rgb(76, 76, 76);
	border-bottom:1px solid #ccc;
	}
.sc_rightpanel.scrBr{
	border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
	-webkit-border-radius:0 0 6px 6px;
	-o-border-radius:0 0 6px 6px;
	-ms-border-radius:0 0 6px 6px;
	}
	
.scrEdit{
	position:absolute;
	right:10px;
	width:24px;
	height:24px;
	margin-top:-12px;
	top:50%;
	background-image:url(../../img/edit_normal.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	cursor:pointer;
	}
.scrEdit:hover{
	background-image:url(../../img/edit_hover.png);
	}
	
.asListQues.assesmentList ul li a{
	min-height:60px;
	padding-bottom:10px;
	}

        .table_box_shadow {
	background-color: #FFFFFF;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
	border: 0;
}
.textContainer .category_list {
	padding: 0;
	color: #000000;
	padding-left: 20px;
	padding-bottom: 10px;
	font-size: 15px;
}
.boxWrap_add_new_condition {
	padding: 15px !important;
}
.boxWrap_add_new_condition.boxWrap span.select {
	min-width: 220px;
}
.textContainer .category_list li {
	font-family: 'RobotoLight';
	padding-bottom: 10px;
	line-height: normal
}
.textContainer .category_list_heading {
	color: #000000;
	font-family: "RobotoCondensedRegular";
	font-size: 18px;
	line-height: normal;
	padding-bottom: 5px;
}
        
        .cb_Grid {
	position: relative;
	background: #fff;
	border: 1px solid #b9b9b9;
}
.cb_Grid .row {
	position: relative;
	border-bottom: 1px solid #e5e5e5;
}
.cb_Grid .row.head {
	background: #e2e2e2;
}
.cb_Grid .row:last-child {
	border-bottom: 0px;
}
.cb_Grid .row .col {
	float: left;
}
.cb_Grid .row .col .txt, .cb_Grid .row .col .txt1 {
	text-align: center;
	display: block;
	padding: 10px 4px;
	border-left: 1px solid #e5e5e5;
	font-size: 14px;
	position: relative
}
.cb_Grid .row.head .col .txt {
	color: #5e5e5e;
	font-family: "RobotoCondensedRegular";
	font-size: 17px;
}
.cb_Grid .row .col .txt a {
	color: #5973b6;
	text-decoration: underline;
	font-style: italic;
}
.cb_Grid .row .col .txt.right {
	text-align: right;
	background-color: #b8b8b8;
}
.cb_Grid .row .col .txt.bdrnone {
	border: 0;
	background-color: #b8b8b8;
}
.cb_Grid .row.head .col .txt {
	border-left: 1px solid #e5e5e5;
}
.cb_Grid .row .col:first-child .txt {
	border-left: 0px;
}
.cb_Grid .row .col ul.action {
	margin: 0 auto;
	display: table;
	padding: 0px;
	list-style: none;
}
.cb_Grid .row .col ul.action li {
	float: left;
	padding: 0 4px;
}
.cb_Grid .row .col ul.action li:first-child {
	border-left: 0px;
}
.cb_Grid .row .col ul.action li a {
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 75%;
	-moz-border-radius: 75%;
	-webkit-border-radius: 75%;
	-o-border-radius: 75%;
	-ms-border-radius: 75%;
	text-indent: -9999px;
	background: url(../../img/action_button_sprite.png) no-repeat center top;
	background-repeat: no-repeat;
	background-size: 25px 175px;
	-moz-background-size: 25px 175px;
	-webkit-background-size: 25px 175px;
	-o-background-size: 25px 175px;
	-ms-background-size: 25px 175px;
}
.cb_Grid .row .col ul.action li.view a {
	background-color: #356592;
}
.cb_Grid .row .col ul.action li.edit a {
	background-color: #356592;
	background-position: 0 -25px;
}
.cb_Grid .row .col ul.action li.delete a {
	background-color: #ee3923;
	background-position: 0 -50px;
}
.cb_Grid .row .col ul.action li.play a {
	background-color: #356592;
	background-position: 0 -75px;
}
.cb_Grid .row .col ul.action li.pause a {
	background-color: #356592;
	background-position: 0 -100px;
}
.cb_Grid .row .col ul.action li.add a {
	background-color: #356592;
	background-position: 0 -125px;
}
.cb_Grid .row .col ul.action li:hover a {
	background-color: #3b3b3b
}
.cb_Grid .row .col ul.action li.arrowD a {
	background-image: url(../img/arrow_down.png);
}
.cb_GridD {
	background-color: #f4f4f4 !important;
	border-radius: 0;
	display: none
}
.cb_GridD .row, .cb_GridD .row.head {
	border-bottom: #cccccc 1px solid;
}
.cb_GridD .row .col .txt, .cb_GridD .row .col .txt1 {
	border-left: #cccccc 1px solid;
	color: #7d7d7d;
	font-size: 14px
}
.cb_GridD .row.head .col:first-child .txt, .cb_GridD .row.head .col:first-child .txt1 {
	border-left: 0 !important;
}
.cb_GridD .row.head .col .txt, .cb_GridD .row.head .col .txt1 {
	border-left: 1px solid #cccccc !important;
	color: #0866b3;
	font-weight: bold;
	font-size: 14px
}
.cb_Grid .DDrow .row {
	border-bottom: 1px solid #CCCCCC
}
.cb_Grid .wd5 {
	width: 5%;
}
.cb_Grid .wd10 {
	width: 10%;
}
.cb_Grid .wd15 {
	width: 15%;
}
.cb_Grid .wd20 {
	width: 20%;
}
.cb_Grid .wd25 {
	width: 25%;
}
.cb_Grid .wd30 {
	width: 30%;
}
.cb_Grid .wd35 {
	width: 35%;
}
.cb_Grid .wd40 {
	width: 40%;
}
.cb_Grid .wd45 {
	width: 45%;
}
.cb_Grid .wd50 {
	width: 50%;
}
.cb_Grid .wd55 {
	width: 55%;
}
.cb_Grid .wd60 {
	width: 60%;
}
.cb_Grid .wd65 {
	width: 65%;
}
.cb_Grid .wd70 {
	width: 70%;
}
.cb_Grid .wd75 {
	width: 75%;
}
.cb_Grid .wd80 {
	width: 80%;
}
.cb_Grid .wd85 {
	width: 85%;
}
.cb_Grid .wd90 {
	width: 90%;
}
.cb_Grid .wd95 {
	width: 95%;
}
.cb_Grid .wd100 {
	width: auto;
}