/* * ***********************
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Vishal Verma.
*/
div,li,span{word-wrap:break-word;}	
#footer{
    background:none!important;
}	
#footer .copyrights{
    color:#767676;
    /*float:none!important;*/
    text-align:center;
}
.userList{
    position:relative;
    padding:0;
}
.userList .ul_row{
    position:relative;
    background-color:#fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    padding-left:80px;
    border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    -webkit-border-radius:6px;
    margin-top:20px;
    min-height:40px;
    border:1px solid #fff;
}
.userList .ul_row .col{
    float:left;
}
.userList .ul_row .wd5{
    width:5%;
}
.userList .ul_row .wd10{
    width:10%;
}
.userList .ul_row .wd20{
    width:20%;
}
.userList .ul_row .wd30{
    width:30%;
}
.userList .ul_row .wd40{
    width:40%;
}
.userList .ul_row .wd50{
    width:50%;
}
.userList .ul_row .wd60{
    width:60%;
}
.userList .ul_row .wd70{
    width:70%;
}
.userList .ul_row .wd80{
    width:80%;
}
.userList .ul_row .wd100{
    width:100%;
}
.userList .ul_row ul.mesurement{
    list-style:none;
    display:table;
    width:100%;
}
.userList .ul_row ul.mesurement li{
    /*	width:33.3333%;
    */	text-align:center;
    border-right:#c8c8c8 1px dashed;
    display:table-cell;
    vertical-align:middle;
}
.userList .ul_row ul.mesurement li:last-child{
    border-right:0;
}
.userList .ul_row p{
    font-size:16px;
    color:#636363;
    line-height: normal;
}
.userList .ul_row .arrow{
    width:12px;
    height:18px;
    position:relative;
    right:0;
    top:3px;
    display:inline-block
}
.userList .ul_row .arrow.high{
    background:url(../../img/arrow_high.png) no-repeat center center;
    background-size:12px auto;
    -moz-background-size:12px auto;
    -webkit-background-size:12px auto;
    -o-background-size:12px auto;
    -ms-background-size:12px auto;

}
.userList .ul_row .arrow.low{
    background:url(../../img/arrow_low.png) no-repeat center center;
    background-size:12px auto;
    -moz-background-size:12px auto;
    -webkit-background-size:12px auto;
    -o-background-size:12px auto;
    -ms-background-size:12px auto;
}
.userList .ul_row .actButtonWrap{
    padding-top:2px;
}
.userList .ul_row .actButtonWrap a{
    padding-right:10px;
    display:inline-block;
    color:#356592 !important;
}
.userList .ul_row .actButtonWrap a:hover{
    text-decoration:underline !important
}
.userList .ul_row .actionButton a{
    display:block;
    width:25px;
    height:25px;
    border-radius:75%;
    -moz-border-radius:75%;
    -webkit-border-radius:75%;
    -o-border-radius:75%;
    -ms-border-radius:75%;
    text-indent:-9999px;
    background:url(../../img/action_button_sprite.png) no-repeat center top;
    background-repeat:no-repeat;
    background-size:25px 175px;
    -moz-background-size:25px 175px;
    -webkit-background-size:25px 175px;
    -o-background-size:25px 175px;
    -ms-background-size:25px 175px;
}
.userList .ul_row .actionButton .button{
    margin:4px auto;
    display:inline-block;
}
.userList .ul_row .actionButton .resend a{
    background-color:#356592;
    background-position:0 -150px;
}
.userList .ul_row .actionButton .delete a{
    background-color:#ee3923;
    background-position:0 -50px;
}
.global_actionButton{
    text-align:center;
    background-color:#356592;
    padding:8px 15px;
    color:#FFFFFF !important;
    text-decoration:none !important;
    font-style:normal !important;
    display:inline-block;
    min-width:60px;
    font-size:18px;
    margin:0 10px 0 auto;
}

.userList .ul_row ul.mesurement li span.measure{
    font-size:14px;
    line-height:normal;
    position:relative;
    padding-right:0;
    color:#c8c8c8;
}
.userList .ul_row:hover{
    border:1px solid #D8D8D8;
}

.userList .ul_row .ul_photo{
    position:absolute;
    left:10px;
    top:6px;
    width:56px;
    height:56px;
    border:2px solid #e2dfdf;
    border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
    -webkit-border-radius:100%;
    background-image:url(../../img/photo.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    overflow:hidden;
}
.userList .ul_row .ul_photo img{
    vertical-align:top;
    width:100%;
    height:100%;
}
.userList .ul_row h4{
    font-weight:normal;
    font-size:18px;
    color:#878787;
}
.userList .ul_row h5{
    font-weight:normal;
    font-size:16px;
    color:#bbbbbb;
    padding-top:4px;
}
.userList .ul_row h6{
    font-weight:normal;
    font-size:13px;
    color:#bbbbbb;
    font-style:italic;
    padding-bottom:4px;
}
.userList .ul_row p{
    font-size:14px;
    color:#666;
}

.srchUser{
    position:relative;
}
.srchUser .su_title{
    position:relative;
    padding:10px 10px 10px 35px;
    font-size:20px;
    color:#356592;
}
.srchUser .su_title span.icon{
    position:absolute;
    left:5px;
    top:10px;
    width:24px;
    height:24px;
    background-image:url(../../img/search_icon.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    display:block;
    text-indent:-9999px;
}

.srchUser .su_wrap{
    position:relative;
    padding:10px 0 30px 0;
}
.srchUser .su_wrap .su_input .su_col{
    float:left;
    width:25%;
    margin-bottom:10px;
}
.srchUser .su_wrap .su_input .su_col div.input{
    background:#fff;
    margin:0 5px;
    padding:0 10px;
    border:#c6c6c6 1px solid;
    position:relative;
}
.srchUser .su_wrap .su_input .su_col div.input.focus{
    border:#356592 1px solid
}
.srchUser .su_wrap .su_input .su_col div.input input{
    border: 0;
    color:#000;
    font-family: "RobotoLight";
    font-size: 15px;
    padding:8px 0;
    width: 100%;
}
.srchUser .su_wrap .su_input .su_col div.select{ padding:0px;}
.srchUser .su_wrap .su_input .su_col div.select span.select{
    display:block;
    color:#000;
    font-family: "RobotoLight";
    font-size: 15px;
    padding:10px;
    background: url(../../img/select_arrow.png) no-repeat right center;
}
.srchUser .su_wrap .su_input .su_col div.select select.select{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    cursor:pointer;
}
.srchUser .su_wrap .su_input .su_col div.select .arrow{
    position:absolute;
    right:0px;
    top:0px;
    width:30px;
    height:100%;
    background:#bababa;
    border-left:1px solid #a4a4a4;
}
.srchUser .su_wrap .su_input .su_col div.select .arrow span.icon{
    position:absolute;
    left:50%;
    top:50%;
    width:10px;
    height:10px;
    margin:-5px 0 0 -5px;
    background-image:url(../../img/arrow_down.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    z-index:9;
}
.srchUser .su_wrap .su_btn{
    position:relative;
    margin:0 5px;
}
.srchUser .su_wrap .su_btn .su_srch,.srchUser .su_wrap .su_btn .su_reset{
    float:left;
    margin-right:10px;
    color:#fff;
    font-size:18px;
    text-transform:uppercase;
    min-width:180px;
    padding:10px;
    border:0px;
    text-align:center;
    cursor:pointer;
    font-family: "RobotoLight";
}
.srchUser .su_wrap .su_btn .su_srch{
    background:#356592;
}
.srchUser .su_wrap .su_btn .su_reset{
    background:#ff9a2d;
}

#userSrchData .formWrapperContainer{
    padding:20px;
}
#userSrchData .gppbxContainer{ min-height:200px;}

#userSrchData .formWrapperContainer .checkbox_col{
    width:auto;
    margin-left:40px;
}
#userSrchData .formWrapperContainer .checkbox_col:first-child{
    margin-left:0px;
}

#userSrchData .formWrapperContainer .input_button{
    width:200px;
    margin:0 auto;
    padding:0px;
}
.grobalPopup .linksPages{
    text-align:right;
}
/**15-12-14**/

/**Becon details page start here**/
.beaconDtlPge .becon_navigation{
    background-color: #f5f5f5;
    float: left;
    min-height: 280px;
    width: 180px;
    box-shadow:0 0 4px 3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 0 4px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow:0 0 4px 3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow:0 0 4px 3px rgba(0, 0, 0, 0.1) inset;
    -ms-box-shadow:0 0 4px 3px rgba(0, 0, 0, 0.1) inset;
}
.beaconDtlPge .becon_Activity{
    margin-left:180px;
    padding:0;
}
.table_box_shadow{
    box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
    border:0;
}
.beaconDtlPge .becon_navigation li{
    list-style:none;
    border-bottom:1px solid #dadada;
    border-right:1px solid #dadada;
    padding:0;
    font-size:16px;
    font-family:robotoLight;
    line-height:normal;
    cursor:pointer;
    word-break:break-all;
    position:relative
}
.beaconDtlPge .becon_navigation li .beacon_name{
    padding:10px 10px 10px 35px;
    display: block
}
.beaconDtlPge .becon_navigation li:last-child{
    border-bottom:0;
}
.beaconDtlPge .becon_navigation li:hover,.beaconDtlPge .becon_navigation li.active{
    border-right:1px solid #356592;
    background-color:#356592;
    color:#fff;
}
.beaconDtlPge .becon_navigation li:hover:after,.beaconDtlPge .becon_navigation li.active:after{
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid #fff;
    border-top: 8px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    margin-top: -8px;
    position: absolute;
    right: -1px;
    top: 50%;
    width: 0;
}
.beaconDtlPge .becon_navigation li .editbecon{
    background:url(../../img/caregiver_more_icon.png) no-repeat center center;
    width:40px;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}
.beaconDtlPge .becon_navigation li .editbecon .ddMenu{
    background-color:#bebebe;
    width:80px;
    position:absolute;
    top:100%;
    left:0;
    display:none;
    overflow:inherit !important;
    z-index:10;
}
.beaconDtlPge .becon_navigation li .editbecon:hover .ddMenu{
    display:block
}
.beaconDtlPge .becon_navigation li .editbecon .ddMenu:after{
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 6px solid #bebebe;
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    position: absolute;
    left: 14px;
    top: -5px;
    width: 0;
}
.beaconDtlPge .becon_navigation li .editbecon .ddMenu a{
    color:#FFFFFF;
    padding:6px 15px;
    display:block;
}
.beaconDtlPge .becon_navigation li .editbecon .ddMenu a:hover{
    background-color:#80a1f9;
}
.Advanced_SearchButton{
    background:#356592 url(../../img/search_advanced_icon.png) no-repeat center center;
    width:53px;
    height:100%;
    position:absolute;
    right:0;
    cursor:pointer;
    top:0;
}
.Advanced_SearchButton.active{
    background:#ee3923 url(../../img/cross_icon.png) no-repeat center center;
}
.advancedPeopleSearch{
    display:none
}
.advancedPeopleSearch .searchFormAdv{
    position:relative;
}
.advancedPeopleSearch .bw_colthird.lastBox .bw_box{
    padding-right:60px;
}
.advancedPeopleSearch .searchFormAdv .bw_colthird .bw_box{
    padding-bottom:0;
    border-bottom:0;
}
.advancedPeopleSearch .searchFormAdv .bw_box{
    padding-top:0 !important;
}
.advancedPeopleSearch .searchFormAdv .boxBtn{
    position:absolute;
    bottom:0;
    right:10px;
    padding:0;
}
.actionButtonWrapper{
    display:table;
    margin:0 5px 0 auto;
}
.beaconDtlPge .becon_Activity .time_paragraph{
    font-size:14px;
    padding:12px 10px;
    color:#858585
}
.beaconDtlPge{
    background-color:#FFFFFF
}
.beaconDtlPge .becon_Activity .date{
    background-color:#f4f4f4;
    font-weight:bold
}
.CareInviteUsers{
    padding:20px;
}
.CareInviteUsers .emailfiledsWrap{
    margin-right:42px;
}
.CareInviteUsers .addEmailButton{
    width:38px;
    height:38px;
    display:block;
    position:absolute;
    background:url(../../img/add_icon_normal.png) no-repeat center center;
    right:0;
    top:0;
    text-indent:-100000px;
}
.CareInviteUsers .heading03_label{
    font-weight:normal;
    font-family:robotoLight;
    color:#939393;
    line-height:normal;
    padding-bottom:10px;
    font-size:16px
}
.CareInviteUsers .addEmailButton:active{
    background:url(../../img/add_icon_hover.png) no-repeat center center;
}
.CareInviteUsers .e_ids li{
    border: 1px solid #c6c6c6;
    display: inline-block;
    list-style:none;
    margin-right: 10px;
    font-family:robotoLight;
    color:#adadad;
    font-size:14px;
    max-width:160px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding: 6px 30px 6px 10px;
    position:relative;
}
.CareInviteUsers .e_ids li .daleteEmailID{
    background-color: #ee3923;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 24px;
}
.formWrapperContainer .row.last{
    margin-bottom:0;
}
.caregiverUserDetails{
    padding:10px 0 10px 110px;
    position:relative;
}
.caregiverUserDetails .user_img{
    width:80px;
    height:80px;
    position:absolute;
    left:20px;
    overflow:hidden;
    border-radius:75%;
    -moz-border-radius:75%;
    -webkit-border-radius:75%;
    -o-border-radius:75%;
    -ms-border-radius:75%;
    margin:0 10px 10px 0
}
.caregiverUserDetails .user_img img{
    height:100%;
}
.caregiverUserDetails .name{
    color: #414141;
    font-size: 26px;
    font-weight: normal;
    line-height: normal;
    padding:2px 0 0;
}
.caregiverUserDetails .address{
    font-size:16px;
    color:#686868;
    line-height:normal;
    padding:2px 0 0;
}
.caregiverUserDetails .description{
    font-size:15px;
    color:#414141;
    line-height:normal;
    padding:2px 0 0;
}
/**Becon details page end here**/

/**Track Moves page start here**/
.commutations_graph{
    list-style:none;
    font-family:"RobotoCondensedRegular";
    margin:6px 20px;
}
.commutations_graph li{ 
    border-bottom:#e1e1e1 1px solid;
    padding:12px 8px 8px 20px;
    font-size:20px;
    color:#747474;
    display:block;
    position:relative
}
.commutations_graph .walk{
    border-left:#e1e1e1 10px solid;
}
.commutations_graph li .time{
    padding-right:50px;
    display:inline-block;
}
.commutations_graph li .task{
    font-family:"RobotoLight";
    display:inline-block;
    color:#3f3f3f;
}
.commutations_graph li .icon{
    background:#FFFFFF url(../../img/commutations_graph_icon.png) no-repeat;
    display: block;
    height: 40px;
    left: -23px;
    position: absolute;
    top: 0;
    width: 40px;
    border-radius:75%;
    -moz-border-radius:75%;
    -webkit-border-radius:75%;
    -o-border-radius:75%;
    -ms-border-radius:75%;
    z-index:10
}
.commutations_graph li .work_icon{
    background-position:0 -40px;
}
.commutations_graph li.heading{
    padding:8px 8px 8px 20px;
    border-bottom:0;
}
.commutations_graph li.heading .time{
    color:#000000;
}
.commutations_graph .cycle{
    border-left:#e59131 10px solid;
}
.commutations_graph .work{
    border-left:#1968cd 10px solid;
}
.commutations_graph .bullet{
    background-color:#e1e1e1;
    width:6px;
    height:6px;
    position:absolute;
    right:0;
    bottom:-3px;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    -o-border-radius:20px;
    -ms-border-radius:20px;
}
.AddGeofence{
    background:url(../../img/add_icon_normal.png) no-repeat left center;
    background-size:20px auto;
    -moz-background-size:20px auto;
    -webkit-background-size:20px auto;
    -o-background-size:20px auto;
    -ms-background-size:20px auto;
    float: right;
    font-size: 15px;
    height: 20px;
    padding: 0 0 0 25px;
    color:#000000;
}
.AddGeofence:active,.AddGeofence:hover{
    background:url(../../img/add_icon_hover.png) no-repeat left center;
    background-size:20px auto;
    -moz-background-size:20px auto;
    -webkit-background-size:20px auto;
    -o-background-size:20px auto;
    -ms-background-size:20px auto;
    color:#356592;
}
/**Track Moves page end here**/

/**Follow on GPS page start here**/
.pageWrapper .graphBox{
    background-color:#FFFFFF;
    box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
    padding:0;
}
.pageWrapper .graphRow{
    margin-bottom:20px;
    position:relative
}
.pageWrapper .doubleGraphRow .graphRow{
    float:left;
    width:49%;
    margin-right:2%
}
.pageWrapper .doubleGraphRow .graphRow.last{
    margin-right:0
}
.pageWrapper .graphBox .graph img{
    max-width:100%;
}
.pageWrapper .editGpstable tr > td{
    border-top:#c4c4c4 1px solid;
    padding:10px;
    color:#3e3e3e;
    font-family:robotoLight;
    font-size:15px;
    position:relative;
}
.pageWrapper .editGpstable tr > .heading{
    background-color: #356592;
    color: #ffffff;
}
.bw_bmi_add{
    padding:10px 10px 20px;
}
.boxWrap .bw_title{
    padding:10px !important
}
#radius_range_slider{
    margin-right:68px;
    border:0;
    background-color:#dadada;
    height: 8px;
    position:relative;
}
#radius_range_slider.ui-slider .ui-slider-handle{
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    background-color:#FFFFFF;
    background:url(../../img/range_slider_nob.png) no-repeat;
    border:0;
    height: 27px;
    width: 27px;
    margin-top:-6px;
}
.radius_distance{
    position:absolute;
    right:10px;
    top:10px;
}
.radius_distance #amount{
    border:0;
    padding:0;
    width:45px;
}
.ui-slider .ui-slider-range{
    background-color:#e54b3c;
    border:0;
}
.switch {
    position:absolute;
    right:14px;
    top:50%;
    margin-top:-12px;
    height: 24px;
    width: 64px;
    background:#fff;
    border:1px solid #ccc;
    border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    -webkit-border-radius:12px;
}

.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 30px;
    line-height: 24px;
    font-size: 12px;
    color:#777;
    text-align: center;
    cursor: pointer;
}
.switch-label:active {
    font-weight: bold;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
    display: none;
}
.switch-input:checked + .switch-label {
    color:#fff;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 32px;
    /* Note: left: 50% doesn't transition in WebKit */
}

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 20px;
    line-height:20px;
    background:#356592;

    border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    -webkit-border-radius:12px;

    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}
.editGpstable .row{
    margin-bottom:0 !important;
}
.editGpstable .row span.select{
    text-align:left
}
.formWrapperContainer .row span.select {
    padding-right:20px !important;
}
/**Follow on GPS page end here**/

/**Subscription page start here**/
.subplanList{
    list-style:none;
    display:table;
    width:80% !important;
    margin:0 auto;
}
.subplanList .planBox{
    width:250px;
    height:260px;
    border:#afafaf 1px solid;
    text-align:center;
    position:relative;
    padding-bottom:35px;
    font-size:20px;
    line-height:normal;
    color:#898989;
    margin-right:0;
    margin:0 auto
}
.subplanList .planBox .planName{
    background-color:#ff5c48;
    color:#fff;
    font-size:24px;
    padding:8px 10px;
}
.subplanList .planBox .userIcon{
    background:url(../../img/user_icon_for_plan.png) no-repeat;
    display: table;
    height: 40px;
    margin: 0 auto;
    padding: 15px 0 15px 120px;
}
.subplanList .planBox .Buyplan{
    background-color: #356592;
    color: #ffffff;
    display: block;
    font-size: 24px;
    padding: 8px 0;
    width:100%;
    border:0;
    cursor:pointer;
    position:absolute;
    left:0;
    bottom:0;
}
.subplanList .planBox .plan_desc{
    padding:50px 0 0 0
}
.subplanList .owl-buttons{
    position:absolute;
    top:50%;
    margin-top:-15px;
}
.subplanList .owl-controls .owl-buttons{
    width:100%;
}
.subplanList .owl-controls .owl-buttons div{
    position:absolute;
    width:30px;
    height:30px;
    background-color:#356592 !important;
    background-repeat:no-repeat;
    background-position:center center !important;
    opacity:1 !important;
    -moz-opacity:1 !important;
    -webkit-opacity:1 !important;
    top:50%;
    margin:0px !important;
    opacity:1;
    text-indent:-9999px;
    border-radius:0px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
    -webkit-border-radius:0px;
    display:block;
    padding:4px !important;
}
.subplanList .owl-controls .owl-buttons .owl-prev{
    left:-40px;
    background-image:url(../../img/arrow_left.png);
}
.subplanList .owl-controls .owl-buttons .owl-next{
    right:-40px;
    background-image:url(../../img/arrow_right.png);
}
.subplanList .owl-controls .owl-buttons .disabled{
    opacity:0.2!important;
    -moz-opacity:0.2!important;
    -webkit-opacity:0.2!important;
    cursor:default
}
.cb_Grid{
    position:relative;
    background:#fff;
    border:1px solid #e5e5e5;
}
.cb_Grid .row{
    position:relative;
    border-bottom:1px solid #e5e5e5;
}
.cb_Grid .row.head{
    background:#e2e2e2;
}
.cb_Grid .row:last-child{ border-bottom:0px;}
.cb_Grid .row .col{
    float:left;
}
.cb_Grid .row .col .txt,.cb_Grid .row .col .txt1{
    text-align:center;
    display:block;
    padding:10px 4px;
    border-left:1px solid #e5e5e5;
    font-size:14px;
    position:relative
}
.cb_Grid .row.head .col .txt{
    color: #5e5e5e;
    font-family: "RobotoCondensedRegular";
    font-size: 17px;
}
.cb_Grid .row .col .txt a{
    color:#5973b6;
    text-decoration:underline;
    font-style:italic;
}
.cb_Grid .row .col .txt.right{
    text-align:right;
    background-color:#b8b8b8;
}
.cb_Grid .row .col .txt.bdrnone{
    border:0;
    background-color:#b8b8b8;
}
.cb_Grid .row.head .col .txt{ border-left:1px solid #e5e5e5;}
.cb_Grid .row .col:first-child .txt{ border-left:0px;}
.cb_Grid .wd5{ width:5%;}
.cb_Grid .wd10{ width:10%;}
.cb_Grid .wd15{ width:15%;}
.cb_Grid .wd20{ width:20%;}
.cb_Grid .wd25{ width:25%;}
.cb_Grid .wd30{ width:30%;}
.cb_Grid .wd35{ width:35%;}
.cb_Grid .wd40{ width:40%;}
.cb_Grid .wd45{ width:45%;}
.cb_Grid .wd50{ width:50%;}
.cb_Grid .wd55{ width:55%;}
.cb_Grid .wd60{ width:60%;}
.cb_Grid .wd65{ width:65%;}
.cb_Grid .wd70{ width:70%;}
.cb_Grid .wd75{ width:75%;}
.cb_Grid .wd80{ width:80%;}
.cb_Grid .wd85{ width:85%;}
.cb_Grid .wd90{ width:90%;}
.cb_Grid .wd95{ width:95%;}
.cb_Grid .wd100{ width:auto;}
ul.action{
    margin:0 auto;
    display:table;
    padding:0px;
    list-style:none;
}
ul.action li{
    float:left;
    padding:0 10px 0 0 !important;
    border:0 !important;
}
ul.action li:first-child{ border-left:0px;}
ul.action li a{
    display:block;
    width:25px;
    height:25px;
    border-radius:75%;
    -moz-border-radius:75%;
    -webkit-border-radius:75%;
    -o-border-radius:75%;
    -ms-border-radius:75%;
    text-indent:-9999px;
    background:url(../../img/action_button_sprite.png) no-repeat center top;
    background-repeat:no-repeat;
    background-size:25px 175px;
    -moz-background-size:25px 175px;
    -webkit-background-size:25px 175px;
    -o-background-size:25px 175px;
    -ms-background-size:25px 175px;
}
ul.action li.view a{
    background-color:#356592;
}
ul.action li.edit a{
    background-color:#356592;
    background-position:0 -25px;
}
ul.action li.delete a{
    background-color:#ee3923;
    background-position:0 -50px;
}
ul.action li.play a{
    background-color:#356592;
    background-position:0 -75px;
}
ul.action li.pause a{
    background-color:#356592;
    background-position:0 -100px;
}
ul.action li.add a{
    background-color:#356592;
    background-position:0 -125px;
}
ul.action li:hover a{
    background-color:#3b3b3b
}
ul.action li.arrowD a{
    background-image:url(../img/arrow_down.png);
}
.bw_list .bwl_delete{
    width:auto !important
}
.setRulesList li{
    padding-right:85px !important;
}
.man-star{
    color:#B90003
}
/**Subscription page end here**/

/**Media CSS start here**/
@media screen and (max-width:1024px){
    .userList .ul_row{
        padding-left:72px;
    }
    .userList .ul_row h4{
        font-size:16px;
    }
    .userList .ul_row h5{
        font-size:15px;
    }
    .userList .ul_row .ul_photo{
        width:50px;
        height:50px;
    }
    .userList .ul_row ul.mesurement li span.measure{
        font-size:14px;
    }
    .userList .ul_row .arrow.high{
        background:url(../../img/arrow_high.png) no-repeat center center;
        background-size:12px auto;
        -moz-background-size:12px auto;
        -webkit-background-size:12px auto;
        -o-background-size:12px auto;
        -ms-background-size:12px auto;
        height:20px;
    }
    .userList .ul_row .arrow.low{
        background:url(../../img/arrow_low.png) no-repeat center center;
        background-size:12px auto;
        -moz-background-size:12px auto;
        -webkit-background-size:12px auto;
        -o-background-size:12px auto;
        -ms-background-size:12px auto;
        height:20px;
    }
}
@media screen and (max-width:640px){
    .userList .ul_row .wd50{
        float:none;
        width:100%;
    }
    .userList .ul_row .wd50.measureCol{
        padding-top: 10px; 
        margin-top: 10px; 
        border-top: 1px solid #D4D4D4;
    }
    .userList .ul_row ul.mesurement li:first-child{
        text-align:left;
    }
}
/**Media CSS end here**/

/* Study CSS (Admin Pass) start here */
.pgh_mT{
    border-bottom: 1px solid #356592;
    height: 22px;
    position: relative;
    padding:14px 20px;
}
.pgh_mT h3{
    float:left;
    color:#356592;
    font-size:18px;
    font-weight:normal;
}
.pgh_mT h3 a{ color:#356592}
.pgh_mT h3 a:hover{ text-decoration:underline;}
.pgh_mT h3 span{ color:#000;}
.pgh_mT .create-new{
    position:absolute;
    right:20px;
    top:8px;
    display:block;
    padding:8px 10px;
    background:#ff8400;
    color:#fff;
    font-size:18px;
    text-transform:uppercase;
    font-family: 'RobotoLight';
}
.pgh_mT .create-new:hover{ opacity:0.8;}
.browsDoc{
    position:relative;
    padding-bottom:20px;
    padding-top:10px;
}
.browsDoc .bd_btn{
    position:relative;
    color:#fff;
    font-family: "RobotoLight";
    font-size: 18px;
    padding: 10px 20px;
    display:block;
    background:#ff8400;
    text-transform:uppercase;
    cursor:pointer;
    width:100px;
    text-align:center;
    overflow:hidden;
}
.browsDoc .bd_btn:hover{
    opacity:0.9;
}
.browsDoc .bd_btn input{
    position:absolute;
    left:-9999px;
    opacity:0;
}
.browsDocList{
    position:relative;
}
.browsDocList .bdl_row{
    margin-bottom:8px;
    color:#b1b1b1;
    font-size:15px;
}
.browsDocList .bdl_row .bdlFile{
    position:relative;
    float:left;
    padding-right:34px;
    height:24px;
    line-height:20px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    max-width:90%;
}
.browsDocList .bdl_row .bdlFile span.index{
    padding-right:10px;
}

.browsDocList .bdl_row .bdlFile .bdl_delete{
    position:absolute;
    right:0px;
    top:50%;
    width:24px;
    height:24px;
    text-indent:-9999px;
    background-image:url(../../img/dlt_icon_normal.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin-top:-12px;
    cursor:pointer;
}
.browsDocList .bdl_row .bdlFile .bdl_delete:hover{
    background-image:url(../../img/dlt_icon_hover.png);
}
.formulaSetup{
    position:relative;
}
.formulaSetup .fsTitle{
    position:relative;
    background:#e7e7e7;
    padding:20px 10px;
    border-top:1px solid #dadada;
    border-bottom:1px solid #dadada;
    color:#4c4c4c;
    font-size:20px;
    margin-bottom:30px;
}
.formulaSetup .fsTitle h4{
    font-weight:normal;
    float:left;
    padding-right:40px;
    position:relative;
}
.formulaSetup .fsTitle .infoBtn{
    position:absolute;
    right:0px;
    top:50%;
    width:26px;
    height:26px;
    margin-top:-13px;
    background-image:url(../../img/info.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    text-indent:-9999px;
    cursor:pointer;
}

.formulaSetup .fsCondition{
    position:relative;
    border:1px solid #dadada;
    border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    -webkit-border-radius:5px;
    padding:30px 20px 20px 20px;
    margin-bottom:30px;
}
.fsCondition .fscTitle{
    position:absolute;
    left:15px;
    top:-5px;
    height:20px;
    line-height:20px;
    padding:5px 20px;
    margin-top:-12px;
    background:#dadada;
    border-radius:20px;
    color:#777777;
    font-size:16px;
}
.fsCondition.formWrapperContainer .row span.select{
    background-color:#fff;
    padding-right:30px;
}
.fsCondition.formWrapperContainer .fsRow{
    margin-bottom:0px;
}
.fsCondition .fsRow .fsr_cols{
    float:left;
    position:relative;
    margin-right:10px;
}
.fsCondition .fsRow .fsr_cols div.select{
    position:relative;
}

.fsCondition .fsRow .fsr_cols.setFsc{
    padding-right:34px;
    width:200px;
    position:absolute;
    left:0px;
    top:0px;
    margin:0px;
}
.fsCondition .fsRow .fsr_cols.setFsc:after{
    content:'=';
    position:absolute;
    right:0px;
    top:50%;
    font-size:20px;
    color:#777777;
    width:24px;
    height:24px;
    line-height:24px;
    margin-top:-12px;
    text-align:center;
}
.fsCondition .fsr_fRow{
    position:relative;
    padding-left:244px;
}

.fsCondition .fsRow .fsr_cols.fsrAction{
    width:60px;
}
.fsCondition .fsRow .fsr_fRow .fsr_cols{
    margin-bottom:10px;
}
.fsCondition .adnoset{
    position:relative;
    padding-left:244px;
}

.fsrcTxt{
    padding:10px 0;
    color:#777777;
    font-size:16px;
}


.setFormulaBtn{
    position:absolute;
    right:10px;
    top:12px;
    padding:8px 8px 8px 30px;
    color:#ff8400;
    font-size:15px;
    cursor:pointer;
}
.setFormulaBtn span.icon{
    display:block;
    position:absolute;
    left:0px;
    top:50%;
    width:26px;
    height:26px;
    margin-top:-13px;
    background-image:url(../../img/add_icon_normal_orange.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.setFormulaBtn:hover{
    opacity:0.9;
}

.expMp.popuBxWrap .gppbxContainer{
    width:400px;
    margin-left:-200px;
    min-height:200px;
}
.expMp.popuBxWrap .formWrapperContainer{
    padding:20px;
}
.expMp.popuBxWrap .formWrapperContainer .checkbox_col{
    float:none;
    width:auto;
    position:relative;
}
.expMp.popuBxWrap .formWrapperContainer .checkbox_col span.radio{ margin-top:-15px;}
.expMp.popuBxWrap .formWrapperContainer .checkbox_col label{ display:block; padding-top:0px;}
.userList.slmsisList{
    margin:0px;
    padding:0px;
    border:0px;
}
.slmsisList ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.slmsisList ul li{
    float:left;
    width:50%;
}
.slmsisList ul li .ul_row{
    position:relative;
    margin:0 10px 20px 10px;
}
.createStudy .formulaSetup .browsDocList .bdl_row{ float:left; margin-right:30px;}
.createStudy .formulaSetup .browsDocList .bdl_row .bdlFile{ padding-right:28px; line-height:24px;}
.createStudy .formulaSetup .browsDocList .bdl_row .bdlFile .bdl_delete{}
.createStudy .formulaSetup .browsDoc{ padding-bottom:0px;}

.setVarFld{
    padding-bottom:10px;
}
.formWrapperContainer.csFrm{
    padding-bottom:40px;
}

.formWrapperContainer .csf-double{
    position:relative;
    margin-bottom:15px;
}
.formWrapperContainer .csf-double .row{
    margin:0px;
    float:left;
    width:50%;
}
.formWrapperContainer .csf-double .row div.input{
    margin-left:15px;
    background:#fff;
}
.formWrapperContainer .csf-double .row div.input.first{
    margin-left:0px;
}
.formWrapperContainer .csf-double .row h4{
    font-weight:normal;
    font-size:16px;
    margin-left:15px;
    padding:10px 0;
    color:#4c4c4c;
}
.formWrapperContainer .csf-double .row .checkbox_col{ margin-left:15px; padding-top:0px;}
.formWrapperContainer .csf-double .row .checkbox_col .checkbox_col{ margin-left:0px; float:none; width:auto;}
.formWrapperContainer .csf-double .row .checkbox_col .checkbox_col label{ padding-top:0px; line-height:24px;}


.expMp .input_button{
    width:120px;
    margin:0 auto;
    padding:0px!important;
}

.addMoreQOption{
    position:relative;
    float:left;
    padding:8px 8px 8px 30px;
    color:#b1b1b1;
    font-size:14px;
    cursor:pointer;
}
.addMoreQOption span.icon{
    display:block;
    position:absolute;
    left:0px;
    top:50%;
    width:26px;
    height:26px;
    margin-top:-13px;
    background-image:url(../../img/add_icon_normal.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.addMoreQOption:hover{
    color:#356592;
}
.addMoreQOption:hover span.icon{
    background-image:url(../../img/add_icon_hover.png);
}
.bb_btn_list ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.bb_btn_list ul li{
    float:left;
    margin-left:10px;
}
.bb_btn_list ul li:first-child{
    margin-left:0px;
}
.bb_btn_list ul li .bb_btn{
    float:none;
    min-width:100px;
    text-align:center;
    display:block;
}
.bb_btn_list ul li .bb_btn.back{
    background:#b6b6b6;
}
/* Study CSS (Admin Pass) end here */
