/********* Footer start here **********/
#footer {
    background: #d6d6d6;
    border-top: #cfcfcf 1px solid;
    color: #070707;
    font-size: 13px;
    padding:12px 0;
}
#footer_content .footer_left_section {
    float: left
}
.footer_nav {
    float: right;
}
.footer_nav a {
    color: #070707;
    font-size: 14px;
    padding: 0 16px;
    display: inline-block;
}
.footer_nav a:hover {
    color: #597ddb
}
.footer_nav a.first {
    padding-left: 0
}
.footer_nav a.last {
    border-right: 0;
}
#footer .copyrights {
    float: left;
    padding-left:10px;
}
.innerFooter{
    margin-left:240px;
    background:#FFFFFF !important;
}
#footer.innerFooter .copyrights{
    padding-left:20px;
}
/********* Footer end here **********/
