.bdr_rds2{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.bdr_rds3{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.bdr_rds4 {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.bdr_rds_circle {
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -ms-border-radius: 75%;
    -o-border-radius: 75%;
}
.formWrapperContainer .row{
    margin-bottom:20px;
    position:relative
}
.formWrapperContainer .row .input, .formWrapperContainer .row span.select{
    border:#c6c6c6 1px solid;
    padding:0 14px;
}
.formWrapperContainer .row span.select{
    background:url(../../img/select_arrow.png) no-repeat right center;
    color: #adadad;
    display: block;
    font-family: "RobotoLight";
    font-size: 15px;
    overflow: hidden;
    padding:10px 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.filterBy.formWrapperContainer .row span.select{
    padding-right:30px;
}
.formWrapperContainer .row select.select{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%
}
.formWrapperContainer .row .input.focus, .formWrapperContainer .row span.focus{
    border:#356592 1px solid
}
.formWrapperContainer .row .input input[type='text'],.formWrapperContainer .row .input input[type='number'],.formWrapperContainer .row .input input[type='password'],.formWrapperContainer .row .input textarea{
    font-family: 'RobotoLight';
    border:0;
    padding:8px 0;
    font-size:15px;
    color:#000;
    width:100%
}
.formWrapperContainer .double .row{
    float:left;
    width:49%;
    margin-right:2%;
}
.formWrapperContainer .tripple .row{
    margin-right:2%;
    width:32%;
    float:left
}
.formWrapperContainer .double .row.last,.formWrapperContainer .tripple .row.last{
    margin-right:0
}
.formWrapperContainer .input_button{
    padding-top:15px;
}
.formWrapperContainer .submit_button{
    background-color: #356592;
    border:0;
    color: #ffffff;
    cursor: pointer;
    font-family: "RobotoCondensedRegular";
    font-size: 22px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    display:block
}
.formWrapperContainer .cancel_button{
    background:#e34c4c
}
.formWrapperContainer .maybe_button{
    background:#ff9a2d;
    color:#fff;
}
.formWrapperContainer .submit_button:active{
    color:#fff;
    background-color:#1d4d7b;
}
.formWrapperContainer .checkbox_col{
    float:left;
    width:33.3333%;
    position:relative;
    min-height:30px;
}
.formWrapperContainer .checkbox_col label{
    font-family: 'RobotoLight';
    padding-left:30px;
    padding-top:6px;
    font-size:18px;
    color:#3b3b3b
}
.formWrapperContainer .checkbox_col .checkbox{
    border:#a7a7a7 1px solid;
    width:22px;
    height:22px;
    position:absolute;
    left:0;
    top:-3px;
    margin-top:0;
    cursor:pointer;
    display:block
}
.formWrapperContainer .checkbox_col .checkbox.checked{
    background:url(../../img/icon_sprite.png) no-repeat 0 -2px;
}
.formWrapperContainer .checkbox_col .radio,.boxWrap .hww .radioWrapperNew .radio,.cb_Grid .row .col .txt .radio{
    background-color:#d1d1d1;
    width:20px;
    height:20px;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-10px;
    cursor:pointer;
    display:block
}
.formWrapperContainer .checkbox_col .radio.selected, .boxWrap .hww .radioWrapperNew .radio.selected,.cb_Grid .row .col .txt .radio.selected{
    background:#d1d1d1 url(../../img/radio_selected.png) no-repeat center center;
}
.formWrapperContainer .row .doblabel{
    font-family: 'RobotoLight';
    float:left;
    color:#3e3e3e;
    font-size:18px;
    padding-top:12px;
    width:80px;
}
.formWrapperContainer .row label.input_label{
    color: #3e3e3e;
    display: block;
    font-family: RobotoLight;
    font-size: 15px;
    padding: 0 0 10px;
}
.formWrapperContainer .row .doblabel2{
    width:auto;
    margin-right:18px
}
.formWrapperContainer .checkbox_col.radioLable{
    padding-top:12px;
}
.formWrapperContainer .checkbox_col input{
    position:absolute;
    left:-100000px;
}
/* form element end here */

/* Global Popup */
.fixedBody{
    position:fixed;
    width:100%;
    height:100%
}
.grobalPopup{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:99997;
    display:none;
}
.grobalPopup .gppOverlay{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:9998;
    background:#000;
    opacity:0.7;
    -moz-opacity:0.7;
    -webkit-opacity:0.7;
}
.grobalPopup .gppBox{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:99999;
    overflow:hidden;
    z-index:999999;
    overflow-y:auto;
}
.gppbxContainer{
    position:absolute;
    left:50%;
    top:50%;
    width:640px;
    min-height:340px;
    margin-left:-320px;
    margin-top:-160px;
    background:#fff;
    box-shadow: 0px 0px 11px 0px rgba(0, 1, 1,0.4);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 1, 1,0.4);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 1, 1,0.4);
    -ms-box-shadow: 0px 0px 11px 0px rgba(0, 1, 1,0.4);
    -o-box-shadow: 0px 0px 11px 0px rgba(0, 1, 1,0.4);
}
.gppbxContainer .textContainer{
    margin:0 auto;
    padding:20px;
}
.grobalPopup.relative .gppbxContainer{
    position:relative;
    margin:50px auto!important;
    left:auto;
    top:auto;
}
.gppbxContainer .gppTitle{
    background-color: #f0f0f0;
    border-bottom: 1px solid #e5e5e5;
    color:#2e2e2e;
    font-family: "RobotoCondensedRegular";
    font-size: 24px;
    padding:10px 18px;
    position: relative;
    line-height:normal;
    word-break:break-all;
    text-transform: uppercase;
}
.gppbxContainer .gppTitle .gppClose{
    position:absolute;
    top:50%;
    margin-top:-15px;
    right:10px;
    background:url(../../img/close_gpp.png) no-repeat center center;
    width:30px;
    height:30px;
    text-indent:-10000px;
    cursor:pointer
}
.gppbxContainer .terms_condionWrap{
    bottom: 125px;
    overflow-y: scroll;
    position: absolute;
    top: 55px
}
.gppbxContainer .gppbuttonWrapper{
    bottom: 0;
    left: 5%;
    position: absolute;
    width: 90% !important
}
.gppbxContainer.alertConfirmMessage{
    width:400px;
    margin-left:-150px;
    min-height:300px;
    margin-top:-150px;
    text-align:center;
}
.gppbxContainer.alertConfirmMessage h2.confirm_msg{
    font-size:20px;
    line-height:normal;
    padding:20px;
    color:#737373
}
#content-wrapper{
    background:#efefef;
    margin-top:100px;
    margin-left:240px;
    position:relative;
    -webkit-transition:all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.pageWrapper{
    padding:20px;
    position:relative;
}

@media screen and (max-width:767px){
    .gppbxContainer{
        position:relative;
        margin-left:auto !important;
        margin-right:auto !important;
        left:inherit;
        width:90%
    }
    .gppbxContainer .terms_condionWrap{
        bottom:185px;
    }
}
/* Global Popup end */

/*Fixed Main Sub Header*/
.pghFixedsubMenuWrapper .pre_login_menu{
    width:auto;
    margin:0;
    display:block
}
.pghFixedsubMenuWrapper .pre_login_menu li{
    width:auto;
    padding:0 25px;
}
/*Fixed Main Sub end*/


/*Fixed Sub Header*/
.pghFixed{
    position:fixed;
    top:89px;
    left:240px;
    background:#fff;
    z-index: 100;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.pghFixed .pgh_title{
    font-family: "RobotoCondensedRegular";
    font-size: 24px;
    line-height: normal;
    padding: 10px 20px 10px 50px;
    position:relative;
    border-bottom:1px solid #dadada;
}
.pgh_mWrap{
    position:relative;
    padding:0 50px;
    border-bottom:1px solid #356592;
    height:42px;
    overflow:hidden;
}
.pgh_menu.pgh_menu_top .item{
    font-size:18px;
}
.pgh_menu .item{
    font-size:14px;
    color:#858585;
    display:block;
    padding:10px 20px;
    line-height:20px;
    text-align:center;
    border-bottom:2px solid #fff;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.pgh_menu .item:hover{
    background:#efefef;
    border-bottom:2px solid #efefef;
}
.pgh_menu .item.selected{
    border-bottom:2px solid #356592;
}


.pgh_menu.owl-carousel .owl-wrapper-outer.autoHeight{ height:auto!important;}
.pgh_menu.owl-theme .owl-controls{ margin:0px;}
.pgh_menu.owl-theme .owl-controls .owl-buttons div{
    position:absolute;
    width:30px;
    height:30px;
    background-color:#356592;
    background-repeat:no-repeat;
    background-size:100% 100%;
    top:50%;
    margin:0px;
    margin-top:-15px;
    opacity:1;
    text-indent:-9999px;
    border-radius:0px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
    -webkit-border-radius:0px;
    display:block;
    padding:0px;
}
.pgh_menu.owl-theme .owl-controls .owl-buttons .owl-prev{
    left:-40px;

    background-image:url(../../img/arrow_left.png);

}
.pgh_menu.owl-theme .owl-controls .owl-buttons .owl-next{
    right:-40px;
    background-image:url(../../img/arrow_right.png);
}	
.pgh_menu.owl-theme .owl-controls .owl-buttons .disabled{
    opacity:0.2;
    -moz-opacity:0.2;
    -webkit-opacity:0.2;
    cursor:default
}
/*End*/

/*Measurment Box Start*/
.boxWrap{
    position:relative;
    background-color:#fff;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    padding:15px;
    margin-bottom:20px;
}
.boxWrap .bw_title{
    position:relative;
    padding:10px 0 10px 0;
    color:#6e6e6e;
    font-size:25px;
    line-height:normal;
    text-transform:uppercase;
}
.boxWrap .bw_list{
    position:relative;
    background:#efefef;
    max-height:195px;
    overflow:hidden;
    overflow-y:auto;
}
.boxWrap .bw_list ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.boxWrap .bw_list ul li{
    position:relative;
    border-bottom:1px solid #c4c4c4;
    padding:15px;
    color:#777777;
    font-size:15px;
}
.boxWrap .bw_list ul li:last-child{
    border-bottom:0px;
}
.bw_list strong{
    font-weight:normal;
    color:#444;
}
.bw_list .bwl_type{
    float:left;
    min-width:120px;
    padding-right:20px;
}
.bw_list .bwl_min{
    float:left;
    min-width:120px;
    padding-right:20px;
}
.bw_list .bwl_max{
    float:left;
    min-width:120px;
    padding-right:20px;
}
.bw_list .bwl_delete{
    position:absolute;
    right:10px;
    top:50%;
    width:24px;
    height:24px;
    margin-top:-12px;
    cursor:pointer;
}
.bw_list .bwl_delete span.icon{
    display:block;
    position:absolute;
    left:50%;
    top:50%;
    width:12px;
    height:12px;
    margin-top:-6px;
    margin-left:-6px;
    background-image:url(../../img/close_gpp.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    text-indent:-9999px;
}

.bw_bmi_add{
    position:relative;
    padding-bottom:20px;
    padding-top:10px;
}
.bw_bmi_add div.select{
    margin-bottom:10px;
}
.bw_bmi_add .btn{
    float:left;
}
.orange_btn{
    background:#ff8400;
    padding:7px 10px;
    font-size:16px;
    color:#fff;
    border:0px;
    cursor:pointer;
    text-align:center;
    min-width:80px;
    text-transform:uppercase;
    font-family: 'RobotoLight';
}
.bw_bmi_add div.select{
    float:left;
    margin-right:15px;
    position:relative;
}


.boxWrap select.select{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    cursor:pointer;
    opacity:0;

}
.boxWrap span.select{
    display:block;
    padding:8px 26px 8px 10px;
    border:1px solid #a4a4a4;
    color:#3e3e3e;
    font-size:15px;
    width:80px;
    font-family: 'RobotoLight';
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    background: url(../../img/select_arrow.png) no-repeat right center;
}
.boxWrap div.input{
    display:block;
    padding:0 10px;
    border:1px solid #a4a4a4;
    color:#3e3e3e;
    font-size:15px;
    font-family: 'RobotoLight';
    overflow:hidden;
}
.boxWrap div.datefield{
    cursor:pointer
}
.boxWrap div.datefield input[type='text']{
    background: url(../../img/calendar_icon.png) no-repeat right center;
}
.boxWrap div.timefield input[type='text']{
    background: url(../../img/time_icon.png) no-repeat right center;
}
.boxWrap div.input input[type='text']{
    width:100%;
    padding:8px 0;
    border:0
}
.boxWrap div.arrow{
    position:absolute;
    right:1px;
    top:1px;
    width:30px;
    height:30px;
    background:#bababa;
    border-left:1px solid #a4a4a4;
    display:none;
}
.boxWrap div.arrow span.icon{
    position:absolute;
    left:50%;
    top:50%;
    width:10px;
    height:10px;
    margin:-5px 0 0 -5px;
    background-image:url(../../img/arrow_down.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    z-index:9;
}

.boxWrap .bw_colthird{
    float:left;
    width:33.333%;
}
.boxWrap .bw_colthird .bw_box{
    padding:0 10px;
    border-left:1px solid #c4c4c4;
}
.boxWrap .bw_colthird:first-child .bw_box{
    border-left:0px;
}
.boxWrap .bw_colthird .bw_title{
    text-align:center;
}
.boxWrap .hww div.select{
    position:relative;
}
.boxWrap .hww label, .boxWrap .hww .radioWrapper{
    font-size:15px;
    padding:10px;
    font-family:RobotoLight;
    display:block;
}
.boxWrap .hww .radioWrapper{
    color:#6e6e6e;
    font-family: 'RobotoRegular';
    font-size:16px;
}
.boxWrap .hww .radioWrapperNew{
    margin-left: 6px;
    padding-left: 26px;
    position: relative;
}
.boxWrap .hww .radioWrapperNew input{
    position:absolute;
    left:-10000px;
}
.boxWrap .hww .radioWrapper label{
    font-size:14px;
    padding:0;
    color:#3e3e3e;
    font-family:RobotoLight;
    display:inline
}
.hww_select{
    position:relative;
}
.hww div.select,.hww div.input{
    margin:0 10px;
}
.hww_select .hww_sbox{
    float:left;
    width:50%;
}
.hww_select .hww_sbox.wd20{
    width:20%
}
.hww_select .hww_sbox.wd30{
    width:30%
}
.hww_select .hww_sbox.wd40{
    width:40%
}
.hww_select .hww_sbox.wd35{
    width:35%
}
.hww_select .hww_sbox.wd60{
    width:60%
}

.hww span.select{
    width:auto!important;
}

.boxWrap .bmi_sbox{
    float:left;
}
.boxWrap .bmi_sbox label{
    float:left;
    padding:6px 6px 0 10px;
    font-size:15px;
    color:#3e3e3e;
    font-family: 'RobotoLight';
}

.boxWrap .bw_steps span.select{ width:70px;}
.boxWrap .bmi_sbox span.select{ width:50px;}
.boxWrap .bw_steps .bmi_sbox span.select{ width:25px;}

.boxBtn{

    position:relative;
    padding:10px 0 20px 0;
}
.boxBtn .bb_btn{
    float:left;
    min-width:120px;
    padding:8px 10px;
    background:#356592;
    color:#fff;
    font-size:18px;
    text-transform:uppercase;
    border:0px;
    cursor:pointer;
}
/*end*/


#ForgotPassword .gppbxContainer,#changePass .gppbxContainer{
    width:480px;
    min-height:200px;
    margin-left:-240px;
}
#ForgotPassword .formWrapperContainer,#changePass .formWrapperContainer{
    padding:40px;
}



.errorMsg{
    position:relative;
    border-top:1px solid #cd0a0a;
    border-bottom:1px solid #cd0a0a;
    padding:10px 10px 10px 30px;
    color:#cd0a0a;
    margin-bottom:20px;
}
.errorMsg span.ui_icon{
    position:absolute;
    left:5px;
    top:12px;
    width:16px;
    height:16px;
    display:block;
    text-indent:-9999px;
    background-image:url(../../img/alert_icon.gif);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
}
.errorMsg ul{
    margin:0px;
    padding:0px;
    list-style:none;
}


.successMsg{
    position:relative;
    border-top:1px solid #90ac86;
    border-bottom:1px solid #90ac86;
    padding:10px 10px 10px 30px;
    color:#90ac86;
    margin-bottom:20px;
}
.successMsg span.ui_icon{
    position:absolute;
    left:5px;
    top:12px;
    width:16px;
    height:16px;
    display:block;
    text-indent:-9999px;
    background-image:url(../../img/tick.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
}
.successMsg ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.ui-datepicker{
    z-index:99999 !important
}
.global_loader{
    background:rgba(0,0,0,0.10) url(../../img/global_loader.gif) no-repeat center center;
    position:fixed;
    width:100%;
    height:100%;
    display:none;
    top:0;
    left:0;
    z-index:99999999;
}

#food_list .product-list{
    position: absolute;
    top: 100%;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    left: 0;
    background: #fff;
    z-index: 100;
    list-style: none;
    border: 1px solid #eee;
}
#food_list .product-list li a{
    color:#444;
    padding: 8px 10px;
    display: block
}
#food_list .product-list li:hover a{
    background-color: #356592;
    color: #FFFFFF;
}

#confirm {display:none;}
/* Overlay */
#confirm-overlay {background-color:#eee; z-index:10000 !important;}
/* Container */
#confirm-container {height:140px; width:420px; z-index:100000 !important; text-align:left; background-color:#fff; border:2px solid #356592;}
#confirm-container .header {height:30px; line-height:30px; width:100%; background-color:#356592; color:#fff; font-weight:bold;}
#confirm-container .header span {padding-left:8px;}
#confirm-container .message {color:#333; font-size:14px; text-align:center; margin:0; padding:12px 4px 12px 8px;}
#confirm-container .buttons {line-height:26px; width:160px; margin:0 auto; padding:10px 8px 0;} 
#confirm-container .buttons div {float:right; margin-left:4px; width:70px; height:26px; color:#666; font-weight:bold; text-align:center; background:url(../img/confirm/button.gif) repeat-x; border:1px solid #bbb; cursor:pointer;} 
#confirm-container a.modal-close,
#confirm-container a.modal-close:link,
#confirm-container a.modal-close:active,
#confirm-container a.modal-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:10px; top:2px; color:#fff;}
#confirm-container a.modal-close:hover {color:#ccc;}
.notification_popup{
    background-color:#356592;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
     border-radius: 4px;
    position:absolute;
    top:54px;
    right:-5px;
    width:300px;
    max-height:400px;
    z-index:1000;
    display:none;
}
.notification_popup:after{
    content:'';
    position:absolute;
    top:-8px;
    right:10px;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:8px solid #356592;
}
.notification_popup .pointer, .AddNewC .pointer, .setting_popup .pointer{
    position:absolute;
    top:-14px;
    right:20px;
    background:url(../images/popup_pointer.png) no-repeat;
    width:23px;
    height:14px;
}
.notification_popup .notif_Cell{
    border-bottom:#447aad 1px solid;
    font-size:14px;
    line-height:normal;
    font-family:robotoLight;
    min-height:20px;
    position:relative
}
.notification_popup .notif_Cell .FR_msg{
    padding:13px;
    display:block;
    word-break:break-all;
    color:#f8f8f8
}
.notification_popup .notif_Cell .FR_msg:hover,.notification_popup .notif_Cell .FR_msg:active{
    background-color:#1d4d7b;
}
.notification_popup .notif_Cell .B_Num{
    font-family:robotoRegular;
    color:#fff
}
.notification_popup .notif_Cell:last-child{
    border-bottom:0
}
@media screen and (max-width:940px){
    .notification_popup{
        top:40px;
    }
}


/* Stepify CSS start here */
.stepContainer .stepContent {
    padding: 15px;
    color: #2c2c2c;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 15px;
    display: none;
}
.swMain .stepContainer {
    display: block;
    position: relative;
    overflow: hidden;
    clear: both;
    min-height: 250px;
}
.swMain div.actionBar {
    position: relative;
    border-top: 1px solid #CCC;
    padding: 0;
    color: #5A5655;
    background-color: #F8F8F8;
    height: 40px;
}
.swMain .stepContainer .StepTitle {
    display: block;
    position: relative;
    margin: 0;
    border: 1px solid #E0E0E0;
    padding: 5px;
    color: #5A5655;
    background-color: #E0E0E0;
    text-align: left;
}
.swMain ul.anchor {
    list-style: none;
}
.swMain ul.anchor li {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    width: 25%;
}
/* Anchor Element Style */
.swMain ul.anchor li a {
    display: block;
    position: relative;
    margin: 0;
    padding: 3px;
    text-decoration: none;
    outline-style: none;
    z-index: 99;
}
.swMain ul.anchor li a .stepNumber {
    position: relative;
    float: left;
    width: 30px;
    text-align: center;
    padding: 5px;
    padding-top: 0;
    font: bold 32px 'RobotoCondensedRegular';
}
.swMain ul.anchor li a .stepDesc {
    position: relative;
    display: block;
    float: left;
    text-align: left;
    padding: 5px;
}
.swMain ul.anchor li a.selected {
    color: #F8F8F8;
    background: #EA8511;  /* EA8511 */
    cursor: text;
}
.swMain ul.anchor li a.selected:hover {
    color: #F8F8F8;
    background: #EA8511;
}
.swMain ul.anchor li a.done {
    position: relative;
    color: #FFF;
    background: #8CC63F;
    z-index: 99;
}
.swMain ul.anchor li a.done:hover {
    color: #5A5655;
    background: #8CC63F;
}
.swMain ul.anchor li a.disabled {
    color: #777;
    background-color: #F8F8F8;
    border-right: 1px solid #B8B8B8;
    cursor: text;
}
.swMain .buttonNext {
    display: block;
    float: right;
    margin: 5px 3px 0 3px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font: bold 13px;
    width: 100px;
    color: #FFF;
    outline-style: none;
    background-color: #5A5655;
}
.swMain .buttonDisabled {
    color: #F8F8F8 !important;
    background-color: #CCCCCC !important;
    cursor: text;
}
.swMain .buttonPrevious, .swMain .buttonFinish {
    display: block;
    float: right;
    margin: 5px 3px 0 3px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    width: 100px;
    color: #FFF;
    outline-style: none;
    background-color: #5A5655;
}
.swMain .loader {
    background: url("../images/loader.gif") no-repeat scroll 5px center #ffffff;
    color: #5a5655;
    display: none;
    float: left;
    margin: 2px 0 0 2px;
    padding: 8px 10px 8px 40px;
    position: relative;
    z-index: 998;
}
/* Stepify CSS end here */

/* Domain change CSS start here */
.formWrapperContainer.domainChange{
    width: 110px !important;
}
.domainChange.formWrapperContainer .row span.select{
    background-color: #1B3D5D;
    border: 1px solid #356592;
    border-radius: 4px;
    color: #fff;
    font-size: 16px !important;
}
.domainChange.formWrapperContainer .row .select{
    color: #000;
    font-size: 16px !important;
}
/* Domain change CSS end here */