/* * ***********************
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Vishal Verma.
*/
/* Pre Login Header start here*/
.main_header .header{
    background-color:#1d4d7b;
   border-bottom:#1d4d7b 1px solid;
   padding:10px 0;
}
.main_header .header .logo{
    width:400px;
    margin:0 auto;
}
.main_header .header .logo img{
    vertical-align:middle;
    max-width:100%
}
.menuWrapper{
    border-bottom:#f2f2f2 2px solid;
    text-align:center;
}
.menuWrapper .pre_login_menu{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    width:560px;
    vertical-align:middle;
}
.menuWrapper .pre_login_menu li{
    width:33.3333%;
    float:left;
    position:relative
}
.menuWrapper .pre_login_menu li a{
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    display:block;
    padding:18px 0 14px;
    color:#8b8b8b;
    font-family: 'RobotoCondensedRegular';
    font-size:20px;
}
.pre_login_menu li:hover a, .pre_login_menu li:active a, .pre_login_menu li.active a{
    color:#356592;
}
.pre_login_menu li .border{
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    background-color:#356592;
    height:2px;
    position:absolute;
    bottom:-2px;
    left:0;
    width:0;
}
.pre_login_menu li:hover .border, .pre_login_menu li.active .border, .pre_login_menu li:active .border{
    width:100%
}
/* Pre Login Header end here*/

/* Individual Header start here*/
.innerHeader{
    position:fixed;
    z-index:101;
    left:0;
    top:0;
    width:100%;
}
.innerHeader.main_header .header{
    height:88px;
    padding:0;
    border-bottom:#1d4d7b 1px solid;
    background-color:#1d4d7b;
}
.innerHeader.main_header .header .logo{
    float:left;
    padding:10px 10px 0;
    width:auto
}
.innerHeader.main_header .header .logo a{
    display:block
}
.innerHeader.main_header .header .logo img{
/*    width: 275px*/
}
.headder_right_sec{
    float:right
}
.headder_right_sec .search{
    margin:34px 0 0;
    float:left;
    position:relative;
    width:32px;
    height:40px;
}
.srch_btn{
    position:absolute;
    right:0px;
    top:50%;
    margin-top:-16px;
    width:32px;
    height:32px;
    background-image:url(../../img/individual_search_icon.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    cursor:pointer;
}
.headder_right_sec .notification{
    float:left;
    width:30px;
    height:30px;
    margin:34px 34px 0;
    cursor:pointer;
    background-image:url(../../img/notification_icon.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    position:relative;
}
.headder_right_sec .notification span.degit{
    position:absolute;
    left:50%;
    top:-10px;
    background:#ee3923;
    display:block;
    color:#fff;
    font-size:12px;
    border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    -webkit-border-radius:5px;
    padding:4px 8px;
}


.headder_right_sec .userInfo{
    border-left:#356592 1px solid;
    float:left;
    position:relative;
}
.uinfo_ddr{
    cursor:pointer;
    padding:33px 10px 33px 75px;
}
.uinfo_ddr.changeDomain{
    cursor:pointer;
    padding:33px 10px 33px 10px;
}

.uiddr_menu{
    position:absolute;
    top:100%;
    right:0px;
    min-width:100%;
    background:#356592;
    display:none;
}
.uiddr_menu ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.uiddr_menu ul li{
    position:relative;
    border-top:1px solid #447AAD;
}
.uiddr_menu ul li:first-child{
    border-top:0px;
}
.uiddr_menu ul li a{
    display:block;
    padding:20px 10px;
    color:#fff;
    font-size:18px;
    font-family: "RobotoLight";
}
.uiddr_menu ul li:hover{
   background-color:#1d4d7b; 
}
.headder_right_sec .userInfo:hover,.headder_right_sec .userInfo.active{
    background:#356592;
    color: #1d4d7b;
}
.headder_right_sec .userInfo .profile_pic{
    width:50px;
    height:50px;
    position:absolute;
    left:15px;
    top:50%;
    margin-top:-25px;
    overflow:hidden;
/*    background-image: url(../../img/photo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
}
.headder_right_sec .userInfo .profile_pic img{
    width:100%;
    height:100%;
}
.headder_right_sec .userInfo .loggedIn_user{
    font-family: 'RobotoLight';
    float:left;
    color:#ffffff;
    font-size:16px;
    line-height:normal;
    padding:0 15px 0 0;
    position:relative;

}
.headder_right_sec .userInfo .loggedIn_user span.arrow{
    display:block;
    position:absolute;
    right:0px;
    top:50%;
    width:10px;
    height:6px;
    margin-top:-3px;
    background-image:url(../../img/view_symtoms_down_arrow.png);
    background-repeat:no-repeat;
    background-size:auto 100%;
    -moz-background-size:auto 100%;
    -ms-background-size:auto 100%;
    -o-background-size:auto 100%;
    -webkit-background-size:auto 100%;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.formWrapperContainer.domainChange{
    float:left;
    position:relative;
    height:40px;
    width:100px; 
    margin:30px 10px 0 0;
}
.formWrapperContainer.domainChange span.select{
    padding:5px 14px 5px 8px !important;
    font-size:13px !important;
}
.formWrapperContainer.domainChange .row{
    margin-bottom:0;
}
.headder_right_sec .userInfo.active .loggedIn_user  span.arrow{
    transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}