/* * ***********************
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Vishal Verma.
*/
#ui-content-wrapper {
    position: relative;
}
/* Pre Login and Signup css start here*/
.PreLoginPageContainer {
    width: 900px;
    margin: 0 auto;
    padding: 30px;
}
.formContainer {
    width: 480px;
    margin: 0 auto
}
.formContainer .page_heading {
    text-align: center;
    font-size: 20px;
}
.formContainer_basic {
    width: 600px;
}
.formContainer_basic .page_heading_basic {
    color: #535353 !important;
    font-size: 22px !important;
    font-weight: normal !important;
    padding: 20px 0
}
.formContainer .row .date {
    margin-left: 60px;
    position: relative;
    background: url(../img/vertical_devider_line.jpg) no-repeat right center;
}
.formContainer .row .date input {
    font-family: 'RobotoLight';
    border: 0;
    background: none;
    width: 80%;
    color: #adadad;
    font-size: 18px;
}
.formContainer .row .date img {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
    display: block
}
.formContainer .checkbox_col.radioLable {
    padding-top: 12px;
}
.formContainer .checkbox_col input {
    position: absolute;
    left: -100000px;
}
.formContainer .terms {
    color: #3f3838;
    font-size: 18px !important;
}
.PreLoginPageContainer .page_heading {
    color: #2c2c2c;
    font-size: 26px;
    font-family: 'RobotoCondensedRegular';
    font-weight: normal;
    margin-bottom: 15px;
    line-height: normal
}
.PreLoginPageContainer .sub_heading {
    font-size: 16px;
    font-family: 'RobotoCondensedRegular';
    line-height: normal;
    font-weight: normal
}
.PreLoginPageContainer .paragraph {
    color: #2c2c2c;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 15px;
}
.checkTermsConditionForm, .checkTermsConditionForm .checkbox_col {
    width: auto
}
.checkTermsConditionForm .input_button {
    margin: 0 auto;
    width: 50%;
}
.checkTermsConditionForm .checkbox_col label {
    font-family: "RobotoCondensedRegular"
}
.formContainer .basicPage_button70 {
    width: 70%;
    margin: 0 auto
}
.formContainer .upload_profile_image {
    border: #e2dfdf 3px solid;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    overflow: hidden;
    width: 136px;
    height: 136px;
    margin: 0 auto;
    cursor: pointer
}
.formContainer .upload_profile_image img {
    height: 100%;
    vertical-align: baseline;
    width: 100%;
}
.formContainer .upload_profile_image input {
    position: absolute;
    left: -1000000px;
}
.formContainer .ccontentWrapper {
    text-align: center;
    line-height: normal;
    padding: 30px 0;
    color: #737373;
    font-size: 20px;
}
.formContainer .ccontentWrapper h2, .formContainer .ccontentWrapper h3, .formContainer .ccontentWrapper p {
    margin-bottom: 15px;
}
.formContainer .ccontentWrapper h2 {
    color: #4b71d3;
    font-family: 'RobotoCondensedRegular';
    font-weight: normal;
    text-transform: uppercase;
}
.formContainer .ccontentWrapper h3 {
    color: #292929
}
/* Pre Login and Signup css end here*/


/* Dashboard page css start here*/
.pageHeaderWrap {
    line-height: normal;
    font-family: 'RobotoCondensedRegular';
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: #bebebe 1px solid;
    margin-bottom: 20px;
    background-color: #FFFFFF
}
.pageWrapper .graphBox {
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    padding: 6px;
}
.pageWrapper .graphRow {
    margin-bottom: 20px;
    position: relative
}
.pageWrapper .doubleGraphRow .graphRow {
    float: left;
    width: 49%;
    margin-right: 2%
}
.pageWrapper .doubleGraphRow .graphRow.last {
    margin-right: 0
}
.pageWrapper .graphBox .graph img {
    max-width: 100%;
}
.graph_header {
    padding: 10px;
    font-family: 'RobotoLight';
    font-size: 20px;
    color: #000000
}
.graph_header .graph_title, .graph_header .feelings {
    font-family: 'RobotoCondensedRegular';
}
.graph_header .feelings {
    color: #b5b5b5;
    padding: 0 10px;
}
.graph_header .feelings span {
    color: #000000
}
.graph_header .mood_type {
    list-style: none;
    display: inline-block
}
.graph_header .mood_type li {
    float: left;
}
.graph_header .graph_filterBy {
    float: right
}
.cb_Grid {
    position: relative;
    background: #fff;
    border: 1px solid #b9b9b9;
}
.cb_Grid .row {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}
.cb_Grid .row.head {
    background: #e2e2e2;
}
.cb_Grid .row:last-child {
    border-bottom: 0px;
}
.cb_Grid .row .col {
    float: left;
}
.cb_Grid .row .col .txt, .cb_Grid .row .col .txt1 {
    text-align: center;
    display: block;
    padding: 10px 4px;
    border-left: 1px solid #e5e5e5;
    font-size: 14px;
    position: relative
}
.cb_Grid .row.head .col .txt {
    color: #5e5e5e;
    font-family: "RobotoCondensedRegular";
    font-size: 17px;
}
.cb_Grid .row .col .txt a {
    color: #5973b6;
    text-decoration: underline;
    font-style: italic;
}
.cb_Grid .row .col .txt.right {
    text-align: right;
    background-color: #b8b8b8;
}
.cb_Grid .row .col .txt.bdrnone {
    border: 0;
    background-color: #b8b8b8;
}
.cb_Grid .row.head .col .txt {
    border-left: 1px solid #e5e5e5;
}
.cb_Grid .row .col:first-child .txt {
    border-left: 0px;
}
.cb_Grid .row .col ul.action {
    margin: 0 auto;
    display: table;
    padding: 0px;
    list-style: none;
}
.cb_Grid .row .col ul.action li {
    float: left;
    padding: 0 4px;
}
.cb_Grid .row .col ul.action li:first-child {
    border-left: 0px;
}
.cb_Grid .row .col ul.action li a {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    text-indent: -9999px;
    background: url(../../img/action_button_sprite.png) no-repeat center top;
    background-repeat: no-repeat;
    background-size: 25px 175px;
    -moz-background-size: 25px 175px;
    -webkit-background-size: 25px 175px;
    -o-background-size: 25px 175px;
    -ms-background-size: 25px 175px;
}
.cb_Grid .row .col ul.action li.view a {
    background-color: #356592;
}
.cb_Grid .row .col ul.action li.edit a {
    background-color: #356592;
    background-position: 0 -25px;
}
.cb_Grid .row .col ul.action li.delete a {
    background-color: #ee3923;
    background-position: 0 -50px;
}
.cb_Grid .row .col ul.action li.play a {
    background-color: #356592;
    background-position: 0 -75px;
}
.cb_Grid .row .col ul.action li.pause a {
    background-color: #356592;
    background-position: 0 -100px;
}
.cb_Grid .row .col ul.action li.add a {
    background-color: #356592;
    background-position: 0 -125px;
}
.cb_Grid .row .col ul.action li:hover a {
    background-color: #3b3b3b
}
.cb_Grid .row .col ul.action li.arrowD a {
    background-image: url(../img/arrow_down.png);
}
.cb_GridD {
    background-color: #f4f4f4 !important;
    border-radius: 0;
    display: none
}
.cb_GridD .row, .cb_GridD .row.head {
    border-bottom: #cccccc 1px solid;
}
.cb_GridD .row .col .txt, .cb_GridD .row .col .txt1 {
    border-left: #cccccc 1px solid;
    color: #7d7d7d;
    font-size: 14px
}
.cb_GridD .row.head .col:first-child .txt, .cb_GridD .row.head .col:first-child .txt1 {
    border-left: 0 !important;
}
.cb_GridD .row.head .col .txt, .cb_GridD .row.head .col .txt1 {
    border-left: 1px solid #cccccc !important;
    color: #0866b3;
    font-weight: bold;
    font-size: 14px
}
.cb_Grid .DDrow .row {
    border-bottom: 1px solid #CCCCCC
}
.cb_Grid .wd5 {
    width: 5%;
}
.cb_Grid .wd10 {
    width: 10%;
}
.cb_Grid .wd15 {
    width: 15%;
}
.cb_Grid .wd20 {
    width: 20%;
}
.cb_Grid .wd25 {
    width: 25%;
}
.cb_Grid .wd30 {
    width: 30%;
}
.cb_Grid .wd35 {
    width: 35%;
}
.cb_Grid .wd40 {
    width: 40%;
}
.cb_Grid .wd45 {
    width: 45%;
}
.cb_Grid .wd50 {
    width: 50%;
}
.cb_Grid .wd55 {
    width: 55%;
}
.cb_Grid .wd60 {
    width: 60%;
}
.cb_Grid .wd65 {
    width: 65%;
}
.cb_Grid .wd70 {
    width: 70%;
}
.cb_Grid .wd75 {
    width: 75%;
}
.cb_Grid .wd80 {
    width: 80%;
}
.cb_Grid .wd85 {
    width: 85%;
}
.cb_Grid .wd90 {
    width: 90%;
}
.cb_Grid .wd95 {
    width: 95%;
}
.cb_Grid .wd100 {
    width: auto;
}
.commutations_graph {
    list-style: none;
    font-family: "RobotoCondensedRegular";
    margin: 6px 20px;
}
.commutations_graph li {
    border-bottom: #e1e1e1 1px solid;
    padding: 12px 8px 8px 20px;
    font-size: 20px;
    color: #747474;
    display: block;
    position: relative
}
.commutations_graph .walk {
    border-left: #e1e1e1 10px solid;
}
.commutations_graph li .time {
    padding-right: 50px;
    display: inline-block;
}
.commutations_graph li .task {
    font-family: "RobotoLight";
    display: inline-block;
    color: #3f3f3f;
}
.commutations_graph li .icon {
    background: #FFFFFF url(../../img/commutations_graph_icon.png) no-repeat;
    display: block;
    height: 40px;
    left: -23px;
    position: absolute;
    top: 0;
    width: 40px;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    z-index: 10
}
.commutations_graph li .work_icon {
    background-position: 0 -40px;
}
.commutations_graph li.heading {
    padding: 8px 8px 8px 20px;
    border-bottom: 0;
}
.commutations_graph li.heading .time {
    color: #000000;
}
.commutations_graph .cycle {
    border-left: #e59131 10px solid;
}
.commutations_graph .work {
    border-left: #1968cd 10px solid;
}
.commutations_graph .bullet {
    background-color: #e1e1e1;
    width: 6px;
    height: 6px;
    position: absolute;
    right: 0;
    bottom: -3px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}
/* Dashboard page css end here*/

/* Physical Activity CSS start here */
.pageWrapper .trippleGraphRow .graphRow {
    margin-right: 2%;
    width: 32%;
    float: left
}
.pageWrapper .trippleGraphRow .graphRow.last {
    margin-right: 0
}
.graphRow .activity_box {
    font-family: 'RobotoCondensedRegular';
    font-size: 32px;
    color: #585858;
    position: relative
}
.graphRow .activity_box .activity_num {
    padding: 6px 20px 0;
    font-size: 50px;
    word-wrap: break-word;
    line-height: 50px;
    color: #333333
}
.graphRow .activity_box .activity_num.distance {
    color: #1968cd
}
.graphRow .activity_box .activity_num.tm {
    color: #e33d31
}
.graphRow .activity_box .activity_num.cv {
    color: #e59131
}
.graphRow .activity_box .activity_title {
    font-family: 'RobotoLight';
    display: block;
    font-size: 20px;
    line-height: normal;
    padding: 10px 20px 5px;
    color: #535353
}
.graphRow .edit_activity {
    background: #FFFFFF url(../../img/edit_icon_for_activity.png) no-repeat center center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    border: #efefef 6px solid;
    position: absolute;
    right: -16px;
    bottom: -16px;
    display: block
}
/* Physical Activity CSS end here */

/* Body Measurement(Cholestrol page) CSS start here */
.graphRow .activity_box .cholestral_density {
    font-family: 'RobotoLight';
    font-size: 20px;
    line-height: normal;
    display: block;
    padding-bottom: 6px;
    color: #006bf4;
    padding-left: 20px;
}
.graphRow .activity_box .cholestral_density.low {
    color: red;
}
.pghFixedIndv .filterBy {
    position: absolute;
    right: 20px;
    top: 6px;
    width: 160px;
}
.pghFixedIndv .filterBy .row {
    margin-bottom: 0
}
.pghFixedIndv .filterBy .row span.select {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}
.pghFixedIndv .filterBy span.select {
    background: url(../../img/select_arrow.png) no-repeat 92% center !important;
}
/* Body Measurement(Cholestrol page) CSS end here */

/* Steps & Commutation CSS start here */
.calendarWrapper .ui-datepicker-inline {
    width: 98%;
    border: 0;
}
.calendarWrapper .ui-widget-header {
    background: none;
    border: 0;
}
.calendarWrapper .ui-state-default, .calendarWrapper .ui-widget-content .ui-state-default, .calendarWrapper .ui-widget-header .ui-state-default {
    background: none;
    border: #fff 1px solid;
    text-align: center;
    color: #61676b;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto
}
.calendarWrapper .ui-datepicker-title {
    color: #1e80d7;
    font-family: 'RobotoCondensedRegular';
    font-size: 20px;
    font-weight: normal;
}
.calendarWrapper .ui-datepicker-prev {
    left: 22px;
}
.calendarWrapper .ui-datepicker-next {
    right: 22px;
}
.calendarWrapper .ui-datepicker-prev .ui-icon {
    background: url(../../img/prev_date_icon.png) no-repeat center center;
}
.calendarWrapper .ui-datepicker-next .ui-icon {
    background: url(../../img/next_date_icon.png) no-repeat center center;
}
.calendarWrapper .ui-datepicker-prev-hover, .calendarWrapper .ui-datepicker-next-hover {
    border: 1px solid #fff
}
.calendarWrapper .ui-datepicker th {
    color: #1e80d7;
    font-family: 'RobotoCondensedRegular';
    font-size: 18px;
    font-weight: normal;
}
.calendarWrapper .ui-state-default.ui-state-active {
    border: #1e80d7 1px solid;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
}
.steps_travelled_information {
    text-align: center;
    line-height: normal;
    padding: 15px 0;
    border-top: #eee 1px solid;
}
.steps_travelled_information .steps_travelled_title {
    font-size: 26px;
}
.steps_travelled_information .stepsNum {
    font-size: 45px;
}
/* Steps & Commutation CSS end here */

/* Connected Devices CSS start here */
.addDevicePge .connect_button {
    color: #fff !important;
    font-style: normal !important;
    text-decoration: none !important;
    display: table;
    font-size: 15px;
    margin: 0 auto;
    padding: 8px 16px;
    text-decoration: underline;
    width: 60%;
    border: 0;
    font-family: "RobotoCondensedRegular";
    text-align: center;
    text-transform: uppercase;
}
.addDevicePge .connect_button {
    background-color: #356592;
}
.addDevicePge .disconnect_button {
    background-color: #ee3923;
}
.addDevicePge .device_img {
    width: 60px;
    height: 60px;
    margin: 0 auto 5px;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    overflow: hidden
}
.addDevicePge .device_img img {
    max-width: 100%;
    vertical-align: middle
}
/* Connected Devices CSS end here */

/* Manage Data Log page CSS start here */
.formWrapper50 {
    width: 400px;
}
.formWrapper50 .boxBtn .bb_btn {
    margin-top: 10px;
    float: none;
    padding: 8px 25px !important
}
/* Manage Data Log page CSS end here */

/* Weight & Food Management page CSS start here */
.weight_box_val {
    float: left;
    width: 49%;
    border-right: #c7c7c7 1px solid;
    color: #818181;
    padding: 25px 0;
    margin: 15px 0;
    font-family: 'RobotoCondensedRegular';
    font-size: 35px;
    text-align: center;
}
.weight_box_val.target_weight {
    border-right: 0
}
.weight_box_val .Tweight {
    font-size: 77px;
    line-height: normal;
    color: #5d5d5d
}
.weight_box_val .weight_lable {
    font-size: 22px;
    display: block;
    color: #5e5e5e
}
/* Weight & Food Management page CSS end here */

/* History page CSS start here */
.table_box_shadow {
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    border: 0;
}
.textContainer .category_list {
    padding: 0;
    color: #000000;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 15px;
}
.boxWrap_add_new_condition {
    padding: 15px !important;
}
.boxWrap_add_new_condition.boxWrap span.select {
    min-width: 220px;
}
.textContainer .category_list li {
    font-family: 'RobotoLight';
    padding-bottom: 10px;
    line-height: normal
}
.textContainer .category_list_heading {
    color: #000000;
    font-family: "RobotoCondensedRegular";
    font-size: 18px;
    line-height: normal;
    padding-bottom: 5px;
}

@media screen and (max-width:767px) {
    .history_table_responsve .row.head, .symptoms_table_responsve .row.head {
        display: none
    }
    .history_table_responsve .row .col, .symptoms_table_responsve .row .col {
        position: relative
    }
    .history_table_responsve .row .col:before, .symptoms_table_responsve .row .col:before {
        left: 10px;
        padding-right: 10px;
        position: absolute;
        top: 6px;
        white-space: nowrap;
        width: 33.5%;
        font-weight: bold
    }
    .history_table_responsve .row .col, .symptoms_table_responsve .row .col {
        width: 65%;
        padding-left: 35%;
        float: none;
    }
    .history_table_responsve .row .col .txt, .history_table_responsve .row .col .txt1, .symptoms_table_responsve .row .col .txt, .symptoms_table_responsve .row .col .txt1 {
        text-align: left;
        border: 0;
        padding: 2px 0 2px;
        word-wrap: break-word
    }
    .history_table_responsve .row .col ul.action, .symptoms_table_responsve .row .col ul.action .row .col ul.action {
        margin: 0;
    }
    .history_table_responsve .row, .symptoms_table_responsve .row {
        padding: 10px 0
    }
    .history_table_responsve .row .col:nth-of-type(1):before {
        content: "S.no";
    }
    .history_table_responsve .row .col:nth-of-type(2):before {
        content: "Conditions";
    }
    .history_table_responsve .row .col:nth-of-type(3):before {
        content: "Sub Condition";
    }
    .history_table_responsve .row .col:nth-of-type(4):before {
        content: "Description";
    }
    .history_table_responsve .row .col:nth-of-type(5):before {
        content: "Action";
    }
    .symptoms_table_responsve .row .col:nth-of-type(1):before {
        content: "S.no";
    }
    .symptoms_table_responsve .row .col:nth-of-type(2):before {
        content: "Symptom";
    }
    .symptoms_table_responsve .row .col:nth-of-type(3):before {
        content: "Status";
    }
    .symptoms_table_responsve .row .col:nth-of-type(4):before {
        content: "Sub Symptom";
    }
    .symptoms_table_responsve .row .col:nth-of-type(5):before {
        content: "Condition";
    }
    .symptoms_table_responsve .row .col:nth-of-type(6):before {
        content: "Description";
    }
    .symptoms_table_responsve .row .col:nth-of-type(7):before {
        content: "Action";
    }
    .treatments_table_responsve .row .col:nth-of-type(2):before {
        content: "Treatment";
    }
    .treatments_table_responsve .row .col:nth-of-type(4):before {
        content: "Sub Treatment";
    }
    .study_table_responsve .row .col:nth-of-type(2):before {
        content: "Description";
    }
    .study_table_responsve .row .col:nth-of-type(3):before {
        content: "Time Period";
    }
    .study_table_responsve .row .col:nth-of-type(4):before {
        content: "Address";
    }
    .study_table_responsve .row .col:nth-of-type(5):before {
        content: "Action";
    }
}
.highcharts-title {
    font-weight: bold;
}
.added_condition_wrap {
    background-color: #FFFFFF !important
}
.added_condition_row li:last-child {
    border-bottom: #d4d4d4 1px solid !important;
}
.added_condition_row {
}
.added_condition_row li.listItem {
    background-color: #f7f7f7;
    border: #d4d4d4 1px solid;
    margin-bottom: 10px;
}
.added_condition_row .bwl_type {
    float: none !important
}
.added_condition_row .listItem .row {
    padding: 10px 0 0;
    position: relative
}
.added_condition_row .listItem .bwl_delete {
    top: 22px
}
.added_condition_row span.select {
    width: auto !important
}
.ui-autocomplete {
    z-index: 1000000;
    border-radius: 0;
}
.ui-autocomplete .ui-menu-item a {
    border-radius: 0
}
.history_description {
    padding: 20px !important;
}
.history_symtom {
    padding: 0 !important;
}
.history_symtom .desc_heading {
    line-height: normal;
    margin-bottom: 5px;
}
.history_symtom .desc_paragraph {
    line-height: normal;
}
.history_symtom .symtoms_list li {
    border-bottom: #cbcbcb 1px solid;
    padding: 12px;
    background: url(../../img/view_symtoms_down_arrow.png) no-repeat right 20px;
    list-style-position: inside
}
.history_symtom .symtoms_list li:last-child {
    border-bottom: 0
}
.history_symtom ol.symtoms_list {
    cursor: pointer;
    font-family: 'RobotoCondensedRegular';
    font-size: 18px;
}
.history_symtom .symtoms_list li .desc_heading, .history_description .desc_heading {
    padding: 10px 20px 10px 0;
    font-family: 'RobotoCondensedRegular';
    font-size: 18px;
    color: #000000;
    font-weight: normal
}
.history_symtom .symtoms_list li .desc_heading {
    cursor: pointer;
}
.history_symtom .symtoms_list li .desc_paragraph {
    font-size: 16px;
    color: #6f6f6f;
    padding-top: 10px;
    display: none
}
.history_description .desc_paragraph {
    font-size: 16px;
    color: #6f6f6f;
}
.history_symtom .symtoms_list li .desc_paragraph {
    font-size: 16px;
    color: #6f6f6f;
    padding-top: 10px;
    display: none
}
.history_symtom .symtoms_list li.active .desc_heading {
    color: #356592
}
.history_symtom .symtoms_list li.active {
    color: #356592;
    background: url(../../img/view_symtoms_up_arrow.png) no-repeat right 20px;
}
.history_symtom .symtoms_list li:first-child .desc_paragraph {
    display: block
}
/* History  page CSS end here */

.cb_Grid .row .col .txt .radio {
    position: inherit !important;
    margin: 0 auto;
    left: inherit;
    top: inherit;
}
.cb_Grid .row .col .txt .radio input {
    position: absolute;
    left: -10000px;
}
/* Location  page CSS end here */
.geofence_grid .user_img {
    width: 60px;
    height: 60px;
    margin: 0px 10px 0 10px;
    float: left;
    overflow: hidden;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    text-align: center;
}
.geofence_grid .user_img img {
    max-width: 100%;
    height:100%;
}
.geofence_grid h3 {
    color: #5d5d5d;
    font-family: robotoregular;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 5px;
    padding-top: 6px;
}
.geofence_grid p {
    color: #597ddc;
    font-family: robotolight;
    font-size: 16px;
}
.or_select_becon {
    background-color: #356592;
    border-radius: 75%;
    color: #ffffff;
    display: block;
    height: 15px;
    padding: 10px;
    text-align: center;
    width: 15px;
    margin: 0 auto;
}
.geofence_grid .distance {
    position: relative;
    padding: 14px 20px 10px;
    color: #545454;
    font-family: robotolight;
}
.geofence_grid .distance .distance_icon {
    background: url(../../img/distance_icon.png) no-repeat center center;
    background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    -webkit-background-size: 20px 20px;
    -o-background-size: 20px 20px;
    -ms-background-size: 20px 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    margin-top: -10px;
    display: block;
    text-indent: -100000px;
}
.addedBeconList {
    list-style: none;
}
.addedBeconList li {
    position: relative;
    border-bottom: 1px solid #dadada;
    padding: 10px 30px 10px 20px;
}
.addedBeconList li .deleteButton {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    text-indent: -9999px;
    background: url(../../img/action_button_sprite.png) no-repeat center top;
    background-color: #ee3923;
    background-repeat: no-repeat;
    background-position: 0 -50px;
    background-size: 25px 175px;
    -moz-background-size: 25px 175px;
    -webkit-background-size: 25px 175px;
    -o-background-size: 25px 175px;
    -ms-background-size: 25px 175px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 15px;
}
.addedBeconList li .desc_paragraph, .addedBeconList li .desc_heading {
    font-size: 15px;
    padding: 0;
}
.addedBeconList li:last-child {
    border-bottom: 0
}
.selectUsercaregiver {
    list-style: none;
    min-height: 200px;
    max-height: 250px;
    overflow-y: auto;
}
.selectUsercaregiver li {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    font-size: 18px;
    line-height: normal;
}
.selectUsercaregiver li label {
    display: block;
}
/* Location  page CSS end here */

/* People page CSS start here */
.Advanced_SearchButton {
    background: #356592 url(../../img/search_advanced_icon.png) no-repeat center center;
    width: 53px;
    height: 100%;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
}
.Advanced_SearchButton.active {
    background: #ee3923 url(../../img/cross_icon.png) no-repeat center center;
}
.advancedPeopleSearch {
    display: none
}
.advancedPeopleSearch .searchFormAdv {
    position: relative;
}
.advancedPeopleSearch .bw_colthird.lastBox .bw_box {
    padding-right: 60px;
}
.advancedPeopleSearch .searchFormAdv .bw_colthird .bw_box {
    padding-bottom: 0;
    border-bottom: 0;
}
.advancedPeopleSearch .searchFormAdv .bw_box {
    padding-top: 0 !important;
}
.advancedPeopleSearch .searchFormAdv .boxBtn {
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 0;
}
.actionButtonWrapper {
    display: table;
    margin: 0 5px 0 auto;
}
.global_actionButton {
    text-align: center;
    background-color: #356592;
    padding: 8px 15px 8px 30px;
    color: #FFFFFF !important;
    text-decoration: none !important;
    font-style: normal !important;
    display: block;
    min-width: 60px;
    float: right;
    font-size: 18px;
    margin: 40px 10px 0 auto;
}
.global_actionButton.following {
    background: #356592 url(../../img/right_icon.png) no-repeat 5px center;
}
.global_actionButton.unfollow {
    background: #ee3923 url(../../img/cross_icon.png) no-repeat 5px center;
}
.global_actionButton.sync {
    background: green url(../../img/sync_icon.png) no-repeat 5px center;
    background-size: 20px;
    -moz-background-size: 20px;
    -webkit-background-size: 20px;
    -o-background-size: 20px;
    -ms-background-size: 20px;
    position: absolute;
    right: 5px;
    top: 0;
}
.global_actionButton.addbecon {
    float: left;
    display: table;
    margin-bottom: 10px;
    padding-left: 10px;
}
.global_actionButton.follow {
    background-color: #356592;
    padding-left: 15px !important;
}
.global_actionButton.deny {
    background-color: #ee3923;
    padding-left: 15px !important;
}
.peoplePge {
    width: auto !important;
    padding: 10px 10px 20px;
}
.peoplePge .user_details {
    margin-left: 80px;
}
.peoplePge .user_details h3 {
    font-size: 26px;
}
.peoplePge .user_details h4 {
    color: #686868;
    font-family: robotoregular;
    font-size: 16px;
    font-weight: normal;
    padding-top: 6px;
}
.peoplePge .user_details p {
    color: #414141;
    font-family: robotoregular;
    font-size: 14px;
    padding-top: 8px;
    padding-right: 20px;
    word-break: break-all
}
.peopleDetailsList {
    padding: 0 !important;
    display: none
}
.peopleDetailsList .desc_heading {
    line-height: normal;
    margin-bottom: 0;
}
.peopleDetailsList .desc_paragraph {
    line-height: normal;
}
.peopleDetailsList .symtoms_list {
    list-style: none;
}
.peopleDetailsList .symtoms_list li.syms_item {
    border-bottom: #cbcbcb 1px solid;
    padding: 0;
    background: url(../../img/view_symtoms_down_arrow.png) no-repeat right 20px;
    list-style-position: inside
}
.peopleDetailsList .symtoms_list li.syms_item:last-child {
    border-bottom: 0
}
.peopleDetailsList ul.symtoms_list {
    font-family: 'RobotoCondensedRegular';
    font-size: 18px;
}
.peopleDetailsList .symtoms_list li.syms_item .desc_heading, .peopleDetailsList .desc_heading {
    padding: 0 20px 0 0;
    font-family: 'RobotoCondensedRegular';
    font-size: 18px;
    color: #000000;
    font-weight: normal
}
.peopleDetailsList .symtoms_list li.syms_item .desc_heading {
    cursor: pointer;
    display: block;
    padding: 10px;
}
.peopleDetailsList .symtoms_list li.syms_item .desc_paragraph {
    font-size: 16px;
    color: #6f6f6f;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #cbcbcb;
    display: none
}
.peopleDetailsList .desc_paragraph .paragraph {
    font-family: robotolight;
    font-size: 15px;
    padding-top: 5px;
}
.peopleDetailsList .symtoms_list li.syms_item .desc_paragraph {
    font-size: 16px;
    color: #6f6f6f;
    padding-top: 0;
    display: none
}
.peopleDetailsList .symtoms_list li.syms_item .subHeading {
    font-size: 16px;
    font-weight: normal;
    color: #5d5d5d;
    padding-top: 10px;
}
.peopleDetailsList .symtoms_list li.syms_item.active .desc_heading {
    color: #356592
}
.peopleDetailsList .symtoms_list li.syms_item.active {
    color: #356592;
    background: url(../../img/view_symtoms_up_arrow.png) no-repeat right 20px;
}
.peopleDetailsList .symtoms_list li.syms_item:first-child .desc_paragraph {
    display: block
}
.peopleDetailsList .symtoms_list li.syms_item .condition_list {
    padding-top: 5px;
}
.peopleDetailsList .symtoms_list li.syms_item .condition_list li {
    font-size: 15px;
    font-family: 'RobotoLight';
}
.pgh_menu_popup {
    border-bottom: #efefef 1px solid;
}
.pgh_menu_popup .item {
    font-size: 15px;
    color: #858585;
    display: block;
    padding: 10px 0;
    line-height: 20px;
    text-align: center;
    border-bottom: 2px solid #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 25%;
    float: left
}
.pgh_menu_popup .item:hover {
    background: #efefef;
    border-bottom: 2px solid #efefef;
}
.pgh_menu_popup .item.selected {
    border-bottom: 2px solid #356592;
}
/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    overflow: hidden;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    background-color: #f1f1f1;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
    content: "On";
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    right: 1px;
    text-indent: 8px;
}
input.cmn-toggle-round + label:after {
    width: 30px;
    color: #858585;
    content: "Off";
    font-size: 15px;
    line-height: 30px;
    text-indent: 34px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #356592;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 30px;
}
/* People page CSS end here */

/* Setting page CSS start here */
.privacy_notification_setting {
    list-style: none;
}
.privacy_notification_setting li.listRow {
    border-bottom: #d5d5d5 1px solid;
    padding: 15px 80px 15px 10px;
    position: relative;
    color: #727272;
    font-size: 18px;
    line-height: normal;
    font-family: RobotoLight;
}
.privacy_notification_setting li.listRow .switch {
    position: absolute;
    right: 10px;
    top: 7px;
}
.update_profile_button {
    background: #ff8400 url(../../img/edit_icon_for_profile.png) no-repeat 10px center;
    background-size: 15px 15px;
    -moz-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -ms-background-size: 15px 15px;
    display: block;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    right: 10px;
    top: 10px;
}
.basic_profile_form {
    display: none
}
.basic_profile_form .formF_lable {
    color: #000;
    font-size: 14px;
    line-height: normal;
    float: left
}
.basic_profile_form .formF_value {
    color: #858585;
    font-family: RobotoLight;
    font-size: 14px;
    line-height: normal;
    padding-left: 4px;
    float: left
}
/* Setting page CSS end here */

.disabled {
    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
}
.formWrapperContainer .row .input input[type='text']:disabled {
    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
    cursor: not-allowed;
}
/* Documents page CSS start here */
.cb_Grid .row .col .txt .type {
    color: #638eff;
    font-size: 14px;
}
.cb_Grid .row .col .txt .attachment {
    color: #638eff;
    font-size: 14px;
    font-style: normal;
    background: url(../../img/download_doc.png) no-repeat;
    background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -ms-background-size: 25px 25px;
    text-indent: -100000px;
    width: 25px;
    height: 25px;
    position: relative;
    top: 6px;
    display: inline-block;
    margin-top: -10px;
}
.gppbxContainer .viewDetails .col30 {
    float: left;
    width: 30%;
    color: #5e5e5e;
    font-family: "RobotoCondensedRegular";
    font-size: 15px;
}
.gppbxContainer .viewDetails .col70 {
    float: left;
    color: #5e5e5e;
    font-size: 14px;
    width: 70%
}
.gppbxContainer .viewDetails .row {
    padding: 15px 20px;
    border-bottom: 1px solid #FFFFFF;
    margin: 0;
}
.gppbxContainer .viewDetails .row:nth-child(even) {
    background-color: #eee;
}
.pgh_menuNew .item {
    font-size: 15px;
    color: #858585;
    display: block;
    float: left;
    padding: 10px 25px;
    line-height: 20px;
    text-align: center;
    border-bottom: 2px solid #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pgh_menuNew .item:hover {
    background: #efefef;
    border-bottom: 2px solid #efefef;
}
.pgh_menuNew .item.selected {
    border-bottom: 2px solid #356592;
}
/* Documents page CSS end here */

/* Pagination CSS start here */
.pagination.pagination-centered {
    display: table;
    margin: 15px auto;
}
.pagination .paging a {
    display: inline-block;
    padding: 2px 10px;
    background-color: #4a6fe8;
    text-align: center;
    margin-right: 2px;
    color: #ffffff;
}
.pagination .paging a.active {
    opacity: 0.3;
    -moz-opacity: 0.3;
    -webkit-opacity: 0.3;
}
/* Pagination CSS end here */

/* Appointment page CSS start here */
.ind_appointmentList {
    list-style: none;
}
.ind_appointmentList li.appointmentDate {
    background-color: #efefef;
    padding: 10px;
    text-align: center;
    border-top: #e0e0e0 1px solid;
    border-bottom: #e0e0e0 1px solid;
    font-size: 20px;
    color: #3a3a3a;
    font-family: robotolight;
}
.ind_appointmentList li.appointmentCell {
    padding: 10px 15px;
    border-bottom: #D1D1D1 1px solid;
    font-family: robotolight;
    font-size: 16px;
    color: #343434;
    cursor: pointer
}
.ind_appointmentList li.appointmentCell .time {
    font-size: 18px;
    color: #343434;
    font-family: RobotoRegular
}
.appointmentCalendar .ui-datepicker td {
    padding: 16px 1px;
}
.appointmentCalendar .ui-datepicker .ui-state-highlight {
    background-color: #356592;
    color: #FFFFFF !important;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    border: 0;
}
.appointmentCalendar .highlight .ui-state-default {
    background-color: #1e80d7;
    color: #FFFFFF !important;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    border: 0;
}
/* Appointment page CSS end here */

/* Self Assesment page CSS start here */
.assesment_quiz {
    list-style: none;
}
.assesment_quiz li.queans {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px 9px 20px;
    position: relative;
}
.assesment_quiz li.queans:nth-child(even) {
    background-color: #f6f6f6;
}
.assesment_quiz li.queans .que {
    font-family: 'RobotoRegular';
    font-size: 18px;
    color: ##3b3b3b;
    line-height: normal;
    font-weight: normal;
    padding-bottom: 8px;
    position: relative;
}
.assesment_quiz li.queans .ans {
    font-family: 'RobotoRegular';
    font-size: 18px;
    color: ##3b3b3b;
    line-height: normal;
    font-weight: normal;
    padding-left: 20px;
    position: relative
}
.assesment_quiz li.queans .que span {
    color: #ee3923;
}
.assesment_quiz li.queans .radio_button {
    font-family: 'RobotoLight';
    padding: 0 30px 6px 20px;
    font-size: 16px;
    color: #3e3e3e;
    display: block;
    float: left;
    width: 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    position: relative
}
.assesment_quiz li.queans .radio_button label {
    cursor: pointer
}
.assesment_quiz li.queans .radio_button label span.OptradioButton {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottombottom: 1px;
    top: 50%;
    margin-top: -10px;
    background-color: #d1d1d1;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
}
.assesment_quiz li.queans .radio_button input[type=radio]:checked + label > span.OptradioButton {
    width: 10px;
    background-color: #356592;
    border: #d1d1d1 3px solid;
    height: 10px;
    position: absolute;
}
.assesment_quiz li.queans .radio_button input {
    position: absolute;
    left: -100000px;
}
.assesment_title {
    color: #356592;
    font-size: 22px;
    line-height: normal;
    padding: 15px 20px;
    word-break: break-all;
}
.assesment_title .mandatory {
    color: #898989;
    font-size: 14px;
    display: block;
    font-style: italic;
}
.symtoms_suggestionList {
    position: absolute;
    top: 60%;
    left: 0px;
    list-style: none;
    background-color: #EEE;
    width: 191px;
    border-left: 1px solid #A4A4A4;
    border-bottom: 1px solid #A4A4A4;
    border-right: 1px solid #A4A4A4;
    z-index: 10;
    max-height: 140px;
    overflow-y: auto;
}
.symtoms_suggestionList li {
    padding: 10px 15px;
    cursor: pointer;
}
.symtoms_suggestionList li:hover {
    background-color: #597DDB;
    color: #fff;
}
.copyrights_description {
    padding: 0 20px;
    font-family: "RobotoLight";
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
/* Self Assesment  page CSS end here */

/* Rewards page CSS start here */
.common_heading02 {
    font-family: "RobotoCondensedRegular";
    font-size: 20px;
    font-weight: normal;
    list-style: outside none none;
    padding: 5px 0 15px;
}
.graph_headerDash {
    display: none;
}
.que_description {
    padding: 10px 20px;
    font-family: "RobotoRegular";
    font-size: 18px;
    font-weight: normal;
}
.unitValueSpan {
    color: #585858;
    font-family: "RobotoCondensedRegular";
    font-size: 32px;
}
/* Rewards page CSS end here */

/* Filter one by one Graph data CSS start here */
.filerByLabel{
    font-size: 16px; display:block; 
    padding-right: 15px; 
    position: relative; 
    top: 10px; 
    text-align:right;
}
.GraphDataFilterBy .row{
    margin-bottom:0 !important;
    min-height:15px;
}
@media screen and (max-width:540px){
    .GraphDataFilterBy .row{
        width:48% !important;
    }
    .GraphDataFilterBy .row.firstBlankRowRemove{
        display:none !important;
    }
    .filerByLabel{
        font-size:14px;
    }
}
#userSrchData .formWrapperContainer{
    padding:20px;
}
#userSrchData .gppbxContainer{ min-height:200px;}

#userSrchData .formWrapperContainer .checkbox_col{
    width:auto;
    margin-left:40px;
}
#userSrchData .formWrapperContainer .checkbox_col:first-child{
    margin-left:0px;
}

#userSrchData .formWrapperContainer .input_button{
    width:200px;
    margin:0 auto;
    padding:0px;
}
/* Filter one by one Graph data CSS end here */

/* individual-knw base CSS start here */
.genderRadio_button {
    font-family: 'RobotoLight';
    font-size: 16px;
    color: #3e3e3e;
    display: block;
    float: left;
    width:140px;
    height:140px;
    border:#efefef 1px solid;
    position: relative;
    text-align:center;
    margin:5px 10px;
}
.genderRadio_button label {
    cursor: pointer;
    padding-top:105px !important;
    font-size:20px !important;
    color:#4f4f4f;
}
.genderRadio_button label span.OptradioButton {
    content: "";
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    left: 50%;
    top: 10px;
    background:url(../../img/gender_icon.png) no-repeat;
    background-size:160px 160px;
    -webkit-background-size:160px 160px;
    -o-background-size:160px 160px;
    -ms-background-size:160px 160px;
    -o-background-size:160px 160px;
}
.genderRadio_button label span.female{
    background-position:0 -80px;
}
.genderRadio_button input[type=radio]:checked + label{
    color:#0c2260 !important;
}
.genderRadio_button input[type=radio]:checked + label > span.male {
    background-position:-80px 0;
}
.genderRadio_button input[type=radio]:checked + label > span.female {
    background-position:-80px -80px;
}
.genderRadio_button input {
    position: absolute;
    left: -100000px;
}
.knwBasePage .colw40{
    width:40% !important;
    padding-right:5%;
    float:left
}
.knwBasePage .colw55{
    width:55% !important;
    float:left
}
.knwBasePage .boxBtn{
    padding-left:10px;
}
@media screen and (max-width:640px){
    .knwBasePage .colw55, .knwBasePage .colw40{
        width:96% !important;
        padding:0;
        margin:0 auto;
        float:none
    }
    .knwBasePage .boxBtn{
        padding-left:20px;
    }
}
/* individual-knw base CSS start here */
#ui-content-wrapper {
    position: relative;
}
/* Pre Login and Signup css start here*/
.PreLoginPageContainer {
    width: 900px;
    margin: 0 auto;
    padding: 30px;
}
.formContainer {
    width: 480px;
    margin: 0 auto
}
.formContainer .page_heading {
    text-align: center;
    font-size: 20px;
}
.formContainer_basic {
    width: 600px;
}
.formContainer_basic .page_heading_basic {
    color: #535353 !important;
    font-size: 22px !important;
    font-weight: normal !important;
    padding: 20px 0
}
.formContainer .row .date {
    margin-left: 60px;
    position: relative;
    background: url(../img/vertical_devider_line.jpg) no-repeat right center;
}
.formContainer .row .date input {
    font-family: 'RobotoLight';
    border: 0;
    background: none;
    width: 80%;
    color: #adadad;
    font-size: 18px;
}
.formContainer .row .date img {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
    display: block
}
.formContainer .checkbox_col.radioLable {
    padding-top: 12px;
}
.formContainer .checkbox_col input {
    position: absolute;
    left: -100000px;
}
.formContainer .terms {
    color: #3f3838;
    font-size: 18px !important;
}
.PreLoginPageContainer .page_heading {
    color: #2c2c2c;
    font-size: 26px;
    font-family: 'RobotoCondensedRegular';
    font-weight: normal;
    margin-bottom: 15px;
    line-height: normal
}
.PreLoginPageContainer .sub_heading {
    font-size: 16px;
    font-family: 'RobotoCondensedRegular';
    line-height: normal;
    font-weight: normal
}
.PreLoginPageContainer .paragraph {
    color: #2c2c2c;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 15px;
}
.checkTermsConditionForm, .checkTermsConditionForm .checkbox_col {
    width: auto
}
.checkTermsConditionForm .input_button {
    margin: 0 auto;
    width: 50%;
}
.checkTermsConditionForm .checkbox_col label {
    font-family: "RobotoCondensedRegular"
}
.formContainer .basicPage_button70 {
    width: 70%;
    margin: 0 auto
}
.formContainer .upload_profile_image {
    border: #e2dfdf 3px solid;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    overflow: hidden;
    width: 136px;
    height: 136px;
    margin: 0 auto;
    cursor: pointer
}
.formContainer .upload_profile_image img {
    height: 100%;
    vertical-align: baseline;
    width: 100%;
}
.formContainer .upload_profile_image input {
    position: absolute;
    left: -1000000px;
}
.formContainer .ccontentWrapper {
    text-align: center;
    line-height: normal;
    padding: 30px 0;
    color: #737373;
    font-size: 20px;
}
.formContainer .ccontentWrapper h2, .formContainer .ccontentWrapper h3, .formContainer .ccontentWrapper p {
    margin-bottom: 15px;
}
.formContainer .ccontentWrapper h2 {
    color: #4b71d3;
    font-family: 'RobotoCondensedRegular';
    font-weight: normal;
    text-transform: uppercase;
}
.formContainer .ccontentWrapper h3 {
    color: #292929
}
/* Pre Login and Signup css end here*/


/* Dashboard page css start here*/
.pageHeaderWrap {
    line-height: normal;
    font-family: 'RobotoCondensedRegular';
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: #bebebe 1px solid;
    margin-bottom: 20px;
    background-color: #FFFFFF
}
.pageWrapper .graphBox {
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    padding: 6px;
}
.pageWrapper .graphRow {
    margin-bottom: 20px;
    position: relative
}
.pageWrapper .doubleGraphRow .graphRow {
    float: left;
    width: 49%;
    margin-right: 2%
}
.pageWrapper .doubleGraphRow .graphRow.last {
    margin-right: 0
}
.pageWrapper .graphBox .graph img {
    max-width: 100%;
}
.graph_header {
    padding: 10px;
    font-family: 'RobotoLight';
    font-size: 20px;
    color: #000000
}
.graph_header .graph_title, .graph_header .feelings {
    font-family: 'RobotoCondensedRegular';
}
.graph_header .feelings {
    color: #b5b5b5;
    padding: 0 10px;
}
.graph_header .feelings span {
    color: #000000
}
.graph_header .mood_type {
    list-style: none;
    display: inline-block
}
.graph_header .mood_type li {
    float: left;
}
.graph_header .graph_filterBy {
    float: right
}
.cb_Grid {
    position: relative;
    background: #fff;
    border: 1px solid #b9b9b9;
}
.cb_Grid .row {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}
.cb_Grid .row.head {
    background: #e2e2e2;
}
.cb_Grid .row:last-child {
    border-bottom: 0px;
}
.cb_Grid .row .col {
    float: left;
}
.cb_Grid .row .col .txt, .cb_Grid .row .col .txt1 {
    text-align: center;
    display: block;
    padding: 10px 4px;
    border-left: 1px solid #e5e5e5;
    font-size: 14px;
    position: relative
}
.cb_Grid .row.head .col .txt {
    color: #5e5e5e;
    font-family: "RobotoCondensedRegular";
    font-size: 17px;
}
.cb_Grid .row .col .txt a {
    color: #5973b6;
    text-decoration: underline;
    font-style: italic;
}
.cb_Grid .row .col .txt.right {
    text-align: right;
    background-color: #b8b8b8;
}
.cb_Grid .row .col .txt.bdrnone {
    border: 0;
    background-color: #b8b8b8;
}
.cb_Grid .row.head .col .txt {
    border-left: 1px solid #e5e5e5;
}
.cb_Grid .row .col:first-child .txt {
    border-left: 0px;
}
.cb_Grid .row .col ul.action {
    margin: 0 auto;
    display: table;
    padding: 0px;
    list-style: none;
}
.cb_Grid .row .col ul.action li {
    float: left;
    padding: 0 4px;
}
.cb_Grid .row .col ul.action li:first-child {
    border-left: 0px;
}
.cb_Grid .row .col ul.action li a {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    text-indent: -9999px;
    background: url(../../img/action_button_sprite.png) no-repeat center top;
    background-repeat: no-repeat;
    background-size: 25px 175px;
    -moz-background-size: 25px 175px;
    -webkit-background-size: 25px 175px;
    -o-background-size: 25px 175px;
    -ms-background-size: 25px 175px;
}
.cb_Grid .row .col ul.action li.view a {
    background-color: #356592;
}
.cb_Grid .row .col ul.action li.edit a {
    background-color: #356592;
    background-position: 0 -25px;
}
.cb_Grid .row .col ul.action li.delete a {
    background-color: #ee3923;
    background-position: 0 -50px;
}
.cb_Grid .row .col ul.action li.play a {
    background-color: #356592;
    background-position: 0 -75px;
}
.cb_Grid .row .col ul.action li.pause a {
    background-color: #356592;
    background-position: 0 -100px;
}
.cb_Grid .row .col ul.action li.add a {
    background-color: #356592;
    background-position: 0 -125px;
}
.cb_Grid .row .col ul.action li:hover a {
    background-color: #3b3b3b
}
.cb_Grid .row .col ul.action li.arrowD a {
    background-image: url(../img/arrow_down.png);
}
.cb_GridD {
    background-color: #f4f4f4 !important;
    border-radius: 0;
    display: none
}
.cb_GridD .row, .cb_GridD .row.head {
    border-bottom: #cccccc 1px solid;
}
.cb_GridD .row .col .txt, .cb_GridD .row .col .txt1 {
    border-left: #cccccc 1px solid;
    color: #7d7d7d;
    font-size: 14px
}
.cb_GridD .row.head .col:first-child .txt, .cb_GridD .row.head .col:first-child .txt1 {
    border-left: 0 !important;
}
.cb_GridD .row.head .col .txt, .cb_GridD .row.head .col .txt1 {
    border-left: 1px solid #cccccc !important;
    color: #0866b3;
    font-weight: bold;
    font-size: 14px
}
.cb_Grid .DDrow .row {
    border-bottom: 1px solid #CCCCCC
}
.cb_Grid .wd5 {
    width: 5%;
}
.cb_Grid .wd10 {
    width: 10%;
}
.cb_Grid .wd15 {
    width: 15%;
}
.cb_Grid .wd20 {
    width: 20%;
}
.cb_Grid .wd25 {
    width: 25%;
}
.cb_Grid .wd30 {
    width: 30%;
}
.cb_Grid .wd35 {
    width: 35%;
}
.cb_Grid .wd40 {
    width: 40%;
}
.cb_Grid .wd45 {
    width: 45%;
}
.cb_Grid .wd50 {
    width: 50%;
}
.cb_Grid .wd55 {
    width: 55%;
}
.cb_Grid .wd60 {
    width: 60%;
}
.cb_Grid .wd65 {
    width: 65%;
}
.cb_Grid .wd70 {
    width: 70%;
}
.cb_Grid .wd75 {
    width: 75%;
}
.cb_Grid .wd80 {
    width: 80%;
}
.cb_Grid .wd85 {
    width: 85%;
}
.cb_Grid .wd90 {
    width: 90%;
}
.cb_Grid .wd95 {
    width: 95%;
}
.cb_Grid .wd100 {
    width: auto;
}
.commutations_graph {
    list-style: none;
    font-family: "RobotoCondensedRegular";
    margin: 6px 20px;
}
.commutations_graph li {
    border-bottom: #e1e1e1 1px solid;
    padding: 12px 8px 8px 20px;
    font-size: 20px;
    color: #747474;
    display: block;
    position: relative
}
.commutations_graph .walk {
    border-left: #e1e1e1 10px solid;
}
.commutations_graph li .time {
    padding-right: 50px;
    display: inline-block;
}
.commutations_graph li .task {
    font-family: "RobotoLight";
    display: inline-block;
    color: #3f3f3f;
}
.commutations_graph li .icon {
    background: #FFFFFF url(../../img/commutations_graph_icon.png) no-repeat;
    display: block;
    height: 40px;
    left: -23px;
    position: absolute;
    top: 0;
    width: 40px;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    z-index: 10
}
.commutations_graph li .work_icon {
    background-position: 0 -40px;
}
.commutations_graph li.heading {
    padding: 8px 8px 8px 20px;
    border-bottom: 0;
}
.commutations_graph li.heading .time {
    color: #000000;
}
.commutations_graph .cycle {
    border-left: #e59131 10px solid;
}
.commutations_graph .work {
    border-left: #1968cd 10px solid;
}
.commutations_graph .bullet {
    background-color: #e1e1e1;
    width: 6px;
    height: 6px;
    position: absolute;
    right: 0;
    bottom: -3px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}
/* Dashboard page css end here*/

/* Physical Activity CSS start here */
.pageWrapper .trippleGraphRow .graphRow {
    margin-right: 2%;
    width: 32%;
    float: left
}
.pageWrapper .trippleGraphRow .graphRow.last {
    margin-right: 0
}
.graphRow .activity_box {
    font-family: 'RobotoCondensedRegular';
    font-size: 32px;
    color: #585858;
    position: relative
}
.graphRow .activity_box .activity_num {
    padding: 6px 20px 0;
    font-size: 50px;
    word-wrap: break-word;
    line-height: 50px;
    color: #333333
}
.graphRow .activity_box .activity_num.distance {
    color: #1968cd
}
.graphRow .activity_box .activity_num.tm {
    color: #e33d31
}
.graphRow .activity_box .activity_num.cv {
    color: #e59131
}
.graphRow .activity_box .activity_title {
    font-family: 'RobotoLight';
    display: block;
    font-size: 20px;
    line-height: normal;
    padding: 10px 20px 5px;
    color: #535353
}
.graphRow .edit_activity {
    background: #FFFFFF url(../../img/edit_icon_for_activity.png) no-repeat center center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    border: #efefef 6px solid;
    position: absolute;
    right: -16px;
    bottom: -16px;
    display: block
}
/* Physical Activity CSS end here */

/* Body Measurement(Cholestrol page) CSS start here */
.graphRow .activity_box .cholestral_density {
    font-family: 'RobotoLight';
    font-size: 20px;
    line-height: normal;
    display: block;
    padding-bottom: 6px;
    color: #006bf4;
    padding-left: 20px;
}
.graphRow .activity_box .cholestral_density.low {
    color: red;
}
.pghFixedIndv .filterBy {
    position: absolute;
    right: 20px;
    top: 6px;
    width: 160px;
}
.pghFixedIndv .filterBy .row {
    margin-bottom: 0
}
.pghFixedIndv .filterBy .row span.select {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}
.pghFixedIndv .filterBy span.select {
    background: url(../../img/select_arrow.png) no-repeat 92% center !important;
}
/* Body Measurement(Cholestrol page) CSS end here */

/* Steps & Commutation CSS start here */
.calendarWrapper .ui-datepicker-inline {
    width: 98%;
    border: 0;
}
.calendarWrapper .ui-widget-header {
    background: none;
    border: 0;
}
.calendarWrapper .ui-state-default, .calendarWrapper .ui-widget-content .ui-state-default, .calendarWrapper .ui-widget-header .ui-state-default {
    background: none;
    border: #fff 1px solid;
    text-align: center;
    color: #61676b;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto
}
.calendarWrapper .ui-datepicker-title {
    color: #1e80d7;
    font-family: 'RobotoCondensedRegular';
    font-size: 20px;
    font-weight: normal;
}
.calendarWrapper .ui-datepicker-prev {
    left: 22px;
}
.calendarWrapper .ui-datepicker-next {
    right: 22px;
}
.calendarWrapper .ui-datepicker-prev .ui-icon {
    background: url(../../img/prev_date_icon.png) no-repeat center center;
}
.calendarWrapper .ui-datepicker-next .ui-icon {
    background: url(../../img/next_date_icon.png) no-repeat center center;
}
.calendarWrapper .ui-datepicker-prev-hover, .calendarWrapper .ui-datepicker-next-hover {
    border: 1px solid #fff
}
.calendarWrapper .ui-datepicker th {
    color: #1e80d7;
    font-family: 'RobotoCondensedRegular';
    font-size: 18px;
    font-weight: normal;
}
.calendarWrapper .ui-state-default.ui-state-active {
    border: #1e80d7 1px solid;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
}
.steps_travelled_information {
    text-align: center;
    line-height: normal;
    padding: 15px 0;
    border-top: #eee 1px solid;
}
.steps_travelled_information .steps_travelled_title {
    font-size: 26px;
}
.steps_travelled_information .stepsNum {
    font-size: 45px;
}
/* Steps & Commutation CSS end here */

/* Connected Devices CSS start here */
.addDevicePge .connect_button {
    color: #fff !important;
    font-style: normal !important;
    text-decoration: none !important;
    display: table;
    font-size: 15px;
    margin: 0 auto;
    padding: 8px 16px;
    text-decoration: underline;
    width: 60%;
    border: 0;
    font-family: "RobotoCondensedRegular";
    text-align: center;
    text-transform: uppercase;
}
.addDevicePge .connect_button {
    background-color: #356592;
}
.addDevicePge .disconnect_button {
    background-color: #ee3923;
}
.addDevicePge .device_img {
    width: 60px;
    height: 60px;
    margin: 0 auto 5px;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    overflow: hidden
}
.addDevicePge .device_img img {
    max-width: 100%;
    vertical-align: middle
}
/* Connected Devices CSS end here */

/* Manage Data Log page CSS start here */
.formWrapper50 {
    width: 400px;
}
.formWrapper50 .boxBtn .bb_btn {
    margin-top: 10px;
    float: none;
    padding: 8px 25px !important
}
/* Manage Data Log page CSS end here */

/* Weight & Food Management page CSS start here */
.weight_box_val {
    float: left;
    width: 49%;
    border-right: #c7c7c7 1px solid;
    color: #818181;
    padding: 25px 0;
    margin: 15px 0;
    font-family: 'RobotoCondensedRegular';
    font-size: 35px;
    text-align: center;
}
.weight_box_val.target_weight {
    border-right: 0
}
.weight_box_val .Tweight {
    font-size: 77px;
    line-height: normal;
    color: #5d5d5d
}
.weight_box_val .weight_lable {
    font-size: 22px;
    display: block;
    color: #5e5e5e
}
/* Weight & Food Management page CSS end here */

/* History page CSS start here */
.table_box_shadow {
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    border: 0;
}
.textContainer .category_list {
    padding: 0;
    color: #000000;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 15px;
}
.boxWrap_add_new_condition {
    padding: 15px !important;
}
.boxWrap_add_new_condition.boxWrap span.select {
    min-width: 220px;
}
.textContainer .category_list li {
    font-family: 'RobotoLight';
    padding-bottom: 10px;
    line-height: normal
}
.textContainer .category_list_heading {
    color: #000000;
    font-family: "RobotoCondensedRegular";
    font-size: 18px;
    line-height: normal;
    padding-bottom: 5px;
}

@media screen and (max-width:767px) {
    .history_table_responsve .row.head, .symptoms_table_responsve .row.head {
        display: none
    }
    .history_table_responsve .row .col, .symptoms_table_responsve .row .col {
        position: relative
    }
    .history_table_responsve .row .col:before, .symptoms_table_responsve .row .col:before {
        left: 10px;
        padding-right: 10px;
        position: absolute;
        top: 6px;
        white-space: nowrap;
        width: 33.5%;
        font-weight: bold
    }
    .history_table_responsve .row .col, .symptoms_table_responsve .row .col {
        width: 65%;
        padding-left: 35%;
        float: none;
    }
    .history_table_responsve .row .col .txt, .history_table_responsve .row .col .txt1, .symptoms_table_responsve .row .col .txt, .symptoms_table_responsve .row .col .txt1 {
        text-align: left;
        border: 0;
        padding: 2px 0 2px;
        word-wrap: break-word
    }
    .history_table_responsve .row .col ul.action, .symptoms_table_responsve .row .col ul.action .row .col ul.action {
        margin: 0;
    }
    .history_table_responsve .row, .symptoms_table_responsve .row {
        padding: 10px 0
    }
    .history_table_responsve .row .col:nth-of-type(1):before {
        content: "S.no";
    }
    .history_table_responsve .row .col:nth-of-type(2):before {
        content: "Conditions";
    }
    .history_table_responsve .row .col:nth-of-type(3):before {
        content: "Sub Condition";
    }
    .history_table_responsve .row .col:nth-of-type(4):before {
        content: "Description";
    }
    .history_table_responsve .row .col:nth-of-type(5):before {
        content: "Action";
    }
    .symptoms_table_responsve .row .col:nth-of-type(1):before {
        content: "S.no";
    }
    .symptoms_table_responsve .row .col:nth-of-type(2):before {
        content: "Symptom";
    }
    .symptoms_table_responsve .row .col:nth-of-type(3):before {
        content: "Status";
    }
    .symptoms_table_responsve .row .col:nth-of-type(4):before {
        content: "Sub Symptom";
    }
    .symptoms_table_responsve .row .col:nth-of-type(5):before {
        content: "Condition";
    }
    .symptoms_table_responsve .row .col:nth-of-type(6):before {
        content: "Description";
    }
    .symptoms_table_responsve .row .col:nth-of-type(7):before {
        content: "Action";
    }
    .treatments_table_responsve .row .col:nth-of-type(2):before {
        content: "Treatment";
    }
    .treatments_table_responsve .row .col:nth-of-type(4):before {
        content: "Sub Treatment";
    }
    .study_table_responsve .row .col:nth-of-type(2):before {
        content: "Description";
    }
    .study_table_responsve .row .col:nth-of-type(3):before {
        content: "Time Period";
    }
    .study_table_responsve .row .col:nth-of-type(4):before {
        content: "Address";
    }
    .study_table_responsve .row .col:nth-of-type(5):before {
        content: "Action";
    }
}
.highcharts-title {
    font-weight: bold;
}
.added_condition_wrap {
    background-color: #FFFFFF !important
}
.added_condition_row li:last-child {
    border-bottom: #d4d4d4 1px solid !important;
}
.added_condition_row {
}
.added_condition_row li.listItem {
    background-color: #f7f7f7;
    border: #d4d4d4 1px solid;
    margin-bottom: 10px;
}
.added_condition_row .bwl_type {
    float: none !important
}
.added_condition_row .listItem .row {
    padding: 10px 0 0;
    position: relative
}
.added_condition_row .listItem .bwl_delete {
    top: 22px
}
.added_condition_row span.select {
    width: auto !important
}
.ui-autocomplete {
    z-index: 1000000;
    border-radius: 0;
}
.ui-autocomplete .ui-menu-item a {
    border-radius: 0
}
.history_description {
    padding: 20px !important;
}
.history_symtom {
    padding: 0 !important;
}
.history_symtom .desc_heading {
    line-height: normal;
    margin-bottom: 5px;
}
.history_symtom .desc_paragraph {
    line-height: normal;
}
.history_symtom .symtoms_list li {
    border-bottom: #cbcbcb 1px solid;
    padding: 12px;
    background: url(../../img/view_symtoms_down_arrow.png) no-repeat right 20px;
    list-style-position: inside
}
.history_symtom .symtoms_list li:last-child {
    border-bottom: 0
}
.history_symtom ol.symtoms_list {
    cursor: pointer;
    font-family: 'RobotoCondensedRegular';
    font-size: 18px;
}
.history_symtom .symtoms_list li .desc_heading, .history_description .desc_heading {
    padding: 10px 20px 10px 0;
    font-family: 'RobotoCondensedRegular';
    font-size: 18px;
    color: #000000;
    font-weight: normal
}
.history_symtom .symtoms_list li .desc_heading {
    cursor: pointer;
}
.history_symtom .symtoms_list li .desc_paragraph {
    font-size: 16px;
    color: #6f6f6f;
    padding-top: 10px;
    display: none
}
.history_description .desc_paragraph {
    font-size: 16px;
    color: #6f6f6f;
}
.history_symtom .symtoms_list li .desc_paragraph {
    font-size: 16px;
    color: #6f6f6f;
    padding-top: 10px;
    display: none
}
.history_symtom .symtoms_list li.active .desc_heading {
    color: #356592
}
.history_symtom .symtoms_list li.active {
    color: #356592;
    background: url(../../img/view_symtoms_up_arrow.png) no-repeat right 20px;
}
.history_symtom .symtoms_list li:first-child .desc_paragraph {
    display: block
}
/* History  page CSS end here */

.cb_Grid .row .col .txt .radio {
    position: inherit !important;
    margin: 0 auto;
    left: inherit;
    top: inherit;
}
.cb_Grid .row .col .txt .radio input {
    position: absolute;
    left: -10000px;
}
/* Location  page CSS end here */
.geofence_grid .user_img {
    width: 60px;
    height: 60px;
    margin: 0px 10px 0 10px;
    float: left;
    overflow: hidden;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    text-align: center;
}
.geofence_grid .user_img img {
    max-width: 100%;
    height:100%;
}
.geofence_grid h3 {
    color: #5d5d5d;
    font-family: robotoregular;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 5px;
    padding-top: 6px;
}
.geofence_grid p {
    color: #597ddc;
    font-family: robotolight;
    font-size: 16px;
}
.or_select_becon {
    background-color: #356592;
    border-radius: 75%;
    color: #ffffff;
    display: block;
    height: 15px;
    padding: 10px;
    text-align: center;
    width: 15px;
    margin: 0 auto;
}
.geofence_grid .distance {
    position: relative;
    padding: 14px 20px 10px;
    color: #545454;
    font-family: robotolight;
}
.geofence_grid .distance .distance_icon {
    background: url(../../img/distance_icon.png) no-repeat center center;
    background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    -webkit-background-size: 20px 20px;
    -o-background-size: 20px 20px;
    -ms-background-size: 20px 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    margin-top: -10px;
    display: block;
    text-indent: -100000px;
}
.addedBeconList {
    list-style: none;
}
.addedBeconList li {
    position: relative;
    border-bottom: 1px solid #dadada;
    padding: 10px 30px 10px 20px;
}
.addedBeconList li .deleteButton {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    text-indent: -9999px;
    background: url(../../img/action_button_sprite.png) no-repeat center top;
    background-color: #ee3923;
    background-repeat: no-repeat;
    background-position: 0 -50px;
    background-size: 25px 175px;
    -moz-background-size: 25px 175px;
    -webkit-background-size: 25px 175px;
    -o-background-size: 25px 175px;
    -ms-background-size: 25px 175px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 15px;
}
.addedBeconList li .desc_paragraph, .addedBeconList li .desc_heading {
    font-size: 15px;
    padding: 0;
}
.addedBeconList li:last-child {
    border-bottom: 0
}
.selectUsercaregiver {
    list-style: none;
    min-height: 200px;
    max-height: 250px;
    overflow-y: auto;
}
.selectUsercaregiver li {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    font-size: 18px;
    line-height: normal;
}
.selectUsercaregiver li label {
    display: block;
}
/* Location  page CSS end here */

/* People page CSS start here */
.Advanced_SearchButton {
    background: #356592 url(../../img/search_advanced_icon.png) no-repeat center center;
    width: 53px;
    height: 100%;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
}
.Advanced_SearchButton.active {
    background: #ee3923 url(../../img/cross_icon.png) no-repeat center center;
}
.advancedPeopleSearch {
    display: none
}
.advancedPeopleSearch .searchFormAdv {
    position: relative;
}
.advancedPeopleSearch .bw_colthird.lastBox .bw_box {
    padding-right: 60px;
}
.advancedPeopleSearch .searchFormAdv .bw_colthird .bw_box {
    padding-bottom: 0;
    border-bottom: 0;
}
.advancedPeopleSearch .searchFormAdv .bw_box {
    padding-top: 0 !important;
}
.advancedPeopleSearch .searchFormAdv .boxBtn {
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 0;
}
.actionButtonWrapper {
    display: table;
    margin: 0 5px 0 auto;
}
.global_actionButton {
    text-align: center;
    background-color: #356592;
    padding: 8px 15px 8px 30px;
    color: #FFFFFF !important;
    text-decoration: none !important;
    font-style: normal !important;
    display: block;
    min-width: 60px;
    float: right;
    font-size: 18px;
    margin: 40px 10px 0 auto;
}
.global_actionButton.following {
    background: #356592 url(../../img/right_icon.png) no-repeat 5px center;
}
.global_actionButton.unfollow {
    background: #ee3923 url(../../img/cross_icon.png) no-repeat 5px center;
}
.global_actionButton.sync {
    background: green url(../../img/sync_icon.png) no-repeat 5px center;
    background-size: 20px;
    -moz-background-size: 20px;
    -webkit-background-size: 20px;
    -o-background-size: 20px;
    -ms-background-size: 20px;
    position: absolute;
    right: 5px;
    top: 0;
}
.global_actionButton.addbecon {
    float: left;
    display: table;
    margin-bottom: 10px;
    padding-left: 10px;
}
.global_actionButton.follow {
    background-color: #356592;
    padding-left: 15px !important;
}
.global_actionButton.deny {
    background-color: #ee3923;
    padding-left: 15px !important;
}
.peoplePge {
    width: auto !important;
    padding: 10px 10px 20px;
}
.peoplePge .user_details {
    margin-left: 80px;
}
.peoplePge .user_details h3 {
    font-size: 26px;
}
.peoplePge .user_details h4 {
    color: #686868;
    font-family: robotoregular;
    font-size: 16px;
    font-weight: normal;
    padding-top: 6px;
}
.peoplePge .user_details p {
    color: #414141;
    font-family: robotoregular;
    font-size: 14px;
    padding-top: 8px;
    padding-right: 20px;
    word-break: break-all
}
.peopleDetailsList {
    padding: 0 !important;
    display: none
}
.peopleDetailsList .desc_heading {
    line-height: normal;
    margin-bottom: 0;
}
.peopleDetailsList .desc_paragraph {
    line-height: normal;
}
.peopleDetailsList .symtoms_list {
    list-style: none;
}
.peopleDetailsList .symtoms_list li.syms_item {
    border-bottom: #cbcbcb 1px solid;
    padding: 0;
    background: url(../../img/view_symtoms_down_arrow.png) no-repeat right 20px;
    list-style-position: inside
}
.peopleDetailsList .symtoms_list li.syms_item:last-child {
    border-bottom: 0
}
.peopleDetailsList ul.symtoms_list {
    font-family: 'RobotoCondensedRegular';
    font-size: 18px;
}
.peopleDetailsList .symtoms_list li.syms_item .desc_heading, .peopleDetailsList .desc_heading {
    padding: 0 20px 0 0;
    font-family: 'RobotoCondensedRegular';
    font-size: 18px;
    color: #000000;
    font-weight: normal
}
.peopleDetailsList .symtoms_list li.syms_item .desc_heading {
    cursor: pointer;
    display: block;
    padding: 10px;
}
.peopleDetailsList .symtoms_list li.syms_item .desc_paragraph {
    font-size: 16px;
    color: #6f6f6f;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #cbcbcb;
    display: none
}
.peopleDetailsList .desc_paragraph .paragraph {
    font-family: robotolight;
    font-size: 15px;
    padding-top: 5px;
}
.peopleDetailsList .symtoms_list li.syms_item .desc_paragraph {
    font-size: 16px;
    color: #6f6f6f;
    padding-top: 0;
    display: none
}
.peopleDetailsList .symtoms_list li.syms_item .subHeading {
    font-size: 16px;
    font-weight: normal;
    color: #5d5d5d;
    padding-top: 10px;
}
.peopleDetailsList .symtoms_list li.syms_item.active .desc_heading {
    color: #356592
}
.peopleDetailsList .symtoms_list li.syms_item.active {
    color: #356592;
    background: url(../../img/view_symtoms_up_arrow.png) no-repeat right 20px;
}
.peopleDetailsList .symtoms_list li.syms_item:first-child .desc_paragraph {
    display: block
}
.peopleDetailsList .symtoms_list li.syms_item .condition_list {
    padding-top: 5px;
}
.peopleDetailsList .symtoms_list li.syms_item .condition_list li {
    font-size: 15px;
    font-family: 'RobotoLight';
}
.pgh_menu_popup {
    border-bottom: #efefef 1px solid;
}
.pgh_menu_popup .item {
    font-size: 15px;
    color: #858585;
    display: block;
    padding: 10px 0;
    line-height: 20px;
    text-align: center;
    border-bottom: 2px solid #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 25%;
    float: left
}
.pgh_menu_popup .item:hover {
    background: #efefef;
    border-bottom: 2px solid #efefef;
}
.pgh_menu_popup .item.selected {
    border-bottom: 2px solid #356592;
}
/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    overflow: hidden;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    background-color: #f1f1f1;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
    content: "On";
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    right: 1px;
    text-indent: 8px;
}
input.cmn-toggle-round + label:after {
    width: 30px;
    color: #858585;
    content: "Off";
    font-size: 15px;
    line-height: 30px;
    text-indent: 34px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #356592;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 30px;
}
/* People page CSS end here */

/* Setting page CSS start here */
.privacy_notification_setting {
    list-style: none;
}
.privacy_notification_setting li.listRow {
    border-bottom: #d5d5d5 1px solid;
    padding: 15px 80px 15px 10px;
    position: relative;
    color: #727272;
    font-size: 18px;
    line-height: normal;
    font-family: RobotoLight;
}
.privacy_notification_setting li.listRow .switch {
    position: absolute;
    right: 10px;
    top: 7px;
}
.update_profile_button {
    background: #ff8400 url(../../img/edit_icon_for_profile.png) no-repeat 10px center;
    background-size: 15px 15px;
    -moz-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -ms-background-size: 15px 15px;
    display: block;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    right: 10px;
    top: 10px;
}
.basic_profile_form {
    display: none
}
.basic_profile_form .formF_lable {
    color: #000;
    font-size: 14px;
    line-height: normal;
    float: left
}
.basic_profile_form .formF_value {
    color: #858585;
    font-family: RobotoLight;
    font-size: 14px;
    line-height: normal;
    padding-left: 4px;
    float: left
}
/* Setting page CSS end here */

.disabled {
    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
}
.formWrapperContainer .row .input input[type='text']:disabled {
    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
    cursor: not-allowed;
}
/* Documents page CSS start here */
.cb_Grid .row .col .txt .type {
    color: #638eff;
    font-size: 14px;
}
.cb_Grid .row .col .txt .attachment {
    color: #638eff;
    font-size: 14px;
    font-style: normal;
    background: url(../../img/download_doc.png) no-repeat;
    background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -ms-background-size: 25px 25px;
    text-indent: -100000px;
    width: 25px;
    height: 25px;
    position: relative;
    top: 6px;
    display: inline-block;
    margin-top: -10px;
}
.gppbxContainer .viewDetails .col30 {
    float: left;
    width: 30%;
    color: #5e5e5e;
    font-family: "RobotoCondensedRegular";
    font-size: 15px;
}
.gppbxContainer .viewDetails .col70 {
    float: left;
    color: #5e5e5e;
    font-size: 14px;
    width: 70%
}
.gppbxContainer .viewDetails .row {
    padding: 15px 20px;
    border-bottom: 1px solid #FFFFFF;
    margin: 0;
}
.gppbxContainer .viewDetails .row:nth-child(even) {
    background-color: #eee;
}
.pgh_menuNew .item {
    font-size: 15px;
    color: #858585;
    display: block;
    float: left;
    padding: 10px 25px;
    line-height: 20px;
    text-align: center;
    border-bottom: 2px solid #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pgh_menuNew .item:hover {
    background: #efefef;
    border-bottom: 2px solid #efefef;
}
.pgh_menuNew .item.selected {
    border-bottom: 2px solid #356592;
}
/* Documents page CSS end here */

/* Pagination CSS start here */
.pagination.pagination-centered {
    display: table;
    margin: 15px auto;
}
.pagination .paging a {
    display: inline-block;
    padding: 2px 10px;
    background-color: #4a6fe8;
    text-align: center;
    margin-right: 2px;
    color: #ffffff;
}
.pagination .paging a.active {
    opacity: 0.3;
    -moz-opacity: 0.3;
    -webkit-opacity: 0.3;
}
/* Pagination CSS end here */

/* Appointment page CSS start here */
.ind_appointmentList {
    list-style: none;
}
.ind_appointmentList li.appointmentDate {
    background-color: #efefef;
    padding: 10px;
    text-align: center;
    border-top: #e0e0e0 1px solid;
    border-bottom: #e0e0e0 1px solid;
    font-size: 20px;
    color: #3a3a3a;
    font-family: robotolight;
}
.ind_appointmentList li.appointmentCell {
    padding: 10px 15px;
    border-bottom: #D1D1D1 1px solid;
    font-family: robotolight;
    font-size: 16px;
    color: #343434;
    cursor: pointer
}
.ind_appointmentList li.appointmentCell .time {
    font-size: 18px;
    color: #343434;
    font-family: RobotoRegular
}
.appointmentCalendar .ui-datepicker td {
    padding: 16px 1px;
}
.appointmentCalendar .ui-datepicker .ui-state-highlight {
    background-color: #356592;
    color: #FFFFFF !important;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    border: 0;
}
.appointmentCalendar .highlight .ui-state-default {
    background-color: #1e80d7;
    color: #FFFFFF !important;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
    border: 0;
}
/* Appointment page CSS end here */

/* Self Assesment page CSS start here */
.assesment_quiz {
    list-style: none;
}
.assesment_quiz li.queans {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px 9px 20px;
    position: relative;
}
.assesment_quiz li.queans:nth-child(even) {
    background-color: #f6f6f6;
}
.assesment_quiz li.queans .que {
    font-family: 'RobotoRegular';
    font-size: 18px;
    color: ##3b3b3b;
    line-height: normal;
    font-weight: normal;
    padding-bottom: 8px;
    position: relative;
}
.assesment_quiz li.queans .ans {
    font-family: 'RobotoRegular';
    font-size: 18px;
    color: ##3b3b3b;
    line-height: normal;
    font-weight: normal;
    padding-left: 20px;
    position: relative
}
.assesment_quiz li.queans .que span {
    color: #ee3923;
}
.assesment_quiz li.queans .radio_button {
    font-family: 'RobotoLight';
    padding: 0 30px 6px 20px;
    font-size: 16px;
    color: #3e3e3e;
    display: block;
    float: left;
    width: 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    position: relative
}
.assesment_quiz li.queans .radio_button label {
    cursor: pointer
}
.assesment_quiz li.queans .radio_button label span.OptradioButton {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottombottom: 1px;
    top: 50%;
    margin-top: -10px;
    background-color: #d1d1d1;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
}
.assesment_quiz li.queans .radio_button input[type=radio]:checked + label > span.OptradioButton {
    width: 10px;
    background-color: #356592;
    border: #d1d1d1 3px solid;
    height: 10px;
    position: absolute;
}
.assesment_quiz li.queans .radio_button input {
    position: absolute;
    left: -100000px;
}
.assesment_title {
    color: #356592;
    font-size: 22px;
    line-height: normal;
    padding: 15px 20px;
    word-break: break-all;
}
.assesment_title .mandatory {
    color: #898989;
    font-size: 14px;
    display: block;
    font-style: italic;
}
.symtoms_suggestionList {
    position: absolute;
    top: 60%;
    left: 0px;
    list-style: none;
    background-color: #EEE;
    width: 191px;
    border-left: 1px solid #A4A4A4;
    border-bottom: 1px solid #A4A4A4;
    border-right: 1px solid #A4A4A4;
    z-index: 10;
    max-height: 140px;
    overflow-y: auto;
}
.symtoms_suggestionList li {
    padding: 10px 15px;
    cursor: pointer;
}
.symtoms_suggestionList li:hover {
    background-color: #597DDB;
    color: #fff;
}
.copyrights_description {
    padding: 0 20px;
    font-family: "RobotoLight";
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
/* Self Assesment  page CSS end here */

/* Rewards page CSS start here */
.common_heading02 {
    font-family: "RobotoCondensedRegular";
    font-size: 20px;
    font-weight: normal;
    list-style: outside none none;
    padding: 5px 0 15px;
}
.graph_headerDash {
    display: none;
}
.que_description {
    padding: 10px 20px;
    font-family: "RobotoRegular";
    font-size: 18px;
    font-weight: normal;
}
.unitValueSpan {
    color: #585858;
    font-family: "RobotoCondensedRegular";
    font-size: 32px;
}
/* Rewards page CSS end here */

/* Filter one by one Graph data CSS start here */
.filerByLabel{
    font-size: 16px; display:block; 
    padding-right: 15px; 
    position: relative; 
    top: 10px; 
    text-align:right;
}
.GraphDataFilterBy .row{
    margin-bottom:0 !important;
    min-height:15px;
}
@media screen and (max-width:540px){
    .GraphDataFilterBy .row{
        width:48% !important;
    }
    .GraphDataFilterBy .row.firstBlankRowRemove{
        display:none !important;
    }
    .filerByLabel{
        font-size:14px;
    }
}
/* Filter one by one Graph data CSS end here */

/* individual-knw base CSS start here */
.genderRadio_button {
    font-family: 'RobotoLight';
    font-size: 16px;
    color: #3e3e3e;
    display: block;
    float: left;
    width:140px;
    height:140px;
    border:#efefef 1px solid;
    position: relative;
    text-align:center;
    margin:5px 10px;
}
.genderRadio_button label {
    cursor: pointer;
    padding-top:105px !important;
    font-size:20px !important;
    color:#4f4f4f;
}
.genderRadio_button label span.OptradioButton {
    content: "";
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    left: 50%;
    top: 10px;
    background:url(../../img/gender_icon.png) no-repeat;
    background-size:160px 160px;
    -webkit-background-size:160px 160px;
    -o-background-size:160px 160px;
    -ms-background-size:160px 160px;
    -o-background-size:160px 160px;
}
.genderRadio_button label span.female{
    background-position:0 -80px;
}
.genderRadio_button input[type=radio]:checked + label{
    color:#0c2260 !important;
}
.genderRadio_button input[type=radio]:checked + label > span.male {
    background-position:-80px 0;
}
.genderRadio_button input[type=radio]:checked + label > span.female {
    background-position:-80px -80px;
}
.genderRadio_button input {
    position: absolute;
    left: -100000px;
}
.knwBasePage .colw40{
    width:40% !important;
    padding-right:5%;
    float:left
}
.knwBasePage .colw55{
    width:55% !important;
    float:left
}
.knwBasePage .boxBtn{
    padding-left:10px;
}
@media screen and (max-width:640px){
    .knwBasePage .colw55, .knwBasePage .colw40{
        width:96% !important;
        padding:0;
        margin:0 auto;
        float:none
    }
    .knwBasePage .boxBtn{
        padding-left:20px;
    }
}



/* individual-knw base CSS start here */
/* queize css start from here */

.Quize_Wraper
{
	background-color: #FFFFFF;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
	padding:10px 20px;
}
.Quize_Wraper .Queize_title
{
	padding:10px 0;
	text-align:center;
}
.Quize_Wraper .q_row
{
	position: relative;
}
.Quize_Wraper .q_row .title
{
	font-size:20px;
	color:#000;
	display:inline-block;
}
.Quize_Wraper .q_row .title.date
{
	margin-left:20px;
}
.Quize_Wraper .q_row .line
{
	display:inline-block;
	border-bottom:1px solid #000;
	width:500px;
	height:20px;
}
.Quize_Wraper .q_row .name_line
{
	display:inline-block;
	border-bottom:1px solid #000;
	height:20px;
}
.Quize_Wraper .q_row .line.name_line
{
		width:65%;
}
.Quize_Wraper .q_row .line.Date_line
{
		width:20%;
}
.w12 {
	width: 13%;
}
.w52 {
	width: 48%;
}
.Quize_Wraper .w10 {
	width: 13%;
}
.Quize_Wraper .w13 {
	width: 13%;
}
.Quize_Wraper .w16 {
	width: 16%;
}
.Quize_Wraper .w35 {
	max-width: 35%;
}
.Quize_Wraper .q_table
{
	position:relative;
}
.Quize_Wraper .q_table .tbl_row {
    position: relative;
    display: table;
    width: 100%;
    
}
.Quize_Wraper .q_table  .tbl_row .tbl_col {
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    border-left:1px solid #807E7E;
    border-bottom:1px solid #807E7E;
    padding: 15px 5px;
    word-break:break-all;
}
.Quize_Wraper .q_table .tbl_row .tbl_col.header{
	border-top:1px solid #807E7E;
	background-color: #eee;
        text-align: center;
}
.Quize_Wraper .q_table  .tbl_row .tbl_col:first-child
{
	border-left:0;
}
.Quize_Wraper .q_table  .tbl_row .tbl_col .option_number
{
	display:inline-block;
	font-size:14px;
	color:#000;
}

.Quize_Wraper .q_table  .tbl_row .tbl_col .radio_button {
    color: #3e3e3e;
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    position: relative;
}
.Quize_Wraper .q_table  .tbl_row .tbl_col .radio_button input {
    position: absolute;
    left: -100000px;
}
.Quize_Wraper .q_table  .tbl_row .tbl_col .radio_button label {
    cursor: pointer;
}
.Quize_Wraper .q_table  .tbl_row .tbl_col .radio_button label span.OptradioButton {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
	margin-left:-8px;
    top: 50%;
    margin-top: -10px;
    background-color: #d1d1d1;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
    -o-border-radius: 75%;
    -ms-border-radius: 75%;
}
.Quize_Wraper .q_table  .tbl_row .tbl_col .radio_button input[type=radio]:checked + label > span.OptradioButton {
    width: 10px;
    background-color: #356592;
    border: #d1d1d1 3px solid;
    height: 10px;
    position: absolute;
}

/* if coloumn = 7 use add these two classes */
	 .w9 {width: 9%;}
     .inner_space{padding: 15px 2px !important;}
/* coloumn 7 end */

/* if coloumn = 6 use this class */
	 .w10{width: 10%;}
/* coloumn 6 end */

/* if coloumn = 5 use this class */
	 .w13 {width: 13%;}
/* coloumn 5 end */

/* if coloumn = 4 use this class */
	 .w13 {width: 13%;}
/* coloumn 4 end */

/* if coloumn = 3 use this class */
	 .w21 {width: 21%;}
/* coloumn 3 end */

/* if coloumn = 2 use this class */
	 .w31 {width: 31%;}
/* coloumn 2 end */

@media screen and (max-width:720px){
    .Quize_Wraper{
        padding: 8px 4px;
    }
    .Quize_Wraper .q_table .tbl_row .tbl_col.header,.Quize_Wraper .q_table .tbl_row .tbl_col{
        font-size: 10px;
    }
}
@media screen and (max-width:520px){
    .Quize_Wraper .q_table .tbl_row .tbl_col.header,.Quize_Wraper .q_table .tbl_row .tbl_col{
        font-size: 7px;
    }
    .Quize_Wraper .q_table .tbl_row .tbl_col{
        padding: 5px 0;
    }	
}
@media screen and (max-width:360px){
    .Quize_Wraper .q_table .tbl_row .tbl_col.header,.Quize_Wraper .q_table .tbl_row .tbl_col{
        font-size:6px;
        word-break: break-all;
    }	
}