/* * ***********************
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Vishal Verma.
*/
/* Pre Login Header start here*/
.left_menu_section{
    width:240px;
    position:fixed;
    left:0;
    bottom:0;
    top:89px;
    background:#FFFFFF;
    box-shadow:5px 0px 6px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:5px 0px 6px -3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:5px 0px 6px -3px rgba(0, 0, 0, 0.2);
    -ms-box-shadow:5px 0px 6px -3px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    z-index:1002;
}
.left_menu_section .userInfo{
    background-color: #e9e9e9;
    border-bottom: 1px solid #cccccc;
    min-height: 165px;
    padding: 10px 0 5px;
    position: relative;
    text-align: center;
    display:none
}
.left_menu_section .overlay{
    display:none;
    background:rgba(0,0,0,0.70);
    position:fixed;
    left:0;
    top:61px;
    width:100%;
    height:100%;
}
.left_menu_section .userInfo .profile_pic {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #bebebe;
    height: 50px;
    overflow: hidden;
    top:5px;
    width: 50px;
    margin:0 auto;
}
.left_menu_section .userInfo .profile_pic img{
    width:100%;
    height:100%
}
.left_menu_section .userInfo .loggedIn_user {
    font-size: 16px;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:4px 4px 0	
}
.left_menu_section .userInfo .uiddr_menu{
    display:block;
    background:none;
    position:static;
    margin-top:10px;
}
.left_menu_section .userInfo .uiddr_menu ul{
    display:inline-block;
    margin:0 auto 0 -5px;
}
.left_menu_section .userInfo .uiddr_menu ul li{
    /*float:left;*/
    background-color:#356592;
    display:inline-block;
    margin:5px 0 0 5px;
    border:0;
}
.left_menu_section .userInfo .uiddr_menu ul li.logout{
    background-color:#ff8400
}
.left_menu_section .userInfo .uiddr_menu ul li:last-child{
    margin-right:0
}
.left_menu_section .userInfo .uiddr_menu ul li a{
    color: #ffffff;
    font-size: 12px;
    padding: 6px 10px;
    text-transform: uppercase;
}
.left_menu_section ul.menuWrap{
    background-color:#FFFFFF;
    list-style:none;
    position:absolute;
    width:100%;
    top:0;
    bottom:0;
    overflow-y:auto;
}
.left_menu_section ul.menuWrap li a{
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    display:block;
    padding:18px 10px 18px 40px;
    border-bottom:1px solid #f0f0f0;
    font-size:16px;
    color:#3b3b3b;
    position:relative
}
.left_menu_section ul.menuWrap li a span.icon{
    width:30px;
    height:30px;
    display:block;
    background:url(../../img/left_menu_icon_sprite.png) no-repeat;
    background-size:60px 720px;
    -moz-background-size:60px 720px;
    -webkit-background-size:60px 720px;
    -o-background-size:60px 720px;
    -ms-background-size:60px 720px;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-15px;
}
.left_menu_section ul.menuWrap li a span.body_measure{
    background-position:0 -30px;
}
.left_menu_section ul.menuWrap li a span.weight_management{
    background-position:0 -60px;
}
.left_menu_section ul.menuWrap li a span.history{
    background-position:0 -90px;
}
.left_menu_section ul.menuWrap li a span.social{
    background-position:0 -120px;
}
.left_menu_section ul.menuWrap li a span.documents{
    background-position:0 -150px;
}
.left_menu_section ul.menuWrap li a span.rewards{
    background-position:0 -180px;
}
.left_menu_section ul.menuWrap li a span.people{
    background-position:0 -210px;
}
.left_menu_section ul.menuWrap li a span.location{
    background-position:0 -240px;
}
.left_menu_section ul.menuWrap li a span.self_assesment{
    background-position:0 -270px;
}
.left_menu_section ul.menuWrap li a span.surveys{
    background-position:0 -300px;
}

.left_menu_section ul.menuWrap li a span.threshold{
    background-position:0 -330px;
}
.left_menu_section ul.menuWrap li a span.conditions{
    background-position:0 -360px;
}
.left_menu_section ul.menuWrap li a span.studies{
    background-position:0 -390px;
}
.left_menu_section ul.menuWrap li a span.sendinvite{
    background-position:0 -420px;
}
.left_menu_section ul.menuWrap li a span.recommend{
    background-position:0 -450px;
}
.left_menu_section ul.menuWrap li a span.pricing{
    background-position:0 -480px;
}
.left_menu_section ul.menuWrap li a span.pass{
    background-position:0 -510px;
}
.left_menu_section ul.menuWrap li a span.howFeel{
    background-position:0 -540px;
}
.left_menu_section ul.menuWrap li a span.blogs{
    background-position:0 -570px;
}
.left_menu_section ul.menuWrap li a span.appointment{
    background-position:0 -600px;
}
.left_menu_section ul.menuWrap li a span.archival_data{
    background-position:0 -630px;
}
.left_menu_section ul.menuWrap li a span.researcher_reqst_stdy{
    background-position:0 -660px;
}
.left_menu_section ul.menuWrap li a span.study_trials{
    background-position:0 -690px;
}

.left_menu_section ul.menuWrap li:hover a span.icon,.left_menu_section ul.menuWrap li:active a span.icon,.left_menu_section ul.menuWrap li.active a span.icon{
    background-position:-30px 0;
}
.left_menu_section ul.menuWrap li:hover a span.body_measure,.left_menu_section ul.menuWrap li:active a span.body_measure,.left_menu_section ul.menuWrap li.active a span.body_measure{
    background-position:-30px -30px;
}
.left_menu_section ul.menuWrap li:hover a span.weight_management,.left_menu_section ul.menuWrap li:active a span.weight_management,.left_menu_section ul.menuWrap li.active a span.weight_management{
    background-position:-30px -60px;
}
.left_menu_section ul.menuWrap li:hover a span.history,.left_menu_section ul.menuWrap li:active a span.history,.left_menu_section ul.menuWrap li.active a span.history{
    background-position:-30px -90px;
}
.left_menu_section ul.menuWrap li:hover a span.social,.left_menu_section ul.menuWrap li:active a span.social,.left_menu_section ul.menuWrap li.active a span.social{
    background-position:-30px -120px;
}
.left_menu_section ul.menuWrap li:hover a span.documents,.left_menu_section ul.menuWrap li:active a span.documents,.left_menu_section ul.menuWrap li.active a span.documents{
    background-position:-30px -150px;
}
.left_menu_section ul.menuWrap li:hover a span.rewards,.left_menu_section ul.menuWrap li:active a span.rewards,.left_menu_section ul.menuWrap li.active a span.rewards{
    background-position:-30px -180px;
}
.left_menu_section ul.menuWrap li:hover a span.people,.left_menu_section ul.menuWrap li:active a span.people,.left_menu_section ul.menuWrap li.active a span.people{
    background-position:-30px -210px;
}
.left_menu_section ul.menuWrap li:hover a span.location,.left_menu_section ul.menuWrap li:active a span.location,.left_menu_section ul.menuWrap li.active a span.location{
    background-position:-30px -240px;
}
.left_menu_section ul.menuWrap li:hover a span.self_assesment,.left_menu_section ul.menuWrap li:active a span.self_assesment,.left_menu_section ul.menuWrap li.active a span.self_assesment{
    background-position:-30px -270px;
}
.left_menu_section ul.menuWrap li:hover a span.surveys,.left_menu_section ul.menuWrap li:active a span.surveys,.left_menu_section ul.menuWrap li.active a span.surveys{
    background-position:-30px -300px;
}
.left_menu_section ul.menuWrap li.ui-tab:hover a.anchor,.left_menu_section ul.menuWrap li.ui-tab:active a.anchor, .left_menu_section ul.menuWrap li.ui-tab.active a.anchor{
    background-color:#356592;
    color:#FFFFFF
}
.left_menu_section ul.menuWrap li:hover a span.threshold,.left_menu_section ul.menuWrap li:active a span.threshold,.left_menu_section ul.menuWrap li.active a span.threshold{
    background-position:-30px -330px;
}
.left_menu_section ul.menuWrap li:hover a span.conditions,.left_menu_section ul.menuWrap li:active a span.conditions,.left_menu_section ul.menuWrap li.active a span.conditions{
    background-position:-30px -360px;
}
.left_menu_section ul.menuWrap li:hover a span.studies,.left_menu_section ul.menuWrap li:active a span.studies,.left_menu_section ul.menuWrap li.active a span.studies{
    background-position:-30px -390px;
}
.left_menu_section ul.menuWrap li:hover a span.sendinvite,.left_menu_section ul.menuWrap li:active a span.sendinvite,.left_menu_section ul.menuWrap li.active a span.sendinvite{
    background-position:-30px -420px;
}
.left_menu_section ul.menuWrap li:hover a span.recommend,.left_menu_section ul.menuWrap li:active a span.recommend,.left_menu_section ul.menuWrap li.active a span.recommend{
    background-position:-30px -450px;
}
.left_menu_section ul.menuWrap li:hover a span.pricing,.left_menu_section ul.menuWrap li:active a span.pricing,.left_menu_section ul.menuWrap li.active a span.pricing{
    background-position:-30px -480px;
}
.left_menu_section ul.menuWrap li:hover a span.pass,.left_menu_section ul.menuWrap li:active a span.pass,.left_menu_section ul.menuWrap li.active a span.pass{
    background-position:-30px -510px;
}
.left_menu_section ul.menuWrap li:hover a span.howFeel,.left_menu_section ul.menuWrap li:active a span.howFeel,.left_menu_section ul.menuWrap li.active a span.howFeel{
    background-position:-30px -540px;
}
.left_menu_section ul.menuWrap li:hover a span.blogs,.left_menu_section ul.menuWrap li:active a span.blogs,.left_menu_section ul.menuWrap li.active a span.blogs{
    background-position:-30px -570px;
}
.left_menu_section ul.menuWrap li:hover a span.appointment,.left_menu_section ul.menuWrap li:active a span.appointment,.left_menu_section ul.menuWrap li.active a span.appointment{
    background-position:-30px -600px;
}
.left_menu_section ul.menuWrap li:hover a span.archival_data,.left_menu_section ul.menuWrap li:active a span.archival_data,.left_menu_section ul.menuWrap li.active a span.archival_data{
    background-position:-30px -630px;
}
.left_menu_section ul.menuWrap li:hover a span.researcher_reqst_stdy,.left_menu_section ul.menuWrap li:active a span.researcher_reqst_stdy,.left_menu_section ul.menuWrap li.active a span.researcher_reqst_stdy{
    background-position:-30px -660px;
}
.left_menu_section ul.menuWrap li:hover a span.study_trials,.left_menu_section ul.menuWrap li:active a span.study_trials,.left_menu_section ul.menuWrap li.active a span.study_trials{
    background-position:-30px -690px;
}

.left_menu_section ul.menuWrap .submenu{
/*    border-bottom:#e0e0e0 1px solid;
    border-top:#e0e0e0 1px solid;*/
    display:none
}
.left_menu_section ul.menuWrap .submenu li a{
    font-family: 'RobotoLight';
    padding:10px;
    font-style:italic;
    color:#000000;
    text-align:right;
    font-size:16px;
}
.left_menu_section ul.menuWrap .submenu li:hover a,.left_menu_section ul.menuWrap .submenu li.active a{
    background-color:#9d9d9d;
    color:#fff
}
/* Pre Login Header end here*/

.left_menu_section ul.menuWrap li a span.arrow{
    width: 0; 
    height: 0;
    border-bottom: 10px solid #9d9d9d; 
    border-left: 10px solid transparent;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    display:block;
    position:absolute;
    right:10px;
    bottom:10px;
}
.left_menu_section ul.menuWrap li.active a span.arrow{
    border-bottom: 10px solid #9ab6ff; 
    transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
}

.left_panel_menu_button{
    background:url(../../img/panel_open_button.png) no-repeat center center;
    background-size:30px 30px;
    -moz-background-size:30px 30px;
    -webkit-background-size:30px 30px;
    -o-background-size:30px 30px;
    -ms-background-size:30px 30px;
    height: 46px;
    position: absolute;
    right: -54px;
    top: 5px;
    width: 46px;
    z-index:10;
}
.pghFixed.pghFixedIndv .pgh_title{
    padding-left:50px;
}
html.slide_pannelOpen .left_menu_section{
    left:-250px;
}
html.slide_pannelOpen body{
}
html.slide_pannelOpen .pghFixed{
    left:0;
    width:100% !important
}
html.slide_pannelOpen #content-wrapper{
    margin-left:0
}
html.slide_pannelOpen .innerFooter{
    margin-left:0
}
/* end */

.left_menu_researcher ul.menuWrap{
    background-color:#444444 !important
}
.left_menu_researcher ul.menuWrap li a{
    color:#FFFFFF !important;
    border-bottom: 1px solid #393939 !important;
    border-top: 1px solid #4e4e4e !important;
}
.left_menu_researcher ul.menuWrap li a span.documents{
    background-position:-30px -150px !important;
}
.left_menu_section ul.menuWrap li a span.conditions{
    background-position:-30px -360px !important;
}
.left_menu_section ul.menuWrap li a span.threshold{
    background-position:-30px -330px !important;
}
.left_menu_caregiver ul.menuWrap{
    background-color:#858688 !important
}
.left_menu_caregiver ul.menuWrap li a{
    color:#FFFFFF !important;
    border-bottom: 1px solid #6f6f6f !important;
}
.left_menu_caregiver ul.menuWrap .submenu{
    border-bottom: 1px solid #6f6f6f !important;
    border-top: 1px solid #6f6f6f !important;
}