/* * ***********************
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Vishal Verma.
*/
.innerHeader .left_panel_menu_button{
    display: none;
}
@media screen and (max-width:1160px){
/* Manage Data Log page css start here*/
.boxWrap{
	padding:15px 0;
}
.boxWrap .hww .radioWrapper{
	font-size:13px;
}
.cb_Grid .row.head .col .txt{
	font-size:15px;
}
.cb_Grid .row .col .txt, .cb_Grid .row .col .txt1{
	font-size:13px;
}
/* Manage Data Log css end here*/
}

@media screen and (max-width:1024px){
/* Pre Login Header start here*/
	.main_header .header .logo{
		width:250px;
	}
/* Pre Login Header end here*/

/* Sign Up page start here*/
	.PreLoginPageContainer{
		width:96%;
		padding:30px 2%
	}
/* Sign Up page end here*/

/* Dashboard page start here*/
	.pageWrapper .doubleGraphRow .graphRow{
		width:100%;
		margin-right:0
	}
/* Dashboard page end here*/

/* Physical Activity page start here*/
	.pageWrapper .trippleGraphRow .graphRow{
		float:none;
		width:auto;
		margin-right:0
	}
	.graphRow .activity_box{
		font-size:30px;
	}
	.graphRow .activity_box .activity_num{
		font-size:60px;
	}
	.graphRow .activity_box .activity_title{
		font-size:16px;
	}
/* Physical Activity page end here*/

/* Manage Data Log page css start here*/
.boxWrap{
	padding:15px 0;
}
.boxWrap .bw_colthird{
	width:auto;
	float:none
}
.boxWrap .bw_colthird .bw_box{
	border-left:0;
	border-bottom:1px solid #c4c4c4;
	padding-top:10px;
	padding-bottom:20px
}
.boxWrap .hww .radioWrapper{
	font-size:16px;
}
/* Manage Data Log css end here*/
}
@media screen and (max-width:960px){
/* Top Header css start here*/
.menuWrapper .pre_login_menu li a{
	font-size:16px;
}
/* Top Header css end here*/

/* Dashboard page css start here*/
.cb_Grid .row .col ul.action li{
	padding:0 2px;
}
.assesment_quiz li.queans .radio_button{
	width:50%;
}
/* Dashboard page css end here*/

}
@media screen and (max-width:940px){
/* Top Header css start here*/
	.innerHeader.main_header .header{
		height:60px;
	}
	.left_panel_menu_button{
		right: inherit;
		z-index: 10;
	}
        .left_menu_section .left_panel_menu_button{
            display:none;
        }
        .innerHeader .left_panel_menu_button{
                display: block;
        }
	.headder_right_sec{
		float:none;
		position:absolute;
		top:0;
		right:0
	}
	.innerHeader.main_header .header .logo img {
		height: 40px;
		width: auto;
	}
	.headder_right_sec .notification{
		margin:12px 34px 0
	}
	.headder_right_sec .userInfo{
		display:none
	}
	.innerHeader.main_header .header .logo {
		float: none;
		margin: 0 40px;
		text-align:center;
		padding-top:10px
	}
	.headder_right_sec .notification{
		width:25px;
		height:25px;
		margin:20px 20px 10px
	}
	.headder_right_sec .notification span.degit{
		padding:2px 6px
	}
	.formWrapperContainer.domainChange{
		margin-top:15px;
	}
/* Top Header css end here*/

/* Left Pannel css start here*/
	.left_menu_section{
		left:-250px;
		top:61px;
	}
	#content-wrapper{
		margin-left:0
	}
	.pghFixed.pghFixedIndv{
		top:61px;
		left:0;
		width:100% !important
	}
	.pghFixed.pghFixedIndv .pgh_title{
		padding-left:10px;
	}
	html.slide_pannelOpen .left_menu_section{
		left:0;
	}
	.pghFixedIndv.pghFixed{
		left:0
	}
	html.slide_pannelOpen .pghFixed{
		left:0;
		width:100%
	}
	html.slide_pannelOpen .left_menu_section .overlay{
		display:block
	}
	html.slide_pannelOpen body{
		position:fixed;
		left:0;
		top:0;
		width:100%;
		height:100%;
	}
	html.slide_pannelOpen #content-wrapper{
		margin-left:0
	}
	.left_menu_section ul.menuWrap{
		top:181px;
	}
	.left_menu_section .userInfo .uiddr_menu ul li a{
		text-transform:capitalize
	}
	.left_menu_section .userInfo{
		display:block
	}
/* Left Pannel css end here*/

/* Dashboard page css start here*/
.pageWrapper {
    padding: 20px 10px;
}
.pghFixedIndv .filterBy{
	right:10px;
}
.pghFixed .pgh_title{
	font-size:20px;
	padding-top:5px;
	padding-bottom:5px;
}
.pghFixedIndv .filterBy .row span.select{
	padding-top:4px;
	padding-bottom:4px;
}
.pghFixedIndv .filterBy{
	top:4px;
}
.pgh_menu .item{
	padding:10px 5px
}
.pgh_mWrap{
	padding:0 44px
}
.boxWrap .hww .radioWrapper {
    font-size: 13px;
}
.boxWrap .hww label, .boxWrap .hww .radioWrapper {
    padding: 5px 10px;
}
/* Dashboard page css end here*/

/* page Fixed sub Menu page css start here*/
.pghFixedsubMenuWrapper .pre_login_menu li{
	padding:0 20px;
}
.menuWrapper .pre_login_menu li a{
	font-size:16px;
}
/* page Fixed sub Menu page css end here*/

/* Self Assesment page css start here*/
.assesment_quiz li.queans .que{
    font-size: 15px;
}
.assesment_quiz li.queans .radio_button{
    font-size: 14px;
}
/* Self Assesment page css end here*/

/* Footer css start here*/
	#footer.innerFooter{
		margin-left:0
	}
/* Footer css end here*/
}

@media screen and (max-width:640px){
/* Sign Up page start here*/
	.formContainer,.formContainer_basic{
		width:auto;
	}
	.formContainer .checkbox_col .checkbox{
		width:18px;
		height:18px;
		margin-top:-9px;
	}
	.formContainer .checkbox_col label{
		font-size:14px;
		padding-left:24px
	}
	.formContainer .checkbox_col .checkbox.checked{
		background-position:-3px -4px;
	}
	.checkTermsConditionForm .input_button{
		width:auto
	}
	.formWrapperContainer .row .doblabel2{
		width:100%
	}
	.menuWrapper .pre_login_menu{
		width:98%
	}
	.formContainer .tripple .row,.formContainer .double .row{
		width:auto;
		float:none;
		margin-right:0
	}
	.formWrapperContainer .submit_button{
		font-size:15px;
	}
	.formWrapperContainer .row label.input_label{
		font-size:14px;
		padding:0 0 4px
	}
	.formWrapperContainer .row{
		margin-bottom:12px;
	}
	.formWrapperContainer .row .input input[type="text"], .formWrapperContainer .row .input input[type="password"], .formWrapperContainer .row .input textarea,.formWrapperContainer .row span.select{
		font-size:13px;
	}
	.formWrapperContainer .row span.select{
		padding:8px 14px;
	}
/* Sign Up page end here*/

/* Change Password popup start here*/
#ForgotPassword .gppbxContainer, #changePass .gppbxContainer{
	width:92%
}
/* Change Password popup end here*/

/* Dashboard page start here*/
	.graphBox .graph_header{
		font-size:14px;
	}
/* Dashboard page end here*/

/* Manage Data Log page CSS start here */
.formWrapper50{
	width:100%;
}
/* Manage Data Log page CSS end here */

/* People page CSS start here */
.global_actionButton{
	font-size:14px;
	padding:8px 15px 8px 28px
}
/* People page CSS end here */

/* Footer start here*/
	#footer .copyrights,#footer .footer_nav{
		float:none;
		text-align:center
	}
/* Footer start end here*/
}

@media screen and (max-width:480px){
/* Header css start here*/
.innerHeader.main_header .header .logo {
	text-align:left;
	display:table;
	padding-top:14px;
}
.innerHeader.main_header .header .logo img{
	height:30px;
}
/* Header css end here*/

/* page Fixed sub Menu page css start here*/
.pghFixedsubMenuWrapper .pre_login_menu li{
	padding:0 15px;
}
.pghFixedsubMenuWrapper .pre_login_menu li a{
	font-size:16px;
}
/* page Fixed sub Menu page css end here*/

/* People page CSS start here */
.peopleTable .row .col{
	font-size:14px;
	padding:0 5px 0 25px;
	float:none;
	width:auto
}
.peopleTable .row .col.wd30 .txt{
	height:30px !important;
	padding-top:0;
}
.peopleTable .row .col.wd30 .global_actionButton{
	margin-top:0;
	margin-left:0;
}
/* People page CSS end here */

/* Dashboard page start here*/
 .graph_headerDash, .graph_headerDash.graph_header .graph_title{
            display: block;
            text-align: center;
            color: #333333;
            font-size: 18px;
       }
       .highcharts-title{
           opacity: 0 !important;
       }
/* Dashboard page end here*/
}