.left_menu_section ul.menuWrap .menuHeading {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #EDEDED
}
.left_menu_section ul.menuWrap li a {
    padding: 10px;
}
.assesment_category {
    padding: 0 !important;
}
.assesment_category .assesment_list {
    list-style: none;
    position: relative;
    padding: 0;
    cursor: pointer
}
.assesment_category .assesmentText {
    margin-left: 185px;
}
.assesment_category li .assessment_img {
    float: left;
    width: 160px;
    font-size: 22px;
    line-height: normal;
    background-color: #e9e9e9;
    text-align: center;
    margin: 10px;
}
.assesment_category li .assessment_img img {
    max-width: 100%;
    vertical-align: middle;
}
.assesment_category li h2 {
    padding: 12px 0;
}
.assesment_category li p {
    padding: 0;
    font-size: 16px;
    font-family: robotoLight;
    color: #597ddb;
}
.formWrapperContainer {
    width: 90%;
    margin: 20px auto;
}
#cross { background: red; height: 100px; position: relative; width: 20px; } #cross:after { background: red; content: ""; height: 20px; left: -40px; position: absolute; top: 40px; width: 100px; }
/* Self Assesment page CSS start here */
.assesment_quiz{
    list-style:none;
}
.assesment_quiz li.queans{
    border-bottom:1px solid #e5e5e5;
    padding:15px 20px 9px 20px;
    position:relative;
}
.assesment_quiz li.queans:nth-child(even){
    background-color:#f6f6f6;
}
.assesment_quiz li.queans .que{
    font-family: 'RobotoRegular';
    font-size:18px;
    color:##3b3b3b;
    line-height:normal;
    font-weight:normal;
    padding-bottom:8px;
    position:relative;
}
.assesment_quiz li.queans .ans{
    font-family: 'RobotoRegular';
    font-size:18px;
    color:##3b3b3b;
    line-height:normal;
    font-weight:normal;
    padding-left:20px;
    position:relative
}
.assesment_quiz li.queans .que span{
    color:#ee3923;
}
.assesment_quiz li.queans .radio_button{
    font-family: 'RobotoLight';
    padding:0 30px 6px 20px;
    font-size:16px;
    color:#3e3e3e;
    display: block;
    float:left;
    width:25%; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    position:relative
}
.assesment_quiz li.queans .radio_button label{
    cursor:pointer
}
.assesment_quiz li.queans .radio_button label span.OptradioButton {
    content: "";  
    width: 16px;  
    height: 16px;  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottombottom: 1px;  
    top:50%;
    margin-top:-10px;
    background-color: #d1d1d1; 
    border-radius:75%;
    -moz-border-radius:75%;
    -webkit-border-radius:75%;
    -o-border-radius:75%;
    -ms-border-radius:75%; 
}
.assesment_quiz li.queans .radio_button input[type=radio]:checked + label > span.OptradioButton {
    width: 10px;
    background-color:#597ddb;
    border:#d1d1d1 3px solid;  
    height: 10px;  
    position: absolute;  
}
.assesment_quiz li.queans .radio_button input{
    position:absolute;
    left:-100000px;
}
.assesment_title{
    color: #597ddb;
    font-size: 22px;
    line-height: normal;
    padding:15px 20px;
    word-break:break-all;
}
.assesment_title .mandatory{
    color: #898989;
    font-size: 14px;
    display:block;
    font-style: italic;
}
.symtoms_suggestionList{
    position: absolute;
    top: 60%;
    left: 0px;
    list-style:none;
    background-color: #EEE;
    width: 191px;
    border-left:1px solid #A4A4A4;
    border-bottom:1px solid #A4A4A4;
    border-right:1px solid #A4A4A4;
    z-index:10;
    max-height:140px;
    overflow-y:auto;
}
.symtoms_suggestionList li{
    padding:10px 15px;
    cursor:pointer;
}
.symtoms_suggestionList li:hover{
    background-color:#597DDB;
    color:#fff;
}
.copyrights_description{
    padding: 0 20px;
    font-family: "RobotoLight";
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
.que_description{
    padding: 10px 20px;
    font-family: "RobotoRegular";
    font-size: 18px;
    font-weight: normal;
}
.unitValueSpan{
    color: #585858;
    font-family: "RobotoCondensedRegular";
    font-size: 32px;
}
/* Self Assesment  page CSS end here */
