/* * ***********************
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Vishal Verma.
*/
.browsDoc{
    position:relative;
    padding-bottom:20px;
    padding-top:10px;
}
.browsDoc .bd_btn{
    position:relative;
    color:#fff;
    font-family: "RobotoLight";
    font-size: 18px;
    padding: 10px 20px;
    display:block;
    background:#ff8400;
    text-transform:uppercase;
    cursor:pointer;
    width:100px;
    text-align:center;
    overflow:hidden;
}
.browsDoc .bd_btn:hover{
    opacity:0.9;
}
.browsDoc .bd_btn input{
    position:absolute;
    left:-9999px;
    opacity:0;
}
.browsDocList{
    position:relative;
}
.browsDocList .bdl_row{
    margin-bottom:8px;
    color:#b1b1b1;
    font-size:15px;
}
.browsDocList .bdl_row .bdlFile{
    position:relative;
    float:left;
    padding-right:34px;
    height:24px;
    line-height:20px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    max-width:90%;
}
.browsDocList .bdl_row .bdlFile span.index{
    padding-right:10px;
}

.browsDocList .bdl_row .bdlFile .bdl_delete{
    position:absolute;
    right:0px;
    top:50%;
    width:24px;
    height:24px;
    text-indent:-9999px;
    background-image:url(../../img/dlt_icon_normal.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin-top:-12px;
    cursor:pointer;
}
.browsDocList .bdl_row .bdlFile .bdl_delete:hover{
    background-image:url(../../img/dlt_icon_hover.png);
}
.formulaSetup{
    position:relative;
}
.formulaSetup .fsTitle{
    position:relative;
    background:#e7e7e7;
    padding:20px 10px;
    border-top:1px solid #dadada;
    border-bottom:1px solid #dadada;
    color:#4c4c4c;
    font-size:20px;
    margin-bottom:30px;
}
.formulaSetup .fsTitle h4{
    font-weight:normal;
    float:left;
    padding-right:40px;
    position:relative;
}
.formulaSetup .fsTitle .infoBtn{
    position:absolute;
    right:0px;
    top:50%;
    width:26px;
    height:26px;
    margin-top:-13px;
    background-image:url(../../img/info.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    text-indent:-9999px;
    cursor:pointer;
}

.formulaSetup .fsCondition{
    position:relative;
    border:1px solid #dadada;
    border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    -webkit-border-radius:5px;
    padding:30px 20px 20px 20px;
    margin-bottom:30px;
}
.fsCondition .fscTitle{
    position:absolute;
    left:15px;
    top:-5px;
    height:20px;
    line-height:20px;
    padding:5px 20px;
    margin-top:-12px;
    background:#dadada;
    border-radius:20px;
    color:#777777;
    font-size:16px;
}
.fsCondition.formWrapperContainer .row span.select{
    background-color:#fff;
    padding-right:30px;
}
.fsCondition.formWrapperContainer .fsRow{
    margin-bottom:0px;
}
.fsCondition .fsRow .fsr_cols{
    float:left;
    position:relative;
    margin-right:10px;
}
.fsCondition .fsRow .fsr_cols div.select{
    position:relative;
}

.fsCondition .fsRow .fsr_cols.setFsc{
    padding-right:34px;
    width:200px;
    position:absolute;
    left:0px;
    top:0px;
    margin:0px;
}
.fsCondition .fsRow .fsr_cols.setFsc:after{
    content:'=';
    position:absolute;
    right:0px;
    top:50%;
    font-size:20px;
    color:#777777;
    width:24px;
    height:24px;
    line-height:24px;
    margin-top:-12px;
    text-align:center;
}
.fsCondition .fsr_fRow{
    position:relative;
    padding-left:244px;
}

.fsCondition .fsRow .fsr_cols.fsrAction{
    width:60px;
}
.fsCondition .fsRow .fsr_fRow .fsr_cols{
    margin-bottom:10px;
}
.fsCondition .adnoset{
    position:relative;
    padding-left:244px;
}

.fsrcTxt{
    padding:10px 0;
    color:#777777;
    font-size:16px;
}


.setFormulaBtn{
    position:absolute;
    right:10px;
    top:12px;
    padding:8px 8px 8px 30px;
    color:#ff8400;
    font-size:15px;
    cursor:pointer;
}
.setFormulaBtn span.icon{
    display:block;
    position:absolute;
    left:0px;
    top:50%;
    width:26px;
    height:26px;
    margin-top:-13px;
    background-image:url(../../img/add_icon_normal_orange.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.setFormulaBtn:hover{
    opacity:0.9;
}


#formulaChoose .gppbxContainer{
    width:460px;
    margin-left:-230px;
    min-height:100px;
}
#formulaChoose .gppbxContainer .formWrapperContainer{
    padding:20px;
}
#formulaChoose .formWrapperContainer .input_button{
    display: table;
    margin: 0 auto;
    min-width: 120px;
}
#formulaChoose .formWrapperContainer .checkbox_col{
    float:none;
    width:auto;
}
#formulaChoose .formWrapperContainer .checkbox_col .radio{
    margin-top:-14px;
}
#formulaChoose .formWrapperContainer .checkbox_col label{
    padding-top:0px;
}
.createStudy .formulaSetup .browsDocList .bdl_row{ float:left; margin-right:30px;}
.createStudy .formulaSetup .browsDocList .bdl_row .bdlFile{ padding-right:28px; line-height:24px;}
.createStudy .formulaSetup .browsDocList .bdl_row .bdlFile .bdl_delete{}
.createStudy .formulaSetup .browsDoc{ padding-bottom:0px;}
.sc_rightpanel{
    position:relative;
    margin-left:240px;
    background:#fff;
    padding:15px;
    border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    -webkit-border-radius:6px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    -ms-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    -o-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    min-height:350px;
}
.sc_rightpanel h2{
    font-size:20px;
    color:#597ddb;
    font-weight:normal;
    padding:10px 0;
    word-wrap:break-word;
}

#conditionDetail .gppbxContainer{ min-height:300px;}
.grobalPopup .textCondition{ padding:20px;}
.textCondition{
    position:relative;
    font-size:14px;
    color:#595959;
    word-wrap:break-word;
}
.textCondition div{
    padding-top:10px;
}
.textCondition .btn_ok{
    position:relative;
    padding-top:30px;
}
.textCondition .btn_ok a{
    display:block;
    background-color: rgb(89, 125, 219);
    color: #fff;
    font-family: "RobotoCondensedRegular";
    font-size: 22px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    width:150px;
    margin:0 auto;
}
.textCondition .btn_ok a:active {
    background-color: rgb(74, 112, 212);
    color: rgb(255, 255, 255);
}


.scr_subCondition{
    position:relative;
    padding-top:20px;
}
.scr_subCondition ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.scr_subCondition ul li{
    float:left;
    width:50%;
    font-size:14px;
    color:#595959;
}
.scr_subCondition ul li a{
    /*display:block;*/
    padding:8px 8px 8px 16px;
    margin-right:10px;
    color:#595959;
    background-image:url(../../img/arrow2.png);
    background-repeat:no-repeat;
    background-position:0px 14px;
}
.scr_subCondition ul li a:hover{
    color:#597ddb;
}

.scr_symptomslisting{
    position:relative;
    margin-top:30px;
    max-height:300px;
    overflow:hidden;
    overflow-y:auto;

}
.scr_symptomslisting ul{
    margin:0px;
    padding:0px;
    list-style:none;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}
.scr_symptomslisting ul li{
    position:relative;
    padding:15px 30px 15px 15px;
    font-size:15px;
    border-top:1px solid #d9d9d9;
    word-wrap:break-word;
}
.scr_symptomslisting ul li span{ cursor:pointer;}
.scr_symptomslisting ul li span:hover{ text-decoration:underline;}
.scr_symptomslisting ul li:first-child{
    border-top:0px;
}
.scr_symptomslisting ul li:hover{
    background:#efefef;
}
.scr_symptomslisting ul li .scrs_dlt{
    position:absolute;
    right:10px;
    top:50%;
    background-image: url(../../img/close_gpp.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    width:14px;
    height:14px;
    margin-top:-8px;
    display:block;
    text-indent:-9999px;
    display:none;
}
.scr_symptomslisting ul li:hover .scrs_dlt{ display:block;}

.addSymptoms{
    position:relative;
    padding:30px 0 10px 0;
}
.addSymptoms a{
    background:#ff8400;
    padding:10px 20px;
    display:table;
    margin:0 auto;
    cursor:pointer;
    color:#fff;
    font-family: 'RobotoLight';
    font-size: 18px;
    text-transform:uppercase;
    text-align:center;
}

.sc_leftpanel .addSymptoms{
    padding:10px 0 0 0;
}
.sc_leftpanel .addSymptoms ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.sc_leftpanel .addSymptoms li{
    padding-top:10px;
}
.sc_leftpanel .addSymptoms a{
    display:block;
}
.sc_leftpanel .addSymptoms a.others{
    background:#b6b6b6;
}


.othSymptomsList{
    position:relative;
    max-height:400px;
    overflow:hidden;
    overflow-y:auto;
}
.othSymptomsList ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.othSymptomsList ul li{
    border-top:1px solid #d9d9d9;
}
.othSymptomsList ul li:first-child{
    border-top:0px;
}
.othSymptomsList ul li a{
    display:block;
    padding:15px 20px;
    color:#777777;
    font-size:15px;
}
#otherSymptoms .gppbxContainer{
    width:400px;
    margin-left:-200px;
    min-height:200px;
}
#addSymptoms .formWrapperContainer{
    padding:20px;
}
#addSymptoms .formWrapperContainer .input_button{
    margin: 0 auto;
    padding: 0;
    width: 200px;
}
#addSymptoms .gppbxContainer {
    min-height: 200px;
    width:500px;
    margin-left:-250px;
}
#userSrchData .formWrapperContainer .radio{
    margin-top:-15px;
}
.SymptomsDlt{
    position:absolute;
    right:10px;
    top:0px;
    z-index:99;
    width:32px;
    height:40px;
    background-image:url(../../img/delete_icon.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    text-indent:-9999px;
    cursor:pointer;
}
.setQuestion{
    position:relative;
}
.setQuestion .sq_title{
    position:relative;
    font-size:20px;
    padding-bottom:20px;
    color:#4c4c4c;
}
.setQuestion .input,.setQuestion div.select{
    background:#fff;
}
.setQuestion textarea{
    resize:none;
}
.pageWrapper.addQuestion .sc_leftpanel{
    width:280px;
    left:0px;
    top:0px;
}
.pageWrapper.addQuestion .sc_rightpanel{
    margin-left:300px;
    overflow:hidden;
    overflow-y:auto;
}

.setQuestion .submitQ{
    background:#ff8400;
    padding:10px 20px;
    display:table;
    margin:0 auto;
    cursor:pointer;
    color:#fff;
    font-family: 'RobotoLight';
    font-size: 18px;
    text-transform:uppercase;
    text-align:center;
    border:0px;
}
.setQuestion .formWrapperContainer .row .input{
    padding:0;
    background:none;
    border:0px;
}

.setQuestion .formWrapperContainer .row span.select{
    border:1px solid #c6c6c6;
    font-size:14px;
    padding:6px;
    display:block;
}
.setQuestion  .formWrapperContainer .row .input input[type="text"],.setQuestion .formWrapperContainer .row .input textarea{
    padding:6px;
    width:268px;
    background:#fff;
    font-size:14px;
    border:1px solid #c6c6c6;
}
.setQuestion .formWrapperContainer .row{
    margin-bottom:15px;
}
.setQuestion .formWrapperContainer .double .row{ width:auto; margin:0px; margin-right:10px;}
.setQuestion .formWrapperContainer .row.last{ margin-bottom:0px;}
.setQuestion .formWrapperContainer .double{ margin-bottom:10px;}
.setQuestion .formWrapperContainer .double .row .input input{
    width:124px;
}
.setQuestion .formWrapperContainer .double .row.value .input input{
    width:84px;
}
.setQuestion .formWrapperContainer .double{ position:relative;}

.dlt_qOption{
    position:absolute;
    right:0px;
    top:50%;
    width:24px;
    height:24px;
    text-indent:-9999px;
    background-image:url(../../img/dlt_icon_normal.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin-top:-12px;
    cursor:pointer;
}
.dlt_qOption:hover{
    background-image:url(../../img/dlt_icon_hover.png);
}


.addMoreQOption{
    position:relative;
    float:left;
    padding:8px 8px 8px 30px;
    color:#b1b1b1;
    font-size:14px;
    cursor:pointer;
}
.addMoreQOption span.icon{
    display:block;
    position:absolute;
    left:0px;
    top:50%;
    width:26px;
    height:26px;
    margin-top:-13px;
    background-image:url(../../img/add_icon_normal.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.addMoreQOption:hover{
    color:#597ddb;
}
.addMoreQOption:hover span.icon{
    background-image:url(../../img/add_icon_hover.png);
}

.aq_settings{
    position:relative;
    border-top:1px solid #dadada;
    border-bottom:1px solid #dadada;
    padding:10px 0;
    margin-top:10px;
}
.aq_settings h5{
    font-size:18px;
    color:#4c4c4c;
    font-weight:normal;
    padding-bottom:15px;
    padding-top:10px;
}
.formWrapperContainer .aq_settings .checkbox_col{
    width:auto;
}


.quesListing{
    position:relative;
}
.quesListing ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.ql_row{
    position:relative;
    margin-bottom:15px;
    border:1px solid #dedede;
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
    font-size:15px;
    color:#777777;
    padding:15px 30px;
}
.ql_menu{
    position:absolute;
    right:5px;
    top:50%;
    margin-top:-15px;
    width:14px;
    height:30px;
}
.ql_menu .qpm_btn{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-image:url(../../img/menu_icon.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    text-indent:-9999px;

    cursor:pointer;
}
.ql_menu .qlm_option{
    position:absolute;
    right:-5px;
    top:100%;
    display:none;
    z-index:99;
}
.ql_menu:hover .qlm_option{ display:block;}
.ql_menu .qlm_option span.arrow{
    position:absolute;
    right:8px;
    top:2px;
    width:7px;
    height:6px;
    background-image:url(../../img/arrow_up.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    text-indent:-9999px;
}
.ql_menu .qlm_option ul{
    margin:0px;
    padding:0px;
    list-style:none;
    padding-top:8px;
}
.ql_menu .qlm_option ul li{
    margin-bottom:1px;
}
.ql_menu .qlm_option ul li a{
    display:block;
    padding:10px;
    background:#bebebe;
    color:#fff;
    font-family: 'RobotoLight';
    min-width:50px;
}
.ql_menu .qlm_option ul li a:hover{
    background:#597ddb;
}

.qlr_move{
    position:absolute;
    left:5px;
    top:50%;
    margin-top:-16px;
    width:16px;
    height:32px;
}
.qlr_move .qlr_move_up{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:50%;
    cursor:pointer;
    text-indent:-9999px;
    background-image:url(../../img/arrow_move_up.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.qlr_move .qlr_move_down{
    position:absolute;
    left:0px;
    bottom:0px;
    width:100%;
    height:50%;
    cursor:pointer;
    text-indent:-9999px;
    background-image:url(../../img/arrow_move_down.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.qlr_content{
    position:relative;
}
.qlr_content .qlrc_number{
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    color:#666;
    text-align:right;
}
.qlr_content .qlrc_text{
    position:relative;
    padding-left:50px;
}
.quesListing .ql_row:first-child .qlr_move_up{
    display:none;
}
.quesListing .ql_row:last-child .qlr_move_down{
    display:none;
}
.addQuestion .boxBtn{
    padding:20px 0 0 0;
}
.addQuestion .boxBtn .bb_btn{
    float:right;
}
.addQuestion .aqPanel{
    position:relative;
}
.aq_setOpt{
    position:relative;
    border-bottom:1px solid #dadada;
    margin-bottom:20px;
    padding-bottom:15px;
}
.aq_setOpt.formWrapperContainer .row{
    float:left;
    margin-bottom:0px;
    margin-right:30px;
}
.aq_setOpt.formWrapperContainer .row.ass_name{
    width:200px;
}
.aq_setOpt.formWrapperContainer .row .input, .aq_setOpt.formWrapperContainer .row span.select{
    background-color:#fff;
}
sc_leftpanel{
    position:absolute;
    left:20px;
    top:20px;
    width:220px;
}
.scl_menu{
    position:relative;
    overflow:hidden;
    overflow-y:auto;
    min-height:200px;
}
.scl_menu ul{
    margin:0px;
    padding:0px;
    list-style:none;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}
.scl_menu ul li a{
    display:block;
    border-top:1px solid #d9d9d9;
    color:#777777;
    font-size:14px;
    padding:10px 30px 10px 10px;
    word-wrap:break-word;
}
.scl_menu ul li:first-child a{ border-top:0px;}

.scl_menu ul li a:hover,.scl_menu ul li.active a{
    background-color:#fff;
    background-image:url(../../img/arrow1.png);
    background-repeat:no-repeat;
    background-position:right center;
    color:#597ddb;
}
.scl_srch{
    position:relative;
    padding-bottom:30px;
}
.scl_srch label{
    position:absolute;
    left:10px;
    top:10px;
    width:20px;
    height:20px;
    background-image:url(../../img/search_icon1.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    display:block;
    text-indent:-9999px;
}
.scl_srch input{
    background:#fff;
    padding:8px 8px 8px 35px;
    border:1px solid #c6c6c6;
    border-radius:40px;
    font-size:15px;
    width:175px;
}

.sc_rightpanel{
    position:relative;
    margin-left:240px;
    background:#fff;
    padding:15px;
    border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    -webkit-border-radius:6px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    -ms-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    -o-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    min-height:350px;
}
.sc_rightpanel h2{
    font-size:20px;
    color:#597ddb;
    font-weight:normal;
    padding:10px 0;
    word-wrap:break-word;
}
.sc_leftpanel{
    position:absolute;
    left:20px;
    top:20px;
    width:220px;
}
.scl_menu{
    position:relative;
    overflow:hidden;
    overflow-y:auto;
    min-height:200px;
}
.scl_menu ul{
    margin:0px;
    padding:0px;
    list-style:none;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}
.scl_menu ul li a{
    display:block;
    border-top:1px solid #d9d9d9;
    color:#777777;
    font-size:14px;
    padding:10px 30px 10px 10px;
    word-wrap:break-word;
}
.scl_menu ul li:first-child a{ border-top:0px;}

.scl_menu ul li a:hover,.scl_menu ul li.active a{
    background-color:#fff;
    background-image:url(../../img/arrow1.png);
    background-repeat:no-repeat;
    background-position:right center;
    color:#597ddb;
}
.scl_srch{
    position:relative;
    padding-bottom:30px;
}
.scl_srch label{
    position:absolute;
    left:10px;
    top:10px;
    width:20px;
    height:20px;
    background-image:url(../../img/search_icon1.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    display:block;
    text-indent:-9999px;
}
.scl_srch input{
    background:#fff;
    padding:8px 8px 8px 35px;
    border:1px solid #c6c6c6;
    border-radius:40px;
    font-size:15px;
    width:175px;
}

.sc_rightpanel{
    position:relative;
    margin-left:240px;
    background:#fff;
    padding:15px;
    border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    -webkit-border-radius:6px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    -ms-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    -o-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    min-height:350px;
}
.sc_rightpanel h2{
    font-size:20px;
    color:#597ddb;
    font-weight:normal;
    padding:10px 0;
    word-wrap:break-word;
}
.fwcVarEdit .row label{
    float:left;
    width:160px;
    padding:11px 0;
    padding-right:10px;
    font-size:15px;
    color:#333;
}
.fwcVarEdit .row .fld{
    float:left;
    position:relative;
}
.fwcVarEdit .row div.select{
    position:relative;
    min-width:200px;
}
.formWrapperContainer.fwcVarEdit .input_button{
    float:left;
    margin-left:170px;
    padding-top:0px;
}
.formWrapperContainer.fwcVarEdit .input_button .submit_button{
    padding:4px 10px;
    min-width:100px;
}
.selectM_condition {
    position:relative; 
    height:90px;
    border:1px solid rgb(198, 198, 198);
    width:100%;
    padding:0px;
}
.selectM_condition option{ padding:4px 8px;font-family: "RobotoLight";
                           font-size: 15px; color:#777;}
.expMp.popuBxWrap .gppbxContainer{
    width:400px;
    margin-left:-200px;
    min-height:200px;
}
.expMp.popuBxWrap .formWrapperContainer{
    padding:20px;
}
.expMp.popuBxWrap .formWrapperContainer .checkbox_col{
    float:none;
    width:auto;
    position:relative;
}
.expMp.popuBxWrap .formWrapperContainer .checkbox_col span.radio{ margin-top:-15px;}
.expMp.popuBxWrap .formWrapperContainer .checkbox_col label{ display:block; padding-top:0px;}
.userList.slmsisList{
    margin:0px;
    padding:0px;
    border:0px;
}
.slmsisList ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.slmsisList ul li{
    float:left;
    width:50%;
}
.slmsisList ul li .ul_row{
    position:relative;
    margin:0 10px 20px 10px;
}
.formWrapperContainer .double .row h4 {
    color: #4c4c4c;
    font-size: 16px;
    font-weight: normal;
    margin-left: 0;
    padding: 10px 0;
}
.formWrapperContainer .double .row .checkbox_col label {
    line-height: 24px;
    padding-top: 0;
}
.studiesList{
    position:relative;
}
.studiesList .sl_row,.mdServey .sl_row{
    position:relative;
    background-color:#fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    padding: 15px 230px 15px 15px;
    border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    -webkit-border-radius:6px;
    margin-top:20px;
    min-height:70px;
    border:1px solid #fff;
}
.mdServey .sl_row{ min-height:none; margin:0px; padding:0px; border-bottom:1px solid #dadada;}

.studiesList .sl_row:first-child{ margin-top:0px;}
.studiesList .sl_row h4,.mdServey .sl_row h4{
    font-weight:normal;
    color:#777777;
    font-size:16px;
    padding-bottom:14px;
}
.studiesList .sl_row h4,.mdServey .sl_row h4{ padding-right:40px;}
.studiesList .sl_row h5,.mdServey .sl_row h5{
    font-weight:normal;
    color:#b1b1b1;
    font-size:16px;
}
.studiesList .sl_row h5.sl_date,.mdServey .sl_row h5.sl_date{
    position:relative;
    padding-left:30px;
}
.studiesList .sl_row h5.sl_date span.icon,.mdServey .sl_row h5.sl_date span.icon{
    background-image:url(../../img/calendar_icon1.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -o-background-size:100% 100%;
    -ms-background-size:100% 100%;
    width:20px;
    height:20px;
    position:absolute;
    left:0px;
    top:0px;
    text-indent:-9999px;
}
.studiesList .circle_box{
    position:absolute;
    right:0px;
    top:10px;
}

.circular-bar{
    float:left;
    text-align: center;
    min-width:100px;
    position:relative;
}
.circular-bar-content .cb-t{
    font-family: 'RobotoLight';
}
.circular-bar-content label{
    position:absolute;
    width:100%;
    left:0px;
    top:20px;
    height:20px;
    font-size:14px;
    line-height:20px;
}
.pgh_mT{
    border-bottom: 1px solid #597ddb;
    height: 22px;
    position: relative;
    padding:14px 20px;
}
.pgh_mT h3{
    float:left;
    color:#597ddb;
    font-size:18px;
    font-weight:normal;
}
.pgh_mT h3 a{ color:#597ddb}
.pgh_mT h3 a:hover{ text-decoration:underline;}
.pgh_mT h3 span{ color:#000;}
.pgh_mT .create-new{
    position:absolute;
    right:20px;
    top:8px;
    display:block;
    padding:8px 10px;
    background:#ff8400;
    color:#fff;
    font-size:18px;
    text-transform:uppercase;
    font-family: 'RobotoLight';
}
.pgh_mT .create-new:hover{ opacity:0.8;}
.studyDetailsPge .study_description{
    padding:15px;
    font-size:16px;
    color:#909090;
    font-family: 'RobotoLight';		
}
.studyDetailsPge .status{
    font-family: 'RobotoBold';
    padding:0 15px 20px;
    font-size:20px;
    color:#909090		
}
.studyDetailsPge .status .pending{
    color:#ff5c48;
}
.studyDetailsPge{
    background-color:#FFFFFF;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}
.studyDetailsPge .sl_row{
    border-bottom:#dadada 1px solid;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    -ms-box-shadow:none;
}
.studyDetailsPge [class^="icon-"] { 
    background-image: url(../../img/researcher_dtl_page_icon.png);
    background-repeat:no-repeat;  
    display: block; 
    vertical-align: text-top; 
    height: 100px;
    margin: 0 auto;
    width: 100px;
}
.studyDetailsPge .icon-invitation{
    background-position:0 0;
}
.studyDetailsPge .icon-accept{
    background-position:0 -100px;
}
.studyDetailsPge .icon-rejected{
    background-position:0 -200px;
}
.studyDetailsPge .icon-participated{
    background-position:0 -300px;
}
.studyDetailsPge .icon-completed{
    background-position:0 -400px;
}
.studyDetailsPge .studyDtlInform{
    border-bottom:#dadada 1px solid;
    border-top:#dadada 1px solid;
    list-style:none;
    margin-bottom:20px;
    display:table;
    width:100%;
}
.studyDetailsPge .studyDtlInform li{
    display:table-cell;
    border-right:#dadada 1px solid;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    padding:15px 0;
    width:20%;

}
.studyDetailsPge .studyDtlInform li:last-child{
    border-right:0;
}
.studyDetailsPge .studyDtlInform .studyNum{
    font-size:26px;
    color:#ff5c48;
    line-height:normal;
    font-family:robotoBold;
}
.studyDetailsPge .studyDtlInform h3{
    color:#6e6e6e;
    font-size:18px;
    font-weight:normal;
    line-height:normal;
}
.cb_Grid{
    position:relative;
    background:#fff;
    border:1px solid #e5e5e5;
}
.cb_Grid .row{
    position:relative;
    border-bottom:1px solid #e5e5e5;
}
.cb_Grid .row.head{
    background:#e2e2e2;
}
.cb_Grid .row:last-child{ border-bottom:0px;}
.cb_Grid .row .col{
    float:left;
}
.cb_Grid .row .col .txt,.cb_Grid .row .col .txt1{
    text-align:center;
    display:block;
    padding:10px 4px;
    border-left:1px solid #e5e5e5;
    font-size:14px;
    position:relative
}
.cb_Grid .row.head .col .txt{
    color: #5e5e5e;
    font-family: "RobotoCondensedRegular";
    font-size: 17px;
}
.cb_Grid .row .col .txt a{
    color:#5973b6;
    text-decoration:underline;
    font-style:italic;
}
.cb_Grid .row .col .txt.right{
    text-align:right;
    background-color:#b8b8b8;
}
.cb_Grid .row .col .txt.bdrnone{
    border:0;
    background-color:#b8b8b8;
}
.cb_Grid .row.head .col .txt{ border-left:1px solid #e5e5e5;}
.cb_Grid .row .col:first-child .txt{ border-left:0px;}
.cb_Grid .wd5{ width:5%;}
.cb_Grid .wd10{ width:10%;}
.cb_Grid .wd15{ width:15%;}
.cb_Grid .wd20{ width:20%;}
.cb_Grid .wd25{ width:25%;}
.cb_Grid .wd30{ width:30%;}
.cb_Grid .wd35{ width:35%;}
.cb_Grid .wd40{ width:40%;}
.cb_Grid .wd45{ width:45%;}
.cb_Grid .wd50{ width:50%;}
.cb_Grid .wd55{ width:55%;}
.cb_Grid .wd60{ width:60%;}
.cb_Grid .wd65{ width:65%;}
.cb_Grid .wd70{ width:70%;}
.cb_Grid .wd75{ width:75%;}
.cb_Grid .wd80{ width:80%;}
.cb_Grid .wd85{ width:85%;}
.cb_Grid .wd90{ width:90%;}
.cb_Grid .wd95{ width:95%;}
.cb_Grid .wd100{ width:auto;}
ul.action{
    margin:0 auto;
    display:table;
    padding:0px;
    list-style:none;
}
ul.action li{
    float:left;
    padding:0 10px 0 0 !important;
    border:0 !important;
}
ul.action li:first-child{ border-left:0px;}
ul.action li a{
    display:block;
    width:25px;
    height:25px;
    border-radius:75%;
    -moz-border-radius:75%;
    -webkit-border-radius:75%;
    -o-border-radius:75%;
    -ms-border-radius:75%;
    text-indent:-9999px;
    background:url(../../img/action_button_sprite.png) no-repeat center top;
    background-repeat:no-repeat;
    background-size:25px 175px;
    -moz-background-size:25px 175px;
    -webkit-background-size:25px 175px;
    -o-background-size:25px 175px;
    -ms-background-size:25px 175px;
}
ul.action li.view a{
    background-color:#597ddb;
}
ul.action li.edit a{
    background-color:#597ddb;
    background-position:0 -25px;
}
ul.action li.delete a{
    background-color:#ee3923;
    background-position:0 -50px;
}
ul.action li.play a{
    background-color:#597ddb;
    background-position:0 -75px;
}
ul.action li.pause a{
    background-color:#597ddb;
    background-position:0 -100px;
}
ul.action li.add a{
    background-color:#597ddb;
    background-position:0 -125px;
}
ul.action li:hover a{
    background-color:#3b3b3b
}
ul.action li.arrowD a{
    background-image:url(../img/arrow_down.png);
}
.bw_list .bwl_delete{
    width:auto !important
}
.setRulesList li{
    padding-right:85px !important;
}
/* Archival Data start here */
.archivalDataList{
    list-style:none;
}
.archivalDataList li{
    border-bottom:1px solid #dadada;
    color:#3b3b3b;
    line-height:normal;
    font-size:18px;
    padding:15px 85px 15px 15px;
    position:relative
}
.archivalDataList li .archivalDataNo{
    font-size: 18px;
    margin-top: -12px;
    position: absolute;
    color:#597ddb;
    right: 15px;
    top: 50%;
}
.archivalDataList.archivalDataListNew li{
    padding:10px 15px;
}
.archivalDataList.archivalDataListNew li .row{
    width:50%;
    margin-bottom:0;
    float:left;
}
.archivalDataList.archivalDataListNew .checkboxRWrapper{
    margin-top:8px;
}
.archivalDataList.archivalDataListNew .row span.select{
    padding:4px 15px;
}
.boxBtn .bb_btn{
    text-align:center;
    margin-right:15px;
}
.archivalDataButton{
    display:table;
    margin:0 auto;
}
.pageWrapper .graphBox{
    background-color:#FFFFFF;
    box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.1);
    padding:6px;
}
.pageWrapper .graphRow{
    margin-bottom:20px;
    position:relative
}
.pageWrapper .doubleGraphRow .graphRow{
    float:left;
    width:49%;
    margin-right:2%
}
.pageWrapper .doubleGraphRow .graphRow.last{
    margin-right:0
}
@media screen and (max-width:940px){
    .archivalDataList li,.archivalDataList li .archivalDataNo{
        font-size:15px;
    }
}
.addarchivalDateForm{
    padding:10px;
}
.addarchivalDateForm .form_label{
    float:left;
    width:110px;
    padding:11px 0 0;
    font-size:14px;
    color:#333;
}
.addarchivalDateForm .fld{
    position:relative;
    margin-left:110px;
}
.formWrapperContainer.addarchivalDateForm .input_button{
    float:left;
    margin-left:170px;
    padding-top:0px;
}
.formWrapperContainer.addarchivalDateForm .input_button .submit_button{
    padding:4px 10px;
    min-width:100px;
}
div.datefield {
    background: url(../../img/calendar_icon.png) no-repeat 98% center;
}
div.datefield input{
    background:none
}
.graph_header .graph_title {
    display: block;
    font-family: "RobotoCondensedRegular";
    font-size: 20px;
    padding: 10px;
}
/* Archival Data end here */

.assqTitle.aq_setOpt{
    padding-bottom:5px;
}
.aq_setOpt h4{
    font-size:20px;
    font-weight:normal;
}
.assqTitle.aq_setOpt .row{
    float:right;
    margin-right:0px;
}
.assqTitle.aq_setOpt.formWrapperContainer .checkbox_col{
    margin-top:0px;
}
.aq_setOpt.formWrapperContainer .row span.select{ 
    width:140px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    padding-right:30px;
}
.aq_setOpt.formWrapperContainer .checkbox_col{
    width:auto;
    margin-top:10px;
}
.aq_setOpt.formWrapperContainer .checkbox_col .checkbox{
    right:0px;
    left:auto;
}
.aq_setOpt.formWrapperContainer .checkbox_col label{
    padding-left:0px;
    padding-right:30px;
    font-size:15px;
}
.ui-ddr{
    position:absolute;
    left:0px;
    top:100%;
    width:100%;
    background:#fff;
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -ms-border-radius:0 0 5px 5px;
    -o-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    overflow:hidden;
    margin:0px;
    padding:0px;
    list-style:none;
    z-index:999;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.4);
    -moz-box-shadow:0 2px 4px 0 rgba(0,0,0,0.4);
    -ms-box-shadow:0 2px 4px 0 rgba(0,0,0,0.4);
    -o-box-shadow:0 2px 4px 0 rgba(0,0,0,0.4);
    -webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,0.4);
    max-height:200px;
    overflow:hidden;
    overflow-y:auto;
}
.ui-ddr ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.ui-ddr li{
    position:relative;
    padding:6px;
    font-size:12px;
    color:#777;
    cursor:pointer;
    word-wrap:break-word;
}
.ui-ddr li:hover,.ui-ddr li.selected{
    background:#597ddb;
    color:#fff;
}

.assesment_quiz{
    list-style:none;
}
.assesment_quiz li.queans{
    border-bottom:1px solid #e5e5e5;
    padding:15px 20px 9px 20px;
    position:relative;
}
.assesment_quiz li.queans:nth-child(even){
    background-color:#f6f6f6;
}
.assesment_quiz li.queans .que{
    font-family: 'RobotoRegular';
    font-size:18px;
    color:##3b3b3b;
    line-height:normal;
    font-weight:normal;
    padding-bottom:8px;
    position:relative;
}
.assesment_quiz li.queans .ans{
    font-family: 'RobotoRegular';
    font-size:18px;
    color:##3b3b3b;
    line-height:normal;
    font-weight:normal;
    padding-left:20px;
    position:relative
}
.assesment_quiz li.queans .que span{
    color:#ee3923;
}
.assesment_quiz li.queans .checkbox_button, .checkboxRWrapper{
    font-family: 'RobotoLight';
    padding:0 30px 6px 20px;
    font-size:16px;
    color:#3e3e3e;
    display: block;
    float:left;
    width:25%; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    position:relative
}
.assesment_quiz li.queans .checkbox_button label, .checkboxRWrapper label{
    cursor:pointer
}
.assesment_quiz li.queans .checkbox_button label:after, .checkboxRWrapper label:after {
    content: "";  
    width: 16px;  
    height: 16px;  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottombottom: 1px;  
    top:50%;
    margin-top:-10px;
    background-color: #d1d1d1; 
    /*	border-radius:75%;
            -moz-border-radius:75%;
            -webkit-border-radius:75%;
            -o-border-radius:75%;
            -ms-border-radius:75%; 
    */}
.assesment_quiz li.queans .checkbox_button input[type=checkbox]:checked + label:after, .checkboxRWrapper input[type=checkbox]:checked + label:after{
    background:#597ddb url(../../img/right_icon.png) no-repeat center center;
    background-size:65% auto;
    -moz-background-size:65% auto;
    -webkit-background-size:65% auto;
    -o-background-size:65% auto;
    -ms-background-size:65% auto;
    height: 10px;
    padding: 3px;
    position: absolute;
    width: 10px; 
}
.assesment_quiz li.queans .checkbox_button input, .checkboxRWrapper input{
    position:absolute;
    left:-100000px;
}

.mdServey{
    position:relative;
    background-color:#fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    -webkit-border-radius:6px;
    min-height:100px;
    border:1px solid #fff;
}
.mdsEdit{
    position:absolute;
    top:-12px;
    right:0px;
    width:31px;
    height:40px;
    cursor:pointer;
    text-indent:-9999px;
    background-image:url(../../img/edit_btn.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
}
.mdsEdit:hover{ opacity:0.8;}

.mdServey .msTxt{
    padding:20px 0 10px 0;
    font-size:14px;
    color:#777777;
    line-height:20px;
}
.mdServey .msTxt p{
    padding-bottom:10px;
}

.mdServey .circle_box{
    padding:30px 0;
    border-top:1px solid #dadada;
    border-bottom:1px solid #dadada;
}
.mdServey .circular-bar{
    width:20%;
}
.mdServey .circular-bar label{
    top:30px;
}
.mds-vs{
    position:relative;
    padding:20px 0;
}
.mds-vs a.btn{
    float:left;
    display:block;
    line-height:28px;
    height:28px;
    padding-left:34px;
    color:#ff8400;
    font-size:18px;
    position:relative;
}
.mds-vs a.btn:hover{ text-decoration:underline;}
.mds-vs a.btn:after{
    content:'';
    position:absolute;
    left:0px;
    top:50%;
    width:28px;
    height:28px;
    margin-top:-14px;
    background-image:url(../../img/view_statistic.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
}
.mdSQ{
    position:relative;
    padding:10px 0 20px 0;
}
.mdSQ h4{
    float:left;
    font-weight:normal;
    font-size:18px;
    padding:10px 0;
    color:#4c4c4c;
}
.mdSQ .formWrapperContainer{
    position:absolute;
    right:0px;
    top:10px;
}
.mdSQ .formWrapperContainer .row{
    float:left;
    margin-bottom:0px;
}
.mdSQ .formWrapperContainer .row div.select{
    min-width:100px;
}

.mdsTabs{
    position:relative;
    border-bottom:1px solid #597ddb;
}
.mdsTabs ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.mdsTabs ul li{
    float:left;
    position:relative;
    margin-left:20px;
}
.mdsTabs ul li:first-child{ margin-left:0px;}
.mdsTabs ul li a{
    display:block;
    padding:15px;
    font-size:18px;
    color:#858585;
    border-top:3px solid #fff;
    border-bottom:3px solid #fff;
}
.mdsTabs ul li:hover a{ color:#000;}
.mdsTabs ul li.active a{
    border-bottom:3px solid #597ddb;
}
.mdsTabs ul li a.ml{
    padding-right:20px;
}
.mdsTabs ul li a.ml:after{
    content:'';
    position:absolute;
    right:5px;
    top:50%;
    width:11px;
    height:8px;
    margin-top:-4px;
    background-image:url(../../img/arrow3.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    transition:all 400ms linear;
}
.mdsTabs ul li:hover a.ml:after{
    transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}

.mdsTabs ul li ul{ 
    display:none;
    position:absolute;
    left:0px;
    top:100%;
    z-index:999;
    width:200px;
}
.mdsTabs ul li:hover ul{ display:block;}
.mdsTabs ul li ul li{ float:none; margin-top:1px;margin-left:0px;}
.mdsTabs ul li ul li a{
    background:#bebebe;
    color:#fff!important;
    border:none!important;
    font-family: 'RobotoLight';
}
.mdsTabs ul li ul li a:hover{
    background:#959595;
}
.mdsl-btn .btn{
    float:left;
    display:block;
    padding:8px 10px;
    background:#ff8400;
    color:#fff;
    font-size:18px;
    text-transform:uppercase;
    font-family: 'RobotoLight';
    cursor:pointer;
    outline:none;
    border:0px;
}
.mdsl-btn .btn:hover{ opacity:0.8;}
.sadetailLisr{
    position:relative;
}
.sadetailLisr ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.sadetailLisr ul .sadl_row{
    padding-left:60px;
    position:relative;
    padding-bottom:40px;
}
.sadl_row h4{
    color:#777777;
    font-size:15px;
    font-weight:normal;
    font-family: 'RobotoMedium';
    padding-bottom:10px;
}
.sadl_row .sadl_number{
    position:absolute;
    left:0px;
    top:0px;
    font-family: 'RobotoMedium';
    color:#777777;
    font-size:15px;
}
.sadl_option{
    position:relative;
}
.sadl_option ul li{
    float:left;
    width:25%;
    color:#777777;
    font-size:14px;
}
.sadl_option ul li .txt{
    padding-right:20px;
    word-break:break-all;
}
.sadl_option ul li:last-child .txt{
    padding-right:0px;
}
.sad_analyze{
    position:relative;
    padding-bottom:20px;
}
.sad_analyze .analyze_btn{
    float:right;
    padding:8px 10px;
    background:#ff8400;
    color:#fff;
    font-size:18px;
    text-transform:uppercase;
    border:0px;
    cursor:pointer;
    min-width:100px;
    text-align:center;
}

.dynamicData{word-wrap:break-word;}	
.dynamicData ul{
    padding:inherit;
    padding-left:20px;
    margin:inherit;
}
.dynamicData ul li{
    padding-bottom:5px;
}
.dynamicData a:hover{
    text-decoration:underline;
}
.dynamicData p{
    margin:inherit;
    padding:inherit;
}

.sc_msg{
    position:relative;
    text-align:center;
    font-size:18px;
    color:#A4A4A4;
    padding-top:150px;
}
.sadl_oG{
    position:relative;
    margin-top:5px;
    margin-left:16px;
    margin-right:60px;
    height:8px;
}
.sadl_oG .graph{
    content:'';
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:#ccc;
    border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    -webkit-border-radius:8px;
}
.sadl_oG .graph .digit{
    position:absolute;
    left:100%;
    top:50%;
    height:20px;
    margin-top:-10px;
    margin-left:6px;
    font-size:16px;
    color:#333;
}
/// shivendra

.archivalDataList {
    list-style: outside none none;
}
.archivalDataList li {
    border-bottom: 1px solid #dadada;
    color: #3b3b3b;
    font-size: 18px;
    line-height: normal;
    padding: 15px 85px 15px 15px;
    position: relative;
}
.archivalDataList li .archivalDataNo {
    color: #597ddb;
    font-size: 18px;
    margin-top: -12px;
    position: absolute;
    right: 15px;
    top: 50%;
}
.archivalDataList.archivalDataListNew li {
    padding: 10px 15px;
}
.archivalDataList.archivalDataListNew li .row {
    float: left;
    margin-bottom: 0;
    width: 50%;
}
.archivalDataList.archivalDataListNew .checkboxRWrapper {
    margin-top: 8px;
}
.archivalDataList.archivalDataListNew .row span.select {
    padding: 4px 15px;
}
.boxBtn .bb_btn {
    margin-right: 15px;
    text-align: center;
}
.archivalDataButton {
    display: table;
    margin: 0 auto;
} 
.arcDataList{ position: relative; background: #fff; padding: 10px; margin-bottom: 10px;
              box-shadow:0 0 2px 0 rgba(0,0,0,0.2);
}

/*********Shivendra********/
.sdFd{
    position:relative;
    padding-bottom:20px;
}
.sdFd .sdfdRow{
    margin-bottom:10px;
    font-size:14px;
}
.sdFd .sdfdRow .sdfdLabel{
    float:left;
    width:40%;
    color:#777;
    font-family:"RobotoLight";
}
.sdFd .sdfdRow .sdfdCol{
    float:left;
    width:60%;
}

.sdFdDetail{
    position:relative;
}
.sdFdDetail ul{
    margin:0px;
    padding:0px;
    list-style:none;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}
.sdFdDetail ul li .dddBx{
    display:block;
    border-top:1px solid #d9d9d9;
    color:#777777;
    font-size:14px;
    padding:10px 0px;
    word-wrap:break-word;
}
.sdFdDetail ul li:first-child .dddBx{ border-top:0px;}
.aslpWrap{
    min-height:330px;
    max-height:330px;
    overflow-y:auto;
}
.dbxLabel{
    float:left;
    width:60%;
}
.dbxAns{
    float:left;
    width:40%;
    color:#000;
    text-align:right;
}

.npButtons{
    position:relative;
    padding-top:20px;
}
.npButtons ul{
    display:table;
    margin:0 auto;
    padding:0px;
    list-style:none;
}
.npButtons ul li{
    float:left;
    padding:0 5px;
}
.npButtons ul li a{
    position:relative;
    display:block;
    background-color: rgb(89, 125, 219);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
}

.npButtons ul li a.npb_prev{
    background-image: url(../../img/arrow_left.png);
}
.npButtons ul li a.npb_next{
    background-image: url(../../img/arrow_right.png);
}

.slLshow{
    position:relative;
    margin:20px auto;
    font-size:14px;
    border:1px solid rgb(217, 217, 217);
    display:table;
}
.sllsBx{
    position:relative;
    max-height:300px;
    overflow-y:auto;
    width:450px;
}
.slLshow .sllsRow{
    color:#000;
    border-bottom:1px solid rgb(217, 217, 217);
}
.slLshow .sllsRow:last-child{
    border-bottom:0px;
}
.slLshow .sllsRow .sllsLabel{
    float:left;
    width:300px;
    color:#777;
    border-right:1px solid rgb(217, 217, 217);
    padding:8px;
}
.slLshow .sllsRow .sllsCol{
    float:right;
    width:100px;
    text-align:right;
    font-weight:bold;
    font-size:20px;
    padding:8px;
}
.sllsbb.boxBtn .bb_btn{
    display:table;
    margin:0 auto;
    width:100px;
    text-align:center;
    float:none;
}


div.datefield input[type="text"]{
/*    background:url(../../img/calendar_icon.png) no-repeat right center;*/
}


.pmFby{
    position:relative;
    border-bottom:1px solid #c7c7c7;
    margin-bottom:15px;
    padding-bottom:15px;
}
.pmFby h2{
    float:left;
    font-size:20px;
    padding:10px 0;
    font-weight:normal;
}
.pmFby .formWrapperContainer{
    float:right;
}
.pmFby .formWrapperContainer .row{
    float:left;
    margin-bottom:0px;
    margin-left:10px;
}
.pmFby .formWrapperContainer .row div.select{
    background:#fff;
    min-width:120px;
}

.btn_box{
    position:relative;
    padding-bottom:15px;
}
.btn_box ul{
    margin:0px;
    padding:0px;
    list-style:none;
    float:right;
}
.btn_box ul li{
    float:left;
    margin-left:10px;
}
.btn_box ul li:first-child{
    margin-left:0px;
}
.btn_box ul li a{
    position:relative;
    color:#fff;
    font-family: "RobotoLight";
    font-size: 18px;
    padding: 10px 20px;
    display:block;
    background:#ff8400;
    text-transform:uppercase;
}
.assesmentList{
    position:relative;
}
.assesmentList ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.assesmentList ul li{
    float:left;
    width:33.333%;
}
.assesmentList ul li{
    position:relative;
}
.assesmentList ul li:nth-child(3n+1){
    clear:both;
}
.assesmentList ul li a{
    display:block;
    padding:20px 10px;
    margin:6px;
    background:#fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    text-align:center;
    border:1px solid #fff;
}
.assesmentList ul li a:hover{
    border:1px solid #D8D8D8;
}
.assesmentList ul li a .al_name{
    padding-bottom:10px;
    font-size:18px;
    color:#666666;
    word-break:break-all;
    line-height:22px;
}
.assesmentList ul li a .al_status{
    color:#9e9e9e;
    font-size:16px;
}
.assesmentList ul li a .al_status .active{
    color:#79b926;
}
.assesmentList ul li a .al_status .inactive{
    color:#e34e74;
}

.setQuestion{
    position:relative;
}
.setQuestion .sq_title{
    position:relative;
    font-size:20px;
    padding-bottom:20px;
    color:#4c4c4c;
}
.setQuestion .input,.setQuestion div.select{
    background:#fff;
}
.setQuestion textarea{
    resize:none;
}
.pageWrapper.addQuestion .sc_leftpanel{
    width:280px;
    left:0px;
    top:0px;
}
.pageWrapper.addQuestion .sc_rightpanel{
    margin-left:300px;
    overflow:hidden;
    overflow-y:auto;
}

.setQuestion .submitQ{
    background:#ff8400;
    padding:10px 20px;
    display:table;
    margin:0 auto;
    cursor:pointer;
    color:#fff;
    font-family: 'RobotoLight';
    font-size: 18px;
    text-transform:uppercase;
    text-align:center;
    border:0px;
}
.setQuestion .formWrapperContainer .row .input{
    padding:0;
    background:none;
    border:0px;
}

.setQuestion .formWrapperContainer .row span.select{
    border:1px solid #c6c6c6;
    font-size:14px;
    padding:6px;
    display:block;
}
.setQuestion  .formWrapperContainer .row .input input[type="text"],.setQuestion .formWrapperContainer .row .input textarea{
    padding:6px;
    width:268px;
    background:#fff;
    font-size:14px;
    border:1px solid #c6c6c6;
}
.setQuestion .formWrapperContainer .row{
    margin-bottom:15px;
}
.setQuestion .formWrapperContainer .double .row{ width:auto; margin:0px; margin-right:10px;}
.setQuestion .formWrapperContainer .row.last{ margin-bottom:0px;}
.setQuestion .formWrapperContainer .double{ margin-bottom:10px;}
.setQuestion .formWrapperContainer .double .row .input input{
    width:124px;
}
.setQuestion .formWrapperContainer .double .row.value .input input{
    width:84px;
}
.setQuestion .formWrapperContainer .double{ position:relative;}

.dlt_qOption{
    position:absolute;
    right:0px;
    top:50%;
    width:24px;
    height:24px;
    text-indent:-9999px;
    background-image:url(../../img/dlt_icon_normal.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin-top:-12px;
    cursor:pointer;
}
.dlt_qOption:hover{
    background-image:url(../../img/dlt_icon_hover.png);
}

.aq_settings{
    position:relative;
    border-top:1px solid #dadada;
    border-bottom:1px solid #dadada;
    padding:10px 0;
    margin-top:10px;
}
.aq_settings h5{
    font-size:18px;
    color:#4c4c4c;
    font-weight:normal;
    padding-bottom:15px;
    padding-top:10px;
}
.formWrapperContainer .aq_settings .checkbox_col{
    width:auto;
}


.quesListing{
    position:relative;
}
.quesListing ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.ql_row{
    position:relative;
    margin-bottom:15px;
    border:1px solid #dedede;
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
    font-size:15px;
    color:#777777;
    padding:15px 30px;
}
.ql_menu{
    position:absolute;
    right:5px;
    top:50%;
    margin-top:-15px;
    width:14px;
    height:30px;
}
.ql_menu .qpm_btn{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-image:url(../../img/menu_icon.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    text-indent:-9999px;
    cursor:pointer;
}
.ql_menu .qlm_option{
    position:absolute;
    right:-5px;
    top:100%;
    display:none;
    z-index:99;
}
.ql_menu:hover .qlm_option{ display:block;}
.ql_menu .qlm_option span.arrow{
    position:absolute;
    right:8px;
    top:2px;
    width:7px;
    height:6px;
    background-image:url(../../img/arrow_up.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    text-indent:-9999px;
}
.ql_menu .qlm_option ul{
    margin:0px;
    padding:0px;
    list-style:none;
    padding-top:8px;
}
.ql_menu .qlm_option ul li{
    margin-bottom:1px;
}
.ql_menu .qlm_option ul li a{
    display:block;
    padding:10px;
    background:#bebebe;
    color:#fff;
    font-family: 'RobotoLight';
    min-width:50px;
}
.ql_menu .qlm_option ul li a:hover{
    background:#597ddb;
}

.qlr_move{
    position:absolute;
    left:5px;
    top:50%;
    margin-top:-16px;
    width:16px;
    height:32px;
}
.qlr_move .qlr_move_up{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:50%;
    cursor:pointer;
    text-indent:-9999px;
    background-image:url(../../img/arrow_move_up.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.qlr_move .qlr_move_down{
    position:absolute;
    left:0px;
    bottom:0px;
    width:100%;
    height:50%;
    cursor:pointer;
    text-indent:-9999px;
    background-image:url(../../img/arrow_move_down.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.qlr_content{
    position:relative;
}
.qlr_content .qlrc_number{
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    color:#666;
    text-align:right;
}
.qlr_content .qlrc_text{
    position:relative;
    padding-left:50px;
}
.quesListing .ql_row:first-child .qlr_move_up{
    display:none;
}
.quesListing .ql_row:last-child .qlr_move_down{
    display:none;
}
.addQuestion .boxBtn{
    padding:20px 0 0 0;
}
.addQuestion .boxBtn .bb_btn{
    float:right;
}
.addQuestion .aqPanel{
    position:relative;
}
.aq_setOpt{
    position:relative;
    border-bottom:1px solid #dadada;
    margin-bottom:20px;
    padding-bottom:15px;
}
.aq_setOpt.formWrapperContainer .row{
    float:left;
    margin-bottom:0px;
    margin-right:30px;
}
.aq_setOpt.formWrapperContainer .row.ass_name{
    width:200px;
}
.aq_setOpt.formWrapperContainer .row .input, .aq_setOpt.formWrapperContainer .row span.select{
    background-color:#fff;
}
.formWrapperContainer .row span.select{ padding-right:30px!important;}
.aq_setOpt.formWrapperContainer .row span.select{ 
    width:140px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    padding-right:30px;
}
.aq_setOpt.formWrapperContainer .checkbox_col{
    width:auto;
    margin-top:10px;
}
.aq_setOpt.formWrapperContainer .checkbox_col .checkbox{
    right:0px;
    left:auto;
}
.aq_setOpt.formWrapperContainer .checkbox_col label{
    padding-left:0px;
    padding-right:30px;
    font-size:15px;
}
.saEdit{
    position:absolute;
    right:10px;
    top:10px;
    width:26px;
    height:26px;
    background-image:url(../../img/edit-icon.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -ms-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    text-indent:-9999px;
    cursor:pointer;
    z-index:99;
    display:none;
}
.assesmentList ul li:hover .saEdit{
    display:block;
}
.saEdit:hover{
    background-image:url(../../img/edit-icon-hover.png);
}

