<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| History</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li><a href="<?php echo $this->basePath(); ?>/individual-history">Condition</a><span class="border"></span></li>
                <li><a href="<?php echo $this->basePath(); ?>/individual-imunization">Immunization</a><span class="border"></span></li>
                <li class="active"><a href="<?php echo $this->basePath(); ?>/individual-checkup">Checkup</a><span class="border"></span></li>
            </ul>
        </div>
 <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="pgh_mWrap" style="padding:0">
             <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-imunization" class="item">View Checkup</a>
                <a href="<?php echo $this->basePath(); ?>/individual-add-imunization" class="item selected">Add New Checkup</a>
            </div>
       </div>
   </div>
   <div class="pageWrapper">
             <form method="post" action="" name="add_checkup" id="add_checkup">
                <div class="boxWrap clearfix">
                            <div class="formWrapper50">
                                <!-- Set Date and time box start here-->
                                <div class="hww clearfix" style="padding:0 10px;">
                                    <div class="hww_sbox">
                                        <label>Date</label>
                                        <div class="input datefield">
                                            <input type="text" name="checkup_date" readonly class="datepicker" />
                                        </div>
                                    </div>
                                    <div class="hww_sbox">
                                        <label>Time</label>
                                        <div class="input timefield">
                                            <input type="text" name="checkup_time" readonly class="timepickerField" />
                                        </div>
                                    </div>
									<div class="row hww_sbox clearfix">
									<label>Checkup Name:</label>
									<div class="input">
										<input placeholder="Enter checkup name*" name="checkup_name" id="checkup_name" type="text">
									</div>
								</div>
                            </div>
                            </div>
                            <div class="table cb_Grid" style="margin:20px;">
							<?php foreach($this->userQues as $k=>$val) { ?>
                                <div class="row clearfix graph_header">
								<input type="hidden" name="questions_ids[]" value="<?=$k?>">
                                    <span class="graph_title"><?=$k+1?>. How Often do you have headaches ?</span>
                                </div>
                                <div class="row radioButtonWrap clearfix">
                                    <div class="col wd50">
                                        <span class="txt">
											    <span class="radio bdr_rds_circle">
                                                <input type="radio" name="ans[]<?=$k?>" value="1"/>
                                                </span>
                                            Yes
                                        </span>
                                    </div>
                                    <div class="col wd50">
                                        <span class="txt">
											    <span class="radio bdr_rds_circle">
										        <input type="radio" name="ans[]<?=$k?>" value="0"/>
                                            </span>
                                            No
                                        </span>
                                    </div>
                                   
                                </div>
								<?php } ?>
                            </div>
                            <!-- Set Date and time box end here-->
                            <div class="boxBtn clearfix" style="margin-left: 20px; margin-right: 20px;">
                                <input type="submit" class="bb_btn" value="Submit" name="btnSubmit">
                            </div>
                       </div>
                  </form>
                <style>
				.cb_Grid .radioButtonWrap .col .txt{
					text-align:left;
				}
				.cb_Grid .row .col .txt, .cb_Grid .row .col .txt1,.cb_Grid .row.graph_header  {
					border:0!important;
				}
				.cb_Grid .radioButtonWrap .col .txt .radio{
					float:left;
					margin-left:10px;
					margin-right:10px;
				}
				</style>
				<script>
				$(document).ready(function(e) {
					$('.cb_Grid .row').each(function(){
						 equalHeight($(this).find('span.txt'));
					});
				DatePicker();
				function DatePicker(){
						  $(".datepicker").datepicker({
						   changeMonth: true,
						   changeYear: true,
						   dateFormat: 'dd M yy',
						   maxDate: new Date,
						   yearRange: "1920:c"
						   //defaultDate: new Date()
					});
					$('.timepickerField').timepicker({
						hourGrid: 4,
						minuteGrid: 10,
						timeFormat: 'hh:mm tt'
					});
					$(".datepicker").datepicker("setDate", new Date());
					$(".timepickerField").timepicker("setTime", new Date());
				  }
				  
				$("#add_checkup").validate({
					rules: {
							checkup_date:"required",
							checkup_time:"required",
							checkup_name:"required",
							<?php foreach ($this->userQues as $k=>$val) { ?>
							'ans[]<?=$k?>':"required",
							<?php } ?>
						},
						messages: {
							<?php foreach ($this->userQues as $k=>$val) { ?>
							'ans[]<?=$k?>':"Please select answer",
							<?php } ?>
							checkup_date: {
								required: "Please select checkup date."
							},
							checkup_time: {
								required: "Please select checkup time."
							},
							checkup_name: {
								required: "Please enter checkup name."
							},
						}
						/* ,
						 submitHandler: function(form){
						} */,
						errorPlacement: function(error, element) {
						error.appendTo(element.parents("div.row"));
						//error.appendTo(element.parents("div.checkbox_col").parent("div.row"));
						}
					
				});
			});
			 </script>
          </div>
</div>
 <!--Container end here--> 
