<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<!--Container Start here--> 
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title" style="position:relative">| Location <!--<div class="Advanced_SearchButton"></div>--></div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li><a href="<?php echo $this->basePath(); ?>/individual-geofence">Geofence</a><span class="border"></span></li>
                <li class="active"><a href="<?php echo $this->basePath(); ?>/individual-becons">Beacons</a><span class="border"></span></li>
                <li><a href="<?php echo $this->basePath(); ?>/individual-location">Location</a><span class="border"></span></li>
            </ul>
        </div>
    </div>
    <div class="pageWrapper">
        <div class="action clearfix" style="padding-bottom:10px">
            <a href="javascript:void(0);" onClick="gppOpen('addNewBecon');" class="AddGeofence">Beacons</a>
        </div>
        <div class="boxWrap advancedPeopleSearch clearfix">
            <!-- Advanced Search box start here-->
            <div class="searchFormAdv clearfix">
                <div class="bw_colthird" style="width:100%">
                    <div class="bw_box">
                        <div class="hww clearfix">
                            <div class="hww_sbox">
                                <div class="input">
                                    <input type="text" placeholder="Search by Name..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="boxBtn"><input type="submit" name="" value="Go" class="bb_btn" style="min-width:inherit"></span>
            </div>
            <!-- Advanced Search box start here-->
        </div>
        <!--Add new Becon popup start here-->
        <div id="addNewBecon" class="grobalPopup popuBxWrap">

            <div class="gppBox">
                <div class="gppbxContainer" style="margin-top: -250px;">
                    <div class="gppTitle">New Beacon
                        <div onclick="gppClose('addNewBecon');" class="gppClose">X</div>
                    </div>
                    <div id="resp" style="padding-left:20px;padding-top:5px;"></div>
                    <div class="formWrapperContainer" style="padding:20px">
                        <form action="" method="post" id="add_new_cons_form">
                            <div class="row">
                                <label>Beacon Title</label>
                                <div class="input">
                                    <input type="text" placeholder="Becon Title" name="becon_title" id="becon_title">
                                </div>
                            </div>
                            <div class="row">
                                <label>Factory Id</label>
                                <div class="input">
                                    <input type="text" placeholder="Factory Id" name="factory_id" id="factory_id">
                                </div>
                            </div>
                            <div class="row">
                                <label>Description</label>
                                <div class="input">
                                    <textarea cols="" rows="" placeholder="Description" name="becon_description" id="becon_description"></textarea>
                                </div>
                            </div>
                            <div class="double clearfix">
                                <div class="row" style="margin-bottom:0">
                                    <div class="input_button">
                                        <input type="button" value="Cancel" class="submit_button cancel_button" onclick="gppClose('addNewBecon');" />
                                    </div>
                                </div>
                                <div class="row last" style="margin-bottom:0">
                                    <div class="input_button">
                                        <input type="submit" id="add_new_Becon" value="Done" class="submit_button" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="gppOverlay"></div>
        </div>
        <!--Add new Becon popup end here-->

        <!--Associate beacon to Caregiver popup-->
        <div id="AssociateBecon" class="grobalPopup popuBxWrap">

            <div class="gppBox">
                <div class="gppbxContainer" style="margin-top: -250px;width: 423px;margin-left:-208px;">
                    <div class="gppTitle">Associate Beacons to Caregiver
                        <div onclick="gppClose('AssociateBecon');" class="gppClose">X</div>
                    </div>
                    <div id="resp" style="padding-left:20px;padding-top:5px;"></div>
                    <div class="formWrapperContainer" style="padding:20px">
                        <form action="" method="post" id="add_new_cons_form">
                            <input type="hidden" value="" name="beacon_id" id="beacon_id">
                            <div id="associate_errr"></div>
                            <div class="row" id="caregiverlist">
                                <!-- Append ajax response  -->
                            </div>
                            <div class="double clearfix">
                                <div class="row" style="margin-bottom:0">
                                    <div class="input_button">
                                        <input type="button" value="Cancel" class="submit_button cancel_button" onclick="gppClose('AssociateBecon');" />
                                    </div>
                                </div>
                                <div class="row last" style="margin-bottom:0">
                                    <div class="input_button">
                                        <input type="button" id="add_beaconto_caregiver" value="Done" class="submit_button" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="gppOverlay"></div>
        </div>
        <!--Add new Becon popup end here-->

        <!--View added Becons popup start here-->
        <div id="viewAssociatedCaregiver" class="grobalPopup popuBxWrap">
            <div class="gppBox">
                <div class="gppbxContainer" style="margin-top: -250px;">
                    <div class="gppTitle">Associated Caregiver
                        <div onclick="gppClose('viewAssociatedCaregiver');" class="gppClose">X</div>
                    </div>
                    <div class="formWrapperContainer history_description" style="padding:0 !important">
                        <ul class="addedBeconList" id="addedbeconres">
                            <span id="viewAssociatedCaregiverlist"></span>
                        </ul>
                    </div>         
                </div>
            </div>
            <div class="gppOverlay"></div>
        </div>
        <!--View added Becons popup end here-->
        <div id="deleteBeconMsg" style="padding-bottom:10px;"></div>
        <div class="table table_box_shadow cb_Grid geofence_grid">

            <?php if (!count($UserBeconsArr)) { ?><div class="errorMsg">
                    <span class="ui_icon error"></span>No Data found </div> <?php
            } else {
                foreach ($UserBeconsArr as $key => $value) {
                    ?>
                    <div class="row clearfix" id="<?= $value['factory_id'] ?>">
                        <div class="col wd65">
                            <span class="txt clearfix">
                                <div class="user_img"><img src="" alt="" /></div>
                                <h3><?= $value['becon_title'] ?></h3>
                                <p><?= $value['becon_id'] ?></p>
                            </span>
                        </div>
                        <div class="col wd35">
                            <span class="txt actionCell clearfix">
                                <ul class="action">
                                    <li class="add"><a href="javascript:void(0);" onClick="getCaregivers('<?= $value['becon_id'] ?>', '<?= $value['id'] ?>');">Add new Becon</a></li>
                                    <?php
                                    $wherArr = array('bec.beacon_id' => $value['id']);
                                    $AssociatedCare = $AssociatedBeaconTableObj->getCaregiverBecons($wherArr);
                                    if (count($AssociatedCare)) {
                                        ?>
                                        <li class="view"><a href="javascript:void(0);" onclick="getAssociatedCaregiverDetails('<?= $value['id'] ?>');">View Becon</a></li>
                                       <?php } // }   ?>
                                  
                        <?php if (!count($AssociatedCare)) { ?>
                                        <li class="delete"><a href="javascript:void(0);" onClick="deleteBeacon('<?= $value['factory_id'] ?>', '<?= $value['place_id'] ?>');">Delete</a></li> <?php } ?>
                                </ul>
                            </span>
                        </div>
                    </div>  
                <?php
                }
            }
            ?>			

        </div>    
    </div>
    <style>
        .cb_Grid .row .col .actionCell{
            width:auto !important;
            margin:0 auto
        }
        .cb_Grid .row .col ul.action{
            display:table-cell;
            vertical-align:middle;
        }
        .cb_Grid .row .col .txt, .cb_Grid .row .col .txt1,.cb_Grid{
            text-align:left;
            border:0;
            display:table;
            width:100%;
        }
        #viewAssociatedCaregiverlist{
            height: 230px;
            display: block;
            overflow-y: auto;
        }
        .AddGeofence{
            background:url(../img/add_icon_normal.png) no-repeat left center;
            background-size:20px auto;
            -moz-background-size:20px auto;
            -webkit-background-size:20px auto;
            -o-background-size:20px auto;
            -ms-background-size:20px auto;
            float: right;
            font-size: 15px;
            height: 20px;
            padding: 0 0 0 25px;
            color:#000000;
        }
    </style>
    <script>
        function deleteBeacon(factoryId, placeId) {
            if (confirm("Are you sure to delete this beacon?")) {
                $(".global_loader").show();
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/beacondelete",
                    data: {factoryId: factoryId, placeId: placeId}
                }).done(function(res) {
                    if (res == 1) {
                        $(".global_loader").hide('fast');
                        $('#deleteBeconMsg').html("<font color='green'>Something happening wrong.</font>").delay(3000).fadeOut();
                        return false;
                    } else {
                        $(".global_loader").hide('fast');
                        $('#deleteBeconMsg').html("<font color='green'>Beacon deleted successfully.</font>").delay(3000).fadeOut();
                        $('#' + factoryId).hide();
                    }
                });
            } else {
                return false;
            }

        }
        function getCaregivers(beacon_id, BeaconsID) {
            $('#beacon_id').val(BeaconsID);
            $(".global_loader").show();
            $.ajax({
                type: "POST",
                url: "/individual/ajax/getcaregiver",
                data: {beacon_id: beacon_id}
            }).done(function(response) {
                $("#caregiverlist").html(response);
                $(".global_loader").hide('fast');
            });
            gppOpen('AssociateBecon')
        }
        $('#add_beaconto_caregiver').click(function() {
            $('#add_beaconto_caregiver').prop("disabled", true);
            var checkedVals = $('.checkedItem:checkbox:checked').map(function() {
                return this.value;
            }).get();
            var selectedcampID = checkedVals.join(",");
            var beacon_id = $('#beacon_id').val();
            if (selectedcampID) {
                $(".global_loader").show();
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/associtecaregiver",
                    data: {caregiverIds: selectedcampID, beacon_id: beacon_id}
                }).done(function() {
                    $(".global_loader").hide('fast');
                    $('#associate_errr').html("<font color='green'>Beacon associated successfully.</font>");
                    setTimeout(function() {
                        window.location.href = "/individual-becons";
                    }, 2000);
                });

            } else {
                $('#add_beaconto_caregiver').prop("enabled", true);
                $('#associate_errr').html("<font color='red'>Please select caregiver first.</font>");
                return false;
            }
        });

        function removeassociated(reqID) {
            if (confirm("Do you want to delete this associated caregiver?")) {
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/removeassociatedcaregiver",
                    data: {reqID: reqID}
                }).done(function() {
                    $('#rem' + reqID).remove();
                    $('#sucMsg').html("<font color='green'>Caregiver unassociated from this beacons successfully.</font>");
                    setTimeout(function() {
                        location.reload();
                    }, 2000);
                });
            }
        }
        function updateBeconStatus(reqID, response) {
            if (response == 1) {
                var msg = "active";
            } else {
                var msg = "pause";
            }
            var confirmMsg = "Do you want to " + msg + " all the beacons for this caregiver?";
            if (confirm(confirmMsg)) {
                $(".global_loader").show();
                this.click;
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/updatebeconstatus",
                    data: {reqID: reqID, response: response}
                }).done(function(res) {
                    $(".global_loader").hide('fast');
                    location.reload();
                });
            }
            else
            {
                return false;
            }
        }
        ;
        function getAssociatedCaregiverDetails(beacon_id) {
            $.ajax({
                type: "POST",
                url: "/individual/ajax/getassociatedcaregivers",
                data: {beacon_id: beacon_id}//$("#add_new_cons_form").serialize(), 
            }).done(function(response) {
                $("#viewAssociatedCaregiverlist").html(response);
            });
            gppOpen('viewAssociatedCaregiver');
        }
        $(function() {
            $('.cb_Grid .row').each(function() {
                equalHeight($(this).find('span.txt'));
            });
            $('.Advanced_SearchButton').click(function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideDown('fast');
                }
                else {
                    $(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideUp('fast');
                }
            });
        });
    </script>
</div>
<!--Container end here--> 

<script>
    $('#add_new_cons_form').validate({
        rules: {
            becon_title: {
                required: true
            },
            factory_id: {
                required: true
            },
            becon_description: {
                required: true
            }
        },
        messages: {
            becon_title: {
                required: "Please enter beacon title."
            },
            factory_id: {
                required: "Please enter factory id."
            },
            becon_description: {
                required: "Please enter beacon description."
            }
        },
        submitHandler: function(form) {
            $(".global_loader").show();
            $.ajax({
                type: "POST",
                url: "/individual/ajax/addnewbecon",
                data: $("#add_new_cons_form").serialize(),
            }).done(function(response) {
                if (response == 1) {
                    $(".global_loader").hide('fast');
                    $('#resp').html("<font color='green'>Beacon added successfully.</font>");
                    setTimeout(function() {
                        window.location.href = "/individual-becons";
                    }, 2000);
                } else {
                    var msg = "<font color='red'>" + response + "</font>";
                    $(".global_loader").hide('fast');
                    $('#resp').html(msg);
                    $('#resp').fadeIn('fast').delay(3000).fadeOut('slow');
                }
            });
        },
        errorPlacement: function(error, element) {
            error.appendTo(element.parents("div.row"));
        }
    });
    function del_immunization(reqID) {
        if (reqID) {
            if (confirm("Do you want to delete this immunization?")) {
                this.click;
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/updateimmunization",
                    data: {reqID: reqID}
                }).done(function() {
                    window.location.href = "/individual-imunization";
                });
            }
            else
            {
                return false;
            }
        }
    }
    ;
    function updateConditionSess(conditionID, view) {
        //alert(view); return false;
        $.ajax({
            type: "POST",
            url: "/individual/ajax/updatesessioncondition",
            data: {conditionID: conditionID}
        }).done(function() {
            if (view) {
                window.location.href = "/individual-condition-description";
            } else {
                window.location.href = "/individual-edit-history";
            }
        });
    }
    function deleteCondition(conditionID) {
        if (conditionID) {
            if (confirm("Do you want to delete this condition?")) {
                this.click;
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/updateconditonstatus",
                    data: {conditionID: conditionID}
                }).done(function() {
                    window.location.href = "/individual-history";
                });
            }
            else
            {
                return false;
            }
        }
    }
    $(document).ready(function(e) {
        $('.cb_Grid .row').each(function() {
            equalHeight($(this).find('span.txt'));
        });
        /* function deleteCondition(conditionID){
         if(conditionID){
         alert('del');
         }
         }	 */


        $('.selectUsercaregiver li input').click(function() {
            alert('hello');
        });
    });
    function setCareGiverID(careGiverID) {
        $('#caregiver_id').val(careGiverID);
    }
    $('#add_new_Becon').click(function() {
        var care_giver_ID = $('#caregiver_id').val();

    });
</script>
<!--Container end here--> 
