<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Location</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li class="active"><a href="<?php echo $this->basePath(); ?>/individual-geofence">Geofence</a><span class="border"></span></li>
                <li><a href="<?php echo $this->basePath(); ?>/individual-becons">Beacons</a><span class="border"></span></li>
                <li><a href="<?php echo $this->basePath(); ?>/individual-location">Location</a><span class="border"></span></li>
            </ul>
        </div>

        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-geofence" class="item selected">Accepted</a>
                <a href="<?php echo $this->basePath(); ?>/individual-request-geofence" class="item">New Request</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">


        <div class="table table_box_shadow cb_Grid geofence_grid">
            <?php if (!count($this->accept_geofence)) { ?><div class="errorMsg">
                    <span class="ui_icon error"></span>No Data found </div> <?php
            } else {
                foreach ($this->accept_geofence as $key => $value) {
                    ?>
                    <div class="row clearfix">
                        <div class="col wd65">
                            <span class="txt clearfix">
                                <div class="user_img"><?php
                                    if ($value['Image']) {
                                        $image = $this->Resize($this->serverUrl() . "/upload_image/" . $value['caregiver_id'] . "/", $value['Image'], 100, 80);
                                    } else {
                                        $image = $this->serverUrl() . "/img/health_matrix_logo_prelogin.png";
                                    }
                                    ?>
                                    <img src="<?php echo $image; ?>" alt="" /></div>
                                <h3><?= $value['FirstName'] . " " . $value['LastName'] . " (" . "@" . $value['name'] . ")" ?></h3>
                                <p><?= $value['state_name'] . ", " . $value['country_name'] ?></p>
                            </span>
                        </div>
                        <div class="col wd15">
                            <span class="txt">
                                <ul class="action">
                                    <!--<li class="add"><a href="javascript:void(0);" onClick="gppOpen('addNewBecon');">Add new Becon</a></li>-->
                                    <?php if ($value['geofence_status'] == "1") { ?>
                                        <li class="pause" id="status_<?= $value['id'] ?>"><a href="javascript:void(0);" onclick="return updateGeofenceStatus('<?= $value['id'] ?>', '0');">Start/Stop</a></li>
                                    <?php } else { ?>
                                        <li class="play" id="status_<?= $value['id'] ?>"><a href="javascript:void(0);" onclick="return updateGeofenceStatus('<?= $value['id'] ?>', '1');">Start/Stop</a></li>
                                    <?php } ?>
        <!--<li class="delete"><a href="javascript:void(0);" onclick="return deleteGeofence('<?= $value['id'] ?>');">Delete</a></li>-->
                                </ul>
                            </span>
                        </div>
                    </div>            
                <?php }
            }
            ?>       

        </div>    
    </div>
    <style>
        .cb_Grid .row .col ul.action{
            display:table-cell;
            vertical-align:middle;
        }
        .cb_Grid .row .col .txt, .cb_Grid .row .col .txt1,.cb_Grid{
            text-align:left;
            border:0;
            display:table;
            width:100%;
        }
    </style>
    <script>
        $(document).ready(function(e) {
            $('.cb_Grid .row').each(function() {
                equalHeight($(this).find('span.txt'));
            });
        });
    </script>
</div>
<!--Container end here--> 
<script>
    function updateGeofenceStatus(reqID, response) {
        if (response == 1) {
            var msg = "activate";
        } else {
            var msg = "pause";
        }
        var confirmMsg = "Do you want to " + msg + " this geofence?";
        if (confirm(confirmMsg)) {
            $(".global_loader").show();
            this.click;
            $.ajax({
                type: "POST",
                url: "/individual/ajax/updategeofencestatus",
                data: {reqID: reqID, response: response}
            }).done(function() {
                $(".global_loader").hide('fast');
                /* if(response==1){
                 $('#status_'+reqID).removeClass('play').addClass('pause');	
                 }else{
                 $('#status_'+reqID).removeClass('pause').addClass('play');
                 } */
                location.reload();
            });
        }
        else
        {
            return false;
        }
    }
    ;


    $(document).ready(function(e) {
        $('.cb_Grid .row').each(function() {
            equalHeight($(this).find('span.txt'));
        });
        /* function deleteCondition(conditionID){
         if(conditionID){
         alert('del');
         }
         }	 */
    });
</script>
<!--Container end here--> 
