<?php
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
?>


<div class="graph" style="max-height:350px; overflow-y:auto" id="becondatalist">
    <?php if (count($this->beconData) > 0) { ?>
        <ul class="commutations_graph" >
            <?php
            foreach ($this->beconData as $bvalue) {
                $show_date_time = $bvalue['date'] . " " . $bvalue['time'];
                $today_show = $this->CusConPlug->convetLocalTime($show_date_time, $time_zone);

                $date = (isset($bvalue['date']) ? date('d M Y', strtotime($today_show[0] . $today_show[1])) : "");
                $time = (isset($bvalue['time']) ? date('h:i A', strtotime($today_show[0] . $today_show[1])) : "");
                $rule = (isset($bvalue['rule']) ? ($bvalue['rule'] == 1 ? "inside" : "outside" ) : "");
                $title = (isset($bvalue['becon_title']) ? $bvalue['becon_title'] : "");
                $color = (isset($bvalue['rule']) ? ($bvalue['rule'] == 1 ? "green" : "red" ) : "");
                ?>
                <li class="" style="border-left: <?= $color ?> 10px solid;">
                    <span class="time"><?php echo $time ?></span>
                    <span class="task"> <?php echo $title ?></span>
                    <span class="task" style="padding-left: 10px;"><?php echo $rule ?> </span>
                </li>
            <?php }
            ?>
        </ul>
    <?php } else { ?>
        <div class="errorMsg">
            <span class="ui_icon error"></span>Sorry no record found. </div>
        <?php } ?>                        

</div>
