<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<!--Container Start here--> 
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Location</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li><a href="<?php echo $this->basePath(); ?>/individual-geofence">Geofence</a><span class="border"></span></li>
                <li><a href="<?php echo $this->basePath(); ?>/individual-becons">Beacons</a><span class="border"></span></li>
                <li class="active"><a href="<?php echo $this->basePath(); ?>/individual-location">Location</a><span class="border"></span></li></ul>
        </div>

        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-location" class="item selected">Indoor</a>
                <a href="<?php echo $this->basePath(); ?>/individual-location-outdoor" class="item">Outdoor</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <span class="filterBy_date"><input type="text" class="dateBox_calendar" id="from_date_details" value="<?php echo date("d M, Y", strtotime($this->today_date)); ?>" style="border:0; width: 120px" readonly="readonly"/></span> 

        <div class="graph" style="max-height:350px; overflow-y:auto" id="becondatalist">
            <?php if (count($this->beconData) > 0) { ?>
                <ul class="commutations_graph" >
                    <?php
                    foreach ($this->beconData as $bvalue) {

                        $show_date_time = $bvalue['date'] . " " . $bvalue['time'];
                        $today_show = $this->CusConPlug->convetLocalTime($show_date_time, $time_zone);

                        $date = (isset($bvalue['date']) ? date('d M Y',  strtotime($today_show[0].$today_show[1])) : "");
                        $time = (isset($bvalue['time']) ? date('h:i A',  strtotime($today_show[0].$today_show[1])) : "");
//                        $rule = (isset($bvalue['rule']) ? ($bvalue['rule'] == 1 ? "inside" : "outside" ) : "");
                        $rule = ($bvalue['rule'] == 1 ? "inside" : "outside" );
                        $title = (isset($bvalue['becon_title']) ? $bvalue['becon_title'] : "");
                        $color = (isset($bvalue['rule']) ? ($bvalue['rule'] == 1 ? "green" : "red" ) : "");
                        ?>
                        <li class="" style="border-left: <?= $color ?> 10px solid;">
                            <span class="time"><?php echo $time ?></span>
                            <span class="task"> <?php echo $title ?></span>
                            <span class="task" style="padding-left: 10px;"><?php echo $rule ?> </span>

                        </li>
                    <?php }
                    ?>
                </ul>
            <?php } else { ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>Sorry no record found. </div>
            <?php } ?>


        </div>
    </div>
</div>
<!--Container end here--> 
<!--Container end here--> 
<script>
    DatePicker();
    function DatePicker() {
        $(".dateBox_calendar").datepicker({
            dateFormat: 'dd M yy',
            buttonImage: '/img/calendar_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            minDate: -7,
            maxDate: 0,
            onSelect: function (dateText, inst) {
                $.ajax({
                    type: "POST",
                    url: "/individual/location/listbeacondata",
                    data: {data_date: dateText}
                }).done(function (res) {
                    $('#becondatalist').html(res);
                });
            }
        });
    }

    $(document).ready(function (e) {
        $('.cb_Grid .row').each(function () {
            equalHeight($(this).find('span.txt'));
        });

    });
</script>

<style>
    .ui-datepicker-trigger{
        position: relative;
        top: 8px;
    }
    .graph_header{  
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
    }
</style>
<!--Container end here--> 

<!--Container end here--> 
