<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>
<!--Container Start here--> 
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Location</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li><a href="<?php echo $this->basePath(); ?>/individual-geofence">Geofence</a><span class="border"></span></li>
                <li><a href="<?php echo $this->basePath(); ?>/individual-becons">Beacons</a><span class="border"></span></li>
                <li class="active"><a href="<?php echo $this->basePath(); ?>/individual-location">Location</a><span class="border"></span></li>
            </ul>
        </div>

        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-location" class="item">Indoor</a>
                <a href="<?php echo $this->basePath(); ?>/individual-location-outdoor" class="item selected">Outdoor</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <div class="graphBox">
            <div class="graph_header">
                <!--<span class="graph_title">Commute</span>-->
                <span class="color_indicator">
                    <span class="filterBy_date"><input type="text" class="dateBox_calendar" id="steps_currentdate" value="<?php echo date("d M, Y", strtotime($this->today_date)); ?>" style="border:0; width: 120px" /></span> 
                </span>
            </div>
            <div class="graph" style="max-height:350px; overflow-y:auto" id="movesgraph">
                <?php if (count($this->movesData) > 0) { ?>
                    <ul class="commutations_graph" >
                        <?php
                        foreach ($this->movesData as $movvalue) {
                            if (!empty($movvalue['Duration'])) {
                                $show_date_time = $movvalue['ExerciseRecorddate'] . " " . $movvalue['ExerciseRecordtime'];
                                $today_show = $this->CusConPlug->convetLocalTime($show_date_time, $time_zone);

                                $date = (isset($bvalue['date']) ? date('d M Y', strtotime($today_show[0] . $today_show[1])) : "");
                                $time = (isset($bvalue['time']) ? date('h:i A', strtotime($today_show[0] . $today_show[1])) : "");
                                ?>
                                <li class="" style="border-left: <?= $movvalue['color'] ?> 10px solid;">
                                    <span class="time"><?php echo $time;//date('g:i A', strtotime($movvalue['ExerciseRecordtime'])) ?></span>
                                    <span class="task"><?php echo ucfirst($movvalue['ActivityType']) ?>, <?php echo $movvalue['Duration'] ?> Min</span>
                                    <span class="bullet"></span>
                                </li>
                        <?php }
                    } ?>
                    </ul>
                <?php } else { ?>
                    <div class="errorMsg">
                        <span class="ui_icon error"></span>Sorry no record found. </div>
<?php } ?>


            </div>
        </div>
    </div>
</div>
<!--Container end here-->  
<script>
    $(document).ready(function (e) {
        $('.cb_Grid .row').each(function () {
            equalHeight($(this).find('span.txt'));
        });

    });
</script>

<script type="text/javascript">
    DatePicker();
    function DatePicker() {
        $(".dateBox_calendar").datepicker({
            dateFormat: 'dd M yy',
            buttonImage: '/img/calendar_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            maxDate: 0,
            onSelect: function (dateText, inst) {
                var currentdate = $.datepicker.formatDate('dd MM, yy', new Date(dateText));
                $('#steps_currentdate').val(currentdate);
                $(".global_loader").show();
                $.ajax({
                    type: "POST",
                    url: '/individual/ajax/movesgraph',
                    data: {date: dateText},
                    success: function (res) {
                        //  alert(res);
                        $(".global_loader").hide();
                        var obj = jQuery.parseJSON(res);
                        var error = obj.error;
                        var msg = obj.msg;
                        var link = obj.link;
                        if (error == '0') {
                            $('#movesgraph').html('');
                            $('#movesgraph').html(msg);
                        }
                        if (error == '1' && link != '') {
                            window.location.href = link;
                            //$('#movesgraph').html(link);
                        }
                        if (error == '1' && link == '') {
                            $('#movesgraph').html('');
                            $('#movesgraph').html(msg);
                        }
                    }
                });
            }
        });
    }
</script>
<style>
    .ui-datepicker-trigger{
        position: relative;
        top: 8px;
    }
    .graph_header{  
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
    }
</style>
<!--Container end here--> 
