<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
?>

<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Location</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li class="active"><a href="<?php echo $this->basePath(); ?>/individual-geofence">Geofence</a><span class="border"></span></li>
                <li><a href="<?php echo $this->basePath(); ?>/individual-becons">Beacons</a><span class="border"></span></li>
                <li><a href="<?php echo $this->basePath(); ?>/individual-location">Location</a><span class="border"></span></li>
            </ul>
        </div>

        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menu">
                <a href="<?php echo $this->basePath(); ?>/individual-geofence" class="item">Accepted</a>
                <a href="<?php echo $this->basePath(); ?>/individual-request-geofence" class="item selected">New Request</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <div class="table table_box_shadow cb_Grid geofence_grid">
            <?php if (!count($this->geofence_request)) { ?><div class="errorMsg">
                    <span class="ui_icon error"></span>No Data found </div> <?php
            } else {
                foreach ($this->geofence_request as $key => $value) {
                    ?>
                    <div class="row clearfix">
                        <div class="col wd75">
                            <span class="txt clearfix">
                                <h3>Geofence Request To <?= ucwords($value['name']) ?></h3>
                                <p>By <?= $value['FirstName'] . " " . $value['LastName'] . " (" . $value['UserName'] . ")" . " from " . $value['state_name'] . ", " . $value['country_name'] ?></p>
                                <div class="distance"><span class="distance_icon">d</span><?= $value['radius'] ?> Km</div>
                            </span>
                        </div>
                        <div class="col wd25">
                            <span class="txt clearfix">
                                <a class="global_actionButton following" onclick="respondGeofenceRequest('<?= $value['caregiver_id'] ?>', '1', '<?= $value['Email'] ?>')" href="javascript:void(0);">Accept</a>
                                <a class="global_actionButton unfollow" onclick="respondGeofenceRequest('<?= $value['caregiver_id'] ?>', '0', '<?= $value['Email'] ?>')" href="javascript:void(0);">Reject</a>
                            </span>
                        </div>
                    </div>            
    <?php }
} ?> 

        </div>    
    </div>
    <style>
        .global_actionButton{
            margin:8px 8px 0
        }
        .cb_Grid .row .col .txt, .cb_Grid .row .col .txt1{
            text-align:left;
            border:0;
            padding:10px 15px;
        }
    </style>
    <script>
        $(document).ready(function(e) {
            $('.cb_Grid .row').each(function() {
                equalHeight($(this).find('span.txt'));
            });
        });
    </script>
</div>
<!--Container end here--> 
<script>

    function respondGeofenceRequest(caregiver_id, response, Email) {
        if (response == 1) {
            var msg = "accept";
        } else {
            var msg = "reject";
        }
        var confirmMsg = "Are you sure,you want to " + msg + " this request?";
        if (confirm(confirmMsg))
        {
            $(".global_loader").show();
            this.click;
            $.ajax({
                type: "POST",
                url: "/individual/ajax/geofenceresponse",
                data: {caregiver_id: caregiver_id, response: response, Email: Email}
            }).done(function(res) {
                $(".global_loader").hide('fast');
                $('#msg_div').html("<font color='green'>Request " + response + " successfully.</font>");
                setTimeout(function() {
                    location.reload();
                }, 2500)

            });
        }
        else
        {
            return false;
        }
    }

    $(document).ready(function(e) {
        $('.cb_Grid .row').each(function() {
            equalHeight($(this).find('span.txt'));
        });
    });
</script>
<!--Container end here--> 
