<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE INSURANCE PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 05/02/2015.
 * UPDATED: .
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
           
            <div class="gppBox">
                <div class="gppbxContainer" style="margin-top: -200px !important;">
                    <div class="gppTitle">Fill The Details
                        <div onclick="gppClose('addEmergencyContact');" class="gppClose">X</div>
                    </div>
                      <div id="serverresponse"></div>
                    <div class="formWrapperContainer" style="padding:20px">
                        <form method="post" action="" id="editEmc" name="editEmc">
                            <div class="row">
                                <label>Name</label>
                                <div class="input">
                                    <input type="hidden" name="contacts_id" value="<?php echo $this->contactData[0]['contacts_id'];  ?>">
                                     <input type="hidden" name="action" value="edit">
                                    <input type="text" name="contact_name" id="contact_name" class="nospecial_char" placeholder="Name *" value="<?php echo $this->contactData[0]['name'];  ?>" />
                                </div>
                            </div>
                            <div class="row">
                                <label>Contact</label>
                                <div class="input">
                                    <input type="text" name="contact" id="contact" class="onlynumber" placeholder="Contact Number *" maxlength="10"  value="<?php echo $this->contactData[0]['contact'];  ?>"  />
                                </div>
                            </div>
                            <div class="row">
                                <label>Contact Type</label>
                                <div class="select common">
                                 <select class="select" name="contact_type" title="Select Contact Type *" id="contact_type">
                                        <option value="">Select Contact Type *</option>
                                        <option value="Dispenser" <?php echo (($this->contactData[0]['contact_type']=="Dispenser")? "selected" : "")?>>Dispenser</option>
                                        <option value="Provider"  <?php echo (($this->contactData[0]['contact_type']=="Provider")? "selected" : "")?>>Provider</option>
                                        <option value="Emergency Contact"  <?php echo (($this->contactData[0]['contact_type']=="Emergency Contact")? "selected" : "")?>>Emergency Contact</option>
                                          <option value="">Select Contact Type *</option>
                                         <?php foreach ($this->contactType as $cvalue) { ?>
                                                <option value="<?php echo $cvalue['appointment_type_id']; ?>" <?php echo (($this->contactData[0]['contact_type']==   $cvalue['appointment_type_id'])? "selected" : "")?>><?php echo $cvalue['appointment_type']; ?></option>
                                             <?php    } ?>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <label>Notes</label>
                                <div class="input">
                                    <textarea rows="" cols="" name="notes" id="notes" placeholder="Notes.." > <?php echo $this->contactData[0]['notes'];  ?></textarea>
                                </div>
                            </div>
                            <div class="double clearfix">
                                <div class="row">
                                    <input type="button" class="submit_button cancel_button" onclick="gppClose('addEmergencyContact');" value="Cancel"/>
                                </div>
                                <div class="row last">
                                    <input type="submit" class="submit_button" value="Edit" name="editcontact"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
             
                <div class="gppOverlay"></div>
                <script>
                    $(document).ready(function(){
       $("#editEmc").validate({
                    rules: {
                        contact_name: {
                            required: true,
                            maxlength: 30,
                        },
                        contact: {
                            required: true,
                            minlength: 10,
                            maxlength: 10,
                          
                        },
                        contact_type: {
                            required: true,
                            maxlength: 30
                        },

                        
                    },
                    messages: {
                        contact_name: {
                            required: "Please enter contact name.",
                             maxlength: "Name not  more then 30 characters."
                        },
                        contact: {
                            required: "Please enter  contact.",
                             minlength: "please enter valid contact.",
                            maxlength: "please enter valid contact."
                        },
                        contact_type: {
                            required: "Please enter contact type.",
                             maxlenght: "Contact type not more then 30 character."
                        },

                    },
                    submitHandler: function (form) {
                         $(".global_loader").show();
                     var esdata =    $("#editEmc").serialize();
                   //  alert(esdata);exit;
                     $.ajax({
                         type: "POST",
                         url: "/individual/ajax/addecontact",
                         data: esdata,
                         success: function(res){
                                var obj = jQuery.parseJSON(res);
                                var error = obj.error;
                               var msg = obj.msg;
                                $(".global_loader").hide();
                               if(error=='1'){     
                                    //  alert('his error');
                                    $('#serverresponse').html('');
                                   $('#serverresponse').html('<div class="errorMsg"><span class="ui_icon error"></span>'+msg+'</div>');
                               }else{
                                    var validator = $( "#editEmc" ).validate();
                                   validator.resetForm();
                                 $( "#editEmc").get(0).reset();
                                   $('#serverresponse').html('');
                                   $('#serverresponse').html('<div class="successMsg"><span class="ui_icon success"></span>'+msg+'</div>');
                                   setTimeout(function () {
                                    gppClose('addEmergencyContact');
                                    location.reload();                                  
                                }, 2500);
                               }
                         }
                     });
                   
                    },
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parents("div.row"));

                    }
                });
                    });
 
                    </script>