<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE INSURANCE PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 05/02/2015.
 * UPDATED: .
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>

<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Documents</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <li><a href="/individual-document">Manage Records</a><span class="border"></span></li>
                <li class="active"><a href="/individual-emergency-contact">My Health Info</a><span class="border"></span></li>
<!--                <li><a href="#">Medication</a><span class="border"></span></li>
                <li><a href="#">Blue Button</a><span class="border"></span></li>-->
            </ul>
        </div>
        <div class="pgh_mWrap" style="padding:0">
            <div class="pgh_menuNew">
                 <a href="/individual-emergency-contact" class="item selected">Emergency Contacts</a>
                <a href="/individual-insurance" class="item">Insurance</a>
                 </div>
        </div>
    </div>
    <div class="pageWrapper clearfix">
        <!-- Add Contact popup start here-->
        <div id="addEmergencyContact" class="grobalPopup popuBxWrap">
           
            <div class="gppBox">
                <div class="gppbxContainer" style="margin-top: -250px;">
                    <div class="gppTitle">Fill The Details
                        <div onclick="gppClose('addEmergencyContact');" class="gppClose">X</div>
                    </div>
                      <div id="serverresponse"></div>
                    <div class="formWrapperContainer" style="padding:20px">
                        <form method="post" action="" id="addEmc" name="addEmc">
                            <div class="row">
                                <label>Name</label>
                                <div class="input">
                                    <input type="text" name="contact_name" id="contact_name" class="nospecial_char" placeholder="Name *" />
                                </div>
                            </div>
                            <div class="row">
                                <label>Contact</label>
                                <div class="input">
                                    <input type="text" name="contact" id="contact" class="onlynumber" placeholder="Contact Number *" maxlength="10"  />
                                </div>
                            </div>
                            <div class="row">
                                <label>Contact Type</label>
                                <div class="select common">
                                    <select class="select" name="contact_type" title="Select Contact Type *" id="contact_type">
                                        <option value="">Select Contact Type *</option>
                                         <?php foreach ($this->contactType as $cvalue) { ?>
                                                <option value="<?php echo $cvalue['appointment_type_id']; ?>"><?php echo $cvalue['appointment_type']; ?></option>
                                             <?php    } ?>
                                    </select>

                                </div>
                            </div>
                            <div class="row">
                                <label>Notes</label>
                                <div class="input">
                                    <textarea rows="" cols="" name="notes" id="notes" placeholder="Notes.." ></textarea>
                                </div>
                            </div>
                            <div class="double clearfix">
                                <div class="row">
                                    <input type="button" class="submit_button cancel_button" onclick="gppClose('addEmergencyContact');" value="Cancel"/>
                                </div>
                                <div class="row last">
                                    <input type="submit" class="submit_button" value="Add" name="submitcontact"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
             
            <div class="gppOverlay"></div>
         </form>
        </div>
        <!--Add Records popup end here-->

        <!-- View Contact popup start here-->
        <div id="viewEmergencyContact" class="grobalPopup popuBxWrap">
       
        </div>
        <!--View Contact popup end here-->

        <a href="javascript:void(0);" class="global_actionButton" style="margin:0 0 10px; width:160px; float:none; padding-left:10px" onclick="gppOpen('addEmergencyContact');">Add New Contact</a>
         <div id="responsedel"></div>
        <div class="table table_box_shadow cb_Grid">
            <?php  if(count($this->contactData)> 0){ ?>
            <div class="row clearfix head">
                <div class="col wd10"><span class="txt">#</span></div>
                <div class="col wd20"><span class="txt">Name</span></div>
                <div class="col wd25"><span class="txt">Contact</span></div>
                <div class="col wd25"><span class="txt">Contact Type</span></div>
                <div class="col wd20"><span class="txt">Action</span></div>
            </div>
            <?php
                $i=1;
                         foreach ($this->contactData as $ecvalue) {
                ?>
            <div class="row clearfix" id="contact_row_<?php echo $ecvalue['contacts_id'];  ?>">
                <div class="col wd10"><span class="txt"><?php echo $i; ?></span></div>
                <div class="col wd20"><span class="txt"><?php echo $ecvalue['name']; ?></span></div>
                <div class="col wd25"><span class="txt"><?php echo $ecvalue['contact']; ?></span></div>
                <div class="col wd25"><span class="txt"><?php echo $ecvalue['contact_type_name']; ?> </span></div>
                <div class="col wd20">
                    <span class="txt">
                        <ul class="action">
                            <li class="view"><a href="javscript:void(0);" onclick="gppOpenView('viewEmergencyContact','<?php echo $ecvalue['contacts_id']; ?>');">View</a></li>
                            <li class="edit"><a href="javascript:void(0);" onclick="gppOpenEdit('addEmergencyContact','<?php echo $ecvalue['contacts_id']; ?>');" >Edit</a></li>
                            <li class="delete"><a href="#" onclick="deletdoc('<?php echo$ecvalue['contacts_id']; ?>', '<?php echo $ecvalue['name']; ?>');">Delete</a></li>
                        </ul>
                    </span>
                </div>
            </div>
            <?php $i++; } }else{ ?>
            <div class="row clearfix"> 
                <div class="col wd100">
                        <span class="txt clearfix">
                            <h3>Sorry no contact found.</h3>
                        </span>
                    </div></div>
            <?php } ?>
        </div>
         <div class="pagination pagination-centered clearfix">
                <!------pagination start ------->
                <div class="stripSecond">
                    <?php
                    // add at the end of the file after the table
                    if (count($this->contactData)) {
                        echo $this->paginationControl($this->contactData, 'Jumping', array('paginator/paginators', 'ContactIs'), array('route' => 'indiv_econtact', 'routeParams' => $this->routeParams));

                    }          ?>
                       
                </div>
                <!------pagination end ------->
            </div>
        <script>
            $(document).ready(function (e) {
                $('.cb_Grid .row').each(function () {
                    equalHeight($(this).find('span.txt'));
                });

                $("#addEmc").validate({
                    rules: {
                        contact_name: {
                            required: true,
                            maxlength: 30,
                        },
                        contact: {
                            required: true,
                            minlength: 10,
                            maxlength: 10,
                          
                        },
                        contact_type: {
                            required: true,
                            maxlength: 30
                        },

                        
                    },
                    messages: {
                        contact_name: {
                            required: "Please enter contact name.",
                             maxlength: "Name not  more then 30 characters."
                        },
                        contact: {
                            required: "Please enter  contact.",
                             minlength: "please enter valid contact.",
                            maxlength: "please enter valid contact."
                        },
                        contact_type: {
                            required: "Please enter contact type.",
                             maxlenght: "Contact type not more then 30 character."
                        },

                    },
                    submitHandler: function (form) {
                         $(".global_loader").show();
                     var sdata =    $("#addEmc").serialize()
                     $.ajax({
                         type: "POST",
                         url: "/individual/ajax/addecontact",
                         data: sdata,
                         success: function(res){
                                var obj = jQuery.parseJSON(res);
                                var error = obj.error;
                               var msg = obj.msg;
                                $(".global_loader").hide();
                               if(error=='1'){     
                                    //  alert('his error');
                                    $('#serverresponse').html('');
                                   $('#serverresponse').html('<div class="errorMsg"><span class="ui_icon error"></span>'+msg+'</div>');
                               }else{
                                  // alert('his succes');
                                   //$("#addEmc").reset();
                                   var validator = $( "#addEmc" ).validate();
                        validator.resetForm();
                       $( "#addEmc").get(0).reset();
                                    $("#addEmc").find("input[type=text], textarea").val("");
                                   $('#serverresponse').html('');
                                   $('#serverresponse').html('<div class="successMsg"><span class="ui_icon success"></span>'+msg+'</div>');
                                   setTimeout(function () {
                                   gppClose('addEmergencyContact');
                                    location.reload();                                  
                                }, 2000);
                               }
                         }
                     });
                   
                    },
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parents("div.row"));

                    }
                });
            });
     function deletdoc(contactid,response){
        //alert(docid);
          var confirmMsg = "Are you sure,you want to delete " + response + " from contact?";
            if (confirm(confirmMsg))
            {
                 $(".global_loader").show();
                this.click;
                 $.ajax({
                    type: "POST",
                    url: "/individual/ajax/deleteecontact",
                    data: {contactid: contactid},
                    
                }).done(function (res) {
                      $("#responsedel").show();
                    $(".global_loader").hide('fast');
                     var obj = jQuery.parseJSON(res);
                    var error = obj.error;
                    var msg = obj.msg;                 
                    if(error=='0' && msg !=''){
                        $("#responsedel").html('<div class="successMsg"><span class="ui_icon success"></span>'+msg+'</div>');
                        $("#contact_row_"+contactid).remove();
                        window.location.reload();
                }else{
                      $('#responsedel').html('<div class="errorMsg"><span class="ui_icon error"></span>'+msg+'</div>');                         
                    }
                  setTimeout(function () {
                        $("#responsedel").hide();
                    }, 2500)
                    //location.reload();
                });
                
        }else{
            return false;
    }
    }
    
          function gppOpenEdit(e,id){
           $('.global_loader').show();
            $('#'+e).html('');
	$('.popuBxWrap').fadeOut('fast');
        $('body').addClass('fixedBody');
	$('#'+e).fadeIn('fast');
        $.ajax({
                    type: "POST",
                    url: "/individual/Emergencycontact/edit",
                    data: {contacts_id: id}
                }).done(function (res) {
                     $('.global_loader').hide();
                     $('#'+e).html(res);
                });
	
}
      function gppOpenView(e,id){
      $('.global_loader').show();
            $('#'+e).html('');
	$('.popuBxWrap').fadeOut('fast');
        $('body').addClass('fixedBody');
	$('#'+e).fadeIn('fast');
        $.ajax({
                    type: "POST",
                    url: "/individual/Emergencycontact/view",
                    data: {contacts_id: id}
                }).done(function (res) {
                     $('.global_loader').hide();
                     $('#'+e).html(res);
                });
	
}
        </script>
    </div>
</div>
<!--Container end here--> 