   <div class="gppBox">
        <div class="gppbxContainer" style="min-height: inherit; margin-top: -120px !important;">
          <div class="gppTitle">Emergency Contacts Details
            <div onclick="gppClose('viewEmergencyContact');" class="gppClose">X</div>
          </div>
          <div class="formWrapperContainer viewDetails">
                <div class="row clearfix">
                    <h3 class="col30">Name</h3>
                    <p class="col70"><?php echo $this->contactData[0]['name']; ?></p>
                </div>
                <div class="row clearfix">
                    <h3 class="col30">Contact</h3>
                    <p class="col70"><?php echo $this->contactData[0]['contact']; ?></p>
                </div>
                <div class="row clearfix">
                    <h3 class="col30">Contact Type</h3>
                    <p class="col70"><?php echo $this->contactData[0]['contact_type_name']; ?></p>
                </div>
                <?php if(!empty($this->contactData[0]['notes'])){ ?>
                <div class="row clearfix">
                    <h3 class="col30">Notes</h3>
                    <p class="col70"><?php echo $this->contactData[0]['notes']; ?></p>
                </div>
                <?php } ?>
            </div>
        </div>
    </div>
    <div class="gppOverlay"></div>