<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE LEFT-MENU FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
 * CREATOR: 12/11/2014.
 * UPDATED: 07/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$container = new Container('super_admin');
?>
<script>
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ')
                c = c.substring(1);
            if (c.indexOf(name) == 0)
                return c.substring(name.length, c.length);
        }
        return "";
    }
    $(document).ready(function () {
        var menu = getCookie("leftmenu");

        if (menu == '0') {
            $('.left_panel_menu_button').click();
            $('.left_menu_section').attr('custom', '0');
        }

        $('.left_panel_menu_button').click(function () {
            var status = $('.left_menu_section').attr('custom');

            if (status == '1') {
                document.cookie = "leftmenu=0";
                $('.left_menu_section').attr('custom', '0');
            } else {
                document.cookie = "leftmenu=1";
                $('.left_menu_section').attr('custom', '1');
            }

        })
    })

</script>
<?php
$rewardArr = array("reward");

if ($container->admin['id'] == 1) {

    $basename = basename($_SERVER["REQUEST_URI"]);
    $menuName = explode("-", $basename);
    if (isset($menuName[1]))
        $active = $menuName[1];
    else
        $active = "";

    $assArr = array("self");
    $studiesArr = array("studies");
    $PassArr = array("passDomain");
    $PriceArr = array("matrix");
    $Studytrial = array("trial");
    $cnArr = array("conditions", "symptoms", "treatments");
    $tmArr = array("bodymeasurement", "steps&comm", "physical+activity", "cholestrol", "blood+pressure", "fasting+glucose", "temperature", "sleep", "blogs");
    $resinviteArr = array("researcherinvite");
    ?>

    <div class="left_menu_section" custom='1'>
        <a class="left_panel_menu_button" href="javascript:void(0);"></a>
        <ul class="menuWrap">
            <li class="ui-tab<?php if (in_array($active, array("dashboard"))) echo " active"; ?>">
                <a href="<?= $this->url('dashboard'); ?>" class="anchor">
                    <span class="icon"></span><?= $this->translate('Dashboard') ?>
                </a>
            </li>
            <li class="ui-tab<?php if (in_array($active, array("users"))) echo " active"; ?>">
                <a href="<?= $this->url('super user'); ?>" class="anchor">
                    <span class="icon people"></span>Users
                </a>
            </li>
            <li class="ui-tab<?php if (in_array($active, $tmArr)) echo " active"; ?>">
                <a href="<?= $this->url('Defalt Measurement Body'); ?>" class="anchor">
                    <span class="icon threshold"></span>Threshold Matrix
                </a>
            </li>
             <li class="ui-tab<?php if (in_array($active, array('activitystage'))) echo " active"; ?>">
                <a href="<?= $this->url('Defalt Activity_stage'); ?>" class="anchor">
                    <span class="icon threshold"></span>Activity Stage
                </a>
            </li>
            <li class="ui-tab<?php if (in_array($active, $cnArr)) echo " active"; ?>">
                <a href="<?= $this->url('Defalt Conditions'); ?>" class="anchor">
                    <span class="icon conditions"></span>Conditions
                </a>
            </li>

            <li class="ui-tab<?php if (in_array($active, array('questionnaire'))) echo " active"; ?>">
                <a href="<?= $this->url('Defalt Questionnaire'); ?>" class="anchor">
                    <span class="icon documents"></span>Questionnaire
                </a>
            </li>
            
<!--            <li class="ui-tab<?php if (in_array($active, array('answergroups'))) echo " active"; ?>">
                <a href="<?= $this->url('Defalt AnswerGroup'); ?>" class="anchor">
                    <span class="icon documents"></span>Answer Group
                </a>
            </li>-->


            <li class="ui-tab<?php if (in_array($active, $assArr)) echo " active"; ?>">
                <a href="<?= $this->url('Defalt Assesments'); ?>" class="anchor">
                    <span class="icon self_assesment"></span>Self Assesments
                </a>
            </li>





            <li class="ui-tab<?php if (in_array($active, $studiesArr)) echo " active"; ?>">
                <a href="<?= $this->url('Defalt Studies'); ?>" class="anchor">
                    <span class="icon studies"></span>Studies
                </a>
            </li>

            <li class="ui-tab<?php if (in_array($active, array('request'))) echo " active"; ?>">
                <a href="<?= $this->url('Defalt StudyRequest'); ?>" class="anchor">
                    <span class="icon studies"></span>Study Requests
                </a>
            </li>


            <li class="ui-tab<?php if (in_array($active, array('invitation'))) echo " active"; ?>">
                <a href="<?= $this->url('Defalt Invitation'); ?>"  class="anchor">
                    <span class="icon sendinvite"></span>Send Invitations 
                </a>
            </li>


            <li class="ui-tab<?php if (in_array($active, $PriceArr)) echo " active"; ?>">
                <a href="<?= $this->url('Defalt Pricing'); ?>" class="anchor">
                    <span class="icon pricing"></span>Pricing Matrix
                </a>
            </li>


            <li class="ui-tab<?php if (in_array($active, $PassArr)) echo " active"; ?>">
                <a href="<?= $this->url('Defalt PassDomain'); ?>" class="anchor">
                    <span class="icon pass"></span>PaaS
                </a>
            </li>

<!--            <li class="ui-tab<?php if (in_array($active, $Studytrial)) echo " active"; ?>"> 
                <a class="anchor" href="<?= $this->url('Defalt Studytrial'); ?>"> 
                    <span class="icon study_trials">

                    </span>Study &amp; Trials 
                </a> 
            </li>-->

            <li class="ui-tab<?php if (in_array($active, array('source'))) echo " active"; ?>"> 
                <a class="anchor" href="<?= $this->url('Defalt Source'); ?>"> 
                    <span class="icon self_assesment">

                    </span>Source &amp; Allocation 
                </a> 
            </li>

            <li class="ui-tab"> 
                <a href="<?= $this->url('Defalt BlogList'); ?>" class="anchor"> 
                    <span class="icon documents"></span>Blogs
                </a>
            </li>


            <li class="ui-tab<?php if (in_array($active, $rewardArr)) echo " active"; ?>">
                <a href="<?= $this->url('Defalt RewardDetails'); ?>" class="anchor">
                    <span class="icon people"></span>Reward
                </a>
            </li>

         <!---  <li class="ui-tab<?= $active; ?>">
              <a href="#" class="anchor">
                  <span class="icon self_assesment"></span>PAAS
              </a>
          </li>
          <li class="ui-tab<?= $active; ?>">
              <a href="<?= $this->url('Defalt BlogList'); ?>" class="anchor">
                  <span class="icon documents"></span>Blogs
              </a>
          </li> -->
        </ul>    
    </div>

    <?php
}else {
    $basename = basename($_SERVER["REQUEST_URI"]);
    $menuName = explode("-", $basename);
    if (isset($menuName[1]))
        $active = $menuName[1];
    else
        $active = "";

    $studiesArr = array("studies");
    $tmArr = array("bodymeasurement", "steps&comm", "physical+activity", "cholestrol", "blood+pressure", "fasting+glucose", "temperature", "sleep", "blogs");
    //$rewardArr= array("reward","registercc");
    $resinviteArr = array("researcherinvite", "manageresearchinvite");
    ?>

    <div class="left_menu_section" custom='1'>
        <a class="left_panel_menu_button" href="javascript:void(0);"></a>
        <ul class="menuWrap">
            <li class="ui-tab<?php if (in_array($active, array("dashboard"))) echo " active"; ?>">
                <a href="<?= $this->url('dashboard'); ?>" class="anchor">
                    <span class="icon"></span><?= $this->translate('Dashboard') ?>
                </a>
            </li>

            <li class="ui-tab<?php if (in_array($active, array("users"))) echo " active"; ?>">
                <a href="<?= $this->url('super user'); ?>" class="anchor">
                    <span class="icon people"></span>Users
                </a>
            </li>

            <li class="ui-tab<?php if (in_array($active, $tmArr)) echo " active"; ?>">
                <a href="<?= $this->url('Defalt Measurement Body'); ?>" class="anchor">
                    <span class="icon threshold"></span>Threshold Matrix
                </a>
            </li>

            <li class="ui-tab<?php if (in_array($active, array('questionnaire'))) echo " active"; ?>">
                <a href="<?= $this->url('Defalt Questionnaire'); ?>" class="anchor">
                    <span class="icon documents"></span>Questionnaire
                </a>
            </li>

            <li class="ui-tab<?php if (in_array($active, $studiesArr)) echo " active"; ?>">
                <a href="<?= $this->url('Defalt Studies'); ?>" class="anchor">
                    <span class="icon studies"></span>Studies
                </a>
            </li>
            <li class="ui-tab<?php if (in_array($active, array("subscription"))) echo " active"; ?>">
                <a href="<?= $this->url('Defalt Subscription'); ?>" class="anchor">
                    <span class="icon pricing"></span>Subscription
                </a>
            </li>
            <li class="ui-tab<?php if (in_array($active, array('invitation'))) echo " active"; ?>">
                <a href="<?= $this->url('Defalt Invitation'); ?>"  class="anchor">
                    <span class="icon sendinvite"></span>Send Invitations 
                </a>
            </li>
            <li class="ui-tab<?php if (in_array($active, $resinviteArr)) echo " active"; ?>">
                <a href="<?= $this->url('Defalt ResearcherInvitation'); ?>" class="anchor">
                    <span class="icon location"></span>Researcher Invitation
                </a>
            </li>
            <li class="ui-tab<?php if (in_array($active, $rewardArr)) echo " active"; ?>">
                <a href="<?= $this->url('Defalt RewardDetails'); ?>" class="anchor">
                    <span class="icon people"></span>Reward
                </a>
            </li>
        </ul>
    </div>
<?php } ?>
