<?php
/* * ***********************
 * PHTML: DISPLAY LIST Subscription.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: HEMANT CHUPHAL.
 * CREATOR: 14/05/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php $this->flashMessenger()->clearMessages(); ?>
<style>
    .admDashbrd{
	position:relative;
	}
.admDashbrd ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.admDashbrd ul li{
	margin-top:20px;
	}
.admDashbrd ul li:first-child{
	margin-top:0px;
	}
.admDashbrd ul li{
	display:block;
	background:#fff;
	padding:20px 100px 20px 20px;
	font-size:16px;
	color:#878787;
	position:relative;
	box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.1);
	border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #fff;
	}
.admDashbrd ul li:hover{
	border:1px solid #D8D8D8;
	}
.admDashbrd ul li span.digit{
	position:absolute;
	right:20px;
	top:50%;
	height:22px;
	line-height:22px;
	margin-top:-11px;
	display:block;
	font-size:20px;
	}
</style>
<div id="content-wrapper" class="clearfix"> 
   <div class="pageWrapper">
   		<div class="pghFixed">
        	<div class="pgh_title">| Subscription</div>
        </div>
        
        <div class="admDashbrd">
        	<ul class="clearfix">
            	<li class="clearfix">Total number of Panel Members <span class="digit"><?= $Individuals;?></span></li>
                <li class="clearfix">Total number of Studies & Survey conducted <span class="digit"><?= $Study;?></span></li>
                <li class="clearfix">Total number of questions per month <span class="digit"><?= $StudyQueCount;?></span></li>
                <li class="clearfix">Panel member available to be recruited <span class="digit"><?= $PassDomain['panel_member']-$Individuals;?></span></li>
                <li class="clearfix">Studies available to be conducted <span class="digit"><?= $PassDomain['study_survey']-$Study;?></span></li>
                <li class="clearfix">Number of survey questions available <span class="digit"><?= $PassDomain['survey_que_per_mon']-$StudyQueCount;?></span></li>
            </ul>
        </div>
               
                
               
        
   </div>
</div>