<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Other Studies &amp; Trials </div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="/individual-onsitetrials" class="item selected">On-site Trials</a>
                <a href="/individual-virtualtrials" class="item">Virtual Trials</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
<!--        <p style="font-size:18px;color:#CC3300;">Search for studies</p>
        <p style="font-size:14px;">Example: Heart attack AND Loss Angeles</p>
        <div class="formWrapperContainer">
            <form target="_blank" action="https://clinicaltrials.gov/ct2/results" method="get">
                <div id="remotemsg" style="margin-bottom:10px;"></div>
                <div class="row">
                    <div class="">
                        <input type="text" name="term" placeholder="" id="subject">
                        <input type="submit" class="search_button" value="Search">
                    </div>
                </div>

            </form>
        </div>-->
        <div id="home-search-box">
            <div id="search-form">
                <h1>Search for Studies</h1>
                <p class="for-example">Example: "Heart attack" AND "Los Angeles"</p>
                <form target="_blank" action="https://clinicaltrials.gov/ct2/results" id="search_stu">
                    <div><input type="text" maxlength="250" size="30" value="" name="term" id="home-search-query"></div>
                    <div><input type="submit" value="Search" name="Search"></div>
                </form>
                <div id="search-extras">
                    <ul>
                        <li class="first-item color-bullet" style="border-right: 1px solid #ccc;"><span class="li-content"><a target="blank" href="https://clinicaltrials.gov/ct2/search/advanced">Advanced Search</a></span></li>
                        <li class="last-item color-bullet"><span class="li-content"><a target="blank" href="https://clinicaltrials.gov/ct2/search/browse?brwse=cond_cat">See Studies by Topic</a></span></li>
                        <li style="display: block;" class="last-item color-bullet"><span class="li-content"><a target="blank" href="https://clinicaltrials.gov/ct2/search/map">See Studies on a Map</a></span></li>
                    </ul>
                </div> 
            </div> 
            <div id="search-help">
                <h3>Search Help</h3>
                <ul>
                    <li class="color-bullet"><span class="li-content"><a target="blank" href="https://clinicaltrials.gov/ct2/help/how-find/index">How to search</a></span></li>
                    <li class="color-bullet"><span class="li-content"><a target="blank" href="https://clinicaltrials.gov//ct2/help/how-find/find-study-results">How to find results of studies</a></span></li>
                    <li class="color-bullet"><span class="li-content"><a target="blank" href="https://clinicaltrials.gov//ct2/help/how-read-study">How to read a study record</a></span></li>
                </ul>
            </div> 
        </div>
    </div>
    <script>
        $("#search_stu").validate({
            rules:{
                term:{
                    required:true
                }
            },
            messages:{
                term:{
                    required:"Please enter search text"
                }
            }
        });
        </script>
    <style>
        body, p, td, tr, input, select, textarea, li, legend, div {
            font: 14px/1.4em arial,'Nimbus Sans L',sans-serif;
        }
        #home-search-box {
            border: 6px solid #c7d4e7;
            border-radius: 4px;
            float: left;
            padding: 14px 18px;
            width: 90%;
        }
        h1, #search-form h1 {
            font-size: 20px;
            margin: 0;
        }
        h1 {
            color: #990000;
            font-family: Georgia,"Times New Roman",Times,serif;
            font-size: 22px;
            font-weight: normal;
            margin: 0 0 18px;
        }
        #search-form {
            border-right: 1px solid #ccc;
            float: left;
            width: 470px;
        }
        h2, h3 {
            //background-color: white;
            color: #333333;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 0;
            margin-top: 0;
            padding-left: 0;
            padding-top: 0;
        }
        #search-help {
            float: right;
            padding-bottom: 0;
            padding-left: 18px;
            width: 240px;
        }
        #search-extras ul, #header-search-extras ul {
            margin: 6px 3px;
            padding: 0;
        }

        #header-search-extras ul {
            margin: 6px 3px;
            padding: 0;
        }
        #search-help ul li {
            font-size: 14px;
            font-weight: bold;
            margin: 4px 0;
        }
        li.color-bullet {
            color: #8194bc;
        }
        #search-extras ul li, #header-search-extras ul li {
            //border-right: 1px solid #ccc;
            display: inline;
            font-size: 14px;
            list-style-type: none;
            margin-right: 6px;
            padding-right: 6px;
        }
        #home-search-box h2, p.for-example {
            margin: 0;
            padding: 0;
        }
        .for-example {
            color: #666;
            font-size: 13px;
            font-style: italic;
            margin: 6px 0 3px;
            padding: 0;
        }
    </style>
    <script>
        $(window).resize(function() {
            delay(function() {
                $('.cb_Grid .row').each(function() {
                    $(this).find('span.txt').css('height', 'auto');
                    setEqualHeight($(this).find('span.txt'));
                });
            }, 500);
        });
        $(function() {

            $('#PagingUl').jscroll({
                loadingHtml: '<div  align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
                nextSelector: 'a.jscroll-next:last',
                contentSelector: '#PagingUl'
            });


        });
    </script>

</div>
</div>