<?php if (isset($_SERVER['HTTP_X_REQUESTED_WITH']) && $_SERVER['HTTP_X_REQUESTED_WITH'] === 'XMLHttpRequest') { ?>
    <?php
    if (!empty($StudyTrials)) {
        echo '<div id="PagingUl">';
        foreach ($StudyTrials as $data) {
            if ($cat != $data['category']) {
                $cat = $data['category'];
                $i = 1;
                ?> 
                <div class="row clearfix">
                    <h2 class="page_heading"><?= $cat; ?></h2>
                </div>
            <?php } ?>
            <div class="row clearfix <?= $cat; ?>">
                <div class="col wd10"><span class="txt"><?= $i; ?></span></div>
                <div class="col wd30"><span class="txt"><?= $data['description']; ?></span></div>
                <div class="col wd25"><span class="txt"><?= date('d M, Y', strtotime($data['start_date'])); ?> to<br><?= date('d M, Y', strtotime($data['end_date'])); ?></span></div>
                <div class="col wd35"><span class="txt"><?= $data['address']; ?> </span></div>
            </div>
            <?php
            $i++;
        }
        ?>
        <li style="list-style: none;">
            <a class="jscroll-next" href="individual-onsitetrials?page=<?= base64_encode($page); ?>&i=<?= base64_encode($i); ?>&cat=<?= base64_encode($cat); ?>"></a>
        </li>
        </div>
    <?php } else { ?>
        <li style="list-style: none;">
            <a class="jscroll-next" href="individual-onsitetrials?page=<?= base64_encode($page); ?>&i=<?= base64_encode($i); ?>&cat=<?= base64_encode($cat); ?>"></a>
        </li>
    <?php }
    ?>
    <?php
    exit();
}
?>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Study &amp; Trials </div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="/individual-onsitetrials" class="item selected">Onsite Trials</a>
                <a href="/individual-virtualtrials" class="item">Virtual Trials</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">

        <div class="table table_box_shadow history_table_responsve study_table_responsve cb_Grid">
            <div class="row clearfix head">
                <div class="col wd10"><span class="txt">S.no</span></div>
                <div class="col wd30"><span class="txt">Description</span></div>
                <div class="col wd25"><span class="txt">Time Period</span></div>
                <div class="col wd35"><span class="txt">Address</span></div>
            </div>
            <?php
            if (!empty($StudyTrials)) {
                echo '<div id="PagingUl">';
                foreach ($StudyTrials as $data) {
                    if ($cat != $data['category']) {
                        $cat = $data['category'];
                        $i = 1;
                        ?> 
                        <div class="row clearfix">
                            <h2 class="page_heading"><?= $cat; ?></h2>
                        </div>
                    <?php } ?>
                    <div class="row clearfix <?= $cat; ?>">
                        <div class="col wd10"><span class="txt"><?= $i; ?></span></div>
                        <div class="col wd30"><span class="txt"><?= $data['description']; ?></span></div>
                        <div class="col wd25"><span class="txt"><?= date('d M, Y', strtotime($data['start_date'])); ?> to<br><?= date('d M, Y', strtotime($data['end_date'])); ?></span></div>
                        <div class="col wd35"><span class="txt"><?= $data['address']; ?> </span></div>
                    </div>
                    <?php
                    $i++;
                }
                ?>
                <li style="list-style: none;">
                    <a class="jscroll-next" href="individual-onsitetrials?page=<?= base64_encode($page); ?>&i=<?= base64_encode($i); ?>&cat=<?= base64_encode($cat); ?>"></a>
                </li>
            </div>
        <?php } else { ?>
            <li style="list-style: none;">
                <a class="jscroll-next" href="individual-onsitetrials?page=<?= base64_encode($page); ?>&i=<?= base64_encode($i); ?>&cat=<?= base64_encode($cat); ?>"></a>
            </li>
        <?php }
        ?>

    </div>
    <script>
        $(window).resize(function () {
            delay(function () {
                $('.cb_Grid .row').each(function () {
                    $(this).find('span.txt').css('height', 'auto');
                    setEqualHeight($(this).find('span.txt'));
                });
            }, 500);
        });
        $(function () {

            $('#PagingUl').jscroll({
                loadingHtml: '<div  align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
                nextSelector: 'a.jscroll-next:last',
                contentSelector: '#PagingUl'
            });

           
        });
    </script>
    <style>
        .page_heading{
            font-family:RobotoCondensedRegular; 
            padding:5px 20px;
            font-size: 20px;
            line-height: normal;
            font-weight:normal;
            color:#3b3b3b;
        }
    </style>
</div>
</div>