<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE STUDY PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 20/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
//echo "suman";exit;
?>


<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Study</div>
         <div class="pgh_mWrap" style="padding:0">
             <div class="pgh_menu">
                <a href="/individual-virtualtrials" class="item">Screening </a>
                <a href="/individual-studytri-main" class="item selected">Main</a>
            </div>
       </div>
   </div>
    <div class="pageWrapper">    
        <form action="<?php echo $formaction ?>" method="post" name="studyMainForm" id="studyMainForm" enctype="multipart/form-data">
       
        <div class="table cb_Grid table_box_shadow">
            <div class="row clearfix">
                <p class="assesment_title"><?=$this->studyTitle?> <span class="mandatory">All (<span style="color: #EE3923">*</span>) fileds are mandatory</span></p>
            </div>
            <ul class="assesment_quiz clearfix">
                <?php if(count($this->studyQuestData) > 0){
                           $i=1;
                           $rule="";
                           $msg="";
                           $number=$this->limit[1]*($this->page-1)+1;
                          $questioncount = 0;
                        foreach ($this->studyQuestData as $sqVal) {
                                $mendatory= ""; // show icon 
                                $required = ""; // add require to validate 
                            if($sqVal['ques_mendatory']==1){
                                $mendatory= '<span style="color: #EE3923">*</span>'; // show icon 
                                $required = "required"; // add require to validate 
                            }
                    ?>
                <li class="queans clearfix">
                    <!--Display Question And show is it mandatory or not -->
                    <h3 class="que"><?=$number?> <?=$sqVal['ques_question']?> <?=$mendatory?></h3>
                      <input type="hidden" name="quest_id[<?=$questioncount?>]" value="<?php echo $sqVal['ques_id']; ?>"/>
                    <input type="hidden" name="ques_variable[<?=$questioncount?>]" value="<?php echo $sqVal['ques_variable']; ?>"/>
                    <!-- Start list Question Options And add mandatory if -->
                    <div class="ans">
                        <?php if(count($sqVal['question_opt']) >0){
                                   for($j=0;$j<count($sqVal['question_opt']); $j++){
                            ?>
                        <span class="radio_button">
                            <input type="radio" id="que<?=$sqVal['ques_id']?>_opt<?=$j?>" class="<?=$required?>" name="opt_value[<?=$questioncount?>]<?=$sqVal['ques_id']?>" value="<?=(isset($sqVal['question_opt'][$j]['opt_value'])? $sqVal['question_opt'][$j]['opt_value'] : "")?>" />
                            <label for="que<?=$sqVal['ques_id']?>_opt<?=$j?>"><span class="OptradioButton"></span><?=(isset($sqVal['question_opt'][$j]['opt_option'])? $sqVal['question_opt'][$j]['opt_option'] : "")?></label>
                        </span>   
                                   <?php }} ?>
                    </div>
                    <!-- End list Question Options And add mandatory if -->
                </li>
                        <?php $number++;
                        $questioncount++;
                                   }}else{ ?>
                <li class="queans clearfix"><h3>Sorry no record Found.</h3></li>
                <?php } ?>
            </ul>
        </div> 
                
        <div style="margin-left:20px" class="boxBtn clearfix">
             <input type="hidden" name="current_page" value="<?php echo ($this->page)?>" />
            <input type="submit" name="" value="<?php echo $this->button_name; ?>" class="bb_btn">
        </div>   
        </form>
        
    </div>
</div>
 <!--Container end here--> 
 <script type="text/javascript">
   $("#studyMainForm").validate({
       errorPlacement: function(error, element) {
		error.appendTo(element.parents("li.queans"));			
	  }
   });

 </script>