            <div class="searchFormAdv clearfix">
                <form name="search_study" id="search_study" method="post">
                <div class="bw_colthird">
                    <div class="bw_box">
                        <div class="hww clearfix">
                        <div class="hww_select clearfix">
                            <div class="hww_sbox">
                                 <div class="radioWrapper">Condition:</div>
                                <div class="select">
                                <select class="select" title="Select Condition" name="selected_conditions" id="selected_conditions">
                                    <option value="">Select Condition</option>
                                    <?php foreach ($this->condition_option as $convalue) { ?>
                                        <option value="<?php echo $convalue['id'] ?>"<?php if(isset($postval['selected_conditions']) && ($postval['selected_conditions']==$convalue['id'])){ echo "selected"; } ?>><?php echo $convalue['common_name']; ?></option>
                                    <?php } ?>

                                </select>
                            </div>
                             </div>
                             <div class="hww_sbox">
                                <div class="radioWrapper">Sub Condition:</div>
                                <div class="select" id="subcondtionDiv">
                                    <select class="select" title="Select Sub Condition" name="select_subcondition" id="select_subcondition">
                                        <option value="">Select Sub Condition</option>

                                    </select>
                                </div>
                             </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="bw_colthird">
                    <div class="bw_box">
                        <div class="hww clearfix">
                        <div class="hww_select clearfix">
                            <div class="radioWrapper">City:</div>
                                <div class="select">
                                   <select title="Location" class="select" name="location">
                                    <option value="">Location</option>
                                    <?php
                                    foreach ($this->country as $val):
                                        ?>
                                        <option value="<?php echo $val['country_id']; ?>" <?php if(isset($postval['location']) && ($postval['location']==$val['country_id'])){ echo "selected"; } ?>><?php echo $val['country_name']; ?></option>
                                    <?php endforeach; ?>                             
                                </select>
                                </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="bw_colthird lastBox">
                    <div class="bw_box">
                        <div class="hww clearfix">
                        <div class="hww_select clearfix">
                            <div class="radioWrapper">Time Period:</div>
                            <div class="hww_sbox">
                                <div class="select">
                                    <select class="select" title="Location">
                                        <option>From</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                             </div>
                             <div class="hww_sbox">
                                <div class="select">
                                    <select class="select" title="Location">
                                        <option>To</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <span class="boxBtn"><input type="submit" style="min-width:inherit" class="bb_btn" value="Go" name=""></span>
                </form>                
            </div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#selected_conditions").change(function () {
            $(".global_loader").show();
            var conditionID = $("#selected_conditions").val();
            if (conditionID) {
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/getsubconditionslist",
                    data: {conditionID: conditionID}
                }).done(function (res) {
                    $(".global_loader").hide('fast');
                    $("#subcondtionDiv").html(res);
                    custom_selectboxNew();
                });
            } else {
                $(".global_loader").hide('fast');
                alert('Please select condition first.');
            }
        });
       
    });
</script>
