<?php
/* * ***********************
 * PHTML: USE TO SHOW PARTICIPATION DESCRIPTION ON POUP.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 22/04/2015.
 * UPDATED: 22/04/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
$Superstudydata = $this->Superstudydata;
//set downloda linke of file
$docUrl_irb = $docUrl_briefing = $docUrl_consent =  $FILE_dirb = $FILE_dbriefing = $FILE_consent = "";
if (!empty($Superstudydata)) {
    $Superstudydata = $Superstudydata[0];
    if (isset($Superstudydata['irb_form']) && !empty($Superstudydata['irb_form'])) {
        $FILE_dirb =   $this->serverUrl() . "/StudyDoc/" . $Superstudydata['irb_form'];        
    }
    if (isset($Superstudydata['dbriefing_form']) && !empty($Superstudydata['dbriefing_form'])) {
      $FILE_dbriefing =   $this->serverUrl() . "/StudyDoc/" . $Superstudydata['dbriefing_form'];       
    }
    if (isset($Superstudydata['consent_form']) && !empty($Superstudydata['consent_form'])) {
        $FILE_consent = $this->serverUrl() . "/StudyDoc/" . $Superstudydata['consent_form'];
       
    }
} else {
    $Superstudydata = array();
}
?>
 <div id="viewHistoryDetails" class="grobalPopup popuBxWrap" style="display:block">
            <div class="gppBox">
                <div class="gppbxContainer">
                    <div class="gppTitle"><?= ((isset($Superstudydata['study_title']) && !empty($Superstudydata['study_title'])) ? $Superstudydata['study_title'] : "") ?>
                        <div onclick="gppClose('viewHistoryDetails');" class="gppClose">X</div>
                    </div>
                    <div class="formWrapperContainer swMain" id="wizard">
                        <ul class="pgh_menu_popup clearfix">
                          <li>
                              <a href="#step-1"> 
                                  <span class="stepNumber">1</span>
                                  <span class="stepDesc"> Step 1<br /><small>Step 1 description</small></span>                                         
                              </a>
                          </li>
                          <li>
                              <a href="#step-2"> 
                                  <span class="stepNumber">2</span>
                                  <span class="stepDesc"> Step 2<br /><small>Step 2 description</small></span>                                  
                              </a>
                          </li>
                          <li>
                              <a href="#step-3"> 
                                  <span class="stepNumber">3</span>
                                  <span class="stepDesc"> Step 3<br /><small>Step 3 description</small></span>                                 
                              </a>
                          </li>
                          <li>
                              <a href="#step-4"> 
                                  <span class="stepNumber">4</span>
                                  <span class="stepDesc"> Step 4<br /><small>Step 4 description</small></span>
                              </a>
                          </li>
                         </ul>
                        <!-- Step 1 Start here -->
                        <div id="step-1" class="stepContent">
                            <div class="paragraph">
                                 <?php if (!empty($FILE_dirb)) { ?>
                                         <iframe style="border: 1px solid rgb(222, 222, 222); margin-top: 12px;" id="TextREsumeFrame" src="https://docs.google.com/gview?url=<?=$FILE_dirb?>&amp;embedded=true" width="100%" height="200"></iframe>
                                    <?php } ?>
                            </div>
                        </div>
                        <!-- Step 1 End here -->
    
                        <!-- Step 2 Start here -->
                        <div id="step-2" class="stepContent">
                            <div class="paragraph">
                                <?php if (!empty($FILE_dbriefing)) { ?>
                                  <iframe style="border: 1px solid rgb(222, 222, 222); margin-top: 12px;" id="TextREsumeFrame" src="https://docs.google.com/gview?url=<?=$FILE_dbriefing?>&amp;embedded=true" width="100%" height="200"></iframe>
                                 
                         <?php } ?>
                            </div>
                        </div>
                        <!-- Step 2 End here -->

                        <!-- Step 3 Start here -->
                        <div id="step-3" class="stepContent">
                            <div class="paragraph">
                                 <?php if (!empty($FILE_consent)) { ?>
                                  <iframe style="border: 1px solid rgb(222, 222, 222); margin-top: 12px;" id="TextREsumeFrame" src="https://docs.google.com/gview?url=<?=$FILE_consent?>&amp;embedded=true" width="100%" height="200"></iframe>
                                     
                          <?php } ?>
                            </div>
                        </div>
                        <!-- Step 3 End here -->

                        <!-- Step 4 Start here -->
                        <div id="step-4" class="stepContent">                         
                             <span id="msgdivid"></span>
        <div class="table table_box_shadow cb_Grid geofence_grid peopleTable">
            <div class="row clearfix" style="margin-bottom:0;">
                <div class="col wd100" style="float: none; padding: 10px;">
                    <div class="user_img"><img alt="" src="img/data/profile.jpg"></div>
                    <div class="clearfix" style="text-align: left; margin-left: 78px;">
                        <h3>Health Management &amp; Informatics</h3>
                        <p class="paratext03">School of medicine</p>
                        <p class="paratext03">University of Doon.</p>
                        <p class="paratext03">Author : <span style="color:#597ddc"><?= (isset($Superstudydata['researcher_name']) ? $Superstudydata['researcher_name'] : "") ?></span></p>                                  
                    </div>
                </div>
            </div>
        </div>

         <!--Details user Start here -->
        <div class="graphBox peopleDetailsList" id="conditions_data" style="display:block">
            <ul class="symtoms_list"> 
                <li class="syms_item" style="background: none;">
                    <div class="desc_paragraph">
                        <ol class="condition_list" style="max-height:300px; overflow-y: auto;">
                            <li> <?= ((isset($Superstudydata['study_description'])) ? $Superstudydata['study_description'] : "" ) ?>  </li>
                        </ol>                       
                    </div> 
                </li>

            </ul>
        </div>
         <!--Details user End here -->

        <!--Check Terms and Condition Form start here-->
        <div class="formWrapperContainer formWrapperContainerPopup">
            <div class="row clearfix">
                <div class="checkbox_col" style="float: none; width: auto;">
                    <span class="checkbox"><input type="checkbox" id="individual" /></span>
                    <label for="individual"> I agree to Terms &amp; Condition</label>
                </div>
                <span id="term_error"></span>
            </div>
            <div class="double clearfix">
                <div class="row">
                    <input type="submit" value="Continue" class="submit_button" study="<?= $CusConPlug->encryptdata($Superstudydata['study_id']) ?>" title="click to continue" id="accept_screen" />
                </div>
                <div class="row last">
                    <input type="button" value="Cancel" class="submit_button cancel_button" onClick="gppClose('ScreeningPopup');" />
                </div>
            </div>
        </div>
        <!--Check Terms and Condition Form end here-->
                        </div>
                        <!-- Step 4 End here -->
                    </div>
                </div>
            </div>
            <div class="gppOverlay"></div>
        </div> 
		<script type="text/javascript">
            $(document).ready(function(){
                  $('#wizard').smartWizard({
                            labelFinish:'Cancle',  // label for Finish button  
                              includeFinishButton : false   // Add the finish button
                        }
                );
                //  function onFinishCallback(){
                   // $('#wizard').smartWizard('showMessage','Finish Clicked');
                   $(".buttonFinish").on("click", function(){
                        gppClose('ScreeningPopup');
                   });
                  
                 // }     
                });
        </script>

<script type="text/javascript">
    $(function(){
       $('.checkbox').click(function(){
            $(this).toggleClass('checked');
                    if($(this).hasClass('checked')) {
                      $(this).find('input:checkbox').prop("checked", true);
                    }
              else {
                    $(this).find('input:checkbox').prop("checked", false);
              }
	}); 
        
    });
    
    $("#accept_screen").click(function (e) {
        e.preventDefault();
        var cur = $(this);
        var std = cur.attr("study");  
         
        if($("#individual").prop("checked") == true){  
        $.ajax({
            type: "POST",
            url: "/individual/ajax/acceptstudymain",
            data: {std: std}
        }).done(function (response) {
            var obj = jQuery.parseJSON(response);
            var error = obj.error;
            var msg = obj.msg;                       
            if(error=='0'){     
                        $("#msgdivid").html('');
                      //  alert(msg);
                       window.location.href="/individual-stdtrimain-atmpt/"+std;
               }else{
               $("#msgdivid").html('');
               $("#msgdivid").html('<div class="successMsg"><span class="ui_icon error"></span>'+msg+'</div>');
            }
        });
                }else{
                 // alert("hi this is");
                    $("#individual").focus();
                   // alert("accept term ");
                   $("#term_error").html('');
                   $("#term_error").html('accept condition.');
                    return false;
                }

    });
</script>
