<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE STUDY PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 20/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
?>
<?php echo $this->headScript()->prependFile($this->basePath() . '/js/jquery.smartWizard-2.0.min.js'); ?>

    <!-- Screening popup Start here -->
    <div class="grobalPopup popuBxWrap" id="ScreeningPopup">
       
    </div>
<!-- Screening popup end here -->
<style>
    .downloadFormButton{
        font-size: 15px;
        float: none;
        margin-right: 10px;
        display: inline-block;
        padding: 6px 10px;
        margin-top: 10px;
    }
    .paratext03{
        color: #5d5d5d !important;
        padding-top: 3px;
        font-size: 14px !important;
    }
    .formWrapperContainerPopup{
        width: 96%;
        margin: 0 auto;
    }
    .formWrapperContainerPopup .row{
        margin-bottom:10px;
    }
    .formWrapperContainerPopup.formWrapperContainer .submit_button{
        font-size: 15px;
    }
</style>

<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
       <div class="pgh_title" style="position:relative">| Other Studies &amp; Trials
<!--           <div class="Advanced_SearchButton"></div>-->
           
       </div>
        <div class="pgh_mWrap">
             <div class="pgh_menu">
                <a href="/individual-onsitetrials" class="item">On-site Trials</a>
                <a href="/individual-virtualtrials" class="item selected">Virtual Trials</a>
            </div>
       </div>
        <div class="pgh_mWrap">
             <div class="pgh_menu">
                <a href="/individual-virtualtrials" class="item selected">Screening Trials</a>
                <a href="/individual-studytri-main" class="item ">Main Trials</a>
            </div>
       </div>
   </div>
   <div class="pageWrapper">
    

        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
   		<div class="boxWrap advancedPeopleSearch clearfix">
            <!-- Advanced Search box start here-->
            
            <?php  //echo $this->partial('study/studysearch'); ?>
            <!-- Advanced Search box start here-->
    	</div>
       
        <div class="table table_box_shadow history_table_responsve study_table_responsve cb_Grid">
            <?php if(count($this->studyList) > 0){ ?>
            <div class="row clearfix head">
                <div class="col wd5"><span class="txt">S.no</span></div>
                <div class="col wd25"><span class="txt">Title</span></div>
                <div class="col wd30"><span class="txt">Description</span></div>
                <div class="col wd20"><span class="txt">Time Period</span></div>
                <div class="col wd10"><span class="txt">Status</span></div>
                <div class="col wd10"><span class="txt">Action</span></div>
            </div>
<!--            <div class="row clearfix">
                <h2 class="page_heading">Asthama</h2>
            </div>-->
<?php 
    $i=1;
     foreach ($this->studyList as $stvalue) {
         $std_id = $CusConPlug->encryptdata($stvalue['study_id']);
    ?>
            <div class="row clearfix">
                <div class="col wd5"><span class="txt"><?=$i?></span></div>
                <div class="col wd25"><span class="txt"><?=(isset($stvalue['study_title'])? $stvalue['study_title'] : "")?></span></div>
                <div class="col wd30"><span class="txt"><?=(isset($stvalue['study_description'])? substr($stvalue['study_description'], "0", "125")."...": '')?></span></div>
                <div class="col wd20"><span class="txt"><?=date("d M Y", strtotime($stvalue['start_date']))?> to <?=date("d M Y", strtotime($stvalue['end_date']))?></span></div>
              <!-- check condition is study expired or not or when start -->
                <?php if(strtotime(date("d-m-Y")) < strtotime($stvalue['start_date']) ){ ?>
                 <div class="col wd10"><span class="txt"><span class='status pending'> Coming soon...</span></span></div>              
                <?php }elseif(strtotime(date("d-m-Y")) > strtotime($stvalue['end_date'])){?>
                           <?php if((isset($stvalue['part_status']) && $stvalue['part_status']==0 && $stvalue['part_status']!=null) && $stvalue['is_accepted']==1){ ?>
                                  <div class="col wd10"><span class="txt"><span class='status pending'>Finished </span></span></div> 
                <?php   }else{ ?>
                            <div class="col wd10"><span class="txt"><span class='status pending'>Expired </span></span></div>     
                        
                <?php  }?>   
                  <?php }else{ ?>
                 <div class="col wd10"><span class="txt"><?=((isset($stvalue['part_status']) && $stvalue['part_status']==0 && $stvalue['part_status']!=null)? "<span class='status complete'>Completed</span>" : "<span class='status pending'>Pending</span>")?></span></div>
                  <?php } ?>
                 <div class="col wd10">
                    <span class="txt">
                         <?php if($stvalue['is_accepted']==1){
                                 if((isset($stvalue['part_status']) && $stvalue['part_status']==0 &&  $stvalue['part_status']!=null)){
                             ?>
                         <a href="#" class="global_actionButton" style="float: none;font-size: 14px;margin: 0 auto;padding: 4px;width: 70px;">Finished</a>                       
                                 <?php }else{ ?> 
                                   <?php if(strtotime(date("d-m-Y")) < strtotime($stvalue['start_date']) ){ ?>
                           <a href="javascript:void(0);"  class="global_actionButton" style="float: none;font-size: 14px;margin: 0 auto;padding: 4px;width: 70px; background:#088A29; ">Coming soon..</a>
                       
                           <?php }elseif(strtotime(date("d-m-Y")) > strtotime($stvalue['end_date'])){?>
                            <a href="javascript:void(0);"  class="global_actionButton pending" style="float: none;font-size: 14px;margin: 0 auto;padding: 4px;width: 70px; ">Expired</a>                       
                             <?php }else{ ?>
                          <a href="<?php echo $this->serverUrl()."/individual-stdtriscr-atmpt/".$CusConPlug->encryptdata($stvalue['study_id']);?>" class="global_actionButton" style="float: none;font-size: 14px;margin: 0 auto;padding: 4px;width: 70px;">Participate</a>                       
                              <?php } ?>
                                 <?php } ?>
                        <?php }else{ ?>
                             <?php if(strtotime(date("d-m-Y")) < strtotime($stvalue['start_date']) ){ ?>
                           <a href="javascript:void(0);"  class="global_actionButton" style="float: none;font-size: 14px;margin: 0 auto;padding: 4px;width: 70px; background:#088A29; ">Coming soon..</a>
                       
                           <?php }elseif(strtotime(date("d-m-Y")) > strtotime($stvalue['end_date'])){?>
                            <a href="javascript:void(0);"  class="global_actionButton pending" style="float: none;font-size: 14px;margin: 0 auto;padding: 4px;width: 70px; ">Expired</a>                       
                             <?php }else{ ?>
                         <a href="javascript:void(0);" onclick="gppOpenAccept('ScreeningPopup','<?=$std_id?>');" class="global_actionButton" style="float: none;font-size: 14px;margin: 0 auto;padding: 4px;width: 70px; background:#088A29; ">Accept</a>
                         <?php } ?>
                         <?php } ?>
                    </span>
                </div>
            </div>
     <?php $i++;} }else{ ?>
  <div class="row clearfix"> <div class="col wd100"> <span class="txt clearfix"><h3>No record found.</h3></span></div></div>          
<?php } ?>
        </div>
          <div class="pagination pagination-centered clearfix">
                <!------pagination start ------->
                <div class="stripSecond">
                    <?php
                    // add at the end of the file after the table
                    if (count($this->studyList)) {
                        echo $this->paginationControl($this->studyList, 'Jumping', array('paginator/paginators', 'StudyIs'), array('route' => 'indiv_virtualtrials', 'routeParams' => $this->routeParams));

                    } else {
                        ?>
                        <div id="news19" class="advertiserRow">
                            <div class="advertiserListRow bdr_rds2 no_record_found clearfix">

                            </div>
                        </div>
                        <?php
                    }
                    ?>
                </div>
                <!------pagination end ------->
            </div>
         <script>
			$(window).resize(function() {
				delay(function(){
					$('.cb_Grid .row').each(function(){
						$(this).find('span.txt').css('height','auto');
						setEqualHeight($(this).find('span.txt'));
					});
				}, 500);
			});
			$(function() {
				$('.Advanced_SearchButton').click(function(){
					$(this).toggleClass('active');
					if($(this).hasClass('active')){
						$(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideDown('fast');
					}
					else{
						$(this).parents('#content-wrapper').find('.advancedPeopleSearch').slideUp('fast');
					}
				});
				delay(function(){
					$('.cb_Grid .row').each(function(){
						$(this).find('span.txt').css('height','auto');
						setEqualHeight($(this).find('span.txt'));
					});
				}, 500);
                                
                                
			});
      
                    function gppOpenAccept(e,study_id){                           
                            if(study_id!==''){
                                    $('.global_loader').show();
                                    $('#'+e).html('');
                                    $('.popuBxWrap').fadeOut('fast');
                                    $('body').addClass('fixedBody');
                                    $('#'+e).fadeIn('fast');
                                    
                            $.ajax({
                                type: "POST",
                                url: "/individual/study/studscreencondi",
                                data:{study_id:study_id}                               
                            }).done(function(res){
                                 $('.global_loader').hide();
                                 $('#'+e).html(res);
                                 $('#'+e).find('.gppbxContainer').css({'marginTop':'-'+($('#'+e).find('.gppbxContainer').height()/2)+'px'},100,'linear');
                            });
                         }
                       }
        </script>
        <style>
			.page_heading{
				font-family:RobotoCondensedRegular; 
				padding:5px 20px;
				font-size: 20px;
				line-height: normal;
				font-weight:normal;
				color:#3b3b3b;
			}
                        .pending{color: #f05543;}
                        .complete{color: #088A29;}
			@media screen and (max-width:767px){
				.global_actionButton{
					margin-left:0 !important;
				}
			}
		</style>
   </div>
</div>
 <!--Container end here--> 