<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE HOME PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
 * CREATOR: 12/11/2014.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<?php
$this->flashMessenger()->clearMessages();

use Zend\Session\Container;

$container = new Container('super_admin');
?>
<!--Forgot pass end here-->
<div id="ForgotPassword" class="grobalPopup popuBxWrap">
    <div class="gppBox">
        <div class="gppbxContainer" style="margin-top: -250px;">
            <div class="gppTitle">Forgot Password
                <div onclick="gppClose('ForgotPassword');" class="gppClose">X</div>
            </div>

            <div class="formWrapperContainer">
<?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
                        <?php if (isset($msg["email_error"]) && $msg["email_error"] != ""): ?>
                        <div class="errorMsg">
                            <span class="ui_icon error"></span>
        <?= $msg["email_error"]; ?>
                        </div>
                        <script>
                            gppOpen('ForgotPassword');
                        </script>
    <?php endif; ?>
                        <?php if (isset($msg["email_success"]) && $msg["email_success"] != ""): ?>
                        <div class="successMsg">
                            <span class="ui_icon success"></span>
        <?= $msg["email_success"]; ?>
                        </div>
                        <script>
                            gppOpen('ForgotPassword');
                        </script>
    <?php endif; ?>
<?php } ?>
                <form action="" method="post" id="forgot_password">
                    <div class="row">
                        <div class="input">
                            <input type="text" placeholder="Enter your email to recover password" name="e_mail" id="e_mail">
                        </div>
                    </div>

                    <div class="row last">
                        <div class="input_button">
                            <input type="submit" value="Send" class="submit_button" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>x
    <div class="gppOverlay"></div>
</div>
<!--Forgot pass end here-->

<div id="ui-content-wrapper" class="login">
    <!--Login page start Here-->
    <div class="loginLogo">

        <a href="<?= $this->url('admin'); ?>" style="background-image: url('../../img/<?php echo $logo; ?>');"></a>
    </div>
    <div class="adminLogin">
        <div class="formWrapperContainer">
<?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
                    <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                    <div class="errorMsg">
                        <span class="ui_icon error"></span>
                    <?= $msg["error"]; ?>
                    </div>
    <?php endif; ?>
<?php } ?>
            <form name="signup_form" id="signup_form" action="" method="post">
                <div class="row">
                    <div class="input">
<?= $this->formElement($form->get('email')); ?>
                    </div>
                    <label class="error"><?= $this->formElementErrors($form->get('email')); ?></label>
                </div>
                <div class="row">
                    <div class="input">
<?= $this->formElement($form->get('password')); ?>
                    </div>
                    <label class="error"><?= $this->formElementErrors($form->get('password')); ?></label>
                </div>

                <div class="row clearfix">
<!--                    <div class="checkbox_col">
                        <span class="checkbox checked">
                            <input type="checkbox" id="remember" name="remember" checked>
                        </span>
                        <label for="individual_check">Remember Me</label>
                    </div>-->
                    <a href="javascript:void(0);" class="forgetPass" onclick="gppOpen('ForgotPassword');">Forgot Password?</a>
                </div>
                <div class="row last">
                    <div class="input_button">
<?= $this->formElement($form->get('submit')); ?>
                    </div>
                </div>
            </form>
        </div>        
    </div>
    <!--Login page end Here-->
</div>
<script>
    $(function () {
        $("#signup_form").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 8
                }

            },
            messages: {
                email: {
                    required: "Please enter email.",
                    format: "Please enter valid email.",
                },
                password: {
                    required: "Please enter password.",
                    minlength: "Password must be of minimum eight characters."
                }

            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });


        $("#forgot_password").validate({
            rules: {
                e_mail: {
                    required: true,
                    email: true
                }
            },
            messages: {
                e_mail: {
                    required: "Please enter email.",
                    format: "Please enter valid email.",
                }

            },
            submitHandler: function (form) {
                form.submit();
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });

    });
</script>