<?php
/* * ***********************
 * PHTML: USE TO APPEND THE SELF ASSESSMENT NAME.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
 * CREATOR: 07/01/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>

<?php if (count($name) > 0 || count($nameMain) > 0) { ?>
    <ul>
        <?php
        $namePre = array();
        foreach ($name AS $nameArr) {
            $namePre[] = $nameArr['var_name'];
            ?>
            <li id="<?= $nameArr['var_id']; ?>" onClick="getVariablesQuestion('<?= base64_encode($nameArr['var_id']); ?>','<?= base64_encode($nameArr['var_name']); ?>');" data-name="<?= base64_encode($nameArr['var_name']); ?>" data-id="<?= base64_encode($nameArr['var_id']); ?>">
            <?= $nameArr['var_name']; ?>
            </li>
        <?php } ?>
        <?php
        foreach ($nameMain AS $nameArr) {
            if (!in_array($nameArr['var_name'], $namePre)) {
                ?>
                <li id="<?= $nameArr['var_id']; ?>" onClick="getVariablesQuestion('<?= base64_encode($nameArr['var_id']); ?>','<?= base64_encode($nameArr['var_name']); ?>');" data-name="<?= base64_encode($nameArr['var_name']); ?>" data-id="<?= base64_encode($nameArr['var_id']); ?>">
                <?= $nameArr['var_name']; ?>
                </li>
            <?php }
        }
        ?>
    </ul>
    <script>
        $(function () {
            $('#append-var_list li').click(function () {
                var append_var_list_html = $(this).html().trim();
                var append_var_list_id = $(this).attr('id');
                $('#ques_variable').val(append_var_list_html);
                $('#ques_var_value').val(append_var_list_id);
                $('#append-var_list').html('');
            });
        });
    </script>
    <script>
        $(function () {
            var $listItems = $('#append-var_list li');
            $('#ques_variable').keydown(function (e)
            {
                var key = e.keyCode,
                        $selected = $listItems.filter('.selected'),
                        $current;
                if (key == 13)
                {
                    //$('#questionForm').submit(function (){
                    var $listItemsHref = $('#append-var_list li.selected').attr('data-id');
                    var $listItemsNameHref = $('#append-var_list li.selected').attr('data-name');
                    getVariablesQuestion($listItemsHref,$listItemsNameHref);
                    return false;
                    //});
                }
                if (key != 40 && key != 38)
                    return;
                $listItems.removeClass('selected');
                if (key == 40) // Down key
                {
                    if (!$selected.length || $selected.is(':last-child')) {
                        $current = $listItems.eq(0);
                    }
                    else {
                        $current = $selected.next();
                    }
                }
                else if (key == 38) // Up key
                {
                    if (!$selected.length || $selected.is(':first-child')) {
                        $current = $listItems.last();
                    }
                    else {
                        $current = $selected.prev();
                    }
                }
                $current.addClass('selected');
            });
        });
    </script>
<?php } ?>