<?php
$this->flashMessenger()->clearMessages();
?>

<script>
    $(document).ready(function () {

        $(document).on('click', '.saEdit', function () {
            var id = $(this).attr('custom');
            var actUrl = "<?= $this->basePath(); ?>/researcher/resquestionnaire/getData?sid=" + id;
            $('#ass_form_edit').find('label.error').remove();

            $.ajax({
                type: 'get',
                url: actUrl,
                success: function (result) {
                    gppOpen('AddAssessmentPop');
                    $('#title').html('Edit Questionnaire');
                    Data = $.parseJSON(result);
                    $('#AddQuestionnaireForm').attr('action', 'researcher-questionnaire?sid=' + id)
                    $('#QuestionnaireName').val(Data.name);
                    $('#QuestionnaireId').val(Data.id);
                    $('#AddAssessmentPop span.select').remove();
                    $('#Status').val(Data.status);
                    $('#AddAssessmentPop').find('select.select').each(function () {
                        if ($(this).next('span.select').length == '0') {
                            var title = $(this).attr('title');
                            if ($('option:selected', this).val() != '')
                                title = $('option:selected', this).text();
                            $(this)
                                    .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                                    .after('<span class="select">' + title + '</span>')
                                    .change(function () {

                                        val = $('option:selected', this).text();
                                        $(this).next().text(val);
                                    });
                        }
                    });
                }
            });
        })

        $('#AddQuestionnaire').click(function () {
            $('#AddQuestionnaireForm').find('label.error').remove();
            $('#title').html('Add Questionnaire');
            $('#QuestionnaireName').val('');
            $('#QuestionnaireId').val('');
            $('#Status').val(0);
            $('#AddAssessmentPop span.select').remove();
            $('#AddAssessmentPop').find('select.select').each(function () {
                if ($(this).next('span.select').length == '0') {
                    var title = $(this).attr('title');
                    if ($('option:selected', this).val() != '')
                        title = $('option:selected', this).text();
                    $(this)
                            .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                            .after('<span class="select">' + title + '</span>')
                            .change(function () {

                                val = $('option:selected', this).text();
                                $(this).next().text(val);
                            });
                }
            });

        })

        $('#AddQuestionnaireForm').validate({
            rules: {
                name: {
                    required: true,
                    minlength: 1,
                    maxlength: 30,
                    remote: {
                        url: "<?= $this->basePath(); ?>/researcher/resquestionnaire/checkQuestionnaire",
                        type: "post",
                        data: {
                            id: function () {
                                return $("#QuestionnaireId").val();
                            }
                        }
                    }
                }
            },
            messages: {
                name: {
                    required: 'Please enter questionnaire name ',
                    remote: 'Questionnaire name already exists'
                }
            },
            errorPlacement: function (error, element) {
                $(element).parent().parent().append(error);
            }
        })
    });
</script>
<style>
    .formWrapperContainer .row .input, .formWrapperContainer .row span.select {
        border: 1px solid #c6c6c6;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #AddAssessmentPop .gppbxContainer {
        margin-left: -230px;
        min-height: 200px;
        width: 460px;
    }

    #AddAssessmentPop .formWrapperContainer {
        padding: 30px;
    }
</style>
<div id="AddAssessmentPop" class="grobalPopup popuBxWrap">
    <div class="gppBox">
        <div class="gppbxContainer" style="margin-top: -127px;">
            <div class="gppTitle">
                <span id="title">
                    Add Questionnaire
                </span>
                <div id="AddQuestionnaire" onclick="gppClose('AddAssessmentPop');" class="gppClose">X</div>
            </div>
            <div class="formWrapperContainer">
                <?php
                $form->prepare();
                echo $this->form()->openTag($form);
                ?>
                <div class="row">
                    <div class="input">
                        <?= $this->formElement($form->get('name')); ?>
                        <?= $this->formElement($form->get('id')); ?>
                    </div>
                    <?= $this->formElementErrors($form->get('name'), array('class' => "error")); ?>
                </div>

<!--                <div class="row">
                    <div class="input">
                        <?php 
//                        $this->formElement($form->get('status')); 
                        ?>

                    </div>
                    <?php 
//                    $this->formElementErrors($form->get('status'), array('class' => "error")); 
                    ?>
                </div>-->

                <div class="row last">
                    <div class="input_button">
                        <?= $this->formSubmit($form->get("submit")); ?>

                    </div>
                </div>
                <?php echo $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
    <div class="gppOverlay"></div>
</div>

<?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
    <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
        <div class="errorMsg">
            <span class="ui_icon error"></span>
            <?= $msg["error"]; ?>
        </div>
    <?php endif; ?>
    <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
        <div class="successMsg">
            <span class="ui_icon success"></span>
            <?= $msg["success"]; ?>
        </div>
    <?php endif; ?>
<?php } ?>
<div id="content-wrapper" class="clearfix">
    <div class="pageWrapper">
        <div class="pghFixed pghFixedIndv">
            <div class="pgh_title">| Questionnaire</div>
            <div class="pgh_mT clearfix">
                <h3>Questionnaire List</h3>
                <a href="javascript:void(0);" class="AddAssess create-new" onclick="gppOpen('AddAssessmentPop');">+ Questionnaire</a>

            </div>
        </div>
        <div class="btn_box clearfix">
            <ul class="clearfix">
                <li></ul>
        </div>

        <script>
            $(document).ready(function () {
                $(document).on('mouseover', '.assesmentList ul li', function () {
                    $(this).find('.dlt_qOption').attr('style', 'display:block !important;');
                })

                $(document).on('mouseout', '.assesmentList ul li', function () {
                    $(this).find('.dlt_qOption').attr('style', 'display:none !important;');
                })

            })
        </script>
        <style>
            a.dlt_qOption:hover {
                background-image: url("../../img/dlt_icon_hover.png") !important;
            }
            .dlt_qOption {
                cursor: pointer;
                background-image: url("../../img/dlt_icon_normal.png")!important;
                padding: 0px !important;
                display: none !important;
                position: absolute;
                left: 4px;
                text-indent: -9999px;
                top: 4px;
                z-index: 99;
                float: left;
            }


        </style>

        <div class="assesmentList">
            <?php if (count($Questionnaires) > 0) { ?>
                <ul class="clearfix">
                    <?php
                    foreach ($Questionnaires AS $data) {
                        ?>
                        <li>

                            <div class="saEdit" custom="<?= $data['id']; ?>">Edit</div>
                            <?php if ($this->session['UserID'] == $data['researcher_id']) { ?>
                                <a class="dlt_qOption" href="/researcher-questionnaire-delete?sid=<?= base64_encode($data['id']); ?>">
                                    Delete
                                </a>
                            <?php } ?>
                            <a href="researcher-questionnaire-question?sid=<?= base64_encode($data['id']); ?>">

                                <div class="al_name">
                                    <?= $data['name']; ?>
                                    <div class="al_status">Status - <span class="active"><?php
                                            if ($data['status'])
                                                echo '<span class="active">Publish';
                                            else
                                                echo '<span class="inactive">Draft';
                                            ?></span></div>
                                </div>
                            </a>




                        </li>
                    <?php } ?>
                    <li><a class="jscroll-next" href="researcher-questionnaire?page=<?= base64_encode($page); ?>"></a></li>
                </ul>

            <?php } else { ?>

                <?php if ($page == 1) { ?>
                    <div class="sc_msg">Questionnaire not found.</div>
                    <li><a class="jscroll-next" href="researcher-questionnaire?page=<?= base64_encode($page); ?>"></a></li>
                    <?php } ?>

            <?php } ?>
        </div>
    </div>
    <!--</div>-->
</div>
<script>
    $(document).ready(function () {
        $('.assesmentList').jscroll({
            loadingHtml: '<div  align="center"><img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/><div>',
            nextSelector: 'a.jscroll-next:last',
            contentSelector: '.assesmentList'
        });
    })
</script>