<?php if (count($bmis) > 0) { ?>
    <?php foreach ($bmis AS $bmiArr) { ?>
        <?php
            if ($bmiArr['gender'] == "f")
                $gender = "Female";
            else
                $gender = "Male";
        ?>
        <li class="clearfix">
            <div class="bwl_type">
                <strong><?= $bmiArr['ethnicity_name']; ?>  |</strong>  <?= $gender; ?>
            </div>
            <div class="bwl_min">
                <strong>Min:</strong> <?= $bmiArr['min_bmi']; ?> kg/m<sup>2</sup>
            </div>
            <div class="bwl_max">
                <strong>Max:</strong> <?= $bmiArr['max_bmi']; ?> kg/m<sup>2</sup>
            </div>
            <div class="bwl_delete" onclick="gppOpen('deleteBMI');getDeleteId(<?= $bmiArr['id']?>);">
                <span class="icon">X</span>
            </div>
        </li>
    <?php } ?>
<?php } else { ?>
<li>No Record Found.</li>
<?php } ?>