<?php
    /*************************
        * PHTML: USE TO MANAGE THE THRESHOLD MATRIX CHOLESTROL FUNCTION.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 15/12/2014.
        * UPDATED: 19/12/2014.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>
<?php $this->flashMessenger()->clearMessages(); ?>
<style>
#cholestrolForm .row label.error {
    color:#cd0a0a;
    font-size: 13px;
    padding:0 10px 10px 10px;
}
</style>
<div id="content-wrapper" class="clearfix"> 
   <div class="pageWrapper">
          <div class="pghFixed pghFixedIndv">
            <div class="pgh_title">| Manage Threshold Matrix</div>
            <?= $this->partial('matrix-top-nav/matrix-top-navs'); ?>
        </div>

        <?php foreach($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?= $msg["error"]; ?>
                </div>
            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?= $msg["success"]; ?>
                </div>
            <?php endif; ?>
        <?php } ?>

        <form method="post" action="" name="cholestrolForm" id="cholestrolForm">
            <div class="boxWrap clearfix">
                <div class="bw_colthird">
                    <div class="bw_box">
                        <div class="bw_title">HDL</div>
                        <div class="hww row clearfix">
                            <label>Minimum:</label>
                            <div class="select">
                                <select class="select" title="mg/dL" name="min_hld" id="min_hld">
                                    <option value="">mg/dL</option>
                                    <?php for($i=1; $i<101; $i++) { ?>
                                    <option value="<?= $i; ?>" <?php if (isset($viewData['min_hld']) && $viewData['min_hld'] == $i) echo "selected";?>><?= $i." mg/dL"; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="hww row clearfix">
                            <label>Maximum:</label>
                            <div class="select">
                                <select class="select" title="mg/dL" name="max_hld" id="max_hld">
                                    <option value="">mg/dL</option>
                                    <?php for($i=1; $i<101; $i++) { ?>
                                    <option value="<?= $i; ?>" <?php if (isset($viewData['max_hld']) && $viewData['max_hld'] == $i) echo "selected";?>><?= $i." mg/dL"; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="bw_colthird">
                    <div class="bw_box">
                        <div class="bw_title">LDL</div>
                        <div class="hww row clearfix">
                            <label>Minimum:</label>
                            <div class="select">
                                <select class="select" title="mg/dL" name="min_ldl" id="min_ldl">
                                    <option value="">mg/dL</option>
                                    <?php for($i=1; $i<201; $i++) { ?>
                                    <option value="<?= $i; ?>" <?php if (isset($viewData['min_ldl']) && $viewData['min_ldl'] == $i) echo "selected";?>><?= $i." mg/dL"; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="hww row clearfix">
                            <label>Maximum:</label>
                            <div class="select">
                                <select class="select" title="mg/dL" name="max_ldl" id="max_ldl">
                                    <option value="">mg/dL</option>
                                    <?php for($i=1; $i<201; $i++) { ?>
                                    <option value="<?= $i; ?>" <?php if (isset($viewData['max_ldl']) && $viewData['max_ldl'] == $i) echo "selected";?>><?= $i." mg/dL"; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="bw_colthird">
                    <div class="bw_box">
                        <div class="bw_title">Triglycerides</div>
                        <div class="hww row clearfix">
                            <label>Minimum:</label>
                            <div class="select">
                                <select class="select" title="mg/dL" name="min_triglyc" id="min_triglyc">
                                    <option value="">mg/dL</option>
                                    <?php for($i=100; $i<601; $i++) { ?>
                                    <option value="<?= $i; ?>" <?php if (isset($viewData['min_triglyc']) && $viewData['min_triglyc'] == $i) echo "selected";?>><?= $i." mg/dL"; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="hww row clearfix">
                            <label>Maximum:</label>
                            <div class="select">
                                <select class="select" title="mg/dL" name="max_triglyc" id="max_triglyc">
                                    <option value="">mg/dL</option>
                                    <?php for($i=100; $i<601; $i++) { ?>
                                        <option value="<?= $i; ?>" <?php if (isset($viewData['max_triglyc']) && $viewData['max_triglyc'] == $i) echo "selected";?>><?= $i." mg/dL"; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxBtn clearfix">
                <input type="submit" name="" value="Save" class="bb_btn">
            </div>
        </form>
   </div>
</div>


<script>
$(function(){
	$("#cholestrolForm").validate({
		rules: {
			min_hld: {
				required: true
			},
			max_hld: {
				required: true
			},
			min_ldl: {
				required: true
			},
			max_ldl: {
				required: true
			},
			min_triglyc: {
				required: true
			},
			max_triglyc: {
				required: true
			},
		},
		messages: {
			min_hld: {
				required: "This field is required.",
			},
			max_hld: {
				required: "This field is required.",
			}
			,
			min_ldl: {
				required: "This field is required.",
			}
			,
			max_ldl: {
				required: "This field is required.",
			}
			,
			min_triglyc: {
				required: "This field is required.",
			}
			,
			max_triglyc: {
				required: "This field is required.",
			}
		},
		submitHandler:function(form){
			if(parseInt($('#min_hld').val()) >= parseInt($('#max_hld').val())){
				alert('Min HDL must be less than max HDL.');
                $('#min_hld').focus();
				return false;
			}
			if(parseInt($('#min_ldl').val()) >= parseInt($('#max_ldl').val())){
				alert('Min LDL must be less than max LDL.');
                $('#min_ldl').focus();
				return false;
			}
			if(parseInt($('#min_triglyc').val()) >= parseInt($('#max_triglyc').val())){
				alert('Min Triglyc must be less than max Triglyc.');
                $('#min_triglyc').focus();
				return false;
			}
			form.submit();
		},
		errorPlacement: function(error, element){
		error.appendTo(element.parents("div.row"));
	  }
	});
});
</script>