<?php if (count($distance) > 0) { ?>
    <?php foreach ($distance AS $distanceArr) { ?>
        <?php
            if ($distanceArr['gender'] == "f")
                $gender = "Female";
            else
                $gender = "Male";
        ?>
        <li class="clearfix">
            <div class="bwl_type">
                <strong><?= $gender; ?>  |</strong>  
                <strong>Age:</strong> <?= $distanceArr['age_from']." - ".$distanceArr['age_to']; ?>
            </div>
            <div class="bwl_min">
                <strong>Min:</strong> <?= $distanceArr['min_distance']; ?> Meter
            </div>
            <div class="bwl_max">
                <strong>Max:</strong> <?= $distanceArr['max_distance']; ?> Meter
            </div>
            <div class="bwl_delete" onclick="gppOpen('deleteBMI');getDeleteId('distance', <?= $distanceArr['id']?>);">
                <span class="icon">X</span>
            </div>
        </li>
    <?php } ?>
<?php } else { ?>
<li>No Record Found.</li>
<?php } ?>