<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE BODYMEASURMENT THREESHOLD MATRIX.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 02/04/2015.
 * UPDATED: --/--/----.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
if (!empty($bodyMeasurement[0]))
    $bodyMeasurementArr = $bodyMeasurement[0];
else
    $bodyMeasurementArr = $bodyMeasurement;
?>
<style>
    #body-measurement .row label.error{
        font-size:13px;
        color:#cd0a0a;
        padding:0 10px 10px 10px;
    }
    .bmi_validate_error{
        font-size:13px;
        color:#cd0a0a;
    }
</style>
<div id="deleteBMI" class="grobalPopup popuBxWrap">
    <div class="gppBox">
        <div class="gppbxContainer alertConfirmMessage">
            <div class="gppTitle">Delete !
                <div onclick="gppClose('deleteBMI');" class="gppClose">X</div>
            </div>
            <div class="gppTxt clearfix">
                <h2 class="confirm_msg">Do you want to delete this record?</h2>
            </div>
            <div class="formContainer formWrapperContainer gppbuttonWrapper">
                <div class="double clearfix">
                    <div class="row">
                        <input type="submit" class="submit_button" value="Yes" name="delete-record" id="delete-record">
                    </div>
                    <div class="row last">
                        <input type="button" onclick="gppClose('deleteBMI');" class="submit_button cancel_button" value="No">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gppOverlay"></div>
</div>
<div id="content-wrapper" class="clearfix"> 
    <div class="pageWrapper">
        <div class="pghFixed pghFixedIndv">
            <div class="pgh_title">| Manage Threshold Matrix</div>
            <?= $this->partial('matrix-top-nav/matrix-top-navs'); ?>
        </div>
        <form method="post" action="" name="body-measurement" id="body-measurement">
            <div class="boxWrap clearfix">
                <div class="bw_colthird">
                    <div class="bw_box">
                        <div class="bw_title">HEIGHT</div>
                        <?php
                        $minHeight = (isset($bodyMeasurementArr['min_height']) ? round($bodyMeasurementArr['min_height'] / 30.48, 2) : '');
                        $minHeightArr = explode(".", $minHeight);
                        // echo '<pre>'; print_r($minHeight); die;
                        ?>
                        <div class="hww clearfix">
                            <label>Minimum:</label>
                            <div class="hww_select row clearfix">
                                <div class="hww_sbox">
                                    <div class="select">
                                        <select class="select" title="Feet (ft)" name="min_ht_feet" id="min_ht_feet">
                                            <option value="">Feet (ft)</option>
                                            <?php for ($i = 1; $i < 11; $i++) { ?>
                                                <option value="<?= $i; ?>" <?php if (isset($minHeightArr[0]) && $minHeightArr[0] == $i) echo "selected"; ?>><?= $i . " ft"; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="hww_sbox row">
                                    <div class="select">
                                        <select class="select" title="Inches (in)" name="min_ht_inches" id="min_ht_inches">
                                            <option value="">Inches (in)</option>
                                            <?php for ($i = 1; $i < 12; $i++) { ?>
                                                <option value="<?= $i; ?>" <?php if (isset($bodyMeasurementArr['min_inch_height']) && ($bodyMeasurementArr['min_inch_height'] / 2.54) == $i) echo "selected"; ?>><?= $i . " in"; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hww clearfix">
                            <label>Maximum:</label>
                            <?php
                            $minHeight = (isset($bodyMeasurementArr['max_height']) ? round($bodyMeasurementArr['max_height'] / 30.48, 2) : '');
                            $maxHeightArr = explode(".", $minHeight);
                            ?>
                            <div class="hww_select row clearfix">
                                <div class="hww_sbox">
                                    <div class="select">
                                        <select class="select" title="Feet (ft)" name="max_ht_feet" id="max_ht_feet">
                                            <option value="">Feet (ft)</option>
                                            <?php for ($i = 1; $i < 11; $i++) { ?>
                                                <option value="<?= $i; ?>" <?php if (isset($maxHeightArr[0]) && $maxHeightArr[0] == $i) echo "selected"; ?>><?= $i . " ft"; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="hww_sbox row">
                                    <div class="select">
                                        <select class="select" title="Inches (in)" name="max_ht_inches" id="max_ht_inches">
                                            <option value="">Inches (in)</option>
                                            <?php for ($i = 1; $i < 12; $i++) { ?>
                                                <option value="<?= $i; ?>" <?php if (isset($bodyMeasurementArr['max_inch_height']) && ($bodyMeasurementArr['max_inch_height'] / 2.54) == $i) echo "selected"; ?>><?= $i . " in"; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bw_colthird">
                    <div class="bw_box">
                        <div class="bw_title">WAIST</div>
                        <div class="hww clearfix row">
                            <label>Minimum:</label>
                            <div class="select">
                                <select class="select" title="Inches (in)" name="min_wast" id="min_wast">
                                    <option value="">Inches (in)</option>
                                    <?php for ($i = 1; $i < 101; $i++) { ?>
                                        <option value="<?= $i; ?>" <?php if (isset($bodyMeasurementArr['min_wast']) && $bodyMeasurementArr['min_wast'] == $i) echo "selected"; ?>><?= $i . " in"; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="hww clearfix row">
                            <label>Maximum:</label>
                            <div class="select">
                                <select class="select" title="Inches (in)" name="max_wast" id="max_wast">
                                    <option value="">Inches (in)</option>
                                    <?php for ($i = 1; $i < 101; $i++) { ?>
                                        <option value="<?= $i; ?>" <?php if (isset($bodyMeasurementArr['max_wast']) && $bodyMeasurementArr['max_wast'] == $i) echo "selected"; ?>><?= $i . " in"; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bw_colthird">
                    <div class="bw_box">
                        <div class="bw_title">WEIGHT</div>
                        <div class="hww clearfix row">
                            <label>Minimum:</label>
                            <div class="select">
                                <select class="select" title="lb" name="min_weight" id="min_weight">
                                    <option value="">lb</option>
                                    <?php for ($i = 1; $i < 101; $i++) { ?>
                                        <option value="<?= $i; ?>" <?php if (isset($bodyMeasurementArr['min_weight']) && ($bodyMeasurementArr['min_weight'] / 453.592) == $i) echo "selected"; ?>><?= $i . " lb"; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="hww clearfix row">
                            <label>Maximum:</label>
                            <div class="select">
                                <select class="select" title="lb" name="max_weight" id="max_weight">
                                    <option value="">lb</option>
                                    <?php for ($i = 1; $i < 151; $i++) { ?>
                                        <option value="<?= $i; ?>" <?php if (isset($bodyMeasurementArr['max_weight']) && ($bodyMeasurementArr['max_weight'] / 453.592) == $i) echo "selected"; ?>><?= $i . " lb"; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="boxWrap">
                <div class="bw_title">BMI</div>
                <span class="bmi_validate_error clearfix"></span>
                <div class="bw_bmi_add clearfix">
                    <div class="select">
                        <select class="select" title="Ethinicity" name="ethnicity" id="ethnicity">
                            <option value="">Ethinicity</option>
                            <?php foreach ($ethnicity AS $ethnicityArr) { ?>
                                <option value="<?= $ethnicityArr['ethnicity_id']; ?>"><?= $ethnicityArr['ethnicity_name']; ?></option>
                            <?php } ?>
                        </select>
                    </div>

                    <div class="select">
                        <select class="select" title="Gender" name="gender" id="gender">
                            <option value="">Gender</option>
                            <option value="m">Male</option>
                            <option value="f">Female</option>
                        </select>
                    </div>

                    <div class="bmi_sbox clearfix">
                        <label>Min:</label>
                        <div class="input" style="width:40px; float:left;">
                            <input type="text" name="min_bmi" id="min_bmi" placeholder="kg/m2" maxlength="3"/>
                        </div>
                    </div>

                    <div class="bmi_sbox clearfix" style="margin-right:15px;">
                        <label>Max:</label>
                        <div class="input" style="width:40px; float:left;">
                            <input type="text" name="max_bmi" id="max_bmi" placeholder="kg/m2" maxlength="3"/>
                        </div>
                    </div>

                    <div class="btn"><input type="button" name="" value="+ ADD" class="orange_btn" onclick="bmiValidate();"/></div>


                </div>
                <div class="bw_list">
                    <ul id="append-bmi">

                    </ul>
                </div>
            </div>        

            <div class="boxBtn clearfix">
                <input type="submit" name="" value="Save" class="bb_btn">
            </div>  
        </form>
    </div>
</div>
<script type="text/javascript">
    function bmiValidate() {
        var bmiMessage = 'All fields are required.';
        if ($('#ethnicity').val() == '') {
            $('.bmi_validate_error').html(bmiMessage);
            $('#ethnicity').focus();
            return false;
        } else if ($('#gender').val() == '') {
            $('.bmi_validate_error').html(bmiMessage);
            $('#gender').focus();
            return false;
        } else if ($('#min_bmi').val() == '') {
            $('.bmi_validate_error').html(bmiMessage);
            $('#min_bmi').focus();
            return false;
        }
        else if ($('#max_bmi').val() == '') {
            $('.bmi_validate_error').html(bmiMessage);
            $('#max_bmi').focus();
            return false;
        } else if (parseInt($('#max_bmi').val()) <= parseInt($('#min_bmi').val())) {
            $('.bmi_validate_error').html('Min BMI value must be less than Max BMI');
            $('#max_bmi').focus();
            return false;

        } else {
            $('.bmi_validate_error').html('');
            addTmbmisRange();
        }
    }
    function addTmbmisRange() {
        var ethnicity = $("#ethnicity").val();
        var gender = $("#gender").val();
        var min_bmi = $("#min_bmi").val();
        var max_bmi = $("#max_bmi").val();
        var ajaxUrl = "<?= $this->basePath(); ?>/caregiver/caregivermatrix/bmicalculation";
        $.post(
                ajaxUrl,
                {
                    gender: gender,
                    min_bmi: min_bmi,
                    max_bmi: max_bmi,
                    ethnicity: ethnicity
                },
        function (data) {

            if (data == '') {
                alert('You have already entered the bmi for this ethnicity and gender! try again.');
            } else {
                $("#append-bmi").html(data);
            }
        }
        );
    }
    function getDeleteId(id) {
        $("#delete-record").attr("onclick", "deleteTmbmisRange(" + id + ");gppClose('deleteBMI')");
    }
    function deleteTmbmisRange(dlt_id) {
        if (dlt_id) {
            $("#gender").val("");
            $("#gender").next('span.select').html("Gender");
            var ajaxUrl = "<?= $this->basePath(); ?>/caregiver/caregivermatrix/managerecords";
            $.post(
                    ajaxUrl,
                    {
                        id: dlt_id,
                        type: "bmi"
                    },
            function (data) {
                if (data)
                    addTmbmisRange();
                else
                    alert(data);
            }
            );
        }
    }
    addTmbmisRange();

    $(function () {

        $("#max_bmi,#min_bmi").bind("keydown", function (event) {
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                    // Allow: Ctrl+A
                            (event.keyCode == 65 && event.ctrlKey === true)||
                            // Allow: home, end, left, right
                                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                        // let it happen, don't do anything
                        return;
                    } else {
                        // Ensure that it is a number and stop the keypress
                        if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                            event.preventDefault();
                        }
                    }
                });

        $("#body-measurement").validate({
            rules: {
                min_ht_feet: {
                    required: true
                },
                max_ht_feet: {
                    required: true,
                },
                min_wast: {
                    required: true

                },
                max_wast: {
                    required: true,
                },
                min_weight: {
                    required: true
                },
                max_weight: {
                    required: true,
                },
            },
            messages: {
                min_ht_feet: {
                    required: "This field is required.",
                },
                max_ht_feet: {
                    required: "This field is required.",
                },
                min_wast: {
                    required: "This field is required.",
                },
                max_wast: {
                    required: "This field is required.",
                },
                min_weight: {
                    required: "This field is required.",
                },
                max_weight: {
                    required: "This field is required.",
                }

            },
            submitHandler: function (form) {
                if (parseInt($('#min_ht_feet').val()) > parseInt($('#max_ht_feet').val())) {
                    alert('Min height must be less than max haight.');
                    $('#min_ht_feet').focus();
                    return false;
                }
                if (parseInt($('#min_wast').val()) > parseInt($('#max_wast').val())) {
                    alert('Min waist must be less than max waist.');
                    $('#min_wast').focus();
                    return false;
                }
                if (parseInt($('#min_weight').val()) > parseInt($('#max_weight').val())) {
                    alert('Min weight must be less than max weight.');
                    $('#min_weight').focus();
                    return false;
                }
                form.submit();
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });
    });

</script>