<?php 
$explodurl = explode("/", $_SERVER["REQUEST_URI"]);
$basename = $explodurl[1];
?>
<div class="pgh_mWrap">
             <div class="pgh_menu pgh_menu_top">
                <a href="/cg-bodymeasurment" class="item <?=(($basename=="cg-bodymeasurment")? "selected" : "")?>">Body Weight</a>
                <a href="/cg-steps&comm" class="item <?=(($basename=="cg-steps&comm")? "selected" : "")?>">Steps</a>
                <a href="/cg-physical+activity" class="item <?=(($basename=="cg-physical+activity")? "selected" : "")?>">Physical Activity</a>
                <a href="/cg-cholestrol" class="item <?=(($basename=="cg-cholestrol")? "selected" : "")?>">Cholesterol</a>
                <a href="/cg-blood+pressure" class="item <?=(($basename=="cg-blood+pressure")? "selected" : "")?>">Blood Pressure</a>
                <a href="/cg-fasting+glucose" class="item <?=(($basename=="cg-fasting+glucose")? "selected" : "")?> ">Glucose</a>
                <a href="/cg-temperature" class="item <?=(($basename=="cg-temperature")? "selected" : "")?>">Temperature</a>
                <a href="/cg-sleep" class="item <?=(($basename=="cg-sleep")? "selected" : "")?>">Sleep</a>
                
            </div>
</div>