<?php if (count($steps) > 0) { ?>
    <?php foreach ($steps AS $stepsArr) { ?>
        <?php
            if ($stepsArr['gender'] == "f")
                $gender = "Female";
            else
                $gender = "Male";
        ?>
        <li class="clearfix">
            <div class="bwl_type">
                <strong><?= $gender; ?>  |</strong>  
                <strong>Age:</strong> <?= $stepsArr['age_from']." - ".$stepsArr['age_to']; ?>
            </div>
            <div class="bwl_min">
                <strong>Min:</strong> <?= $stepsArr['min_steps'] * 1000; ?> Steps
            </div>
            <div class="bwl_max">
                <strong>Max:</strong> <?= $stepsArr['max_steps'] * 1000; ?> Steps
            </div>
            <div class="bwl_delete" onclick="gppOpen('deleteBMI');getDeleteId(<?= $stepsArr['id']?>);">
                <span class="icon">X</span>
            </div>
        </li>
    <?php } ?>
<?php } else { ?>
<li>No Record Found.</li>
<?php } ?>