<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE THRESHOLD MATRIX STEPS AND COMM.. FUNCTION.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
 * CREATOR: 15/12/2014.
 * UPDATED: 17/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
?>
<style>
    .steps_validate_error{
        font-size:13px;
        color:#cd0a0a;
    }
</style>
<div id="deleteBMI" class="grobalPopup popuBxWrap">
    <div class="gppBox">
        <div class="gppbxContainer alertConfirmMessage">
            <div class="gppTitle">Delete !
                <div onclick="gppClose('deleteBMI');" class="gppClose">X</div>
            </div>
            <div class="gppTxt clearfix">
                <h2 class="confirm_msg">Do you want to delete this record?</h2>
            </div>
            <div class="formContainer formWrapperContainer gppbuttonWrapper">
                <div class="double clearfix">
                    <div class="row">
                        <input type="submit" class="submit_button" value="Yes" name="delete-record" id="delete-record">
                    </div>
                    <div class="row last">
                        <input type="button" onclick="gppClose('deleteBMI');" class="submit_button cancel_button" value="No">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gppOverlay"></div>
</div>
<div id="content-wrapper" class="clearfix"> 
    <div class="pageWrapper">
        <div class="pghFixed pghFixedIndv">
            <div class="pgh_title">| Manage Threshold Matrix</div>
            <?= $this->partial('matrix-top-nav/matrix-top-navs'); ?>
        </div>
        <div class="boxWrap">
            <div class="bw_title">Number of Steps</div>

            <span class="steps_validate_error clearfix"></span>
            <div class="bw_bmi_add bw_steps clearfix">
                <div class="select">
                    <select class="select" title="Gender" name="gender" id="gender">
                        <option value="">Gender</option>
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                </div>

                <div class="select">
                    <select class="select" title="Age from" name="age_from" id="age_from">
                        <option>Age from</option>
                        <?php for ($i = 1; $i < 101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>

                <div class="select">
                    <select class="select" title="Age to" name="age_to" id="age_to">
                        <option value="">Age to</option>
                        <?php for ($i = 1; $i < 101; $i++) { ?>
                            <option value="<?= $i; ?>"><?= $i; ?></option>
                        <?php } ?>
                    </select>
                </div>

                <div class="bmi_sbox clearfix">
                    <label>Min:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="min_steps" name="min_steps" maxlength="5" placeholder="Steps">
                    </div>
                </div>
                <div class="bmi_sbox clearfix" style="margin-right:15px;">
                    <label>Max:</label>
                    <div style="width:40px; float:left;" class="input">
                        <input type="text" id="max_steps" name="max_steps" maxlength="5" placeholder="Steps">
                    </div>
                </div>
                <div class="btn"><input type="button" name="" value="+ ADD" class="orange_btn" onclick="stepsValidate();"/></div>
            </div>
            <div class="bw_list">
                <ul id="append-steps">

                </ul>
            </div>
        </div>
    </div>
</div>
<script>

    function stepsValidate() {
        if ($('#gender').val() == '') {
            $('.steps_validate_error').html('All fields are required.');
            $('#gender').focus();
            return false;
        }
        else if ($('#age_from').val() == '') {
            $('.steps_validate_error').html('All fields are required.');
            $('#age_from').focus();
            return false;
        }
        else if ($('#age_to').val() == '') {
            $('.steps_validate_error').html('All fields are required.');
            $('#age_to').focus();
            return false;
        }
        else if (parseInt($('#age_to').val()) <= parseInt($('#age_from').val())) {
            $('.steps_validate_error').html('Age From value must be less than Age To');
            $('#age_to').focus();
            return false;

        }
        else if ($('#min_steps').val() == '') {
            $('.steps_validate_error').html('All fields are required.');
            $('#min_steps').focus();
            return false;
        }
        /*else if($('#min_steps').val().length <= 1){
         $('.steps_validate_error').html('Min steps value must be two degits.');
         $('#min_steps').focus();
         return false;
         }*/
        else if ($('#max_steps').val() == '') {
            $('.steps_validate_error').html('All fields are required.');
            $('#max_steps').focus();
            return false;
        }
        /*else if($('#max_steps').val().length <= 1){
         $('.steps_validate_error').html('Max steps value must be two degits.');
         $('#max_steps').focus();
         return false;
         }*/
        else if (parseInt($('#max_steps').val()) <= parseInt($('#min_steps').val())) {
            $('.steps_validate_error').html('Min Steps value must be less than Max Steps');
            $('#max_steps').focus();
            return false;

        } else {
            $('.steps_validate_error').html('');
            addTmstepsRange();
        }
    }

    function addTmstepsRange() {
        var gender = $("#gender").val();
        var age_from = $("#age_from").val();
        var age_to = $("#age_to").val();
        var min_steps = $("#min_steps").val();
        var max_steps = $("#max_steps").val();
        var ajaxUrl = "<?= $this->basePath(); ?>/caregiver/caregivermatrix/stepsmanage";
        $.post(
                ajaxUrl,
                {
                    gender: gender,
                    age_from: age_from,
                    age_to: age_to,
                    min_steps: min_steps,
                    max_steps: max_steps
                },
        function(data) {
            if (data == '') {
                alert('Age range overlapping, please select proper ages.');
            } else {
                $("#append-steps").html(data);
            }
        }
        );
    }
    function getDeleteId(id) {
        $("#delete-record").attr("onclick", "deleteTmbstepsRange(" + id + ");gppClose('deleteBMI')");
    }
    function deleteTmbstepsRange(dlt_id) {
        if (dlt_id) {
            $("#gender").val("");
            $("#gender").next('span.select').html("Gender");
            var ajaxUrl = "<?= $this->basePath(); ?>/caregiver/caregivermatrix/managerecords";
            $.post(
                    ajaxUrl,
                    {
                        id: dlt_id,
                        type: "step"
                    },
            function(data) {
                if (data)
                    addTmstepsRange();
                else
                    alert(data);
            }
            );
        }
    }
    addTmstepsRange();

    $(function() {
        $("#min_steps,#max_steps").bind("keydown", function(event) {
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                    // Allow: Ctrl+A
                            (event.keyCode == 65 && event.ctrlKey === true) ||
                            // Allow: home, end, left, right
                                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                        // let it happen, don't do anything
                        return;
                    } else {
                        // Ensure that it is a number and stop the keypress
                        if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                            event.preventDefault();
                        }
                    }
                });
    });
</script>