<?php
    /*************************
        * PHTML: USE TO MANAGE THE THRESHOLD MATRIX TEMPERATURE FUNCTION.
        * #COPYRIGHT: APPSTUDIOZ
        * @AUTHOR: ANKIT SHUKLA(fb/gshukla67).
        * CREATOR: 21/12/2014.
        * UPDATED: 21/12/2014.
        *
        * @license   http://framework.zend.com/license/new-bsd New BSD License
    *****/
?>
<style>

#tempForm .row label.error {
    color:#cd0a0a;
    font-size: 13px;
    padding:0 10px 10px 10px;
}
</style>
<?php $this->flashMessenger()->clearMessages(); ?>
<div id="content-wrapper" class="clearfix"> 
   <div class="pageWrapper">
         <div class="pghFixed pghFixedIndv">
            <div class="pgh_title">| Manage Threshold Matrix</div>
            <?= $this->partial('matrix-top-nav/matrix-top-navs'); ?>
        </div>

        <?php foreach($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?= $msg["error"]; ?>
                </div>
            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?= $msg["success"]; ?>
                </div>
            <?php endif; ?>
        <?php } ?>

        <form method="post" action="" name="tempForm" id="tempForm">      
            <div class="boxWrap clearfix">
                <div class="bw_box">
                    <div class="bw_title">Temperature</div>
                    <div class="hww row clearfix">
                        <label>Minimum:</label>
                        <div class="select" style="width:200px;">
                        <select class="select" title="Temperature(&#176;F)" name="min_temp" id="min_temp">
                            <option value="">Temperature(&#176;F)</option>
                            <?php for($i=90; $i<111; $i++) { ?>
                            <option value="<?= $i; ?>" <?php if (isset($viewData['min_temp']) && $viewData['min_temp'] == $i) echo "selected";?>><?= $i." &#176;F"; ?></option>
                            <?php } ?>
                        </select>
                        </div>
                    </div>
                    <div class="hww row clearfix">
                        <label>Maximum:</label>
                        <div class="select" style="width:200px;">
                        <select class="select" title="Temperature(&#176;F)" name="max_temp" id="max_temp">
                            <option value="">Temperature(&#176;F)</option>
                            <?php for($i=90; $i<111; $i++) { ?>
                            <option value="<?= $i; ?>" <?php if (isset($viewData['max_temp']) && $viewData['max_temp'] == $i) echo "selected";?>><?= $i." &#176;F"; ?></option>
                            <?php } ?>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxBtn clearfix">
                <input type="submit" name="" value="Save" class="bb_btn">
            </div>
        </form>
   </div>
</div>


<script>
$(function(){
	$("#tempForm").validate({
		rules: {
			min_temp: {
				required: true
			},
			max_temp: {
				required: true,
			}
		},
		messages: {
			min_temp: {
				required: "This field is required.",
			},
			max_temp: {
				required: "This field is required.",
			}
		},
		submitHandler:function(form){
			if(parseInt($('#min_temp').val()) >= parseInt($('#max_temp').val())){
				alert('Min Temperature must be less than max Temperature.');
                $('#min_temp').focus();
				return false;
			}
			form.submit();
		},
		errorPlacement: function(error, element){
		error.appendTo(element.parents("div.row"));
	  }
	});
});
</script>