<?php if (count($time) > 0) { ?>
    <?php foreach ($time AS $timeArr) { ?>
        <?php
            if ($timeArr['gender'] == "f")
                $gender = "Female";
            else
                $gender = "Male";
        ?>
		<li class="clearfix">
            <div class="bwl_type">
                <strong><?= $gender; ?>  |</strong>  
                <strong>Age:</strong> <?= $timeArr['age_from']." - ".$timeArr['age_to']; ?>
            </div>
            <div class="bwl_min">
                <strong>Min:</strong> <?= $timeArr['min_time']; ?> Minutes
            </div>
            <div class="bwl_max">
                <strong>Max:</strong> <?= $timeArr['max_time']; ?> Minutes
            </div>
            <div class="bwl_delete" onclick="gppOpen('deleteBMI');getDeleteId('time', <?= $timeArr['id']?>);">
                <span class="icon">X</span>
            </div>
        </li>
    <?php } ?>
<?php } else { ?>
<li>No Record Found.</li>
<?php } ?>