<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 30/12/2014.
 * UPDATED: 30/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$followerOBJ = $this->FollowerUserObj;
?>


<div id="content-wrapper" class="clearfix">

    <div class="pghFixed pghFixedIndv">
        <?php
        $display = 'block';
        $display1 = 'none';
        $cheked = "checked";
        $cheked1 = "";
        if ($post) {
            $display1 = 'block';
            $display = 'none';
            $cheked = "";
            $cheked1 = "checked";
        }
        $active = '';
        ?>
        <div class="pgh_title" style="position:relative">| Knowledge Base <span style="float:right;font-size: 14px;padding-top:5px; ">U.S. Library of Medicine</span></div>
        <!--        <div class="pgh_mWrap">
                    <div class="pgh_menu">
        <INPUT TYPE="Radio" style="width: 28px;" Name="Gender" Value="Male" >Conditions/Symtoms/Treatment
                     <INPUT TYPE="Radio" style="width: 28px;" Name="Gender" Value="Female" >Checkup</div
        
                    </div>
                </div>-->
    </div>
    <div class="pageWrapper">
        <ul class="assesment_quiz clearfix">
            <li class="queans clearfix">
                <div class="ans clearfix">
                    <span class="radio_button"  onclick="gTabOpen('knw1');" style="width:auto">
                        <input type="radio" value="0" <?= $cheked ?>  name="opt_value[0]118" id="que118_opt0" class="required" aria-required="true">
                        <label for="que118_opt0"><span class="OptradioButton"></span>Conditions/Symtoms/Treatment</label>
                    </span>    
                    <span class="radio_button" onclick="gTabOpen('knw2');" style="width:auto">
                        <input type="radio" value="1" <?= $cheked1 ?> name="opt_value[0]118" id="que118_opt1" class="required" aria-required="true">
                        <label for="que118_opt1"><span class="OptradioButton"></span>Recommended Checkup</label>
                    </span>    
                </div>
            </li>
        </ul>


        <div class="boxWrap advancedPeopleSearch clearfix" id="knw1" style="display:<?= $display ?>">
            <!-- Advanced Search box start here-->
            <div class="clearfix" id="topic">
                <div class="row-f">
                    <div class="col-1">
                        <div class="inner">
                            <section>
                                <div class="section">
                                    <div class="section-header">
                                        <div class="section-title">
                                            <h2 style="font-size: 11px;padding:0 5px;">Body Location/Systems</h2>
                                        </div>

                                        <!-- Area for accessibility for mobile -->
                                        <div class="sm-live-area hide-offscreen" aria-live="polite"></div>
                                    </div>
                                    <div class="section-body" id="section_bmap">

                                        <ul class="indent" id="bodyMaps" style="font-size: 11px;">

                                            <li type="bodymaps" class="bls7_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/bloodheartandcirculation.html" id="anch_49">Blood, Heart and Circulation</a>

                                            </li>

                                            <li type="bodymaps" class="bls10_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/bonesjointsandmuscles.html" id="anch_50">Bones, Joints and Muscles</a>

                                            </li>

                                            <li type="bodymaps" class="bls14_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/brainandnerves.html" id="anch_51">Brain and Nerves</a>

                                            </li>

                                            <li type="bodymaps" class="bls2_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/digestivesystem.html" id="anch_52">Digestive System</a>

                                            </li>

                                            <li type="bodymaps" class="bls16_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/earnoseandthroat.html" id="anch_53">Ear, Nose and Throat</a>

                                            </li>

                                            <li type="bodymaps" class="bls23_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/endocrinesystem.html" id="anch_54">Endocrine System</a>

                                            </li>

                                            <li type="bodymaps" class="bls9_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/eyesandvision.html" id="anch_55">Eyes and Vision</a>

                                            </li>

                                            <li type="bodymaps" class="bls22_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/immunesystem.html" id="anch_56">Immune System</a>

                                            </li>

                                            <li type="bodymaps" class="bls11_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/kidneysandurinarysystem.html" id="anch_57">Kidneys and Urinary System</a>

                                            </li>

                                            <li type="bodymaps" class="bls15_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/lungsandbreathing.html" id="anch_58">Lungs and Breathing</a>

                                            </li>

                                            <li type="bodymaps" class="bls17_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/mouthandteeth.html" id="anch_59">Mouth and Teeth</a>

                                            </li>

                                            <li type="bodymaps" class="bls18_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/skinhairandnails.html" id="anch_60">Skin, Hair and Nails</a>

                                            </li>

                                            <li type="bodymaps" class="bls42_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/femalereproductivesystem.html" id="anch_61">Female Reproductive System</a>

                                            </li>

                                            <li type="bodymaps" class="bls43_us">

                                                <a target="blank" href="http://www.nlm.nih.gov/medlineplus/malereproductivesystem.html" id="anch_62">Male Reproductive System</a>

                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="inner">

                            <section>
                                <div class="section">
                                    <div class="section-header">
                                        <div class="section-title">
                                            <h2 style="font-size: 11px;">Disorders and Conditions</h2>
                                        </div>

                                        <!-- Area for accessibility for mobile -->
                                        <div class="sm-live-area hide-offscreen" aria-live="polite"></div>
                                    </div>
                                    <div class="section-body" id="section_1">
                                        <ul class="indent" style="font-size: 11px;">
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/cancers.html" id="anch_63">Cancers</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/diabetesmellitus.html" id="anch_64">Diabetes Mellitus</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/geneticsbirthdefects.html" id="anch_65">Genetics/Birth Defects</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/infections.html" id="anch_66">Infections</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/injuriesandwounds.html" id="anch_67">Injuries and Wounds</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/mentalhealthandbehavior.html" id="anch_68">Mental Health and Behavior</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/metabolicproblems.html" id="anch_69">Metabolic Problems</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/poisoningtoxicologyenvironmentalhealth.html" id="anch_70">Poisoning, Toxicology, Environmental Health</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/pregnancyandreproduction.html" id="anch_71">Pregnancy and Reproduction</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/substanceabuseproblems.html" id="anch_72">Substance Abuse Problems</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </section>

                            <section>
                                <div class="section">
                                    <div class="section-header">
                                        <div class="section-title">
                                            <h2 style="font-size: 11px;">Diagnosis and Therapy</h2>
                                        </div>

                                        <!-- Area for accessibility for mobile -->
                                        <div class="sm-live-area hide-offscreen" aria-live="polite"></div>
                                    </div>
                                    <div class="section-body" id="section_35">
                                        <ul class="indent" style="font-size: 11px;">
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/complementaryandalternativetherapies.html" id="anch_73">Complementary and Alternative Therapies</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/diagnostictests.html" id="anch_74">Diagnostic Tests</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/drugtherapy.html" id="anch_75">Drug Therapy</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/surgeryandrehabilitation.html" id="anch_76">Surgery and Rehabilitation</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/symptoms.html" id="anch_77">Symptoms</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/transplantationanddonation.html" id="anch_78">Transplantation and Donation</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                    <div class="col-2">
                        <div class="inner">

                            <section>
                                <div class="section">
                                    <div class="section-header">
                                        <div class="section-title">
                                            <h2 style="font-size: 11px;">Demographic Groups</h2>
                                        </div>

                                        <!-- Area for accessibility for mobile -->
                                        <div class="sm-live-area hide-offscreen" aria-live="polite"></div>
                                    </div>
                                    <div class="section-body" id="section_3">
                                        <ul class="indent" style="font-size: 11px;">
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/childrenandteenagers.html" id="anch_79">Children and Teenagers</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/men.html" id="anch_80">Men</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/populationgroups.html" id="anch_81">Population Groups</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/seniors.html" id="anch_82">Seniors</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/women.html" id="anch_83">Women</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </section>

                            <section>
                                <div class="section">
                                    <div class="section-header">
                                        <div class="section-title">
                                            <h2 style="font-size: 11px;">Health and Wellness</h2>
                                        </div>

                                        <!-- Area for accessibility for mobile -->
                                        <div class="sm-live-area hide-offscreen" aria-live="polite"></div>
                                    </div>
                                    <div class="section-body" id="section_44">
                                        <ul class="indent" style="font-size: 11px;">
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/disasters.html" id="anch_84">Disasters</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/fitnessandexercise.html" id="anch_85">Fitness and Exercise</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/foodandnutrition.html" id="anch_86">Food and Nutrition</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/healthsystem.html" id="anch_87">Health System</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/personalhealthissues.html" id="anch_88">Personal Health Issues</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/safetyissues.html" id="anch_89">Safety Issues</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/sexualhealthissues.html" id="anch_90">Sexual Health Issues</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/socialfamilyissues.html" id="anch_91">Social/Family Issues</a></li>
                                            <li type="groups"><a target="blank" href="http://www.nlm.nih.gov/medlineplus/wellnessandlifestyle.html" id="anch_92">Wellness and Lifestyle</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>

            <style>
                #topic .row-f .col-1, #topic .row-f .col-2, #topic .row-f .col-3{
                    width: 33.3333%;
                    float: left
                }
                #topic ul{
                    list-style: none;
                    padding-left:10px;
                    font-size: 16px;
                    padding-top:10px
                }
                #topic ul li {
                    padding-bottom: 10px;
                }
                #topic ul li a{
                    color:#0066FF
                }
                div.select select.select {
                    cursor: pointer;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }


                .hww span.select {
                    margin-left: -10px !important;
                    width: 93% !important;
                    border: 0px;
                }
                
             </style>


            <!-- Advanced Search box start here-->
            <div id="msg_div" style="padding-bottom:5px;"></div>
        </div>
        <div id="knw2" style="margin-bottom:5px;display:<?= $display1 ?>">
            <div class="boxWrap advancedPeopleSearch clearfix" style="display: block;">
                <!-- Advanced Search box start here-->
                <div class="searchFormAdv clearfix">
                     <form method="post" action=""  id="KnwBase">
                        <div class="knwBasePage">
                            <div class="clearfix">
                                <div class="colw40">
                                    <div class="hww clearfix">
                                        <div class="radioWrapper">Make a selection</div>
                                        <div class="hww_sbox">
                                            <div class="select">

                                                <select id="who " class="select " name="who">
                                                    <?php
                                                    $arrayData = array('0' => 'Make a selection', 'me' => 'Me', 'someone' => 'Someone Else', 'child' => 'My Child');
                                                    foreach ($arrayData as $key => $index) {
                                                        ?>
                                                        <option 
                                                        <?php
                                                        if (isset($postData['who'])) {
                                                            if ($postData['who'] == $key) {
                                                                ?>
                                                                    selected=""
                                                                    <?php
                                                                }
                                                            }
                                                            ?>
                                                            value="<?= $key; ?>"><?= $index; ?></option>
                                                        <?php } ?>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hww clearfix" style="padding-top:10px;">
                                        <div class="radioWrapper">Age</div>
                                        <div class="hww_select clearfix">
                                            <div class="hww_sbox">
                                                <div class="select">
                                                    <select id="age" class="select requiredSelect" name="age">
                                                        <option value="0">Age</option>
                                                        <?php for ($i = 5; $i < 100; $i++) { ?>
                                                            <option 
                                                            <?php
                                                            if (isset($postData['age'])) {
                                                                if ($postData['age'] == $i) {
                                                                    ?>
                                                                        selected=""
                                                                        <?php
                                                                    }
                                                                }
                                                                ?>
                                                                value="<?= $i; ?>"><?= $i; ?></option>
                                                            <?php } ?>
                                                    </select>
                                                </div>
                                            </div>
                                            <?php if ((isset($postData['gender']) && $postData['gender'] == 'female') || (isset($postData['pregnant']) && $postData['pregnant'] == 1)) { ?>
                                                <div class="hww_sbox Pregnant" style="font-size:18px; padding-top:10px; text-align:right;">
                                                <?php } else { ?>
                                                    <div class="hww_sbox Pregnant" style="font-size:18px; padding-top:10px; text-align:right;display: none;">
                                                    <?php } ?>
                                                    <span style="padding-right:10px;">
                                                        Pregnant
                                                        <input  style="margin-top: 12px;" <?php if (isset($postData['pregnant']) && $postData['pregnant'] == 1) { ?>checked="checked" <?php } ?> type="checkbox"  name="pregnant" id="Pregnant" value="1">

                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="colw55">
                                        <div class="hww clearfix">
                                            <div class="radioWrapper">Gender
                                            </div>
                                            <span class="genderRadio_button">
                                                <input type="radio" class="gender" name="gender" id="male" value="male"
                                                <?php
                                                if (isset($postData['gender'])) {
                                                    if ($postData['gender'] == 'male') {
                                                        ?>
                                                               checked=""
                                                               <?php
                                                           }
                                                       } else {
                                                           echo 'checked=""';
                                                       }
                                                       ?>>
                                                <label for="male"><span class="OptradioButton male"></span>Male</label>
                                            </span>
                                            <span class="genderRadio_button">
                                                <input type="radio" class="gender" name="gender" id="female" value="female" 
                                                <?php
                                                if (isset($postData['gender'])) {
                                                    if ($postData['gender'] == 'female') {
                                                        ?>
                                                               checked=""
                                                               <?php
                                                           }
                                                       }
                                                       ?>>
                                                <label for="female"><span class="OptradioButton female"></span>Female</label>
                                            </span>

                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                    <div class="boxBtn hww clearfix" style="position: relative; padding-left: 10px;"><input type="submit" class="bb_btn" value="Submit" name=""></div>
                                </div>

                            </div>
                    </form>
                </div>
                <!-- Advanced Search box start here-->
            </div>
            <div class="table table_box_shadow cb_Grid geofence_grid peopleTable" style="width:94%;">
<!--            <iframe src="http://healthfinder.gov/search/?q=cancer" width="100%" height="50%">-->


                <?php if (empty($res)) { ?><div class="errorMsg">
                        <span class="ui_icon error"></span>No Data found </div> <?php
                } else {
                    ?>
                    <h2><?php
                        echo $res['MainHeading'];
                        unset($res['MainHeading']);
                        ?>
                    </h2>
                    <div style="width:100%; margin-bottom: 20px; background: #CEDAE7;height: 5px;"></div>
                    <?php
                    foreach ($res as $key => $value) {
                        ?>
                        <div class="row clearfix">
                            <h3><?= $key; ?></h3>
                            <?php foreach ($value as $Data) { ?>
                                <div class="col wd100" style="padding:20px;list-style: none;">
                                    <a href="<?= $Data['AccessibleVersion']; ?>" target="_blank"><?= $Data['Title']; ?></a>
                                    <div>
                                        <?php
                                        echo $Data['MyHFDescription'];
                                        ?>
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                            <?php } ?>
                        </div>            
                        <?php
                    }
                }
                ?>          
            </div>  
        </div>
        <style>
            .table_box_shadow h2{
                margin-bottom: 20px;
                font-weight: normal;
                line-height: 25px;
            }
            .table_box_shadow{
                padding: 30px;
            }
        </style>

    </div>
    <style>
        .cb_Grid .row .col .txt, .cb_Grid .row .col .txt1,.cb_Grid{
            text-align:left;
            border:0;
            display:table;
            width:100%;
        }
        .hww_sbox .row {
            float: left;
            margin: 0;
            width: 50%;
        }

        strong{
            color: #3059BA;
        }

        .wd100{
            width: 75%;
        }

        .wd100 a{

            font-size: 15px;
            line-height: 20px;
            width: 100%;
            float: left;
            color: #3259B3;
            font-weight: bold;
        }

        .wd100 div{
            // width: 95%;
            font-size: 15px;
            line-height: 20px;
            text-align: justify;
        }



    </style>

</div>
<!--Container end here--> 
<script>

    function gTabOpen(id) {
        if (id == 'knw1') {
            $("#knw1").slideDown();
            $("#knw2").slideUp();
        } else {
            $("#knw2").slideDown();
            $("#knw1").slideUp();
        }

    }
    $(document).ready(function(e) {
        $.validator.addMethod(
                "requiredSelect",
                function(value, element) {
                    // put your own logic here, this is just a (crappy) example
                    if (value == 0) {
                        return false;
                    } else {
                        return true;
                    }
                },
                "This field is required."
                );
        $('#gender').change(function() {
            var value = $(this).val();
            if (value == 'female') {
                $('.Pregnant').show();
            } else {
                $('#Pregnant').attr('checked', false);
                $('.Pregnant').hide();
            }
        })

        $('#KnwBase').validate({
            errorPlacement: function(error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });

//        $("#knw2").hide();
        $('.cb_Grid .row').each(function() {
            equalHeight($(this).find('span.txt'));
        });
    });
</script>
<style>

    .boxWrap span.select {
        background: url("../../img/select_arrow.png") no-repeat scroll right center rgba(0, 0, 0, 0);
        //border: 1px solid #a4a4a4;
        color: #3e3e3e;
        display: block;
        font-family: 'RobotoLight';
        font-size: 15px;
        overflow: hidden;
        padding: 8px 16px 8px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 78px;
    }
    @media(max-width:550px){
            .row-f .col-1, .row-f .col-2, .row-f .col-3 {
                width:85% !important;
                float:none !important;
                margin:0 auto;
            }  
            .row-f .col-1 ul li, .row-f .col-2  ul li, .row-f .col-3  ul li, .row-f .col-1 h2, .row-f .col-2  h2, .row-f .col-3  h2 {
                   font-size:17px !important;
            }
    } 
</style>
 <style>
            .table_box_shadow h2{
                margin-bottom: 20px;
                font-weight: normal;
                line-height: 25px;
            }
            .table_box_shadow{
                padding: 30px;
            }
            .knwBasePage span.select{
                border: 1px solid #a4a4a4 !important; 
            }
        </style>

            <style>
                #topic .row-f .col-1, #topic .row-f .col-2, #topic .row-f .col-3{
                    width: 33.3333%;
                    float: left
                }
                #topic ul{
                    list-style: none;
                    padding-left:10px;
                    font-size: 16px;
                    padding-top:10px
                }
                #topic ul li {
                    padding-bottom: 10px;
                }
                #topic ul li a{
                    color:#0066FF
                }
                div.select select.select {
                    cursor: pointer;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }


                .hww span.select {
                    margin-left: -10px !important;
                    width: 93% !important;
                    border: 0px;
                }
            </style>

            
             <style>
        .cb_Grid .row .col .txt, .cb_Grid .row .col .txt1,.cb_Grid{
            text-align:left;
            border:0;
            display:table;
            width:100%;
        }
        .hww_sbox .row {
            float: left;
            margin: 0;
            width: 50%;
        }

        strong{
            color: #3059BA;
        }

        .wd100{
            width: 75%;
        }

        .wd100 a{

            font-size: 15px;
            line-height: 20px;
            width: 100%;
            float: left;
            color: #3259B3;
            font-weight: bold;
        }

        .wd100 div{
            // width: 95%;
            font-size: 15px;
            line-height: 20px;
            text-align: justify;
        }


/* individual-knw base CSS start here */
.genderRadio_button {
	font-family: 'RobotoLight';
	font-size: 16px;
	color: #3e3e3e;
	display: block;
	float: left;
	width:140px;
	height:140px;
	border:#efefef 1px solid;
	position: relative;
	text-align:center;
	margin:5px 10px;
}
 .genderRadio_button label {
	cursor: pointer;
	padding-top:105px !important;
	font-size:20px !important;
	color:#4f4f4f;
}
.genderRadio_button label span.OptradioButton {
	content: "";
	width: 80px;
	height: 80px;
	margin-left: -40px;
	position: absolute;
	left: 50%;
	top: 10px;
	background:url(../../img/gender_icon.png) no-repeat;
	background-size:160px 160px;
	-webkit-background-size:160px 160px;
	-o-background-size:160px 160px;
	-ms-background-size:160px 160px;
	-o-background-size:160px 160px;
}
.genderRadio_button label span.female{
	background-position:0 -80px;
}
.genderRadio_button input[type=radio]:checked + label{
	color:#0c2260 !important;
}
.genderRadio_button input[type=radio]:checked + label > span.male {
	background-position:-80px 0;
}
.genderRadio_button input[type=radio]:checked + label > span.female {
	background-position:-80px -80px;
}
.genderRadio_button input {
	position: absolute;
	left: -100000px;
}
.knwBasePage .colw40{
	width:40% !important;
	padding-right:5%;
	float:left
}
.knwBasePage .colw55{
	width:55% !important;
	float:left
}
.knwBasePage .boxBtn{
	padding-left:10px;
}
@media screen and (max-width:640px){
	.knwBasePage .colw55, .knwBasePage .colw40{
		width:96% !important;
		padding:0;
		margin:0 auto;
		float:none
	}
	.knwBasePage .boxBtn{
		padding-left:20px;
	}
}
/* individual-knw base CSS start here */


    </style>
<!--Container end here--> 