<?php
/* * ***********************
 * PHTML: USE TO LIST THE SELF ASSESSMENT PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 26/02/2015.
 * UPDATED: 00/00/0000.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
?>
<?php echo $this->partial('left-menus/nonmember-left-menu'); ?>
<div id="content-wrapper" class="clearfix"> 
   <div class="pghFixed pghFixedIndv">
        <div class="pgh_title"><?= $AssessmentName;?> | Self Assessment Feedback</div>
        <div class="menuWrapper pghFixedsubMenuWrapper clearfix">
            <ul class="pre_login_menu">
                <?php if($this->complex==1){ ?>
                <li><a href="nonmember-assessment-score?id=<?php echo base64_encode($this->part_id);  ?>">Complex Response</a><span class="border"></span></li>
                <?php } ?>
                <li class="active"><a href="nonmember-assessment-score-question?id=<?php echo base64_encode($this->part_id);  ?>">Question Response</a><span class="border"></span></li>
            </ul>
        </div>
   </div>
      
    <div class="pageWrapper">
          <div class="table cb_Grid table_box_shadow">
            <div class="row clearfix">
                <p class="assesment_title">"<?php echo $this->AssessmentName; ?>" </p>
            </div>        
        </div> 
        <div class="boxWrap clearfix" style="padding:20px;">
            <div class="basic_profile_form basic_profile_from_value" style="display:block">
                <?php 
                $num=1;
                if(count($this->formulaResult)>0){
                foreach ($this->formulaResult as $key=>$value) {
                    
                ?>
                <div class="formContainer formWrapperContainer" style="margin-left:0; width:auto;">
                     <h2 class="page_heading" style=" border-bottom: 1px solid #cccccc;color: #3b3b3b;font-family: RobotoCondensedRegular;font-size: 20px;font-weight: normal; padding-bottom: 10px; text-align: left; margin-bottom:10px;">
                         <?php echo $value['type']." - ". $value['col_name'];?> 
                     </h2>
                    <h2 class="page_heading" style=" border-bottom: 1px solid #cccccc;color: #3b3b3b;font-family: RobotoCondensedRegular;font-size: 20px;font-weight: normal; padding-bottom: 10px; text-align: left; margin-bottom:10px;">
                       <?php echo $num; ?>.  <?php echo $value['question'];?> 
                     </h2>
                    <?php              
                     if(count($this->rowData[$value['formula_health']]['result']) > 0){
                       
                          foreach ($this->rowData[$value['formula_health']]['result'] as $rvalue) {     
     ?>
                     <div class="row clearfix">
                        <span class="formF_lable"><?php echo $rvalue['col_name']; ?> :</span> 
                        <span class="formF_value"><?php echo $rvalue['col_value']; ?></span>                                   
                     </div>

                    <?php }   }else{?>
                   
                        <div class="errorMsg"><span class="ui_icon error"></span>Sorry no result found.</div>
                   
                    <?php }?>

                </div>  
                <?php $num++;}}else{?>
                  <div class="errorMsg"><span class="ui_icon error"></span>Sorry no result found.</div>               
                <?php } ?>
            </div>
        </div>    
    </div>
</div>
<style>
	.basic_profile_form .formF_lable{
		width:110px;
	}
</style>
 <!--Container end here--> 
