<?php
/* * ***********************
 * PHTML: USE TO LIST THE SELF ASSESSMENT PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 02/03/2015.
 * UPDATED: 00/00/0000.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
$this->headTitle($this->translate($this->pageTitle));
$CusConPlug = $this->CusConPlug;
?>

<?php echo $this->partial('left-menus/nonmember-left-menu'); ?>
<div id="content-wrapper" class="clearfix"> 
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Self Assessment - <?= $this->AssessmentName; ?></div>
    </div>
    <div class="pageWrapper">
        <div class="boxWrap" style="padding: 0px;">
            <!--Self Assesment popup end here-->
            <form action="<?php echo $formaction ?>" method="post" name="assForm" id="assForm" enctype="multipart/form-data">
                <div class="table cb_Grid table_box_shadow">
                    <div class="row clearfix">
                        <p class="assesment_title"><?php echo $this->AssessmentName; ?> <span class="mandatory">All (<span style="color: #EE3923">*</span>) fields are mandatory</span></p>

                    </div>
                    <?php if (!empty($this->assesmentQuestDesc)) { ?>
                        <div class="row clearfix">
                            <h3 class="que_description"><?php echo $this->assesmentQuestDesc; ?></h3>
                        </div>
                    <?php } ?>
                    <ul class="assesment_quiz clearfix">
                        <?php
                        if (count($this->assessmentData) > 0) {
                            $rule = "";
                            $msg = "";
                            $number = $this->limit[1] * ($this->page - 1) + 1;
                            $quesCount=0;
                            foreach ($this->assessmentData as $value) {
                                ?>
                                <li class="queans clearfix">
                                    <h3 class="que"><?php echo $number; ?>. <?php echo $value['ques_question']; ?><?php echo (($value['ques_mendatory'] == 1) ? "<span>*</span>" : "") ?></h3>
                                    <input type="hidden" name="quest_id[<?= $quesCount;?>]" value="<?php echo $value['ques_id']; ?>"/>
                                    <input type="hidden" name="ques_variable[<?= $quesCount;?>]" value="<?php echo $value['ques_variable']; ?>"/>
                                    <div class="ans clearfix">
                                        <?php
                                        if (count($value['opt_option']) > 0) {

                                            for ($i = 0; $i < count($value['opt_option']); $i++) {
                                                ?>
                                                <span class="radio_button">
                                                    <input type="radio" class="<?php echo (($value['ques_mendatory'] == 1) ? "required" : ""); ?>" id="que<?php echo $value['ques_id'] ?>_opt<?php echo $i; ?>" name="opt_value[<?= $quesCount;?>]<?php echo $value['ques_id'] ?>" value="<?php echo $value['opt_value'][$i]; ?>" />
                                                    <label for="que<?php echo $value['ques_id'] ?>_opt<?php echo $i; ?>"><span class="OptradioButton"></span><?php echo $value['opt_option'][$i] ?></label>
                                                </span>    
                                            <?php }
                                        } ?>

                                    </div>

                                </li>
                                <?php $number++;
                                $quesCount++;
                            }
                        } ?>
                    </ul>
                </div> 
                <div style="margin-left:20px" class="boxBtn clearfix">
                    <input type="hidden" name="current_page" value="<?php echo ($this->page) ?>" />
                    <input type="submit" name="" value="<?php echo $this->button_name; ?>" class="bb_btn">
                </div>  
            </form>
        </div>
        <?php if (!empty($this->assesmentCopyRight)) { ?>
            <div class="row clearfix">
                <p class="copyrights_description"><?php echo $this->assesmentCopyRight; ?></p>
            </div>
        <?php } ?>
    </div>
</div>
<!--Container end here--> 

<script type="text/javascript">
    $("#assForm").validate({
        errorPlacement: function (error, element) {
            error.appendTo(element.parents("li.queans"));
        }
    });

    function disableBack() {
        window.history.forward()
    }

    window.onload = disableBack();

    window.onpageshow = function (evt) {
        if (evt.persisted) {
            disableBack();
        }
    }

</script>

