<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE LAYOUT FOR WEB DEVELOPMENT Caregiver section.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: SHIVENDRA SUMAN
 * CREATOR: 27/04/2015.
 * UPDATED: 27/04/2015
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */
use Zend\Session\Container;

$this->_sessionObj = new Container('Researcher');
?>
<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
    <?php echo $this->headTitle($this->translate('Health-ePeople'))->setSeparator(' - ')->setAutoEscape(false); ?>
    <meta charset="utf-8">
    <?php
    echo $this->headMeta()
            ->appendName('viewport', 'width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
    ?>

    <!-- styles -->
    <?php
    if ($this->_sessionObj->isResearcherlogin == 1) {
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
               ->prependStylesheet($this->basePath() . '/css/individual_layout.css')
                ->prependStylesheet($this->basePath() . '/css/caregiver_layout.css')
                ->prependStylesheet($this->basePath() . '/css/researcher_layout.css');
    } else {
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/css/individual_layout.css');
    }
    ?>
    <!-- Scripts -->
    <?php
    echo $this->headScript()
            ->appendFile($this->basePath() . '/js/jquery-1.10.1.min.js')
            ->appendFile($this->basePath() . '/js/jquery-ui.js')
            ->appendFile($this->basePath() . '/js/jquery.validate.js')
            ->appendFile($this->basePath() . '/js/jquery.jscroll.min.js')
            ->appendFile($this->basePath() . '/js/jquery-ui-timepicker-addon.js')
            ->appendFile($this->basePath() . '/owl-carousel/owl.carousel.js')
             ->appendFile($this->basePath() . '/js/jquery.knob.js')
            ->appendFile($this->basePath() . '/js/functions.js')
            ->appendFile($this->basePath() . '/js/individualfunction.js')
            ->appendFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->appendFile($this->basePath() . '/js/placeholder.js', 'text/javascript', array('conditional' => 'lt IE 9',));
    ?>
    <!-- HEADER INCLUDE HERE-->
       <script>
            jQuery.fn.center = function () {

                this.css("position", "absolute");
                this.css("display", "block");
                this.css("top", (($(window).height() - this.outerHeight()) / 2) + $(window).scrollTop() + "px");
                this.css("left", (($(window).width() - this.outerWidth()) / 2) + $(window).scrollLeft() + "px");
                return this;
            }

            function showLoder(element) {
                $(element).center();
                $('body').addClass('ajaxOverlay');
            }

            function hideLoder(element) {
                $(element).hide();
                $('body').removeClass('ajaxOverlay');
            }

            $(document).ready(function () {
                //showLoder('#Processing');
                //hideLoder('#Processing');
                setTimeout(function () {
                    $('.successMsg').slideUp('slow');
                }, 3000);

//                setTimeout(function () {
//                    $('.errorMsg').slideUp('slow');
//
//                }, 3000);

            })
        </script>
        <style>
            .ajaxOverlay {
                background: none repeat scroll 0 0 #000;
                height: 100%;
                left: 0;
                opacity: 0.53;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 9998;
            }
        </style>

    </head>
    <body>
        <?php $basename = basename($_SERVER["REQUEST_URI"]);
        $accActivate = substr($basename, 0, 14);
        ?>
          <div style="display:none;z-index:9999;" id="Processing" align="center">
            <img src="<?= $this->basePath() . 'img/global_loader.gif'; ?>"/>
        </div>
        <?php echo $this->partial('header/researcherheader'); ?>
        <?php if ($this->_sessionObj->isResearcherlogin == 1 && $basename !== "researcher-login" && $basename !== "researcher-cgcongrates" && $basename != 'researcher-basicinfo' && $basename != 'researcher-contactinfo' && $basename != 'researcher-profileinfo' && $basename != 'researcher-tempass' && $accActivate != 'activateacount' && $basename != 'researcher-thankyou'): ?>
            <?php echo $this->partial('left-menu/researcher-left-menu'); ?>
        <?php endif; ?>
        <!-- MAIN BODY INCLUDE HERE-->
        <?php echo $this->content; ?>
        <!-- HEADER INCLUDE HERE-->
        <?php echo $this->partial('footer/researcherfooter'); ?>
        <?php echo $this->inlineScript(); ?>
        <?php echo $this->inlineScript(); ?>
    </body>
</html>