<?php
if (count($individualUser) > 0) { ?>
    <div class="userList">
        <?php foreach ($individualUser as $res) { ?>
            <div class="ul_row clearfix" id="<?= $res['UserID'] ?>">
                <div class="col wd50">
                    <?php
                    if ($res['Image']) {
                        $image = $this->Resize($this->serverUrl() . "/upload_image/" . $res['UserID'] . "/", $res['Image'], 100, 80);
                    } else {
                        $image = $this->serverUrl() . "/img/profile_image_avtar.png";
                    }
                    ?>
                    <div class="ul_photo"><img src="<?= $image ?>" alt=""/></div>
                    <h4><?= $res['FirstName'] . " " . $res['LastName'] ?></h4>
                    <h5><?php $age = $this->plugin->GetAge($res['Dob']);
                                    if ($age != "0") {
                                        echo $age . " Yrs, ";
                                    }  echo $res['state_name'] . "," . $res['country_name'] ?></h5>
                </div>
                <div class="col wd50 measureCol">
                    <span class="txt clearfix">
                        <div class="actionButtonWrapper">
                            <a href="javascript:void(0);" class="global_actionButton follow" onclick="sendInvitation('<?= $res['UserID'] ?>', '<?= $res['Email'] ?>')">+Send Request</a>
                        </div>
                    </span>

                </div>
            </div>
        <?php } ?>
        <li><a class="jscroll-next" href="cg-individual-list?page=<?= base64_encode($page); ?>&user_name=<?= $postval ?>"></a></li>
    </div>
<?php } else { ?>
    <div class="errorMsg">
        <span class="ui_icon error"></span>No Result found. </div> 
<?php } ?>
