<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE DASHBOARD PAGE FOR WEB DEVELOPMENT.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 12/12/2014.
 * UPDATED: 12/12/2014.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));

$CusConPlug = $this->custom_plugin;
?>
<script src="<?php echo $this->serverUrl(); ?>/js/highcharts.js"></script>
<script src="<?php echo $this->serverUrl(); ?>/js/no-data-to-display.js"></script>
<script type="text/javascript">
    $(function() {
<?php if (empty($this->yaxisData_height) && empty($this->yaxisData_weight)) { ?>
            Highcharts.setOptions({lang: {noData: "Height & Weight Graph Data Not Available"}});
<?php } ?>
        $('#container_weight_height').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Height & Weight',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 250,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData ?>]
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0 // this sets minimum values of y to 0
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                    name: 'Weight (<?= $this->weightUnit ?>)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_weight; ?>],
                    color: '#ffee50',
                }, {
                    name: 'Height (<?= $this->heightUnit ?>)',
                    marker: {
                        symbol: 'circle'
                    },
                    data: [<?php echo $this->yaxisData_height; ?>],
                    color: '#8fd1ff',
                }]
        });
<?php if (empty($this->yaxisData_distance) && empty($this->yaxisData_duration) && empty($this->yaxisData_cb)) { ?>
            Highcharts.setOptions({lang: {noData: "Activity Graph Data Not Available"}});
<?php } ?>
        // Physical activity graph
        $('#container_physical_activity').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Activity Graph',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 270,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }


            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: ''
                }
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true


            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }

            },
            series: [{
                    name: 'Distance',
                    color: '#E49033',
                    data: [<?php echo $this->yaxisData_distance; ?>],
                    stack: 'Physical Activty'
                }, {
                    name: 'Time',
                    color: '#E24033',
                    data: [<?php echo $this->yaxisData_duration; ?>],
                    stack: 'Physical Activty'
                }, {
                    name: 'Calories Burned',
                    color: '#1E68CC',
                    data: [<?php echo $this->yaxisData_cb; ?>],
                    stack: 'Physical Activty'
                }]
        });
<?php if (empty($this->yaxisData_calories) && empty($this->yaxisData_noofserving) && empty($this->yaxisData_servingsize)) { ?>
            Highcharts.setOptions({lang: {noData: "Food Graph Data Not Available"}});
<?php } ?>

        // food activity graph
        $('#container_food').highcharts({
            chart: {
                type: '<?= (isset($this->charttype) & !empty($this->charttype)) ? $this->charttype : "column" ?>'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Food Graph',
                align: 'left',
                x: 5
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 1,
                width: 300,
                floating: true,
                x: -15,
                symbolRadius: 0,
                symbolWidth: 5,
                symbolHeight: 5,
                enabled: true,
                itemStyle: {
                    textAlign: 'right',
                }
            },
            xAxis: {
                categories: [<?php echo $this->xaxisData; ?>]
            },
            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: ''
                }
            },
            tooltip: {
                /*formatter: function () {
                 return '<b>' + this.x + '</b><br/>' +
                 this.series.name + ': ' + this.y + '<br/>';
                 }*/
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                        '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                crosshairs: [true, true],
                shared: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }

            },
            series: [{
                    name: 'Calories',
                    color: '#E49033',
                    data: [<?php echo $this->yaxisData_calories; ?>],
                    stack: 'Food Activty'
                }, {
                    name: 'No Of Serving',
                    color: '#E24033',
                    data: [<?php echo $this->yaxisData_noofserving; ?>],
                    stack: 'Food Activty'
                }, {
                    name: 'Serving Size',
                    color: '#1E68CC',
                    data: [<?php echo $this->yaxisData_servingsize; ?>],
                    stack: 'Food Activty'
                }]
        });


    });
</script>

<div id="content-wrapper" class="clearfix">
    <!--Edit Goal of weight popup start here-->
    <div id="changeGoal_of_weight" class="grobalPopup popuBxWrap">

        <div class="gppBox">
            <div class="gppbxContainer" style="margin-top: -250px;">
                <div class="gppTitle">Add Details
                    <div onclick="gppClose('changeGoal_of_weight');" class="gppClose">X</div>
                </div>

                <div class="formWrapperContainer" style="width:92%; margin:20px auto 0">
                    <div id="succ_msg" style="text-align:center"></div>
                    <form name="add_target_weight" method="post" action="" id="add_target_weight">
                        <div class="row">
                            <label class="input_label">Current Weight(in Pounds)</label>
                            <div class="input">
                                <input type="text" placeholder="Current Weight" name="current_weight" class="number_dot" value="<?php
                                if ($this->Curr_weight) {
                                    echo $this->Curr_weight;
                                }
                                ?>" <?php
                                       if ($this->Curr_weight) {
                                           echo "readonly";
                                       }
                                       ?> id="current_weight" maxlength="6">
                                <input type="hidden" name="curr_wei_update" id="curr_wei_update" value="<?php
                                if ($this->Curr_weight) {
                                    echo "";
                                } else {
                                    echo "1";
                                }
                                ?>">
                            </div>
                        </div>
                        <div class="row">
                            <label class="input_label">Target Weight (in Pounds)</label>
                            <div class="input">
                                <input type="text" placeholder="Target Weight" class="number_dot" name="target_weight" id="target_weight" value="<?php
                                if ($this->Target_weight) {
                                    echo $this->Target_weight;
                                }
                                ?>" maxlength="6">
                                <input type="hidden" name="targate_update" id="targate_update" value="<?php
                                if ($this->Target_weight) {
                                    echo "1";
                                } else {
                                    echo "";
                                }
                                ?>">
                            </div>
                        </div>
                        <div class="row datefield">
                            <label class="input_label">Date (From)</label>
                            <div class="input">
                                <input type="text" placeholder="Target Weight" readonly name="date_from" id="date_from">
                            </div>
                        </div>
                        <div class="row">
                            <label class="input_label">Date (To)</label>
                            <div class="input datefield">
                                <input type="text" placeholder="Target Weight" readonly  name="date_to" id="date_to">
                            </div>
                        </div>
                        <div class="row last">
                            <div class="input_button">
                                <input type="submit" value="Update" class="submit_button" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="gppOverlay"></div>

    </div>
    <!--Edit Goal of weight popup end here-->

    <!--Add Food log popup start here-->
    <div id="add_food_log" class="grobalPopup popuBxWrap">
        <div class="gppBox">
            <div class="gppbxContainer">
                <div class="gppTitle">Add Food Log
                    <div onclick="gppClose('add_food_log');" class="gppClose">X</div>
                </div>
                <div id="succ_msg_food" style="text-align:center"> </div>
                <div class="formWrapperContainer" style="width:92%; margin:20px auto 0">
                    <form action="" method="post" name="add_food_log_form" id="add_food_log_form">
                        <div class="double clearfix">
                            <div class="row">
                                <label class="input_label">Food</label>
                                <div class="select">
                                    <select name="meal_type" id="meal_type" class="select" title="Select">
                                        <option value="">Select...</option>
                                        <option value="Breakfast">Breakfast</option>
                                        <option value="Dinner">Dinner</option>
                                        <option value="Lunch">Lunch</option>
                                        <option value="Snack">Snack</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row last">
                                <label class="input_label">Name</label>
                                <div class="input">
                                    <input type="text" placeholder="Name" name="name" id="name" autocomplete="off" />
                                </div>
                                <div id="food_list"></div>
                            </div>
                        </div>

                        <div class="double clearfix">
                            <div class="row datefield">
                                <label class="input_label">Date</label>
                                <div class="input">
                                    <input type="text" placeholder="Date" name="meal_date" id="meal_date" class="datepicker" />
                                </div>
                            </div>
                            <div class="row last">
                                <label class="input_label">Time</label>
                                <div class="input timefield">
                                    <input type="text" placeholder="Time" name="meal_time" id="meal_time" class="timepickerField" />
                                </div>
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <label class="input_label">Serving Size <label id="serving_size_unit" style="color:#666; font-size: 12px"></label></label>
                                <div class="input datefield">
                                    <input type="number" min="0" placeholder="Serving Size" name="serving_size" id="serving_size"  class="number_dot" />
                                </div>
                                <input type="hidden" name="serving_size_actual" id="serving_size_actual"  class="number_dot">
                            </div>
                            <div class="row last">
                                <label class="input_label">No. Of Servings <label id="num_of_servings_unit" style="color:#666;font-size: 12px">(gm)</label></label>
                                <div class="input">
                                    <input type="text" placeholder="No. Of Servings" name="num_of_servings" id="num_of_servings"  class="number_dot" maxlength="4" />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <label class="input_label">Calories</label>
                            <div class="input">
                                <input type="text" placeholder="Calories" name="calories" id="calories" class="number_dot" />
                            </div>
                            <input type="hidden" name="calories_actual" id="calories_actual"  class="number_dot" />
                        </div>
                        <div class="row">
                            <label class="input_label">Notes</label>
                            <div class="input">
                                <textarea name="notes" rows="" cols="" placeholder="Notes"></textarea>
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div class="input_button">
                                    <input type="submit" value="Save" class="submit_button" id="submit_food_log" />
                                </div>
                            </div>
                            <div class="row last">
                                <div class="input_button">
                                    <input type="button" value="Cancel" onclick="gppClose('add_food_log');" class="cancel_button submit_button" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="gppOverlay"></div>
    </div>
    <!--Add Food log popup end here-->


    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| Weight &amp; Food Management</div>
        <?php echo $this->partial('filter/filter_form'); ?> <!-- append filter page-->
    </div>
    <div class="pageWrapper">
        <div class="doubleGraphRow clearfix">
            <div class="graphRow">
                <a class="edit_activity" href="javascript:void(0);" style="top:-6px; bottom:inherit" onclick="gppOpen('changeGoal_of_weight');"></a>
                <div class="graphBox">
                    <div class="graph_header">
                        <span class="graph_title">Goal</span>
                    </div>
                    <div class="graph">
                        <div class="weight_box_val current_weight">
                            <span class="Tweight" style="color: #0000FF; font-size:45px;"><?php
                                if ($this->Curr_weight != '0.0') {
                                    echo $this->Curr_weight;
                                } else {
                                    echo "No Data";
                                }
                                ?></span> <?php echo ($this->Curr_weight != '0.0' ? '<span style="font-size:20px;">Pounds</span>' : '') ?>
                            <span class="weight_lable">Current Weight</span>
                        </div>
                        <div class="weight_box_val target_weight">
                            <span class="Tweight" style="color: #8B0000; font-size:45px;"><?php
                                if ($this->Target_weight != '0.0') {
                                    echo $this->Target_weight;
                                } else {
                                    echo "No Data";
                                }
                                ?></span> <?php echo ($this->Target_weight != '0.0' ? '<span style="font-size:20px;">Pounds</span>' : '') ?>
                            <span class="weight_lable">Target Weight</span>
                        </div>
                        <div class="clr"></div>
                        <div class="graph_header">
                            <div class="graph_title" style="padding:8px 0">Time Period :</div>
                            <span class="graph_title">From : </span><span class="date"><?php
                                $date = date_create($this->fromDate);
                                echo date_format($date, 'd M, Y');
                                ?> </span> 
                            <span class="graph_title">To : </span><span class="date"><?php
                                $todate = date_create($this->toDate);
                                echo date_format($todate, 'd M, Y');
                                ?></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- height weight graph Start -->
            <div class="graphRow last">
                <div class="graphBox">
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Body Weight</span>
                    </div>
                    <div class="graph">
                        <div id="container_weight_height"></div>
                    </div>
                </div>
            </div>
            <!-- height weight graph End-->
        </div>				
        <div class="doubleGraphRow clearfix">
            <div class="graphRow">
                <div class="graphBox">     
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Food Graph</span>
                    </div>
                    <div class="graph">
                        <div id="container_food"></div>
                    </div>
                    <div class="formWrapperContainer" style="width:50%; margin:20px auto">
                        <a href="javascript:void(0)" class="submit_button"  onclick="gppOpen('add_food_log');" title="Click to Add Food Log">Add to Log</a>
                    </div>
                </div>
            </div>
            <!--- Activity Graphs Start -->
            <div class="graphRow last">
                <div class="graphBox">    
                    <div class="graph_header graph_headerDash">
                        <span class="graph_title">Activity Graph</span>
                    </div>
                    <div class="graph">
                        <div id="container_physical_activity"></div>
                    </div>
                </div>
            </div>
            <!-- Activity Graphs End -->
        </div>
    </div>
</div>
<script>
    var isfromselect = 0;
    $(document).ready(function(e) {
        $('.doubleGraphRow').each(function() {
            equalHeight($(this).find('.graphBox'));
        });
        $("#add_target_weight").validate({
            rules: {
                current_weight: "required",
                target_weight: "required",
                date_from: "required",
                date_to: "required",
            },
            messages: {
                current_weight: {
                    required: "Please enter current weight."
                },
                target_weight: {
                    required: "Please enter target weight."
                },
                date_from: {
                    required: "Please select from date."
                },
                date_to: {
                    required: "Please select to date."
                }
            },
            submitHandler: function(form) {
                var current_weight = $("#current_weight").val();
                var target_weight = $("#target_weight").val();
                var date_from = $("#date_from").val();
                var date_to = $("#date_to").val();
                if (new Date(date_to) <= new Date(date_from)) {
                    $('#succ_msg').html("<font color='red'>To date should not greater than From date !</font>");
                    $('#succ_msg').fadeIn('fast').delay(2000).fadeOut('slow');
                    return false;
                }


                var curr_wei_update = $("#curr_wei_update").val();
                var targate_update = $("#targate_update").val();
                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/addtargetweight",
                    data: {target_weight: target_weight, current_weight: current_weight, date_from: date_from, date_to: date_to, curr_wei_add: curr_wei_update, targate_update: targate_update}
                }).done(function(resp) {

                    if (resp == 1) {
                        $('#succ_msg').html("<font color='green'>Target weight has been added successfully.</font>");
                        setTimeout(function() {
                            window.location.href = "individual-weight-management";
                        }, 2000);
                    } else {
                        $('#succ_msg').html("<font color='red'>Something happening wrong.</font>");
                        $('#succ_msg').fadeIn('fast').delay(1000).fadeOut('slow');
                        return false;
                    }
                });
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.parents("div.row"));
                //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
            }
        });

        $("#add_food_log_form").validate({
            rules: {
                meal_type: "required",
                name: "required",
                meal_date: "required",
                meal_time: "required",
                // num_of_servings: "required",
                serving_size: "required",
                calories: "required"

            },
            messages: {
                meal_type: {
                    required: "Please select meal type."
                },
                name: {
                    required: "Please enter meal name."
                },
                meal_date: {
                    required: "Please select date."
                },
                meal_time: {
                    required: "Please select time."
                },
//                num_of_servings: {
//                    required: "Please enter no of servings."
//                },
                serving_size: {
                    required: "Please enter serving size."
                },
                calories: {
                    required: "Please select to date."
                }


            },
            submitHandler: function(form) {
                $("#submit_button").prop("disabled", true);

                $.ajax({
                    type: "POST",
                    url: "/individual/ajax/addfoodsdrink",
                    data: $('#add_food_log_form').serialize(),
                    success: function(resp) {
                        if (resp == 1) {
                            $('#succ_msg_food').html("<font color='green'>Food log added successfully.</font>");
                            setTimeout(function() {
                                window.location.href = "individual-weight-management";
                            }, 2000);
                        } else {
                            $("#submit_button").prop("disabled", false);
                            $('#succ_msg_food').html("<font color='red'>Something happening wrong.</font>");
                            $('#succ_msg_food').fadeIn('fast').delay(1000).fadeOut('slow');
                            return false;
                        }
                    }
                });
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.parents("div.row"));
                //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
            }
        });

        DatePicker();
        function DatePicker() {
            $("#date_from").datepicker({
                dateFormat: 'dd M yy',
                changeMonth: true,
                changeYear: true,
//                onClose: function (selectedDate, inst) {
//                    $("#date_to").datepicker("option", "minDate", selectedDate);
//                }
                //minDate: new Date,
                //yearRange: "1920:c"
            });
            $("#date_from").datepicker("setDate", new Date());

            $("#date_to").datepicker({
                dateFormat: 'dd M yy',
                changeMonth: true,
                changeYear: true,
                //minDate: '#date_from'
                //minDate: new Date,
                //yearRange: "1920:c"
            });
        }
        DatePicker_Log();
        function DatePicker_Log() {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1920:c",
                dateFormat: 'dd M yy',
                maxDate: new Date,
            });
            $('.timepickerField').timepicker({
                hourGrid: 4,
                minuteGrid: 10,
                timeFormat: 'hh:mm tt'
            });
            $(".datepicker").datepicker("setDate", new Date());
            $(".timepickerField").timepicker("setTime", new Date());
        }

        $("#name").keyup(function() {
            var val = $(this).val().trim();
            var length = val.length;
            $('#food_list').show();
            $('#food_list').html('');
//                alert(length);
//                exit;
            // if(length >= 3)
            $.ajax({
                type: "POST",
                url: "/individual/ajax/listfoodname",
                data: {name: val},
                success: function(res) {
                    //alert(res);
                    $('#food_list').html(res);
                }
            });
        });


    });

    function funfood(itemname, itemid) {
        // var datas = 'Item name '+ itemname + 'item id'+itemid;
        document.getElementById('calories').value = '';
        document.getElementById('name').value = '';
        document.getElementById('name').value = itemname;
        $.ajax({
            type: "POST",
            url: "/individual/ajax/listfooddetails",
            data: {ItemId: itemid},
            success: function(res) {
                //$('#food_list').html(res);
                isfromselect = 1;
                var obj = JSON.parse(res);
                var caloriesval = obj.calories;
                var sizeval = obj.size;
                var unitval = obj.unit;
                var weightval = obj.weight;
                var servingunitval = obj.servingunit;
                //alert(Caloriesval);
                //document.getElementById('calories').value = caloriesval;
                $('#calories').val(caloriesval);
                $('#calories_actual').val(caloriesval);
                $('#serving_size').val(sizeval);
                $('#serving_size_actual').val(sizeval);
                $('#serving_size_unit').html(unitval);
                $('#num_of_servings').val(weightval);
                $('#food_list').hide();

                //document.getElementsById('food_list').style.display = 'none';
            }
        });
    }

    $('#serving_size').blur(function() {
        var svalue = $(this).val();
        var caloriesval;
        if (isfromselect == 1) {
            var actualCalorie = $('#calories_actual').val().trim();
            var actualServSize = $('#serving_size_actual').val();
            // var actualCalorie = $('#calories').val().trim();
            if (actualServSize > 0) {
                caloriesval = svalue * (actualCalorie / actualServSize);
                document.getElementById('calories').value = caloriesval;
            }

        }
    });

</script>

<!--Container end here--> 

