<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE Individual SETTINGS.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 22/01/2015.
 * UPDATED: 22/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>

<div id="content-wrapper" class="clearfix">
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| My Profile Settings</div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="cg-basic-info" class="item ">Basic</a>
                <a href="cg-contact-info" class="item selected">Contact</a>
                <a href="cg-profile-info" class="item">Profile</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>
        <div class="boxWrap clearfix" style="padding:20px;">
            <a href="javascript:void(0);" class="update_profile_button" title="Update Profile">Edit</a>
            <div class="basic_profile_form basic_profile_from_value" style="display:block">
                <div class="formContainer formWrapperContainer" style="margin-left:0">
                    <h2 class="page_heading page_heading_basic"></h2>
                    <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">Street Address 1 :</span> 
                            <span class="formF_value"><?php echo (isset($this->contactDetails['street_address1']) ? $this->contactDetails['street_address1'] : '' ); ?></span>                                   
                        </div>
                        <div class="row clearfix last">
                            <span class="formF_lable">Street Address 2 :</span> 
                            <span class="formF_value">
                                <?php echo (isset($this->contactDetails['street_address2']) ? $this->contactDetails['street_address2'] : '' ); ?>                               
                            </span>                                   
                        </div>
                    </div>
                    <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">City :</span> 
                            <span class="formF_value">
                                <?php echo (isset($this->contactDetails['city']) ? $this->contactDetails['city'] : '' ); ?>                               
                            </span>                                   
                        </div>
                        <div class="row clearfix last">
                            <span class="formF_lable">State :</span> 
                            <span class="formF_value">
                                <?php echo $this->user_state ?>
                            </span>                                   
                        </div>
                    </div>
                     <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">Country :</span> 
                            <span class="formF_value"><?php echo $this->contactDetails['country_name'] ?></span>                                   
                        </div>
                        <div class="row last clearfix">
                            <span class="formF_lable">County. :</span> 
                            <span class="formF_value"><?php echo $this->contactDetails['county_name'] ?></span>                                   
                        </div>
                    </div> 
                    <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">Ethnicity :</span> 
                            <span class="formF_value"><?php echo $this->contactDetails['ethnicity_name'] ?></span>                                   
                        </div>
                        <div class="row last clearfix">
                            <span class="formF_lable">Origin. :</span> 
                            <span class="formF_value"><?php echo $this->contactDetails['origin_name'] ?></span>                                   
                        </div>
                    </div>                  
                    <div class="double clearfix">
                        <div class="row  clearfix">
                            <span class="formF_lable">Phone No. :</span> 
                            <span class="formF_value">
                                <?php echo (isset($this->contactDetails['phone_no']) ? $this->contactDetails['phone_no'] : '' ); ?>
                            </span>                                   
                        </div>
                        <div class="row last clearfix">
                            <div class="formF_lable">Postal Code :</div> 
                            <div class="formF_value">
                                <?php echo (isset($this->contactDetails['postal_code']) ? $this->contactDetails['postal_code'] : '' ); ?>

                            </div>                                   
                        </div>
                    </div>
                </div>
            </div>
            <div class="basic_profile_form basic_profile_from_field" >
                <div class="formContainer formWrapperContainer" style="margin-left:0">
                    <form name="my_profile_contact_form" id="my_profile_contact_form" action="" method="post">
                        <input type="hidden" name="contact_info_id" value="<?php echo (isset($this->contactDetails['contact_info_id']) ? $this->contactDetails['contact_info_id'] : ''); ?>" />

                        <div class="row">
                            <div class="input">
                                <input type="text" placeholder="Enter Your Street Address 1" name="address1" id="address1" value="<?php echo (isset($this->contactDetails['street_address1']) ? $this->contactDetails['street_address1'] : '' ); ?>" autocomplete="off" class="nospecial_char"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input">
                                <input type="text" placeholder="Enter Your Street Address 2" name="address2" id="address2" value="<?php echo (isset($this->contactDetails['street_address2']) ? $this->contactDetails['street_address2'] : '' ); ?>" autocomplete="off" class="nospecial_char"/>
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div class="select">
                                    <select title="Your Country *" class="select" name="country" id="country" onchange="getState(this.value);getEthnicity(this.value)">
                                        <option value="">Your Country</option>
                                        <?php
                                        $countryArr = $this->country;
                                        foreach ($countryArr as $val):
                                            ?>
                                            <option value="<?php echo $val['country_id']; ?>" <?php echo (isset($this->contactDetails['country_id']) ? (($this->contactDetails['country_id'] == $val['country_id']) ? 'selected' : '') : ''); ?>><?php echo $val['country_name']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="row last">
                                <div class="select" id="ajaxstate">
                                    <select title="Your State" class="select" name="state" id="state" onchange="getCounty(this.value)">
                                        <?php if (count($this->states) > 0) { ?>
                                            <option value="">Your State</option>
                                            <?php foreach ($this->states as $vals) { ?>
                                                <option value="<?php echo $vals['state_id']; ?>" <?php echo (isset($this->contactDetails['state_id']) ? (($this->contactDetails['state_id'] == $vals['state_id']) ? 'selected' : '') : ''); ?>><?php echo $vals['state_name']; ?></option>
                                            <?php } ?>
                                        <?php } else { ?>
                                            <option value="">No State</option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div id="ajaxcounty">
                                    <div class="select">
                                        <select title="Your County" class="select" name="county" id="county">
                                            <?php if (count($this->county) > 0) { ?>
                                                <option value="">Your County</option>
                                                <?php foreach ($this->county as $valc) { ?>
                                                    <option value="<?php echo $valc['county_id']; ?>" <?php echo (isset($this->contactDetails['county_id']) ? (($this->contactDetails['county_id'] == $valc['county_id']) ? 'selected' : '') : ''); ?>><?php echo $valc['county_name']; ?></option>
                                                <?php } ?>
                                            <?php } else { ?>
                                                <option>No County</option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row last">
                                <div class="input">
                                    <input type="text" placeholder="City *" name="city" id="city" value="<?php echo (isset($this->contactDetails['city']) ? $this->contactDetails['city'] : '' ); ?>" autocomplete="off" class="nospecial_char"/>
                                </div>
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div class="select">
                                    <select title="Country of Origin" class="select" name="origin" id="origin">
                                        <option value="">Country of Origin</option>
                                        <?php
                                        $countryArr = $this->country;
                                        foreach ($countryArr as $val):
                                            ?>
                                            <option value="<?php echo $val['country_id']; ?>" <?php if ($this->contactDetails['origin_id'] == $val['country_id']) {
                                                echo "selected";
                                            } ?>><?= $val['country_name'] ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="row last">
                                <div class="select" id="ajaxethnicity">
                                    <select title="Your Ethnicity" class="select" name="ethnicity" id="ethnicity">
                                        <option value="">Your Ethnicity</option>
                                            <option value="0" <?php if($this->contactDetails['ethnicity_name']){echo 'selected';}?> ><?php echo $this->contactDetails['ethnicity_name']; ?></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div class="input">
                                    <input type="text"  class="number_validate" placeholder="Phone Number *" name="phone_number" id="phone_number" value="<?php echo (isset($this->contactDetails['phone_no']) ? $this->contactDetails['phone_no'] : '' ); ?>" maxlength="10" autocomplete="off" />
                                </div>
                            </div>

                            <div class="row last">
                                <div class="input">
                                    <input type="text" class="" placeholder="Postal Code *" name="postal_code" id="postal_code" value="<?php echo (isset($this->contactDetails['postal_code']) ? $this->contactDetails['postal_code'] : '' ); ?>" autocomplete="off" maxlength="6" />
                                </div>
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div class="input_button">
                                    <input type="submit" value="Update" class="submit_button" />
                                </div>
                            </div>
                            <div class="row last">
                                <div class="input_button">
                                    <input type="button" value="Cancel" class="submit_button cancel_button" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>  
            </div> 
        </div>
    </div>
    <style>
        .formWrapperContainer .row span.select{
            width:auto
        }
        input[type="text"]:disabled { background: #ccc; }
    </style>
    <script>
        $(function() {

            $('.update_profile_button').click(function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    $('.basic_profile_form.basic_profile_from_value').slideUp();
                    $('.basic_profile_form.basic_profile_from_field').slideDown();
                    $(this).hide();
                }
            });
            $('.basic_profile_form .cancel_button').click(function() {
                $('.update_profile_button').show();
                $('.basic_profile_form.basic_profile_from_value').slideDown();
                $('.basic_profile_form.basic_profile_from_field').slideUp();
            });

            $("#my_profile_contact_form").validate({
                rules: {
                    address1: {
                        required: true,
                        maxlength: 100
                    },
                    address2: {
                        //required: false,
                        maxlength: 100
                    },
                    ethnicity: {
                            required: true
                        },
                    phone_number: {
                        required: true,
                        number: true,
                        minlength: 7,
                        maxlength: 10
                    },
                    postal_code: {
                        required: true,
                        //number: true,
                        minlength: 5,
                        maxlength: 6

                    },
                    county: {
                        required: true
                    },
                    city: {
                        required: true
                    },
                    state: {
                        required: true
                    },
                    country: {
                        required: true
                    }

                },
                messages: {
                    address1: {
                        required: "Please enter street address 1.",
                        maxlength: "Address must be  maximum 100 character"
                    },
                    address2: {
                        maxlength: "Address must be  maximum 100 character"
                    },
                    phone_number: {
                        required: "Please enter phone number.",
                        minlength: "Please enter valid contact number."
                    },
                    postal_code: {
                        required: "Please enter postal.",
                        minlength: "Please enter minimum 5 digit."
                    },
                    county: {
                        required: "Please select county.",
                    },
                    city: {
                        required: "Please enter city.",
                    },
                    state: {
                        required: "Please select state.",
                    },
                    country: {
                        required: "Please select country.",
                    }
                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.parents("div.row"));
                    //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
                }
            });
        });
        function getEthnicity(countryId) {
            $.ajax({
                type: "POST",
                url: "/individual/ajax/getethnicity",
                data: {countryId: countryId}
            }).done(function(msg) {
                $('#ajaxethnicity').html(msg);
                custom_selectboxEthnicity();
            });
        }
        function getState(countryId) {
            $.ajax({
                type: "POST",
                url: "/individual/ajax/getstatesdata",
                data: {countryId: countryId}
            }).done(function(msg) {
                $('#ajaxstate').html(msg);
                custom_selectboxNew();
            });
        }

        function getCounty(stateId) {
            $.ajax({
                type: "POST",
                url: "/individual/ajax/getcounty",
                data: {stateId: stateId}
            }).done(function(msg) {
                $('#ajaxcounty').html(msg);
                custom_selectboxcounty();
            });
        }

    </script>
</div>
<!--Container end here--> 