<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE Individual SETTINGS.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Shivendra Suman.
 * CREATOR: 22/01/2015.
 * UPDATED: 22/01/2015.
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

$this->headTitle($this->translate($this->pageTitle));
?>
<!-- Left menu Section end here -->

<div id="content-wrapper" class="clearfix">
    <div class="pghFixed pghFixedIndv">
        <div class="pgh_title">| My Profile Settings</div>
        <div class="pgh_mWrap">
            <div class="pgh_menu">
                <a href="cg-basic-info" class="item ">Basic</a>
                <a href="cg-contact-info" class="item">Contact</a>
                <a href="cg-profile-info" class="item selected">Profile</a>
            </div>
        </div>
    </div>
    <div class="pageWrapper">
        <?php foreach ($this->flashMessenger()->getCurrentMessages() AS $msg) { ?>
            <?php if (isset($msg["error"]) && $msg["error"] != ""): ?>
                <div class="errorMsg">
                    <span class="ui_icon error"></span>
                    <?php echo $msg["error"]; ?>
                </div>

            <?php endif; ?>
            <?php if (isset($msg["success"]) && $msg["success"] != ""): ?>
                <div class="successMsg">
                    <span class="ui_icon success"></span>
                    <?php echo $msg["success"]; ?>
                </div>               
            <?php endif; ?>
        <?php } ?>

        <div class="boxWrap clearfix" style="padding:20px;">
            <a href="javascript:void(0);" class="update_profile_button" title="Update Profile">Edit</a>
            <div class="basic_profile_form basic_profile_from_value" style="display:block">
                <div class="formContainer formWrapperContainer" style="margin-left:0">
                    <div class="row clearfix">
                        <div class="upload_profile_image">
                            <?php
                            if (!empty($this->userImage)) {
                                $imgurl = "/upload_image/" . $this->userId . "/" . $this->userImage;
                            } else {
                                $imgurl = "/img/profile_image_avtar.png";
                            }
                            ?>
                            <img src="<?php echo $this->serverUrl() . $imgurl; ?>" alt="Profile image" class="uploadProfilePic_img" />
                        </div>
                    </div>
                    <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">Highest Education :</span> 
                            <span class="formF_value"><?php echo $this->userEducation; ?></span>                                   
                        </div>

                        <!--                        <div class="row clearfix last">
                                                    <span class="formF_lable">Ethnicity :</span> 
                                                    <span class="formF_value"><?php echo $this->userEthnicity; ?></span>                                   
                                                </div>-->
                    </div>

                    <?php if ($this->isResearcher == 1) { ?>
                        <div class="double clearfix">
                            <div class="row clearfix">
                                <span class="formF_lable">Institute Name :</span> 
                                <span class="formF_value"><?php echo (isset($this->profileDetails[0]['institute_name']) ? $this->profileDetails[0]['institute_name'] : ''); ?></span>                                   
                            </div>
                            <div class="row clearfix last">
                                <span class="formF_lable">Department :</span> 
                                <span class="formF_value"><?php echo (isset($this->profileDetails[0]['department'])? : ''); ?></span>                                   
                            </div>
                        </div>
                        <div class="double clearfix">
                            <div class="row clearfix">
                                <span class="formF_lable">Department Phone :</span> 
                                <span class="formF_value"><?php echo (isset($this->profileDetails[0]['dept_phone1']) ? $this->profileDetails[0]['dept_phone1'] : ''); ?></span>                                   
                            </div>
                            <div class="row last clearfix">
                                <span class="formF_lable">Work Phone :</span> 
                                <span class="formF_value"><?php echo (isset($this->profileDetails[0]['work_phone']) ? $this->profileDetails[0]['work_phone'] : ''); ?></span>                                   
                            </div>
                        </div> 
                        <div class="row clearfix">
                            <div class="row clearfix">
                                <span class="formF_lable">Department Head:</span> 
                                <span class="formF_value"><?php echo (isset($this->profileDetails[0]['dept_head_name']) ? $this->profileDetails[0]['dept_head_name'] : ''); ?></span>                                   
                            </div>

                        </div>  
                    <?php } ?>
                    <div class="row clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">Blood Type:</span> 
                            <span class="formF_value"><?php echo (isset($this->profileDetails[0]['blood_type']) ? $this->profileDetails[0]['blood_type'] : ''); ?></span>                                   
                        </div>

                    </div> 


                    <?php if ($this->isCaregiver == 1) { ?>
                        <div class="row clearfix">
                            <div class="row clearfix">
                                <span class="formF_lable">Name of Practice</span> 
                                <span class="formF_value"><?php echo (isset($this->profileDetails[0]['practice_name']) ? $this->profileDetails[0]['practice_name'] : ''); ?></span>                                   
                            </div>

                        </div>                  
                    <?php } ?>

                    <div class="double clearfix">
                        <div class="row clearfix">
                            <span class="formF_lable">Income In Dollar :</span> 
                            <span class="formF_value"><?php echo (isset($this->profileDetails[0]['income']) ? $this->profileDetails[0]['income'] : ''); ?></span>                                   
                        </div>
                        <div class="row clearfix last">
                            <span class="formF_lable">Language :</span> 
                            <span class="formF_value"><?php echo $this->userLanguage; ?></span>                                   
                        </div>
                    </div>
                </div>

            </div>


            <div class="basic_profile_form basic_profile_from_field" >
                <div class="formContainer formWrapperContainer" style="margin-left:0">
                    <form name="signup_profile" id="signup_profile" action="" method="post" enctype="multipart/form-data">
                        <div class="row clearfix">
                            <?php
                            if (!empty($this->userImage)) {
                                $imgurl = "/upload_image/" . $this->userId . "/" . $this->userImage;
                            } else {
                                $imgurl = "/img/profile_image_avtar.png";
                            }
                            ?>
                            <div class="upload_profile_image" onClick="javascript:document.getElementById('UploadProfilePic').click();">
                                <img src="<?php echo $this->serverUrl() . $imgurl; ?>" alt="Profile image" class="uploadProfilePic_img" title="click here to change image"/>
                                <input type="file" name="profile_pic" id="UploadProfilePic" onChange="readURL(this);" />
                            </div>
                            <div id="file_error"></div>
                        </div>
                        <div class="double clearfix">
                            <div class="row">
                                <div class="select">
                                    <select title="Highest Education " class="select" name="education" id="education">
                                        <option value="">Highest Education </option>
                                        <?php foreach ($this->education as $edu) : ?>
                                            <option value="<?php echo $edu['education_id']; ?>" <?php echo (isset($this->profileDetails[0]['education_degree']) ? (($this->profileDetails[0]['education_degree'] == $edu['education_id']) ? 'selected' : '') : '' ) ?>><?php echo $edu['highest_degree_name']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <?php if ($this->isCaregiver == 1) { ?>
                                <div class="row last">
                                    <div class="input">
                                        <input type="text" placeholder="Name of practice " id = "practice" name="practice" value="<?php echo (isset($this->profileDetails[0]['practice_name']) ? $this->profileDetails[0]['practice_name'] : ''); ?>" autocomplete="off" class="nospecial_char">
                                    </div>
                                </div>
                            <?php } ?>
                            <!--                            <div class="row last">
                                                            <div class="select">
                                                                <select title="Ethnicity *" class="select" name="ethnicity" id="ethnicity">
                                                                    <option value="">Ethnicity *</option>
                            <?php foreach ($this->ethnicity as $ethni) : ?>
                                                                                <option value="<?php echo $ethni['ethnicity_id']; ?>" <?php echo (isset($this->profileDetails[0]['ethnicity']) ? (($this->profileDetails[0]['ethnicity'] == $ethni['ethnicity_id']) ? 'selected' : '') : '') ?>><?php echo $ethni['ethnicity_name']; ?></option>
                            <?php endforeach; ?>
                                                                </select>
                                                            </div>
                                                        </div>-->
                        </div>

                        <?php if ($this->isResearcher == 1) { ?>

                            <div class="double clearfix">
                                <div class="row">
                                    <div class="input">
                                        <input type="text" placeholder="Institute name " id = "institute" value="<?php echo (isset($this->profileDetails[0]['institute_name']) ? $this->profileDetails[0]['institute_name'] : ''); ?>"  name="institute" autocomplete="off" class="nospecial_char">
                                    </div>
                                </div>
                                <div class="row last">
                                    <div class="input">
                                        <input type="text" placeholder="Department name " value="<?php echo (isset($this->profileDetails[0]['department']) ? $this->profileDetails[0]['department'] : ''); ?>" id = "depratment" name="depratment" autocomplete="off" class="nospecial_char">
                                    </div>
                                </div>
                            </div>
                            <div class="double clearfix">
                                <div class="row">
                                    <div class="input">
                                        <input type="text" class="number_validate" placeholder="Department Phone" id = "dept_phone" name="dept_phone" value="<?php echo (isset($this->profileDetails[0]['dept_phone1']) ? $this->profileDetails[0]['dept_phone1'] : ''); ?>" maxlength=12 autocomplete="off">
                                    </div>
                                </div>
                                <div class="row last">
                                    <div class="input">
                                        <input type="text" class="number_validate" placeholder="Work Phone " id = "work_phone" name="work_phone" value="<?php echo (isset($this->profileDetails[0]['work_phone']) ? $this->profileDetails[0]['work_phone'] : ''); ?>" maxlength=12 autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input">
                                    <input type="text" placeholder="Department head name" id = "dept_head_name" name="dept_head_name" value="<?php echo (isset($this->profileDetails[0]['dept_head_name']) ? $this->profileDetails[0]['dept_head_name'] : ''); ?>" autocomplete="off" class="nospecial_char">
                                </div>
                            </div>
                        <?php } ?>
                        <div class="row clearfix">
                            <div class="select">
                                <select title="Blood Type" class="select" name="blood_type" id="blood_type">
                                    <option value="">Blood Type</option>
                                    <?php foreach ($this->bloodtype as $langu) : ?>
                                        <option value="<?php echo $langu['blood_id']; ?>" <?php echo (isset($this->profileDetails[0]['blood_group']) ? (($this->profileDetails[0]['blood_group'] == $langu['blood_id']) ? 'selected' : '') : '') ?> ><?php echo $langu['blood_type']; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="double clearfix">

                            <div class="row">
                                <div class="select">
                                    <select title="Income" class="select" name="income">
                                        <option value="">Your Income</option>
                                        <?php foreach ($this->IncomeArr as $langu) : ?>
                                            <option value="<?php echo $langu['range']; ?>" <?php echo (isset($this->profileDetails[0]['income']) ? (($this->profileDetails[0]['income'] == $langu['range']) ? 'selected' : '') : '') ?> ><?php echo $langu['range']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="row last">
                                <div class="select">
                                    <select title="Language" class="select" name="language" id="language">
                                        <option value="">Language</option>
                                        <?php foreach ($this->language as $langu) : ?>
                                            <option value="<?php echo $langu['laguage_id']; ?>" <?php echo (isset($this->profileDetails[0]['language']) ? (($this->profileDetails[0]['language'] == $langu['laguage_id']) ? 'selected' : '') : '') ?> ><?php echo $langu['language']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="double clearfix">
                                <div class="row">
                                    <div class="input_button">
                                        <input type="submit" value="Update" class="submit_button" />
                                    </div>
                                </div>
                                <div class="row last">
                                    <div class="input_button">
                                        <input type="button" value="Cancel" class="submit_button cancel_button" />
                                    </div>
                                </div>
                            </div>                    
                        </div> 
                    </form>
                </div>  
            </div>
        </div>
        <script>

        </script>
        <style>
            .formWrapperContainer .row span.select{
                width:auto
            }
        </style>
        <script>
            $(function() {
                $('.update_profile_button').click(function() {
                    $(this).toggleClass('active');
                    if ($(this).hasClass('active')) {
                        $('.basic_profile_form.basic_profile_from_value').slideUp();
                        $('.basic_profile_form.basic_profile_from_field').slideDown();
                        $(this).hide();
                    }
                });
                $('.basic_profile_form .cancel_button').click(function() {
                    $('.update_profile_button').show();
                    var validator = $("#signup_profile").validate();
                    validator.resetForm();
                    window.location.reload();
                    $('.basic_profile_form.basic_profile_from_value').slideDown();
                    $('.basic_profile_form.basic_profile_from_field').slideUp();
                });
            });
        </script>
        <script>
            $(document).ready(function(e) {
                $("#signup_profile").validate({
                    rules: {
                        //                        education: {
                        //                            required: true
                        //                        },
                        //                        work_phone: {
                        //                            number: true,
                        //                            minlength: 5,
                        //                            maxlength: 10,
                        //                            required: <?php
                                        if ($this->isResearcher == 1) {
                                            echo "true";
                                        } else {
                                            echo "false";
                                        }
                                        ?>//
                        //                        },
                        //                        depratment: {
                        //                            required: <?php
                                        if ($this->isResearcher == 1) {
                                            echo "true";
                                        } else {
                                            echo "false";
                                        }
                                        ?>//
                        //                        },
                        //                        institute: {
                        //                            required: <?php
                                        if ($this->isResearcher == 1) {
                                            echo "true";
                                        } else {
                                            echo "false";
                                        }
                                        ?>//
                        //                        }
                        //                        ,
                        //                        practice: {
                        //                            required: <?php
                                        if ($this->isCaregiver == 1) {
                                            echo "true";
                                        } else {
                                            echo "false";
                                        }
                                        ?>//
                        //                        }
                    },
                    messages: {
                        education: {
                            required: "Please select highest education."
                        },
                        ethnicity: {
                            required: "Please select ethnicity."
                        },
                        work_phone: {
                            number: "Please enter valid work phone.",
                            minlength: "Work phone should be greater then or equal to 5",
                            maxlength: "Work phone should be less then or equal to 10",
                            required: "Please enter work phone."
                        }
                        ,
                        depratment: {
                            required: "Please enter depratment."
                        }
                        ,
                        practice: {
                            required: "Please enter practice."
                        }
                        ,
                        institute: {
                            required: "Please enter institute."
                        }
                    },
                    submitHandler: function(form) {
                        var incomeVal = $('#income').val().trim();
                        if (incomeVal !== '') {
                            if (incomeVal.charAt(0) == 0) {
                                $('#err_income').html("<font color='red'>Enter valid income.</font>");
                                $('#err_income').fadeIn('fast').delay(1000).fadeOut('slow');
                                return false;
                            }
                        }

                        document.getElementById("signup_profile").submit();
                    },
                    errorPlacement: function(error, element) {
                        error.appendTo(element.parents("div.row"));
                        //error.appendTo(element.parents("div.checkbox_col").parent("div.row"));		
                    }
                });
            });

        </script>
    </div>
</div>
<!--Container end here--> 