<style>
    label.error {
        color: #CD0A0A !important;
        padding-left: 5px !important;
        font-size: 12px !important;
    }
</style>
<?php
$FormData = json_decode($json, true);
$FormData = isset($FormData[$selPos][$varSetDataArray[$selPos]]) ? $FormData[$selPos][$varSetDataArray[$selPos]] : NULL;
?>
<script>
    $(document).ready(function () {
        $("#AddSymptomForm").validate({
            errorPlacement: function (error, element) {
                error.appendTo(element.parents("div.row"));
            }
        });

        $('#AddSymptomForm').submit(function () {
            var Data = $(this).serialize();
            var actUrl = '<?= $this->basePath(); ?>/researcher/studies/saveData';

            if ($(this).validate().form()) {
                showLoder('#Processing');
                $.ajax({
                    type: 'post',
                    url: actUrl,
                    data: Data,
                    success: function (msg) {
                        if (msg == 'false') {
                            document.getElementById("AddSymptomForm").reset();
                            $('span.select').remove();
                            $('select.select').each(function () {
                                if ($(this).next('span.select').length == '0') {
                                    var title = $(this).attr('title');
                                    if ($('option:selected', this).val() != '')
                                        title = $('option:selected', this).text();
                                    $(this)
                                            .css({'z-index': 10, 'opacity': 0, '-khtml-appearance': 'none'})
                                            .after('<span class="select">' + title + '</span>')
                                            .change(function () {

                                                val = $('option:selected', this).text();
                                                $(this).next().text(val);
                                            });
                                }
                            });

                        }else if (msg == 'exceed') {
                            alert('<?= $messageComb; ?>');                            
                        }else{
                            $('#msg_div').show();
                            $('#msg_div').html('');
                            $('#msg_div').html(' <span class="ui_icon success"></span> Sucessfully save');
                        }
                        setTimeout(function() {
                            $('#msg_div').fadeOut('slow');
                        }, 1500);
                        hideLoder('#Processing');
                    }
                });
            }

            return false;
        })
        
        $('#SymptomId option').click(function(){
            if($(this).parent().find('option:selected').length>1){
                if($(this).attr('class')=='Yes'){
                    $(this).parent().find('.No').prop('selected',false);
                }else{
                    $(this).parent().find('.Yes').prop('selected',false);
                }
                
            }
            
        })
    })
</script>

<?php
$form->prepare();
echo $this->form()->openTag($form);
$FormData['symptom_id']=!empty($FormData['symptom_id'])?$FormData['symptom_id']:array();
?>

<div class="formWrapperContainer fwcVarEdit">

  <div id="msg_div" class="successMsg" style="display: none;"></div>
    <div class="row clearfix">
        <label>Symptom Name :</label>
        <div class="select fld">
            
            <select name="symptom_id[]" style="width:400px; height:250px;" id="SymptomId" multiple="multiple">
            <?php if(!empty($Data['symp'])){
                foreach($Data['symp'] as $key=>$Data){
                    ?>
                <optgroup label="<?= $key;?>"> 
                <?php foreach($Data as $Key=>$Index){?>
                    <option <?php if(in_array($Key, $FormData['symptom_id'])){?>selected<?php }?> class="<?= $Index;?>" value="<?= $Key;?>"><?= $Index;?></option>
                <?php }?>
                </optgroup>
            <?php 
                }
            }?>
            </select>
            <div style="color: #FF8400">NOTE : Press CTRL for multiple Selection</div>
            <input type="hidden" name='set_id' value="<?= $set_id; ?>" id="SetId"/>
            <input type="hidden" name='pos' value="<?= $selPos; ?>" id="SetId"/>
            <input type="hidden" name='type_id' value="<?= $varSetDataArray[$selPos]; ?>" id="SetId"/>

        </div>
    </div>

    <div class="input_button">
        <input type="submit" value="Save" id="c_submit" class="submit_button" name="c_submit">
    </div>

</div>
</form>