<?php
/* * ***********************
 * PHTML: USE TO MANAGE THE LAYOUT FOR WEB DEVELOPMENT Caregiver section.
 * #COPYRIGHT: APPSTUDIOZ
 * @AUTHOR: Rabban Ahmad
 * CREATOR: 27/3/2015.
 * UPDATED: 27/3/2015
 *
 * @license   http://framework.zend.com/license/new-bsd New BSD License
 * *** */

use Zend\Session\Container;

$this->_sessionObj = new Container('Caregiver');
?>
<?php echo $this->doctype(); ?>
<html lang="en">

    <?php echo $this->headTitle($this->translate('Health-ePeople'))->setSeparator(' - ')->setAutoEscape(false); ?>
    <meta charset="utf-8">
    <?php
    echo $this->headMeta()
            ->appendName('viewport', 'width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
    ?>

    <!-- styles -->
    <?php
    if ($this->_sessionObj->isCaregiverlogin == 1) {
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/css/caregiver_layout.css')
                ->prependStylesheet($this->basePath() . '/css/individual_layout.css');
    } else {
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/css/individual_layout.css');
    }
    ?>
    <!-- Scripts -->
    <?php
    echo $this->headScript()
            ->appendFile($this->basePath() . '/js/jquery-1.10.1.min.js')
            ->appendFile($this->basePath() . '/js/jquery-ui.js')
            ->appendFile($this->basePath() . '/js/jquery.validate.js')
            ->appendFile($this->basePath() . '/js/jquery.jscroll.min.js')
            ->appendFile($this->basePath() . '/js/jquery-ui-timepicker-addon.js')
            ->appendFile($this->basePath() . '/owl-carousel/owl.carousel.js')
          //  ->appendFile($this->basePath() . '/js/model.js')
            ->appendFile($this->basePath() . '/js/functions.js')
            ->appendFile($this->basePath() . '/js/individualfunction.js')
            ->appendFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->appendFile($this->basePath() . '/js/placeholder.js', 'text/javascript', array('conditional' => 'lt IE 9',));
    ?>
    <!-- HEADER INCLUDE HERE-->

    <body>
        <?php $basename = basename($_SERVER["REQUEST_URI"]);
        $accActivate = substr($basename, 0, 14);
        ?>
        <?php echo $this->partial('header/caregiverheader'); ?>
        <?php if ($this->_sessionObj->isCaregiverlogin == 1 && $basename !== "cg-login" && $basename !== "cg-cgcongrates" && $basename != 'cg-cgbasicinfo' && $basename != 'cg-cgcontactinfo' && $basename != 'cg-cgprofileinfo' && $basename != 'cg-cgtempass' && $accActivate != 'activateacount' && $basename != 'individual-thankyou'): ?>
            <?php echo $this->partial('left-menu/caregiver-left-menu'); ?>
        <?php endif; ?>
        <!-- MAIN BODY INCLUDE HERE-->
        <?php echo $this->content; ?>
        <!-- HEADER INCLUDE HERE-->
        <?php echo $this->partial('footer/caregiverfooter'); ?>
        <?php echo $this->inlineScript(); ?>
<?php echo $this->inlineScript(); ?>
    </body>
</html>